<div style="padding: 0.5em;">
	<h2>Terms &amp; Conditions</h2>
<p>The entrant shall be deemed to accept and to agree to abide by the following terms and conditions ("Terms and Conditions") of the Toyota Ireland 'All Things To All People' (the "Competition"). Toyota Ireland, Killeen Road, Dublin 12 is the promoter (the "Promoter").</p>
<ol>	
	<li>Submission of an entry to the Competition (the "Entry") constitutes acceptance of these Terms and Conditions by you (the "Entrant").</li>
	<li>The Competition is located on the Competition website (the "Application") on <a target="_blank" href="http://allthings.toyota.ie">http://allthings.toyota.ie</a></li>
	<li>Entry is only open to Republic of Ireland residents during the time of the promotion or earlier.</li>
	<li>Entrants to the Competition must be 18 years old or over and resident in only the Republic of Ireland at the time of entering the Competition. Entry is not open to employees of the Promoter or Facebook, or either of their affiliate companies, their families, agents and anyone else connected with the Competition.</li>
	<li>Multiple entries per person are not permitted.</li>
	<li>To enter entrants must complete a data form.</li>
	<li>The Competition will launch on the 3rd November 2014 and the closing date for receipt of Entries is the 16th November, 2014 at 00:00. Any Entries received after this date will not be considered.</li>
	<li>The Promoter will accept no responsibility for late, lost or misdirected entries, howsoever caused or any technical errors in the transmission of the Application.</li>
	<li>The Promoter reserves the right to verify the validity of Entries and to, in its sole discretion, reject, or disqualify any Entrant who tampers with the Entry process or who submits an Entry that is not in accordance with these Terms and Conditions. Any attempt by any person to unfairly manipulate or influence the Competition will result in that Entry (and all subsequent Entries connected to that person) being disqualified.</li>
	<li>All Entries are the property of the Promoter. Entrants hereby assign to the Promoter any and all intellectual property rights in their Entries and waive all moral rights. Before submitting the Entry all necessary consents as applicable and required to permit the Promoter to use the content submitted in the Entry in the context of the Competition and its publicity should be obtained by the Entrant. Any intellectual property owned by the Promoter remains the exclusive property of the Promoter and the Entrant acknowledges that they have no right or licence to use same other than for the purpose of entering the Competition. All content submitted by the Entrant is deemed to be property of Toyota Ireland and the Entrant hereby grants Toyota Ireland permission to use as part of any and all marketing purposes including but not limited to television, online, outdoor and print media.</li>
	<li>Winners and prizes will be selected by a panel of judges on an indivdual and case by case basis. Total number of  prizes will amount to no more than &euro;3,100. </li>
	<li>The judging will be conducted at 16 Sir John Rogerson Quay, Dublin 2 after the promotion dates. Winners will be notified via email or phone before an announcement will be made on the Toyota Ireland Facebook page. All decisions made by the Promoter and Judges' are final. No correspondence will be entered into by the Promoter.</li>
	<li>Where a prize is not claimed within 48 hours of the prize winner being notified the Promoter/ judges' may choose an alternative winner.</li>
	<li>Prizes offered are as stated. No cash alternatives will be offered. The Promoter reserves the right to substitute any of the prizes mentioned for another prize of a similar value for any reason. The prize cannot be sold, auctioned or passed on by the winning entrant.</li>
	<li>The Promoter expressly reserves the right to amend or withdraw the Competition (including Entry or judging deadlines) in total or in part at any time in the event of any proven or suspected fraudulent misuse or manipulation of the online system used for the Competition or other significant technical, legal or other issues beyond the control of the Promoter. Notice of any such alterations will appear on the Promoter's Facebook page.</li>
	<li>If for any reason this Competition is not capable of running as planned (including but not limited to) infection by computer virus, bugs, tampering, unauthorised intervention, fraud, technical failures or any other causes beyond the control of the Promoter which corrupts or affect the administration security, fairness, integrity or proper conduct of this Competition, the Promoter reserves the right in its sole discretion to disqualify any individual who tampers with the entry process and/or to cancel, terminate, modify or suspend the competition.</li>
	<li>The Promoter is not responsible for any problems or technical malfunction of any telephone network or lines, computer on line systems, servers, or providers, computer equipment, software, technical problems or traffic congestion on the Internet or at any web site, or any combination thereof, (including but not limited to) any injury or damage to Entrants or any other person's computer, tablet, telephone or any other Internet enabled device related to or resulting from participation in or downloading any materials in connection with or related to this Competition.</li>
	<li>Any costs associated with accessing the official Toyota Ireland Facebook Page is the Entrant's responsibility and is dependent on the Internet service provider used and on the Facebook.com website functionality.</li>
	<li>The Promoter shall not be liable for any prize that has been lost, stolen, forged, damaged or tampered with in any way. Lost, stolen or misplaced prizes in the mail will not be replaced.</li>
	<li>The Promoter collects Entrants' personal information in order to conduct the Competition. If the information requested is not provided, the Entrant may not participate in the Competition. Entrant's personal data/ information will only be held for the purpose of selecting the winners and will not be used for any other purposes without their prior permission. All personal data/ information collected will be treated in accordance with the Toyota Ireland privacy statement: http://www.toyota.ie/privacy/</li>
	<li>The Promoter reserves the right to request winners to provide proof of age, identity and residency at the nominated prize delivery address. Identification considered suitable for verification is at the discretion of the Promoter.</li>
	<li>This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook. Entrants understand that they are providing their information to the Promoter and not to Facebook.</li>
	<li>By participating in the Competition you hereby release Facebook from all claims, liabilities, losses or damages incurred by you in connection with the Competition.</li>
	<li>Any questions, comments or complaints regarding the promotion must be directed to Toyota Ireland, Killeen Road, Dublin 12 .</li>
	<li>The Promoter or any affiliate company or agent do not accept any liability for any damage, loss or disappointment suffered by any person taking part or not being able to take part in the Competition nor any damage, loss or disappointment suffered in connection with this Competition or any aspect of the prizes including any use of them.</li>
	<li>The Promoter is not responsible, or liable to any third party, for the content or accuracy of any materials submitted or provided by an Entrant in connection with the Competition, The Promoter reserves the right to remove any material or posting made by an Entrant in connection with the Competition if, in our opinion, such material does not comply with these Terms and Conditions.</li>
	<li>The Competition appears on a "notice and take-down" basis. If you have any complaints or objections to material or content posted in relation to the Competition, or if you believe that material or content posted in relation to the Competition infringes any of your rights, please contact us immediately at Toyota Ireland, Killeen Road, Dublin 12, Ph. (01) 419 0222 and we will investigate the matter.</li>
	<li>Any failure by the Promoter to exercise or enforce any right or provision of these Terms and Conditions shall not constitute a waiver of such right or provision and shall not be deemed to be a waiver of any other term or condition hereunder, or a subsequent breach of such term or condition.</li>
	<li>The Competition and these Terms and Conditions will be governed by Irish law and any dispute will be determined by the exclusive jurisdiction of the Irish Courts.</li>
</ol>
<br />
<h2>Privacy Policy</h2>
<p>All personal data collected will be treated in accordance with the Toyota Ireland privacy policy.</p>
<p>You may view our full privacy policy here: <a href="http://www.toyota.ie/privacy/" target="_blank">http://www.toyota.ie/privacy/</a></p> 

</div>