<div class="clear"></div>
<div class="container_12 clearfix">
	{{#if title}}
	<div class="grid_12">
		<h5>{{{title}}}</h5>
	</div>
	{{/if}}
	<div class="grid_6 {{paragraphGridClass}}">
		{{#each sectionParagraphs.paragraphs}}
			{{{paragraph}}}
		{{/each}}
		<!--end of paragraphs-->
		<br/>
	</div>
	<div class="grid_6 aside">
		{{#each items}}
			{{#if downloads}}
				<div class="downloads">
					<h5><i class="icon icon-download-alt"></i> Downloads </h5>
					<ul class="list1">
						{{#each downloads}}
						<li>
							<i class="icon {{iconType}}"></i>
							<a href="https://www.toyota.ie/download/cms{{item.binary.url}}" >{{title}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
			{{/if}}
		{{/each}}
		<!--end of paragraphs-->
	</div>
</div>