{{#each items}}
<div class="greyBg toyota_cta">
	{{#if multimedia.binary.url}}
	<div class="cta_bg" style="">
		<img src="https://t1-cms-4.images.toyota-europe.com/toyotaone{{multimedia.binary.url}}" alt="cta background image"/>
	</div>
	{{/if}}
	<div class="buttonsBar container_12">
			{{#each ctas}}
			<?php $compName = strtolower("{{{componentName}}}"); 
				if(strpos($compName, "download brochure") !== false){
					?>
						<span class="SecContentContainer" data-contenttype="ajax" data-name="New Car" data-id="brochure">
							<a class="secContentTrigger uiBtn  redBtn  hasIcon smBtn" href="/ajax/forms" id="btbar_pane-brochure">
								<span>{{title}}</span> <i class="icon icon-chevron-right" data-icon=""></i>
							</a>
						</span>	
					<?php
				}elseif(strpos($compName, "car chapter") !== false){
					$model = str_replace("/models/","/pages/new-car-details/","{{{target}}}");
					?>
						<a href="<?php echo $model; ?>" class="uiBtn  redBtn  hasIcon smBtn">{{title}}<i class="icon icon-chevron-right"></i></a>
					<?php
				}else{
					?>
						<a href="{{target}}" class="uiBtn  redBtn  hasIcon smBtn" target="{{targetType}}">{{title}}<i class="icon icon-chevron-right"></i></a>
					<?php
				}
			?>
			{{/each}}
		</div>
</div>
{{/each}}