<?php

global $dealer;
$dealer = (isset($_GET["dealer"])) ? filter_input(INPUT_GET, 'dealer', FILTER_SANITIZE_SPECIAL_CHARS) : false;
$json_dealers = file_get_contents("{insecure_site_url}/api/dealer-list");
$dealer_list = json_decode($json_dealers);

?>
	
<select style="display:none;" id="dealer" name="00Nb0000002AKok" title="Dealer Lookup" data-validation="select">
	
	<?php
		ee();
				$guid=$this->EE->config->_global_vars['dealer_id'];
				echo $guid ?>

	<?php foreach ($dealer_list as $dealer) {
		//TODO this fields are not real 'not real name title and code, chack in json feed to fin out them.
		$name = $dealer->Name;
		$code = $dealer->dealerId;
		$email=$dealer->Service_department_email;

		if ($code == $guid){
		echo "<option value='$email'>$name</option>";
		}
		
	}
	?>
</select>