{{#each social_links}}
	{{#if facebook}}
    <a class="social-button social-button-facebook" href="{{facebook}}" target="_blank">
<!--        <i class="icon icon-facebook"></i>-->
    </a>
    {{/if}}
    {{#if twitter}}
    <a class="social-button social-button-twitter" href="{{twitter}}" target="_blank">
<!--        <i class="icon icon-twitter"></i>-->
    </a>
    {{/if}}
    {{#if youtube}}
    <a class="social-button social-button-youtube" href="{{youtube}}" target="_blank">
<!--        <i class="icon icon-youtube"></i>-->
    </a>
    {{/if}}
	{{#if linkedin}}
	<a class="social-button social-button-linkedin" href="{{linkedin}}" target="_blank">
<!--		<i class="icon ">in</i>-->
	</a>
    {{/if}}
    {{#if google}}
    <a class="social-button social-button-google" href="{{google}}" target="_blank">
<!--        <i class="icon icon-google"></i>-->
    </a>
    {{/if}}
{{/each}}
