<!--  ################## used car search box : say hello #################### -->
<?php

$local_url =  "http://local.financetoyota.ie/calculator.php";
$dev_ulr = "//financetest.toyota.ie/calculator.php";
$prod_ur = "//finance.toyota.ie/calculator.php";

//production by default
$final_url = $prod_ur;


//localhost
$localhost = array(
    '127.0.0.1',
    '::1'
);
if(in_array($_SERVER['REMOTE_ADDR'], $localhost)){
    $final_url = $local_url;
}else if($_SERVER['HTTP_HOST'] == "developmenttest.toyota.ie" || $_SERVER['HTTP_HOST'] == "assuredusedcarstest.toyota.ie"){
    $final_url = $dev_ulr;
}


if("{{Price}}" != 'POA' && "{{Price}}" != 'null'){
    define("FINANCE_BOX",true);
?>
<div class="usedcFinanceBox" id="usedcFinanceBox"
     data-dealer-id={dealer_id} data-base-ulr="<?= $final_url;?>" data-car-id="{{carID}}">
    <div class="container_12 clearfix">
        <div class="grid_12 center-text section-title">
            <h3 class="heading1">Finance Calculator </h3>
        </div>
    </div>
    <div class="container_12">
        <div class="grid_3">
            <div class="input_g has_icon">
                <h4 class="title1">Car Price</h4>
                <input type="text" name="used_f_car_price"
                       value="<?php echo number_format(floatval('{{Price}}'), 0, '.', ','); ?>" disabled
                       id="used_f_car_price" data-price="{{Price}}">
                <span class="input_icon">&euro;</span>
            </div>
        </div>
        <div class="grid_3">
            <div class="input_g has_icon">
                <?php
                $price = floatval('{{Price}}');
                $min_d = round($price * 0.2);
                $max_d = round($price * 0.8);
                ?>
                <h4 class="title1">
                    <span class="f_info_wrapper">
                        Deposit/Trade in &nbsp;
                         <span class="f_info">
                        Minimum initial deposit € <?= number_format($min_d, 0, '.', ',') ?>.<br/> Maximum initial deposit €<?= number_format($max_d, 0, '.', ',') ?>
                    </span>
                    </span>
                </h4>
                <input type="text" data-max_deposit=<?= $max_d ?> data-min_deposit=<?= $min_d ?> name="used_f_car_deposit"
                       value=<?= $min_d ?> id="used_f_car_deposit">
                <span class="input_icon">&euro;</span>
            </div>
        </div>
        <div class="grid_3 searchbox_action fw clearfix">
            <a href="" class="uiBtn redBtn hasIcon hasIconRight calculate_finance">
                <span>Calculate Finance</span>
                <i class="icon icon-chevron-right"></i>
            </a>
        </div>
    </div>


    <div class="container_12">
        <div class="grid_12">
            <div class="line_row"></div>
            <div class="temrs_wrapper">
                <p class="terms_title">Amount to Finance <strong><span id="finance_amount"></span></strong></p>
                <table class="terms_table">
                    <thead>
                    <tr>
                        <th class="t_h_desc">&nbsp;</th>
                        <th class="t_h_month">Monthly</th>
                        <th class="t_h_week">Weekly</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="m24">
                        <td>Over 24 months</td>
                        <td class="t_m_value"></td>
                        <td class="t_w_value"></td>
                    </tr>
                    <tr id="m36">
                        <td>Over 36 months</td>
                        <td class="t_m_value"></td>
                        <td class="t_w_value"></td>
                    </tr>
                    <tr id="m48">
                        <td>Over 48 months</td>
                        <td class="t_m_value"></td>
                        <td class="t_w_value"></td>
                    </tr>
                    <tr id="m60">
                        <td>Over 60 months</td>
                        <td class="t_m_value"></td>
                        <td class="t_w_value"></td>
                    </tr>
                    </tbody>
                </table>
                <p class="terms_legal">This information is provided for illustrative purposes only and does not constitute a contract.</p>
            </div>
        </div>
    </div>

<!--    <div class="container_12 sf_cta">-->
<!--        <div class="grid_3">-->
<!--            --><?php
//            $cname = "{{[Contact Name]}}";
//            $dname = html_entity_decode($cname);
//            $cnumber = "{{ContactNumber}}";
//            $cemail = "{{ContactEmail}}";
//
//            //echo $cname;
//            //echo $cnumber;
//            //echo $cemail;
//
//            if (!($cname != '' && $cnumber != '')) {
//
//                $cname = "";
//                $cnumber = "{{../GenericSettings.[0].dealer_contact_number}}";
//                $cemail = "{{../GenericSettings.[0].dealer_contact_email}}";
//            }
//            ?>
<!--            <div class="call-us-btn contact_button">-->
<!--                <a href="tel:--><?php //echo $cnumber; ?><!--" id="" class="uiBtn  redBtn  hasIcon  hasIconRight fwBtn">-->
<!--                    <span class="text"> <span class="dealer">Call Us</span><span-->
<!--                                class="non-dealer">Call --><?//= $dname ?><!--</span></span>-->
<!--                    <span class="iconBG right">-->
<!--                                <i class="icon icon-phone"></i>-->
<!--                            </span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="contact-us-btn button-dealer contact_button SecContentContainer" data-contenttype="ajax"-->
<!--                 data-name="Home Page" data-id="contactus2">-->
<!--                <a href="/ajax/forms?carID={{carID}}" id="btbar_pane-contact"-->
<!--                   class="secContentTrigger uiBtn  fwBtn redBtn  hasIcon hasIconRight">Contact Us <i-->
<!--                            class="icon icon-chevron-right"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


</div>
<?php
}
?>
