<script type="text/javascript">
	window.t1DataLayer = {
		page: {
			contentgroup: "A_service",
			sectionlv1: "service_and_accessories",
			sectionlv2: "Toyota Service",
			category: "tools",
			name: "Toyota Service",
			workflowname: "book-service",
			workflowstep: "1",
			workflowconversion: "0"
		},
		userinfo: {
			status: "(not set)",
			platform: "(not set)"
		},
		event: {
			eventclass: "workflowevent",
			category: "tools",
			componentName: "Toyota Service",
			action: "form-workflow",
			value: "booking-form",
			workflowname: "book-service",
			workflowstep: "3",
			workflowconversion: "0"
		}
	};
	$(window).trigger("workflowevent");
</script>

<div class="form_container">
	<form action="/ajax/formsubmit?action=bookaservice" method="POST" id="bookserviceform" class="contactform">
		<input type="hidden" name="oid"				id="oid"					value="00Db0000000HWqf">
		
		<input type="hidden" value="012b0000000aZax" name="recordType">
		<input type="hidden" value="Web Customer Service" name="subject" id="subject">
		
		<input type="hidden" name="XID" value="{XID_HASH}" />
		<input type="hidden" name="id" value="" />
		<input type="hidden" name="user_services_price" value="" />
		<input type="hidden" name="user_vehicle_info" value="" />
		<textarea  name="user_selected_products" style="display:none;visibility:hidden;opacity:0;color:transparent;height:0;border:none;"></textarea>
		<?php
			$inputs=array('test_emails','emails','test_email','emailer');
			$rand_keys = array_rand($inputs, 2);
			echo "<input type='email' name='".$inputs[$rand_keys[0]]."' />";
			echo "<input type='email' name='".$inputs[$rand_keys[1]]."' />";
		?>
		
		<div class="container_12">
			<div class="grid_12 header">
					<h2>Book a Service</h2>
					<span class="intro">Please fill in your details below. Please note bookings are not confirmed until you receive notification from us. </span>
			</div>
		</div>


		<div class="container_12 ">
			<div class="grid_6">
				<h4 class="title1">Preferred Date </h4>
				<input  id="preferred_date1"  name="preferred_date1" class="datepicker" type="text" placeholder="Day/Month/Year" data-validation="date"  data-validation-format="dd/mm/yyyy" readonly/>
			</div>
<!--			<div class="grid_6">
				<h4 class="title1">Preferred Date 2 </h4>
				<input  id="preferred_date2"  name="preferred_date2"  class="datepicker" type="text" placeholder="Month/Day/Year" data-validation="date" data-validation-format="mm/dd/yyyy" readonly/>
			</div>-->
		</div>
		<div class="container_12 ">
			<div class="grid_6">
				<h4 class="title1">Subject </h4>
				<input  id="subject"  name="subject" type="text" placeholder="" value="Book a Toyota service" disabled="true"/>
			</div>
			<div class="grid_6">
					<h4 class="title1">Select Your Local Dealer/Authorised Repairer &nbsp;&nbsp;</h4>
					<div class="select dealers">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						{embed="components/dealer_service_email_list"}

					</div>
				</div>
		</div>
		
		<div class="container_12">
			<div class="grid_12">
				<h4 class="title1">Comment </h4>
				<textarea id="comments"  name="comments"  placeholder="leave any comment here."></textarea>
			</div>
		</div>
		
		
		<div class="container_12 extraspace" id="sDetails">
			<div class="grid_12">
				<h4 class="title1">Your service details </h4>
				<div id="tableCopy"></div>
			</div>
		</div>

		{embed="services_toyota:components/contactdetails"}
		{embed="services_toyota:components/dataprotection"}
		<div class="container_12 extraspace">
			<div class="grid_6">
				<div class="captcha_container" >
					<?php
					global $recaptchaToken;
					$sessionId = uniqid('recaptcha');
					$secureToken = $recaptchaToken->secureToken($sessionId);
					?>
					<div class="g-recaptcha" data-sitekey="6LdFzxcTAAAAAKSDS13NbH3EZi7_3cM8eMTTeXaZ" data-stoken="<?php echo $secureToken ?>"></div>
					<input type="checkbox" name="hiddencaptcha" data-validation-error-msg="Please check this box" class="hiddencaptcha" data-validation="required">
				</div>
				<input type="submit" class="uiBtn redBtn" value="Book">
			</div>
			<div class="grid_6 legal">
				<p><strong>* Required Fields</strong></p><br>
				<p><i class="icon icon-info-sign"></i>&nbsp; The information that you submit will not be used or distributed for any reason other than to fulfill your request.</p>
			</div>
		</div>
		
	</form>
	<div class="container_12 form_thanks">
		<div class="grid_12 header">
			<h2 style="margin-bottom:1em">Thank you for requesting a service at a Toyota Dealer/Authorised Repairer.</h2>
			<span class="intro">You'll be contacted back as soon as possible.</span>
		</div>
	</div>
</div>



