<footer>
	<div class="footer-container isoForceHardwardCalc">	
		<div class="footer">
			<div class="container_12 force">
				<div class="row">
					<div class="grid_6">
						<ul>
							{exp:channel:entries channel="disclaimer|privacy|contact_us" dynamic="no"}
							<li class="link"><a href="/pages/{url_title}">{title}</a></li>
							{/exp:channel:entries}
						</ul>
						<div class="clear"></div>
					</div>
					<div class="grid_6">
						<ul>
							<li class="link"><a class="hasIcon" target="_blank" href="/ajax/terms_and_conditions"><span>Terms &amp; conditions</span><i class="icon icon-chevron-right"></i></a></li>
							<li class="link"><a class="hasIcon return_menu" href="#"><span>Back to top</span><i class="icon icon-chevron-up"></i></a></li>
							<li class="link"><a class="hasIcon" href="http://www.toyota.ie"><span>Back to Toyota.ie</span><i class="icon icon-chevron-right"></i></a></li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="row">
					<div class="grid_12">
						<p class="copyright">Copyright &copy; Toyota Ireland</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="row">

					<div class="grid_3 social-buttons">
						{exp:json_feed:render_html src="http://development.toyota.ie/api/generic_settings" template="components/social_links" section="social_links"}
					</div>
					<div class="grid_9 hidden_before_l">
						<ul class="buttons">
							<li class="button">
								<a class="uiBtn greyBtn hasIcon hasIconRight" href="http://finance.toyota.ie" target='_blank'>
									<span>Toyota&nbsp;Flex&nbsp;Finance</span>&nbsp;<i class="icon icon-car2"></i>
								</a>
							</li>
							<!-- <li class="button">
								<a class="uiBtn greyBtn hasIcon hasIconRight" href="#" target='_blank'>
									<span>Price&nbsp;List</span>&nbsp;<i class="icon icon-file-alt"></i>
								</a>
							</li> -->
							<li class="button">
								<a class="uiBtn greyBtn hasIcon hasIconRight" href="http://www.toyotatlc.ie/login" target='_blank'>
									<span>Toyota&nbsp;Loyalty&nbsp;Club</span>&nbsp;<i class="icon icon-star"></i>
								</a>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
</div>
<script>
	hash = window.location.hash;
</script>
<script src="http://development.toyota.ie/inc/js/libs.min.js"></script>
<script src="http://development.toyota.ie/inc/js/main.min.js"></script>
<script src="assets/js/allthings.main.min.js"></script>
<!--[if lt IE 9]> <script src="http://dev.toyota.ie/inc/js/ie8.js"></script> <![endif]-->
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "beeac92e-6cdb-46cc-9d56-876fd7dab5d1", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</div>
</body>
</html>