<div id="home">
    <div class="section">
    	<div id="creator">
    		<div id="image_box_container">
	    		<div id="image_box">
	    			<div id="filter"></div>
	    			<div id="filter_outline"></div>
	    			<div id="containment"><img src="" alt="Editable image" /></div>
	    			<div id="toggleOverlay" class="uiBtn greyBtn toggle smBtn"><i class="icon icon-picture"></i><span>Toggle overlay</span></div>
	    		</div>
	    	</div>
    		<div id="controls">
    			<div id="stepLoading" style="text-align: center; padding-top: 2em;">
    				<img src="assets/images/big-loader.gif" alt="Loading... Please wait.">
    			</div>
    			<!-- step1 -->
    			<div id="step1" class="step">
		    		<h2>Who are you nominating?</h2>
		    		<br>
		    		<div class="row">
		                <label for="nominee_name"><strong>Name of nominee</strong><i class="icon icon-user"></i></label>
		                <div class="input text"><input type="text" value="" id="nominee_name" name="nominee_name" /></div>
		                <div class="clear"></div>
		            </div>
		    		<div class="row">
		    			<label for="nominee_why"><strong>Tell us why you're nominating this person</strong><i class="icon icon-star"></i></label>
					    <div class="input text"><textarea name="nominee_why" id="nominee_why" cols="30" rows="10"></textarea></div>
					    <div id="char-count">(Characters left: <span class="amount">500</span>)</div>
					</div>
					<div class="row">
						<label for="nominee_why"><strong>Upload a photo of your nominee</strong><i class="icon icon-picture"></i></label>
						<div id="uploadphoto" class="uiBtn greyBtn smBtn">Upload&nbsp;photo</div>
		    			<div class="clear"></div>
		    			<div class="input text">
		    				<input type="hidden" name="uploaded-image" id="uploaded-image" value="">
		    				<div class="error">You need to upload an image to continue.</div>
		    			</div>
		    			<div id="photo-preview-box"></div>
					</div>
					<br>
					<div class="row">
		                <div class="uiBtn redBtn hasIcon nextStepLink" rel="#step2"><span class="text">Nominate</span><i class="icon icon-chevron-right"></i></div>
		                <span class="next-info">(Next: Enter your details)</span>
		                <div class="clear"></div>
		            </div>
				</div>
				<!-- step2 -->
				<div id="step2" class="step">
					<h2>About you</h2>
					<p class="intro">
		    			Tell us a bit about yourself. We will need these details to contact you if your nominee is selected as a winner!
		    		</p>
		    		<br>
		            <div class="row">
		                <label for="user_title"><strong>Title</strong><i class="icon icon-user"></i></label>
		                <div class="input text">
		                    <select id="user_title">
		                        <option value="">Please choose:</option>
		                        <option value="Dr.">Dr.</option>
		                        <option value="Fr">Fr</option>
		                        <option value="Mr.">Mr.</option>
		                        <option value="Ms.">Ms.</option>
		                        <option value="Mrs.">Mrs.</option>
		                        <option value="Rev">Rev</option>
		                        <option value="Sr">Sr</option>
		                    </select>
		                    <div class="error">Please choose a title.</div>
		                </div>
		                <div class="clear"></div>
		            </div>
		            <div class="row">
		                <label for="user_name"><strong>Name</strong><i class="icon icon-user"></i></label><div class="input text"><input type="text" value="" id="user_name" name="user_name" /></div>
		                <div class="clear"></div>
		            </div>
		            <div class="row">
		                <label for="user_email"><strong>E-mail</strong><i class="icon icon-envelope-alt"></i></label><div class="input text email"><input type="text" value="" id="user_email" name="user_email" /></div>
		                <div class="clear"></div>
		            </div>
		            <div class="row">
		                <label for="user_phone"><strong>Phone</strong><i class="icon icon-phone"></i></label><div class="input text"><input type="text" value="" id="user_phone" name="user_phone" /></div>
		                <div class="clear"></div>
		            </div>
		            <div class="row">
		                <div class="input checkbox"><i class="icon icon-un_check"></i><input type="checkbox" value="1" id="user_tandcs" name="user_tandcs" /><p>I agree to <a target="_blank" style="text-decoration: underline;" href="http://allthings.toyota.ie/ajax/terms_and_conditions">Terms &amp; Conditions</a></p>
							<div class="error">You must accept the terms and conditions to continue.</div>
		                </div>
		                <div class="clear"></div>
		            </div>
		            <br>
		            <div class="row">
		            	<div class="uiBtn greyBtn hasIcon backStepLink" rel="#step1"><i class="icon icon-chevron-left"></i><span class="text">Back</span></div>&nbsp;
		                <div class="uiBtn redBtn hasIcon" rel="#step3" id="completeNomination"><span class="text">Complete nomination</span><span class="loader"><img src="assets/images/loader-grey.gif" alt="Loading..."></span><i class="icon icon-chevron-right"></i></div>
		                <div class="clear"></div>
		            </div>
		        </div>
		        <div id="step3" class="step valid">
    				<h2>Thank you for your nomination!</h2>
    				<p>All you need to do now is tell them – use our little app below to design a badge, put it on their photo and let them know why they’re All Things to you.</p>
    				<br>
    				<div class="row">
    					<div class="uiBtn redBtn hasIcon nextStepLink" rel="#step4,#image_box"><span class="text">Create a badge</span><i class="icon icon-chevron-right"></i></div>
    				</div>
    			</div>
    			<!-- stepUpload -->
    			<div id="stepUpload" class="step">
					<h2>Upload a photo of your nominee</h2>
					<div class="row">
						<div id="uploadphoto2" class="uiBtn greyBtn smBtn">Upload&nbsp;photo</div>
		    			<div class="clear"></div>
		    			<div class="input text">
		    				<input type="hidden" name="uploaded-image2" id="uploaded-image2" value="">
		    				<div class="error">You need to upload an image to continue.</div>
		    			</div>
		    			<div id="photo-preview-box2"></div>
					</div>
					<div class="row">
		            	<div class="uiBtn greyBtn hasIcon backStepLink" rel="#step5"><i class="icon icon-chevron-left"></i><span class="text">Back</span></div>&nbsp;
		                <div class="uiBtn redBtn hasIcon nextStepLink" rel="#step4"><span class="text">Choose photo</span><i class="icon icon-chevron-right"></i></div>
		                <span class="next-info">(Next: Choose your badge)</span>
		                <div class="clear"></div>
		            </div>
    			</div>
    			<!-- step3 -->
    			<div id="step4" class="step">
    				<h2>Choose the badge for your nominee</h2>
	    			<div class="uiBtn greyBtn hasIcon smBtn prev"><i class="icon icon-chevron-left"></i></div>&nbsp;
	    			<div class="uiBtn greyBtn hasIcon smBtn next"><i class="icon icon-chevron-right"></i></div>
		    		<div class="clear"></div>
		    		<div class="error">The badges weren't loaded correctly.</div>
		    		<br>
		    		<div class="row">
		                <div id="addControls" class="uiBtn redBtn hasIcon nextStepLink" rel="#step5"><span class="text">Select badge</span><i class="icon icon-chevron-right"></i></div>
		                <span class="next-info">(Next: Position your photo)</span>
		                <div class="clear"></div>
		            </div>
    			</div>

    			<div id="step5" class="step valid">
    				<h2>Position your photo</h2>
	    			<div id="repositioner" class="">
	    				<div class="uiBtn greyBtn hasIcon smBtn move-up"><i class="icon icon-chevron-up"></i></div>&nbsp;
	    				<div class="uiBtn greyBtn hasIcon smBtn move-down"><i class="icon icon-chevron-down"></i></div>
	    				<div class="uiBtn greyBtn hasIcon smBtn move-left"><i class="icon icon-chevron-left"></i></div>&nbsp;
	    				<div class="uiBtn greyBtn hasIcon smBtn move-right"><i class="icon icon-chevron-right"></i></div>
	    			</div>
	    			<div id="resizer" rel="1">
	    				<div class="uiBtn greyBtn hasIcon smBtn zoom-in"><i class="icon icon-plus"></i></div>&nbsp;
	    				<div class="uiBtn greyBtn hasIcon smBtn zoom-out"><i class="icon icon-minus"></i></div>
		            </div>
		            <br>
		            <!-- <p><a href="Javascript:void(0);" class="nextStepLink" rel="#stepUpload"><span class="text">Upload a different photo</span>&nbsp;<i class="icon icon-chevron-right"></i></a></p>
		            <br> -->
		            <div class="row">
		            	<div class="uiBtn greyBtn hasIcon backStepLink" rel="#step4"><i class="icon icon-chevron-left"></i><span class="text">Back</span></div>&nbsp;
		                <div id="createImage" class="uiBtn redBtn hasIcon"><span class="text">Create image</span><span class="loader"><img src="assets/images/loader-grey.gif" alt="Loading..."></span><i class="icon icon-chevron-right"></i></div>
		                <span class="next-info">(Next: Share your image)</span>
		                <div class="clear"></div>
		            </div>
    			</div>
    			
    			<div id="step6" class="step">
    				<div id="before">
						<h2>Share</h2>
						<p class="intro">Why not share your image and tell everywho who you have nominated!</p>
						<div id="message" class="row">
						    <textarea name="share_message" id="share_message" cols="30" rows="10" placeholder="I have nominated someone for the Toyota ‪#AllThingsToAllPeople awards!"></textarea>
						    <div id="tagging">
						    	<div id="enableTagging" class="uiBtn greyBtn smBtn"><span>Tag your Facebook friends</span></div>&nbsp; <span class="next-info">(Requires Facebook permissions)</span>
						    </div>
						</div>
					</div>
					<div id="fb-share-success" class="success">
						<h2>Success!</h2>
						<p>Your image has been posted to your Facebook wall! Remember you can also Tweet your picture by clicking the 'Tweet' button below.</p>
						<br>
					</div>
					<div id="facebook-share" class="uiBtn redBtn hasIcon"><i class="icon icon-facebook"></i><span class="text">Post to wall</span><span class="loader"><img src="assets/images/loader-grey.gif" alt="Loading..."></span></div>
	    			<div id="twitter-share" class="uiBtn redBtn hasIcon"><i class="icon icon-twitter"></i><span>Tweet</span></div>
    			</div>
    		</div>
    		<div class="clear"></div>
    	</div>
    </div>
</div>