<div class="row" id="search-container">
    <div class="input text"><input type="text" value="Enter a name..." id="search" name="search" class="clearfield" /><i class="icon icon-search"></i><div id="search-info"></div></div>
    <div class="clear"></div>
</div>