<div class="social-tools-section">
    <div class="container_12 clearfix">
        <div class="grid_12">
        	<h3 style="margin-bottom: 0.6em;">If you've spotted your special person in the gallery, share it with&nbsp;them!</h3>
            <ul class="social-tools-list">
                <li>
					<span href="#social" class="uiBtn redBtn share">
						Share&nbsp;<i class="icon icon-share-alt share-icon"></i>
						<span class="social_box_wrapper">
							<span class="social-box">
								<span class='st_facebook_large' displayText='Facebook'></span>
								<span class='st_twitter_large' displayText='Tweet'></span>
								<span class='st_linkedin_large' displayText='LinkedIn'></span>
								<span class='st_googleplus_large' displayText='Google +'></span>
							</span>
						</span>
					</span>
				</li>
                <li>
					<span href="#social" class="uiBtn redBtn share">
						<span class="social_box_wrapper like">
							<span class="social-box">
								<div class="fb-like" id="fbLike"  data-href="" data-width="150px" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
							</span>
						</span>
						Like&nbsp;<i class="icon icon-thumbs-up share-icon"></i>
					</span>
					<script>document.getElementById("fbLike").setAttribute("data-href", window.location.href+'#{embed:internal_link}');</script>
				</li>
            </ul>
        </div>
    </div>
</div>