<div class="nav-content">
    <nav id="main_menu">
        <div class="container_12 navigation-menu clearfix">
            <!-- <ul class="navigation-links grid_6">
                <li class="navigation-link">
                    <a href="#action-gfy">
                        <div class="padding">
                            <div class="link">Pick your challenge</div>
                        </div>
                    </a>
                </li>
                <li class="navigation-link">
                    <a href="#your-challenge">
                        <div class="padding">
                            <div class="link">How to enter</div>
                        </div>
                    </a>
                </li>
                <li class="navigation-link">
                    <a href="#prizes">
                        <div class="padding">
                            <div class="link">Prizes</div>
                        </div>
                    </a>
                </li>
                <li class="navigation-link">
                    <a href="#latest-entries">
                        <div class="padding">
                            <div class="link">Latest entries</div>
                        </div>
                    </a>
                </li>
                <li class="navigation-link">
                    <a href="#about-the-aygo">
                        <div class="padding">
                            <div class="link">About</div>
                        </div>
                    </a>
                </li>
            </ul>
            <div style="clear: both; margin: 1em 0; height:1px; line-height:1px; background: rgba(255,255,255,0.15);">&nbsp;</div>
            <div class="clear"></div> -->
            <ul class="navigation-links grid_6">
                <li class=" navigation-link">
                    <a href="http://www.toyota.ie">
                        <div class="padding">
                            <div class="link">Back to Toyota.ie &raquo;</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="clear"></div>
</div>
<script type="text/javascript"> 
    // Secondary Content bindings
    $('#main_menu .SecContentContainer').each(function() {
        $(this).SecondaryContent({
            "sectionIDs": $(this).data("id").split("/"),
            "mode": $(this).data("contenttype"),
            "cGroupName": $(this).data("name"),
            "translations": TranslationManager.getLocalTranslations()
        });
    });
</script>
