<!--
    Name: Content table
    ID: c_t1_004
    URL: http://toyota-stage.amaze.com/html/components/tier1/contentTable.html
-->




<div class=" content-block body-content clearfix">
	<table class="content-table">
		<caption class="hidden">Car price list</caption>
		<thead>
			<tr>
				<th style="width:50%" data-sorttype="string" class="active sort-link">Motorisierung <i data-icon="&#xf107;" class="icon icon-angle-down"></i></th>
				<th data-sorttype="string" class="sort-link">Ausstattung <i data-icon="&#xf105;" class="icon icon-angle-right"></i></th>
				<th data-sorttype="int" class="sort-link">Preis <i data-icon="&#xf105;" class="icon icon-angle-right"></i></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Hybrid (Elektro- und Verbrennungsmotor) stufenloses Getriebe <br />
					Verbrauch kombiniert: 3.9 l/100 km <br />
					CO2-Emission, kombiniert: 91 g/km
				</td>
				<td><a href="#car">Life Plus</a></td>
				<td>23.250,00 &#8364;</td>
			</tr>
			<tr>
				<td>Hybrid (Elektro- und Verbrennungsmotor) stufenloses Getriebe <br />
					Verbrauch kombiniert: 3.9 l/100 km <br />
					CO2-Emission, kombiniert: 91 g/km
				</td>
				<td><a href="#car">Executive</a></td>
				<td>25.500,00 &#8364;</td>
			</tr>
			<tr>
				<td>Hybrid (Elektro- und Verbrennungsmotor) stufenloses Getriebe <br />
					Verbrauch kombiniert: 3.9 l/100 km <br />
					CO2-Emission, kombiniert: 91 g/km
				</td>
				<td><a href="#car">Life</a></td>
				<td>22.950,00 &#8364;</td>
			</tr>
			<tr>
				<td>2,0-l-D-4D 6-Gang Schaltgetriebe <br />
					Verbrauch kombiniert: 4.3 l/100 km <br />
					CO2-Emission, kombiniert: 112 g/km
				</td>
				<td><a href="#car">Life</a></td>
				<td>23.150,00 &#8364;</td>
			</tr>
			<tr>
				<td>2,0-l-D-4D 6-Gang Schaltgetriebe <br />
					Verbrauch kombiniert: 4.3 l/100 km <br />
					CO2-Emission, kombiniert: 112 g/km
				</td>
				<td><a href="#car">Life Plus</a></td>
				<td>23.450,00 &#8364;</td>
			</tr>
			<tr>
				<td>2,0-l-D-4D 6-Gang Schaltgetriebe <br />
					Verbrauch kombiniert: 4.3 l/100 km <br />
					CO2-Emission, kombiniert: 112 g/km
				</td>
				<td><a href="#car">Executive</a></td>
				<td>25.700,00 &#8364;</td>
			</tr>
		</tbody>
	</table>
</div>
<h1 class="container_12">
	table 2
</h1>
<div class="text-content">
	<table border="1" cellpadding="1" cellspacing="1" style="width: 100%;" summary="this is a table of elements" class="content-table">
		<caption>A table of elements</caption>
		<tbody>
			<tr>
				<td>Table cell 1</td>
				<td>Salvo made a table that resizes as you are typing</td>
			</tr>
			<tr>
				<td>mgghkjjk</td>
				<td>ghjgkhjkklhj</td>
			</tr>
		</tbody>
	</table>
</div>


