<?php
header('Access-Control-Allow-Origin: *');


require_once (APPPATH."third_party/recaptcha/ReCaptchaToken.php");
global $recaptchaToken;
$config = array('site_key' => '6LdFzxcTAAAAAKSDS13NbH3EZi7_3cM8eMTTeXaZ', 'site_secret' => '6LdFzxcTAAAAAK53_n84itPQM-x_9AoKQh9K1jCH');
$recaptchaToken = new \ReCaptchaSecureToken\ReCaptchaToken($config);


?>
{header_auc_lexus}
<header class="header_lexus" id="header_lexus">
	<div class="container_12">
		<div class="grid_12">
			<img class="lex_logo" alt="Lexus" src="/assets/images/Lexus-logo.png">

			<div class="lex_links"><a href="http://www.lexus.ie/" target="_blank" class="menu_link"><i
							class="icon icon-chevron-right"></i> Visit Lexus.ie</a></div>
		</div>
	</div>
</header>


<?php
$currentTab = (isset($_GET["tab"])) ? $_GET["tab"] : "pane-contact";
$form = (isset($_GET["form"])) ? $_GET["form"] : false;

global $dealer, $model;
if (isset($_GET["model"]))
	$model = $_GET["model"];
if (isset($_GET["dealer"]))
	$dealer = $_GET["dealer"];

if (!$form) {
	?>
	<nav class="toyota-tabs-select container form_nav">
		<div class="container_12 clearfix">
			<div class="grid_12">
				<span class="form_nav_item tabtrigger"  data-tab="pane-contact-tab">Contact us</span>
				<span class="form_nav_item tabtrigger"  data-tab="pane-brochure-tab">Request a brochure</span>
				<span class="form_nav_item tabtrigger"  data-tab="pane-test-drive-tab">Arrange a test drive</span>
				<span class="form_nav_item tabtrigger"  data-tab="pane-bookaservice-tab">Request a service</span>
				<span class="form_nav_item tabtrigger"  data-tab="pane-newsletter-tab">Newsletter Subscription</span>
			</div>
		</div>
	</nav>
	<div class="lexus_form_wrapper" id="form_tabs" >
		<div class="tabContent" id="pane-test-drive-tab">
			{embed="forms/bookatestdrive"}
		</div>
		<div class="tabContent" id="pane-contact-tab">
			{embed="forms/contactus"}
		</div>
		<div class="tabContent" id="pane-brochure-tab">
			{embed="forms/brochure"}
		</div>
		<div class="tabContent" id="pane-bookaservice-tab">
			{embed="forms/bookaservice"}
		</div>
		<div class="tabContent" id="pane-newsletter-tab">
			{embed="forms/newsletter"}
		</div>
		<div class="tabContent" id="pane-auris2015-tab">
			{embed="forms/brochure"}
		</div>
	</div>
	<?php
} else {
	?>
	<div class="padding-top-large lexus_form_wrapper">
		{embed="forms/<?php echo $form; ?>"}
	</div>
	<?php
}
?>
{footer_auc_lexus}
<script>
	var inputs = ['test_emails', 'emails', 'test_email', 'emailer'];

	for (k = 0; k < inputs.length; k++) {
		var test_input = document.getElementsByName(inputs[k]);

		var i;
		for (i = 0; i < test_input.length; i++) {
			test_input[i].setAttribute("style", "display:none;");
		}
	}

</script>
<script src="/assets/js/libs.js"></script>
<script src="/assets/js/main.js"></script>
<script type='text/javascript'>
	$(function () {
		//set a fixed height so page doesn't change after show thankyou page
		$(".lexus_form_wrapper").height($(".lexus_form_wrapper").outerHeight());


		$(".form_container input[data-validation]").each(function (index) {
			var $input = $(this);
			var $parent = $input.parent();
			var $title = $parent.find(".title1");
			var icon = $title.find("i").detach();
			$title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
			$title.append(icon);
			//$title.prepend("<span class='requiredField'>* </span>");
		});
		$(".form_container .select").each(function (index) {
			var $select = $(this);
			if ($select.find("select[data-validation]").length) {
				var $parent = $select.parent();
				var $title = $parent.find(".title1");
				var icon = $title.find(">*").detach();
				$title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
				$title.append(icon);
			}
		});

		var select = $('#bookserviceform select[id=model]').parent().html();
		var input = '<div id="model_input"><input  id="model"  name="' + $('select[id=model]').attr('name') + '" type="text" placeholder=""/></div>';

		$('select[name=make]').change(function () {

			if ($(this).find(':selected').val() !== 'Toyota') {
				$('#bookserviceform select[id=model]').parent().replaceWith(input);
			} else {
				$('#model_input').replaceWith("<div class='select'>" + select + "</div>");
				FormElements.bindSelects($('#bookserviceform .select'));
			}
		});

		$('select[id=model]').change(function () {
			mod = $(this).find(':selected').val().toLowerCase();
			if (mod != 'new avensis') {
				$('#selecttype option[value!=Post]').removeAttr('disabled');
			} else {
				$('#selecttype option[value=Post]').prop('selected', 'true');
				$('#selecttype').trigger('change');
				$('#selecttype option[value!=Post]').prop('disabled', 'true');
			}
		})



		//exception for the new rav4 and new prius download brochure
		$(document).on("change", "select#model", function () {
			var sel = $(this);
			var downloadtype = $("#selecttype");
			var download = downloadtype.find("option[value='pdfDownload']");
			var preorder = $("#preorder");
			var email = downloadtype.find("option[value='Ebrochure']");
			var post = downloadtype.find("option[value='Post']");

			var thanks = $('#pane-brochure-tab .form_thanks .intro');
			thanks.attr("style", "padding-top:20px;display:block");

			var model = sel.find("option:selected").val().toLowerCase();
			//model === "rav4 2016" || model === "new rav4" ||
//			if (model === "new prius" || model === "prius 2016") {
//				download.prop("selected", true);
//				post.prop("disabled", true).hide();
//				downloadtype.trigger('change');
//			} else {
//				download.prop("selected", true);
//				post.prop("disabled", false).show();
//				downloadtype.trigger('change');
//			}
		});
		$("select#model").trigger('change');

	});

	//set dealer id for contact us
	$("#dealer_custom").change(function(){
		var deID = $(this).find("option:checked").data("dealer-id");
		$("#00Nb0000002AKok").val(deID);
	});




	//Recaptcha


	function recaptcha(){
		//recapthcaready is declared in the snippets/header_auc  becouse the function need to be in the header
		if(!recapthcaready){
			setTimeout(recaptcha,100);
			return;
		}
		var captchas = [];
		var $tabs = $(".tabContent");
		if($tabs.length == 0){
			$tabs = $(".form_container");
		}
		$tabs.each(function () {
			var $tab = $(this);
			var $captcha = $tab.find(".g-recaptcha");
			if($captcha.length == 0)
				return;
			var tabId = $tab.attr("id");
			captchas[tabId] = {
				tab : $tab,
				captcha : $captcha,
				verifyCallback : function(){
					alert("tab : "+tabId);
				}
			};
//		console.log("tab : "+tabId);
//		console.log($captcha[0]);
			grecaptcha.render($captcha[0], {
				'sitekey' : $captcha.data("sitekey"),
				'theme' : 'dark',
				stoken:$captcha.data("stoken"),
				'callback': function () {
					$tab.find(".hiddencaptcha").prop('checked', true);
					$tab.find(".form-error").hide();
				}
			});
		});
	}

	recaptcha();

</script>
		<!--[if lt IE 9]> <script src="/assets/js/ie8.js"></script> <![endif]-->
<?php if (!$form) { ?>
	<script type="text/javascript">
		if ($(".tabtrigger").length > 0) {
			var $currentTab = $("#<?= $currentTab ?>-tab");
			var $currentControl = $(".tabtrigger[data-tab='<?= $currentTab ?>-tab']");
			$currentControl.addClass("active");
			$currentTab.show();

			$('.tabtrigger').click(function () {
				$currentControl.removeClass("active");
				$(this).addClass("active");
				var id = $(this).data("tab");
				var $nextTab = $("#" + id);
				$currentTab.hide();
				$nextTab.show();
				$currentTab = $nextTab;
				$currentControl = $(this);
			});
		}
	</script>
<?php } ?> 
</body>
</html>
