<div class="form_container">
	<form action="/forms/formsubmit?action=newsletter" method="POST" id="newsletterform" class="contactform">

		<input type="hidden" name="XID" value="{XID_HASH}" />

		<?php
			$inputs=array('test_emails','emails','test_email','emailer');
			$rand_keys = array_rand($inputs, 2);
			echo "<input type='email' name='".$inputs[$rand_keys[0]]."' />";
			echo "<input type='email' name='".$inputs[$rand_keys[1]]."' />";
		?>

		{embed="components/contactdetails"}
		{embed="components/dataprotection"}
		{embed="components/submit"}

	</form>
	<div class="container_12 form_thanks">
		<div class="grid_12 header">
			<h2>Thank you for Subscribing to our newsletter.</h2>
			<span class="intro">You'll be updated with the latest news and promotions from Toyota Ireland</span>
		</div>
	</div>
</div>

