<!--
    Name: Social tools
	ID: c_t1_005
    URL: http://toyota-stage.amaze.com/html/components/tier1/social_tools.html
	
    1 - Social tools for sharing/liking/rating
-->
<div class="social-tools-section">
    <div class="container_12 clearfix">
        <div class="grid_12 center-text">
            <ul class="social-tools-list">
                <li>
					<span href="#social" class="uiBtn greyBtn share">
						Share&nbsp;<i class="icon icon-share-alt share-icon"></i>
						<span class="social_box_wrapper">
							<span class="social-box">
								<span class='st_facebook_large' displayText='Facebook'></span>
								<span class='st_twitter_large' displayText='Tweet'></span>
								<span class='st_linkedin_large' displayText='LinkedIn'></span>
								<span class='st_googleplus_large' displayText='Google +'></span>
							</span>
						</span>
					</span>
				</li>
                <li>
					<spam href="#social" class="uiBtn greyBtn share">
						<span class="social_box_wrapper like">
							<span class="social-box">
								<div class="fb-like" id="fbLike"  data-href="" data-width="150px" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
							</span>
						</span>
						Like&nbsp;<i class="icon icon-thumbs-up share-icon"></i>
					</span>
					<script>document.getElementById("fbLike").setAttribute("data-href", window.location.href);</script>
				</li>
                <li><a href="#social" class="uiBtn greyBtn">Rate&nbsp;<i class="icon icon-star"></i><i class="icon icon-star"></i><i class="icon icon-star-half"></i></a></li>
            </ul>
        </div>
    </div>
</div>