<form action="/ajax/formsubmit?action=contactus" method="POST" id="contactusform" class="contactform">

	<input type="hidden" value="00Db0000000HWqf" name="orgid">
	<input type="hidden" name="00Nb0000002AKok" id="dealer" value="{dealer_id}">
	<input type="hidden" value="012b0000000aZax" name="recordType">
	<input type="hidden" value="Web Customer Service" name="subject" id="subject">
	<input type="hidden" value="Question" name="type" id="type">

	<input type="hidden" name="XID" value="{XID_HASH}" />
	<div class="container_12">
		<div class="grid_12 header">
				<h2>Contact Toyota Dealer</h2>
				<span class="intro">We always aim to offer you on our website comprehensive and up to date information. If you still have unanswered questions, wish to offer suggestions or criticism, feel free to contact us.</span>
		</div>
	</div>

	<div class="container_12 nop">
		<div class="grid_6 nop">
			<div class="container_12">
				<div class="grid_6">
					<h4 class="title1">Salutation &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
					<div class="select">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						<select name="salutation" id="salutation" data-validation="select">
							<option value="no_selection">...</option>
							<option value="Dr">Dr</option>
							<option value="Mr">Mr</option>
							<option value="Ms">Ms</option>
						</select>
					</div>
				</div>
			</div>
			<div class="container_12">
				<div class="grid_6">
					<h4 class="title1">First Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
					<input  id="first_name" maxlength="40" name="first_name"  type="text" placeholder="Name" data-validation="required"/>
				</div>
				<div class="grid_6">
					<h4 class="title1">Last Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
					<input  id="last_name" maxlength="80" name="last_name"  type="text" placeholder="Surname" data-validation="required"/>
				</div>
			</div>
			<div class="container_12 ">
				<div class="grid_6">
					<h4 class="title1">Phone &nbsp;&nbsp; <i class="icon icon-phone"></i></h4>
					<input  id="phone" maxlength="14" name="phone"  type="text" placeholder="01 ..." data-validation="number"/>
				</div>
				<div class="grid_6">
					<h4 class="title1">Mobile &nbsp;&nbsp; <i class="icon icon-phone"></i></h4>
					<input  id="mobile" maxlength="14" name="mobile"  type="text" placeholder="08 ..." data-validation="number"/>
				</div>
			</div>
			<div class="container_12 extraspace">
				<div class="grid_12">
					<h4 class="title1">Email &nbsp;&nbsp; <i class="icon icon-envelope-alt"></i></h4>
					<input  id="email" maxlength="80" name="email"  type="text" placeholder="your@email.com" data-validation="email"/>
				</div>
			</div>
		</div>
		<div class="grid_6 nop">
			<div class="container_12">
				<div class="grid_6">
					<h4 class="title1">City &nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
					<input  id="city" maxlength="40" name="city" type="text" placeholder="" data-validation="required"/>
				</div>
				<div class="grid_6">
					<h4 class="title1">County &nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
					<div class="select">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						<select id='county' name="00Nb0000002Xysh">
							<option value="">Please choose:</option>
							<option value="Carlow">Carlow</option>
							<option value="Cavan">Cavan</option>
							<option value="Clare">Clare</option>
							<option value="Cork">Cork</option>
							<option value="Donegal">Donegal</option>
							<option value="Dublin">Dublin</option>
							<option value="Dublin  1">Dublin  1</option>
							<option value="Dublin  2">Dublin  2</option>
							<option value="Dublin  3">Dublin  3</option>
							<option value="Dublin  4">Dublin  4</option>
							<option value="Dublin  5">Dublin  5</option>
							<option value="Dublin  6">Dublin  6</option>
							<option value="Dublin  7">Dublin  7</option>
							<option value="Dublin  8">Dublin  8</option>
							<option value="Dublin  9">Dublin  9</option>
							<option value="Dublin 10">Dublin 10</option>
							<option value="Dublin 11">Dublin 11</option>
							<option value="Dublin 12">Dublin 12</option>
							<option value="Dublin 13">Dublin 13</option>
							<option value="Dublin 14">Dublin 14</option>
							<option value="Dublin 15">Dublin 15</option>
							<option value="Dublin 16">Dublin 16</option>
							<option value="Dublin 17">Dublin 17</option>
							<option value="Dublin 18">Dublin 18</option>
							<option value="Dublin 19">Dublin 19</option>
							<option value="Dublin 20">Dublin 20</option>
							<option value="Dublin 21">Dublin 21</option>
							<option value="Dublin 22">Dublin 22</option>
							<option value="Dublin 23">Dublin 23</option>
							<option value="Dublin 24">Dublin 24</option>
							<option value="Fermanagh">Fermanagh</option>
							<option value="Galway">Galway</option>
							<option value="Kerry">Kerry</option>
							<option value="Kildare">Kildare</option>
							<option value="Kilkenny">Kilkenny</option>
							<option value="Laois">Laois</option>
							<option value="Leitrim">Leitrim</option>
							<option value="Limerick">Limerick</option>
							<option value="Longford">Longford</option>
							<option value="Louth">Louth</option>
							<option value="Mayo">Mayo</option>
							<option value="Meath">Meath</option>
							<option value="Monaghan">Monaghan</option>
							<option value="Offaly">Offaly</option>
							<option value="Roscommon">Roscommon</option>
							<option value="Sligo">Sligo</option>
							<option value="Tipperary">Tipperary</option>
							<option value="Waterford">Waterford</option>
							<option value="Westmeath">Westmeath</option>
							<option value="Wexford">Wexford</option>
							<option value="Wicklow">Wicklow</option>
						</select>
					</div>
				</div>
			</div>
			<div class="container_12 extraspace">
				<div class="grid_12">
					<h4 class="title1">Address line 1&nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
					<input  id="address_line_1"  name="address_line_1" type="text" data-validation="required"/>
				</div>
				<div class="grid_12">
					<h4 class="title1">Address line 2&nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
					<input  id="address_line_2"  name="address_line_2" type="text" />
				</div>
			</div>

		</div>
	</div>

	<div class="container_12  extraspace">
		<div class="grid_6 ">
			<h4 class="title1 subheading-text">Get Notifications</h4>
			<div class="check-boxes clearfix notifications">

				<div class="checkbox-row ">
					<h4 class=" subheading-text">By Letter</h4>
					<div class=" radio clearfix">
						<input id="letter_y" type="radio" name="00Nb0000003FNoq" value="Yes" >
						<label for="letter_y">Yes</label>
					</div>
					<div class=" radio clearfix">
						<input id="letter_n" type="radio" name="00Nb0000003FNoq" value="No" >
						<label for="letter_n">No</label>
					</div>
				</div>
				<div class="checkbox-row ">
					<h4 class=" subheading-text">By Email</h4>
					<div class=" radio clearfix">
						<input id="emailoptin_y" type="radio" name="00Nb0000003FNop" value="Yes" >
						<label for="emailoptin_y">Yes</label>
					</div>
					<div class=" radio clearfix">
						<input id="emailoptin_n" type="radio" name="00Nb0000003FNop" value="No" >
						<label for="emailoptin_n">No</label>
					</div>
				</div>
				<div class="checkbox-row ">
					<h4 class=" subheading-text">By SMS</h4>
					<div class=" radio clearfix">
						<input id="smsoptin_y" type="radio" name="00Nb0000003FNor" value="Yes" >
						<label for="smsoptin_y">Yes</label>
					</div>
					<div class=" radio clearfix">
						<input id="smsoptin_n" type="radio" name="00Nb0000003FNor" value="No" >
						<label for="smsoptin_n">No</label>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container_12 extraspace">
		<div class="grid_6">
			<input type="submit" class="uiBtn redBtn" value="Submit">
		</div>
	</div>

</form>

<script type="text/javascript">
	FormElements.bindSelects($('#contactusform .select'));
	FormElements.bindCheckboxes($('#contactusform .checkbox'));
	$.validate({
		form: '#contactusform',
		modules: 'location, date, security',
		onError: function() {
			alert('Validation failed');
		},
		onSuccess: function() {
			//alert('The form is valid!');
			submitForm('#contactusform');
			return false; // Will stop the submission of the form
		}
	});
</script>
