<!--iframe width="100%" height="100%" src='{get:videourl}'/><iframe-->
<div style="width:100%;height:100%;" rel="{get:videoid}" id="{get:videoid}"></div>
<script type='text/javascript'>
	$(document).ready(function(){
		setTimeout(function(){
			createVideo('{get:videoid}','100%','100%')
		},1000)
	})
</script>
