<!--
Component details

Name: Gallery (Article varient)
ID: c_t1_006b
Version number: 1.0
Location(s): Car chapter, others TBC
Child components: 
(js_c_003) Secondary Content

URL: http://toyota-stage.amaze.com/html/components/tier1/gallery_article.html

Usage examples:
    - Article Template
    - Reasons to own
Description

A gallery, consisting of a single scrollable row containing thumbnail images, titles and brief descriptions, 
which link to full size assets displayed in the secondary content mechanism
-->

<!--
NOTE: 
- its very important that each image has its width & height attributes correctly populated so the script can 
calculate the container width for each gallery row, even if the images have not been loaded
- The id attribute of each gallery link anchor element is required for deep linking and operation of the 
full screen gallery - it could be easily moved to a unique data-id attribute if needed
-->
<div class="container_12">
	<div class="grid_12">
		<div class="content-block gallery-horizontal SecContentContainer" data-contenttype="gallery" data-id="EndevourGallery" data-name="Endevour" data-gallery-horizontal>
			<div class="gallery-horizontal-row">
				<div class="gallery-horizontal-row-inner">
					<article class="gallery-item article-gallery-item">
						<a class="item-link secContentTrigger" href="http://toyota-stage.amaze.com/inc/images/articleGallery/001.jpg" id="A10">
							<span class="border-hover"></span>
							<img src="http://toyota-stage.amaze.com/inc/images/articleGallery/001a.jpg" alt="The Space Shuttle" width="355" height="248" />
							<i class="icon icon-search" data-icon="&#xf002;"></i>
						</a>
						<div class="item-content">
							<h4 class="title">IMAGE TITLE</h4>
							<p>Image description, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						</div>
					</article>
					<article class="gallery-item article-gallery-item">
						<a class="item-link secContentTrigger" href="http://toyota-stage.amaze.com/inc/images/articleGallery/002.jpg" id="A11">
							<span class="border-hover"></span>
							<img src="http://toyota-stage.amaze.com/inc/images/articleGallery/002a.jpg" alt="The Space Shuttle" width="355" height="248" />
							<i class="icon icon-search" data-icon="&#xf002;"></i>
						</a>
						<div class="item-content">
							<h4 class="title">IMAGE TITLE</h4>
							<p>Image description, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						</div>
					</article>
					<article class="gallery-item article-gallery-item">
						<a class="item-link secContentTrigger" href="http://toyota-stage.amaze.com/inc/images/articleGallery/003.jpg" id="A12">
							<span class="border-hover"></span>
							<img src="http://toyota-stage.amaze.com/inc/images/articleGallery/003a.jpg" alt="The Space Shuttle" width="355" height="248" />
							<i class="icon icon-search" data-icon="&#xf002;"></i>
						</a>
						<div class="item-content">
							<h4 class="title">IMAGE TITLE</h4>
							<p>Image description, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						</div>
					</article>
					<article class="gallery-item article-gallery-item">
						<a class="item-link secContentTrigger" href="http://toyota-stage.amaze.com/inc/images/articleGallery/004.jpg" id="A13">
							<span class="border-hover"></span>
							<img src="http://toyota-stage.amaze.com/inc/images/articleGallery/004a.jpg" alt="The Space Shuttle" width="355" height="248" />
							<i class="icon icon-search" data-icon="&#xf002;"></i>
						</a>
						<div class="item-content">
							<h4 class="title">IMAGE TITLE</h4>
							<p>Image description, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						</div>
					</article>
					<article class="gallery-item article-gallery-item">
						<a class="item-link secContentTrigger" href="http://toyota-stage.amaze.com/inc/images/articleGallery/005.jpg" id="A14">
							<span class="border-hover"></span> 
							<img src="http://toyota-stage.amaze.com/inc/images/articleGallery/005a.jpg" alt="The Space Shuttle" width="355" height="248" />
							<i class="icon icon-search" data-icon="&#xf002;"></i>
						</a>
						<div class="item-content">
							<h4 class="title">IMAGE TITLE</h4>
							<p>Image description, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						</div>
					</article>
					<article class="gallery-item article-gallery-item">
						<a class="item-link secContentTrigger" href="http://toyota-stage.amaze.com/inc/images/articleGallery/006.jpg" id="A15">
							<span class="border-hover"></span>
							<img src="http://toyota-stage.amaze.com/inc/images/articleGallery/006a.jpg" alt="The Space Shuttle" width="355" height="248" />
							<i class="icon icon-search" data-icon="&#xf002;"></i>
						</a>
						<div class="item-content">
							<h4 class="title">IMAGE TITLE</h4>
							<p>Image description, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						</div>
					</article>
					<article class="gallery-item article-gallery-item">
						<a class="item-link secContentTrigger" href="http://toyota-stage.amaze.com/inc/images/articleGallery/007.jpg" id="A16">
							<span class="border-hover"></span>
							<img src="http://toyota-stage.amaze.com/inc/images/articleGallery/007a.jpg" alt="The Space Shuttle" width="355" height="248" />
							<i class="icon icon-search" data-icon="&#xf002;"></i>
						</a>
						<div class="item-content">
							<h4 class="title">IMAGE TITLE</h4>
							<p>Image description, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						</div>
					</article>
					<article class="gallery-item article-gallery-item">
						<a class="item-link secContentTrigger" href="http://toyota-stage.amaze.com/inc/images/articleGallery/008.jpg" id="A17">
							<span class="border-hover"></span>
							<img src="http://toyota-stage.amaze.com/inc/images/articleGallery/008a.jpg" alt="The Space Shuttle" width="355" height="248" />
							<i class="icon icon-search" data-icon="&#xf002;"></i>
						</a>
						<div class="item-content">
							<h4 class="title">IMAGE TITLE</h4>
							<p>Image description, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						</div>
					</article>
					<article class="gallery-item article-gallery-item">
						<a class="item-link secContentTrigger" href="http://toyota-stage.amaze.com/inc/images/articleGallery/009.jpg" id="A18">
							<span class="border-hover"></span>
							<img src="http://toyota-stage.amaze.com/inc/images/articleGallery/009a.jpg" alt="The Space Shuttle" width="355" height="248" />
							<i class="icon icon-search" data-icon="&#xf002;"></i>
						</a>
						<div class="item-content">
							<h4 class="title">IMAGE TITLE</h4>
							<p>Image description, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>