<!--
Component details

Name: Gallery
ID: c_t1_006a
Version number: 1.0
Location(s): Car chapter, others TBC
Child components: 
(js_c_003) Secondary Content
URL: http://toyota-stage.amaze.com/html/components/tier1/gallery.html
-->

<!--
NOTE: 
- its very important that each image has its width & height attributes correctly populated so the script can 
calculate the container width for each gallery row, even if the images have not been loaded
- The id attribute of each gallery link anchor element is required for deep linking and operation of the 
full screen gallery - it could be easily moved to a unique data-id attribute if needed
-->


<div class="grid_12">
	<div class="content-block gallery-horizontal SecContentContainer" data-contenttype="gallery" data-id="HTMLExample2" data-name="HTML EXAMPLE Gallery" data-gallery-horizontal>
		<div class="gallery-horizontal-row">
			<div class="gallery-horizontal-row-inner">
				<a href="http://www.toyota.at/Images/toyota-prius-2012-exterior-tme-001-full_tcm303-1105904.jpg" class="gallery-item secContentTrigger" id="aA29" >
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/001.jpg" width="600" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-prius-2012-exterior-tme-002-full_tcm303-1105907.jpg" class="gallery-item secContentTrigger" id="aA30" >
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/002.jpg" width="325" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="/development/youtubeGalleryItem.aspx?id=851mjjIzrYs" class="gallery-item video-item secContentTrigger" id="aA31" >
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/003.jpg" width="600" height="220" alt="">
					<i class="icon icon-play" data-icon="&#xf04b;"></i>
				</a>
				<a href="http://www.toyota.at/Images/t9_iq10_car_gal_001_1024_tcm303-956844.jpg" class="gallery-item secContentTrigger" id="aA32" >
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/004.jpg" width="225" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-003-a-full_tcm303-956846.jpg" class="gallery-item secContentTrigger" id="aA33" >
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/005.jpg" width="475" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-004-a-full_tcm303-956847.jpg" class="gallery-item secContentTrigger" id="aA34" >
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/006.jpg" width="325" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-007-a-full_tcm303-956848.jpg" class="gallery-item secContentTrigger" id="aA35" >
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/007.jpg" width="325" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/t9_iq10_car_gal_007_1024_tcm303-956850.jpg" class="gallery-item secContentTrigger" id="aA36" >
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/008.jpg" width="225" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
			</div>
		</div>
		<div class="gallery-horizontal-row">
			<div class="gallery-horizontal-row-inner">
				<a href="/development/youtubeGalleryItem.aspx?id=851mjjIzrYs" class="gallery-item video-item secContentTrigger" id="aA37">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/004.jpg" width="225" height="220" alt="">
					<i class="icon icon-play" data-icon="&#xf04b;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-001-a-full_tcm303-956845.jpg" class="gallery-item secContentTrigger" id="aA38">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/003.jpg" width="600" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-003-a-full_tcm303-956846.jpg" class="gallery-item secContentTrigger" id="aA39">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/005.jpg" width="475" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-004-a-full_tcm303-956847.jpg" class="gallery-item secContentTrigger" id="aA40">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/006.jpg" width="325" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-007-a-full_tcm303-956848.jpg" class="gallery-item secContentTrigger" id="aA41">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/007.jpg" width="325" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="/development/youtubeGalleryItem.aspx?id=851mjjIzrYs" class="gallery-item video-item secContentTrigger" id="aA42">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/008.jpg" width="225" height="220" alt="">
					<i class="icon icon-play" data-icon="&#xf04b;"></i>
				</a>
				<a href="http://www.toyota.at/Images/t9_iq10_car_gal_001_1024_tcm303-956844.jpg" class="gallery-item secContentTrigger" id="aA43">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/004.jpg" width="225" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-001-a-full_tcm303-956845.jpg" class="gallery-item secContentTrigger" id="aA44">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/003.jpg" width="600" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-003-a-full_tcm303-956846.jpg" class="gallery-item secContentTrigger" id="aA45">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/005.jpg" width="475" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-004-a-full_tcm303-956847.jpg" class="gallery-item secContentTrigger" id="aA46">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/006.jpg" width="325" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-007-a-full_tcm303-956848.jpg" class="gallery-item secContentTrigger" id="aA47">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/007.jpg" width="325" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/t9_iq10_car_gal_007_1024_tcm303-956850.jpg" class="gallery-item secContentTrigger" id="aA48">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/008.jpg" width="225" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
			</div>
		</div>  
		<div class="gallery-horizontal-row">
			<div class="gallery-horizontal-row-inner">
				<a href="http://www.toyota.at/Images/toyota-prius-2012-exterior-tme-001-full_tcm303-1105904.jpg" class="gallery-item secContentTrigger" id="A49" data-gallerygroup="gg3">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/001.jpg" width="600" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="/development/youtubeGalleryItem.aspx?id=851mjjIzrYs" class="gallery-item video-item secContentTrigger" id="A50" data-gallerygroup="gg3">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/002.jpg" width="325" height="220" alt="">
					<i class="icon icon-play" data-icon="&#xf04b;"></i>
				</a>
				<a href="http://www.toyota.at/Images/t9_iq10_car_gal_001_1024_tcm303-956844.jpg" class="gallery-item secContentTrigger" id="A51" data-gallerygroup="gg3">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/004.jpg" width="225" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-001-a-full_tcm303-956845.jpg" class="gallery-item secContentTrigger" id="A52" data-gallerygroup="gg3">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/003.jpg" width="600" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-003-a-full_tcm303-956846.jpg" class="gallery-item secContentTrigger" id="A53" data-gallerygroup="gg3">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/005.jpg" width="475" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-004-a-full_tcm303-956847.jpg" class="gallery-item secContentTrigger" id="A54" data-gallerygroup="gg3">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/006.jpg" width="325" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/toyota-iq-2010-exterior-tme-007-a-full_tcm303-956848.jpg" class="gallery-item secContentTrigger" id="A55" data-gallerygroup="gg3">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/007.jpg" width="325" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
				<a href="http://www.toyota.at/Images/t9_iq10_car_gal_007_1024_tcm303-956850.jpg" class="gallery-item secContentTrigger" id="A56" data-gallerygroup="gg3">
					<span class="border-hover"></span>
					<img src="http://toyota-stage.amaze.com/inc/images/galleryThumbs/008.jpg" width="225" height="220" alt="">
					<i class="icon icon-search" data-icon="&#xf002;"></i>
				</a>
			</div>
		</div>
	</div>
</div>


