{{#each this}}

		<div class="grid_3 fc-group {{#if url}}toyota{{/if}}{{#if url_title}}local{{/if}}-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/<?php echo $this->EE->uri->segment(2);?>/{{#if url}}toyota-article{{url}}{{/if}}{{#if url_title}}local-article/{{url_title}}{{/if}}">
						<span class="imgContainer">
							<img class="img100" src="{{image}}<?php echo str_replace('/headers/','/headers/_preview/','{{news_image}}');?>" alt="
								 <?php echo html_entity_decode("{{title}}");?>">
						</span>
						<h3>
							<span class="uiBtn redBtn smBtn {{type}}{{news_type}}">
								{{#if url}}Toyota{{/if}}
								{{#if url_title}}Dealer{{/if}}
								&nbsp;{{type}}{{news_type}}
							</span>
							<?php echo html_entity_decode("{{title}}");?>
						</h3>
						<p class="summary">
							<?php
								$text = strip_tags(html_entity_decode("{{description}}{{news_summary}}"));
								if (strlen($text) > 120) {
									$pos = strpos($text, " ", 120);
									echo substr($text, 0, $pos) . " ...";
								}else{
									echo $text;
								}
							?>
						</p>
					</a>
				</article>
			</div>
		</div>
		{{/each}}