<div class="darkBg content-block">
	<div class="car_detaisl_form">
		<div class="container_12">
			<div class="section_title">
				<h3 class="heading1">Enter Your Car Details</h3>
			</div>
		</div>
		
		<div class="clearfix">&nbsp;<br/>&nbsp;</div>
		<div class="container_12 clearfix">
			<div class="grid_2 hidden_before_l">&nbsp;</div>
			<div class="grid_8">
				<div class="grid_12">
					<div class="action_group">
						<div class="buttonSelect clearfix grid_half">
							<a href="#" class="uiBtn smBtn greyBtn registration_control active">&nbsp;By Registration&nbsp;</a>
							<a href="3" class="uiBtn smBtn greyBtn model_control ">&nbsp;By Model&nbsp;</a>
						</div>
					</div>
				</div>
			</div>
			<div class="grid_2 hidden_before_l">&nbsp;</div>
		</div>
		
		<form id="registration_form" class="contactform clearfix">
			<div class="registration_group container_12 clearfix ">
				<div class="grid_2 hidden_before_l">&nbsp;</div>
				<div class="grid_8">
					<div class="grid_12">
						<div class="buttonSelect grid_half">
							<h4 class="title1">Registration</h4>
							<input  id="car_registration"  name="car_registration" type="text" placeholder="Enter Registration" data-validation="required"/>
							<div class="input-group"><input type="submit" class="uiBtn  smBtn redBtn fwBtn" value="Get a service quote"><i class="icon icon-chevron-right"></i></div>
						</div>
					</div>
				</div>
				<div class="grid_2 hidden_before_l">&nbsp;</div>
			</div>
		</form>

		<form id="model_form" class="contactform clearfix">
			<div class="model_group clearfix">
				<div class="container_12">
					<div class="grid_2 hidden_before_l">&nbsp;</div>
					<div class="grid_8 ">
						<div class="container_12">
							<div class="grid_6">
								<h4 class="title1">Model</h4>
								<div class="select">
									<div class="value"></div>
									<i class="icon icon-chevron-down"></i>
									<select name="model" id="model" data-validation="select">
										<option value="no_selection">Choose one</option>
										<option value="Auris">Auris</option>
										<option value="Avensis">Avensis</option>
										<option value="Rav4">Rav4</option>
									</select>
								</div>
							</div>
							<div class="grid_6">
								<h4 class="title1">Body Type</h4>
								<div class="select">
									<div class="value"></div>
									<i class="icon icon-chevron-down"></i>
									<select name="model" id="model" data-validation="select">
										<option value="no_selection">Choose one</option>
										<option value="Slim">Slim</option>
										<option value="Pickup">Pickup</option>
										<option value="Unit">Unit</option>
									</select>
								</div>
							</div>
							<div class="grid_6">
								<h4 class="title1">Doors</h4>
								<div class="select">
									<div class="value"></div>
									<i class="icon icon-chevron-down"></i>
									<select name="model" id="model" data-validation="select">
										<option value="no_selection">Choose one</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
							</div>
							<div class="grid_6">
								<h4 class="title1">Engine Size</h4>
								<div class="select">
									<div class="value"></div>
									<i class="icon icon-chevron-down"></i>
									<select name="model" id="model" data-validation="select">
										<option value="no_selection">Choose one</option>
										<option value="1200">1200 CC</option>
										<option value="1300">1300 CC</option>
										<option value="1400">1400 CC</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="grid_2 hidden_before_l">&nbsp;</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="container_12">
					<div class="grid_2 hidden_before_l">&nbsp;</div>
					<div class="grid_8">
						<div class="buttonSelect grid_half">
							<div class="input-group"><input type="submit" class="uiBtn  smBtn redBtn fwBtn" value="Get a service quote"><i class="icon icon-chevron-right"></i></div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>