{{#this}}
	{{#if [0].quote}}
		<div class="container_12 content-block body-content clearfix">
		    <div class="grid_12 intro-text text-center">
				<h3 class='padding quote'>&#8220;{{[0].quote}}&#8221;</h3>
				{{#if [0].reference}}<h5 class='author'>{{[0].reference}}</h5>{{/if}}
			</div>
		</div>
	{{/if}}
{{/this}}