<select name="make" id="make" data-validation="select">
	<option value="no_selection">...</option>
	<option value="Toyota" selected="">Toyota</option>
	<option value="AC">AC</option>
	<option value="Aixam">Aixam</option>
	<option value="Alfa Romeo">Alfa Romeo</option>
	<option value="Asia">Asia</option>
	<option value="Aston Martin">Aston Martin</option>
	<option value="Audi">Audi</option>
	<option value="Austin">Austin</option>
	<option value="Bentley">Bentley</option>
	<option value="BMW">BMW</option>
	<option value="Bristol">Bristol</option>
	<option value="Cadillac">Cadillac</option>
	<option value="Caterham">Caterham</option>
	<option value="Chevrolet">Chevrolet</option>
	<option value="Chrysler">Chrysler</option>
	<option value="Citroen">Citroen</option>
	<option value="Dacia">Dacia</option>
	<option value="Daewoo">Daewoo</option>
	<option value="Daihatsu">Daihatsu</option>
	<option value="Daimler">Daimler</option>
	<option value="De Tomaso">De Tomaso</option>
	<option value="Dodge">Dodge</option>
	<option value="Ferrari">Ferrari</option>
	<option value="Fiat">Fiat</option>
	<option value="Ford">Ford</option>
	<option value="FSO">FSO</option>
	<option value="HMC">HMC</option>
	<option value="Honda">Honda</option>
	<option value="Hyundai">Hyundai</option>
	<option value="Isuzu">Isuzu</option>
	<option value="Jaguar">Jaguar</option>
	<option value="Jeep">Jeep</option>
	<option value="Kia">Kia</option>
	<option value="Lada">Lada</option>
	<option value="Lamborghini">Lamborghini</option>
	<option value="Lancia">Lancia</option>
	<option value="Land Rover">Land Rover</option>
	<option value="Lexus">Lexus</option>
	<option value="Ligier">Ligier</option>
	<option value="Lonsdale">Lonsdale</option>
	<option value="Lotus">Lotus</option>
	<option value="M.G.">M.G.</option>
	<option value="MacNeillie">MacNeillie</option>
	<option value="Marcos">Marcos</option>
	<option value="Marlin">Marlin</option>
	<option value="Maserati">Maserati</option>
	<option value="Mazda">Mazda</option>
	<option value="Mercedes-Benz">Mercedes-Benz</option>
	<option value="Microcar">Microcar</option>
	<option value="Mini">Mini</option>
	<option value="Mitsubishi">Mitsubishi</option>
	<option value="Morgan">Morgan</option>
	<option value="Morris">Morris</option>
	<option value="Nissan">Nissan</option>
	<option value="Opel">Opel</option>
	<option value="Other">Other</option>
	<option value="Perodua">Perodua</option>
	<option value="Peugeot">Peugeot</option>
	<option value="Porsche">Porsche</option>
	<option value="Proton">Proton</option>
	<option value="Reliant">Reliant</option>
	<option value="Renault">Renault</option>
	<option value="Rolls-Royce">Rolls-Royce</option>
	<option value="Rover">Rover</option>
	<option value="Saab">Saab</option>
	<option value="Sao">Sao</option>
	<option value="Seat">Seat</option>
	<option value="Sebring">Sebring</option>
	<option value="Simca">Simca</option>
	<option value="Skoda">Skoda</option>
	<option value="Smart Car">Smart Car</option>
	<option value="Spectre">Spectre</option>
	<option value="Ssangyong">Ssangyong</option>
	<option value="Startins">Startins</option>
	<option value="Subaru">Subaru</option>
	<option value="Suzuki">Suzuki</option>
	<option value="Talbot">Talbot</option>
	<option value="Tata">Tata</option>
	<option value="Toyota">Toyota</option>
	<option value="Triumph">Triumph</option>
	<option value="TVR">TVR</option>
	<option value="Vauxhall">Vauxhall</option>
	<option value="Venturi">Venturi</option>
	<option value="Volkswagen">Volkswagen</option>
	<option value="Volvo">Volvo</option>
	<option value="Westfield">Westfield</option>
	<option value="Yugo">Yugo</option>
</select>

