<!--METADATA-->
<title>{{seo.title}}{{metaData.seo.title}} - {site_name}</title>
<meta name='keywords' content='{{seo.keywords}}{{metaData.seo.keywords}}'/>
<meta name='description' content='{{seo.description}}{{metaData.seo.description}}'/>
<link rel='canonical' href='<?php echo $this->EE->functions->fetch_current_uri(); ?>'/>

