
<div class="models_grid">
	<a href="/pages<?php 
			$link = str_replace("models","new-car-details","{{url}}"); 
			$link = str_replace("/current-offers/index.json","/offers",$link);
			echo $link;
		?>" class="model-item">
		<img src="{{#if images}}{external_url_carassets}{{images.V10_Menu}}{{/if}}{{#if extraContent}}http://d1hu588lul0tna.cloudfront.net/toyotaone{{extraContent}}{{/if}}" width="150" height="95" alt="{{title}}" />
		<span class="model-name">
			<strong>{{title}}</strong>{{minPrice.listWithDiscountText}}{{subtitle}}
		</span>
		{{#if hasHybrids}}
			<div class="model-decoration hybrid">Hybrid available</div>
		{{else}}
		{{#if isHybridOnly}}
			<div class="model-decoration hybrid">Hybrid</div>
		{{/if}}
		{{/if}}
	</a>
</div>
