<!--	<div class="padding"></div>-->
<div class="container_12 clearfix">
	<div class="grid_12 center-text section-title">
		<h2 class="heading1">{{title}}</h2>
	</div>
</div>	
<!--	############### PROMOTINOS START #################### -->
<div class="carousel-offers slide container_12" id="promotions-carousel" >
	{{#each promotions}}
	<div class="grid_6">
		<div class="offer-spotlight">
			<a  href="https://www.toyota.ie{{{url}}}" target="_blank">
				{{#if promotion_image}}
				<span class="imgContainer">
					<img src='{{promotion_image}}' class="img100" alt='{{title}}'>
				</span>
				{{/if}}
				{{#if smallImage}}
				<span class="imgContainer">
					<img src='{{smallImage}}' alt='{{title}}'>
				</span>
				{{/if}}
				<h3 class="header1">
					<?php echo html_entity_decode("{{title}}"); ?>  &nbsp;&nbsp;<i class="icon icon-tag"></i>              	
				</h3>
				<div class="promotion_subtitle">
					<?php echo html_entity_decode("{{promotion_subtitle}}{{intro}}"); ?>
				</div>

			</a>
			{{#if promotion_summary}}
			<p>
				<?php echo html_entity_decode("{{promotion_summary}}"); ?>
			</p>
			{{/if}}
			{{#if startPrice}}
			<p>
				<?php echo html_entity_decode("{{startPrice}}"); ?>
			</p>
			{{/if}}
			{{#if validityDate}}
			<p class="terms">
				<?php echo html_entity_decode("{{validityDate}}"); ?>
			</p>
			{{/if}}
			{{#if disclaimer}}
			<p class="full-terms">
				<?php echo strip_tags(html_entity_decode("{{disclaimer}}")); ?>
			</p>
			{{/if}}
		</div>
	</div>
	{{/each}}

<!--	############### PROMOTINOS END #################### -->
</div>