<div class="service_results">
	<div class="content-block nopadding">
		<div class="container_12">
			<div class="grid_12">
				<div class="section_title">
					<p class="light_text">Your car is a:</p>
					<h3 class="heading1">TOYOTA VERSO-S 1.33 TERRA 4DR  petrol</h3>
					<div class="search_group">
						<input  id="car_registration_2"  name="car_registration_2" type="text" placeholder="Enter Registration" data-validation="required"/>
						<i class="icon icon-search"></i>
						<p class="light_text">Not your car? Click above to edit.</p>
					</div>

				</div>
			</div>
		</div>
	</div>


	<div class="content-block noppading_print">
		<div class="container_12">
			<div class="grid_12">
				<div class="section_title nomargin">
					<h3 class="heading1">Your Service Quote</h3>
					<p>Simply select which services you require for your car.</p>
				</div>
			</div>
		</div>
		<div class="container_12 servicestable_wrapper">
			<div class="grid_2 hidden_before_l">&nbsp;</div>
			<div class="grid_8">
				<div class="grid_12">
					<table id="servicesTable" class="servicesTable">
						<tbody>
							<tr>
								<td class="check">
									<div class="checkbox">
										<input id="cb_checkbox_1" type="checkbox" name="checkbox_1" value="checkbox_1">
										<label for="cb_checkbox_1">&nbsp;</label>
									</div>
								</td>
								<td class="description">
									<p>Toyota Value Service</p>
									<p class="light_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</td>
								<td class="price">
									<p>&euro;145.00</p>
								</td>
							</tr>
							<tr>
								<td class="check">
									<div class="checkbox">
										<input id="cb_checkbox_1" type="checkbox" name="checkbox_1" value="checkbox_1">
										<label for="cb_checkbox_1">&nbsp;</label>
									</div>
								</td>
								<td class="description">
									<p>Hybrid Health Check</p>
									<p class="light_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</td>
								<td class="price">
									<p><strong>FREE</strong></p>
								</td>
							</tr>
							<tr>
								<td class="check">
									<div class="checkbox">
										<input id="cb_checkbox_1" type="checkbox" name="checkbox_1" value="checkbox_1">
										<label for="cb_checkbox_1">&nbsp;</label>
									</div>
								</td>
								<td class="description">
									<p>Brake Fluid</p>
									<p class="light_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</td>
								<td class="price">
									<p>&euro;45.00</p>
								</td>
							</tr>
							<tr>
								<td class="check">
									<div class="checkbox">
										<input id="cb_checkbox_1" type="checkbox" name="checkbox_1" value="checkbox_1">
										<label for="cb_checkbox_1">&nbsp;</label>
									</div>
								</td>
								<td class="description">
									<p>Rear Brake Pads (Value Service)</p>
									<p class="light_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</td>
								<td class="price">
									<p>&euro;120.00</p>
								</td>
							</tr>
							<tr>
								<td class="check">
									<div class="checkbox">
										<input id="cb_checkbox_1" type="checkbox" name="checkbox_1" value="checkbox_1">
										<label for="cb_checkbox_1">&nbsp;</label>
									</div>
								</td>
								<td class="description">
									<p>Iridium Spark Plugs and Safety Sense Check</p>
									<p class="light_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</td>
								<td class="price">
									<p><strong>FREE</strong></p>
								</td>
							</tr>
							<tr>
								<td class="check">
									<div class="checkbox">
										<input id="cb_checkbox_1" type="checkbox" name="checkbox_1" value="checkbox_1">
										<label for="cb_checkbox_1">&nbsp;</label>
									</div>
								</td>
								<td class="description">
									<p>Inspection 2 or 3rd Oil service (Value Service)</p>
									<p class="light_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</td>
								<td class="price">
									<p>&euro;125.00</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="grind_12">
					<div class="section_title">
						<h3 class="heading1">The total cost of your service is €<span id="total_amount">145.00</span></h3>
						<p>To avail of these prices please confirm <br/>your service through our <a href="#">website</a></p>
						<p class="light_text">All prices quoted include VAT, parts and labour.</p>
					</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="container_12 results_cta">
					<div class="grid_6">						
						<div class="submt-group">
							<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="bookservice">
								<a href="/ajax/forms" id="btbar_pane-service"  class="secContentTrigger uiBtn  smBtn redBtn fwBtn" >Book a Service</a><i class="icon icon-chevron-right"></i>
							</span>
						</div>
					</div>
					<div class="grid_6">
						<div class="submt-group"><a href="#" class="uiBtn  smBtn redBtn fwBtn printpage" >Print Quote</a><i class="icon icon-chevron-right"></i></div>
					</div>
					<div class="clearfix hidden_before_m">&nbsp;</div>
					<div class="grid_12">
						<div class="submt-group">
							<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="contactus">
								<a href="/ajax/find_dealer_frame" id="btbar_pane-dealer" class="secContentTrigger uiBtn  smBtn redBtn fwBtn lines_2" >Find your nearest Toyota Dealer/Authorised Repairer</a><i class="icon icon-chevron-right"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="grid_2 hidden_before_l">&nbsp;</div>
		</div>
	</div>

</div>
