<div class="darkBg content-block services_form" id="services_forms">
	<div class="car_detaisl_form">
		<div class="container_12">
			<div class="section_title">
				<h3 class="heading1">Enter Your Car Details</h3>
			</div>
		</div>
		
		<div class="clearfix">&nbsp;</div>
<!--		<div class="container_12 clearfix">
			<div class="grid_2 hidden_before_l">&nbsp;</div>
			<div class="grid_8">
				<div class="grid_12">
					<div class="action_group">
						<div class="buttonSelect clearfix grid_half">
							<a href="#" class="uiBtn smBtn greyBtn registration_control active">&nbsp;By Registration&nbsp;</a>
							<a href="3" class="uiBtn smBtn greyBtn model_control ">&nbsp;By Model&nbsp;</a>
						</div>
					</div>
				</div>
			</div>
			<div class="grid_2 hidden_before_l">&nbsp;</div>
		</div>-->
		
		<form id="registration_form" class="contactform clearfix">
			<div class="registration_group container_12 clearfix ">
				<div class="grid_2 hidden_before_l">&nbsp;</div>
				<div class="grid_8">
					<div class="grid_12">
						<div class="buttonSelect grid_half">
							<h4 class="title1">Registration</h4>
							<input  id="car_registration"  name="car_registration" type="text" placeholder="Enter Registration" data-validation="required"/>
							<div class="errorMessage" id="carRegError"></div>
							<div class="input-group"><input type="submit" class="uiBtn  smBtn redBtn fwBtn" id="regSubmit" value="Get a service quote"><i class="icon icon-chevron-right"></i></div>							
						</div>
					</div>
				</div>
				<div class="grid_2 hidden_before_l">&nbsp;</div>
			</div>
		</form>

		<form id="model_form" class="contactform clearfix">
			<div class="model_group clearfix">
				<div class="container_12">
					<div class="grid_2 hidden_before_l">&nbsp;</div>
					<div class="grid_8 ">
						<div class="container_12">
							<div class="grid_6 submenu_root">
								<h4 class="title1">Model</h4>
								<div class="select">
									<div class="value"></div>
									<i class="icon icon-chevron-down"></i>
									<select name="model" id="service-menu-model" data-validation="select"  data-cartell-menu-name="menu1">
										<option value="no_selection">Choose one</option>
										<?php 
//											global $cms_url;
//											$url = $cms_url."cartell/api.php?GetMenuOptions=true&menu0=TOYOTA";											 
//											$jsonString = file_get_contents($url);
//											$menu = json_decode($jsonString,true);
//											$options =	$menu["GetMenuOptions"]["MenuOptions"]["Option"];
//											foreach ($options as $value) {
//												echo "<option value='$value'>$value</option>";
//											}
										?>
									</select>
								</div>
							</div>
							<div class="grid_6 submenu_root">
								<h4 class="title1">Body Type</h4>
								<div class="select">
									<div class="value"></div>
									<i class="icon icon-chevron-down"></i>
									<select name="model" id="service-menu-body" data-validation="select" disabled="true"  data-cartell-menu-name="menu2">
										<option value="no_selection">Choose one</option>
									</select>
								</div>
							</div>

							<div class="grid_6 submenu_root">
								<h4 class="title1">Engine Size</h4>
								<div class="select">
									<div class="value"></div>
									<i class="icon icon-chevron-down"></i>
									<select name="model" id="service-menu-engine" data-validation="select" disabled="true"  data-cartell-menu-name="menu3">
										<option value="no_selection">Choose one</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="grid_2 hidden_before_l">&nbsp;</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="container_12">
					<div class="grid_2 hidden_before_l">&nbsp;</div>
					<div class="grid_8">
						<div class="buttonSelect grid_half getByModel">
							<div class="input-group"><input type="submit" id="getServicesByModel" class="uiBtn  smBtn redBtn fwBtn" value="Get a service quote"><i class="icon icon-chevron-right"></i></div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>