<?php $segs = ee()->uri->segment_array(); ?>
<div class="content-block" id="spotlightcarousel">
	<div class="container_12 carousel-offers slide section-sub-spotlights" id="spotlight-carousel">
		{{#each items}}
		<?php
		$href = ($segs[2] === "hybrid") ? "/hybrid{{{url}}}" : "{{{url}}}";
		$parseurl = parse_url($href);
		if (!isset($parseurl['host'])) {
			$href = "/pages" . $href;
		}
		?>
		<div class="grid_6">
			<div class="offer-spotlight element">
				{{#if thumbnail}}
				<a href="<?php echo $href; ?>" <?php if (isset($parseurl['host'])) echo "target='_blank'";?> ><img src="{external_url_images}{{thumbnail}}" alt="{{title}}"></a>
				{{/if}}
				{{#if title}}
				<h3 class="header1">
					<a href="<?php echo $href; ?>" <?php if (isset($parseurl['host'])) echo "target='_blank'";?> >{{{title}}}</a>
				</h3>
				{{/if}}
				{{#if description}}
				<p class="description">
					{{{description}}}
				</p>
				{{/if}}
			</div>
		</div>
		{{/each}}
		<div class="clear"></div>
	</div>
</div>