<div class="container_12 extraspace">
	<div class="grid_6">
		<div class="captcha_container" >
			<?php
			global $recaptchaToken;
			$sessionId = uniqid('recaptcha');
			$secureToken = $recaptchaToken->secureToken($sessionId);
			?>
			<div class="g-recaptcha" data-sitekey="6LdFzxcTAAAAAKSDS13NbH3EZi7_3cM8eMTTeXaZ" data-stoken="<?php echo $secureToken ?>"></div>
			<input type="checkbox" name="hiddencaptcha" data-validation-error-msg="Please check this box" class="hiddencaptcha" data-validation="required">
		</div>
		<input type="submit" class="uiBtn redBtn" value="Submit">
	</div>
	<div class="grid_6 legal">
		<p><strong>* Required Fields</strong></p><br>
		<p><i class="icon icon-info-sign"></i>&nbsp; The information that you submit will not be used or distributed for any reason other than to fulfill your request.</p>
	</div>
</div>
