<?php $segs = ee()->uri->segment_array(); ?>
<div class="greyBg">
<div class="container_12 content-block section-sub-spotlights ">
	<div class="padding"></div>
{{#each overview}}
<?php 
$href = ($segs[2] === "hybrid")? "/hybrid{{{url}}}" :"{{{url}}}";	
$parseurl = parse_url($href);
if(!isset($parseurl['host'])){
	$href = "/pages".$href;
}
?>
	<div class="grid_6">
        <div class="offer-spotlight element">
            {{#if pid.pid.taxonomy.image.binary.url}}<a href="<?php echo $href;?>" <?php if (isset($parseurl['host'])) echo "target='_blank'";?> ><img src="{external_url_images}{{pid.pid.taxonomy.image.binary.url}}" alt="{{title}}"></a>{{/if}}
            {{#if pid.pid.taxonomy.title}}
            <h3 class="header1">
                <a href="<?php echo $href;?>" <?php if (isset($parseurl['host'])) echo "target='_blank'";?> >{{{pid.pid.taxonomy.title}}}</a>
        	</h3>
        	{{/if}}
			{{#if pid.pid.taxonomy.description}}
			<p class="description">
				{{{pid.pid.taxonomy.description}}}
			</p>
			{{/if}}
        	<ul>
			    {{#each items}}
					<li><a href="/pages{{{url}}}"><strong>{{{title}}}</strong></a></li>
			    {{/each}}
			</ul>
        </div>
    </div>
{{/each}}
<div class="clear"></div>
</div>
</div>