<?php $rand=rand(10,100); ?>
<?php
$background='{{background}}';
$section='news';
if($background=='hybrid'){
    $section='hybrid';
}
?>
<div class="page-section spotlight-container content-block {{#if background}}spotlight-container-{{background}}{{/if}}" {{#if sectionInpageId}}id="{{sectionInpageId}}"{{/if}} data-id="#{{sectionInpageId}}">
<section id="moreabout-mod">
    <div class="container_12 clearfix read-more-rows" data-initial-rows="1">
        <div class="grid_12 center-text title-area">
                                <h2 class="heading1">Toyota Service Videos</h2>
            <a class="read-more-trigger no-js-hide" href="#PromoList<?php echo $rand; ?>">View all</a>
        </div>
        <div class="grid_row read-more-rows-container spotlight-wrapper" id="PromoList<?php echo $rand; ?>">
            <div class="slide-up-element grid_row isoForceHardwardCalc">        
                                {{#each main}}
                                        {{#each videos}}
                                                <?php
                                                        $url='{{video_url}}';
                                                        $id=str_replace('https://youtu.be/','',$url);
                                                        $title='{{title}}';
                                                        $img_url='http://img.youtube.com/vi/'.$id.'/mqdefault.jpg';
                                                        $videourl=str_replace('https://youtu.be/',' https://www.youtube.com/embed/',$url);
                                                       

                                                ?>
                                                <div class="more_about_item spotlight SecContentContainer" data-contenttype="ajax" data-name="{{title}}" data-id="video/video_{{@index}}" >
                                                        <a href="/ajax/videoloader?videourl=<?php echo $videourl; ?>" class="spotlight secContentTrigger" id="link_{{@index}}" data-rel="<?php echo $url;?>">
                                                                <?php
                                                                        echo "<img src='".$img_url."' style='width:100%;' alt='thumbnail' />";
                                                                ?>
                                                                <p>{{#if title}}<strong><?php echo html_entity_decode("{{title}}"); ?></strong>&nbsp;&nbsp;&nbsp;{{/if}}</p>
                                                        </a>
                                                </div>
                                        {{/each}}
                                {{/each}}
                <div class="clear"></div>        
            </div>
            <div class="slide-end"></div>
        </div>
    </div>
</section>
</div>