<div class="container_12 clearfix">
	<div class="center-text section-title">
		<h2 class="heading1">Why Choose Us?</h2>
	</div>
	<div class="clearfix ">&nbsp;</div>
	<div class="grid_4 center-text">
		<h3 class="heading3 padding">Trained Toyota Technicians</h3>
		<p>
			They will service your vehicle to the highest standards, using Toyota diagnostic equipment.
		</p>
		<span class="arrow_circle">
			<a class="icon icon-angle-right" href="#"></a>
		</span>
		<span class="print_link">
			<a class="icon icon-angle-right" href="http://services.toyota.ie/">http://services.toyota.ie/</a>
		</span>
	</div>
	<div class="grid_4 center-text">
		<h3 class="heading3 padding">Genuine Toyota Parts</h3>
		<p>
			We only ever fit Genuine Toyota parts, which have been designed and tested to our exacting standards. 
		</p>
		<span class="arrow_circle">
			<a class="icon icon-angle-right" href="#"></a>
		</span>
		<span class="print_link">
			<a class="icon icon-angle-right" href="http://services.toyota.ie/">http://services.toyota.ie/</a>
		</span>
	</div>
	<div class="grid_4 center-text">
		<h3 class="heading3 padding">Fixed Price Servicing Options</h3>
		<p>
			Toyota Dealers and Authorized Repairers now offer Value Service prices on a range of models.  
		</p>
		<span class="arrow_circle">
			<a class="icon icon-angle-right" href="#"></a>
		</span>
		<span class="print_link">
			<a class="icon icon-angle-right" href="http://services.toyota.ie/">http://services.toyota.ie/</a>
		</span>
	</div>
	<div class="clear">&nbsp;</div>
</div>
