<h1 class="container_12" >Buttons</h1>
<div class="container_12">
	<h4 class="show">standard</h4>
	<div>
		<a href="#btn" class="uiBtn  " >.uiBtn</a>
	</div>
	<h4 class="show">colors</h4>
	<div>
		<a href="#btn" class="uiBtn  greyBtn  " >.greyBtn</a>
		<a href="#btn" class="uiBtn  darkBtn  " >.darkBtn</a>
		<a href="#btn" class="uiBtn  blueBtn  " >.blueBtn</a>
		<a href="#btn" class="uiBtn  redBtn  " >.redBtn</a>
		<a href="#btn" class="uiBtn  yellowBtn  " >.yellowBtn</a>
	</div>

	<h4 class="show">others</h4>
	<div>
		<a href="#" class="uiBtn hasIcon darkBtn " ><i class="icon icon-chevron-right"></i> &nbsp;.hasIcon</a>
		<a href="#btn" class="uiBtn  smBtn darkBtn  " >.smBtn</a>
		<a href="#btn" class="uiBtn  lgBtn darkBtn  " >.lgBtn</a>
	</div>
	<h4 class="show">full width</h4>
	<div>
		<a href="#btn" class="uiBtn  blueBtn fwBtn " >.fwBtn</a>
	</div>
</div>

<h1 class="container_12" >Buttons Bar</h1>
<div class="center-text buttonsBar">
	<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="contactus2">
		<a href="./html/forms/forms.html" id="btbar_pane-contact" class="secContentTrigger uiBtn  redBtn  hasIcon" >
			&nbsp;&nbsp;Contact Us <i class="icon icon-chevron-right"></i>
		</a>
	</span>
	<a href="#btn" class="uiBtn  redBtn  hasIcon">&nbsp;&nbsp;New Cars<i class="icon icon-chevron-right"></i></a>
	<a href="#btn" class="uiBtn  redBtn  hasIcon">&nbsp;&nbsp;Assured Used Cars<i class="icon icon-chevron-right"></i></a>
	<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="bookservice2">
		<a href="./html/forms/forms.html" id="btbar_pane-service" class="secContentTrigger uiBtn  redBtn  hasIcon">
			&nbsp;&nbsp;Request service<i class="icon icon-chevron-right"></i>
		</a>
	</span>
</div>