<!--
Component details

Name: Quick spec
ID: c_t2_005
Version number: 1.2
Location(s): Feature header, others TBC
Child components: none
URL: http://toyota-stage.amaze.com/html/components/tier2/quickspec.html
Description

A small overview of a cars specifications
-->
<div class="grid_12">
	<aside class="quick-spec">
		<div class="header">
			<h3 class="spec-heading">From &#8364;18,050</h3> 
			<a href="#prices" class="spec-link">View prices</a>
		</div>
		<table>
			<caption class="hidden">Car price list</caption>
			<thead>
				<tr>
					<th style="width:33%">cons. <br /> from</th>
					<th style="width:33%">CO2 <br /> from</th>
					<th style="width:33%">Power</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><strong>7,1</strong> l/100 km</td>
					<td><strong>164</strong> g/km</td>
					<td><strong>200</strong> DIN hp</td>
				</tr>
			</tbody>
		</table>          
	</aside>

	<!-- Blue varient -->
	<aside class="quick-spec blue">
		<div class="header">
			<h3 class="spec-heading">From &#8364;18,050</h3> 
		</div>
		<table>
			<caption class="hidden">Car price list</caption>
			<thead>
				<tr>
					<th style="width:33%">cons. <br /> from</th>
					<th style="width:33%">CO2 <br /> from</th>
					<th style="width:33%">Power</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><strong>7,1</strong> l/100 km</td>
					<td><strong>164</strong> g/km</td>
					<td><strong>200</strong> DIN hp</td>
				</tr>
			</tbody>
		</table>          
	</aside>

	<!-- Yellow variant -->
	<aside class="quick-spec yellow">
		<div class="elastic-header">
			<h3 class="spec-heading dark">Auris Edition</h3>
			<div class="offer-link-container">
				<a href="#prices" class="offer-link">All auris offers</a>
			</div>
		</div>
		<div class="price-container">
			<p>from</p>
			<p class="large-price">&#8364;12,950</p>
			<p>Valid until 01/09/13</p>
		</div>
		<div class="info-container">
			<p>Available with &#8364;1000 of extra equipment</p>
		</div>
	</aside>

	<!-- Disclaimer text -->
	<aside class="quick-spec-disclaimer" data-open-text="View discalimer" data-close-text="Close">
		<div class="disclaimer-text">
			<p>*The combined figures quoted are sourced from official EU-regulated test results obtained through laboratory testing. These are provided for comparability purposes and may not reflect your actual driving experience.</p>
		</div>
	</aside>
</div>