<!--
Component details

Name: Review Summary Promo
ID: c_t2_004
Version number: 1.0
Location(s): Feature header, others TBC
Child components: none
url: http://toyota-stage.amaze.com/html/components/tier2/reviewsummarypromo.html

Description

A small promotion linking to full owner reivews, currently used within a feature window
-->


<aside class="review-summary-promo">
	<div class="rating-scale5">
		<!--change the width to change the rate-->
		<span class="rating" style="width: 80%"></span>
	</div>
	<span>4 out of 5</span>
	<a href="#review">Read owner reviews</a>
</aside>

