<!--
Component details

Name: Save and Share widget
ID: c_t2_009
Version number: 1.0
Child components: none

URL: http://toyota-stage.amaze.com/html/components/tier2/saveandshare.html

Description

A small button that opens a share or save box.
-->


<!-- Top opening share tools -->
<div class="share-tools open-top">
	<div class="tool-box">
		<a href="#save" class="share-item">Save</a>
		<a href="#share" class="share-item">Share</a>
	</div>
</div>

<!-- Right opening share tools -->

<div class="share-tools open-right">
	<div class="tool-box">
		<a href="#save" class="share-item">Save</a>
		<a href="#share" class="share-item">Share</a>
	</div>
</div>


<!-- Bottom opening share tools -->

<div class="share-tools open-bottom">
	<div class="tool-box">
		<a href="#save" class="share-item">Save</a>
		<a href="#share" class="share-item">Share</a>
	</div>
</div>


<!-- Left opening share tools -->
<div class="share-tools open-left">
	<div class="tool-box">
		<a href="#save" class="share-item">Save</a>
		<a href="#share" class="share-item">Share</a>
	</div>
</div>
