<div class="master-wrapper">
	<footer>
		<div class="footer-container isoForceHardwardCalc">	
			<div class="footer">
				<div class="container_12">
					<div class="grid_6">
						<ul>
							<li class="link"><a href="//www.toyota.ie/index.json#/iframe/http%3A%2F%2Fassuredusedcars.toyota.ie%2Fforms%3Fform%3Dcontactus" target="_blank">Contact Us</a></li>
							<li class="link"><a href="//www.toyota.ie/legal.json" target="_blank">Legal Notice</a></li>
							<li class="link"><a href="//www.toyota.ie/#/ajax/http%3A%2F%2Fwww.toyota.ie%2Fsys%2Fe-privacy%2Fsettings" target="_blank">e-privacy settings</a></li>
							<li class="link"><a href="//www.toyota.ie/models/index.json#/ajax/http%3A%2F%2Fwww.toyota.ie%2Fglossary" target="_blank">Glossary</a></li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="grid_6 social-buttons">
						<div class="socialWrapper">
							<a class="social-button social-button-facebook" href="//www.facebook.com/ToyotaIreland" target="_blank">
	<!--        <i class="icon icon-facebook"></i>-->
							</a>
							<a class="social-button social-button-twitter" href="//twitter.com/toyotaireland" target="_blank" >
						<!--        <i class="icon icon-twitter"></i>-->
							</a>
							<a class="social-button social-button-youtube" href="//www.youtube.com/toyotaireland" target="_blank" >
						<!--        <i class="icon icon-youtube"></i>-->
							</a>
							<a class="social-button social-button-linkedin" href="//www.linkedin.com/company/toyota-ireland" target="_blank">
					<!--		<i class="icon ">in</i>-->
							</a>
						</div>
					</div>
					<div class="clear"></div>
                    <?php

                    if(defined("FINANCE_BOX")){
                        ?>
                        <div class="row">
                            <div class="grid_12">
                                <p class="copyright">Toyota Flex Finance Terms & Conditions</p>
                                <p class="copyright">*Lending criteria and terms and conditions apply. Figures are indicative and the quotation is for illustrative purposes only and does not constitute a contract. Finance is provided by way of a hire purchase agreement. Finance example is based on a fixed rate APR of 8.9% as shown above which is inclusive of a once off documentation fee of €63.49. Rate quoted is correct as at the above date and is subject to change. The weekly amount is shown for illustrative purposes only, all instalments are payable monthly. The credit provider is Bank of Ireland Finance which is a registered trading name of Bank of Ireland.</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <?php
                    }
                    ?>
					<div class="row">
						<div class="grid_12">
							<p class="copyright">Copyright © Toyota Ireland</p>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<?php $build_number = file_get_contents(BASEPATH."../../../inc/build-number.txt","utf-8")?>
<?php if($_SERVER["REMOTE_ADDR"] === "127.0.0.1" || $_SERVER["REMOTE_ADDR"] === "::1" || isset($_GET["DEBUG"]) ){ ?>
	<!-- ################### LOCALHOST ################### -->
	<script src="//local.cms1toyota.ie/inc/js/libs.js?build=<?= $build_number ?>"></script>
	<script src="//local.cms1toyota.ie/inc/js/main.js?build=<?= $build_number ?>"></script>
	<!--[if lt IE 9]> <script src="//local.cms1toyota.ie/inc/js/ie8.js"></script> <![endif]-->
	<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
<?php }elseif($_SERVER["HTTP_HOST"] === "assuredusedcarstest.toyota.ie"){ ?>
	<!-- ################### TEST ################### -->
	<script src="//developmenttest.toyota.ie/inc/js/libs.js?build=<?= $build_number ?>"></script>
	<script src="//developmenttest.toyota.ie/inc/js/main.js?build=<?= $build_number ?>"></script>
	<!--[if lt IE 9]> <script src="//developmenttest.toyota.ie/inc/js/ie8.js"></script> <![endif]-->
	<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
<?php }elseif($_SERVER["HTTP_HOST"] === "assuredusedcarslocal.toyota.ie"){ ?>
	<!-- ################### DEVELOPMENT SERVER ################### -->
	<script src="//local.cms1toyota.ie/inc/js/libs.js?build=<?= $build_number ?>"></script>
	<script src="//local.cms1toyota.ie/inc/js/main.js?build=<?= $build_number ?>"></script>
	<!--[if lt IE 9]> <script src="//local.cms1toyota.ie/inc/js/ie8.js"></script> <![endif]-->
	<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
<?php }else{ ?>  
	<!-- ################### LIVE SERVER ################### -->
	<script src="//development.toyota.ie/inc/js/libs.js?build=<?= $build_number ?>"></script>
	<script src="//development.toyota.ie/inc/js/main.js?build=<?= $build_number ?>"></script>
	<!--[if lt IE 9]> <script src="//development.toyota.ie/inc/js/ie8.js"></script> <![endif]-->
	<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
<?php } ?>  

<script type="text/javascript">stLight.options({publisher: "beeac92e-6cdb-46cc-9d56-876fd7dab5d1", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id))
			return;
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript" src="//www.toyota-europe.com/sys/inc/lib/responsiveiframe.js"></script>
</body>
</html>