.fixedfix { position: absolute !important; }

.master-wrapper { position: relative; top: -22px; }

.caps { text-transform: uppercase; }
.centered { margin: 0 auto !important; float: none !important; }
.image { width: 100%; display: block; margin-bottom: 1.5em;}
.right { float: right !important; }

/*
	grey_light:	#E7E7E7
	grey: 		#DEDFE0
	grey_med: 	#AAAAAA
	grey_dark:  #141517
	red: 		#CC0033

*/

.heading1, h1 { font-size: 4.13em; line-height: 1.09em; margin-bottom: 0.6em; }
.heading2, h2 { font-size: 2.5em; line-height: 1.2em; margin-bottom: 1em; font-family: toyotadisplay_bd; }
.heading4, h4 { font-size: 1.88em; }
h5 { font-size: 1.06em; font-family: toyotatext_bd; margin-bottom: 0.6em; }

p { font-size: 1.5em; line-height: 1.25em; margin-bottom: 1em; }
p.small { font-size: 0.94em; color: #6C7073; }

.hashtag { font-size: 2.13em; line-height: 1.18em; margin-bottom: 0.6em; font-family: toyotatext_bd; }

.icons { font-size: 2.5em;}
i.icon-twitter { margin-right: 0.2em; }

.rosette { position: relative; width: 23%; margin: 0 auto 3em; }
	.rosette .text { position: absolute; top:14%; width: 64%; margin: 0 19%; }

.section { background:#fff; }
	.section-top { padding-bottom: 5em; }

	.section.section-red { background:#CC0033; color: #fff; }
		.section.section-red h1,
		.section.section-red h2,
		.section.section-red h3,
		.section.section-red h4,
		.section.section-red p { color:#fff; }

	.section .padding { padding: 6em 0; }

.nomination-quote { position: relative; }


.navigation-links { list-style: none; }
.navigation-link { margin-bottom: 1em; }
.navigation-link img { width: 100%; }
.navigation-link a:hover .padding {  background-color: rgba(255,255,255,0.15); }
.navigation-link a .padding { transition: all 0.66s ease; padding: 1em; background-color: rgba(255,255,255,0.1); }
.navigation-link .padding .image { margin-bottom: 1em; }
.navigation-link .padding .link { color: #fff; font-size: 25px; display: block; }

.logo img { width: 100%; display: block; }
.logo_badge { width: 40%; margin: 0 auto; margin-bottom: 3em; }
.logo_badge.small { width: 22%; }

.primary-nav { z-index: 100; }
.page-transition-slider { z-index: 200 !important; }
.bg-par .bg-par-inner .heading1 { margin-bottom: 0.5em; }


.primary-nav-outer .large-nav .search-container { display: none; }
.menu-open .primary-nav-outer .breadcrumb { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; }

.play-icon-large { display: block; }

@media only screen and (min-width: 0em){
	.play-icon-large { display: inline-block !important; margin-top: 14%; }
	.heading1, h1 { font-size: 2.13em; }
	.heading2, h2 { font-size: 24px; line-height: 26px; }
	.heading4, h4 { font-size: 19px; line-height: 20px; }

	.hashtag { font-size: 1.5em; }

	.rosette { width: 40%; margin: 0 auto 1.5em; }

	p { font-size: 1em; }

	.section-top { padding-bottom: 2em; }
	.section .padding { padding: 2.5em 0; }

	.logo_badge { width: 70%; margin: 0 auto; margin-bottom: 3em; }
	.logo_badge.small { width: 40%; }
}

@media only screen and (min-width: 30em){
	.logo_badge { width: 40%; }
	.rosette { width: 20%; }
}

@media only screen and (min-width: 48em){
	.heading1, h1 { font-size: 4.13em; }
	.heading2, h2 { font-size: 2.5em; line-height: 1.2em; margin-bottom: 1em; }
	.heading4, h4 { font-size: 1.88em; }

	.hashtag { font-size: 2.13em; }

	.rosette { width: 23%; margin: 0 auto 3em; }

	p { font-size: 1.5em; line-height: 1.25em; margin-bottom: 1em; }

	.section-top { padding-bottom: 5em; }
	.section .padding { padding: 6em 0; }

	.logo_badge { width: 40%; margin: 0 auto; margin-bottom: 3em; }
	.logo_badge.small { width: 22%; }
}

@media only screen and (min-width: 62em){
	
}

@media only screen and (min-width: 70em){
	
}




