// @import "corolla";

@import "uploadify";
@import "uploadifive";
@import "allthings";
@import "imageControls";

.uiBtn { cursor:pointer; }
.uiBtn.greyBtn { background: #e8e9ea; background-image: linear-gradient(to top, #e8e9ea, white); }

