<div class="nav-content">
    <nav id="main_menu">
        <div class="container_12 navigation-menu clearfix">
            <ul class="model-list grid_6 full_before_l">
                {exp:json_feed:render_html template="nav/car"}
                    {exp:json_feed:print_feed src="{insecure_site_url}/api/new-cars" section="items"}
                {/exp:json_feed:render_html}
            </ul>
            <ul class="grid_3 link-list">
                                    
                <li class="menu-link-block">
                    <div class="padding">
                        <a class="title" href="/">Explore site</a>
                        <ul>
                            <li><a href="/pages/new-cars">New cars</a></li> 
                            <li><a href="/pages/assured-used-cars">Assured used cars</a></li>
                            <li><a href="/pages/offers">Offers</a></li>
                            <li><a href="/pages/news">News & Events</a></li>
                            <li><a href="/pages/hybrid">Hybrid</a></li>
							<li><a href="/pages/service-and-accessories"><span style="text-transform:none">Service and accessories</span></a></li>
							{exp:low_reorder:entries set="menu" disable="member_data|category_fields"}
								  {if title}
                                  <li><a href="/pages/{url_title}">{title}</a></li>
								  {/if}
                            {/exp:low_reorder:entries}
                        </ul>
                    </div>
                </li>
<!--				<li class="menu-link-block">
                    <div class="padding">
                        <ul>
                            <li><a href="/pages/hybrid">Hybrid</a></li>
							<li><a href="/pages/service-and-accessories">Service and Accessories</a></li>
                        </ul>
                    </div>
                </li>-->
            </ul>
            <ul class="grid_3 link-list">
                <li class="cta-nav-block">
                    <div class="padding">
						<ul >
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="contactus">
								<a class="secContentTrigger" href="/ajax/forms" id="pane-contact">
									<span>Contact us</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</li>
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="getdirections">
								<a class="secContentTrigger" href="/ajax/forms" id="pane-directions">
									<span>Get directions</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</li>
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="tequestbroch">
								<a class="secContentTrigger" href="/ajax/forms" id="pane-brochure">
									<span>Request a brochure</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</li>
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="booktestdrive">
								<a class="secContentTrigger" href="/ajax/forms" id="pane-test-drive">
									<span>Arrange a test drive</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</li>
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="bookservice">
								<a class="secContentTrigger" href="/ajax/forms" id="pane-service">
									<span>Book a service</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</li>
                            <li class="search-slide hidden_after_m" style="display:none">
                                <input class="search" type="text" placeholder="Search Toyota">
                                <a href=""><i class="icon icon-search"></i></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu-link-block">
                    <div class="padding">
                        <a class="title" href="/">Toyota information</a>
                        <ul>
                            <li><a href="http://www.toyotatlc.ie/login" target='_blank'>Toyota Loyalty Club</a></li>
                            <!--li><a href="#" target='_blank'>Price List</a></li-->
                            <li><a href="http://finance.toyota.ie" target='_blank'>Toyota Car Finance</a></li>
                        </ul>
                    </div>
                </li>
                <li class="social-buttons">
                    {exp:json_feed:render_html src="{insecure_site_url}/api/generic_settings" template="components/social_links" section="social_links"}
                </li>
            </ul>
        </div>
    </nav>

    <div class="container_12 disclaimer">
        <div class="grid_12">
            <p>The prices shown could be part of a promotion. &nbsp;<a  href="/pages/offers" class="special-offer">Learn more 
<!--					<i data-icon="&#xf02b;" class="icon-tag icon"></i>-->			
				</a></p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">	
	// Secondary Content bindings
	$('#main_menu .SecContentContainer').each(function() {
		$(this).SecondaryContent({
			"sectionIDs": $(this).data("id").split("/"),
			"mode": $(this).data("contenttype"),
			"cGroupName": $(this).data("name"),
			"translations": TranslationManager.getLocalTranslations()
		});
	});
</script>
