<footer id="footerBlock">
	<div class="footer-container isoForceHardwardCalc">	
		<div class="footer">
			<div class="container_12 force">
				<div class="row">
					<div class="grid_6">
						<ul>
							{exp:channel:entries channel="disclaimer|privacy|contact_us" dynamic="no"}
							<li class="link"><a href="/pages/{url_title}">{title}</a></li>
							{/exp:channel:entries}
							<li class="link"><a class="hasIcon return_menu" href=""><span>Back to top</span><i class="icon icon-chevron-up"></i></a></li>
							<li style="link"><a href="">&nbsp;</a></li>
						</ul>
						<div  class="clear"></div>
					</div>
					<div class="grid_6">
						<ul class="align-right">
							<li class="link"><a href="http://www.cartell.ie/" target="_blank"><img src="/assets/images/cartell_poweredby.png" alt="powered by cartell"></a></li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				{if segment_1 == ""}
				<div class="row">
					<div class="grid_12">
						<div class="TandC">
							<p class="question support"><strong>Terms &amp; Conditions</strong></p>
							<p class="">Prices are correct as of November 1st 2015. Offers are only available at participating Authorised Toyota Dealers /  Repairers. All prices shown are Recommended Retail Price,  participating Authorised Toyota Dealers / Repairers can charge a lower price. Prices quoted are valid for 7 days from date of query. For more information please contact your local Authorised Toyota Dealer /  Repairer. Toyota Ireland reserves the right in their absolute discretion to add to or waive any rule without prior notice to customers and, in the event of circumstances beyond their control, to cancel a service booking at any stage</p>
						</div>
					</div>
				</div>
				{/if}
				<div class="row">
					<div class="grid_12">
						<br>
						<p class="copyright">Copyright &copy; Toyota Ireland</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="row">

					<div class="grid_3 social-buttons">
						{exp:json_feed:render_html src="{insecure_site_url}/api/generic_settings" template="components/social_links" section="social_links"}
					</div>
					<div class="grid_9 hidden_before_l">
						<ul class="buttons">
							<li class="button">
								<a class="uiBtn greyBtn hasIcon hasIconRight" href="http://finance.toyota.ie" target='_blank'>
									<span>Toyota&nbsp;Car&nbsp;Finance</span>&nbsp;<i class="icon icon-car2"></i>
								</a>
							</li>
							<!--							<li class="button">
															<a class="uiBtn greyBtn hasIcon hasIconRight" href="" target='_blank'>
																<span>Price&nbsp;List</span>&nbsp;<i class="icon icon-file-alt"></i>
															</a>
														</li>-->
							<li class="button">
								<a class="uiBtn greyBtn hasIcon hasIconRight" href="http://www.toyotatlc.ie/login" target='_blank'>
									<span>Toyota&nbsp;Loyalty&nbsp;Club</span>&nbsp;<i class="icon icon-star"></i>
								</a>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
</div>
<div id="cookieWaning">
    <div class="container_12">
		<div class="grid_12">
			<strong>Our E-Privacy policy</strong>
			<p class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="info">We use cookies on our website to provide you with a better service.&nbsp; If you are happy with this continue to use the website as normal. 
				Find out more about 
				<a href="/ajax/cookies" data-target="cookies" class="cookies-link secContentTrigger">how we use cookies.</a>
			</p>
			<a href="#" id="cookie-close">Close <i class="icon icon icon-remove"></i></a>
		</div>
    </div>
</div>
<?php if ($_SERVER["REMOTE_ADDR"] === "127.0.0.1" || $_SERVER["REMOTE_ADDR"] === "::1" 
		|| isset($_GET["DEBUG"]) || $_SERVER["HTTP_HOST"] ===  "test.toyotaservice.ie") { ?>
<!-- ################### LOCALHOST ################### -->
	<script src="http://test.toyotaservice.ie/assets/js/libs.js"></script>
	<script src="http://test.toyotaservice.ie/assets/js/main.js"></script>
	<!--[if lt IE 9]> <script src="http://test.toyotaservice.ie/inc/js/ie8.js"></script> <![endif]-->
<?php } else { ?>	
	<!-- ################### LIVE SERVER ################### -->
	<script src="http://toyotaservice.ie/assets/js/libs.min.js"></script>
	<script src="http://toyotaservice.ie/assets/js/main.min.js"></script>
	<!--[if lt IE 9]> <script src="http://toyotaservice.ie/inc/js/ie8.js"></script> <![endif]-->
<?php } ?> 	
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "beeac92e-6cdb-46cc-9d56-876fd7dab5d1", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id))
			return;
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>