<div class="primary-nav">
    <div class="primary-nav-outer">
        <div class="container_12 clearfix">
            <a href="{insecure_site_url}" class="logo-link">
                <img src="{cms_url_tserv}assets/images/logo.png" alt="Toyota" width="94" height="152" />
                <span class="small-logo"></span>
            </a>
            <div class="grid_12">
                <ul class="large-nav dropdownnav">
                    <li>
                        <a href="/nav/menu" id="main_menu_trigger">
                            <span class="link hidden_before_m"><strong>Menu</strong></span>&nbsp;<i class="icon icon-chevron-down hidden_before_l"></i>
                            <i class="icon icon-reorder hidden_after_m"></i>
                        </a>
                        <ul class="search-container">
                            <li class="search-slide hidden_before_m" style="display: none">
                                <input class="search" type="text" autocomplete="off" placeholder="Search Toyota" />
                                <i class="icon icon-search"></i>
                            </li>
                        </ul>
                    </li>
                </ul>
				 <ul class="breadcrumb hidden_before_m">
                    <?php
                        $segs = ee()->uri->segment_array();
                        $i=0;

                        if(!count($segs)) echo "<li class='active' ><a href='{insecure_site_url}'><span>Home</span></a><i class='sprite-menu-dark-arrow'></i></li>";
                        else {
                            echo "<li><a href='{insecure_site_url}'><span>Home</span></a><i class='slash'>/</i></li>";

                            if(count($segs)>3) {

                                    $final=array_slice($segs, -1, 1);

                                    if(strtolower($final[0])=='index.json'){

                                         $final=array_slice($segs, -2, 1);
                                    }

                                    $final=str_replace('.json','',$final[0]);

                                    $segs=array_slice($segs, 0, 3);

                                    $parent="";
                                    
                                    foreach ($segs as $segment)
                                    {
                                        $parent.=$segment.'/';
                                        if( $segment!="pages" && $segment!="hybrid-innovation" && $segment!="new-car-details" && $segment!=$final && strpos($segment,'-article')===false ) {
                                                echo "<li><a href='/".$parent."'><span>".ucfirst(str_replace("-"," ",$segment))."</span></a><i class='slash'>/</i></li>";
                                            }
                                    }
                                    echo "<li class='active'><a href='/'><span>".ucfirst(str_replace("-"," ", $final))."</span></a><i class='sprite-menu-dark-arrow'></i></li>";

                            }else{

                                    $parent="";
                                    $i=1;
                                    
                                    foreach ($segs as $segment)
                                    {
                                        $parent.=$segment.'/';
                                        
                                        if( $segment!="pages" && strpos($segment,'-article')===false  && $i<count($segs)) {

                                            if( $segment=='assured-used-car-details') {
                                                $parent='pages/assured-used-cars/';
                                                $segment='assured-used-cars';
                                            }
                                            echo "<li><a href='/".$parent."'><span>".ucfirst(str_replace("-"," ",$segment))."</span></a><i class='slash'>/</i></li>";
                                        
                                        
                                        }elseif($i==count($segs)) 
                                            
                                            echo "<li class='active'><a href='/'><span>".ucfirst(str_replace("-"," ", $segment))."</span></a><i class='sprite-menu-dark-arrow'></i></li>";

                                        $i++;
                                    }




                            }


                        }


                    ?>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="main_nav"></div>