/* ################# main menu ###################### */
.primary-nav-outer .large-nav li.search-slide .search{
	width: 280px;
}
.cta-nav-block{
	width: 100%;
}

.primary-nav .logo-link{
	position:relative;
	margin-bottom: -100%;
}
#main_menu_trigger i{
	display: none;
}

/* ################# hero ###################### */
.bg-image-hero .hero-inner{
	display: block;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	margin: 0 0 0  8%;
}





/* ###################### buttons fix ##################### */
/* no icons displayed in ie7 */
/*.uiBtn.hasIcon { padding: 11px 14px 16px 14px; text-decoration: none;  font-size: 15px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,.15), inset 0 0 1px rgba(30,42,50,.5);}*/
.uiBtn.hasIcon i{display:none ;margin:0;padding: 0;width: 0;height: 0;}




/* ################# top features & spotlights ###################### */
.top-feature .header-block .button-right-container,
.parallax-layer .header-block .button-right-container {
	position:absolute;
	top:20px;
	right: 0;
	padding: 0;
}
.spotlight-container .wrapper{
	width: 960px;
	margin: 0 auto;
}

.spotlight-container .more_about_item{
	float:left;
}

.filter-bar .fb-list{
	width: 430px;
	margin-left: -50%;
}
.filter-bar .fb-inner{
	margin-left: 50%;
}
.container_12 .filter-bar{
	margin-top: 2em;
}
.fc-group-container{
	margin-top: 50px;
}
/* ################# quiq spec ###################### */
.quick-spec { 
	background-color: #1e2a32;  
	width: 250px
}
.quick-spec-disclaimer { 
	background-color: #333; 
	width: 800px;
}
/* ################# dynamic-cta ###################### */
.dynamic-cta .cta-list li { 
	display: inline; margin: 0 10px; 

}



/* ################# filterable ###################### */
.fc-group-content {
	text-align: left;
	padding: 0 20px;
}

.filterable-content .item {
	position: relative;
	display: block;
	float: left;
	text-align: left;
	width: 230px;
	padding-right: 5px;
	vertical-align: top;
	margin-bottom: 20px;
}

.filter-bar .fb-list { 
	border: none; 
	background: transparent;
}

/* ################# filterable ###################### */
.review-summary-promo {
	border: 1px solid #f0f0f0;
}



/* ################ carousel ####################### */
.carousel-nav{
	display: none !important;
}


/* ################ social-tools ####################### */

.social-box{
	padding-bottom: 20px;
}
.social_box_wrapper {
	top:-130px;
}
.like.social_box_wrapper {
	top:-87px;
}
.like.social_box_wrapper .social-box{
	padding-top: 20px;
}
.stButton{
	margin-top: 5px;
}

/* ################# forms ###################### */
input, .select{
	width: 94%;
	padding-bottom: 14px;
	padding: 10px 2% 13px 2%;
	border-width: 1px;
	margin:0;
	margin-bottom: 1.2em;
}
.select{
	padding-top: 0;
	padding-bottom: 0;
}