/* ################# main menu ###################### */

#main_menu_trigger .icon-chevron-down, #main_menu_trigger .icon-chevron-up{
	padding-left: 3px;
}
#main_menu_trigger .icon-reorder{
	display: none;
}
#main_menu .model-item{
	min-width: 175px;
}
.cta-nav-block .search-slide{
	display: none;
}
/* ################# top features fix ###################### */
.top-feature .header-block,
.parallax-layer .header-block {
	width: 100%;
	height: 100px;
	position: absolute;
	top: -160px;
	left:0;
}

.top-feature .header-block,
.parallax-layer .header-block {
	height: 100px;
}

.top-feature .header-block .button-right-container,
.parallax-layer .header-block .button-right-container {
	position:absolute;
	top:30px;
	right: 0;
}
/* ###################### buttons fix ##################### */
.uiBtn{
	color: #6c7073; 
	background: #f0f0f0;
	line-height: 55px
}
a.uiBtn:hover,
.uiBtn.active,
a.uiBtn:active { background:#e8e9ea; color: #6c7073;}

.uiBtn.greyBtn {
	color: #6c7073; 
	background: #f0f0f0; 
}
a.uiBtn.greyBtn:hover,
.uiBtn.greyBtn.active,
a.uiBtn.greyBtn:active { background:#e8e9ea; color: #6c7073; }
.buttonsBar .uiBtn{
	min-width: 150px;
}

/* ################ hero headers ####################### */


.hero-inner .playBtn{
	display:none;
}
.bg-image-hero .coverBG { height: 570px; }
.bg-image-hero.bg-image-hero-med .coverBG  { height: 360px; }
.bg-image-hero.bg-image-hero-small .coverBG { height: 145px; }

/* ################ carousel ####################### */

.carousel-bg .carousel-arrow{
	background-color: #495258;
}
.carousel-bg .carousel-arrow:hover{
	background-color: #394248;
}

/* ################ spotlight & topfeatures ####################### */
.spotlight img{
	width: 100%;
}
.top-feature .header-block .button-right-container{
	top:-10px;
}

/* ################ grids ####################### */
.container_12.container_12 .grid_3{
	width: 22.5%;
}
.container_12.container_12 .grid_6{
	width: 47.5%;
}
/* ################ footer ####################### */
.social-tools-section{
	padding:40px 0;
}
.master-wrapper .footer-container{
	background-color: #f8f8f8 ;
	font-size: 13px;
}
.master-wrapper .footer-container .greyBtn{
	font-size:15px;
}
.footer-container .grid_9.hidden_before_l{
	width: 70%;
	padding: 0;
	margin: 0;
}


/* ################ search results ####################### */

.results.grid .result {
    width: 48%;
    float: left;
    margin-right: 4%;
}
.results.grid .result .image, .results.grid .result .content {
    width: 100%;
    float: none;
}
.results.grid .result .image {
    margin-bottom: 0.6em;
}
.results.grid .result .content .padding {
    margin-right: 0;
}
.results.grid .result .content h5 {
    font-size: 18px;
}
.results.grid .result .content h5 i {
    display: inline;
}
.results.grid .result .content .price {
    background: #CC161E;
    background: rgba(204, 33, 30, 0.75);
    color: #fff;
    top: 10px;
    left: auto;
    right: 0;
    padding: 8px 10px;
    font-size: 19px;
    border-radius: 3px;
    font-family: toyotatext_rg;
}
.results.grid .result .content .price strong {
    font-weight: normal;
}
.results.grid .result .content .view-car {
    display: none;
}
.results.grid .result.right {
    margin-right: 0;
}