{header}
<div class="page404">
	<header class="parallax header-container padding-large">
		<div class="bg-image-hero">
			<div class="coverBG" style="background-image: url('http://development.toyota.ie/inc/images/404.png');"></div>
			<div class="hero-inner container_12 container_12_absolute ">
				<h1 class="heading1">Took a wrong turn?</h1>
				<span class="heading2">The page you requested can not be found</span>
			</div>
		</div>
	</header>
	<div class="container_12 content-block">
		<div class="grid_12  ">
			<span class="heading2 ">You can visit the <a href="/">Homepage</a> or one of our popular Pages!</span>
		</div>
	</div>
	<div class="common_pages content-block ">
		<section>
			<div class="container_12 clearfix read-more-rows" data-initial-rows="1">
				<div class="grid_12  title-area">
					<h2 class="heading1">Popular Pages</h2>
				</div>


				<div class="grid_4 ">
					<a href="/" class="spotlight ">
						<strong class="heading2 ">Homepage</strong>
					</a>
					<p>Driver take me home.</p>
				</div>
				{exp:channel:entries channel="service_and_accessories" disable="member_data|pagination|trackbacks" status="Open"} 
				<div class="grid_4 ">
					<a href="/pages/{url_title}" class="spotlight ">
						<strong class="heading2 ">Service and Accessories</strong>
					</a>
					<p>{subtitle}</p>
				</div>
				{/exp:channel:entries}
				<div class="grid_4 ">	
					<span class="SecContentContainer" data-contenttype="ajax" data-name="404 Page" data-id="booktestdrive">
						<a class="secContentTrigger spotlight" href="/ajax/forms" id="pane-contact">
							<strong class="heading2 ">Contact Us</strong>
						</a>
						<p>Have a question or something you would like to share with us? Get in touch.</p>
					</span>
				</div>
				<div class="clear"></div> 
				
				<div class="grid_6 ">
					<a href="/pages/offers" class="spotlight " data-rel="/world-of-toyota/articles-news-events/2014/mewe-design-award.json">
						<strong class="heading2 ">Latest offers</strong>	
					</a>
					<p>Why not take a look at what offers we have across the Toyota range.</p>
				</div>						
				<div class="grid_6">
					<a href="/pages/new-cars" class="spotlight ">
						<strong class="heading2 ">New Cars</strong>
					</a>
					<p>Discover the range of Toyota.</p>
				</div>


				<div class="clear"></div>        
			</div>
			<div class="slide-end"></div>



		</section>
	</div>
</div>
{footer}