{header}
<header class="header-container gray">
	<div class="bg-image-hero bg-image-hero-small ">
		<div class="coverBG" style="background-image: url({cms_url}inc/images/used_cars_header.jpg);"></div>
	</div>
</header>
<div class="ajax-content" id="featured_section" rel='/ajax/featured-used-cars/{dealer_id}/?grey'>
</div>
<div class="padding">&nbsp;</div>
<div class="container_12 content-block" id="searchComponent">
	<div class="grid_12">
		{carsearch}
		<div class='full_before_m search_result'>
			<!--			<div class="section_title">
							<h2 class="heading1">Assured Used Cars</h2>
						</div>-->
			<div class="search-info">
				<p>Showing  &nbsp;<strong id="numvisible"></strong>&nbsp; of &nbsp;<strong id="numtotal"></strong>&nbsp; results</p>
				<div class="view-buttons hidden_before_m">
					<a href="#" class="show-list uiBtn greyBtn smBtn leftside hasIcon active">
						<i class="icon icon-list-ul"></i>List view
					</a><a href="#" class="show-grid uiBtn greyBtn smBtn rightside hasIcon">
						<i class="icon icon-th-large"></i>Gallery view
					</a>
				</div>
				<div class="sort-options">
					<div class="select">
						<div class="value">Sort by</div>
<!--						<i class="icon icon-chevron-down"></i>-->
						<select name="model" id="carSort" autocomplete="off">
							<option value="Sort by" selected>Sort by</option>
							<option value="price">Price</option>
							<option value="date">Year</option>
							<option value="mileage">Km</option>
						</select>
					</div>
					<a href="#" id="sortDirection" class="sortDirection" data-ascending="0" >
						<i class="icon icon-chevron-up"></i>
					</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class='' id="loadcars" rel='/ajax/assured-used-cars/{dealer_id}/?search=used-cars&start=0&rows=10000'> 
				<div id="loading" style='width:100%;text-align:center;'><br/><br/>Loading Cars...<br/><br/>
					<img src='{cms_url}inc/images/ajax-loader.gif' />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="dealer-cover-wrapper">
	<div class="dealer-cover centerd">
		<div class="image"><img src="http://development.toyota.ie/inc/images/icon_dealercover.png" alt=""></div>
		<div class="list">
			<ul>
				<li ><i class="icon icon-ok"></i> 12 Month Unlimited Mileage Warranty</li>
				<li ><i class="icon icon-ok"></i> 24 Month/60,000km Warranty*</li>
				<li ><i class="icon icon-ok"></i> Free 24 Hour Roadside Assistance</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>


{footer}