<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:news="http://www.google.com/schemas/sitemap-news/0.9"> 

	
<!-- ##################### home page #####################  -->
{exp:channel:entries channel="home_page" disable="member_data|pagination|trackbacks" status="Open"} 
	<url>
		<loc>{site_url}</loc>
		<changefreq>weekly</changefreq>
		<priority>1</priority> 
{homepage_carousel}
{if homepage_carousel:image != ""}
		<image:image>
			<image:loc>{homepage_carousel:image}</image:loc>
{if homepage_carousel:description != ""}
			<image:title>{homepage_carousel:description}</image:title>
{/if}
		</image:image>
{/if}
{/homepage_carousel}
	</url> 
{/exp:channel:entries}


<!-- ##################### about us channel #####################  -->
{exp:channel:entries channel="about_us" disable="member_data|pagination|trackbacks" status="Open"} 
	<url>
		<loc>{site_url}pages/{url_title}</loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
{if image_header != ""}
		<image:image>
			<image:loc>{image_header}</image:loc>
		</image:image>
{/if}
{paragraphs}
{if paragraphs:image != ""}
		<image:image><image:loc>{paragraphs:image}</image:loc></image:image>
{/if}
{/paragraphs}
	</url> 
{/exp:channel:entries}


<!-- ##################### aftersales channel #####################  -->
{exp:channel:entries channel="aftersales" disable="member_data|pagination|trackbacks" status="Open"} 
	<url>
		<loc>{site_url}pages/{url_title}</loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
{if image_header != ""}
		<image:image>
			<image:loc>{image_header}</image:loc>
		</image:image>
{/if}
{paragraphs}
{if paragraphs:image != ""}
		<image:image><image:loc>{paragraphs:image}</image:loc></image:image>
{/if}
{/paragraphs}
	</url> 
{/exp:channel:entries}


<!-- ##################### contact us channel #####################  -->
{exp:channel:entries channel="contact_us" disable="member_data|pagination|trackbacks" status="Open"} 
	<url>
		<loc>{site_url}pages/{url_title}</loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
{if image_header != ""}
		<image:image>
			<image:loc>{image_header}</image:loc>
		</image:image>
{/if}
{paragraphs}
{if paragraphs:image != ""}
		<image:image><image:loc>{paragraphs:image}</image:loc></image:image>
{/if}
{/paragraphs}
	</url> 
{/exp:channel:entries}

<!-- ##################### disclaimer channel #####################  -->
{exp:channel:entries channel="disclaimer" disable="member_data|pagination|trackbacks" status="Open"} 
	<url>
		<loc>{site_url}pages/{url_title}</loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
{if image_header != ""}
		<image:image>
			<image:loc>{image_header}</image:loc>
		</image:image>
{/if}
{paragraphs}
{if paragraphs:image != ""}
		<image:image><image:loc>{paragraphs:image}</image:loc></image:image>
{/if}
{/paragraphs}
	</url> 
{/exp:channel:entries}


<!-- ##################### sales channel #####################  -->
{exp:channel:entries channel="sales" disable="member_data|pagination|trackbacks" status="Open"} 
	<url>
		<loc>{site_url}pages/{url_title}</loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
{if image_header != ""}
		<image:image>
			<image:loc>{image_header}</image:loc>
		</image:image>
{/if}
{paragraphs}
{if paragraphs:image != ""}
		<image:image><image:loc>{paragraphs:image}</image:loc></image:image>
{/if}
{/paragraphs}
	</url> 
{/exp:channel:entries}


<!-- ##################### service_and_accessories channel #####################  -->
{exp:channel:entries channel="service_and_accessories" disable="member_data|pagination|trackbacks" status="Open"} 
	<url>
		<loc>{site_url}pages/{url_title}</loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
{if image_header != ""}
		<image:image>
			<image:loc>{image_header}</image:loc>
		</image:image>
{/if}
{paragraphs}
{if paragraphs:image != ""}
		<image:image><image:loc>{paragraphs:image}</image:loc></image:image>
{/if}
{/paragraphs}
	</url> 
{/exp:channel:entries}


<!-- ##################### news channel #####################  -->
{exp:channel:entries channel="news" disable="member_data|pagination|trackbacks" status="Open"} 
	<url>
		<loc>{site_url}pages/news/local-article/{url_title}</loc>
		<changefreq>weekly</changefreq>
		<priority>0.8</priority> 
{if news_image != ""}
		<image:image>
			<image:loc>{news_image}</image:loc>
{if title != ""}
			<image:title>{title}</image:title>
{/if}			
		</image:image>
{/if}
{news_content}
{if news_content:image != ""}
		<image:image>
			<image:loc>{news_content:image}</image:loc>
{if news_content:paragraph_title != ""}
			<image:title>{news_content:paragraph_title}</image:title>
{/if}
		</image:image>
{/if}
{/news_content}
	</url> 
{/exp:channel:entries}


<!-- ##################### offers channel #####################  -->
{exp:channel:entries channel="offers" disable="member_data|pagination|trackbacks" status="Open"} 
	<url>
		<loc>{site_url}pages/offers/local-article/{url_title}</loc>
		<changefreq>weekly</changefreq>
		<priority>0.8</priority> 
{if promotion_image != ""}
		<image:image>
			<image:loc>{promotion_image}</image:loc>
{if title != ""}
			<image:title>{title}</image:title>
{/if}			
		</image:image>
{/if}
{promotion_content}
{if promotion_content:image != ""}
		<image:image>
			<image:loc>{promotion_content:image}</image:loc>
{if promotion_content:paragraph_title != ""}
			<image:title>{promotion_content:paragraph_title}</image:title>
{/if}
		</image:image>
{/if}
{/promotion_content}
	</url> 
{/exp:channel:entries}
	
<!-- ##################### static menu and forms ##################### -->
	<url>
		<loc>{site_url}pages/new-cars</loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
	</url>
	<url>
		<loc>{site_url}pages/assured-used-cars</loc>
		<changefreq>hourly</changefreq>
		<priority>0.7</priority> 
	</url>
	<url>
		<loc>{site_url}#/contactus/pane-contact</loc>
		<changefreq>yearly</changefreq>
		<priority>0.4</priority> 
	</url>
	<url>
		<loc>{site_url}#/getdirections/pane-directions</loc>
		<changefreq>yearly</changefreq>
		<priority>0.4</priority> 
	</url>
	<url>
		<loc>{site_url}#/tequestbroch/pane-brochure</loc>
		<changefreq>yearly</changefreq>
		<priority>0.4</priority> 
	</url>
	<url>
		<loc>{site_url}#/booktestdrive/pane-test-drive</loc>
		<changefreq>yearly</changefreq>
		<priority>0.4</priority> 
	</url>
	<url>
		<loc>{site_url}#/bookservice/pane-service</loc>
		<changefreq>yearly</changefreq>
		<priority>0.4</priority> 
	</url>


<!-- ##################### Hybrid #####################  -->
	<url>
		<loc>{site_url}pages/hybrid</loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
	</url>
<?php
	require_once (PATH_THIRD."json_feed/pi.json_feed.php");
	global $siteurl, $hibridroot,$hibridSubpage;
	$siteurl = "{site_url}";
	$hibridroot = "{insecure_site_url}api/hybrid";
	$hibridSubpage = "{insecure_site_url}api/hybrid-subpages";
	function printHybrid($url , $subpage){
		global $siteurl, $hibridroot, $hibridSubpage;
		$feedurl = (!$subpage)?$hibridroot.$url:$hibridSubpage.$url;
		$feed = new Json_feed($feedurl);
		$jsonstring = $feed->print_feed("children");
		if(!$jsonstring)
			return;
		$navs = json_decode($jsonstring)->children;
		foreach ($navs as $key => $navItem) {	
?>
	<url>
		<loc><?php echo $siteurl; ?>pages/hybrid<?php echo $navItem->url; ?></loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
	</url>
<?php
		printHybrid($navItem->url,true);
		}
	}
	printHybrid("",false);
?>

<!-- ##################### Service and Accessories #####################  -->
	<url>
		<loc>{site_url}pages/service-and-accessories</loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
	</url>
<?php
	require_once (PATH_THIRD."json_feed/pi.json_feed.php");
	global $siteurl,$saaroot,$saaSubpage;
	$siteurl = "{site_url}";
	$saaroot = "{insecure_site_url}api/service-and-accessories";
	$saaSubpage = "{insecure_site_url}api/service-and-accessories-subpages";
	function printSAA($url , $subpage){
		global $siteurl, $saaroot, $saaSubpage;
		$feedurl = (!$subpage)?$saaroot.$url:$saaSubpage.$url;
		//echo "feed:".$feedurl."\n";
		$feed = new Json_feed($feedurl);
		$jsonstring = $feed->print_feed("children");
		if(!$jsonstring)
			return;
		$navs = json_decode($jsonstring)->children;
		foreach ($navs as $key => $navItem) {
?>
	<url>
		<loc><?php echo $siteurl; ?>pages/<?php echo $navItem->url; ?></loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
	</url>
<?php
			printSAA($navItem->url,true);
		}
	}
	printSAA("",false);
?>

<!-- ##################### models #####################  -->
	<?php	
	$jsonstring = '{exp:json_feed:print_feed src="{insecure_site_url}/api/new-cars" section="modelrange"}';
	$dmodels = json_decode($jsonstring)->modelrange->items;
	foreach ($dmodels as $key => $model) {
		?>

	<url>
		<loc>{site_url}pages<?php echo str_replace("models", "new-car-details", $model->url); ?></loc>
		<changefreq>monthly</changefreq>
		<priority>0.7</priority> 
	</url><?php
	}
	?>


<!-- ##################### subpages channel ##################### -->
{exp:channel:entries channel="subpage" disable="member_data|pagination|trackbacks" status="Open"} 
	<url>
		<loc>{site_url}pages/{url_title}</loc>
		<changefreq>monthly</changefreq>
		<priority>0.6</priority> 
{if generic_content_image_header != ""}
		<image:image>
			<image:loc>{generic_content_image_header}</image:loc>
		</image:image>
{/if}		
{generic_content_paragraph}
{if generic_content_paragraph:image != ""}
		<image:image><image:loc>{generic_content_paragraph:image}</image:loc></image:image>
{/if}
{/generic_content_paragraph}
	</url> 
{/exp:channel:entries} 
</urlset>

