{header}
<header class="header-container gray">
	<div class="bg-image-hero bg-image-hero-small ">
		<div class="coverBG" style="background-image: url({cms_url}inc/images/used_cars_header.jpg);"></div>
	</div>
</header>



{footer}