<div class=" search_menu " id="car_filter" data-id="{dealer_id}">
	<div class="search-filter clearfix">
		<div class="padding clearfix">
			<h3 class="heading3 strong">Filter your results</h3>
			<div class="search-simple">
				<div class="row">
					<h4 class="title1">Make</h4>
					<div class="select">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						<select name="Make">
							<option value="Any Make">Any Make</option>
						</select>
					</div>
				</div>
				<div class="row">
					<h4 class="title1">Model</h4>
					<div class="select">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						<select name="Model">
							<option value="Any Model">Any model</option>
						</select>
					</div>
				</div>
				<div class="row threes-lc">
					<h4 class="title1">Price range (in &euro;)</h4>
					<div class="twos">
						<div class="select">
							<div class="value"></div>
							<i class="icon icon-chevron-down"></i>
							<select name="Price-min">
								<option value="Min">Min</option>
							</select>
						</div>
					</div>
					<div class="twos twos-lc">
						<div class="select">
							<div class="value"></div>
							<i class="icon icon-chevron-down"></i>
							<select name="Price-max">
								<option value="Max">Max</option>
							</select>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="search-detailed">
				<div class="row">
					<h4 class="title1">Body type</h4>
					<div class="select">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						<select name="BodyType">
							<option value="All body types">All body types</option>
						</select>
					</div>
				</div>
				<div class="row">
					<h4 class="title1">Number of doors</h4>
					<div class="select">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						<select name="Doors">
							<option value="All doors">All doors</option>
						</select>
					</div>
				</div>
				<div class="row threes-lc">
					<h4 class="title1">Year</h4>
					<div class="twos">
						<div class="select">
							<div class="value"></div>
							<i class="icon icon-chevron-down"></i>
							<select name="Year-from">
								<option value="From">From</option>
							</select>
						</div>
					</div>
					<div class="twos twos-lc">
						<div class="select">
							<div class="value"></div>
							<i class="icon icon-chevron-down"></i>
							<select name="Year-to">
								<option value="To">To</option>
							</select>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="row">
					<h4 class="title1">Mileage</h4>
					<div class="twos">
						<div class="select">
							<div class="value"></div>
							<i class="icon icon-chevron-down"></i>
							<select name="Mileage-min">
								<option value="Min">Min</option>
							</select>
						</div>
					</div>
					<div class="twos twos-lc">
						<div class="select">
							<div class="value"></div>
							<i class="icon icon-chevron-down"></i>
							<select name="Mileage-max">
								<option value="Max">Max</option>
							</select>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="row">
					<div class="search_checkbox transmission">
						<h4 class="title1">Transmission</h4>
						<div class="checkboxes">
							<div class="checkbox">
								<div class="the-checkbox"><i class="icon icon-ok"></i></div>
								<input type="checkbox" name="Transmission" id="Automatic" value="Automatic">
								<label for="Automatic">Automatic</label>
							</div>
							<div class="checkbox">
								<div class="the-checkbox"><i class="icon icon-ok"></i></div>
								<input type="checkbox" name="Transmission" id="Manual" value="Manual">
								<label for="Manual">Manual</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="search_checkbox fueltype">
						<h4 class="title1">Fuel type</h4>
						<div class="checkboxes">
							<div class="checkbox">
								<div class="the-checkbox"><i class="icon icon-ok"></i></div>
								<input type="checkbox" name="FuelType" id="Petrol" value="Petrol">
								<label for="Petrol">Petrol</label>
							</div>
							<div class="checkbox">
								<div class="the-checkbox"><i class="icon icon-ok"></i></div>
								<input type="checkbox" name="FuelType" id="Diesel" value="Diesel">
								<label for="Diesel">Diesel</label>
							</div>
							<div class="checkbox">
								<div class="the-checkbox"><i class="icon icon-ok"></i></div>
								<input type="checkbox" name="FuelType" id="Hybrid" value="Hybrid">
								<label for="Hybrid">Hybrid</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row threes-lc">
					<div class="search_checkbox">
						<h4 class="title1">Colour</h4>
						<div class="checkboxes colours">
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
			<div class="expand">
				<a class="show-search-detailed" href="" id="more_filters">
					<i class="icon icon-chevron-down"></i>
					<span class="text">More search options</span>
				</a>
			</div>
			<a href="" class="uiBtn redBtn hasIcon hasIconRight perform-search">
				<span>Search Cars</span>
				<i class="icon icon-search"></i>
			</a>
		</div>
	</div>
</div>