<input type="hidden" name="brochurefile" class="data-other-fill" id="brochurefile" val="0">
<select name="model" id="model" class="data-other brochure-pdf" data-validation="select">
	<option value="no_selection">...</option>
	<option value="AYGO"					data-other="AYGO.df">AYGO</option>
	<option value="Yaris"					data-other="Yaris.pdf">Yaris</option>
	<option value="Auris"					data-other="Auris.pdf">Auris</option>
	<option value="Auris Touring Sports"	data-other="Auris.pdf">Auris Touring Sports</option>
	<option value="Corolla"					data-other="Corolla.pdf">Corolla</option>
	<option value="Avensis"					data-other="Avensis.pdf">Avensis</option>
	<option value="Verso-S"					data-other="Verso-S.pdf">Verso-S</option>
	<option value="Verso"					data-other="Verso.pdf">Verso</option>
	<option value="RAV4"					data-other="RAV4.pdf">RAV4</option>
	<option value="Prius"					data-other="Prius.pdf">Prius</option>
	<option value="Prius+"					data-other="Prius2B.pdf">Prius+</option>
	<option value="Land Cruiser"			data-other="Land-Cruiser.pdf">Land Cruiser</option>
	<option value="Land Cruiser V8"			data-other="Land-Cruiser.pdf">Land Cruiser V8</option>
	<option value="GT86"					data-other="GT86.pdf">GT86</option>
	<option value="Hilux"					data-other="Hilux.pdf">Hilux</option>
	<option value="Auris Van"				data-other="Auris-Van.pdf">Auris Van</option>
	<option value="Proace"					data-other="Proace.pdf">Proace</option>
</select>