<div class="container_12">
	<div class="grid_12 header">
		<h2>Tell us about you!</h2>
	</div>
</div>

<div class="container_12">
	<div class="grid_6">
		<h4 class="title1">Salutation &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
		<div class="select">
			<div class="value"></div>
			<i class="icon icon-chevron-down"></i>
			<select name="salutation" id="salutation" data-validation="select">
				<option value="no_selection">...</option>
				<option value="Dr">Dr</option>
				<option value="Mr">Mr</option>
				<option value="Ms">Ms</option>
			</select>
		</div>
	</div>
</div>
<div class="container_12">
	<div class="grid_6">
		<h4 class="title1">First Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
		<input  id="first_name" maxlength="40" name="first_name"  type="text" placeholder="Name" data-validation="required"/>
	</div>
	<div class="grid_6">
		<h4 class="title1">Last Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
		<input  id="last_name" maxlength="80" name="last_name"  type="text" placeholder="Surname" data-validation="required"/>
	</div>
</div>
<div class="container_12 extraspace">
	<div class="grid_6">
		<h4 class="title1">Email &nbsp;&nbsp; <i class="icon icon-envelope-alt"></i></h4>
		<input  id="email" maxlength="80" name="email"  type="text" placeholder="your@email.com" data-validation="email"/>
	</div>
	<div class="grid_6">
		<h4 class="title1">Phone &nbsp;&nbsp; <i class="icon icon-phone"></i></h4>
		<input  id="phone" maxlength="14" name="phone"  type="text" placeholder="Phone Number" data-validation="number"/>
	</div>
</div>

