<select id="state" name="00Nb0000002Xysh" {if embed:required=="true"}data-validation="select"{/if}>
	<option value="no_selection">...</option>
	<option value="Carlow">Carlow</option>
	<option value="Cavan">Cavan</option>
	<option value="Clare">Clare</option>
	<option value="Cork">Cork</option>
	<option value="Donegal">Donegal</option>
	<option value="Dublin">Dublin</option>
	<option value="Dublin  1">Dublin  1</option>
	<option value="Dublin  2">Dublin  2</option>
	<option value="Dublin  3">Dublin  3</option>
	<option value="Dublin  4">Dublin  4</option>
	<option value="Dublin  5">Dublin  5</option>
	<option value="Dublin  6">Dublin  6</option>
	<option value="Dublin  7">Dublin  7</option>
	<option value="Dublin  8">Dublin  8</option>
	<option value="Dublin  9">Dublin  9</option>
	<option value="Dublin 10">Dublin 10</option>
	<option value="Dublin 11">Dublin 11</option>
	<option value="Dublin 12">Dublin 12</option>
	<option value="Dublin 13">Dublin 13</option>
	<option value="Dublin 14">Dublin 14</option>
	<option value="Dublin 15">Dublin 15</option>
	<option value="Dublin 16">Dublin 16</option>
	<option value="Dublin 17">Dublin 17</option>
	<option value="Dublin 18">Dublin 18</option>
	<option value="Dublin 19">Dublin 19</option>
	<option value="Dublin 20">Dublin 20</option>
	<option value="Dublin 21">Dublin 21</option>
	<option value="Dublin 22">Dublin 22</option>
	<option value="Dublin 23">Dublin 23</option>
	<option value="Dublin 24">Dublin 24</option>
	<option value="Fermanagh">Fermanagh</option>
	<option value="Galway">Galway</option>
	<option value="Kerry">Kerry</option>
	<option value="Kildare">Kildare</option>
	<option value="Kilkenny">Kilkenny</option>
	<option value="Laois">Laois</option>
	<option value="Leitrim">Leitrim</option>
	<option value="Limerick">Limerick</option>
	<option value="Longford">Longford</option>
	<option value="Louth">Louth</option>
	<option value="Mayo">Mayo</option>
	<option value="Meath">Meath</option>
	<option value="Monaghan">Monaghan</option>
	<option value="Offaly">Offaly</option>
	<option value="Roscommon">Roscommon</option>
	<option value="Sligo">Sligo</option>
	<option value="Tipperary">Tipperary</option>
	<option value="Waterford">Waterford</option>
	<option value="Westmeath">Westmeath</option>
	<option value="Wexford">Wexford</option>
	<option value="Wicklow">Wicklow</option>
</select>
