<div class="container_12 extraspace">
	<div class="grid_3">
		<input type="submit" class="uiBtn redBtn" value="Submit">
	</div>
	<div class="grid_6 legal">
		<p><i class="icon icon-info-sign"></i>&nbsp; The information that you submit will not be used or distributed for any reason other than to fulfill your request.</p>
	</div>
</div>
