<div class="button-container">
	<div class="buttonbig">
		<div class="helptext"><img src="assets/images/button_helptext.png" alt="Get it a press --->"></div>
		<div class="shadow"><img src="assets/images/button_shadow.png" alt="button shadow"></div>
		<div class="side"><img src="assets/images/button_side.png" alt="button side"></div>
		<div class="top"><img src="assets/images/button_top.png" alt="button top"></div>
		<div class="text aygoXbrush">
			<span class="bigbutton1">Go</span>
			<span class="bigbutton2">Fun</span>
			<span class="bigbutton3">Your</span>
			<span class="bigbutton4">Self</span>
		</div>
	</div>
</div>