/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4em;
}

a{text-decoration:none;}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser warning prompt
   ========================================================================== */

.browserwarn {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@import "fonts";

/**,:after,:before{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }*/


/* ==========================================================================
   Global common styles
   ========================================================================== */

body { background: #fff; color:#1e2a32; font-family: toyotatext_rg,Verdana,sans-serif; overflow-y:scroll;}
h1, h2, h3, h4, h5, p { margin: 0; font-weight: normal; }
h1 , h2 , h3 {
}
ul { padding: 0; margin: 0; }
a,
a:focus { outline: 0; }
a { color: #1e2a32; }
iframe { border: 0; }
i, strong, b { font-style: normal; }

/* ==========================================================================
   Style guide defined styles
   ========================================================================== */

.heading1 , h1 { font-family: toyotadisplay_bd; font-size: 44px; color: #1e2a32; line-height: 46px; display: block; letter-spacing: -0.03em; }
.heading2 , h2 { font-family: toyotadisplay_rg; font-size: 34px; color: #1e2a32; display: block; line-height: 36px; letter-spacing: -0.03em; }
.heading3 , h3 { font-family: toyotatext_rg; font-size: 26px; color: #1e2a32; line-height: 30px; display: block; letter-spacing: -0.03em;  }
.heading4 , h4 { font-family: toyotatext_rg; font-size: 19px; color: #1e2a32; display: block;  line-height: 23px; letter-spacing: -0.03em;}
.section_title, .section-title{
	text-align: center;
	.heading1 , h1 {
		padding-top: 20px;
		padding-bottom: 16px;
	}
	margin-top: 20px;
	margin-bottom:20px;
	&.left{
		text-align: left;
	}
	&.right{
		text-align: right;
	}
	&.intro{
		margin-top: 0;
		padding-top: 50px;
		margin-bottom: 24px;
		padding-bottom: 24px;
		.heading3{
			font-size: 19px;
			line-height: 26px;
			font-size: 24px;
			line-height: 30px;
			font-weight: normal;
		}
		@media screen and(max-width:$desktop-medium * 1px){
			padding-top: 34px;
			.heading3{
				font-size: 19px;
				line-height: 26px;
			}
		}
		@media screen and(max-width:$mobile-large  * 1px){
			padding-top: 22px;
		}
	}
}

.title1 { font-family: toyotatext_bd; font-size: 17px; color: #1e2a32; display: block;  }
.title2 { font-family: toyotatext_rg; font-size: 15px; color: #1e2a32; display: block; line-height: 17px; }
.body-content p,
.body-content table { font-family: toyotatext_rg; font-size: 15px; line-height: 20px; color:#6c7073; }
.body-content ul { font-family: toyotatext_rg; font-size: 15px; line-height: 20px; color: #1e2a32; padding: 20px 0 20px 20px; margin: 0; border-top: 1px solid #e2e2e3; border-bottom: 1px solid #e2e2e3; }
.support-text-rg { font-family: toyotatext_rg; font-size: 13px; line-height: 16px; color: #1e2a32; }
.body-content .hybrid-text-colour,
.hybrid-text-colour { color: #00a0f0; }
strong,.strong { font-family: toyotatext_bd; font-weight: normal; }

.padding{
	padding-bottom: 20px;
}
.padding-small{
	padding-bottom: 10px;
}
.padding-large{
	padding-bottom: 40px;
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		padding-bottom: 20px;
	}
}
.padding-top{
	padding-top: 20px;
}

.padding-top-large{
	padding-top: 60px;
}

@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
	.heading1 , h1 { font-size: 44px; line-height: 46px; }
	.heading2 , h2{ font-size: 32px; line-height: 34px;}
	.heading3 , h3{ font-size: 23px; line-height: 24px; }
	.heading4 , h4{ font-size: 19px; line-height: 20px;}
	.section_title, .section-title{
		.heading1 , h1 {
			padding-top: 20px;
			padding-bottom: 16px;
		}
		margin-top: 40px;
		margin-bottom:15px;
	}
}
@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
	.heading1 , h1{ font-size: 34px; line-height: 37px; }
	.heading2 , h2 { font-size: 24px; line-height: 26px;}
	.heading3 , h3{ font-size: 21px; line-height: 24px; }
	.heading4 , h4{ font-size: 19px; line-height: 20px;}
	.section_title, .section-title {
		.heading1 , h1 {
			padding-top: 10px;
			padding-bottom: 8px;
		}
		margin-top: 0;
		margin-bottom:10px;
	}
}


.uiBtn {
	display: inline-block;
	position:relative;
	text-decoration: none; font-size: 15px;
	line-height: 50px;
	margin-bottom: 4px;
	padding:  0px 14px 0px 14px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.15), inset 0 0 1px rgba(30,42,50,.5);
	i{
		display: inline-block;
		margin: 0 0.5em;
		margin-top: -7px;
	}
}
a.uiBtn:hover { text-decoration: underline;}
a.uiBtn:active { text-decoration: underline; box-shadow:0 1px 1px #fff, inset 0 0 8px rgba(30,42,50,.6);}

.uiBtn.greyBtn {color: #6c7073; background: #fff;background-image: linear-gradient(to top, #e8e9ea, #fff); }
a.uiBtn.greyBtn:hover,
.uiBtn.greyBtn.active,
a.uiBtn.greyBtn:active { background:#e8e9ea; }

.uiBtn.darkBtn {color: #fff; background: #454e55; background-image: linear-gradient(to top, #303a40, #454e55); }
a.uiBtn.darkBtn:hover,
.uiBtn.darkBtn.active,
a.uiBtn.darkBtn:active { background:#303a40; }

.uiBtn.blueBtn {color: #fff; background: #00a0f0; background-image: linear-gradient(to top, #005faf, #00a0f0); }
a.uiBtn.blueBtn:hover,
.uiBtn.blueBtn.active,
a.uiBtn.blueBtn:active { background:#005faf; }

.uiBtn.redBtn {color: #fff; background: #d1001e; background-image: linear-gradient(to top, #73000d, #d1001e); }
a.uiBtn.redBtn:hover,
.uiBtn.redBtn.active,
a.uiBtn.redBtn:active { background:#73000d;}

.uiBtn.yellowBtn {color: #fff; background: #efc60a; background-image: linear-gradient(to top, #ef9109, #efc60a); }
a.uiBtn.yellowBtn:hover,
.uiBtn.yellowBtn.active,
a.uiBtn.yellowBtn:active { background:#ef9109; }

.uiBtn.smBtn { font-size: 15px; line-height: 46px; }
.uiBtn.lgBtn { font-size: 17px; line-height: 60px; }


.uiBtn.fwBtn { display: block; }
.uiBtn.fwBtn i { float: right; margin-top: 4px; }




.uiBtn.hasIcon:hover {
	text-decoration: none;
	span { text-decoration: underline; }
}

.uiBtn {

	&.leftside,&.rightside {
		box-shadow: none;
		border: 1px solid #B0B1B2;
	}
	&.leftside {
		//display:inline;
		border-radius: 2px 0 0 2px;
	}
	&.rightside {
		border-left: 0;
		//display: inline;
		border-radius: 0 2px 2px 0;
	}
}

.uiBtn.thinBtn { padding: 7px 12px 7px;
				 &.hasIcon i { margin-left:0px; margin-right: 8px; top:0.1em; }
}

/* ==========================================================================
   Main wrapper selects
   ========================================================================== */

.master-wrapper,
.master-wrapper .footer-container,
.master-wrapper .header-container,
.master-wrapper .inner-wrapper {
	/*	box-shadow: 200px 0 190px -200px rgba(0, 0, 0, 0.3) inset, -200px 0 190px -200px rgba(0, 0, 0, 0.3) inset; */

	background: #fff; /* Old browsers */
	background: linear-gradient(to right,  #f8f8f8 0%,#fff 20%,#ffffff 80%,#f8f8f8 100%); /* W3C */
	background-color: #fff; overflow: hidden;
}

.master-wrapper .inner-wrapper { padding-top: 60px; }
.master-wrapper .content-block {
	padding-bottom: 60px; padding-top: 20px;
	&.spotlight-container{
		padding-bottom: 20px;
	}
}

/* Convenience switch to change whole article head alignment with single class */
/* Convenience switch to change whole article head alignment with single class */
.master-wrapper.ca-article .heading1,
.master-wrapper.ca-article .heading2,
.master-wrapper.ca-article .heading3,
.master-wrapper.ca-article .heading4,
.master-wrapper.ca-article .intro-text { text-align: center; }




/* ==========================================================================
   Common UI sprites
   ========================================================================== */

.ui-sprite { background: url('../images/PlayBtn.png') no-repeat 0 0; display: inline-block; }

/* Play icon */
.ui-sprite.play-icon-large { background-position: 0 -71px; height: 59px; width: 85px; }
a:hover .ui-sprite.play-icon-large { background-position: 0 0; }

.title-left-icon { margin-right: 10px; }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {


    /*
     * CUSTOM PRINT STYLES
     */


    .master-wrapper { padding: 0 !important; }
    .master-wrapper.fixed-footer .footer-container.fx-footer,
    .master-wrapper.fixed-header .header-container.fx-header { position: relative; }

    .fadeIn { opacity: 1 !important; }

    .header-container,
    .footer-container {  height: auto !important; min-height: 0 !important; }

    .header-container .bg-image-hero .hero-inner,
    .footer-container .bg-image-hero .hero-inner { padding: 0 !important; color: #000; float:left; }


    .container_12_absolute , container_12_absolute_bottom { position: relative; margin:0 auto !important;; left:0; }


    .bg-image-hero { background: none !important; min-height: 0 !important; height: auto !important;  color: #000; }

    .primary-nav,
    .promo-section { display: none; }
}


/* ==========================================================================
   BACKGOUNDS
   ========================================================================== */

.greyBg{
	color: #6c7073; background: #E9EAEC;
}
.darkBg{
	color: #fff; background: #454e55; background-image: linear-gradient(to top, #303a40, #454e55);
}
.blueBg,.hybrid{
	color: #fff; background: #00a0f0; background-image: linear-gradient(to top, #005faf, #00a0f0);
}
.redBg{
	color: #fff; background: #d1001e; background-image: linear-gradient(to top, #73000d, #d1001e);
}
.yellowBg{
	color: #fff; background: #efc60a; background-image: linear-gradient(to top, #ef9109, #efc60a);
}


.imgContainer{
	.img100{
		width:100%;
		padding-bottom:10px;
	}
	padding-bottom:10px !important;
}

.videoContainer{
	iframe{
		width:100% !important;
	}
	padding-bottom:10px !important;
}



/* ==========================================================================
   DIMENSIONS
   ========================================================================== */
.dimensions{
	background-color: #1C2830;
	color: #fff;
	h1, .heading1 , h2, .heading2 ,h3, .heading3{
		color: #fff;
	}
	.carImg{
		position: relative;
		max-width: 750px;
		margin: 0 auto;
		> img{
			display: block;
			margin: 0 auto;
			max-width: 750px;
			width: 100%;
			height: auto;
		}
	}
	.size{
		position: absolute;
		top: 89%;
		left: 0;
		padding: 0 5px;
		background-color: #1C282D;
		line-height: 11px;
		font-size:11px;
		@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
			top: 87%;
		}
		&.b{
			top: 96%;
			@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
				top: 98%;
			}
		}
		&.l{
			left:25%;
			@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
				left: 22%;
			}
		}
		&.c{
			left:59.5%;
			@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
				left: 58%;
			}
		}
		&.r{
			left:83%;
			@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
				left: 82%;
			}
		}
		&#overallHeight{
			top: 6%;
			left:94%;
			@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
				top: 0;
				left:90%;
			}
		}


	}
}

/* ==========================================================================
   sitempap
   ========================================================================== */

.page_group{
	padding-bottom: 2em;
	> .heading3{
		color: #ef9109;
		padding-bottom: 0.45em;
		font-size: 20px;
	}
	a{
		&:hover{
			text-decoration:underline;
		}
	}
	.subpage{
		padding-left: 0.7em;
		//font-size: 0.85em;
		> a{
			color: #888;
		}
	}
}


/* ==========================================================================
   OTHERS
   ========================================================================== */

#toyotasrc{
	width: 100%;
	height: 800px;
}


.new-car-intro{
	h3{
		font-size: 24px;
		line-height: 31px;
		color: #6C7073;
	}
}

// facebook like fix  (hifden under footre paralax)
.fb_iframe_widget_lift {
	z-index: 50 !important;
}


.homepage_offers.container_12{
	.grid_6{
		width: 50%;
		float: left;
		@media only screen and (max-width:((580 - 1)/16)*1em){
			width: 100%;
			float:none;
		}
	}
	.offer-spotlight.item{
		margin-bottom: 1em;
		@media only screen and (max-width:((580 - 1)/16)*1em){
			margin-bottom: 0;
		}
	}
	.offer-spotlight .uiBtn{
		font-size: 14px;
		font-weight: lighter;
	}
}


.staff{
	position:relative;
	.staffName{
		text-transform: capitalize;
		margin-top: 0.3em;
		margin-bottom: 0.35em;
		p{
			color: #1e2a32;
			font-weight: bold;
		}
	}
	.desc{
		position:relative;
		font-size: 0.9;
		color:#6c7073;
		z-index:4;
		clear: right;
	}
	.value{
		position:relative;
		transition:all 0.5s;
		z-index:4;
		padding: 0.2em 0.3em 0.2em 0;
	}
	p{
		position:relative;
		overflow:hidden;
		text-overflow: ellipsis;
		&:hover{
			overflow: visible;
			.value{
				background: #f8f8f8;
				z-index:5;
				text-decoration: underline;
			}
		}
	}
}

.offer-remote{
	.read-more-container .readMore{
		font-size: 1em;
	}
}

.offer-remote-section{
	.imageHeding{
		color:#ef9109;
	}
	.pomotion_subtitle{
		font-size: 22px;
		line-height: 22px;
		@media (max-width: 767px){
			font-size: 15px;
			line-height: 17px;
		}
	}
    .heading1{
      margin-top: 40px;
    }
}
.remote-offer-intro-title{
  border-bottom:1px solid #DDDFE0;
  padding-bottom: 20px;
  margin-bottom: -20px;
  @media screen and(min-width:$desktop-medium * 1px){
    border-bottom:none;
    margin-bottom: 0;
  }
}

.remote-offer-intro{
	background-color:#1e2a32 ;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;

	.uiBtn.fwBtn{
		i{
			display: inline-block;
			float: none;
		}
		margin-bottom: 10px;
	}
	.icon-finance{
		font-size: 1.3em;
		font-weight: bold;
		line-height: 1em;
	}
	h2.promotion_intro , .subtitle h3{
		color: #fff;
        font-size: 21 / 16  * 1rem;
		font-weight: lighter;
		font-family: toyotatext_rg,Verdana,sans-serif;
		padding: 10px;
		br{
			display:block;
			height: 5px;
			line-height: 0;
			content: "";
		}
        @media screen and(min-width:$desktop-medium * 1px){
          padding: 0;
        }
	}
    .subtitle h3{
      padding-top: 0;
    }
	.grid_3 .price strong{
        font-size: 21 / 16  * 1rem;
		font-weight: bold;
		font-family: toyotatext_bd,Verdana,sans-serif;
		background-color: #4b555b;
		color: #fff;
		padding: 10px;
		display: block;
		line-height: 1.5em;
        @media screen and(min-width:$desktop-medium * 1px){
          font-size: 34 / 16  * 1rem;
        }
	}


}

.container_12 .remote-offer-intro{
	.grid_6{
		@media screen and(max-width:$desktop-medium * 1px){
			display: block;
			float: none;
			padding-top: 20px;
			padding-bottom: 20px;
			width: 100%;
		}
	}
	.grid_3{
		@media screen and(max-width:$desktop-medium * 1px){
			display: block;
			float: none;
			width: 100%;
		}
	}
}
/* ==========================================================================
   404
   ========================================================================== */

.page404{
	a{
		color: #ef9109;
		transition: color 0.4s;
		&:hover{
			text-decoration: underline;
		}
	}
	.heading1, .heading2{
		display: block;
		text-align: center;
	}
	.grid_6, .grid_4{
		text-align: center;
		padding-bottom:2em;
	}
	.common_pages{
		background-color: #1C2830;
		color: #fff;
		text-align:center;
		a:hover{
			text-decoration:none;
		}
		.heading2{
			color: #ef9109;
			&:hover{
				color: lighten(#ef9109,10%);
			}
		}
		.heading1{
			color: white;
			padding-bottom: 0.5em
		}
		.title-area{
			margin: 50px 0 20px 0;
		}
	}

}

.quote{
	line-height: 30px;
}
.author{
	color:#999;
}

input[name='test_emails'],
input[name='emails'],
input[name='test_email'],
input[name='emailer']{

}


#call_us_homepage{
	display: none;
	@media only screen and (max-width:(($mobile-medium - 1)/16)*1em){
		display:block;
	}
}

.downloads{
	background: #f4f4f5;
    color: #6c7073;
    margin: 0 0 16px;
    padding: 18px;
	ul{
		margin: 0;
		padding: 0;
		border: none;
		li{
			list-style: none;
			color: #6c7073;
		}
		a{
			color: #6c7073;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}


.customers-iframe{
	height: 420px;
	@media only screen and (max-width:540px){
		height: 440px;
		> iframe , > object{
			height: 440px;
		}
	}
}