@font-face {
  font-family: "toyotadisplay_bd";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/toyota/display/toyotadisplay_bold.eot?#iefix") format("embedded-opentype"), 
       url("fonts/toyota/display/toyotadisplay_bold.woff") format("woff"), 
       url("fonts/toyota/display/toyotadisplay_bold.ttf") format("truetype"), 
       url("fonts/toyota/display/toyotadisplay_bold.svg#toyotadisplay_bd") format("svg");
}

@font-face {
  font-family: "toyotadisplay_rg";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/toyota/display/toyotadisplay_regular.eot?#iefix") format("embedded-opentype"), 
       url("fonts/toyota/display/toyotadisplay_regular.woff") format("woff"), 
       url("fonts/toyota/display/toyotadisplay_regular.ttf") format("truetype"), 
       url("fonts/toyota/display/toyotadisplay_regular.svg#toyotadisplay_rg") format("svg");
}

@font-face {
  font-family: "toyotatext_bd";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/toyota/text/toyotatext_bold.eot?#iefix") format("embedded-opentype"), 
       url("fonts/toyota/text/toyotatext_bold.woff") format("woff"), 
       url("fonts/toyota/text/toyotatext_bold.ttf") format("truetype"), 
       url("fonts/toyota/text/toyotatext_bold.svg#toyotatext_bd") format("svg");
}

@font-face {
  font-family: "toyotatext_rg";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/toyota/text/toyotatext_regular.eot");
  src: url("fonts/toyota/text/toyotatext_regular.eot?#iefix") format("embedded-opentype"), 
       url("fonts/toyota/text/toyotatext_regular.svg#toyotatext_rg") format("svg"),
       url("fonts/toyota/text/toyotatext_regular.woff") format("woff"), 
       url("fonts/toyota/text/toyotatext_regular.ttf") format("truetype");
}

   
    
/* ==========================================================================
   Icons
   ========================================================================== */ 

@font-face {
  font-family: 'ToyotaIconFont';
  src:url('fonts/toyota/icons/toyotaicon.eot');
  src:url('fonts/toyota/icons/toyotaicon.eot?#iefix') format('embedded-opentype'),
    url('fonts/toyota/icons/toyotaicon.svg#ToyotaIconFont') format('svg'),
    url('fonts/toyota/icons/toyotaicon.woff') format('woff'),
    url('fonts/toyota/icons/toyotaicon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.icon {
	font-family: 'ToyotaIconFont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-car1:before {
  content: "\e00a";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-user:before {
  content: "\f007";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-camera:before {
  content: "\f030";
}
.icon-print:before {
  content: "\f02f";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-lock:before {
  content: "\f023";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-trash:before {
  content: "\f014";
}
.icon-book:before {
  content: "\f02d";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-file-alt:before {
  content: "\f0f6";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-minus:before {
  content: "\f068";
}
.icon-plus:before {
  content: "\f067";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-phone:before {
  content: "\f095";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-reorder:before {
  content: "\f0c9";
  font-size: 1.3rem;
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-reply:before {
  content: "\f112";
}
.icon-file-pdf:before {
  content: "\e000";
}
.icon-ipod:before {
  content: "\e001";
}
.icon-sun-stroke:before {
  content: "\e003";
}
.icon-rain:before {
  content: "\e004";
}
.icon-un_check:before {
  content: "\e005";
}
.icon-active_check:before {
  content: "\e006";
}
.icon-usb1:before {
  content: "\e007";
}
.icon-bluetooth:before {
  content: "\e008";
}
.icon-car2:before {
  content: "\e009";
}
.icon-snowflake:before {
  content: "\e00b";
}
.icon-new2:before {
  content: "\e00c";
}
.icon-plug_1:before {
  content: "\e00d";
}
.icon-Flickr:before {
  content: "\e00e";
}
.icon-cog:before {
  content: "\f013";
}
.icon-arrw:before {
  content: "\e00f";
}
.icon-radio-checked:before {
  content: "\e604";
}
.icon-radio-uncheck:before {
  content: "\e605";
}
.icon-share:before {
  content: "\e606";
}
.icon-undo:before {
  content: "\e600";
}
.icon-refresh:before {
  content: "\e601";
}
.icon-calendar:before {
  content: "\e602";
}
.icon-home:before {
  content: "\e603";
}

/*.icon-chevron-right, .icon-chevron-left { top: 0.12em; }
.icon-chevron-up, .icon-chevron-down,.icon-facebook,.icon-youtube,.icon-twitter { top: 0.1em; }*/

*:hover i { text-decoration: none; }


[class^="moon-"], [class*=" moon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.moon-info:before {
	content: "\e604";
}