$columns: 12;
$desktop-gutter: 30;
$mobile-gutter: 20;

$base: $desktop-large;
$base-gutter: $desktop-gutter;

$gutterAsP: ($base-gutter/$base)*100;
$widthAsP: 100;
$contentAreaAsP: (($base - ($base-gutter*$columns))/$base)*100;

@mixin ignore() {
  &.container_12 {
    width: 100%;
    @for $i from 1 through $columns {
      .grid_#{$i} {
        box-sizing: border-box;
        width: auto;
        display: block;
        float: none;
        position: relative;
      }
    }
  }

  @for $i from 1 through $columns {
    &.grid_#{$i} {
      box-sizing: border-box;
      width: auto;
      display: block;
      float: none;
      position: relative;
    }
  }
}

/* Non CSS3 grid */

.container_12 {
  width: $widthAsP*1%;
  max-width: $base*1px;
  margin-left: auto;
  margin-right: auto;
  @for $i from 1 through $columns {
    .grid_#{$i} {
      width: ((($i/$columns)*$contentAreaAsP)+(($i - 1)*$gutterAsP))*1%;
      padding-left: ($gutterAsP/2)*1%;
      padding-right: ($gutterAsP/2)*1%;
      display: block;
      float: left;
      position: relative;
    }
  }
}

/* content grids */
.fours {
  float: left;
  width: 25%;
}

/* CSS3 grid takes over if media queries enabled */

@media only screen and (min-width: 0em) {
  .container_12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: ($mobile-gutter/2)*1px;
    padding-right: ($mobile-gutter/2)*1px;
    @for $i from 1 through $columns {
      .grid_#{$i} {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: ($mobile-gutter/2)*1px;
        padding-right: ($mobile-gutter/2)*1px;
        width: auto;
        float: none;
        position: relative;
      }
    }

    &.force {
      @for $i from 1 through $columns {
        .grid_#{$i} {
          width: ($i/$columns)*100%;
          padding-left: ($mobile-gutter/2)*1px;
          padding-right: ($mobile-gutter/2)*1px;
          float: left;
        }
      }
    }
  }
}

@media only screen and (min-width: (($mobile-large)/16)*1em) {
  .container_12 {
    margin-left: auto;
    margin-right: auto;
    padding-left: ($desktop-gutter/2)*1px;
    padding-right: ($desktop-gutter/2)*1px;
    @for $i from 1 through $columns {
      .grid_#{$i} {
        padding-left: ($desktop-gutter/2)*1px;
        padding-right: ($desktop-gutter/2)*1px;
        @if ($i*3 < $columns) {
          width: (($i*2)/$columns)*100%;
          float: left;
        } @else if ($columns/$i == 2) {
          width: ($i/$columns)*100%;
          float: left;
        } @else {
          width: auto;
        }
      }
    }
  }
}

@media only screen and (min-width: (($desktop-medium)/16)*1em) {
  .container_12 {
    padding-left: ($desktop-gutter/2)*1px;
    padding-right: ($desktop-gutter/2)*1px;
    @for $i from 1 through $columns {
      .grid_#{$i} {
        float: left;
        width: ($i/$columns)*100%;
        padding-left: ($desktop-gutter/2)*1px;
        padding-right: ($desktop-gutter/2)*1px;
      }
    }

    &.force {
      @for $i from 1 through $columns {
        .grid_#{$i} {
          padding-left: ($desktop-gutter/2)*1px;
          padding-right: ($desktop-gutter/2)*1px;
        }
      }
    }
  }
}

@media only screen and (max-width: (($mobile-small - 1)/16)*1em) {
  .ignore_before_#{$mobile-small-name} {
    @include ignore;
  }
  .visible_before_#{$mobile-small-name} {
    display: initial !important;
  }
  .hidden_before_#{$mobile-small-name} {
    display: none !important;
  }
}

@media only screen and (max-width: (($mobile-medium - 1)/16)*1em) {
  .ignore_before_#{$mobile-medium-name} {
    @include ignore;
  }
  .visible_before_#{$mobile-medium-name} {
    display: initial !important;
  }
  .hidden_before_#{$mobile-medium-name} {
    display: none !important;
  }

  .full_before_#{$mobile-medium-name} {
    width: 100% !important;
  }
}

@media only screen and (max-width: (($mobile-large - 1)/16)*1em) {
  .ignore_before_#{$mobile-large-name} {
    @include ignore;
  }
  .visible_before_#{$mobile-large-name} {
    display: initial !important;
  }
  .hidden_before_#{$mobile-large-name} {
    display: none !important;
  }

  .full_before_#{$mobile-large-name} {
    width: 100% !important;
  }
}

@media only screen and (max-width: (($desktop-medium - 1)/16)*1em) {
  .ignore_before_#{$desktop-medium-name} {
    @include ignore;
  }
  .visible_before_#{$desktop-medium-name} {
    display: initial !important;
  }
  .hidden_before_#{$desktop-medium-name} {
    display: none !important;
  }

  .full_before_#{$desktop-medium-name} {
    width: 100% !important;
  }
}

@media only screen and (max-width: (($desktop-large - 1)/16)*1em) {
  .ignore_before_#{$desktop-large-name} {
    @include ignore;
  }
  .visible_before_#{$desktop-large-name} {
    display: initial !important;
  }
  .hidden_before_#{$desktop-large-name} {
    display: none !important;
  }
}

@media only screen and (min-width: ($mobile-small/16)*1em) {
  .visible_after_#{$mobile-small-name} {
    display: initial !important;
  }
  .hidden_after_#{$mobile-small-name} {
    display: none !important;
  }
}

@media only screen and (min-width: ($mobile-medium/16)*1em) {
  .visible_after_#{$mobile-medium-name} {
    display: initial !important;
  }
  .hidden_after_#{$mobile-medium-name} {
    display: none !important;
  }
}

@media only screen and (min-width: ($mobile-large/16)*1em) {
  .visible_after_#{$mobile-large-name} {
    display: initial !important;
  }
  .hidden_after_#{$mobile-large-name} {
    display: none !important;
  }
}

@media only screen and (min-width: ($desktop-medium/16)*1em) {
  .visible_after_#{$desktop-medium-name} {
    display: initial !important;
  }
  .hidden_after_#{$desktop-medium-name} {
    display: none !important;
  }
  .threes_#{$desktop-medium-name} {
    float: left;
    width: 33.333%;
  }
}

@media only screen and (min-width: ($desktop-large/16)*1em) {
  .visible_after_#{$desktop-large-name} {
    display: initial !important;
  }
  .hidden_after_#{$desktop-large-name} {
    display: none !important;
  }
}

.container_12_absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: ($widthAsP - $gutterAsP)*1%;
}

.container_12_absolute_bottom {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: ($widthAsP - $gutterAsP)*1%;
  @media only screen and (max-width: (607/16)*1em) {
    width: 100%;
    position: relative;
    padding: 1em 0 0 0;
    .quick-spec {
      box-sizing: border-box;
      width: 100%;
      max-width: none;
      table {
        max-width: 250px;
      }
    }
  }
}

.full_width_absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  .reset {
    position: relative;
  }
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row {
  clear: both;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after, .container_12:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* ==========================================================================
   Change grid_3 stak points
   ========================================================================== */
.container_12 .grid_3 {
  float: left;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  @media only screen and (max-width: (($desktop-medium - 1)/16)*1em) {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    float: left;
  }
  @media only screen and (max-width: ((620 - 1)/16)*1em) {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}

/* ==========================================================================
   Fix grid row stack problem, when one item is taller than othesr and ther are
   multiple grid_3 not wrapped by a container.
   this is used in the news and offers pages
   ========================================================================== */

.m2 {
  @media only screen and (max-width: (($desktop-medium - 1)/16)*1em) {
    clear: left;
  }
  &.grid_6 {
    clear: left;
  }
}

.m4 {
  clear: left;
}

//this is the container layouth used by toyota
.master-wrapper , .master-wrapper > * , .master-wrapper > * > * , .primary-nav-outer {
  > .container_12 {
    @media (min-width: 768px) {
      width: 750px;
    }
    @media (min-width: 992px) {
      width: 970px;
    }
    @media (min-width: 1200px) {
      width: 1170px;
    }
  }
}


