/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Nov-2014, 15:22:50
    Author     : marlon.jerez
*/
.printheader{
	display: none;
}
@media print{
	.printheader{
		display: block;
		background-color: #f0f0f0;
		h3{
			position: relative;
			padding-left: 2em;
			text-align: left;
			height: 35px;
			line-height:35px;
			font-family: toyotadisplay_bd;
			img{
				display: block;
				position: absolute;
				top:0;
				right:0;
				height: 35px;
				width: auto;
				background: #fff;
			}
		}
	}
	.master-wrapper{
		background: transparent;
		.header-container{
			background: transparent;
		}
	}
	.carousel{
		.coverBG{
			display: none;
		}

	}
	.assuredContact{
		display: none;
	}
	.content-table td{
		padding: 3px;
		font-size: 14px;
	}
	.social-tools-section{
		display: none;
	}
	footer , .footer-container{
		display: none;
	}
	.thumbnails-container{
		padding: 0;
		margin: 0;
		background: transparent;
		margin-top: 1em;
	}
	.thumbLink{
		display: block;
		float: left;
		width: 20% ;
		height: auto;
		margin:0;
		padding:0;
		border:none;
		margin-bottom:0.5em;
		a img{
			display: block;
			width: 95%;
			height: auto;
			margin: 0 auto;
		}
		&.active{
			border: none;
		}
	}
	.features{
		display:none;
		p{
			font-size: 10px;
		}
	} 
	.used-car-details .blocks .block .text .padding{
		h4,p{
			color: #666;
		}

	} 
	.primary-nav{
		display: block;
		position: relative;
		margin-bottom: 20px;
		&.reveal {
			position: relative;
		}
	}
	.primary-nav-outer{
		.dropdownnav{
			display: none;
		}
		.breadcrumb{
			display: none;
		}
	} 
	.outer-wrapper{
		padding-top: 0px
	}
	.car_deatails_video{
		display: none;
	}
}

