/* max width for full screen assets */
.assetWidthContain {
    max-width: 1920px; 
    margin: 0 auto; 
}

/*  */
.title-left-icon { margin-right: 10px; }
/* .icon-inset { padding: 0 0 0 25px; } */

/* Scaled backgorund image - with inner shadow */
.coverBG
{
    width: 100%;
    height: 100%;
    background-repeat: repeat; 
    background-position: center center; 
    background-repeat:no-repeat;  
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;    
/*    box-shadow: inset 0 0 200px rgba(30,42,50,.5);   */
}


.preventAllAnimations 
{
 -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}


.enableAllAnimations 
{
	-webkit-transform-style: preserve-3d; 
	-webkit-backface-visibility: hidden; 
    -moz-transition: all 0.66s ease;  /* FF4+ */
    -o-transition: all 0.66s ease;   /* Opera 10.5+ */
    -webkit-transition: all 0.66s ease;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.66s ease;   /* IE10 */
    transition: all 0.66s ease; 
}

.innerBoxShadow { box-shadow: inset 0 0 200px rgba(30,42,50,.5); }

/* buggy behaviour occures when scrolling on iOS, the pos: fixed element overlaps content on scroll,
fix needed on all element containers which need to go above the fixed element
see issue #2 http://indiegamr.com/ios6-html-hardware-acceleration-changes-and-how-to-fix-them/ */     
.isoForceHardwardCalc 
{                           
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}


/* Simple utility classes */
.no-js .fadeIn,
.touch .fadeIn { opacity: 1; }
.fadeIn { transition: opacity 2s ease-out; opacity: 0; }
.fadeIn.visible { opacity: 1; }

.center-text { text-align: center; }
.left-text{ text-align: left; }
.right-text{ text-align: right;}
.no-js .no-js-hide { display: none; }
.js .js-hide { display: block; }
.floatleft { float:left !important; }
.rightleft { float:right !important; }
.fullwidth { width: 100% !important; }


