$desktop-large 	: 1200;	$desktop-large-name : 'xl';
$desktop-medium : 992;	$desktop-medium-name: 'l';
$mobile-large 	: 768;	$mobile-large-name 	: 'm';
$mobile-medium 	: 480;	$mobile-medium-name : 's';
$mobile-small 	: 320;	$mobile-small-name 	: 'xs';