@font-face {
    font-family: "toyotadisplay_rg";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/toyota/display/toyotadisplay_regular.eot?#iefix") format("embedded-opentype"), url("fonts/toyota/display/toyotadisplay_regular.woff") format("woff"), url("fonts/toyota/display/toyotadisplay_regular.ttf") format("truetype"), url("fonts/toyota/display/toyotadisplay_regular.svg#toyotadisplay_rg") format("svg");
}

h1 {
    color: #1e2a32;
    display: block;
    font-family: toyotadisplay_rg;
    font-size: 44px;
    letter-spacing: -0.03em;
    line-height: 46px;
}
header{
    width:100%;
    text-align:center;
}
table.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #000000;
    border-collapse: collapse;
    width: 100%;
}
table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #000000;
}
table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #000000;
}
.oddrowcolor{
    background-color:#D8D8D8;
}
.evenrowcolor{
    background-color:white;
}
.show{
    color:red;
    font-weight: bold;
}
table .c-1{
    width:8%;
}
table .c-2{
    width:15%;
}


