{header}

<div class="sitemap">
<div class="container_12 content-block">
	<div class="section_title grid_12">
		<h1 class="heading1">Sitemap</h1>
	</div>
</div>
<div class="container_12 content-block">
<div class="grid_3 page_group">
		<h3 class="heading3">Cars</h3>
		<!-- ##################### models #####################  -->
	<?php	
	$jsonstring = '{exp:json_feed:print_feed src="{insecure_site_url}/api/new-cars" section="modelrange"}';
	$dmodels = json_decode($jsonstring)->modelrange->items;
	foreach ($dmodels as $key => $model) {
		?><div class="url">
		<a target="_blank"href="{site_url}pages<?php echo str_replace("models", "new-car-details", $model->url); ?>"><?php echo $model->title ?></a>
	</div><?php
	}
	?>
</div>
	
	
<div class="grid_3">
	<div class="page_group">
		<h3 class="heading3">Explore Site</h3>
	<!-- ##################### home page #####################  -->
		<div class="url">
			<a target="_blank"href="{site_url}">Home page</a>
		</div>
	<!-- ##################### static links #####################  -->
		<div class="url">
			<a target="_blank"href="{site_url}pages/new-cars">New cars</a>
		</div>
		<div class="url">
			<a target="_blank"href="{site_url}pages/assured-used-cars">Assured used cars</a>
		</div>
	<!-- ##################### service_and_accessories channel #####################  -->
	{exp:channel:entries channel="service_and_accessories" disable="member_data|pagination|trackbacks" status="Open"} 
		<div class="url">
			<a target="_blank"href="{site_url}pages/{url_title}">{title}</a>
		</div> 
	{/exp:channel:entries}
	<!-- ##################### sales channel #####################  -->
	{exp:channel:entries channel="sales" disable="member_data|pagination|trackbacks" status="Open"} 
		<div class="url">
			<a target="_blank"href="{site_url}pages/{url_title}">{title}</a>
		</div> 
	{/exp:channel:entries}
	<?php	$jsonstring5 = '{exp:json_feed:print_feed src="{insecure_site_url}/api/subpages/sales" section=""}';
			$descendant5 = json_decode($jsonstring5);
			foreach ($descendant5 as $key => $val) {
				?><div class="url subpage">
				<a target="_blank"href="{site_url}pages/{url_title}/<?php echo  $val->url_title; ?>"><?php echo $val->title ?></a>
			</div><?php	} ?>
	<!-- ##################### aftersales channel #####################  -->
	{exp:channel:entries channel="aftersales" disable="member_data|pagination|trackbacks" status="Open"} 
		<div class="url">
			<a target="_blank"href="{site_url}pages/{url_title}">{title}</a>
		</div> 
	{/exp:channel:entries}
	<?php	$jsonstring2 = '{exp:json_feed:print_feed src="{insecure_site_url}/api/subpages/aftersales" section=""}';
			$descendant2 = json_decode($jsonstring2);
			foreach ($descendant2 as $key => $val) {
				?><div class="url subpage">
				<a target="_blank"href="{site_url}pages/{url_title}/<?php echo  $val->url_title; ?>"><?php echo $val->title ?></a>
			</div><?php	} ?>
	<!-- ##################### about us channel #####################  -->
	{exp:channel:entries channel="about_us" disable="member_data|pagination|trackbacks" status="Open"} 
		<div class="url">
			<a target="_blank"href="{site_url}pages/{url_title}">{title}</a>
		</div> 
	{/exp:channel:entries}
	<?php	$jsonstring1 = '{exp:json_feed:print_feed src="{insecure_site_url}/api/subpages/about_us" section=""}';
			$descendant1 = json_decode($jsonstring1);
			foreach ($descendant1 as $key => $val) {
				?><div class="url subpage">
				<a target="_blank"href="{site_url}pages/{url_title}/<?php echo  $val->url_title; ?>"><?php echo $val->title ?></a>
			</div><?php	} ?>
	<!-- ##################### contact us channel #####################  -->
	{exp:channel:entries channel="contact_us" disable="member_data|pagination|trackbacks" status="Open"} 
		<div class="url">
			<a target="_blank"href="{site_url}pages/{url_title}">{title}</a>
		</div> 
	{/exp:channel:entries}
	<?php	$jsonstring3 = '{exp:json_feed:print_feed src="{insecure_site_url}/api/subpages/contact_us" section=""}';
			$descendant3 = json_decode($jsonstring3);
			foreach ($descendant3 as $key => $val) {
				?><div class="url subpage">
				<a target="_blank"href="{site_url}pages/{url_title}/<?php echo  $val->url_title; ?>"><?php echo $val->title ?></a>
			</div><?php	} ?>
	<!-- ##################### disclaimer channel #####################  -->
	{exp:channel:entries channel="disclaimer" disable="member_data|pagination|trackbacks" status="Open"} 
		<div class="url">
			<a target="_blank"href="{site_url}pages/{url_title}">{title}</a>
		</div> 
	{/exp:channel:entries}
	<?php	$jsonstring4 = '{exp:json_feed:print_feed src="{insecure_site_url}/api/subpages/disclaimer" section=""}';
			$descendant4 = json_decode($jsonstring4);
			foreach ($descendant4 as $key => $val) {
				?><div class="url subpage">
				<a target="_blank"href="{site_url}pages/{url_title}/<?php echo  $val->url_title; ?>"><?php echo $val->title ?></a>
			</div><?php	} ?>
<!-- ##################### privacy channel #####################  -->
	{exp:channel:entries channel="privacy" disable="member_data|pagination|trackbacks" status="Open"} 
		<div class="url">
			<a target="_blank"href="{site_url}pages/{url_title}">{title}</a>
		</div> 
	{/exp:channel:entries}
	<?php	$jsonstring5 = '{exp:json_feed:print_feed src="{insecure_site_url}/api/subpages/privacy" section=""}';
			$descendant5 = json_decode($jsonstring5);
			foreach ($descendant5 as $key => $val) {
				?><div class="url subpage">
				<a target="_blank"href="{site_url}pages/{url_title}/<?php echo  $val->url_title; ?>"><?php echo $val->title ?></a>
			</div><?php	} ?>
	</div>

	<div class="page_group">
		<h3 class="heading3">Hybrid</h3>
	<!-- ##################### Hybrid #####################  -->
		<div class="url">
			<a target="_blank"href="{site_url}pages/hybrid">hybrid</a>
		</div>
	<?php
		require_once (PATH_THIRD."json_feed/pi.json_feed.php");
		global $siteurl, $hibridroot,$hibridSubpage;
		$siteurl = "{site_url}";
		$hibridroot = "{insecure_site_url}api/hybrid";
		$hibridSubpage = "{insecure_site_url}api/hybrid-subpages";
		function printHybrid($url , $subpage){
			global $siteurl, $hibridroot, $hibridSubpage;
			$feedurl = (!$subpage)?$hibridroot.$url:$hibridSubpage.$url;
			$feed = new Json_feed($feedurl);
			$jsonstring = $feed->print_feed("children");
			if(!$jsonstring)
				return;
			$navs = json_decode($jsonstring)->children;
			foreach ($navs as $key => $navItem) {
	?>
		<div class="url">
			<a target="_blank"href="<?php echo $siteurl; ?>pages/hybrid<?php echo $navItem->url; ?>"><?php echo $navItem->title; ?></a>
		</div>
	<?php
			printHybrid($navItem->url,true);
			}
		}
		printHybrid("",false);
	?>
	</div>
</div>
	
	
<div class="grid_3">
	<div class="page_group">
		<h3 class="heading3">Service and Accessories</h3>
	<!-- ##################### Service and Accessories #####################  -->
		<div class="url">
			<a target="_blank"href="{site_url}">Service and Accessories</a>
		</div>
	<?php
		require_once (PATH_THIRD."json_feed/pi.json_feed.php");
		global $siteurl,$saaroot,$saaSubpage;
		$siteurl = "{site_url}";
		$saaroot = "{insecure_site_url}api/service-and-accessories";
		$saaSubpage = "{insecure_site_url}api/service-and-accessories-subpages";
		function printSAA($url , $subpage){
			global $siteurl, $saaroot, $saaSubpage;
			$feedurl = (!$subpage)?$saaroot.$url:$saaSubpage.$url;
			//echo "feed:".$feedurl."\n";
			$feed = new Json_feed($feedurl);
			$jsonstring = $feed->print_feed("children");
			if(!$jsonstring)
				return;
			$navs = json_decode($jsonstring)->children;
			foreach ($navs as $key => $navItem) {
	?>
		<div class="url">
			<a target="_blank"href="<?php echo $siteurl; ?>pages/<?php echo $navItem->url; ?>"><?php echo $navItem->title; ?></a>
		</div>
	<?php
				printSAA($navItem->url,true);
			}
		}
		printSAA("",false);
	?>	
	</div>	
</div>	
	
	
	

<div class="grid_3">
	<div class="page_group">
		<h3 class="heading3">Contact</h3>
	<!-- ##################### static menu and forms ##################### -->

		<div class="url">
			<a target="_blank"href="{site_url}#/contactus/pane-contact">Contact us</a>
		</div>
		<div class="url">
			<a target="_blank"href="{site_url}#/getdirections/pane-directions">Get directions</a>
		</div>
		<div class="url">
			<a target="_blank"href="{site_url}#/tequestbroch/pane-brochure">Request a brochure</a>
		</div>
		<div class="url">
			<a target="_blank"href="{site_url}#/booktestdrive/pane-test-drive">Arrange a test drive</a>
		</div>
		<div class="url">
			<a target="_blank"href="{site_url}#/bookservice/pane-service">Book a service</a>
		</div>
	</div>

	<!-- ##################### news channel #####################  -->
	{exp:channel:entries channel="news" disable="member_data|pagination|trackbacks" status="Open" limit="1"}
	<div class="page_group">
		<h3 class="heading3">News</h3>
	{/exp:channel:entries}
	{exp:channel:entries channel="news" disable="member_data|pagination|trackbacks" status="Open"} 
		<div class="url">
			<a target="_blank"href="{site_url}pages/{url_title}">{title}</a>
		</div> 
	{/exp:channel:entries}
	{exp:channel:entries channel="news" disable="member_data|pagination|trackbacks" status="Open" limit="1"}
	</div>
	{/exp:channel:entries}

	<!-- ##################### offers channel #####################  -->
	{exp:channel:entries channel="offers" disable="member_data|pagination|trackbacks" status="Open" limit="1"}
	<div class="page_group">
		<h3 class="heading3">Offers</h3>
	{/exp:channel:entries}
	{exp:channel:entries channel="offers" disable="member_data|pagination|trackbacks" status="Open"} 
		<div class="url">
			<a target="_blank"href="{site_url}pages/{url_title}">{title}</a>
		</div> 
	{/exp:channel:entries}
	{exp:channel:entries channel="offers" disable="member_data|pagination|trackbacks" status="Open" limit="1"}
	</div>
	{/exp:channel:entries}
</div>

</div>
</div>
{footer}