{header_gofunyourself}
	<div id="locked-area">
		<div class="inside"></div>
	</div>
	<div id="your-challenge" class="section-block orange">
		<div class="container_12">
			<div class="grid_12">
				<h1 class="heading1">Win a new Toyota&nbsp;AYGO</h1>
				<div class="image_aygo_orange" id="car">
					<img src="assets/images/image_aygo_orange.png" alt="Orange Aygo">
				</div>
			</div>
			<div class="clear"></div>
			<div class="grid_7 centered">
				<p>Share a fun video or photo on Twitter or Instagram with the <strong>#GoFunYourself</strong> hashtag for your chance to win a brand new Toyota&nbsp;AYGO and much, much&nbsp;more!</p>
				<br>
				<h3 class="hashtag">#GoFunYourself</h3>
				<div class="soc-icons">
					<div class="soc-icon"><a target="_blank" href="https://twitter.com/search?q=gofunyourself">a</a></div>
					<div class="soc-icon"><a target="_blank" href="http://www.instagram.com">x</a></div>
				</div>
				<!--<a href="https://twitter.com/intent/tweet?text=%23GoFunYourself%20%40toyotaireland" class="uiBtn darkBtn lgBtn hasIcon">
					<i class="icon icon-twitter"></i>
					<span class="text">Tweet your entry</span>
				</a>-->
			</div>
		</div>
	</div>
	<div id="latest-entries" class="section-block grey_dark">
		<div class="container_12">
			<div class="grid_12">
				<h2 class="aygoXbrush"><span class="latestnews1">Latest</span> <span class="latestnews2">entries</span></h2>
			</div>
			<div class="clear"></div>
			<div class="grid_7 centered">
				<h3>From bear hugging to Morgan Freeman impressions, here are some of our favourite entries so&nbsp;far.</h3>
				<p>Add your photo or video entry on Twitter or Instagram with the <strong>#GoFunYourself</strong> hashtag for your chance to win a zippy new&nbsp;Aygo.</p>
			</div>
			<br>
			<div id="entries" class="instagram-videos">
				
				
			</div>
			<div class="clear"></div>
			<div class="grid_12">
				<div class="show-more">
					<a href="#" class="uiBtn greyBtn hasIcon more">Show more <i class="icon icon-chevron-down"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div id="prizes" class="section-block teal">
		<div class="container_12">
			<div class="grid_12">
				<h2 class="aygoXbrush"><span class="prizes1">Mucho, mucho</span> <span class="prizes2">prizes</span></h2>
				<h3>Prizes that hit the right&nbsp;buttons</h3>
				<div id="prize-pics">
					<div class="image_aygo_black"><img src="assets/images/image_aygo_black.png" alt="Side view of black Toyota Aygo"></div>
					<div class="image_aygo_white"><img src="assets/images/image_aygo_white.png" alt="Side view of white Toyota Aygo"></div>
					<div class="image_taytoman"><img src="assets/images/image_taytoman.png" alt="Tayto man"></div>
					<div class="image_haribo1"><img src="assets/images/image_haribo1.png" alt="Packet of Haribo"></div>
					<div class="image_haribo2"><img src="assets/images/image_haribo2.png" alt="Packet of Haribo"></div>
					<div class="image_jumper1"><img src="assets/images/image_jumper1.png" alt="Jumper with pizza pattern on it"></div>
					<div class="image_jumper2"><img src="assets/images/image_jumper2.png" alt="Jumper with cat on it"></div>
					<div class="image_aygo_orange_front"><img src="assets/images/image_aygo_orange_front.png" alt="Front view of orange Toyota Aygo"></div>
					<div class="image_spacehopper1"><img src="assets/images/image_spacehopper1.png" alt="Spacehopper"></div>
					<div class="image_spacehopper2"><img src="assets/images/image_spacehopper2.png" alt="Spacehopper"></div>
				</div> 
			</div>
			<div class="clear"></div>
			<div class="grid_7 centered">
				<p>There’s loads of prizes to be won, including a brand new Aygo. For your chance to win, simply share a fun video or photo on Twitter or Instagram using the hashtag <strong>#GoFunYourself</strong>.</p>
			</div>
			<div class="grid_12">

			</div>
		</div>
	</div>
	
	{embed="components/header_video"}
	
	
	<div class="section-block grey">
		<div class="container_12">
			<div class="grid_3 gridright gofunyourself-logo">
				<div class="logo_gfy_aygo_black"><img src="assets/images/logo_gfy_aygo_black.png" alt="Go fun yourself | Aygo"></div>
			</div>
			<div class="grid_9 button-group">
					<a href="//www.toyota.ie/models/aygo/" target="_blank" class="uiBtn redBtn lgBtn hasIcon"><span>Learn more<span class="long"> about the Toyota AYGO</span></span>&nbsp;<i class="icon icon-chevron-right"></i></a>
					<a href="//www.toyota.ie/models/model-test-drive/?mid=Aygo" target="_blank" class="uiBtn redBtn lgBtn hasIcon"><span>Try this model</span>&nbsp;<i class="icon icon-chevron-right"></i></a>
					<a href="//finance.toyota.ie" target="_blank" class="uiBtn redBtn lgBtn hasIcon"><span>Finance options</span>&nbsp;<i class="icon icon-chevron-right"></i></a>
			</div>
		</div>
	</div>

	<div class="parallax  clearfix" data-layer-parallax>
		<div class="assetWidthContain bg-par">
			<div class="background-layer" style="background-image: url(assets/images/image_aygo.jpg)" data-height="900" data-width="1600">
			</div>
		</div>
	</div>

	<div id="about-the-aygo" class="section-block salmon">
		<div class="container_12">
			<div class="grid_12">
				<h2 class="aygoXbrush tilted">Go fun yourself</h2>
			</div>
			<div class="grid_6">
				<p class="small left">Front to back, there’s no mistaking AYGO. Choose from the x, x-play, x-play+ or the x-cite and x-clusiv special editions. From the standout customisable x -grille and slick LED lights, to the sporty roof spoiler and contoured rear lights. And there’s a host of cool parts to customise. Express your personality by adding one of our four optional styling packs to x-play and x-play+ – OUTstand and INtense for maximum impact and contrast or OUTglow and INspire for more subtle combinations. The only limit to the fun is your&nbsp;imagination.</p>
				<p class="small left">Come on in, AYGO's not just a pretty face. Pick your tunes, set your route and connect your smart phone to the colourful new AYGO x-touch media system. Then mirror link allows your smartphone’s media functions to appear on the x-touch screen. Use the rear view camera for easy manoeuvring. Add your own unique style to the interior trims with INspire pack to choose the colour of the air vents or INtense pack to choose the colour of the interior&nbsp;console.</p>
			</div>
			<div class="grid_6">
				<img src="assets/images/image_aygo_black.png" alt="Black Aygo">
			</div>
		</div>
	</div>
{footer_gofunyourself}


