<!--
    Name: Footer
    ID: CUSTOM
    URL: N/A
-->
<div class="footer-container isoForceHardwardCalc">
	<div class="footer">
		<div class="container_12 force">
			<div class="row">
				<div class="grid_6">
					<ul>
						<li class="link"><a href="/">Contact us</a></li>
						<li class="link"><a href="/">Privacy Policy</a></li>
						<li class="link"><a href="/">Disclaimer</a></li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="grid_6">
					<ul class="align-right">
						<li class="link"><a class="hasIcon return_menu" href="/" ><span>Back to top</span><i class="icon icon-chevron-up"></i></a></li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="row">
				<div class="grid_12">
					<p class="copyright">Copyright &copy; Toyota Ireland</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="row">
				<div class="grid_3 social-buttons">
					<a class="social-button social-button-facebook" href="https://www.facebook.com/toyotaireland" target="_blank">
						<i class="icon icon-facebook"></i>
					</a>
					<a class="social-button social-button-twitter" href="https://twitter.com/toyotaireland" target="_blank">
						<i class="icon icon-twitter"></i>
					</a>
					<a class="social-button social-button-youtube" href="https://www.youtube.com/user/ToyotaIreland" target="_blank">
						<i class="icon icon-youtube"></i>
					</a>
				</div>
				<div class="grid_9 hidden_before_l">
					<ul class="buttons">
						<li class="button">
							<a class="uiBtn greyBtn hasIcon hasIconRight" href="/">
								<span>Flex&nbsp;Finance</span>&nbsp;<i class="icon icon-car2"></i>
							</a>
						</li>
						<li class="button">
							<a class="uiBtn greyBtn hasIcon hasIconRight" href="/">
								<span>Price&nbsp;List</span>&nbsp;<i class="icon icon-file-alt"></i>
							</a>
						</li>
						<li class="button">
							<a class="uiBtn greyBtn hasIcon hasIconRight" href="/">
								<span>Toyota&nbsp;Loyalty&nbsp;Club</span>&nbsp;<i class="icon icon-star"></i>
							</a>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>

