<!--
Component details

Name: Dynamic CTA
ID: c_t2_002
Version number: 1.0
Location(s): Article template, Car chapter, others TBC
URL: http://toyota-stage.amaze.com/html/components/tier2/dynamicCTA.html
Child components: none
-->


<!-- Standard CTA -->
<div class="dynamic-cta">
    <ul class="container_12 cta-list">
        <li><a href="#">Menu CTA 1</a></li>
        <li><a href="#">Menu CTA 2</a></li>
        <li><a href="#">Menu CTA 3</a></li>
        <li><a href="#">Menu CTA 4</a></li>
    </ul>
</div>

<!-- Dark CTA -->
<div class="dynamic-cta dark">
    <ul class="container_12 cta-list">
        <li><a href="#">Menu CTA 1</a></li>
        <li><a href="#">Menu CTA 2</a></li>
        <li><a href="#">Menu CTA 3</a></li>
        <li><a href="#">Menu CTA 4</a></li>
    </ul>
</div>




<!--
Javascript optional functioinality
see: http://toyota-stage.amaze.com/html/components/tier2/dynamicCTA.html

The CTA will render as standard content in page as shown in the HTML example above so it may be positioned at the correct point in the HTML for its context and usable without JavaScript enabled, CSS classes are used to control the hiding and showing of the CTA's, the class 'bound' changes the position property of the CTA to fixed and places it just below the end of the viewport, the active class then triggers the item sliding into view, remove the active class and the item slides out of view again. An additional class of 'binding' prevents users seeing the initial transition. In some cases the element may need to be moved to near the end of the document to avoid any conflicts with parent item positioning, z-index or overflow.

This implementation relies purely on CSS transitions, and the show/hide is not animated when CSS transitions are not supported.
Below is an simple example of binding, and then show / hiding a CTA

-->

<script type="text/javascript">	
function bindCTA() {
    $('#exampleCTA1').addClass('binding bound').height(); // triggers reflow
    $('#exampleCTA1').removeClass('binding');
} 
function ShowCTA() {
    $('#exampleCTA1').toggleClass('active');
}
</script>