<!--
    Name: Primary Navigation
    ID: c_n1_001
    URL: http://toyota-stage.amaze.com/html/components/navigation/PrimaryNavigation.html
	
    1.2 Primary navigation drop down
-->
<div class="nav-content">
    <nav id="main_menu">
        <div class="container_12 navigation-menu clearfix">
            <ul class="model-list grid_6 full_before_l">
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>IQ</strong> From &#8364;18,000.00
                        </span>
                    </a>
                </li>
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>Yaris</strong> From &#8364;18,000.00
                        </span>
                        <span class="model-decoration hybrid">Hybrid available</span>
                    </a>
                </li>
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>IQ</strong> From &#8364;18,000.00
                        </span>
                    </a>
                </li>
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>Yaris</strong> From &#8364;18,000.00
                        </span>
                        <span class="model-decoration hybrid">Hybrid available</span>
                    </a>
                </li>
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>IQ</strong> From &#8364;18,000.00
                        </span>
                    </a>
                </li>
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>Yaris</strong> From &#8364;18,000.00
                        </span>
                        <span class="model-decoration hybrid">Hybrid available</span>
                    </a>
                </li>
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>IQ</strong> From &#8364;18,000.00
                        </span>
                    </a>
                </li>
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>Yaris</strong> From &#8364;18,000.00
                        </span>
                        <span class="model-decoration hybrid">Hybrid available</span>
                    </a>
                </li>
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>IQ</strong> From &#8364;18,000.00
                        </span>
                    </a>
                </li>
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>Yaris</strong> From &#8364;18,000.00
                        </span>
                        <span class="model-decoration hybrid">Hybrid available</span>
                    </a>
                </li>
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>IQ</strong> From &#8364;18,000.00
                        </span>
                    </a>
                </li>
                <li class="fours threes_l">
                    <a href="/" class="model-item">
                        <img src="images/auris.png" width="150" height="95" alt="prius" />
                        <span class="model-name">
                            <strong>Yaris</strong> From &#8364;18,000.00
                        </span>
                        <span class="model-decoration hybrid">Hybrid available</span>
                    </a>
                </li>

            </ul>
            <ul class="grid_3 link-list">

                <li class="menu-link-block">
                    <div class="padding">
                        <a class="title" href="/">Explore site</a>
                        <ul>
                            <li><a href="/">New cars</a></li>
                            <li><a href="/">Assured used cars</a></li>
                            <li><a href="/">Offers</a></li>
                            <li><a href="/">Our team</a></li>
                            <li><a href="/">Services and accessories</a></li>
                            <li><a href="/">Brochures</a></li>
                            <li><a href="/">News</a></li>
                            <li><a href="/">Hybrid</a></li>
                            <li><a href="/">Custom slot 1</a></li>
                            <li><a href="/">Custom slot 2</a></li>
                            <li><a href="/">Custom slot 3</a></li>
                            <li><a href="/">About us</a></li>
                            <li><a href="/">Contact us</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="grid_3 link-list">
                <li class="cta-nav-block">
                    <div class="padding">
                        <ul >
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="contactus">
								<a class="secContentTrigger" href="./html/forms/forms.html" id="pane-contact">
									<span>Contact us</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</li>
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="getdirections">
								<a class="secContentTrigger" href="./html/forms/forms.html" id="pane-directions">
									<span>Get directions</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</li>
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="tequestbroch">
								<a class="secContentTrigger" href="./html/forms/forms.html" id="pane-brochure">
									<span>Request a brochure</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</li>
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="booktestdrive">
								<a class="secContentTrigger" href="./html/forms/forms.html" id="pane-test-drive">
									<span>Arrange a test drive</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</li>
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="bookservice">
								<a class="secContentTrigger" href="./html/forms/forms.html" id="pane-service">
									<span>Book a service</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</li>
                            <li class="search-slide hidden_after_m">
                                <input class="search" type="text" placeholder="Search Toyota">
                                <a href=""><i class="icon icon-search"></i></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu-link-block">
                    <div class="padding">
                        <a class="title" href="/">Toyota information</a>
                        <ul>
                            <li><a href="/">Toyota Loyalty Club</a></li>
                            <li><a href="/">Price List</a></li>
                            <li><a href="/">Flex Finance</a></li>
                        </ul>
                    </div>
                </li>
                <li class="social-buttons">
                    <a class="social-button social-button-facebook" href="https://www.facebook.com/toyotaireland" target="_blank">
                        <i class="icon icon-facebook"></i>
                    </a>
                    <a class="social-button social-button-twitter" href="https://twitter.com/toyotaireland" target="_blank">
                        <i class="icon icon-twitter"></i>
                    </a>
                    <a class="social-button social-button-youtube" href="https://www.youtube.com/user/ToyotaIreland" target="_blank">
                        <i class="icon icon-youtube"></i>
                    </a>
					<a class="social-button social-button-linkedin" href="" target="_blank">
						<i class="icon ">in</i>
					</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container_12 disclaimer">
        <div class="grid_12">
            <p>The prices shown could be part of a promotion. <a  href="/" class="special-offer">Learn more <i data-icon="&#xf02b;" class="icon icon-tag icon"></i></span></p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<script type="text/javascript">
	// Secondary Content bindings
	$('#main_menu .SecContentContainer').each(function() {
		$(this).SecondaryContent({
			"sectionIDs": $(this).data("id").split("/"),
			"mode": $(this).data("contenttype"),
			"cGroupName": $(this).data("name"),
			"translations": TranslationManager.getLocalTranslations()
		});
	});
</script>
