<!--
    Name: Primary Navigation
    ID: c_n1_001
    URL: http://toyota-stage.amaze.com/html/components/navigation/PrimaryNavigation.html
    
    1.0 Top bar, Search, Breadcrumb
-->
<div class="primary-nav" >
    <div class="primary-nav-outer">
        <div class="container_12 clearfix">
            <a href="index.html" class="logo-link">
                <img src="images/logo.png" alt="Toyota" width="94" height="152" />
                <span class="small-logo"></span>
            </a>
            <div class="grid_12">
                <ul class="large-nav dropdownnav">
                    <li>
                        <a href="html/nav/menu.html" id="main_menu_trigger">
                            <span class="link hidden_before_m"><strong>Menu</strong></span>&nbsp;<i class="icon icon-chevron-down hidden_before_l"></i>
                            <i class="icon icon-reorder hidden_after_m"></i>
                        </a>
                        <ul class="search-container">
                            <li class="search-slide hidden_before_m">
                                <input class="search" type="text" autocomplete="off" placeholder="Search Toyota" />
                                <i class="icon icon-search"></i>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="breadcrumb hidden_before_m">
                    <li><a href="/"><span>Home</span></a><i class="sprite-menu-dark-arrow"></i><i class="slash">/</i></li>
                    <li><a href="/"><span>Home</span></a><i class="sprite-menu-dark-arrow"></i><i class="slash">/</i></li>
                    <li class="active"><a href="/"><span>World of Toyota World of Toyota World of Toyota World of Toyota World of Toyota World of Toyota</span></a><i class="sprite-menu-dark-arrow" style="left: 180px;"></i><i class="slash">/</i></li>
                </ul>
				<h3 class="dealername">Dealer Name.</h3>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="main_nav"></div>