<!--
    Name: Primary Navigation
    ID: c_n1_001
    URL: http://toyota-stage.amaze.com/html/components/navigation/PrimaryNavigation.html
    
    1.1 Secondary nav, more dropdown
-->
<div class="secondary-nav">
	<div class="container_12 clearfix">
		<div class="grid_12">
			<ol class="sec-nav-list">
				<li class="active sec-item"><a href="/">Link1</a></li>
				<li class="sec-item"><a href="/">Link2</a></li>
				<li class="sec-item"><a href="/">Link3</a></li>
				<li><a href="/">Link4</a></li>
				<li class="more">
					<a href="/"><span>More</span>&nbsp;<i class="icon icon-chevron-down"></i></a>
					<ul>
						<li><a href="/">More information</a></li>
						<li><a href="/">Extra stuff</a></li>
					</ul>
				</li>
			</ol>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>