{header_auc_lexus}
<div class="lexus_content_wrapper">
    <header class="header_lexus" id="header_lexus">
        <div class="container_12">
            <div class="grid_12">
                <img class="lex_logo" alt="Lexus" src="/assets/images/Lexus-logo.png">

                <div class="lex_links"><a href="http://www.lexus.ie/" target="_blank" class="menu_link"><i
                            class="icon icon-chevron-right"></i> Visit Lexus.ie</a></div>
            </div>
        </div>
    </header>
    <div id='mainContainer'>
        <div class="" id="car_details_back">
            <div class="container_12">
                <div class="grid_12">
                    <a class="scrollTo" onclick="window.history.back()"><i class="icon icon-chevron-left"></i> &nbsp;
                        Back to Search results</a>
                </div>
            </div>
        </div>
        {exp:json_feed:render_html template="templates/assured-used-car-details" template_root="usedcarslexus"}
        {exp:json_feed:print_feed src="{insecure_site_url}api/assured-used-car-details/{segment_3}" section=""}
        {/exp:json_feed:render_html}
    </div>
</div>
<script type="text/javascript" src="https://www.toyota-europe.com/sys/inc/lib/responsiveiframe.js"></script>
{footer_auc_lexus}
