{header_auc_lexus}
<div class="lexus_content_wrapper">
    <header class="header_lexus animated" id="header_lexus">
        <div class="container_12">
            <div class="grid_12">
                <img class="lex_logo" alt="Lexus" src="/assets/images/Lexus-logo.png">

                <div class="lex_links"><a href="http://www.lexus.ie/" target="_blank" class="menu_link"><i
                            class="icon icon-chevron-right"></i> Visit Lexus.ie</a></div>
            </div>
        </div>
    </header>
    <div class='container_12 content-block padding lexus_content' id="">
        <div class="grid_12">
            <div class="section_title">
                <h1 class="heading1 aucTitle">APPROVED PRE-OWNED CARS</h1>
            </div>
        </div>
    </div>
    {carsearch_auc_lexus}
</div>
{footer_auc_lexus}