{header_auc}
<div class="printheader">
    <h3 class="heading3">Toyota.ie <img src="https://d1hu588lul0tna.cloudfront.net/toyotaone/ieen/logo-small_tcm-3044-137261.png"></h3>
</div>
<div id='mainContainer' class="assuredusedcarssubdomain">

    <div class="" id="car_details_back">
        <div class="container_12">
            <div class="grid_12">
                <?php
                //production by default
                $final_url = "//assuredusedcars.toyota.ie/";
                if($_SERVER['HTTP_HOST'] == "assuredusedcarstest.toyota.ie"){
                    $final_url = "//assuredusedcarstest.toyota.ie/";
                }
                ?>
                <a class="scrollTo"  href="<?= $final_url ?>" ><i class="icon icon-chevron-left"></i> &nbsp; Back to Search results</a>
            </div>
        </div>
    </div>
    <div class="master-wrapper">

        <div id="car-details" class="no-dealer-page">
            {if get:car}
                {exp:json_feed:render_html template="templates/assured-used-car-details"}
                    {exp:json_feed:print_feed src="{insecure_site_url}api/assured-used-car-details/{get:car}" section=""}
                {/exp:json_feed:render_html}
            {if:else}
                {exp:json_feed:render_html template="templates/assured-used-car-details"}
                    {exp:json_feed:print_feed src="{insecure_site_url}api/assured-used-car-details/{segment_3}" section=""}
                {/exp:json_feed:render_html}
            {/if}

        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.toyota-europe.com/sys/inc/lib/responsiveiframe.js"></script>
{footer_auc}




