{if get:car}
 {embed="pages/assured-used-car-details"}
{if:else}
{header_auc}
<header class="header-container gray">
    <div class="bg-image-hero bg-image-hero-small ">
        <div class="coverBG hero-auc" style="background-image: url({cms_url}inc/images/used_cars_header.jpg);"></div>
    </div>
</header>
<div class='container_12 content-block padding'>
    <div class="grid_12">
        <div class="section_title">
            <h1 class="heading1 heading1-auc">Assured Used Cars</h1>
        </div>
    </div>
</div>
{carsearch_auc}
{footer_auc}
{/if}
