{header_auc}
<header class="header-container gray">
	<div class="bg-image-hero bg-image-hero-small">
		<div class="coverBG hero-auc" style="background-image: url({cms_url}inc/images/used_cars_header.jpg);"></div>
	</div>
</header>
<div class='padding'></div>
<div class="container_12 content-block" id="searchComponent">
	<div class="grid_12">
		<div class="section_title">
			<h2 class="heading1 heading1-auc">Assured Used Cars</h2>
		</div>
		{carsearch_standalone_auc}
	</div>
</div>
<script type="text/javascript" src="https://www.toyota-europe.com/sys/inc/lib/responsiveiframe.js"></script>
<script type="text/javascript">
	var respCont = new ResponsiveContainer('searchComponent');
</script>
{footer_auc}