{header_whatdrivesyou}

	{embed="components/header_video" image_url="/assets/images/paulkatie_1.jpg" title="Katie &amp; Paul" youtube_id="gEVSxcLkWXo"}

	<div class="container_12 content-block center-text">	
		<div class="grid_10 centered top-gap extra-mobile-gap">
			<p>Paul has scaled the very heights of his sport, as a hero for both his province and his country. Katie's toughest competition as the greatest female boxer in the world, is her own past achievement.</p>
			<p>We think they make the perfect partners for the best built cars in the&nbsp;world.</p>
			<p>So, on beautiful late summer morning, we decided to bring the two of them together to train, share their insights and give us a fascinating look at two of Ireland's greatest athletes with their guard down. We even invited some of Ireland's sports stars of the future to join in the&nbsp;action.</p>
			<p>Take a look for yourself, see Katie and Paul as you've never seen them before. And then let us know: what drives&nbsp;you?</p>
			<h3 class="hashtag">#whatdrivesyou</h3>
		</div>
	</div>
	<div class="quote grey">
		<div id="katie-whatdrivesme" class="container_12 content-block center-text">
			<div class="grid_12 top-gap-large">
				<h3>What drives me is I want to be the greatest female boxer of all&nbsp;time.</h3>
				<h4>- Katie Taylor</h4>
			</div>
			<div class="clear"></div>
			<div class="grid_8 centered">
				<div class="youtube" rel="JmBbpUZbtsE" id="JmBbpUZbtsE"></div>
			</div>
		</div>
	</div>

	{embed="components/socialtools" internal_link="katie-whatdrivesme"}

	<div class="quote blue">
		<div id="paul-giveitabitofjonny" class="container_12 content-block center-text">
			<div class="grid_12 top-gap-large">
				<h3>You see, you're not doing the Jonny Wilkinsons, Katie...<br>That's the problem. You need to give it a bit of Jonny&nbsp;Wilkinson.</h3>
				<h4>- Paul O'Connell</h4>
			</div>
			<div class="clear"></div>
			<div class="grid_8 centered">
				<div class="youtube" rel="T6wFNNtQKcQ" id="T6wFNNtQKcQ"></div>
			</div>
		</div>
	</div>

	{embed="components/socialtools" internal_link="paul-giveitabitofjonny"}
	{embed="components/parallax" image_url="/assets/images/paulkatie_2.jpg"}
	
	<div id="paul-beatupthebrothers" class="container_12 content-block center-text quote white">
		<div class="grid_12 top-gap-large">
			<h3>Is that the plan? That’s the master plan...<br>To be able to beat up the&nbsp;brothers.</h3>
			<h4>- Paul O'Connell</h4>
		</div>
		<div class="clear"></div>
		<div class="grid_8 centered">
			<div class="youtube" rel="6_A3vKpGf3Y" id="6_A3vKpGf3Y"></div>
		</div>
	</div>

	{embed="components/socialtools" internal_link="paul-beatupthebrothers"}

	<div class="quote grey">
		<div id="paul-isparredwiththatguy" class="container_12 content-block center-text">
			<div class="grid_12 top-gap-large">
				<h3>Tokyo 2020. I'll be watching you and<br>I'll say "I sparred that&nbsp;guy!"</h3>
				<h4>- Paul O'Connell</h4>
			</div>
			<div class="clear"></div>
			<div class="grid_8 centered">
				<div class="youtube" rel="b-nOpCiPj5k" id="b-nOpCiPj5k"></div>
			</div>
		</div>
	</div>

	{embed="components/socialtools" internal_link="paul-isparredwiththatguy"}
	{embed="components/parallax" image_url="/assets/images/paulkatie_3.jpg"}

	<div class="quote blue">
		<div id="katie-anylessofawarrior" class="container_12 content-block center-text">
			<div class="grid_12 top-gap-large">
				<h3>Just because you’re a female boxer doesn’t make you any less of a&nbsp;warrior.</h3>
				<h4>- Katie Taylor</h4>
			</div>
			<div class="clear"></div>
			<div class="grid_8 centered">
				<div class="youtube" rel="z1rWknej-_4" id="z1rWknej-_4"></div>
			</div>
		</div>
	</div>

	{embed="components/socialtools" internal_link="katie-anylessofawarrior"}
	{embed="components/parallax" image_url="/assets/images/paulkatie_4.jpg"}
	
	
{footer_whatdrivesyou}


