{header_whatdrivesyou}
	{embed="components/header_video" image_url="/assets/images/johnnystephen_5.jpg" title="WHAT DRIVES YOU" youtube_id="D35zcIsprfM"}
	<div class="container_12 content-block center-text">	
		<div class="grid_10 centered top-gap extra-mobile-gap">
			<p>At Toyota, we have always been driven by the pursuit of perfection. That's something we share with our exceptional ambassadors; Paul&nbsp;O'Connell, Katie&nbsp;Taylor, Stephen&nbsp;Cluxton and Johnny&nbsp;Sexton.</p>
			<p>Take a look for yourself, see these Irish sporting legends as you've never seen them before. And then let us know: What drives&nbsp;you?</p>
			<h3 class="hashtag">#whatdrivesyou</h3>
		</div>
	</div>
	<div class="container_12">
		<div class="grid_6 page-link">
			<a href="/pages/katie-and-paul">
				<h3><span class="text">Katie Taylor &amp; Paul O'Connell</span></h3>
				<span class="imgContainer">
					<img class="img100" src="/assets/images/paulkatie_1.jpg" alt="Katie and Paul">
				</span>
				<div class="clearfix"></div>
			</a>
			<h4><a href="/pages/johnny-and-stephen">See Katie and Paul as you've never seen them before &nbsp;<i class="icon icon-chevron-right"></i></a></h4>
			<p>Paul has scaled the very heights of his sport, as a hero for both his province and his country. And, as the greatest female boxer in the world, Katie's toughest competition is her own past&nbsp;achievement.</p>
		</div>
		<div class="grid_6 page-link">
			<a href="/pages/johnny-and-stephen">
				<h3><span class="text">Stephen Cluxton &amp; Johnny Sexton</span></h3>
				<span class="imgContainer">
					<img class="img100" src="/assets/images/johnnystephen_5.jpg" alt="Johnny and Stephen">
				</span>
				<div class="clearfix"></div>
			</a>
			<h4><a href="/pages/johnny-and-stephen">See Stephen and Johnny in action&nbsp;<i class="icon icon-chevron-right"></i></a></h4>
			<p>Stephen has been one of the GAA's great players in a Dublin jersey over many years. While Johnny is recognised around the world for his Rugby prowess for Ireland and the&nbsp;Lions.</p>
		</div>
	</div>
	{embed="components/socialtools" internal_link="katie-anylessofawarrior"}
	
{footer_whatdrivesyou}


