<div class="nav-content">
    <nav id="main_menu">
        <div class="container_12 navigation-menu clearfix">
            <ul class="grid_3 link-list">
                                    
                <li class="menu-link-block">
                    <div class="padding">
                        <a class="title" href="/">Explore site</a>
                        <ul>
                            <li><a href="/">Home</a></li> 
							<li><a href="/pages/service-and-accessories"><span style="text-transform:none">Service and accessories</span></a></li>
							{exp:low_reorder:entries set="menu" disable="member_data|category_fields"}
								  {if title}
                                  <li><a href="/pages/{url_title}">{title}</a></li>
								  {/if}
                            {/exp:low_reorder:entries}
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="contactus">
                                <a class="secContentTrigger" href="/ajax/forms" id="pane-contact">
                                    <span>Contact us</span> <i class="icon icon-chevron-right" data-icon=""></i>
                                </a>
                            </li>
                            <li class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="service" style="display:none;">
                                <a class="secContentTrigger" href="ajax/forms" id="pane-service">
                                    <span>Service</span> <i class="icon icon-chevron-right" data-icon=""></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
<!--				<li class="menu-link-block">
                    <div class="padding">
                        <ul>
                            <li><a href="/pages/hybrid">Hybrid</a></li>
							<li><a href="/pages/service-and-accessories">Service and Accessories</a></li>
                        </ul>
                    </div>
                </li>-->
            </ul>
			<ul class="grid_3 link-list">
				<li class="menu-link-block">
                    <div class="padding">
                        <a class="title" href="/">Toyota information</a>
                        <ul>
                            <li><a href="http://www.toyotatlc.ie/login" target='_blank'>Toyota Loyalty Club</a></li>
                            <!--li><a href="#" target='_blank'>Price List</a></li-->
                            <li><a href="http://finance.toyota.ie" target='_blank'>Toyota Car Finance</a></li>
                        </ul>
                    </div>
                </li>
                <li class="social-buttons">
                    {exp:json_feed:render_html src="{insecure_site_url}/api/generic_settings" template="components/social_links" section="social_links"}
                </li>
			</ul>
        </div>
    </nav>

    <div class="container_12 disclaimer">
        <div class="grid_12">
<!--            <p>The prices shown could be part of a promotion. &nbsp;<a  href="/pages/offers" class="special-offer">Learn more 
					<i data-icon="&#xf02b;" class="icon-tag icon"></i>			
				</a></p>-->
        </div>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">	
	// Secondary Content bindings
	$('#main_menu .SecContentContainer').each(function() {
		$(this).SecondaryContent({
			"sectionIDs": $(this).data("id").split("/"),
			"mode": $(this).data("contenttype"),
			"cGroupName": $(this).data("name"),
			"translations": TranslationManager.getLocalTranslations()
		});
	});
</script>
