<footer>
	<div class="footer-container isoForceHardwardCalc">	
		<div class="footer">
			<div class="container_12 force">
				<div class="row">
					<div class="grid_6">
						<ul>
							{exp:channel:entries channel="disclaimer|privacy|contact_us" dynamic="no"}
							<li class="link"><a href="/pages/{url_title}">{title}</a></li>
							{/exp:channel:entries}
							<li style="link"><a href="">&nbsp;</a></li>
						</ul>
						<div  class="clear"></div>
					</div>
					<div class="grid_6">
						<ul class="align-right">
							<li class="link"><a class="hasIcon return_menu" href=""><span>Back to top</span><i class="icon icon-chevron-up"></i></a></li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
                <?php

                if(defined("FINANCE_BOX")){
                    ?>
                    <div class="row">
                        <div class="grid_12">
                            <p class="copyright">Toyota Flex Finance Terms & Conditions</p>
                            <p class="copyright">*Lending criteria and terms and conditions apply. Figures are indicative and the quotation is for illustrative purposes only and does not constitute a contract. Finance is provided by way of a hire purchase agreement. Finance example is based on a fixed rate APR of 8.9% as shown above which is inclusive of a once off documentation fee of €63.49. Rate quoted is correct as at the above date and is subject to change. The weekly amount is shown for illustrative purposes only, all instalments are payable monthly. The credit provider is Bank of Ireland Finance which is a registered trading name of Bank of Ireland.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <?php
                }
                ?>
                <div class="row">
                    <div class="grid_12">
                        <p class="copyright">Copyright &copy; Toyota Ireland</p>
                    </div>
                    <div class="clear"></div>
                </div>
				<div class="row">

					<div class="grid_3 social-buttons">
						{exp:json_feed:render_html src="{insecure_site_url}/api/generic_settings" template="components/social_links" section="social_links" no_redirect="yes"}
					</div>
					<div class="grid_9 hidden_before_l">
						<ul class="buttons">
							<li class="button">
								<a class="uiBtn greyBtn hasIcon hasIconRight" href="http://finance.toyota.ie" target='_blank'>
									<span>Toyota&nbsp;Car&nbsp;Finance</span>&nbsp;<i class="icon icon-car2"></i>
								</a>
							</li>
							<!--							<li class="button">
															<a class="uiBtn greyBtn hasIcon hasIconRight" href="" target='_blank'>
																<span>Price&nbsp;List</span>&nbsp;<i class="icon icon-file-alt"></i>
															</a>
														</li>-->
							<li class="button">
								<a class="uiBtn greyBtn hasIcon hasIconRight" href="http://www.toyotatlc.ie/login" target='_blank'>
									<span>Toyota&nbsp;Loyalty&nbsp;Club</span>&nbsp;<i class="icon icon-star"></i>
								</a>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
</div>
<?php $build_number = file_get_contents(BASEPATH."../../../inc/build-number.txt","utf-8")?>
<?php if ($_SERVER["REMOTE_ADDR"] === "127.0.0.1" || $_SERVER["REMOTE_ADDR"] === "::1") { ?>
<!-- ################### LOCALHOST ################### -->
	<script src="//local.cms1toyota.ie/inc/js/libs.js?build=<?= $build_number ?>"></script>
	<script src="//local.cms1toyota.ie/inc/js/main.js?build=<?= $build_number ?>"></script>
	<script type="text/javascript" src="//local.cms1toyota.ie/themes/third_party/gmap/javascript/infobox.js"></script>
	<script type="text/javascript" src="//local.cms1toyota.ie/themes/third_party/gmap/javascript/markerclusterer.js"></script>
	<!--[if lt IE 9]> <script src="//local.cms1toyota.ie/inc/js/ie8.js"></script> <![endif]-->
<?php } elseif($_SERVER["HTTP_HOST"] === "developmenttest.toyota.ie"){ ?>
	<!-- ################### DEVELOPMENT SERVER ################### -->
	<script src="//developmenttest.toyota.ie/inc/js/libs.js?build=<?= $build_number ?>"></script>
	<script src="//developmenttest.toyota.ie/inc/js/main.js?build=<?= $build_number ?>"></script>
	<script type="text/javascript" src="//developmenttest.toyota.ie/themes/third_party/gmap/javascript/infobox.js"></script>
	<script type="text/javascript" src="//developmenttest.toyota.ie/themes/third_party/gmap/javascript/markerclusterer.js"></script>
	<!--[if lt IE 9]> <script src="http://developmenttest.toyota.ie/inc/js/ie8.js"></script> <![endif]-->
<?php } else {

    $debug = (!isset($_GET["DEBUG"]))?".min":"";
    ?>
	<!-- ################### LIVE SERVER ################### -->
	<script src="{cms_url}inc/js/libs<?= $debug ?>.js?build=<?= $build_number ?>"></script>
	<script src="{cms_url}inc/js/main<?= $debug ?>.js?build=<?= $build_number ?>"></script>
	<script type="text/javascript" src="{cms_url}themes/third_party/gmap/javascript/infobox.js"></script>
	<script type="text/javascript" src="{cms_url}themes/third_party/gmap/javascript/markerclusterer.js"></script>
	<!--[if lt IE 9]> <script src="{cms_url}inc/js/ie8.js"></script> <![endif]-->
<?php } ?> 	
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "beeac92e-6cdb-46cc-9d56-876fd7dab5d1", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id))
			return;
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>