	<?php
		$mobile="{if is_mobile}true{if:else}false{/if}";
		$count="{{homepage_carousel.length}}";
	?>
	<header class="header-container <?php if($count>1) echo "carousel"; ?> ">
			<div class="bg-image-hero assetWidthContain">
				<div class="coverBG carousel-bg" 

				style="background-image: url(

				{{#each homepage_carousel}}{{#if @first}}
				<?php
					if($mobile=='true') echo str_replace('/content/','/content/_preview/','{{image}}');
					else echo str_replace('/content/','/content/_header/','{{image}}');
				?>
				{{/if}}{{/each}}

				);" 
				
				data-carousel-assets="
				
				{{#each homepage_carousel}}
				
				<?php
					if($mobile=='true') echo str_replace('/content/','/content/_preview/','{{image}}');
					else echo str_replace('/content/','/content/_header/','{{image}}');
				?>

				{{#unless @last}}|{{/unless}}{{/each}}

				"></div>
				
				{{#each homepage_carousel}}
					<div class="hero-inner container_12 container_12_absolute block center-text" data-carousel-link="{{link}}">
						<div class="grid_12">
							<h1 class="heading1"><?php echo html_entity_decode("{{title}}");?></h1>
							<span class="heading2"><?php echo html_entity_decode("{{description}}");?></span>
						</div>
					</div>
					<a href="{{link}}" class="carousel-link"></a>
				{{/each}}
				
				
			</div>
	</header>