{{#if desktopImageUrl}}
{{> socialtools}}
<a href="{external_url}{{targetUrl}}">
	<div class="parallax  clearfix footer-paralax" data-layer-parallax>
		<div class="assetWidthContain bg-par">
			<div class="background-layer" style="background-image: url({{desktopImageUrl}})" data-height="900" data-width="1600">

			</div>
		</div>
	</div>
</a>
{{/if}}
