<?php $rand=rand(10,100); ?>
<div class="page-section spotlight-container content-block {{#if background}}spotlight-container-{{background}} {{/if}}" id="{{sectionInpageId}}" data-id="#{{sectionInpageId}}">
    <section>
        <div class="container_12 clearfix read-more-rows" data-initial-rows="1">
            <div class="grid_12 center-text title-area">
                <h2 class="heading1">{{title}}</h2>
                <a class="read-more-trigger no-js-hide" href="#PromoList<?php echo $rand; ?>">View all</a>
            </div>

            <div class="grid_row read-more-rows-container spotlight-wrapper" id="PromoList<?php echo $rand; ?>">
                <div class="slide-up-element grid_row isoForceHardwardCalc">		
					{{#each items}}
						<?php 
							$datatype='{{targetType}}{{dataType}}';
							$datatype=trim($datatype);
							$data='';
							$url=($datatype == 'overlayer-external' || $datatype == 'video')?'/ajax/videoloader?videourl={{url}}{{movie.defaultVideo}}':'/pages/offers/toyota-article{{url}}';
							$class=($datatype == 'overlayer-external' || $datatype == 'video')?'secContentTrigger':'';
							$parent=($datatype == 'overlayer-external' || $datatype == 'video')?'SecContentContainer':'';
							if($parent) $data='data-contenttype="ajax" data-name="{{title}}" data-id="Video{{@index}}"';
							$trigger='';
							if($parent) $trigger='secContentTrigger';

						?>
						<div class="more_about_item <?php echo $parent; ?>"  <?php echo $data;?> >
							<a href="<?php echo $url; ?>" class="spotlight {{class}} <?php echo $trigger; ?>" id='link{{@index}}' rel="<?php echo $url; ?>" >
								<?php
									$image="{{thumbnail}}";
									if(strpos($image, 'http')===false) $image="{external_url_images}".$image;
									echo "<img src='".$image."' alt='' />";
								?>
								<p><strong>
									<?php echo html_entity_decode("{{title}}"); ?>
								</strong>&nbsp;&nbsp;&nbsp;<?php echo html_entity_decode("{{description}}");?></p>
							</a>
						</div>
					{{/each}}
					<div class="clear"></div>
                </div>
                <div class="slide-end"></div>
            </div>

        </div>
    </section>
</div>