{{#with generic_settings.[0]}}
<?php 
  $test = '{{{dealer_location}}}';
  $marker= json_decode($test);
  $geo='';
  if(count($marker)){
  	if(count($marker->markers)) {
  		if(count($marker->markers->results)){
  			$geo = $marker->markers->results[0]->geometry->location; 
  		}
  	}
  } 
  // generates an unique id for the map, in case two or more maps displayed in same page
  $rand = rand (0, 3200);
?>
	
	<h2 class="heading1 text-center">Our Location</h2>
	

	
	{exp:gmap:init id="dmap_<?php echo $rand;?>"  script_tag="false" class="gmap" zoom="9" style="width:100%;height:400px" scrollwheel="false"}
	{/exp:gmap:init}

	
	
	{exp:gmap:marker id="dmap_<?php echo $rand;?>" zoom="14" latitude="<?php if($geo) echo $geo->lat; ?>" longitude="<?php if($geo) echo $geo->lng; ?>" geocode="false" clustering="false"}
		<h3>{{title}}</h3>
		<h4><?php echo html_entity_decode("{{dealer_address}}");?></h4>
		<h4>contact number: {{dealer_contact_number}}</h4>
		<h4>contact email: {{dealer_contact_email}}</h4>
	{/exp:gmap:marker}
	
	
	<br/>
	
	<div class="padding">
		<a href="#" class="uiBtn  darkBtn" id="getRoute">Get Route</a>
	</div>

{{/with}}
