<?php global $hybrid; ?>
<div class="content-block page-section"  data-id="#{{sectionInpageId}}"  id="{{sectionInpageId}}">
	<div class="container_12 clearfix page-section" id="{{sectionInpageId}}" data-id="#{{sectionInpageId}}">
		<div class="grid_12 center-text section-title">
			<h1 class="heading1">{{title}}</h1>
		</div>
	</div>
	<div class=" filterable-content clearfix SecContentContainer otherfeatures" data-id="OtherFeatures" data-name="Features" data-contenttype="move">
		<div class="container_12">
			<div class="grid_12">
				<div class="grid_12 filter-bar no-js-hide">
					<div class="fb-inner">
						{{#if ../../cardbData.otherfeatures.subModels.[1]}}
						<a href="#" class="uiBtn blueBtn fbg-item hidden_before_l" data-item-filter=".hybrid-item" data-onclass="greyBtn" data-offclass="blueBtn" data-ontext="View standard model features">View hybrid model features</a>
						{{/if}}
						<ul class="fb-group fb-list">
							<li><a href="#otherfeatures_Exterior" class="fb-item uiBtn greyBtn" data-section-filter=".exterior-group" data-default>Exterior</a></li>
							<li><a href="#otherfeatures_Interior" class="fb-item uiBtn greyBtn" data-section-filter=".interior-group">Interior</a></li>
							<li><a href="#otherfeatures_Engines" class="fb-item uiBtn greyBtn" data-section-filter=".engines-group">Driving</a></li>
							<li><a href="#otherfeatures_Safety" class="fb-item uiBtn greyBtn" data-section-filter=".safety-group">Safety</a></li>
							<li><a href="#" class="secContentTrigger fb-item uiBtn greyBtn" data-section-filter=".fc-group" id="view-all" data-viewall>View all</a></li>
						</ul>
					</div>
				</div>
				<div class="fc-group-container">
					<div class="fc-group exterior-group clearfix">
						<h2 class="heading3 fc-group-name">Exterior</h2>
						<div class="fc-group-content">
							{{#each ../../cardbData.otherfeatures.subModels.[0].EXT.features}}
							<?php $hybrid = false; ?>{{> feature}}
							{{/each}}
							{{#each ../../cardbData.otherfeatures.subModels.[1].EXT.features}}
							<?php $hybrid = true; ?>{{> feature}}
							{{/each}}
						</div>
					</div>


					<div class="fc-group interior-group clearfix">
						<h2 class="heading3 fc-group-name">Interior</h2>
						<div class="fc-group-content">
							{{#each ../../cardbData.otherfeatures.subModels.[0].INT.features}}
							<?php $hybrid = false; ?>{{> feature}}
							{{/each}}
							{{#each ../../cardbData.otherfeatures.subModels.[1].INT.features}}
							<?php $hybrid = true; ?>{{> feature}}
							{{/each}}
						</div>
					</div>


					<div class="fc-group engines-group clearfix">
						<h2 class="heading3 fc-group-name">Driving</h2>
						<div class="fc-group-content">
							{{#each ../../cardbData.otherfeatures.subModels.[0].engine.features}}
							<?php $hybrid = false; ?>{{> feature}}
							{{/each}}
							{{#each ../../cardbData.otherfeatures.subModels.[1].engine.features}}
							<?php $hybrid = true; ?>{{> feature}}
							{{/each}}
						</div>
					</div>


					<div class="fc-group safety-group clearfix">
						<h2 class="heading3 fc-group-name">Safety</h2>
						<div class="fc-group-content">
							{{#each ../../cardbData.otherfeatures.subModels.[0].SFTY.features}}
							<?php $hybrid = false; ?>{{> feature}}
							{{/each}}
							{{#each ../../cardbData.otherfeatures.subModels.[1].SFTY.features}}
							<?php $hybrid = true; ?>{{> feature}}
							{{/each}}
						</div>
					</div>




				</div>
			</div>
		</div>
	</div>

</div>
