{{#each items}}
{{#if ctas}}
<div class="greyBg" style="margin-bottom:0">
	<div class=" buttonsBar container_12">
		<div class="grid_3">
			<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="contactus2">
				<a href="/ajax/forms" id="btbar_pane-contact" class="secContentTrigger uiBtn  redBtn  hasIcon" >
					&nbsp;&nbsp;Contact Us <i class="icon icon-chevron-right"></i>
				</a>
			</span>
		</div>

		<div class="grid_3">
			<a href="/pages/new-cars" class="uiBtn  redBtn  hasIcon">&nbsp;&nbsp;New Cars<i class="icon icon-chevron-right"></i></a>
		</div>

		<div class="grid_3">
			<a href="/pages/assured-used-cars" class="uiBtn  redBtn  hasIcon">&nbsp;&nbsp;Assured Used Cars<i class="icon icon-chevron-right"></i></a>
		</div>

		<div class="grid_3">
			<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="bookservice2">
				<a href="/ajax/forms" id="btbar_pane-service" class="secContentTrigger uiBtn  redBtn  hasIcon">
					&nbsp;&nbsp;Request Service<i class="icon icon-chevron-right"></i>
				</a>
			</span>
		</div>
	</div>
</div>
{{else}}
<div class="parallax  clearfix" data-layer-parallax>
	<div class="assetWidthContain bg-par">
		<div class="background-layer" style="background-image: url({external_url_images}{{binary.url}}{{multimedia.binary.url}})" data-height="900" data-width="1600">
		</div>
		<div class="move-into-parallax container_12 container_12_absolute">
			<div class="bg-par">


				{{#if externalLink}} 
				<?php $url = url?>
				<div class="bg-par-inner SecContentContainer" data-contenttype="ajax" data-name="Youtube Video" data-id="parallax-video">
                    <a id="videoLink" class="" href="{{externalLink}}" target="_blank">
                        <h1 class="heading1">{{title}}</h1>
                        <div class="heading2">{{{description}}}</div>
                        <span class="ui-sprite play-icon-large"></span>
                    </a>

                </div>
				{{else}}
				<div class="bg-par-inner {{textDisplayColourClass}}">
					<h1 class="heading1">{{title}}</h1>
					<div class="heading2">{{{description}}}</div>
				</div>

				{{/if}}

			</div>


		</div>
	</div>
</div>
{{/if}}

{{/each}}