<div class="">
	<div class="padding">&nbsp;</div>
	<div class="container_12 clearfix padding">
		<div class="grid_12 center-text section-title">
			<h1 class="heading1">{{title}}</h1>
		</div>
	</div>
	<div class="gallery-horizontal SecContentContainer" data-contenttype="ajax" data-id="EndevourGallery" data-name="Endevour" data-gallery-horizontal>
		<div class="gallery-horizontal-row">
			<div class="gallery-horizontal-row-inner">
				{{#each items}}
				<article class="gallery-item article-gallery-item" data-type="video" data-bt-action="click_function" data-bt-value="browse">

					<a class="item-link secContentTrigger" href="/ajax/videoloader?videourl={{fullScreenItem.defaultVideo}}" id="A{{@index}}"
					   class="item-link" data-media-poster="{{thumbnail.bynary.url}}"
					   data-media-sourcewebm="/ajax/videoloader?videourl={{fullScreenItem.defaultVideo}}" data-media-sourcemp4="/ajax/videoloader?videourl={{fullScreenItem.defaultVideo}}"  data-media-sourceflv="/ajax/videoloader?videourl={{fullScreenItem.defaultVideo}}" data-media-sourceogv="/ajax/videoloader?videourl={{fullScreenItem.defaultVideo}}" data-bt-track="" data-bt-value="reason-to-own-2013-environment" data-bt-eventclass="assetevent" data-bt-action="play_video" data-bt-assettype="video" data-bt-assetname="/ajax/videoloader?videourl={{fullScreenItem.defaultVideo}}" data-contenttype="ajax">
						<span class="border-hover"></span>
						<img src="{external_url_images}{{thumbnail.binary.url}}" alt="{{thumbnail.title}}" width="355" height="248" />
						<i class="icon icon-play" data-icon="&#xf002;"></i>
					</a>
					<div class="item-content">
						<h4 class="title">{{thumbnail.title}}</h4>
						<p>{{thumbnail.description}}</p>
					</div>
				</article>
				{{/each}}
			</div>
		</div>
	</div>
</div>