<?php $rand=rand(10,100); ?>
{{#this}}
<?php
    $background='{{background}}';
    $section='news';
    if($background=='hybrid'){
        $section='hybrid';
    }
?>
<div class="spotlight-container content-block {{#if background}}spotlight-container-{{background}}{{/if}}">
    <section>
        <div class="container_12 clearfix read-more-rows" data-initial-rows="1">
            <div class="grid_12 center-text title-area">
                <h2 class="heading1">{{title}}</h2>
                <a class="read-more-trigger no-js-hide" href="#PromoList<?php echo $rand; ?>">View all</a>
            </div>

            <div class="grid_row read-more-rows-container spotlight-wrapper" id="PromoList<?php echo $rand; ?>">
                <div class="slide-up-element grid_row isoForceHardwardCalc">
							
							{{#each items}}
							<div class="more_about_item">
								<a href="/pages/<?php echo $section; ?>/{{#if url}}toyota-article{{url}}{{/if}}{{#if url_title}}local-article/{{url_title}}{{/if}}" class="spotlight {{class}}" rel="{{url}}">
									<?php
										$image="{{thumbnail}}{{news_image}}{{image}}";
										if(strpos($image, 'http')===false) $image="{external_url_images}".$image;
										echo "<img src='".str_replace('/headers/','/headers/_preview/',$image)."' alt='' />";
									?>
									<p><strong><?php echo html_entity_decode("{{title}}"); ?></strong>&nbsp;&nbsp;&nbsp;<?php echo html_entity_decode("{{description}}");?></p>
								</a>
							</div>
							{{/each}}

                   			<div class="clear"></div>        
                </div>
                <div class="slide-end"></div>
            </div>

        </div>
    </section>
</div>
{{/this}}