{{#each this}}
<?php
$channel = '{{channel}}';
$full_url = '{{url}}';
if ($channel == '') {
	$full_url = '/pages/{{type}}/toyota-article{{url}}';
}
?>
<div class="grid_6 fc-group">
	<div class="fc-content clearfix">
		<article class="item offer-spotlight news {{channel}}">
				<a href="<?php echo $full_url; ?>">
				<span class="imgContainer">
					<img class="img100" src="{{image}}" alt="<?php echo html_entity_decode("{{title}}"); ?>">
				</span>
				<div class="clearfix"></div>
				{{#if title}}
				<h3 class="header1">			
					<?php
						$type = strtolower(strip_tags("{{type}}"));
						if ($type === "event") {
							echo '<span class="uiBtn redBtn smBtn event"> &nbsp;&nbsp;Event&nbsp;&nbsp; </span>';
						}else{
							echo '<span class="uiBtn redBtn smBtn news"> &nbsp;&nbsp;Offer&nbsp;&nbsp; </span>';
						}
						?>
					<span class="text"><?php echo html_entity_decode("{{title}}");?></span> 
						<?php

						if ($type === "special offer") {
							echo ' &nbsp;&nbsp;<i class="icon icon-tag"></i>';
						}
					?>  
				</h3>
				</a>
				{{/if}}
				{{#if subtitle}}
				<div class="subtitle">
					<a href="<?php echo $full_url; ?>" class="cta-link">
						<?php echo html_entity_decode("{{subtitle}}"); ?> <i class="icon icon-chevron-right"></i>
					</a>
				</div>
				{{/if}}
				<p class="summary">
					<?php
					$text = strip_tags(html_entity_decode("{{summary}}{{description}}{{news_summary}}"));
					if (strlen($text) > 120) {
						$pos = strpos($text, " ", 120);
						echo substr($text, 0, $pos) . " ...";
					} else {
						echo $text;
					}
					?>
				</p>
				{{#if discalimer}}
					<p class="terms">More info</p>
					<p class="full-terms">
						{{this}}
					</p>
				{{/if}}
			
		</article>
	</div>
</div>
{{/each}}