<?php $rand=rand(10,100); ?>
<div class="spotlight-container content-block">
    <section>
        <div class="container_12 clearfix read-more-rows" data-initial-rows="1">
            <div class="grid_12 center-text title-area">
                <h1 class="heading1">Related Articles</h1>
                <a class="read-more-trigger no-js-hide" href="#PromoList<?php echo $rand; ?>">View all</a>
            </div>

            <div class="slide-up-container grid_row read-more-rows-container spotlight-wrapper" id="PromoList<?php echo $rand; ?>">
                <div class="slide-up-element grid_row isoForceHardwardCalc">
							{{#each subpages}}
							<div class="more_about_item">
								<a href="/pages/<?php echo $this->EE->uri->segment(2);?>/{{url_title}}" class="spotlight {{class}}" rel="{{url}}">
									<?php
										$image="{{image_header}}{{generic_content_image_header}}";
                                        echo "<img src='".$image."' alt='' />";
									?>
									<p><strong><?php echo html_entity_decode('{{title}}');?>
                                    </strong>&nbsp;&nbsp;&nbsp;<?php echo html_entity_decode('{{subtitle}}{{generic_content_subtitle}}');?></p>
								</a>
							</div>
                            {{/each}}

                   			<div class="clear"></div>        
                </div>
                <div class="slide-end"></div>
            </div>

        </div>
    </section>
</div>

