<div class="greyBg">
<div class="container_12 content-block section-sub-spotlights ">
	<div class="padding"></div>
{{#each overview}}
	<div class="grid_6">
        <div class="offer-spotlight element">
            {{#if pid.pid.taxonomy.image.binary.url}}<a href="/pages/hybrid{{url}}"><img src="{external_url_images}{{pid.pid.taxonomy.image.binary.url}}" alt="{{title}}"></a>{{/if}}
            {{#if title}}
            <h3 class="header1">
                <a href="/pages/hybrid{{url}}">{{title}}</a>
        	</h3>
        	{{/if}}
			{{#if pid.pid.taxonomy.description}}
			<p class="description">
				{{pid.pid.taxonomy.description}}
			</p>
			{{/if}}
        	<ul>
			    {{#each items}}
					<li><a href="/pages/hybrid{{url}}"><strong>{{title}}</strong></a></li>
			    {{/each}}
			</ul>
        </div>
    </div>
{{/each}}
<div class="clear"></div>
</div>
</div>