<div class="content-block">
	<div class="page-section" data-id="#{{sectionInpageId}}"  id="{{sectionInpageId}}">
		<section>
			<div class="container_12 clearfix">
				<div class="grid_12 center-text section-title">
					<h1 class="heading1">{{title}}</h1>
				</div>
			</div>
			{{#each items}}
			<div class="top-feature content-toggle" data-content-toggle data-layer-parallax>
				<div class="content-block">
					<aside class="assetWidthContain bg-par">
						<div class="background-layer" style="background-image: url({{topfeature.[0].image}})" data-height="900" data-width="1600" {{#if topfeature.[1].image}}data-alt-img="{{topfeature.[1].image}}"{{/if}}></div>

					</aside>
				</div>

				<div class="body-content">
					<div class="header-block move-into-parallax">
						<div class="container_12 arrow">
							<div class="grid_12">
								<p class="header2" data-alt="{{topfeature.[0].title}}">{{topfeature.[0].title}}</p>
								<div class="button-right-container">
									{{#if topfeature.[1].image}}
									<a href="#btn" class="uiBtn blueBtn toggleBtn enableAllAnimations" data-alt-text="Non-hybrid state">View {{topfeature.[1].title}}</a>
									{{/if}}
									<span class="SecContentContainer" data-id="feature_{{../@index}}" data-contenttype="ajax" data-name="{{topfeature.[0].title}}" >
										<a href="/ajax/videoloader?videourl={{topfeature.[0].movies.defaultVideo}}"  id="feature_{{../@index}}"  
										   class="secContentTrigger uiBtn hasIcon darkBtn playMovieButton enableAllAnimations" >
											<i data-icon="" class="icon icon-play"></i>Play movie</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="container_12 clearfix">
						<div class="grid_12">
							<div class="default-block">
								<p>
									{{{topfeature.[0].description}}}
								</p>
							</div>
							{{#if topfeature.[1].description}}
							<div class="alt-block">
								<p>
									{{{topfeature.[1].description}}}
								</p>
							</div>
							{{/if}}
						</div>
					</div>
				</div>

			</div>
			{{/each}}
		</section>
	</div>
</div>