{header}
<div id="car-details">
<div class="secondary-nav" >
	<div class="container_12 clearfix">
		<div class="grid_12">
			<ol class="sec-nav-list">
				<li><a class="scrollTo" onclick="window.history.back()" href="javascript:void(0)" id="carback"><i class="icon icon-chevron-left"></i> &nbsp; Back to Search results</a></li>
				<li class="mask" style="opacity: 0;"></li></ol>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
	{exp:json_feed:render_html template="templates/assured-used-car-details"}
		{exp:json_feed:print_feed src="{insecure_site_url}api/assured-used-car-details/{segment_3}" section=""}
	{/exp:json_feed:render_html}
</div>
{footer}

