{header_tserv}

<div class="sitemap">
    <div class="container_12 content-block">
        <div class="section_title grid_12">
            <h1 class="heading1">Sitemap</h1>
        </div>
    </div>
    <div class="container_12 content-block">


        <div class="grid_4">
            <div class="page_group">
                <h3 class="heading3">Explore Site</h3>
                <!-- ##################### home page #####################  -->
                <div class="url">
                    <a target="_blank" href="{site_url}">Home page</a>
                </div>


                <!-- ##################### aftersales channel #####################  -->
                {exp:channel:entries channel="aftersales" disable="member_data|pagination|trackbacks" status="Open"}
                <div class="url">
                    <a target="_blank" href="{site_url}pages/{url_title}">{title}</a>
                </div>
                {/exp:channel:entries}
                <?php $jsonstring2 = '{exp:json_feed:print_feed src="{insecure_site_url}/api/subpages/aftersales" section=""}';
                $descendant2 = json_decode($jsonstring2);
                foreach ($descendant2 as $key => $val) {
                    ?>
                    <div class="url subpage">
                    <a target="_blank"
                       href="{site_url}pages/{url_title}/<?php echo $val->url_title; ?>"><?php echo $val->title ?></a>
                    </div><?php } ?>
                <!-- ##################### about us channel #####################  -->
                {exp:channel:entries channel="about_us" disable="member_data|pagination|trackbacks" status="Open"}
                <div class="url">
                    <a target="_blank" href="{site_url}pages/{url_title}">{title}</a>
                </div>
                {/exp:channel:entries}
                <?php $jsonstring1 = '{exp:json_feed:print_feed src="{insecure_site_url}/api/subpages/about_us" section=""}';
                $descendant1 = json_decode($jsonstring1);
                foreach ($descendant1 as $key => $val) {
                    ?>
                    <div class="url subpage">
                    <a target="_blank"
                       href="{site_url}pages/{url_title}/<?php echo $val->url_title; ?>"><?php echo $val->title ?></a>
                    </div><?php } ?>
                <!-- ##################### contact us channel #####################  -->
                {exp:channel:entries channel="contact_us" disable="member_data|pagination|trackbacks" status="Open"}
                <div class="url">
                    <a target="_blank" href="{site_url}pages/{url_title}">{title}</a>
                </div>
                {/exp:channel:entries}
                <?php $jsonstring3 = '{exp:json_feed:print_feed src="{insecure_site_url}/api/subpages/contact_us" section=""}';
                $descendant3 = json_decode($jsonstring3);
                foreach ($descendant3 as $key => $val) {
                    ?>
                    <div class="url subpage">
                    <a target="_blank"
                       href="{site_url}pages/{url_title}/<?php echo $val->url_title; ?>"><?php echo $val->title ?></a>
                    </div><?php } ?>
            </div>
        </div>


        <div class="grid_4">
            <div class="page_group">
                <h3 class="heading3">Service and Accessories</h3>
                <!-- ##################### Service and Accessories #####################  -->
                <div class="url">
                    <a target="_blank" href="{site_url}">Service and Accessories</a>
                </div>
                <?php
                require_once(PATH_THIRD . "json_feed/pi.json_feed.php");
                global $siteurl, $saaroot, $saaSubpage;
                $siteurl = "{site_url}";
                $saaroot = "{insecure_site_url}api/service-and-accessories";
                $saaSubpage = "{insecure_site_url}api/service-and-accessories-subpages";
                function printSAA($url, $subpage)
                {
                    global $siteurl, $saaroot, $saaSubpage;
                    $feedurl = (!$subpage) ? $saaroot . $url : $saaSubpage . $url;
                    //echo "feed:".$feedurl."\n";
                    $feed = new Json_feed($feedurl);
                    $jsonstring = $feed->print_feed("children");
                    if (!$jsonstring)
                        return;
                    $navs = json_decode($jsonstring)->children;
                    foreach ($navs as $key => $navItem) {
                        ?>
                        <div class="url">
                            <a target="_blank"
                               href="<?php echo $siteurl; ?>pages/<?php echo $navItem->url; ?>"><?php echo $navItem->title; ?></a>
                        </div>
                        <?php
                        printSAA($navItem->url, true);
                    }
                }

                printSAA("", false);
                ?>
            </div>
        </div>


        <div class="grid_4">
            <div class="page_group">
                <h3 class="heading3">Contact</h3>
                <!-- ##################### static menu and forms ##################### -->

                <div class="url">
                    <a target="_blank" href="{site_url}#/contactus/pane-contact">Contact us</a>
                </div>
            </div>
        </div>

    </div>
</div>
{footer_tserv}