@font-face {
  font-family: "AygoXBrush";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/AygoXBrush/AygoXBrush.eot?#iefix") format("embedded-opentype"), 
       url("fonts/AygoXBrush/AygoXBrush.woff") format("woff"), 
       url("fonts/AygoXBrush/AygoXBrush.ttf") format("truetype"), 
       url("fonts/AygoXBrush/AygoXBrush.svg#AygoXBrush") format("svg");
}

@font-face {
    font-family: 'socicon';
    src: url('fonts/socicon/socicon-webfont.eot');
    src: url('fonts/socicon/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/socicon/socicon-webfont.woff') format('woff'),
         url('fonts/socicon/socicon-webfont.ttf') format('truetype'),
         url('fonts/socicon/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.master-wrapper { position: relative; top: -22px; }


.aygoXbrush { font-family: "AygoXBrush" !important; text-transform: uppercase !important; }
.caps { text-transform: uppercase; }
.centered { margin: 0 auto !important; float: none !important; }
.gap { margin-bottom: 6em !important; }
.shadow { -webkit-text-shadow: 1px 1px 10px rgba(0, 0, 0, 1) !important;
-moz-text-shadow: 1px 1px 10px rgba(0, 0, 0, 1) !important;
-ms-text-shadow: 1px 1px 10px rgba(0, 0, 0, 1) !important;
-o-text-shadow: 1px 1px 10px rgba(0, 0, 0, 1) !important;
text-shadow: 1px 1px 10px rgba(0, 0, 0, 1) !important; }

/*
	grey_light:	#E7E7E7
	grey: 		#DEDFE0
	grey_med: 	#AAAAAA
	grey_dark:  #141517
	orange: 	#EB532E
	teal:   	#30AF93
	salmon: 	#FF4B64
	yellow: 	#ffa800
	blue: 		#2cc0da 
*/

.heading1, h1 { font-size: 4.13em; line-height: 1.09em; margin-bottom: 0.6em; text-transform: uppercase; }

.scroller { position: relative; }
	/* .scroller.spinning li { text-shadow: 0px 0px 5px white; transform:scale(1,1);  color: transparent; } */
	.scroller ul li { transition: background 1s ease; width: 100%; position: absolute; font-family: "AygoXBrush"; font-size: 3em; color: #fff; text-align: center; }
		.scroller ul li.orange { background: #EB532E; }
		.scroller ul li.blue { background: #2cc0da; }
		.scroller ul li.teal { background: #30AF93; }
		.scroller ul li.yellow { background: #ffa800; }

	.scroller ul li .padding { padding:0; margin: 20px 60px; line-height: 1em; }
	
	.scroller .arrow-left { position: absolute; left: 0; z-index: 60; line-height: 0; height: 0; border-left: 70px solid #000; border-top: 50px solid transparent; border-bottom: 50px solid transparent; }
	.scroller .arrow-right { position: absolute; right: 0; z-index: 60; line-height: 0; height: 0; border-right: 70px solid #000; border-top: 50px solid transparent; border-bottom: 50px solid transparent; }
	.scroller .indicator { position: absolute; display: none; top: 3em; z-index: 60; width: 50%; margin: 0 25%; background: #000; color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px;  }
		.scroller .indicator .padding { margin:0; padding: 1em; font-size: 1.5em; }
		.scroller .indicator .padding .icon_hourglass { width: 0.6em; float: left; margin-right: 0.5em; position: relative; top: -0.15em; }
		.scroller .indicator .padding .icon_hourglass img { width: 100%; }

.button-container { margin: 3em auto 7em; max-width: 321px; }
	.buttonbig { width: 100%; position: relative; cursor: pointer; margin: 0 auto 43px; }
		.buttonbig img { width: 100%; }

		.buttonbig .top { transition: padding 0.5s ease,margin 0.5s ease; position: relative; z-index: 10; width: 100%; }
			.buttonbig .top .flash { position: absolute; z-index: 10; top:0; left:0; }
		.buttonbig .side { position: absolute; z-index: 1; top: 18px; left: 6px; width: 100%; }
		.buttonbig .shadow { transition: padding 0.5s ease,margin 0.5s ease; position: absolute; z-index: 1; margin-top: 43px; margin-left: 18px; width: 100%; }
		.buttonbig .text { transition: padding 0.5s ease,margin 0.5s ease; color: white; font-size: 105px; line-height: 0.75em; position: absolute; text-align: center; z-index: 20; top:0.8em; left:0; width: 100%; }
		.buttonbig .helptext { width: 112px; position: absolute; top: 1em; left: -8em; }
			.helptext_mobile { width: 112px; margin: 0 auto 1em; display: none; }
	
		.buttonbig:hover .text,
		.buttonbig:hover .top,
		.buttonbig:hover .top .flash { padding-top: 3px; margin-left: 1px; }
		.buttonbig:hover .shadow { margin-top: 40px; margin-left: 17px; }

		.buttonbig:active .text,
		.buttonbig:active .top,
		.buttonbig:active .top .flash { padding-top: 16px; margin-left: 4px; }
		.buttonbig:active .shadow { margin-top: 25px; margin-left: 11px; }

			.bigbutton1,
			.bigbutton2,
			.bigbutton3,
			.bigbutton4 { display: block; position: relative; left: -0.02em; }

			.bigbutton1 { font-size: 1.2em; position: relative; left: 0.0em; margin-top: -0.1em; -ms-transform: rotate(-6deg); -webkit-transform: rotate(-6deg); transform: rotate(-6deg); }
			.bigbutton3 { font-size: 0.95em; position: relative; left: 0.2em; -ms-transform: rotate(-4deg); -webkit-transform: rotate(-4deg); transform: rotate(-4deg); }

#locked-area { background: rgba(255,255,255,0.5); position: absolute; top:0; left:0; display: none; z-index: 50; }

.hashtag { font-size: 2.13em; line-height: 1.18em; margin-bottom: 0.6em; font-family: toyotatext_bd; }
.soc-icons { font-size: 2.5em; font-family: 'socicon'; line-height: 2em; font-weight: normal;}
	.soc-icons .soc-icon { display: inline; padding: 0 0.2em; }
	.soc-icons .soc-icon a { color:#fff; }

#first-message { }
	#first-message h1 { font-size: 44px; margin-bottom: 0.2em; }
	#first-message p { font-size: 1.2em; color: #1e2a32; }

.section-block { padding: 4.5em 0; text-align: center; }

	.section-block h2,
	.section-block p { color: #fff; font-size: 1.2em; line-height: 1.4em; margin-bottom: 0.66em; }
		.section-block p.small { font-size: 0.94em; line-height: 1.33em; }
		.section-block p.left { text-align: left; }

	.section-block h2 { font-size: 5em; margin-bottom: 0.5em; line-height: 1.25em; }
		.section-block h2 .latestnews1,
		.section-block h2 .latestnews2,
		.section-block h2 .prizes1,
		.section-block h2 .prizes2,
		.section-block h2 .garda1,
		.section-block h2 .garda2,
		.section-block h2 .garda3,
		.tilted { display: block; line-height: 0.8em; }

		.section-block h2 .latestnews1 { position: relative; left: -.5em; font-size: 1.16em; -ms-transform: rotate(-7deg); -webkit-transform: rotate(-7deg); transform: rotate(-7deg); }
		.section-block h2 .latestnews2 { font-size: 1.4em; -ms-transform: rotate(-2deg); -webkit-transform: rotate(-2deg); transform: rotate(-2deg); }

		.section-block h2 .prizes1 { position: relative; left: -.1em; font-size: 0.76em; -ms-transform: rotate(-6deg); -webkit-transform: rotate(-6deg); transform: rotate(-6deg); }
		.section-block h2 .prizes2 { font-size: 1.58em; -ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }

		.tilted { -ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }		
	

	.section-block h3 { font-size: 2.13em; margin-bottom: 0.66em; line-height: 1.1em; color: #fff; }
	.section-block h4 { font-size: 1.33em; margin-bottom: 3em; line-height: 1.1em; color: #fff; }
	.section-block img { width: 100%; display: block; }

	.section-block.grey_light { color: #fff; background-color: #E7E7E7; }
		.section-block.grey_light h3 { color: #AAAAAA; }
	.section-block.grey { color: #fff; background-color: #DEDFE0; padding: 2em 0; }
	.section-block.grey_dark { color: #fff; background-color: #141517; }
	.section-block.orange { color: #fff; background-color: #EB532E; }
		.section-block.orange h1 { color: white; }
	.section-block.teal { color: #fff; background-color: #30AF93; }
	.section-block.salmon { color: #fff; background-color: #FF4B64; }

	.section-block .readmore { width: 114px; margin: 3em auto 0; }
	.section-block .seemoreinfo { width: 128px; margin: 3em auto 0; }

.button-group { margin-top: 0.7em; text-align: left; }
	.button-group .uiBtn { text-align: left; }
	.button-group .uiBtn > i { position: absolute; right: 10px; top: 50%; margin-top: -6px; }

#entries { text-align: left; }
	#entries .entry { list-style: none; }
		#entries .entry .info { position: relative; margin-bottom: 0.4em; }
			#entries .entry .info h4 { font-family: 'toyotatext_bd'; font-weight: normal; color: #EB532E; font-size: 1.5em; margin-bottom: 0.25em; }
			#entries .entry .timestamp { position: absolute; top: 0; right: 0; font-size: 1.33em; }

	.show-more { border-top: 1px solid #B7B8B9; margin-top: 2em; }
		.show-more a { position: relative; top: -25px; }

.logo_instagram_text { width: 185px; margin: 0 auto; }
.logo_instagram { width: 93px; margin: 0 auto; }
.logo_muchoprizes { width: 123px; margin: 0 auto; }


#picked-challenge {  }
	#picked-challenge h2,
	#picked-challenge h4 { display: none; }

	#picked-challenge h2 { font-size: 1em; margin-bottom: 5em; }
	#picked-challenge h2.non-picked { display:block; margin-bottom: 3em; }

	#picked-challenge h2 .part1,
	#picked-challenge h2 .part2,
	#picked-challenge h2 .part3,
	#picked-challenge h2 .part4 { display: block; line-height: 0.65em; position: relative; }

		h2.non-picked .part1 { font-size: 4.5em; -ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
		h2.non-picked .part2 { font-size: 9.81em; -ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }

		h2.joke .part1 { font-size: 5.69em; letter-spacing: 0.06em; left: 0.1em; -ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
		h2.joke .part2 { font-size: 9.81em; -ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }

		h2.catwalk .part1 { font-size: 6.25em; -ms-transform: rotate(5deg); -webkit-transform: rotate(5deg); transform: rotate(5deg); }
		h2.catwalk .part2 { font-size: 7em; top: 0.05em; -ms-transform: rotate(5deg); -webkit-transform: rotate(5deg); transform: rotate(5deg); }
		h2.catwalk .part3 { font-size: 8em; top: 0.1em; -ms-transform: rotate(5deg); -webkit-transform: rotate(5deg); transform: rotate(5deg); }

		h2.bear .part1 { font-size: 4em; -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
		h2.bear .part2 { font-size: 8.75em; top: 0.05em; -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
		h2.bear .part3 { font-size: 6em; top: 0.1em; -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }

		h2.song .part1 { font-size: 6.25em; -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
		h2.song .part2 { font-size: 5em; -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
		h2.song .part2 .sub { font-size: 2em; position: relative; top:0.25em; -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }

		h2.animal .part1 { font-size: 5em; -ms-transform: rotate(5deg); -webkit-transform: rotate(5deg); transform: rotate(5deg); }
		h2.animal .part2 { font-size: 7.5em; -ms-transform: rotate(5deg); -webkit-transform: rotate(5deg); transform: rotate(5deg); }
		h2.animal .part3 { font-size: 9em; -ms-transform: rotate(5deg); -webkit-transform: rotate(5deg); transform: rotate(5deg); }

		h2.rapping .part1 { font-size: 4em; -ms-transform: rotate(-8deg); -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }
		h2.rapping .part2 { font-size: 5em; top: 0.05em; -ms-transform: rotate(-8deg); -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }
		h2.rapping .part3 { font-size: 10em; top: 0em; -ms-transform: rotate(-8deg); -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }
		
		h2.cinnamon .part1 { font-size: 5.63em; -ms-transform: rotate(7deg); -webkit-transform: rotate(7deg); transform: rotate(7deg); }
		h2.cinnamon .part2 { font-size: 6.25em; top: 0.1em; -ms-transform: rotate(7deg); -webkit-transform: rotate(7deg); transform: rotate(7deg); }
		h2.cinnamon .part3 { font-size: 8em; top: 0.1em; -ms-transform: rotate(7deg); -webkit-transform: rotate(7deg); transform: rotate(7deg); }

		h2.impression .part1 { font-size: 4.5em; -ms-transform: rotate(-8deg); -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }
		h2.impression .part2 { font-size: 10em; -ms-transform: rotate(-8deg); -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }
		h2.impression .part3 { font-size: 6em; left: 1em; top: -0.1em; -ms-transform: rotate(-8deg); -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }

		h2.hop .part1 { font-size: 4.5em; -ms-transform: rotate(-8deg); -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }
		h2.hop .part2 { font-size: 10em; top: 0.05em; -ms-transform: rotate(-8deg); -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }
		h2.hop .part3 { font-size: 5em; top: 0.1em;-ms-transform: rotate(-8deg); -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }
		h2.hop .part4 { font-size: 5em; top: 0.15em;-ms-transform: rotate(-8deg); -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }

		h2.juggle .part1 { font-size: 6.25em; -ms-transform: rotate(5deg); -webkit-transform: rotate(5deg); transform: rotate(5deg); }
		h2.juggle .part2 { font-size: 7.5em; -ms-transform: rotate(5deg); -webkit-transform: rotate(5deg); transform: rotate(5deg); }
		h2.juggle .part3 { font-size: 7em; -ms-transform: rotate(5deg); -webkit-transform: rotate(5deg); transform: rotate(5deg); }


		.before-spin { display: block !important; }
		.after-spin { display: none !important; }

#make-up-your-own { display: inline; font-size: 1.2em; }

.image_aygo_orange { width: 50%; margin: 0 auto 3em; position: relative; }
.image_aygo_orange .win_new_aygo { position: absolute; top:5%; left:-5%; width: 122px; }

.button_smallversion { width: 186px; margin: 2em auto; } 

#appstores { width: 320px; margin: 0 auto 2em; }
	.tag_appstore { width: 150px; float: left; margin-right: 20px; }
	.tag_googleplay { width: 150px; float: left; }

#prize-pics { position: relative; }
	#prize-pics .win_new_aygo { position: absolute; top:15%; left:5%; width: 10%; }
	#prize-pics .image_aygo_black { position: absolute; top:10%; left:0%; width: 50%; }
	#prize-pics .image_aygo_white { position: absolute; top:10%; left:50%; width: 50%; }
	#prize-pics .image_taytoman { position: absolute; top:1%; left:45%; width: 10%; }
	#prize-pics .image_haribo1 { position: absolute; top:8%; left:36%; width: 12%; }
	#prize-pics .image_haribo2 { position: absolute; top:8%; left:52%; width: 12%; }
	#prize-pics .image_jumper1 { position: absolute; top: 20%; left:26%; width: 22%; }
	#prize-pics .image_jumper2 { position: absolute; top: 20%; left:51%; width: 22%; }
	#prize-pics .image_aygo_orange_front { position: absolute; top:20%; left:35%; width: 30%; }
	#prize-pics .image_spacehopper1 { position: absolute; top:60%; left:26%; width: 10%; }
	#prize-pics .image_spacehopper2 { position: absolute; top:60%; left:63%; width: 10%; }

.logo_samhain { width: 353px; margin: 1em auto 5em; }

.navigation-links { list-style: none; }
.navigation-link { margin-bottom: 1em; }
.navigation-link img { width: 100%; }
.navigation-link a:hover .padding {  background-color: rgba(255,255,255,0.15); }
.navigation-link a .padding { transition: all 0.66s ease; padding: 1em; background-color: rgba(255,255,255,0.1); }
.navigation-link .padding .image { margin-bottom: 1em; }
.navigation-link .padding .link { color: #fff; font-size: 25px; display: block; }

.primary-nav { z-index: 100; }
.page-transition-slider { z-index: 200 !important; }
.bg-par .bg-par-inner .heading1 { margin-bottom: 0.5em; }


.primary-nav-outer .large-nav .search-container { display: none; }
.menu-open .primary-nav-outer .breadcrumb { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1; }


@media only screen and (min-width: 0em){
	.heading1, h1 { font-size: 2.13em; }

	.gap { margin-bottom: 4em !important; }

	.gridright { float: none !important; }

	.scroller {  }
		.scroller ul li { font-size: 2em; }
		.scroller .arrow-left { border-left: 35px solid #000; border-top: 25px solid transparent; border-bottom: 25px solid transparent; }
		.scroller .arrow-right { border-right: 35px solid #000; border-top: 25px solid transparent; border-bottom: 25px solid transparent; }
		.scroller .indicator { width: 90%; margin: 0 5%; }
			.scroller .indicator .padding { font-size: 0.9em; }

	.buttonbig .helptext { display: none; }
	.helptext_mobile { display: block; }

	.button-group {  }
	.button-group .uiBtn { display: block; }
	.button-group .long { display: none; }

	.logo_gfy_aygo_black { margin: 0; width: 100%; }

	.gofunyourself-logo { margin: 0 auto; }

	#entries { text-align: left; padding-bottom: 4em; }
	#entries .entry { list-style: none; margin-bottom: 2em; }
		#entries .entry .info { position: relative; margin-bottom: 0.4em; }
			#entries .entry .info h4 { font-family: 'toyotatext_bd'; font-weight: normal; color: #EB532E; font-size: 1.5em; margin-bottom: 0.25em; }
			#entries .entry .timestamp { position: absolute; top: 0; right: 0; font-size: 1.33em; }

	#make-up-your-own { display: block; margin-top: 1em; }

	#picked-challenge h2 { font-size: 0.4em; }

	.arrow-container { display: block; float: none; width: 100%; margin-bottom: 5em; -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }

	.image_aygo_orange { width:100%; }
	.image_aygo_orange .win_new_aygo { display: none; }

	#appstores { width: 280px; margin: 0 auto 2em; }
	.tag_appstore { position: relative; width: 135px; float: left; margin-right: 10px; }
	.tag_googleplay { position: relative; width: 135px; float: left; }

	#prize-pics { width: 150%; left: -25%; }
	#prize-pics .win_new_aygo { display: none; }

	.logo_samhain { width: 200px; }
}

@media only screen and (min-width: 30em){
	#picked-challenge h2 { font-size: 0.6em; }
}

@media only screen and (min-width: 30em) and (max-width: 38.6875em){
	.logo_gfy_aygo_black { margin: 0 25% 1.5em; width: 50%; }
}

@media only screen and (min-width: 48em){
	.heading1, h1 { font-size: 4.13em; }

	.gap { margin-bottom: 6em !important; }

	.gridright { float: right !important; }

	.scroller {  }
		.scroller ul li { font-size: 3em; }
		.scroller .arrow-left { border-left: 70px solid #000; border-top: 50px solid transparent; border-bottom: 50px solid transparent; }
		.scroller .arrow-right { border-right: 70px solid #000; border-top: 50px solid transparent; border-bottom: 50px solid transparent; }
		.scroller .indicator { width: 50%; margin: 0 25%; }
			.scroller .indicator .padding { font-size: 1.5em;  }

	.buttonbig .helptext { display: block; }
		.helptext_mobile { display: none; }

		#make-up-your-own { display: inline; margin-top: 0em;}

	.arrow-container { display: none; }

	#picked-challenge h2 { font-size: 1em;  }

	#appstores { width: 320px; margin: 0 auto 2em; }
	.tag_appstore { width: 150px; float: left; margin-right: 20px; }
	.tag_googleplay { width: 150px; float: left; }

	.image_aygo_orange { width:50%; }
	.image_aygo_orange .win_new_aygo { display: block; }

	#prize-pics { width: 100%; left: 0%; }
	#prize-pics .win_new_aygo { display: block; }

	.logo_samhain { width: 353px; }
}

@media only screen and (min-width: 48em) and (max-width: 62em){
	.container_12 .grid_9.button-group { width: 50%; float: left; }

	
	
}

@media only screen and (min-width: 62em){
	.button-group .uiBtn { display: inline-block; padding-right: 2.5em; }
	.button-group .long { display: inline; }


}

@media only screen and (min-width: 70em){
	#instructions .instruction h4.hashtag { font-size: 3.13em; font-family: 'toyotadisplay_bd'; margin-bottom: 0.4em; }

	#instruction-shoot { width: 17%; float: left; }
	#instruction-share { width: 38%; float: left; }
	#instruction-win { width: 13%; float: left; }

	.arrow-container { width: 15%; float: left; display: block; -ms-transform: none; -webkit-transform: none; transform: none; }
}


@media only screen and (max-width: 30em) {
	.section-block h2 { font-size: 3em; }
	.section-block h3 { font-size: 1.5em; }
	.section-block p { font-size: 1em; }
}

@media only screen and (max-width: 47.9375em){
	.bg-par .bg-par-inner .heading2 { font-size: 1.2em; line-height: 1.25em; margin-bottom: 1em; }
	.bg-par .bg-par-inner .play-icon-large { display: block; margin: 0 auto; }
}

@media only screen and (max-width: 68.75em){
	
}


