<div class="nav-content">
    <nav id="main_menu">
        <div class="container_12 navigation-menu clearfix">
            <div class="padding">
                <a class="title" href="/">Explore site</a>
                <ul>
                    <li><a href="/pages/new-cars">Paul and Katie</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="clear"></div>
</div>
<script type="text/javascript">	
	// Secondary Content bindings
	$('#main_menu .SecContentContainer').each(function() {
		$(this).SecondaryContent({
			"sectionIDs": $(this).data("id").split("/"),
			"mode": $(this).data("contenttype"),
			"cGroupName": $(this).data("name"),
			"translations": TranslationManager.getLocalTranslations()
		});
	});
</script>
