<div class="nav-content">
    <nav id="main_menu">
        <div class="container_12 navigation-menu clearfix">
            <ul class="navigation-links">
                <li class="grid_6 navigation-link">
                    <a href="/">
                        <div class="padding">
                            <div class="image">
                                <img src="assets/images/paulkatie_1.jpg" alt="Paul and Katie">
                            </div>
                            <div class="link">Paul and Katie</div>
                        </div>
                    </a>
                </li>
            </ul>
            <div style="clear: both; margin: 1em 0; height:1px; line-height:1px; background: rgba(255,255,255,0.15);">&nbsp;</div>
            <div class="clear"></div>
            <ul class="navigation-links">
                <li class="grid_6 navigation-link">
                    <a href="http://www.toyota.ie">
                        <div class="padding">
                            <div class="link">Back to Toyota.ie &raquo;</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="clear"></div>
</div>
<script type="text/javascript"> 
    // Secondary Content bindings
    $('#main_menu .SecContentContainer').each(function() {
        $(this).SecondaryContent({
            "sectionIDs": $(this).data("id").split("/"),
            "mode": $(this).data("contenttype"),
            "cGroupName": $(this).data("name"),
            "translations": TranslationManager.getLocalTranslations()
        });
    });
</script>
