<?php
$actions = '{{call_to_action}}{{generic_content_call_to_action}}';
if (!empty($actions)) {
	$actions = explode('|', $actions);
	if (count($actions)) {
		?>
		<div class="greyBg">
			<div class="buttonsBar container_12">
				<?php
				foreach ($actions as $action) {
					if ($action === "Contact Us") {
						?>
						<div class="grid_3">
							<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="contactus2">
								<a href="/ajax/forms" id="btbar_pane-contact" class="secContentTrigger uiBtn  redBtn  hasIcon" >
									&nbsp;&nbsp;Contact Us <i class="icon icon-chevron-right"></i>
								</a>
							</span>
						</div>
						<?php
					} else if ($action === "Book a Test Drive") {
						?>
						<div class="grid_3">
							<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="booktestdrive2">
								<a class="secContentTrigger uiBtn  redBtn  hasIcon" href="/ajax/forms" id="btbar_pane-test-drive">
									<span>Book a test drive</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</span>
						</div>
						<?php
					} else if ($action === "Locate Us") {
						?>
						<div class="grid_3">
							<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="getdirections">
								<a class="secContentTrigger uiBtn  redBtn  hasIcon" href="/ajax/forms" id="pane-directions">
									<span>Locate Us</span> <i class="icon icon-chevron-right" data-icon=""></i>
								</a>
							</span>
						</div>
						<?php
					} else if ($action === "Request Service") {
						?>
						<div class="grid_3">
							<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="bookservice2">
								<a href="/ajax/forms" id="btbar_pane-service" class="secContentTrigger uiBtn  redBtn  hasIcon">
									&nbsp;&nbsp;Request service<i class="icon icon-chevron-right"></i>
								</a>
							</span>
						</div>
						<?php
					} 
				}
				?>
			</div>
		</div>
		<?php
	}
}
?>
