{{#with ../../cardbData.dimensions.bodyTypes.[0].dimensions}}
<div class="dimensions content-block">
	<div class="container_12 clearfix" >
		<div class="grid_12 center-text title-area padding clearfix">
			<h2 class="heading1">Dimensions</h2>
		</div>
		<div class="clear">&nbsp;</div>
		<div class="container_12 ">
			<div class="carImg">
				<img  src="{{image}}" alt="car dimensions">

				<span class="size l" id="wheelbase">{{wheelbase.value}}</span>
				<span class="size l b" id="overallLenght">{{overallLenght.value}}</span>

				<span class="size c" id="rearTread">{{rearTread.value}}</span>
				<span class="size c b" id="overallWidth">{{overallWidth.value}}</span>

				<span class="size r" id="frontTread">{{frontTread.value}}</span>
				<span class="size r b" id="overallWidth2">{{overallWidth.value}}</span>

				<span class="size" id="overallHeight">{{overallHeight.value}}</span>
			</div>
		</div>
	</div>
</div>
{{/with}}
