<?php
global $hybrid;
?>
<article class="item <?php if ($hybrid) echo "hybrid-item"; ?>">
	<div class="wrap">
		<div class=" cb-link-container" >
			<img src="{external_url_carassets}{{defaultImage}}" /> 
		</div>
		<h3 class="title2">{{name}}</h3>
		<div class="expansion-content">
			<p>
				{{#if description}}
					{{{description}}}
				{{else}}
				{{name}}
				{{/if}}
			</p>
		</div>


	</div>
</article>