<div class="">
	<div class="page-section" data-id="#{{sectionInpageId}}"  id="{{sectionInpageId}}">
		<div class=" gallery-horizontal SecContentContainer" data-contenttype="gallery" data-id="HTMLExample2" data-name="HTML EXAMPLE Gallery" data-gallery-horizontal>		
			{{#each gallery}}
			<div class="gallery-horizontal-row">
				<div class="gallery-horizontal-row-inner">
					{{#each galleryRow}}
					<a href="{external_url_images}{{galleryItem.fullScreenItem.binary.url}}" class="gallery-item secContentTrigger" title="{{galleryItem.componentName}}" id="{{galleryItem.carouselId}}" >
						<span class="border-hover"></span>
						<img src="{external_url_images}{{galleryItem.thumbnail.binary.url}}" 
							 width="{{galleryItem.thumbnail.width}}" height="{{galleryItem.thumbnail.height}}" alt="">
						<i class="icon icon-search" data-icon="&#xf002;"></i>
					</a>
					{{/each}}
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>