<?php
	$mobile="{if is_mobile}true{if:else}false{/if}";
	if($mobile=='true') $image=str_replace('/headers/','/headers/_previews/','{{image_header}}');
	else $image='{{image_header}}';
?>
<header class="header-container padding-large">
	<div class="container_12 grid_12">
		<div class="bg-image-hero bg-image-hero-small">
			<div class="coverBG" style="background-image: url('<?php  echo $image; ?>');"></div>
			<div class="hero-lower container_12 center-text">
				<h1 class="heading1">{{title}}</h1>
				<span class="heading2">{{subtitle}}</span>
			</div>
		</div>
	</div>
</header>