<div class="parallax  clearfix" data-layer-parallax>
	<div class="assetWidthContain bg-par">
		<div class="background-layer" style="background-image: url({embed:image_url})" data-height="900" data-width="1600">
		</div>
		<div class="move-into-parallax container_12 container_12_absolute">
			<div class="bg-par">
				<div class="bg-par-inner SecContentContainer" data-contenttype="ajax" data-name="Youtube Video" data-id="parallax-video">
                    <a id="videoLink" class="secContentTrigger" href="/ajax/videoloader?videoid={embed:youtube_id}" target="_blank">
                        <h1 class="heading1" style="margin-bottom:0">WHAT DRIVES YOU</h1>
						<h2 class="heading1 non-cap">{embed:title}</h2>
                        <span class="ui-sprite play-icon-large"></span>
                    </a>
                </div>
			</div>
		</div>
	</div>
</div>