<?php
	$mobile="{if is_mobile}true{if:else}false{/if}";
	if($mobile=='true') $image=str_replace('/headers/','/headers/_previews/','{{image_header}}{{generic_content_image_header}}');
	else $image='{{image_header}}{{generic_content_image_header}}';
?>
<header class="header-container padding-large">
	<div class="bg-image-hero bg-image-hero-med dealer_hero ">
		<img class="BG" src="<?php  echo $image; ?>">
		<div class="hero-inner container_12 container_12_absolute center-text {{header_text_color}}-text {{header_text_color_1}}-text {{header_text_color_2}}-text {{header_text_color_3}}-text" >
			<h1 class="heading1">{{title}}</h1>
			<span class="heading2 ">{{subtitle}}{{generic_content_subtitle}}</span>
		</div>
	</div>
</header>