<div class="secondary-nav">
	<div class="container_12 clearfix">
		<div class="grid_12">
			<ol class="sec-nav-list">
				{{#this}}
					{{#each secondary}}
						{{@key}}
		                {{#if title}}
		                    <li><a class="scrollTo" href="/pages/hybrid{{inPageId}}" data-bt-value="/pages/hybrid{{inPageId}}">{{title}}</a></li>
		            	{{/if}}
				    {{/each}}
			    {{/this}}
			</ol>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>