<div class="container_12 clearfix padding">
		<div class="grid_12 center-text section-title">
			<h1 class="heading1 padding">{{title}}</h1>
			<h2 class="heading2">Discover the range of Toyota<h2>
		</div>
</div>
<div class="container_12 content-block clearfix center-text">
	<div class="model-list grid_12">
		<div class="modelsHome">
		{{#each models}}
			{{> modelrange}}
		{{/each}}
		</div>
	</div>
</div>