{{#each this}}
<?php
$from_remote = '{{from}}';
$to_remote = '{{until}}';

$dateStart = '';
$dateEnd = '';

$f;
$u;

if ($from_remote != '' && $to_remote != '') {
	$dateStart = strtotime('{{from}}');
	$dateEnd = strtotime('{{until}}');
} else {
	$dateStart = strtotime('{{promotion_date_start}}');
	$dateEnd = strtotime('{{promotion_date_end}}');

	$f = new DateTime();
	$f->setTimestamp($dateStart);
	$u = new DateTime();
	$u->setTimestamp($dateEnd);
}

$dateNow = strtotime('now');
$promo_image = '{{promotion_image}}{{smallImage}}';
if ($dateNow >= $dateStart && $dateNow < $dateEnd && $promo_image != '') {
	?>

	<div class="grid_3 item fc-group {{#if url}}toyota{{/if}}{{#if url_title}}local{{/if}}-group">		
		<div class="fc-content clearfix">
			<div class="">
				<div class="offer-spotlight">
					<a  href="/pages/<?php echo $this->EE->uri->segment(2); ?>/{{#if url}}toyota-article{{url}}{{/if}}{{#if url_title}}local-article/{{url_title}}{{/if}}">
						{{#if promotion_image}}
						<span class="imgContainer">
							<img src='{{promotion_image}}' class="img100" alt='{{title}}'>
						</span>
						{{/if}}
						{{#if smallImage}}
						<span class="imgContainer">
							<img src='{{smallImage}}' alt='{{title}}'>
						</span>
						{{/if}}
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn {{#if url}}event{{/if}}{{#if url_title}}news{{/if}}">
								{{#if url}}Toyota{{/if}}
								{{#if url_title}}Dealer{{/if}}
								&nbsp;Offer
							</span>
							<span class="text"><?php echo html_entity_decode("{{title}}"); ?></span>                	
							<?php
							$type = strtolower(strip_tags("{{type}}{{promotion_type}}"));
							if ($type === "special offer") {
								echo '<i class="icon icon-tag"></i>';
							}
							?>
						</h3>
						<div class="promotion_subtitle">
							<?php echo html_entity_decode("{{promotion_subtitle}}{{intro}}"); ?>
						</div>

					</a>
					{{#if promotion_summary}}
					<p>
						<?php echo html_entity_decode("{{promotion_summary}}"); ?>
					</p>
					{{/if}}
					<p class="terms">
						{{#if validityDate}}
						<?php echo html_entity_decode("{{validityDate}}"); ?>
						{{else}}
						Valid from <span class="time"><?php echo $f->format('d/m/Y') ?></span> until <span class="time"><?php echo $u->format('d/m/Y') ?></span> 
						{{/if}}
					</p>
					{{#if disclaimer}}
					<p class="full-terms">
						<?php echo strip_tags(html_entity_decode("{{disclaimer}}")); ?>
					</p>
					{{/if}}

				</div>
			</div>
		</div>

	</div>
	<?php
}
?>
{{/each}}
