<!--packsOverview-->
<div class="content-block page-section"  data-id="#{{sectionInpageId}}"  id="{{sectionInpageId}}">
	<div class="container_12 clearfix">
		<div class="grid_12 center-text section-title">
			<h1 class="heading1">{{title}}</h1>
		</div>
	</div>

	<div class="container_12">
		{{#each ../../cardbData.packsoverview.packs}}
		<div class="grid_3 item spotlight">
			<span  class="">
				<div class="image-wrapper">
					{{#if displayImage}}
						<img src="{{{displayImage}}}" alt="{{name}}" />
					{{else}}
						{{#if images.IMG_PNG_285x260 }}
							<img src="{external_url_carassets}{{{images.IMG_PNG_285x260}}}" alt="{{name}}" />
						{{else}}
							<img src="{external_url_carassets}{{{images.IMG_PNG_555x249}}}" alt="{{name}}" />
						{{/if}}
						
					{{/if}}
					
				</div>
				<h3 class="heder1">{{name}}</h3>
			</span>
			
			<div class="terms">{{displayPrice}}</div>
			<div class="expansion-content">
				{{description}}
			</div>
		</div>
		{{/each}}
	</div>
</div>
