<div class="parallax  clearfix" data-layer-parallax>
	<div class="assetWidthContain bg-par">
		<div class="background-layer" style="background-image: url({embed:image_url})" data-height="900" data-width="1600">
		</div>
	</div>
</div>