<div class="container_12 content-block body-content text-content clearfix">
	<?php 
	$alignment="{{alignment}}";
	if($alignment=='left'){
		?>
			<div class="grid_12">
		        <h1><?php echo html_entity_decode('{{paragraph_title}}');?></h1>
		    </div>
		    <div class="{{#if image}}grid_8{{else}} {{#if video}}grid_8{{else}} grid_12 {{/if}}{{/if}}">
		    	<div><?php echo html_entity_decode('{{paragraph_content}}');?></div>
		    	{{#if attachment}}
		    		<a href="{{attachment}}" class="uiBtn darkBtn" target='_blank'> {{#if attachment_text}}<?php echo html_entity_decode('{{attachment_text}}');?>{{else}} Download >> {{/if}} </a>
		    	{{/if}}   
		    </div>
			{{#if image}}
				{{#if video}}
					<div class="grid_4 videoContainer">
						<?php echo html_entity_decode('{{video}}');?>
				    </div>
			    {{else}}
				    <div class="grid_4 imgContainer">
						<img class='img100' src='{{image}}' alt='{{paragraph_title}}'/>
				    </div>
			    {{/if}}
		    {{else}}
		    	{{#if video}}
					<div class="grid_4 videoContainer">
						<?php echo html_entity_decode('{{video}}');?>
				    </div>
			    {{/if}}
		    {{/if}}
		<?php		
	}else{
		
		?>
			{{#if image}}
				{{#if video}}
					<div class="grid_4 videoContainer">
						<?php echo html_entity_decode('{{video}}');?>
				    </div>
			    {{else}}
				    <div class="grid_4 imgContainer">
						<img class='img100' src='{{image}}' alt='{{paragraph_title}}'/>
				    </div>
			    {{/if}}
		    {{else}}
		    	{{#if video}}
					<div class="grid_4 videoContainer">
						<?php echo html_entity_decode('{{video}}');?>
				    </div>
			    {{/if}}
		    {{/if}}
		    <div class="{{#if image}}grid_8{{else}} {{#if video}}grid_8{{else}} grid_12 {{/if}}{{/if}}">
		    	<h1><?php echo html_entity_decode('{{paragraph_title}}');?></h1>
		    	<div><?php echo html_entity_decode('{{paragraph_content}}');?></div>
		    	{{#if attachment}}
		    		<a href="{{attachment}}" class="uiBtn darkBtn"  target='_blank'> {{#if attachment_text}}<?php echo html_entity_decode('{{attachment_text}}');?>{{else}} Download >> {{/if}} </a>
		    	{{/if}}   
		    </div>
		<?php	
	}
	?>
</div>


