{{#each subsections}}
<div class="staff content-block">
	<div class="container_12">
			<div class="grid_12 section_title">
				<h1 class="heading1"><?php echo html_entity_decode("{{title}}")?></h1>
			</div>
	</div>

	<div class="container_12 body-content clearfix padding">
    	<div class="grid_12 intro-text text-center">
	    	<?php echo html_entity_decode('{{team_intro}}');?>
	    	{{#if contact_hours}}
			<div class="contact_hours">
		    	{{#each contact_hours}}
				<span class="row_hour">
		    		<strong> {{day_of_the_week}}:</strong>{{from_time}} - {{to_time}}<br/>
				</span>
		    	{{/each}}
			</div>
		    {{/if}}
	    </div>
	</div>
	<div class="container_12 clearfix staff">
    	{{#each profiles}}
    		<div class="grid_3 imgContainer item">
    			{{#if image_profile}}
    				<img class='img100' src="<?php echo str_replace('/profiles/','/profiles/_square/','{{image_profile}}');?>" alt="{{full_name}}"/>
    			{{/if}}
    			{{#if full_name}}<h4 class='heading4'><?php echo html_entity_decode("{{full_name}}");?></h4>{{/if}}
    			{{#if contact_number}}
    				<p>
    					Contact Number:&nbsp;<a href='tel:{{contact_number}}'>{{contact_number}}</a>
    				</p>
    			{{/if}}
    			{{#if mobile_number}}
    				<p>
    					Mobile Number:&nbsp;<a href='tel:{{mobile_number}}'>{{mobile_number}}</a>
    				</p>
    			{{/if}}
    			{{#if email_address}}
    				<p>
    					Email Address:&nbsp;<a href='mailto:{{email_address}}'>{{email_address}}</a>
    				</p>
    			{{/if}}
    			{{#if short_bio}}
    				<div class="expansion-content"><?php echo html_entity_decode("{{{short_bio}}}");?></div>
    			{{/if}}
    			<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    		</div>	
    	{{/each}}
	</div>
</div>
{{/each}}