<div class="secondary-nav">
	<div class="container_12 clearfix">
		<div class="grid_12">
			<ol class="sec-nav-list">
<!--				<li><a href="/pages/katie-and-paul" data-bt-value="/pages/katie-and-paul">Katie Taylor &amp; Paul O'Connell</a></li>
				<li><a href="/pages/johnny-and-stephen" data-bt-value="/pages/johnny-and-stephen">Johnny Sexton &amp; Stephen Cluxton</a></li>-->
			</ol>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>