    <div class="primary-nav">
    <div class="primary-nav-outer">
        <div class="container_12 clearfix">
            <a href="{insecure_site_url}" class="logo-link">
                <img src="http://development.toyota.ie/inc/images/logo.png" alt="Toyota" width="94" height="152" />
                <span class="small-logo"></span>
            </a>
            <div class="grid_12">
                <ul class="large-nav dropdownnav">
                    <li>
                        <a href="/nav/menu_gofunyourself" id="main_menu_trigger">
                            <span class="link hidden_before_m"><strong>Menu</strong></span>&nbsp;<i class="icon icon-chevron-down hidden_before_l"></i>
                            <i class="icon icon-reorder hidden_after_m"></i>
                        </a>
                        <ul class="search-container">
                            <li class="search-slide hidden_before_m">
                                <input class="search" type="text" autocomplete="off" placeholder="Search Toyota" />
                                <i class="icon icon-search"></i>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="main_nav"></div>