<!--
    Name: Footer image - large
    ID: c_hf_001d
    URL: http://toyota-stage.amaze.com/html/components/covers/footer_large.html
-->

<div class="bg-image-hero assetWidthContain ">
	<div class="coverBG" style="background-image: url(http://toyota-stage.amaze.com/inc/images/Tundra-footer-01.jpg);"></div>
	<div class="container_12 container_12_absolute">
		<div class="hero-inner">
			<div class="grid_12">
				<h1 class="heading1">Discover Tundra</h1>
			</div>
		</div>   
	</div>
	<div class="dynamic-cta">
		<div class="container_12">
			<ul class="cta-list">
				<li><a href="#">Configure your Tundra</a></li>
				<li><a href="#">Contact a dealer</a></li>
				<li><a href="#">Arrange a test drive</a></li>
				<li><a href="#">Download a brochure</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="fclear">&nbsp;</div>