{header_auc}
<header class="header-container gray">
	<div class="bg-image-hero bg-image-hero-small ">
		<div class="coverBG" style="background-image: url({cms_url}inc/images/used_cars_header.jpg);"></div>
	</div>
</header>
<div class='padding'></div>
<div class="container_12 content-block" id="searchComponent">
	<div class="grid_12">
		{carsearch_auc}
		<div class='full_before_m search_result'>
			<div class="section_title">
				<h2 class="heading1">Assured Used Cars</h2>
			</div>
			<div class="search-info">
				<p>Showing  &nbsp;<strong id="numvisible"></strong>&nbsp; of &nbsp;<strong id="numtotal"></strong>&nbsp; results</p>
				<div class="view-buttons hidden_before_m">
					<a href="#" class="show-list uiBtn greyBtn smBtn leftside hasIcon active">
						<i class="icon icon-list-ul"></i>List view
					</a><a href="#" class="show-grid uiBtn greyBtn smBtn rightside hasIcon">
						<i class="icon icon-th-large"></i>Gallery view
					</a>
				</div>
				<div class="sort-options">
					<div class="select">
						<div class="value">Sort by</div>
<!--						<i class="icon icon-chevron-down"></i>-->
						<select name="model" id="carSort">
							<option value="">Sort by</option>
							<option value="price">Price</option>
							<option value="date">Year</option>
							<option value="mileage">Km</option>
						</select>
					</div>
					<a href="#" id="sortDirection" class="sortDirection" data-ascending="0" >
						<i class="icon icon-chevron-up"></i>
					</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class='ajax-content search-results'  rel='/ajax/assured-used-cars'> 
				
				<div style='width:800px;text-align:center;'><br/><br/>Loading Cars...<br/><br/>
					<img src='http://development.toyota.ie/inc/images/ajax-loader.gif' />
				</div>

			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://www.toyota-europe.com/sys/inc/lib/responsiveiframe.js"></script>
<script type="text/javascript">
	var respCont = new ResponsiveContainer('searchComponent');
</script>
{footer_auc}