{header_auc}
<div id='mainContainer'>
{exp:json_feed:render_html template="templates/assured-used-car-details"}
    {exp:json_feed:print_feed src="{insecure_site_url}api/assured-used-car-details/{segment_3}" section=""}
{/exp:json_feed:render_html}
</div>
<script type="text/javascript" src="http://www.toyota-europe.com/sys/inc/lib/responsiveiframe.js"></script>
<script type="text/javascript">
	var respCont = new ResponsiveContainer('searchComponent');
</script>
{footer_auc}
