<div class="service_results disabled">
	{{#vehicle}}
	<div class="content-block nopadding">
		<div class="container_12">
			<div class="grid_12">
				<div class="section_title">
					<p class="light_text">Your car is a:</p>
					<h3 class="heading1">{{Make}} {{Model}}<br/>{{Description}}</h3>
					<div class="search_group">
						<input  id="car_registration_2"  name="car_registration_2" type="text" placeholder="Enter Registration" value="{{Registration}}" data-validation="required"/>
						<div class="errorMessage" id="carRegError_2"></div>
						<i class="icon icon-search" id="car_registration_2_control"></i>
						<p class="light_text">Not your car? Click above to edit.</p>
					</div>

				</div>
			</div>
		</div>
	</div>
	{{/vehicle}}

	{{#service}}
		{{^results}}
		
			<div class=" content-block noppading_print">
				<div class="container_12">
					<div class="grid_12">
						<div class="section_title nomargin notfound">
							<h3 class="heading1">Sorry, we are unable to find information for this registration number.</h3>
							<h3 class="heading2">
								To book a service, please contact your local Toyota Dealer/Authorised Repairer.
							</h3>
						</div>
					</div>
				</div>
			</div>
		<div class="toyota_cta_wrapper">
			<div class="greyBg toyota_cta">
				<div class="arrow hidden_before_m " style="border-bottom-color: #e8e9ea"></div>
				<div class="cta_bg" style="">
					<img src="/assets/images/dealer-cta.png" alt="cta background image"/>
				</div>
				<div class="buttonsBar container_12">
					<a href="https://www.toyota.ie/dealers/find-an-authorised-repairer.json" target="_blank" id="btbar_pane-dealer" class=" uiBtn  smBtn redBtn fwBtn lines_2" >Find your nearest Toyota Dealer/Authorised Repairer <i class="icon icon-chevron-right" ></i></a>
				</div>
			</div>
		</div>
		{{/results}}
		{{#results}}
			<div class="content-block noppading_print">
				<div class="container_12">
					<div class="grid_12">
						<div class="section_title nomargin">
							<h3 class="heading1">Your Service Quote</h3>
							<p class="simply">Simply select which services you require for your car.</p>
							<p class="simply_print">Thank you for choosing a Toyota Genuine Service.</p>
						</div>
					</div>
				</div>
				<div class="container_12 servicestable_wrapper">
					<div class="grid_2 hidden_before_l">&nbsp;</div>
					<div class="grid_8">
						<div class="grid_12">
							<table id="servicesTable" class="servicesTable">
								<tbody>
									{{#Product}}
									<tr class="{{{rowclass}}}" data-ServiceCode="{{ServiceCode}}">
										<td class="check">
											<div class="checkbox">
												<input id="cb_checkbox_{{idx}}" type="checkbox" name="checkbox_{{idx}}" value="{{Pricing}}">
												<label for="cb_checkbox_{{idx}}">&nbsp;</label>
											</div>
										</td>
										<td class="description">
											<p class="cartellName">{{Name}} <span class="price_print">&euro;{{Pricing}}</span></p>
											<p class="light_text">{{Description}}</p>
											<p class="cartellCategory" style="display:none">{{Category}}</p>
										</td>
										<td class="price">
											<p>&euro;<span class="cartelPrice">{{Pricing}}</span></p>
										</td>
									</tr>
									{{/Product}}
								</tbody>
							</table>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="grind_12 total_costs_section">
							<div class="section_title">
								<h3 class="heading1">The total cost of your service is <br/><span class="coin">€</span><span id="total_amount" class="total_amount">0.00</span></h3>
								<p>To avail of these prices please confirm <br/>your service through our <a href="#">website</a></p>
								<p class="light_text print_only">
									All prices quoted include VAT, parts and labour.<br/>
								</p>
								<div class="offer-spotlight light_text no_print">
									<p class="terms"><span class="light_text">All prices quoted include VAT, parts and labour. Term &amp; Conditions apply.</span></p>
									<p class="full-terms">
										Prices are correct as of November 1st 2015. Offers are only available at participating Authorised Toyota Dealers / Repairers. All prices shown are Recommended Retail Price, participating Authorised Toyota Dealers / Repairers can charge a lower price. Prices quoted are valid for 7 days from date of query. For more information please contact your local Authorised Toyota Dealer / Repairer. Toyota Ireland reserves the right in their absolute discretion to add to or waive any rule without prior notice to customers and, in the event of circumstances beyond their control, to cancel a service booking at any stage.
									</p>
								</div>
							</div>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="container_12 results_cta">
							<div class="grid_6">						
								<div class="submt-group">
									<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="bookservice">
										<a href="/ajax/forms?form=service" id="btbar_pane-service"  class="secContentTrigger uiBtn  smBtn redBtn fwBtn  bookform" >Book a Service</a><i class="icon icon-chevron-right"></i>
									</span>
								</div>
							</div>
							<div class="grid_6">
								<div class="submt-group"><a href="#" class="uiBtn  smBtn redBtn fwBtn printpage" >Print Quote</a><i class="icon icon-chevron-right"></i></div>
							</div>
							<div class="clearfix hidden_before_m">&nbsp;</div>
							<div class="grid_12">
								<div class="submt-group">
									<a href="https://www.toyota.ie/dealers/find-an-authorised-repairer.json" target="_blank" id="btbar_pane-dealer" class=" uiBtn  smBtn redBtn fwBtn lines_2" >Find your nearest Toyota Dealer/Authorised Repairer</a><i class="icon icon-chevron-right"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="grid_2 hidden_before_l">&nbsp;</div>
				</div>
			</div>
		{{/results}}
	{{/service}}
</div>

