<div class="form_container">
	<form action="/ajax/formsubmit?action=bookatestdrive" method="POST" id="booktestdriveform" class="contactform">

		<input type=hidden name="oid"				id="oid"					value="00Db0000000HWqf">
		<input type=hidden name="00Nb0000002N6C8"	id="00Nb0000002N6C8"		value="1">
		<input type=hidden name="recordType"		id="recordType"				value="012b0000000JPwH">
		<input type=hidden name="00Nb0000002AKok"	id="dealer"					value="{dealer_id}">
		<input type=hidden name="lead_source"		id="lead_source"			value="Dealer Website">
		<input type=hidden name="Campaign_ID"		id="Campaign_ID"			value="701b0000000Q6zR">
		<input type=hidden name="member_status"		id="member_status"			value="Test Drive Requested">
		<input type=hidden name="rating"			id="rating"					value="Warm">
		<input type="hidden" value="{site_name}" name="site_url" id="site_url">
		<input type="hidden" name="XID" value="{XID_HASH}" />

		<?php
			$inputs=array('test_emails','emails','test_email','emailer');
			$rand_keys = array_rand($inputs, 2);
			echo "<input type='email' name='".$inputs[$rand_keys[0]]."' />";
			echo "<input type='email' name='".$inputs[$rand_keys[1]]."' />";
		?>

		
		<div class="container_12">
			<div class="grid_12 header">
					<h2>What would you like to drive?</h2>
					<span class="intro">Choose a model that you would like to test drive.</span>
			</div>
		</div>

		<div class="container_12 extraspace">
			<div class="grid_6">
				<h4 class="title1">Model  &nbsp;&nbsp; <i class="icon icon-car2"></i></h4>
				<div class="select">
					<div class="value"><?php echo (isset($_GET["model"])) ? strtolower(filter_input(INPUT_GET, 'model', FILTER_SANITIZE_SPECIAL_CHARS)) : "";?></div>
					<i class="icon icon-chevron-down"></i>
					{embed="default_site:components/models_from_feed"}
				</div>
			</div>
		</div>

		{embed="default_site:components/contactdetails"}
		{embed="default_site:components/dataprotection"}
		{embed="default_site:components/submit"}

	</form>
	<div class="container_12 form_thanks">
		<div class="grid_12 header">
			<h2>Thank you for booking a test drive at {site_name}.</h2>
			<span class="intro">You'll be contacted back as soon as possible.</span>
		</div>
	</div>
</div>

