<div class="form_container">
	<form action="/ajax/formsubmit?action=contactus" method="POST" id="contactusform" class="contactform">

		<input type="hidden" value="00Db0000000HWqf" name="oid">
		<input type="hidden" name="00Nb0000002AKok" id="dealer" value="{dealer_id}">
		<input type="hidden" value="012b0000000aZax" name="recordType">
		<input type=hidden name="00Nb0000002Yahg" value="Toyota">
		<input type="hidden" value="Web Customer Service" name="subject" id="subject">
		<input type="hidden" value="Question" name="type" id="type">
		<input type="hidden" value="{site_name}" name="site_url" id="site_url">
		<input id="lead_source" type="hidden" value="Dealer Website" name="lead_source">
		<input type="hidden" name="XID" value="{XID_HASH}" />

		<?php
			$inputs=array('test_emails','emails','test_email','emailer');
			$rand_keys = array_rand($inputs, 2);
			echo "<input type='email' name='".$inputs[$rand_keys[0]]."' />";
			echo "<input type='email' name='".$inputs[$rand_keys[1]]."' />";
		?>


		<div class="container_12">
			<div class="grid_12 header">
					<h2>Contact Us</h2>
					<span class="intro">The aim of our website is to offer you comprehensive and up to date information. If you still have unanswered questions or wish to offer suggestions, feel free to contact us.</span>
			</div>
		</div>

		<div class="container_12 extraspace">
			<div class="grid_6 large_break ">
				<div class="details">
					{exp:channel:entries channel="generic_settings"}
					<div class="grid_12 ">
						<h5>Contact <?php echo strip_tags("{site_long_title}"); ?></h5>
					</div>
					<div class="clear"></div>
					<?php
					$location = "{dealer_address}";

					if ($location) {
						$split = explode(",", $location);
						?>
						<div class="grid_6">
							<ul>
								<?php
								for ($i = 0; $i < count($split); $i++) {
									echo "<li>$split[$i]</li>";
								}
								?>
							</ul>
						</div>
						<?php
					}
					?>					
					<div class="grid_6">
						<ul>
							<li>Tel:&nbsp;&nbsp; <a class="btn btn-dark btn-call visible-xs" href="tel:{dealer_contact_number}">{dealer_contact_number}</a></li>
							<li>E-Mail:&nbsp;&nbsp; <a class="btn btn-dark btn-call visible-xs" href="mailto:{dealer_contact_email}">{dealer_contact_email}</a></li>
<!--							<li>Website:&nbsp;&nbsp; <a href="http://<?php echo $_SERVER['SERVER_NAME']; ?>"><?php echo $_SERVER['SERVER_NAME']; ?></a></li>-->
						</ul>
					</div>
					{/exp:channel:entries}
					<div class="clear"></div>
				</div>
			</div>
		</div>

		<div class="container_12 nop">
				<div class="grid_6 nop">
					<div class="container_12">
						<div class="grid_6">
							<h4 class="title1">Salutation &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
							<div class="select">
								<div class="value"></div>
								<i class="icon icon-chevron-down"></i>
								<select name="salutation" id="salutation" data-validation="select">
									<option value="no_selection">...</option>
									<option value="Dr">Dr</option>
									<option value="Mr">Mr</option>
									<option value="Ms">Ms</option>
								</select>
							</div>
						</div>
					</div>
					<div class="container_12">
						<div class="grid_6">
							<h4 class="title1">First Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
							<input  id="first_name" maxlength="40" name="first_name"  type="text" placeholder="Name" data-validation="required"/>
						</div>
						<div class="grid_6">
							<h4 class="title1">Last Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
							<input  id="last_name" maxlength="80" name="last_name"  type="text" placeholder="Surname" data-validation="required"/>
						</div>
					</div>
					<div class="container_12 ">
						<div class="grid_6">
							<h4 class="title1">Phone &nbsp;&nbsp; <i class="icon icon-phone"></i></h4>
							<input  id="phone" maxlength="14" name="phone"  type="text" placeholder="Phone Number" data-validation="number"/>
						</div>
							<div class="grid_6">
							<h4 class="title1">Mobile &nbsp;&nbsp; <i class="icon icon-phone"></i></h4>
							<input  id="mobile" maxlength="14" name="mobile"  type="text" placeholder="Mobile Number" data-validation="number"/>
						</div>
					</div>
					<div class="container_12 extraspace">
						<div class="grid_12">
							<h4 class="title1">Email &nbsp;&nbsp; <i class="icon icon-envelope-alt"></i></h4>
							<input  id="email" maxlength="80" name="email"  type="text" placeholder="your@email.com" data-validation="email"/>
						</div>
					</div>
				</div>
				<div class="grid_6 nop">
					<div class="container_12 ">
						<div class="grid_12">
							<h4 class="title1">Address&nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
							<input  id="address_line_1"  name="street" type="text" data-validation="required"/>
						</div>
						{!--<div class="grid_12">
							<input  id="address_line_2"  name="00Nb0000002Xyso" type="text" />
						</div>--}
					</div>
					<div class="container_12 extraspace">
						<div class="grid_6">
							<h4 class="title1">City &nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
							<input  id="city" maxlength="40" name="city" type="text" placeholder="" data-validation="required"/>
						</div>
						<div class="grid_6">
							<h4 class="title1">County &nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
							<div class="select">
								<div class="value">Please choose:</div>
								<i class="icon icon-chevron-down"></i>
								{embed="default_site:components/state" required="true"}
							</div>
						</div>
					</div>
					

				</div>
			</div>

			<div class="container_12 extraspace">
				<div class="grid_12">
					<h4 class="title1">Message </h4>
					<?php 
					$content="";
					if (isset($_GET["carID"])) {
						$carID=$_GET["carID"];
						$carData=json_decode(@file_get_contents('{insecure_site_url}/api/assured-used-car-details/'.$carID));
						$carData=$carData->CarDetails[0];
						$car=$carData->Year." ".$carData->Make." ".$carData->Model." ".$carData->Engine." ".$carData->Doors." DOOR ".$carData->BodyType;
						$content="Car Being Enquired About: ".$car;
					?>
					<input name="Car_Request" type="hidden" id="Car Request" value='<?php echo "CAR ENQUIRY: ".$car; ?>'>
					<input name="00Nb0000009XH5t" type="hidden" id="CarID" value='<?php echo $carID; ?>'>
					<?php
					}?>
					<textarea id="query"  name="description"  placeholder="leave your message here."><?php echo $content;?></textarea>
				</div>
			</div>

			{embed="default_site:components/submit"}

	</form>
	<div class="container_12 form_thanks">
		<div class="grid_12 header">
			<h2>Thank you for your interest in Toyota. A customer service representative will respond to your query as soon as possible.</h2>
			<span class="intro">If your query is urgent, please don’t hesitate to contact us during working hours on 01 4190222 . Thank you. </span>
		</div>
	</div>
</div>
