$font_4: toyotatext_rg;

//original selectors
//.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
%extend_18 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

//original selectors
//.article-v2 #mainfocus .container.page-title h1, .article-v2 #mainfocus .quickspec-caption .page-title h1, .article-v2 .page-title h1
%extend_19 {
  font-size: 66px;
  font-size: 6.6rem;
  line-height: 68px;
  line-height: 6.8rem;
}

//original selectors
//.article-v2 .maincontent .html5-inpage header.section-title h1, .article-v2 .maincontent article.container header.section-title h1
%extend_20 {
  font-size: 44px;
  font-size: 4.4rem;
  line-height: 44px;
  line-height: 4.4rem;
}

//original selectors
//.article-v2 .maincontent article .page-tools h5, .article-v2 .maincontent article .page-tools.page-tools-downloads h5, .article-v2 .maincontent article .page-tools.page-tools-related-stories h5
%extend_21 {
  font-size: 17px;
  font-size: 1.7rem;
  font-family: $font_4;
}

.article_v2 {
  .padding{
    padding-bottom: 30px;
    padding-top: 10px;
  }
  .heading1{
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 24px;
    @media (min-width: 768px){
      padding-bottom: 20px;
      font-size: 34px;
      line-height: 34px;
    }
    @media (min-width: 992px){
      padding-bottom: 30px;
      font-size: 44px;
      line-height: 44px;
    }
  }
  .col_2col {
     padding-bottom: 15px;
    @media (min-width: 520px){
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding-right: 20px;
    }
  }
  img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    width: auto;
  }

  .right{
    img{
      @media (min-width: 620px){
        margin-right: 0;
      }
    }
	
  }
  .grid_9{
    @media (min-width: 620px){
      float: left;
      width: 75%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .grid_3{
    @media (min-width: 620px){
      float: left;
      width: 25%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.promotion_image{
  position: relative;
  .brochure{
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
  }
  .remote-news-section{
	  h2{
	  	font-size: 1.7rem;
		line-height: 2rem;
	  }
	}
}

.offer-remote-section{
 h2.heading2{
 	font-size: 27px;
 }
 .toyota_cta{
 	margin-bottom: 60px;
 	.cta_bg{
		width: 1170px;
		top: 0;
		left: 50%;
		@media (min-width: 768px){
		  width: 750px;
		}
		@media (min-width: 992px){
		  width: 970px;
		}
		@media (min-width: 1200px){
		  width: 1170px;
		}
		.cta_bg_in{
			position: relative;
			left: -50%;
			img{
				height: 250px;
				width:auto;
				float: right;
			}
		}
	}
 }
 .container_12 {
    .grid_12 {
 		@media only screen and (min-width: 62em) {
			padding-left: 0;
			padding-right: 0;
	
	    }
		.heading3 {
			font-family: toyotatext_bd;
			font-weight: normal;
			font-size: 17px;
			line-height: 17px;
			color: #354046;
			margin-top: 40px;
	   }
	   div {
	   		font-size: 15px;
			color: #1e2a32;
	   }
    }
 }
 .col-xs-12 col-sm-4{
   .remote-news-section{
   		width: 33.3333333333%;
   }
 }
 .sectionParagraphs{
   margin-bottom:40px;
   ul{
     margin-bottom: 30px;
     > li{
       color: #6c7073;
     }
   }
 }
}


.col-lg-1 {
  @extend %extend_18;
}
.col-lg-10 {
  @extend %extend_18;
}
.col-lg-11 {
  @extend %extend_18;
}
.col-lg-12 {
  @extend %extend_18;
}
.col-lg-2 {
  @extend %extend_18;
}
.col-lg-3 {
  @extend %extend_18;
}
.col-lg-4 {
  @extend %extend_18;
}
.col-lg-5 {
  @extend %extend_18;
}
.col-lg-6 {
  @extend %extend_18;
}
.col-lg-7 {
  @extend %extend_18;
}
.col-lg-8 {
  @extend %extend_18;
}
.col-lg-9 {
  @extend %extend_18;
}
.col-md-1 {
  @extend %extend_18;
}
.col-md-10 {
  @extend %extend_18;
}
.col-md-11 {
  @extend %extend_18;
}
.col-md-12 {
  @extend %extend_18;
}
.col-md-2 {
  @extend %extend_18;
}
.col-md-3 {
  @extend %extend_18;
}
.col-md-4 {
  @extend %extend_18;
}
.col-md-5 {
  @extend %extend_18;
}
.col-md-6 {
  @extend %extend_18;
}
.col-md-7 {
  @extend %extend_18;
}
.col-md-8 {
  @extend %extend_18;
}
.col-md-9 {
  @extend %extend_18;
}
.col-sm-1 {
  @extend %extend_18;
}
.col-sm-10 {
  @extend %extend_18;
}
.col-sm-11 {
  @extend %extend_18;
}
.col-sm-12 {
  @extend %extend_18;
  padding-bottom: 24px;
  iframe {
    max-width: 100%;
    margin: 0 auto;
  }
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}
.col-sm-2 {
  @extend %extend_18;
}
.col-sm-3 {
  @extend %extend_18;
}
.col-sm-4 {
  @extend %extend_18;
}
.col-sm-5 {
  @extend %extend_18;
}
.col-sm-6 {
  @extend %extend_18;
}
.col-sm-7 {
  @extend %extend_18;
}
.col-sm-8 {
  @extend %extend_18;
}
.col-sm-9 {
  @extend %extend_18;
}
.col-xs-1 {
  @extend %extend_18;
  float: left;
  width: 8.33333%;
}
.col-xs-10 {
  @extend %extend_18;
  float: left;
  width: 83.33333%;
}
.col-xs-11 {
  @extend %extend_18;
  float: left;
  width: 91.66667%;
}
.col-xs-12 {
  @extend %extend_18;
  width: 100%;
  padding-bottom: 24px;
  iframe {
    max-width: 100%;
    margin: 0 auto;
  }
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}
.col-xs-2 {
  @extend %extend_18;
  float: left;
  width: 16.66667%;
}
.col-xs-3 {
  @extend %extend_18;
  float: left;
  width: 25%;
}
.col-xs-4 {
  @extend %extend_18;
  float: left;
  width: 33.33333%;
}
.col-xs-5 {
  @extend %extend_18;
  float: left;
  width: 41.66667%;
}
.col-xs-6 {
  @extend %extend_18;
  float: left;
  width: 50%;
}
.col-xs-7 {
  @extend %extend_18;
  float: left;
  width: 58.33333%;
}
.col-xs-8 {
  @extend %extend_18;
  float: left;
  width: 66.66667%;
}
.col-xs-9 {
  @extend %extend_18;
  float: left;
  width: 75%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-pull-1 {
  right: 8.33333%;
}
.col-xs-pull-2 {
  right: 16.66667%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-4 {
  right: 33.33333%;
}
.col-xs-pull-5 {
  right: 41.66667%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-7 {
  right: 58.33333%;
}
.col-xs-pull-8 {
  right: 66.66667%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-10 {
  right: 83.33333%;
}
.col-xs-pull-11 {
  right: 91.66667%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-push-1 {
  left: 8.33333%;
}
.col-xs-push-2 {
  left: 16.66667%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-4 {
  left: 33.33333%;
}
.col-xs-push-5 {
  left: 41.66667%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-7 {
  left: 58.33333%;
}
.col-xs-push-8 {
  left: 66.66667%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-10 {
  left: 83.33333%;
}
.col-xs-push-11 {
  left: 91.66667%;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
.col-xs-offset-1 {
  margin-left: 8.33333%;
}
.col-xs-offset-2 {
  margin-left: 16.66667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.33333%;
}
.col-xs-offset-5 {
  margin-left: 41.66667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.33333%;
}
.col-xs-offset-8 {
  margin-left: 66.66667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.33333%;
}
.col-xs-offset-11 {
  margin-left: 91.66667%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}

@media(min-width:992px) {
  .container {
    width: 970px;
    &.topic-filter {
      width: 940px;
    }
  }
  .col-md-1 {
    float: left;
    width: 8.33333%;
  }
  .col-md-10 {
    float: left;
    width: 83.33333%;
  }
  .col-md-11 {
    float: left;
    width: 91.66667%;
  }
  .col-md-2 {
    float: left;
    width: 16.66667%;
  }
  .col-md-3 {
    float: left;
    width: 25%;
  }
  .col-md-4 {
    float: left;
    width: 33.33333%;
  }
  .col-md-5 {
    float: left;
    width: 41.66667%;
  }
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-7 {
    float: left;
    width: 58.33333%;
  }
  .col-md-8 {
    float: left;
    width: 66.66667%;
  }
  .col-md-9 {
    float: left;
    width: 75%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.33333%;
  }
  .col-md-pull-2 {
    right: 16.66667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333%;
  }
  .col-md-pull-5 {
    right: 41.66667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.33333%;
  }
  .col-md-pull-8 {
    right: 66.66667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333%;
  }
  .col-md-pull-11 {
    right: 91.66667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.33333%;
  }
  .col-md-push-2 {
    left: 16.66667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333%;
  }
  .col-md-push-5 {
    left: 41.66667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.33333%;
  }
  .col-md-push-8 {
    left: 66.66667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333%;
  }
  .col-md-push-11 {
    left: 91.66667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

article {
  &.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 768px){
      width: 750px;
    }
    @media (min-width: 992px){
      width: 970px;
    }
    @media (min-width: 1200px){
      width: 1170px;
    }
  }
}

.article_v2 {
    #mainfocus {
      .container.page-title {
        h1 {
          @extend %extend_19;
        }
        h2 {
          font-size: 34px;
          font-size: 3.4rem;
        }
      }
      .quickspec-caption .page-title {
        h1 {
          @extend %extend_19;
        }
        h2 {
          font-size: 34px;
          font-size: 3.4rem;
        }
      }
    }
    .page-title {
      h1 {
        @extend %extend_19;
      }
      h2 {
        font-size: 34px;
        font-size: 3.4rem;
      }
    }
    .maincontent {
      #intro {
        padding-bottom: 50px;
        padding-top: 50px;
      }
      article {
        &.container {
          margin-right: auto;
          margin-left: auto;
          padding-left: 0px;
          padding-right: 15px;
          .col-xs-12 {
            width:100%;
			padding-left:0;
			padding-right: 0;
			ul > li {
				color: #6c7073;
			}
			h2{
				font-family: toyotatext_bd;
				font-weight: normal;
				font-size: 17px;
				line-height: 17px;
				margin-top: 40px;
			}
            @media only screen and (max-width: 780px)  {
              columns: auto 1;
              -webkit-columns: auto 1;
              -moz-columns: auto 1;
              column-gap: 30px;
              -moz-column-gap: 30px;
              -webkit-column-gap: 30px;    
            }
            blockquote.quote3 {
              line-height: 1.3em;
              padding: 40px 0 60px;
            }
            &.col-sm-8.col-md-9 blockquote.quote3 {
              line-height: 1.3em;
              padding: 40px 0 60px;
            }
            section{
              display: block;
			  width: 100%;
			  
            }
          }
          header.section-title {
            padding-bottom: 30px;
            h1 {
              @extend %extend_20;
            }
          }
		  .col-sm-4 {
		  	section {
				width: 30%;
				float: left;
				position: relative;
				min-height: 1px;
				padding-left: 1.5%;
				padding-right: 1.5%;
				@media (max-width: 780px){
					width: 100%;
				}
				.padding {				
					padding-top: 0;
					padding-bottom: 0;
				}
				h2 {
					font-family: toyotatext_bd;
					letter-spacing: -.03em;
					display: block;
					margin: 0;
					font-weight: 400;
					font-size: 17px;
					line-height: 20px;
				}
				p {
					color: #6c7073;
				}
			}
		  }
          .col-md-12 blockquote.quote3 {
            line-height: 1.3em;
            padding: 40px 0 60px;
          }
          .col-md-4 .col-md-3 blockquote.quote3 {
            line-height: 1.3em;
            padding: 0 0 30px;
          }
          .col-sm-4 blockquote.quote3 {
            line-height: 1.3em;
            padding: 0 0 30px;
          }
          .col-sm-6 blockquote.quote3 {
            line-height: 1.3em;
            padding: 0 0 30px;
          }
          blockquote.quote3 {
            padding-bottom: 30px;
            p {
              font-size: 24px;
              font-size: 2.4rem;
            }
          }
          .spotlight blockquote.quote3 p {
            font-size: 24px;
            font-size: 2.4rem;
          }
          .sm-top-section .spotlight {
            margin-bottom: 0;
          }
          .md-top-section .spotlight {
            margin-bottom: 34px;
          }
        }
        .page-tools {
          padding: 12px;
          h5 {
            @extend %extend_21;
          }
          &.page-tools-downloads h5 {
            @extend %extend_21;
          }
          &.page-tools-related-stories h5 {
            @extend %extend_21;
          }
          .list1 li {
            margin: 10px 0;
          }
          .list2 li {
            margin: 0 6px 8px 0;
          }
        }
      }
      .html5-inpage header.section-title {
        padding-bottom: 30px;
        h1 {
          @extend %extend_20;
        }
      }
      #gallery .visible-xs h1 {
        font-size: 44px;
        font-size: 4.4rem;
        line-height: 44px;
        line-height: 4.4rem;
        padding-bottom: 30px;
        padding-left: 15px;
      }
      .collapsible-group .collapsible-panel .panel-section {
        .html5-inpage .container {
          width: 920px;

        }
        article.container {
          width: 920px;

        }
      }
    }
    .col-p-md-4 {
      columns: auto 4;
      -webkit-columns: auto 4;
      -moz-columns: auto 4;
      column-gap: 30px;
      -moz-column-gap: 30px;
      -webkit-column-gap: 30px;
    }
    .col-p-md-2 {
      columns: auto 2;
      -webkit-columns: auto 2;
      -moz-columns: auto 2;
      column-gap: 30px;
      -moz-column-gap: 30px;
      -webkit-column-gap: 30px;
    }
    .col-p-md-3 {
      columns: auto 3;
      -webkit-columns: auto 3;
      -moz-columns: auto 3;
      column-gap: 30px;
      -moz-column-gap: 30px;
      -webkit-column-gap: 30px;
    }
    .col-p-sm-4 {
      columns: auto 4;
      -webkit-columns: auto 4;
      -moz-columns: auto 4;
      column-gap: 30px;
      -moz-column-gap: 30px;
      -webkit-column-gap: 30px;
    }
    .col-p-sm-2 {
      columns: auto 2;
      -webkit-columns: auto 2;
      -moz-columns: auto 2;
      column-gap: 30px;
      -moz-column-gap: 30px;
      -webkit-column-gap: 30px;
    }
    .col-p-sm-3 {
      columns: auto 3;
      -webkit-columns: auto 3;
      -moz-columns: auto 3;
      column-gap: 30px;
      -moz-column-gap: 30px;
      -webkit-column-gap: 30px;
    }

    .btn-red, a.btn-red, button.btn-red {
        font-size: 15px;
        line-height: 46px;
        padding: 0px 14px 0px 14px;
        display:inline-block;
        text-decoration: none;
        color: #fff;
        background-color: #d2001e;
        border: none;
        background-image: -webkit-gradient(linear,left 0,left 100%,from(#d2001e),to(#73000d));
        background-image: -webkit-linear-gradient(top,#d2001e,0,#73000d,100%);
        background-image: -moz-linear-gradient(top,#d2001e 0,#73000d 100%);
        background-image: linear-gradient(to bottom,#d2001e 0,#73000d 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFD2001E', endColorstr='#FF73000D');
    }
  }