﻿
/* ==========================================================================
   Related article content
   ========================================================================== */     

.related-content-block { background: #F4F4F5; padding: 18px; margin: 0 0 16px 0; color: #6c7073; }
.related-content-block .title1 { color: #6c7073; }
.related-content-block p { text-indent: 0; margin: 8px 0; }
.related-content-block a { color: #6c7073; text-decoration: none; }
.related-content-block a:hover { text-decoration: underline; }
.related-content-block ul {  list-style-type: none; color: #6c7073; padding: 0; border: none; margin: 0; }
.related-content-block ul li { margin: 8px 0; }
.related-content-block ul strong { color: #1e2a32; }
.related-content-block ul.tag-list { list-style-type: none; margin-top: 25px; padding: 0; }
.related-content-block ul.tag-list li { float:left; margin-right: 6px;}
.related-content-block ul.tag-list li a { display: inline-block; } 