/* ==========================================================================
   BACKGROUND LAYER SCROLL
   ========================================================================== */
.parallax{
	position: relative;
}
.content-block-wrapper {
	width: 100%;
	background: #fff;
	padding: 7em 0;
	margin-bottom: 150px;
}

.parallax-layer {
	top: 0;
	left: 0;
	position: fixed;
	overflow: hidden;
	z-index: 5;
	visibility: hidden;
}

.parallax-layer > .parallax-image {
	visibility: hidden;
	position: relative;
}

.parallax-layer .parallax-image,
.top-feature .bg-par .background-layer,
.top-feature .bg-par .background-layer .parallax-image,
.background-layer .parallax-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.background-layer .parallax-layer {
	background-size: cover;
}