﻿/* ==========================================================================
   Carousel BG
   ========================================================================== */

.carousel-bg {
  position: relative;
  z-index: 1;
  min-height: 350px;
}

.carousel-bg .carousel-bg-item {
  float: left;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;;
}

.carousel-bg .carousel-bg-item.active {
  z-index: 2;
}

.csstransforms .carousel-bg .carousel-bg-item {
  opacity: 0;
  transition: opacity 0s linear 1s;
  -webkit-transition: opacity 0s linear 1s;
}

.csstransforms .carousel-bg .carousel-bg-item.active {
  opacity: 1;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}

.carousel-nav-container {
  z-index: 3;
  top: auto;
  bottom: 0;
  height: 100%;
}

.carousel-nav {
  position: absolute;
  bottom: 3.8rem;
  list-style-type: none;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: 0;
  @media only screen and (max-width: 540px) {
    display: none;
  }
}

.carousel-nav li {
  display: inline;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  width: 8px;
}

.carousel-nav li a {
  width: 8px;
  height: 8px;
  display: block;
  background: url(../images/CarouselNav.png) no-repeat -17px 0px;
}

.carousel-nav li.active a {
  background-position: 0 0;
}

.carousel-arrow {
  border-radius: 25px;
  width: 45px;
  height: 45px;
  text-decoration: none;
  z-index: 5;
  transition: position 0.33s linear;
  display: inline-block;
  background-color: #495258;
  background-color: rgba(73, 82, 88, 0.7);
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.carousel-arrow.left {
  bottom: 40%;
  left: 14px;
  padding: 5px 5px 0 0;
  @media only screen and (max-width: (($mobile-large)/16)*1em) {
    bottom: 40%;
  }
}

.carousel-arrow.right {
  bottom: 40%;
  right: 14px;
  padding: 5px 0 0 5px;
  @media only screen and (max-width: (($mobile-large)/16)*1em) {
    bottom: 40%;
  }
}

.carousel-arrow:hover {
  background-color: rgba(73, 82, 88, 1);
}

.carousel-arrow:active {
  background-color: rgba(73, 82, 88, 1);
}

@media only screen and (min-width: 1180px) {
  .bg-image-hero .carousel-bg .carousel-arrow.left {
    left: 50px;
    bottom: 40%;
    top: auto;
  }
  .bg-image-hero .carousel-bg .carousel-arrow.right {
    right: 50px;
    bottom: 40%;
    top: auto;
  }
}

/* ==========================================================================
   Carousel Customization => split content and bd
   ========================================================================== */

.carousel {
  .block {
    opacity: 0;
    transition: opacity 1s;
    display: none;
    &.active {
      opacity: 1;
      display: block;
    }
  }
}

.carousel-link {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 85%;
  z-index: 4;
  @media only screen and (min-width: 1180px) {
    height: 75%;
  }
  @media only screen and (max-width: (($desktop-medium)/16)*1em) {
    height: 75%;
  }
  @media only screen and (max-width: (($mobile-large)/16)*1em) {
    height: 65%;
  }
}



.thumbnails-container {
  background-color: #E8E9EA;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  @media only screen and (max-width: (($desktop-medium)/16)*1em) {
    padding: 0;
  }
  .carousel-arrow{
    //background-color: transparent;
    bottom: 1.2rem;
    //text-shadow: 1px 1px 3px #000;
    transition: all 0.4s;
    //background: rgba(#00a0f0,0.8);
    transform: scale(0.7);
    background-color: rgba(73,82,88,.8);
    @media only screen and (max-width: (($desktop-medium)/16)*1em) {
      bottom: 10px;
    }
    &:hover{
      //color: red;
      background-color: rgba(73,82,88,1);
    }
    &.left{
      left: 0px;
      @media only screen and (max-width: (($desktop-medium)/16)*1em) {
        left: 0px;
      }
    }
    &.right{
      right: 0px;
      @media only screen and (max-width: (($desktop-medium)/16)*1em) {
        right: 0px;
      }
    }
  }
}

.thumbnails-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  margin: 0;
  padding: 15.4% 0 0 0;
  @media only screen and (max-width: 600px) {
    padding: 25% 0 0 0;
  }
  .thumbLink{
    position: absolute;
    left:0;
    top:0;
    transition: position 1s;
  }
}

.thumbLink {
  display: block;
  margin: 0;
  float: left;
  box-sizing: border-box;
  width: 20%;

  a {
    width: auto;
    display: block;
    transition: all 0.3s;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin: 5px;
    img {
      display: block;
      width: 100%;
    }
    @media only screen and (max-width: 600px) {
      margin: 2px;
    }
    @media only screen and ((($desktop-medium)/16)*1em) {
      margin: 7px 9px 3px;
    }
  }
  &.active {
    a {
      border: 1px solid #1e2a32;
      box-shadow: 0 0 3px #999;
    }
  }

  @media only screen and (max-width:600px) {
    width: 33.33%;
  }
}

.bgtest {
  width: 50%;
  background-color: #390;
  float: left;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}



