﻿/* ==========================================================================
   Background image heros
   ========================================================================== */

.bg-image-hero { 
	height: 100%; position: relative; 
	.heading1 , h1 { font-size: 66px; line-height: 1.6em; }
	.heading2 , h2 { font-size: 34px; line-height: 1.1em; }
	.heading3 , h3 { font-size: 24px; line-height: 30px; }
	.heading4 , h4 { font-size: 19px; } 
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		.heading1 , h1 { font-size: 66px; }
		.heading2 , h2 { font-size: 34px; }
		.heading3 , h3 { font-size: 24px; line-height: 30px; }
		.heading4 , h4 { font-size: 19px; } 
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		.heading1 , h1 { font-size: 44px; }
		.heading2 , h2 { font-size: 32px; }
		.heading3 , h3 { font-size: 23px; line-height: 24px; }
		.heading4 , h4 { font-size: 19px; } 
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		.heading1 , h1 { font-size: 34px; }
		.heading2 , h2 { font-size: 24px; }
		.heading3 , h3 { font-size: 21px; line-height: 24px; }
		.heading4 , h4 { font-size: 19px; } 
	}

}

.bg-image-hero .coverBG { 
	min-height: 680px;
	min-height: 80vh;
	//min-height: 763px;
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		min-height: 680px;
		min-height: 80vh;
		//min-height: 763px;
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		min-height: 480px;
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		min-height: 300px;
	}
	@media only screen and (max-width:(($mobile-medium  - 1)/16)*1em){
		min-height: 240px;
	}
}
.used-car-carousel .bg-image-hero .coverBG {
	//max-width: 640px;
	background-size: cover;
	min-height: 0;
	height: 0;
	margin-bottom: 20px;
	padding-top: 75%;
	.header-container{
		background-color: #fff;
	}
	.carousel{
		background-color: #fff;
	}
}


.bg-image-hero.bg-image-hero-large .coverBG { 
	min-height: 680px;
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		min-height: 680px;
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		min-height: 540px; 
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		min-height: 340px; 
	}
	@media only screen and (max-width:(($mobile-medium  - 1)/16)*1em){
		min-height: 240px; 
	}
}

.bg-image-hero.bg-image-hero-med .coverBG  { 
	min-height: 420px; 
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		min-height: 420px; 
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		min-height: 360px; 
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		min-height: 280px;  
	}
	@media only screen and (max-width:(($mobile-medium  - 1)/16)*1em){
		min-height: 240px;
	}
}
.bg-image-hero.bg-image-hero-med.med-small .coverBG  { 
	min-height: 360px; 
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		min-height: 320px; 
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		min-height: 380px; 
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		min-height: 240px;  
	}
	@media only screen and (max-width:(($mobile-medium  - 1)/16)*1em){
		min-height: 200px;
	}
}
.bg-image-hero.bg-image-hero-small .coverBG { 
	min-height: 145px; 
	@media only screen and (max-width:(($mobile-medium  - 1)/16)*1em){
		min-height: 200px;
	}   
}
.bg-image-hero.bg-image-hero-med.subsection .coverBG  { 
	min-height: 420px; 
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		min-height: 420px; 
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		min-height: 420px;
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		min-height: 180px;  
	}
}
.bg-image-hero.bg-image-hero-med.subsection .hero-inner { 
	padding-top:150px;
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		padding-top:150px;
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		padding-top:150px;
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		padding-top: 20px; 
	}
}

.bg-image-hero .hero-inner { 
	padding: 100px 5px 5px 5px; z-index: 2; -webkit-backface-visibility: hidden; 
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		padding: 100px 5px 5px 5px;
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		padding: 40px 5px 5px 5px; 
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		padding: 20px 5px 5px 5px; 
	}
	@media only screen and (max-width:(($mobile-small - 1)/16)*1em){
		padding: 5px 5px 5px 5px; 
	}
}
.bg-image-hero.bg-image-hero-large .hero-inner { 
	padding: 180px 5px 5px 5px; z-index: 2; -webkit-backface-visibility: hidden; 
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		padding: 220px 5px 5px 5px;
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		padding: 100px 5px 5px 5px; 
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		padding: 50px 5px 5px 5px; 
	}
	@media only screen and (max-width:(($mobile-small - 1)/16)*1em){
		padding: 10px 5px 5px 5px; 
	}
}
.bg-image-hero .hero-inner .component-area { float:left; clear:left; }

.bg-image-hero .hero-lower { padding: 60px 5px 5px 5px; }

/* Specific selects for header hero to account to navigation overlap  */
.fx-header .bg-image-hero .hero-inner  { padding-top: 170px; }
.outer-wrapper.no-navigation .fx-header .bg-image-hero .hero-inner { padding-top: 100px; }
.fx-header .bg-image-hero.bg-image-hero-med .coverBG { min-height: 570px; }
.fx-header .bg-image-hero.bg-image-hero-med .coverBG  { min-height: 430px; }
.fx-header .bg-image-hero.bg-image-hero-small .coverBG { min-height: 215px; }

.bg-image-hero .hero-inner .heading1,
.bg-image-hero .hero-inner .heading2,
.bg-image-hero .hero-inner .heading3 { 
	color: #fff; text-shadow: 0px 0px 2px #999; 
	text-shadow: 0px 0px 12px #000; 
	text-shadow: 0px 0px 5px #000,0px 0px 40px #000;
	a{
		color: #fff;
	}
}
.bg-image-hero .hero-inner.dark-text { 
	color: #333; 
	.heading1 , h1 , .heading2 , h2 ,.heading2 , h2 ,.heading3 , h3{
		color: #333; 
		text-shadow: 0px 0px 12px #fff; 
		text-shadow: 0px 0px 5px #fff,0px 0px 40px #fff; 
		a{
			color: #333;
		}
	}
}
.bg-image-hero .hero-inner a { text-decoration: none; }
.bg-image-hero .hero-inner a .play-icon-large { margin-top: 10px; }
.bg-image-hero .hero-inner .playBtn {
	/*	
		background-color: #475d70;
		background-color: rgba(37, 50, 59, .8);
		padding: 25px 29px 28px 27px;
		color: #fff;
		border-radius: 3px;
		position: absolute; left: 80%; margin-left: -25px; top: 250px; 
	*/
	display: block;
	padding-top: 80px;
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		padding-top: 80px; 
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		padding-top: 40px; 
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		padding-top: 20px; 
	}
	@media only screen and (max-width:(($mobile-small - 1)/16)*1em){
		padding-top: 5px; 
	}
	text-align: center;
	padding-left: 50%;

}
.bg-image-hero .center-text .hero-inner .playBtn {
	padding-left: 0;
}

.bg-image-hero .hero-inner .playBtn:hover {
	/*	background-color: #25323b*/
}

.bg-image-hero .hero-inner .playBtn{
	.icon-play , .play-icon-large{
		font-size: 35px;
	}
} 

.bg-image-hero .dynamic-cta { position: absolute; bottom: 0; }



.bg-image-hero.dealer_hero{
	width: 100%;
	max-height: 600px;
	height: auto;
	overflow:hidden;
	img.BG{
		display: block;
		width: 100%;
		height: auto;
	}
}


.hero-landing{
	padding: 0;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1em;
	width: 100%;
	.heading1{
		color: #fff;
		text-shadow: 1px 1px 3px #777;
	}
}