﻿
/* ==========================================================================
   Body content
   ========================================================================== */     


.body-content img { margin-bottom: 8px; border-radius: 2px; }
.body-content .video { width: 100%; }
.body-content .subtitle { margin-top: 1em; }
.body-content p { margin-bottom: 1em; }
.body-content figure { margin-bottom: 20px; }
.body-content li { margin: 10px 0; }
.body-content .intro-text p { font-family: toyotatext_rg; font-size: 24px; color: #1e2a32; line-height: 30px; margin-bottom: 50px; }
.body-content .intro-text.text-center { text-align: center; }
.body-content ul ul { list-style-type: disc; padding: 0 0 0 40px; margin: 0; border: none; }

.body-content .columns-3 {
    columns:230px 3;
    -webkit-columns:230px 3; /* Safari and Chrome */
    -moz-columns:230px 3; /* Firefox */
    column-gap:15px;
    -moz-column-gap:15px; /* Firefox */
    -webkit-column-gap:15px; /* Safari and Chrome */
}

.body-content h1,
.body-content h2 {   }

.body-content .inline-media-left { float:left; margin-right: 10px; }
.body-content .inline-media-left.pop_grid3 { margin-left: -238px; }

.body-content .inline-media-right { float:right; margin-left: 10px; }
.body-content .inline-media-right.pop_grid3 { margin-right: -238px; }

.body-content blockquote { margin: 0; }
.body-content blockquote p { font-size: 24px; color: #1e2a32; line-height: 30px; text-indent: 0; margin-bottom: 0.5em; }
.body-content blockquote cite { color: #6c7073; font-size: 14px; font-style: normal; }

.col-p-3 {
	columns: 220px 3;
	-webkit-columns: 220px 3;
	-moz-columns: 220px 3;
	column-gap: 30px;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
}

.col-p-2, .col-p-3 {
	min-height: 100%;
}

@media only screen and (min-width:0em){
	.body-content .intro-text p { font-size:1.2em; line-height: 1.25em; margin-bottom: 1em; }
	.body-content .columns-3 {
	    columns:1;
	    -webkit-columns:1; /* Safari and Chrome */
	    -moz-columns:1; /* Firefox */
	    column-gap:0;
	    -moz-column-gap:0; /* Firefox */
	    -webkit-column-gap:0; /* Safari and Chrome */
	}
}
@media only screen and (min-width:(($mobile-large)/16)*1em){
	.body-content .intro-text p { font-size:1.5em; line-height: 1.25em; margin-bottom: 2em; }
	.body-content .columns-3 {
	    columns:230px 3;
	    -webkit-columns:230px 3; /* Safari and Chrome */
	    -moz-columns:230px 3; /* Firefox */
	    column-gap:15px;
	    -moz-column-gap:15px; /* Firefox */
	    -webkit-column-gap:15px; /* Safari and Chrome */
	}
}

@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
	.body-content img { width: 100%; }
}

