
/* ==========================================================================
   buttons bar
   ========================================================================== */

.buttonsBar{
	width: 100%;
	padding-top: 45px;
	padding-bottom: 45px;
	.uiBtn{ display: block;
			> i {
				position: absolute;
				right: 10px;
				top:50%;
				margin-top: -6px;
			}
			@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
				display:block;
			}

			@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
				margin-bottom: 0.5em;
			}
	}
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		width: auto;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		width: auto;
	}
	@media only screen and (max-width:(($mobile-small - 1)/16)*1em){
		width: auto;
	}
}
.buttonsBar.right-align{
	.grid_3{
		float: right;
	}
}
.greyBg .ctaText .heading3{
	font-weight: bold;
	color: #848b90;
	padding-bottom: 1em;
}
.hybridCTA{
	padding-bottom: 1em;
	margin-bottom: -1.5em;
}


/**
 ########################################################################
				toyota cta
*/

.toyota_cta{
	position: relative;
	overflow:hidden;
	height: 250px;
	//margin-bottom: 1em;
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		height:auto;
	}
	.cta_bg{
		position: absolute;
		top:-30px;
		//right: 100px;
		width: 100%;
		height: auto;
		> img{
			display: block;
			//float: right;
			width:100%;
		}
		@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
			display:none;
		}
	}
	.uiBtn{
		float: left;
		margin-right:6px; 
		padding-right: 30px;
		@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
			float: none;
			margin-right:0;
		}
	}

}
