/* ==========================================================================
   CHECKBOX FILTER
   ========================================================================== */
.checkbox-filter-container {
	background: #1e2a32; width: 100%; min-height: 100px; margin: 15px 0; padding: 40px 0; overflow: hidden;
	&.noBg{
		background: transparent;
		.subheading-text{
			color: #6c7073;
		}
		.checkbox-row .checkbox label{
			color: #6c7073;
		}
	}
}

.checkbox-filter-container .heading-text {text-align: left; color: #ef9109; font-family: toyotatext_bd; font-size: 34px; line-height: 34px; padding: 15px 0;}
.checkbox-filter-container .subheading-text {color: #fff; font-family: toyotatext_bd; font-size: 24px; padding: 10px 0;}
.checkbox-filter-container .subheading-text.orphan {margin-top: 66px;}
.checkbox-filter-container .select-all {clear: both; text-decoration: underline; color: #fff; }

.checkbox-filter-container .button-container {clear: both; margin: 45px 0 35px 0; }
.checkbox-filter-container .button-container .uiBtn {margin-right: 10px}
.checkbox-filter-container .button-container .uiBtn i {margin-left: 5px; color: #969c97}

.check-boxes {overflow: hidden; margin-bottom: 20px;}
.checkbox-row {width: 210px; float: left}
.checkbox {margin: 8px 0}
.checkbox input {display: none;}
.checkbox label:before {
	margin-right: 8px;
	font-family: 'ToyotaIconFont';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\e005";
}
.checkbox.radio label:before{
	content: "\e605";
}
.checkbox label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-bottom: 10px;
	font-family: toyotatext_rg; 

	white-space: nowrap;}
.checkbox-filter-container .checkbox label {
	color: #fff;
	font-size: 18px; 
	line-height: 18px; 
	&:before{
		font-size: 19px; speak: none;
	}
}
.checkbox.checked label:before {
	content: "\e006"
}
.checkbox input:checked + label:before {
	content: "\e006"}
.checkbox.checked.radio label:before {
	content: "\e604"
}
.checkbox.radio input:checked + label:before {
	content: "\e604"}


.checkboxBtn{
	.checkbox{
		margin: 0;
		label{
			display: inline;
			margin: 0;
		}
	}
	.uiBtn i{
		margin-top: 13px;
	}
}