/* 
#############################################################################
contacform and others
#############################################################################
*/

input, textArea{
	padding: 9px 0.8em 7px;
	font-size: 15px;
	line-height: 25px;
	border-radius: 2px;
	border: 1px solid #B0B1B2;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	margin-bottom:1.5em;
	color: #1e2a32;
	transition: all 0.3s;
	background-color: #ebeced;
	&:focus {
		outline: none;
		border: 1px solid #00a0f0;
		color: #00a0f0;
	}

	&:placeholder{
		color: #6c7073;
	}
	&[type="submit"]{
		width: auto;
		min-width: 200px;
	}
}
textArea{
	height: 8em;
}

.contactform{
	width: 100%;
	margin: 0 auto;
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		width: 80%;
	}
	@media only screen and (max-width:((640 - 1)/16)*1em){
		width: 100%;
	}

	h2{
		font-family: "toyotadisplay_bd";
		font-size: 34px;
		line-height: 37px;
		margin-bottom: 0.35em;
	}
	.intro {
		font-size: 24px;
		line-height: 30px;
	}

	.header{
		font-size: 19px;
		margin-bottom: 2em;
	}

	.extraspace{
		padding-bottom: 2em;
		margin-bottom: 2em;
		@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
			padding-bottom: 1em;
			margin-bottom: 1em;
		}
	}

	.container_12.nop , .grid_6.nop{
		padding: 0;
		@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
			width: 100%;
			float: none;
		}
	}
	.title1{
		color: #1e2a32;
		transition: all 0.3s;
		margin-bottom: 8px;
	}


	.container_12 .grid_4{
		float: left;
		width: 33.33333%;
		padding: 0 15px;
		@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
			padding: 0 15px;
			width: 100%;
		}
	}

	.checkbox-row{
		display: block;
		width: 33.333%;
		padding: 0;
		float: left;
		@media only screen and (max-width:((420 - 1)/16)*1em){
			width: 100%;
			padding: 0;
			margin-bottom: 1em;
			float: none;
		}
		.radio{
			clear: both;

		}
		input{
			display: block;
			float: left;
			width: 26px;
			margin: 4px 0;
			cursor:pointer;
		}
		label{
			cursor:pointer;
			display: block;
			float: left;
			width: 100%;
			margin: 0 -38px 0 0;
		}

	}

	.notifications{
		//border: 1px solid #B0B1B2;
		background:#f0f0f0;
		padding: 10px;
		border-radius: 2px;
		font-size: 13px;
		.subheading-text{
			font-family: toyotatext_bd;
			font-weight: bold;
			font-size: 15px;
		}
	}

	.help-block{
		display: block;
		font-size: 0.8em;
		margin-top: -1.5em;
		margin-bottom: 0.5em;
	}
	.form-error{
		color: #d1001e;
	}


	.select {
		position:relative;
		margin-bottom:1.4em;
		.help-block{
			display: block;
			position: absolute;
			bottom: - 2.1em;
			font-size: 0.85em;
			left: 0 ;
		}
	}

}


/* 
#############################################################################
forms navigation
#############################################################################
*/

.form_nav{
	background:  #f0f2f2;
	padding-top: 10px;
	vertical-align: middle;
	font-size: 0;
	margin-bottom: 50px;
}
.form_nav_item{
	display: inline-block;
	cursor: pointer;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	font-size: 15px;
	line-height: 21px;
	padding: 20px 18px;
	margin-right: 3px;
	transition: background 0.5s;
	&:hover , &.active{
		background: #fff;
	}
	&.active{
		font-family: toyotatext_bd;
		padding: 20px 18px 20px;
	}

	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		padding: 12px 10px;

		&.active{
			padding: 12px 10px 11px;
		}
	}
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		border-radius: 3px;
		border-radius: 3px;
		margin-bottom: 3px;

		font-size: 14px;
		line-height: 19px;
		padding: 11px;

		&.active{
			padding: 11px 11px 10px;
		}
	}
}
.tabContent{
	display: none;
}

.details{
	background: #f0f2f2;
	padding:0.7em 0;
	margin:0;
	h5{
		font-family: "toyotatext_bd";
		font-size: 16px;
		margin-bottom: 1em;
	}
	li{
		list-style: none;
	}
	.detaislWrapper{
		padding: 10px;
	}
}

.container_12 .grid_6.large_break{
	float: left;
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		padding-left: 10px;
		padding-right: 10px;
	}
}

// get directions
.getdirections{
	.map{
		.section_title{
			display:none;
			margin: 0;
		}
		.heading1{
			display:none;
		}
	} 

} 
.direction_details{
	li{
		list-style: none;
	}
	h4{
		margin-bottom: 0.7em;
	}
	p{
		padding-bottom: 0em;
	}
	a{
		text-decoration:underline;
	}
}
.form_thanks h2{
	padding-bottom: 0.5em;
}