
/* ==========================================================================
   Content table
   ========================================================================== */     

.content-table { text-align: left; table-layout: fixed; width: 100%; border-collapse: separate; }
.content-table th { padding: 16px 10px; color: #1e2a32; border-bottom: 1px solid #ebeced; vertical-align: top; font-family: toyotatext_bd; font-weight: normal; }
.content-table td { padding: 9px 10px; color: #1e2a32; vertical-align: top; border-right: 1px solid #ebeced;}
.content-table tr td:last-child { border-right: 0; }
.content-table tbody.content-table tbody { border-bottom: 1px solid #ebeced;  }
.content-table tbody tr:nth-child(odd) td {background-color: #f5f5f6;  border-top: 1px solid #fff; border-bottom: 1px solid #fff; }
.content-table tbody tr:nth-child(even) td {border-top: 1px solid #ebeced; border-bottom: 1px solid #ebeced; }
.content-table th.sort-link.active { color: #e50000; }

.text-content{
	overflow-x:auto;
	table { text-align: left; table-layout: auto; width: auto; border-collapse: separate; border: none}
	table th , table caption{ padding: 16px 10px; color: #1e2a32; border-bottom: 1px solid #ebeced; vertical-align: top; font-family: toyotatext_bd; font-weight: normal; border:none;}
	table th{ background: #ddd;}
	table td { border: none; padding: 9px 10px; color: #1e2a32; vertical-align: top; border-right: 1px solid #ebeced;}
	table tr td:last-child { border-right: 0; }
	table tbody.content-table tbody { border-bottom: 1px solid #ebeced;  }
	table tbody tr:nth-child(odd) td {background-color: #f5f5f6;  border-top: 1px solid #fff; border-bottom: 1px solid #fff; }
	table tbody tr:nth-child(even) td {border-top: 1px solid #ebeced; border-bottom: 1px solid #ebeced; }
	table th.sort-link.active { color: #e50000; }
	&.contact_hours{
		table{
			width: 100%;
			padding-bottom: 1em;
		}
	}
}

.content-table.small td{
	font-size: 0.8em;
	color: #6c7073;
} 

