﻿/* ==========================================================================
   Pop-up CTA's
   ========================================================================== */

.dynamic-cta { text-align: center; width: 100%; ;
/*	background-image: -webkit-linear-gradient(bottom, rgba(30, 42, 50, 0.5), rgba(40, 56, 67, 0.5));
	background-image: -moz-linear-gradient(bottom, rgba(30, 42, 50, 0.5), rgba(40, 56, 67, 0.5));
	background-image: -o-linear-gradient(bottom, rgba(30, 42, 50, 0.5), rgba(40, 56, 67, 0.5));
	background-image: -ms-linear-gradient(bottom, rgba(30, 42, 50, 0.5), rgba(40, 56, 67, 0.5));
	background-image: linear-gradient(to top, rgba(30, 42, 50, 0.5), rgba(40, 56, 67, 0.5));*/
	background-color: #999;
	background-color: rgba(40, 56, 67, 0.5);
}
.no-cssgradients .dynamic-cta { background: #1C2830; }

.dynamic-cta.dark {
/*	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));*/
	background-color: #555;
	background-color: rgba(40, 56, 67, 0.8);
}
.no-cssgradients .dynamic-cta.dark { background: #000; }

.dynamic-cta .cta-list { list-style-type: none; padding: 0 0 0 0; }
.dynamic-cta .cta-list li { 
	display: inline-block; margin: 0 10px; 

}
.dynamic-cta .cta-list li a { color: #fff; display: inline; font-size: 14px; font-family: toyotatext_bd; text-decoration: none; line-height:70px;}
.dynamic-cta .cta-list li a:hover { text-decoration: underline; }

/* ==========================================================================
   Hidden when class 'bound' present, slides into view when class 'active' added, 'binding' class prevent users seeing the inital position changing
   ========================================================================== */                                  

.dynamic-cta.bound { z-index: 6; position: fixed; }
.dynamic-cta.binding { transition: none !important; -webkit-transition: none !important; }
.no-csstransforms3d .dynamic-cta.bound { bottom: -80px; transition: bottom 0.33s ease-out; }
.csstransforms3d .dynamic-cta.bound { bottom: 0; transition: transform 0.33s ease-out;  transform: translate3d(0px, 80px, 0px);-webkit-transition: -webkit-transform 0.33s ease-out;  -webkit-transform: translate3d(0px, 80px, 0px); }
.no-csstransforms3d .dynamic-cta.bound.active {bottom: 0; }
.csstransforms3d .dynamic-cta.bound.active { transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); }
