/* ==========================================================================
   Footer
   ========================================================================== */
.fclear{

	clear: both;
	width: 100%;
	height: 1px;
}
.master-wrapper .footer-container { font-size: 0.81em; padding-top: 20px; box-shadow: inset 0 0 150px rgba(108,112,115,.3); background-color: #fff; border-top: 1px solid #fff;
									.footer { padding-bottom: 2em;
											  .row { margin-bottom: 1em; }

											  p { color: #6c7073; }
											  ul { list-style: none;
												   li.link { float: left; margin-right:20px;
															 a { color: #6c7073; text-decoration: none; font-family: toyotadisplay_bd;
																 &:hover { text-decoration: underline; }
																 &.hasIcon { text-decoration: none;
																			 span { padding-right: 0.5em; }
																			 &:hover {
																				 span { text-decoration: underline;  }
																			 }
																 }
															 }
												   }

												   &.align-right li.link { float: right;
																		   a.hasIcon { margin-right:0px; margin-left:20px; }
												   }
											  }

											  .copyright { margin: 0.5em 0; }

											  .buttons { text-align: right;
														 .button { display: inline; margin-left: 10px; }
											  }


									}
}

.social-buttons { 
	padding-top:0; 
	padding-bottom: 0;	
}
.social-button { 
	text-decoration: none; font-size: 1.5em; width: 32px; color: #fff; height: 32px; display: block; text-align: center; line-height: 32px; float: left; margin-right: 10px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;

	&.social-button-facebook { background-image: url(../images/facebook.png) ;}
	&.social-button-twitter { background-image: url(../images/twitter.png) ; }
	&.social-button-youtube { background-image: url(../images/youtube.png) ; }
	&.social-button-linkedin { background-image: url(../images/linkedin.png);}
	&:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; }
}

@media only screen and (max-width:(($mobile-large - 1)/16)*1em){

	.master-wrapper .footer-container {
		.footer {
			ul {
				li.link { float: none; margin:0 0 0.5em 0;}
			}
		}
		.social-buttons { float: none; width:auto; }
	}


}