
.locate_dealer_mgs{
	display:block;
	padding-bottom:1.5em;
}

.select { 
	transition: all 0.6s ease; 
	background: #ebeced; 
	border:1px solid #B0B1B2; 
	color: #6c7073; 
	font-size: 16px; 
	position: relative; 
	border-radius: 2px;
	margin-bottom: 1.5em;
	cursor: pointer;
	&.no-padding{
		margin-bottom: 0.2em !important;
		&.has-error{
			margin-bottom: 1em !important;
		}
	}
	.value {
		padding: 9px 0.8em 7px;
		font-size: 15px;
		line-height: 25px; 
		white-space: nowrap; 
		overflow:hidden; 
	}
	i { 
		transition: all 0.6s ease; 
		position: absolute; 
		top: 15px; 
		right: 0.7em; 
		color:#B0B1B2; 
	}
	select { 
		padding:0;
		margin: 0; 
		display: block; 
		border: none; 
		height: 41px; 
		width: 101%; 
		position: absolute; 
		top:-8px; 
		left:8px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		cursor: pointer;
		> *{
			font-size: 12px !important;
		}
	}

	&:hover { border:1px solid #1E2A32; color: #1E2A32;
			  i { color: #1E2A32; }
	}

	&.has-error{
		border-color: red;
	}

}

.checkboxes { margin-bottom: 0.7em;
	.checkbox { margin-bottom: 0.3em;
		  input { display: none; }
		  .the-checkbox { transition: all 0.6s ease; position: relative; top:0.1em; height: 16px; width: 16px; float: left; margin-right:10px; border: 1px solid #B0B1B2; 
						  i { display: none;  }
		  }

		  &.active {
			  .the-checkbox { border: 1px solid #1E2A32; }
			  i { display: block; }
		  }

		  &:hover {
			  .the-checkbox { border: 1px solid #1E2A32; }
		  }

		  &.colour {
			  .the-checkbox { border: 1px solid transparent; }
			  .colour-block { transition: all 0.6s ease;  position: relative; top: 2px; left: 2px; height: 12px; width: 12px; }

			  &.active {
				  .the-checkbox { border: 1px solid #1E2A32; }
				  .colour-block { top: 2px; left: 2px; height: 12px; width: 12px; }
			  }
		  }
		  &.unique{
			  .the-checkbox { 
				  border-radius:50%;
				  > .icon{
					  font-size: 0.85em;
					  line-height: 1.2em;
					  padding-left: 0.05em;
				  }
			  }
		  }
  }
}



.contactmethod h4{
	font-size: 0.9em;
}
.legal{
	color:#6c7073;
	@media only screen and (max-width:($mobile-large/16)*1em){
		padding-top:1em;
		clear:both;
	}
}
#postbrochureAdress{display:none}
.form_thanks{
	display: none;
}
.requiredField{
	color: #000;
}