/* ==========================================================================
   Horizontal gallery
   ========================================================================== */    

.gallery-horizontal { width: 100%; margin: 0; padding: 0; overflow: hidden; position: relative;}
.gallery-horizontal * {-webkit-tap-highlight-color: rgba(255, 255, 255, 0)}
.gallery-horizontal .gallery-horizontal-row { position: relative; overflow: hidden;}
.gallery-horizontal .gallery-horizontal-row .gallery-horizontal-row-inner {	 overflow-x: auto; position: relative;
																			 -moz-transition: transform 0.66s ease-out;  /* FF4+ */
																			 -o-transition: transform 0.66s ease-out;   /* Opera 10.5+ */
																			 -webkit-transition: -webkit-transform 0.66s ease-out;  /* Saf3.2+, Chrome */
																			 -ms-transition: -ms-transition 0.66s ease-out;   /* IE10 */
																			 transition: transform 0.66s ease-out; 
																			 -webkit-transform-style: preserve-3d; 
																			 -webkit-backface-visibility: hidden; 
}
.gallery-horizontal .gallery-horizontal-row.dragging .gallery-horizontal-row-inner 
{
	-moz-transition-duration: 0s;  /* FF4+ */
    -o-transition-duration: 0s; /* Opera 10.5+ */
    -webkit-transition-duration: 0s; /* Saf3.2+, Chrome */
    -ms-transition-duration: 0s; /* IE10 */
    transition-duration: 0s;
}

.gallery-horizontal .gallery-horizontal-row .gallery-horizontal-row-inner { white-space: nowrap; }
.gallery-horizontal.active .gallery-horizontal-row .gallery-horizontal-row-inner { white-space: normal; }
.gallery-horizontal .gallery-horizontal-row .gallery-item {	display: inline-block; }
.gallery-horizontal.active .gallery-horizontal-row .gallery-item {	display: block; position: relative; float:left; }

.gallery-horizontal .gallery-horizontal-row.dragging .gallery-item,
.gallery-horizontal .gallery-horizontal-row.dragging .item-link { cursor: move; }

.no-touch .gallery-horizontal .gallery-horizontal-row .gallery-item .border-hover {	position: absolute; top: 0; left: 0; bottom: 0; right: 0;border: 0px solid #fff; z-index: 1;
																					-webkit-transition: border-width ease-in 0.15s;
																					-moz-transition: border-width ease-in 0.15s;
																					-ms-transition: border-width ease-in 0.15s;
																					-o-transition: border-width ease-in 0.15s;
																					transition: border-width ease-in 0.15s;

}
.gallery-horizontal .gallery-horizontal-row .gallery-item img {	height: 220px;	display: block;}
.gallery-horizontal .gallery-horizontal-row .gallery-item i { position: absolute; top: 50%; left: 50%; margin: -23px 0 0 -25px;	color: #fff; border-radius: 3px;font-size: 24px;color: #fff;background: #3B3B3B; background: rgba(0, 0, 0, 0.66); }
.gallery-horizontal .gallery-horizontal-row .gallery-item .icon-search {display: none;padding: 6px 12px;}
.gallery-horizontal .gallery-horizontal-row .gallery-item .icon-play {	padding: 6px 14px 6px 16px;}

.no-touch .gallery-horizontal .gallery-horizontal-row .gallery-item:hover .icon-search { display: block; }
.no-touch .gallery-horizontal .gallery-horizontal-row .gallery-item img {position: relative;}
.no-touch .gallery-horizontal .gallery-horizontal-row .gallery-item:hover .border-hover {border: 5px solid #fff;}

.gallery-horizontal .gallery-horizontal-indicator {
    padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120px;
	margin-left: -75px;
	margin-top: -55px;
	background: #333;
	background: rgba(0,0,0,0.8);
	border-radius: 3px;
	opacity: 1;
	z-index: 1;
	-webkit-transition: opacity ease-in-out 0.5s;
	-moz-transition: opacity ease-in-out 0.5s;
	-ms-transition: opacity ease-in-out 0.5s;
	-o-transition: opacity ease-in-out 0.5s;
	transition: opacity ease-in-out 0.5s;
	@media only screen and (min-width:($mobile-large/16)*1em){
		margin-left: -60px;
	}
}

.gallery-horizontal .gallery-horizontal-indicator p {text-align: center;color: #fff }

.gallery-horizontal .navigation-arrows > a {
	border-radius: 25px;
	width: 45px;
	height: 45px;
	text-decoration: none;
	z-index: 4;
	display: inline-block;
	background-color: #495258;
	background-color: rgba(0, 0, 0, 0.28);
	color: #fff;
	font-size: 36px;
	line-height: 36px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	margin-top: -25px;
	top: 50%;
	visibility: visible;
	-webkit-transition: opacity ease-in-out 0.2s;
	-moz-transition: opacity ease-in-out 0.2s;
	-ms-transition: opacity ease-in-out 0.2s;
	-o-transition: opacity ease-in-out 0.2s;
	transition: opacity ease-in-out 0.2s;
}

.touch .gallery-horizontal .gallery-horizontal-row:hover .navigation-arrows a.inactive { visibility: hidden; }
.gallery-horizontal .gallery-horizontal-row .navigation-arrows .inactive { background-color: #A3A3A3; background-color: rgba(0, 0, 0, 0.28); cursor: default;color: #D4D4D4; }
.gallery-horizontal .gallery-horizontal-row:hover .navigation-arrows a {background-color: rgba(0, 0, 0, 0.80); }
.gallery-horizontal .gallery-horizontal-row:hover .navigation-arrows a.inactive {background-color: #A3A3A3; background-color: rgba(0, 0, 0, 0.28); cursor: default;color: #D4D4D4;  }
.gallery-horizontal .navigation-arrows .left { left: 15px; padding: 5px 5px 0 0; }
.gallery-horizontal .navigation-arrows .right { right: 15px; padding: 5px 0 0 5px; }


/* Article Gallery styles */
.gallery-horizontal .article-gallery-item { 
	width: 355px;background-color: #E6E7E8; 
	font-family: toyotatext_rg; font-size: 15px; text-decoration:none; 
	line-height: 20px; color: #6c7073; 
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		width: 270px;
	}
	@media only screen and (max-width:(($mobile-medium  - 1)/16)*1em){
		width: 240px;
	}
	@media only screen and (max-width:(($mobile-small  - 1)/16)*1em){
		width: 200px;
	}


}
.gallery-horizontal .article-gallery-item .item-link { position: relative; display: block;}
.gallery-horizontal .article-gallery-item .item-content { padding: 10px 10px 40px; white-space: normal; border-right: 1px solid #fff;  }
.gallery-horizontal .article-gallery-item .item-content .title { color: #1e2a32;  font-family: toyotatext_bd;}
.gallery-horizontal .article-gallery-item .item-content p { text-indent: 3em; }
.lte-ie8 .gallery-horizontal .article-gallery-item .item-content p,
.gallery-horizontal .article-gallery-item .item-content p:first-of-type { text-indent: 0; }
