﻿
/* ==========================================================================
   Secondary content
   ========================================================================== */

.page-transition-slider 
{
    position:fixed; 
    z-index: 10;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin-left: 100%; 
    background-color: #1e2a32;
    overflow:hidden;
    -webkit-transition: margin 0.66s ease-out;
    -moz-transition: margin 0.66s ease-out;
    -ms-transition: margin 0.66s ease-out;
    -o-transition: margin 0.66s ease-out;
    transition: margin 0.66s ease-out;
}
.page-transition-slider .container_12 { margin: 0 auto; }

.page-transition-slider.focus {  }
.page-transition-slider .bg-wrapper { background-color: #1e2a32; }

.page-transition-slider .content-wrapper 
{
	overflow: scroll;
    margin-left: 73px;
    -webkit-transition: opacity 0.66s ease-out;   
    -moz-transition: opacity 0.66s ease-out;   
    -ms-transition: opacity 0.66s ease-out;   
    -o-transition: opacity 0.66s ease-out;   
    transition: opacity 0.66s ease-out;   
    background: #fff; /* Old browsers */
	position: relative;
	-webkit-overflow-scrolling:touch;
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		margin-left: 0; 
		.toyota-tabs-select{
			padding-top: 75px;
		}
	}
}

.page-transition-slider .tool-bar { 
	position: absolute; 
	width: 73px; 
	top: 0; 
	left: 0; 
	bottom: 0; 
	background-color: #1e2a32; 
	text-align: center; 
	cursor: pointer; 
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		height: 70px; 
		width: 100%; 
	}
}
.page-transition-slider .tool-bar .cb-close { 
	position: absolute; 
	bottom:0; height:47px; 
	width: 47px; 
	bottom: 14px; 
	left:12px;
	background-color: #e9eaec;
	background-image: linear-gradient(180deg,#fff 0,#e9eaec 100%);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		bottom: 10px;  
	}
}
.page-transition-slider .tool-bar .close-icon { 
	display: block; 
	color: #1e2a32; 
	font-size: 30px; 
	position: relative; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	padding: 8px 0; 
}
.page-transition-slider.focus .tool-bar { 
	position: fixed; 
	z-index: 15; 
	height: 100%; 
	-webkit-transform: rotate(0deg); 
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		height: 70px; 
		width: 100%; 
	}
}

.page-transition-slider.focus .tool-bar .back-text {
	display: block;
	font-size: 18px;
	font-family: toyotatext_rg;
	padding-left: 20px;
	color: #fff;
	white-space: nowrap;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: 0 0;   
	-moz-transform: rotate(270deg);
	-moz-transform-origin: 0 0;   
	-ms-transform: rotate(270deg);
	-ms-transform-origin: 0 0;   
	-o-transform: rotate(270deg);
	-o-transform-origin: 0 0;   
	transform: rotate(270deg);
	transform-origin: 0 0; 
	position: absolute;
	bottom: 30px;
	left: 10px;
	text-align: left;
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		top:14px;
		left: 50px;
		transform: rotate(0);
	}
	@media only screen and (max-width:540px){
		display:none;
	}
}

.no-csstransforms .page-transition-slider.focus .tool-bar .back-text  
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-0.00000000, M12=1.00000000, M21=-1.00000000, M22=-0.00000000,sizingMethod='auto expand')";
    width: 500px;
    bottom: 545px;
}
.lt-ie8 .page-transition-slider.focus .tool-bar .back-text  { display: none;}

.page-transition-slider .tool-bar { opacity: 0;}


.page-transition-slider.focus .tool-bar { opacity: 1;}
.page-transition-slider .tool-bar .small-logo { 
	display: block; 
	background: url(../images/logo_sm.png) no-repeat 0 0; 
	width: 73px; 
	height: 70px;  
	transition: all 0.44s ease-out; 
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		margin-right:0;
		margin-left:auto;
	}
}
.page-transition-slider.focus .tool-bar .close-link { 
	height: 100%; 
	display: block; 
}
.page-transition-slider.focus .tool-bar a:hover .back-text { color: #e50000; }


/* HACKS FOR USER TESTING - NOT PRODUCTION CODE...  */

.page-transition-slider.v2 .tool-bar .close-icon { border-top: 1px solid transparent; }
.page-transition-slider.v2 .tool-bar .back-text { bottom: 20px; left: 24px; }

.page-transition-slider.v3 .tool-bar { background-color: #26323B; }
.page-transition-slider.v3 .tool-bar .cb-close { position: relative; height: 320px; padding-top: 20px; background-color:#1E2A32; }
.page-transition-slider.v3 .tool-bar .cb-close .close-icon {border-top: 1px solid transparent;}
.page-transition-slider.v3 .tool-bar .cb-close .back-text {bottom: 10px; left: 24px; }

.page-transition-slider.v4 .tool-bar { background-color: #26323B; }
.page-transition-slider.v4 .tool-bar .cb-close { position: relative; height: 320px; padding-top: 20px; background-color:#1E2A32; }
.page-transition-slider.v4 .tool-bar .cb-close .close-icon {border-top: 1px solid transparent; top: 0; bottom: auto; font-size: 40px;  }
.page-transition-slider.v4 .tool-bar .cb-close .back-text {bottom: -20px; left: 24px; }

.page-transition-slider.v5a .tool-bar { background-color: #26323B; }
.page-transition-slider.v5a .tool-bar .cb-close { position: relative; height: 320px; padding-top: 60px; }
.page-transition-slider.v5a .tool-bar .cb-close .close-icon {border-top: 1px solid transparent; top: 10px; bottom: auto; font-size: 40px; color:#fff; width: auto; left: 6px; right: 6px; padding: 7px 0 11px 0; }
.page-transition-slider.v5a .tool-bar .cb-close .back-text {bottom: -20px; left: 24px; }
.page-transition-slider.v5a .tool-bar .cb-close .close-icon:hover {background:#73000d; }

.page-transition-slider.v5b .tool-bar { background-color: #26323B; }
.page-transition-slider.v5b .tool-bar .cb-close { position: relative; height: 320px; padding-top: 60px; }
.page-transition-slider.v5b .tool-bar .cb-close .close-icon {border-top: 1px solid transparent; top: 10px; bottom: auto; font-size: 40px; color:#fff; width: auto; left: 6px; right: 6px; padding: 10px 0; }
.page-transition-slider.v5b .tool-bar .cb-close .back-text {bottom: -20px; left: 24px; }
.page-transition-slider.v5b .tool-bar .cb-close .close-icon:hover {background:#303a40; }

.page-transition-slider.v5c .tool-bar { background-color: #26323B; }
.page-transition-slider.v5c .tool-bar .cb-close { position: relative; height: 320px; padding-top: 60px; }
.page-transition-slider.v5c .tool-bar .cb-close .close-icon {border-top: 1px solid transparent; top: 10px; bottom: auto; font-size: 40px; color:#1E2A32; width: auto; left: 6px; right: 6px; padding: 10px 0; }
.page-transition-slider.v5c .tool-bar .cb-close .back-text {bottom: -20px; left: 24px; }
.page-transition-slider.v5c .tool-bar .cb-close .close-icon:hover {background:#e8e9ea; color:#1E2A32;}

.page-transition-slider .content-wrapper{
	
}