﻿/*
 ColorBox Core Style:
 The following CSS is consistent between example themes and should not be altered.
 */
#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	overflow: hidden;
}
#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}
#cboxContent {
	position: relative;
}
#cboxLoadedContent {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#cboxTitle {
	margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}
.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
	max-width: none;
}
.cboxIframe {
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
}
#colorbox, #cboxContent, #cboxLoadedContent, .searchBox {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

/*
 User Style:
 Change the following styles to modify the appearance of ColorBox.  They are
 ordered & tabbed in a way that represents the nesting of the generated HTML.
 */
#cboxOverlay {
	/* background: #000; */
}
#colorbox {
	outline: 0;
}
#cboxContent {
	margin-top: 32px;
	overflow: visible;
	/*background: #dedede;*/
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
}
.cboxIframe {
	background: #000;
}
#cboxError {
	color: #E50000;
	padding: 50px;
	border: 1px solid #ccc;
}

#cboxLoadedContent {
	background: #1E2A32; background: rgba(30, 42, 50, 0.96);;
	padding: 10px 10px 50px 10px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
}
.noCbBorder #cboxLoadedContent {
	background: 0;
	padding: 0;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#cboxLoadingGraphic {
	background: url('loading.gif') no-repeat center center;
}
#cboxLoadingOverlay {
	background: #000;
}
#cboxTitle {
	top: 6px;
	left: 12px;
	font-weight: bold;
	position: absolute;
	font-size:15px;
	color:#838489;
	padding:6px 0 2px 0;
}
#cboxCurrent {
	position: absolute;
	top: -22px;
	right: 205px;
	text-indent: -9999px;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	width: 40px;
	height: 40px;
	position: absolute;
	background: url("interface-sprite01.png") no-repeat;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	text-indent: -9999px;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
	outline: 0;
}

#cboxPrevious {
	right: 734px;
	top: 160px;
	background-position: 0 -50px;
}
#cboxPrevious:hover {
	background-position: -50px -50px;
}
#cboxNext {
	right: 18px;
	top: 160px;
	background-position: 0 -100px;
}
#cboxNext:hover {
	background-position: -50px -100px;
}
#cboxClose {
	right: 12px;
	bottom: 12px;
	width: auto;
	height: auto;
	text-indent: 0;
}
#cboxClose a { color: #fff; text-decoration: none; font-size: 12px; }
#cboxClose:hover a span { color: #E50000; }
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
	right: 66px;
}
.cboxSlideshow_on #cboxSlideshow {
	background-position: -75px -25px;
	right: 44px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
	background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
	background-position: -100px 0px;
	right: 44px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
	background-position: -75px -25px;
}

.noCbBorder button, .noCbBorder #cboxClose, .noCbBorder #cboxTitle{
	display: none;
}