
/* ==========================================================================
   Feature items
   ========================================================================== */     

.filterable-content {}
.fc-group{
	width: 100%;
	margin: 20px auto 0 auto;
	transition:opacity 0.5s;
	.viewmore &{
		display: none;
		opacity: 0;
	}
	@media only screen and (max-width:(740/16)*1em){
		width: 80%;
	}
	@media only screen and (max-width:(500/16)*1em){
		width: 100%;
	}
	@media only screen and (max-width:(380/16)*1em){
		width: 80%;
	}
	@media only screen and (max-width:(320/16)*1em){
		width: 100%;
	}
}
.fc-group-container-wrapper{
	height: 500px;
	//overflow-y: hidden;
	width:100%;
	.fc-group-container{
		margin-top: 1em;
	}
}
.uiBtn.greyBtn.showMore.hidden{
	display: none;
}
.showMoreGroup{
	padding-top: 1em;
	margin-top: 1em;
}
.filterable-content .item { 
	position: relative;
	display: block;
	float: left;	
	vertical-align: top;
	margin-bottom: 20px;
	img{
		display: block;
		width: 100%;
		height: auto;
	}
	.wrap{
		padding: 0 5px 0 0;
	}
	
	&.offer-spotlight{
		width:auto;
	}
}
.otherfeatures .item{
	width: 25%;
	@media only screen and (max-width:(740/16)*1em){
		width: 50%;
	}
	@media only screen and (max-width:(380/16)*1em){
		width: 100%;
	}
}
.filterable-content .item .title2 { margin: 8px 0 2px 0; }
.filterable-content .item img { border-radius: 2px; }
.filterable-content .item .share-tools { margin-top: 9px; }

.filterable-content .item .cb-link-container { position: relative; cursor: pointer; }
.filterable-content .item .cb-link-container i { position: absolute; top: 50%; left: 50%; margin: -23px 0 0 -25px;   color: #fff; border-radius: 3px;font-size: 24px;color: #fff;background: #3B3B3B; background: rgba(0, 0, 0, 0.66); }
.filterable-content .item .cb-link-container .icon-play {   padding: 6px 14px 6px 16px;}


/* ==========================================================================
   Colourbox layer
   ========================================================================== */    
.feature-cbv { color: #fff; }
.feature-cbv .title2 { color: #fff; margin-top: 10px; }
.feature-cbv .body-content { padding-top: 10px; }
.feature-cbv .body-content,
.feature-cbv .body-content p { color: #fff; clear: both; font-size: 13px; }
.feature-cbv .share-tools { margin-top: 10px; }


/* ==========================================================================
   Filter bar
   ========================================================================== */     

.container_12 .filter-bar { 
	text-align: center; 
	margin-bottom: 30px; 
	border-bottom: 1px solid #e3e4e5; 
	@media only screen and (max-width:($mobile-small/16)*1em){
		padding: 0; 
	}
}
.filter-bar .fb-inner { 
	padding: 0 ; 
	display: table; 
	margin: auto; 
	margin-bottom: -28px;
	background-color: #fff;
}
.filter-bar .fb-list { list-style-type: none; margin: 0 6px; }
.filter-bar .fb-group { display: inline-block; }
.filter-bar .fbg-item { margin: 0 6px; float:left; }
.filter-bar .fb-list li { float: left; }

.filter-bar .fb-list { 
	border: 1px solid #e3e4e5; 
	border-radius: 2px; 
	background: #fff;
}
.filter-bar  .uiBtn { 
	border-radius: 2px; 
	box-shadow: none; 
	border-right: 1px solid #e3e4e5; 
	border-left: 1px solid #fff; 
	display: block; 
	padding: 0 16px;
	line-height: 46px;
	font-size: 15px;
	margin-bottom: 0;
	@media only screen and (max-width:($mobile-large/16)*1em){
		padding: 0 10px;
		font-size: 13px; 
	}
	@media only screen and (max-width:($mobile-large/16)*1em){
		padding: 0 7px;
		font-size: 11px; 
	}
	@media only screen and (max-width:($mobile-medium/16)*1em){
		padding: 0 4px;
		font-size: 11px; 
	}
}
.filter-bar .fb-list li:first-child .uiBtn { border-left: 0;}
.filter-bar .fb-list li:last-child .uiBtn { border-right: 0;}
.filter-bar .fb-list .uiBtn.active,
.filter-bar .fb-list  a.uiBtn:active {  
	box-shadow: inset 0 0 4px rgba(30,42,50,0.3); 
}

.fc-group-container { 
	position: relative; 
	clear:left;
	margin-top: 100px;
	transition: height 1s;
}
.fc-group-container .fc-group {   margin-top: 20px; /* overflow: hidden; */
								 -webkit-transition: opacity ease-in-out 1s;
								 -moz-transition: opacity ease-in-out 1s;
								 -ms-transition: opacity ease-in-out 1s;
								 -o-transition: opacity ease-in-out 1s;
								 transition: opacity ease-in-out 1s;}
.fc-group-container .fc-group .fc-group-content {  margin: 20px auto 0 auto;  }

.fc-group-container.viewmore{
	height: auto;
	//overflow-y:hidden;
	transition: height 0.6s;
}