
.cl-loadeffect { position: relative !important; }
.cl-updateProgressBackground { position: absolute !important; top: 0; left: 0; z-index: 997 !important; background-color: #F7F7F7; }
.cl-updateProgressLoader { position: absolute !important; text-align: center; margin-left: -20px; left: 50%; margin-top: -20px; top: 50%; z-index: 998;}
.cl-updateProgressLoader.withcontent { width: 375px; margin-left: -187px; height: 120px;  margin-top: -40px;  }
.cl-updateProgressLoader .iconContainer .iconSprite,
.cl-updateProgressLoader .iconContainer .iconSprite.loader-light { width: 40px; height: 40px; background: url(../images/loadingOverlay/loader_dark.png) no-repeat 0 0;}
.cl-updateProgressLoader .iconContainer .iconSprite.loader-white-bg { background-image: url(../images/loadingOverlay/loader_w_bg.png); }
.cl-updateProgressLoader .iconContainer .iconSprite.loader-dark { background-image: url(../images/loadingOverlay/loader_dark.png); }
.cl-updateProgressLoader .iconContainer .iconSprite.loader-dark-bg { background-image: url(../images/loadingOverlay/loader_w_dark_bg.png); }
.c-l-darktheme .cl-updateProgressBackground { background-color: #222222; }