﻿
/* ==========================================================================
   Read more
   ========================================================================== */     
   
.read-more-container { 
	position: relative; float:left; 
	
}
.read-more-container .readmore-content {
	position: absolute; left: 0; font-size: 13px; opacity: 0;
	-webkit-transition: opacity ease-in-out 0.66s;
	-moz-transition: opacity ease-in-out 0.66s;
	-ms-transition: opacity ease-in-out 0.66s;
	-o-transition: opacity ease-in-out 0.66s;
	transition: opacity ease-in-out 0.66s;
	a{
		color:00a0f0;
	}
	*{
		margin-left: 0;
		margin-right: 0;
	}
}
.read-more-container .readmore-content .closelink { color: #fff; position: absolute; top: 10px; right: 10px; }
.read-more-container .readmore-content .rmc-inner {  
	padding: 35px 10px 10px 10px; 
	position: relative; 
	background: #1E2A32; 
	background: rgba(30, 42, 50, 0.96); 
	color: #fff; 
	box-shadow: 2px 3px 8px #1E2A32; 
	border-radius: 2px; 
	p{
		color: #fff; 
	}
}
.read-more-container .readmore-content .title { font-size: 13px; font-family: toyotatext_bd;}
.read-more-container .readmore-content .poiner { position: absolute; margin-left: 20px; }


.read-more-container .readmore-content .arrow {width: 0; height: 0; display: block;}
.read-more-container .readmore-content .arrow.up { border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #1E2A32; border-bottom: 10px solid rgba(30, 42, 50, 0.96);}
.read-more-container .readmore-content .arrow.down { border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #1E2A32; border-top: 10px solid rgba(30, 42, 50, 0.96);}

.read-more-container .readMore { color: #6c7073; font-size: 13px; }
.read-more-container .readMore i { color: #1E2A32; }

.read-more-container .readMore,
.read-more-container .closelink { text-decoration: none; }

.read-more-container .readMore:hover span,
.read-more-container .closelink:hover span { color: #e50000; text-decoration: underline; }
.read-more-container .readMore.active span { color: #e50000; }