﻿/* ==========================================================================
   Secondary Content Gallery
   ========================================================================== */

.page-transition-slider .fs-gallery { height: 100%; position: relative; background-color: #1E2A32; }
.page-transition-slider .fs-gallery .fs-gallery-in { height: 100%; position: absolute; left: 0; top: 0;
													 -moz-transition: transform 0.66s ease;  /* FF4+ */
													 -o-transition: transform 0.66s ease;   /* Opera 10.5+ */
													 -webkit-transition: -webkit-transform 0.66s ease;  /* Saf3.2+, Chrome */
													 -ms-transition: -ms-transition 0.66s ease;   /* IE10 */
													 transition: transform 0.66s ease; 
}
.page-transition-slider .fs-gallery .fs-item { height: 100%; float:left; overflow: hidden; }
.page-transition-slider .fs-gallery .fs-item .fs-gal-image {opacity: 0; transition: opacity 1s ease; }
.page-transition-slider .fs-gallery .carousel-arrow { border-radius: 25px; width: 45px; height: 45px; text-decoration:none; z-index: 5; transition: position 0.33s linear; display: inline-block; background-color: #495258; background-color: rgba(73, 82, 88, 0.75); color: #fff; font-size: 36px; line-height: 36px; position: absolute; text-align: center; vertical-align:middle; }
.page-transition-slider .fs-gallery .carousel-arrow.left { bottom: 20px; left: 20px; padding: 5px 5px 0 0; }
.page-transition-slider .fs-gallery .carousel-arrow.right { bottom: 20px; right: 20px; padding: 5px 0 0 5px;  }
.page-transition-slider .fs-gallery .carousel-arrow:hover {background-color: rgba(73, 82, 88, 0.7); }
.page-transition-slider .fs-gallery .carousel-arrow:active {background-color: rgba(73, 82, 88, 0.9); }
.page-transition-slider .fs-gallery .carousel-arrow.disabled { opacity: 0.33; cursor: default; }
.no-opacity .page-transition-slider .fs-gallery .carousel-arrow.disabled { background-color: #A3A3A3; color: #D4D4D4; }
.lt-ie8 .page-transition-slider .fs-gallery .carousel-arrow { display: none; }

.page-transition-slider .fs-gallery .carousel-nav { 
	position: absolute; bottom: 28px; list-style-type: none; left: 0; text-align: center; width: 100%; z-index: 5;  margin: 0; padding: 0; border: 0; 
	@media only screen and (max-width:540px){
		display:none;
	}
}
.page-transition-slider .fs-gallery .carousel-nav li { display: inline; display: inline-block; text-align: center; margin: 0 5px; width: 8px; }
.page-transition-slider .fs-gallery .carousel-nav li a {width: 8px; height: 8px; display: block; background: url(../images/CarouselNav.png) no-repeat -17px 0px; }
.page-transition-slider .fs-gallery .carousel-nav li.active a { background-position: 0 0; }
.lt-ie8 .page-transition-slider .fs-gallery .carousel-nav { display: none; }