/* ==========================================================================
   Spotlight container
   ========================================================================== */     

.spotlight-container { background-color: #1C2830; color: #fff; min-height: 340px; clear:left; }
.spotlight-container a { color: #fff; }
.spotlight-container .title-area { margin: 50px 0 20px 0; }
.spotlight-container .center-text { text-align: center; }
.spotlight-container .read-more-trigger { font-size: 19px; color: #fff; }
.spotlight-container .spotlight-wrapper { 
	margin: 10px 0 20px 0; position: relative; 
}
.spotlight-container .spotlight p { color: #fff; }
.spotlight-container a.spotlight:hover { color: #fff; }
.spotlight-container a.spotlight:active { }
.spotlight-container img { margin-bottom: 10px; }
.spotlight-container .heading1 { font-size: 44px; color: #fff; }
.spotlight-container .small-promo { margin-top: 20px; }
.spotlight-container .slide-end { height: 10px; width: 100%; position: absolute; bottom: 0; 
								  background: linear-gradient(to bottom, rgba(28,40,48,0) 0%,rgba(28,40,48,0.99) 100%, rgba(0,0,0,0) 100%);
}
.spotlight-container {
	.heading1 , .heading2, .heading3{
		color: #fff;
	}
	.title-area .heading1{
		margin-bottom: 0.5em;
	}
}
.spotlight-container .row_wrapper{
	margin: 0 auto;
	text-align: center;
}

.more_about_item{
	float: left;
	width: 25%;
	padding:0;
	a{
		display: block;
		padding: 0 10px;
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		padding-left: 0;
		padding-right: 0;
		width: 50%;
		float: left;
	}
	@media only screen and (max-width:((620 - 1)/16)*1em){
		padding-left: 0;
		padding-right:0;
		width: 100%;
	}
}




.grid_row { float: left; display: block; width:100%; text-align: left; }

/* ==========================================================================
   Slide up on view styles
   ========================================================================== */    

.slide-up-container.active { position: relative; overflow: hidden; }
.slide-up-container.active .slide-up-element { position: absolute; top: 0; left: 0; }


/* Colours */
.spotlight-container-hybrid {background: #00a0f0; }
.spotlight-container-hybrid .slide-end {
	background: linear-gradient(to bottom, rgba(0,160,240,0) 0%,rgba(0,160,240,0.99) 100%); 
}
.spotlight-container-awd {background: #6c7073; }
.spotlight-container-awd .slide-end {background: linear-gradient(to bottom, rgba(108,112,115,0) 0%,rgba(108,112,115,0.99) 100%); }


.spotlight-container.spotlight-container-grey {
	background: #E8E9EA; 
	color: #000;
	h2 , h2 , h3 , .heading1 , .heading2 , .heading3 {
		color: #222;
		&:hover{
			color: #222;
		}
	}
	p , a{
		color: #555;
		transition: color 0.3s;
		&:hover{
			color: #333;
		}
	}
}
.spotlight-container-grey .slide-end {
	background: linear-gradient(to bottom, rgba(232,232,234,0) 0%,rgba(232,232,234,0.99) 100%); 
}