	/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Aug-2014, 21:00:10
    Author     : marlon.jerez
*/


.offer-spotlight{
	&.item{
		width: 100%;
	}
	&.item{
		margin-bottom:2em;
	}
	h3 , .header1{
		font-family: "toyotatext_bd";
		vertical-align: bottom;
		line-height: 25px;
		margin-bottom: 0.4em;	
		padding-bottom: 0;
	}
	.uiBtn{	
		box-shadow: none !important;
		font-size: 11px;
		line-height: 25px;
		padding: 0 4px;
		margin-right: 0.5em;
		vertical-align: center;
		&.news{
			background: #d1001e;
		}
		&.event{
			background:#00a0f0;
			margin-bottom: 0;
		}
	}
	.startprice{
		box-sizing: border-box;
		display: block;
		float: right;
		background-color: #242A32;
		color: #fff;
		font-size: 13px;
		font-size: 13 / 16 * 1rem;
		max-width: 50%;
		font-weight: lighter;
		line-height: 1.2em;
		font-family: "toyotatext_rg",Sans-Serif;
		padding: 10px;
		margin-left: 10px;
		margin-bottom: 0.8rem;
		@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
			width: 100%;
			float: none;
			max-width: none;
			margin-left: 0;
			text-align: right;
			font-size: 15px;
			font-size: 15 / 16 * 1rem;
			padding: 10px;
			position: relative;
			top:-9px;
			margin-bottom: 0px;
			&:last-child{
				margin-bottom: 0.8rem;
			}
		}
	}
	.imgContainer{
		display: block;
		img{
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
		}

	}
	.promotion_subtitle{
		h3{
			font-size: 2.1rem;
			font-size: 18 / 16 * 1rem;
			font-family: "toyotatext_rg",Sans-Serif;
			font-weight: normal;
		}
	}
	.promotion_intro{
		font-size: 13px;
		font-size: 13 / 16 * 1rem;
		color:#6c7073;
		br{
			display: block;
			height: 2px;
			line-height: 0;
			content: "";
		}
	}
}
.toyota-group .news {
	.uiBtn{	
		&.news{
			background: #1C2834;
		}
		&.event{
			background:#007080;
		}
	}
}

.fc-content{
	transition:  all 0.5s;
}
#return_top{
	display: none;
}

.remote-news , .remote-section {
	.heading1{
		@media only screen and (min-width:(($desktop-medium - 1)/16)*1em){
			line-height: 70px;
			font-size: 66px;
		}
	}
}

.news-sibtitle{
	display: block;
	padding-bottom: 0.6em;
	padding-top: 1.2em;
}

.remote-news-section{
	li{
		margin-top: 0;
	}
}

/* ########################################################
	adaptation to mockups
########################################################  */

.grid_3 {
	.offer-spotlight {
		h3{
			font-size: 18px;
			@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
				font-size: 23px;
			}
			@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
				font-size: 18px;
			}
		}
	}

	.offer-spotlight .uiBtn{	
		position : absolute;
		border-radius: 0;
		top:0;
		box-shadow: 1px 1px 2px #666;
		@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
			font-size: 13px;
			padding: 5px 10px;
		}
	}
}
.grid_6 {
	.offer-spotlight {
		h3{

			font-size: 22px;
			@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
				font-size: 18px;
			}
		}
	}
	.offer-spotlight .uiBtn{
		position : absolute;
		border-radius: 0;
		top:0;
		box-shadow: 1px 1px 2px #666;
		@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
			font-size: 13px;
			padding: 5px 10px;
		}
	}
}

