/* ==========================================================================
   OFFER SPOTLIGHT
   ========================================================================== */
.offer-spotlight { margin: 0 0 50px 0px; }
.offer-spotlight .header1 { line-height: 22px; color: #364147; font-family: toyotatext_bd; margin-bottom: 10px; }
.offer-spotlight .header1 .icon-tag {color: #ef9109; position: relative; top: 6px; margin-left: 5px; }
.offer-spotlight .header1 .text { position: relative; top: 4px; line-height: 25px;
		&:hover { text-decoration: underline; };
	}
.offer-spotlight img {margin-bottom: 10px; border-radius: 2px}
.offer-spotlight .cta-link {color: #354046; font-size: 19px; line-height: 22px; font-family: toyotatext_bd; text-decoration: none }
.offer-spotlight {
	a{
		&:hover{
			text-decoration: none;
		}
	}
	.promotion_subtitle, h3 , .heading1 , .summary , p{
		&:hover{
			text-decoration: none;
		}
	}
	.read-more-container .readMore:hover span{
		color: #ef9109;
		text-decoration: none;
	}
	.read-more-container .readMore.active span{
		color: #1E2A2F;
		text-decoration: underline;
	}
	ul{
		list-style: none;
		font-weight: bold;
	}
	.cta-link{
		&:hover{
			text-decoration: underline;
			
		}
		.icon{
				text-decoration: none !important;
		}
	}
}

.offer-spotlight .subtitle { margin-bottom: 0.3em; }
.offer-spotlight p,
.offer-spotlight .cta-link .icon-chevron-right {font-size: 15px; padding-bottom:0.4em}
.offer-spotlight p {color: #1e2a32; font-size: 15px; line-height: 20px; }
.offer-spotlight .offer-text {color: #333;}
.offer-spotlight .offer-text strong {font-family: toyotatext_bd; font-size: 15px; color: #333; }
.offer-spotlight .terms , .offer-spotlight .readMore span{font-size: 13px; color: #ef9109;}
.js .offer-spotlight .terms + .full-terms {display: none}


@media only screen and (min-width:0em){
	.offer-spotlight img { width:100%; display: block; }
}

@media only screen and (min-width:(($mobile-large)/16)*1em){
	
}