.bg-par .background-layer, .parallax-layer {
	width: 100%;
	background-color: transparent;
	height: 600px;
	background-size: cover;
	background-position: center;
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		height: 500px; 
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		height: 400px; 
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		background-size: cover;
		height: 300px;  
	}
	@media only screen and (max-width:(($mobile-medium  - 1)/16)*1em){
		height: 200px;  
	}
	@media only screen and (max-width:(($mobile-small  - 1)/16)*1em){
		height: 160px;  
	}
}

.footer-paralax .bg-par  .background-layer{
	//height: 700px;
}
.bg-par .bg-par-inner {
	padding: 50px 0 0 0;
	text-align: center;
	position: relative;
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		.icon, i {
			display: none;
		}
	}
	&.mainfocus{
		padding: 100px 0 0 0;
		.heading1{
			font-size: 44px;
		}
		.heading2{
			font-size: 32px;
		}
		@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
			padding: 50px 0 0 0;
			.heading1{
				font-size: 44px;
			}
			.heading2{
				font-size: 32px;
			}
		}
		@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
			padding: 20px 0 0 0;
		}
	}
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		padding: 40px 0 0 0;
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		padding: 30px 0 0 0;
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		padding: 20px 0 0 0; 
	}
	@media only screen and (max-width:(($mobile-medium  - 1)/16)*1em){
		padding: 10px 0 0 0; 
		.heading1{
			font-size: 24px;
			line-height: 24px;
		}
		.heading2{
			font-size: 20px;
			line-height: 20px;
		}
	}
	@media only screen and (max-width:(($mobile-small  - 1)/16)*1em){
		padding: 0 0 0 0;
		.heading1{
			font-size: 20px;
			font-size: 20px;
		}
		.heading2{
			font-size: 16px;
			font-size: 16px;
		}
	}
}

.bg-par .bg-par-inner a {
	text-decoration: none;
}

.bg-par .bg-par-inner .heading1 {
	margin: 0 10px 15px;
	color: #fff;
	text-shadow: 0 1px rgba(2,3,3,.2);
	&.parallax-dark{
		color: #1e2a32;
	}
}

.bg-par .bg-par-inner .heading2 {
	margin: 0 10px;
	color: #fff;
	text-shadow: 0 1px rgba(2,3,3,.2);
	margin-bottom: 65px;
	&.parallax-dark{
		color: #1e2a32;
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		margin-bottom: 0;
	}
}

