
/* ==========================================================================
   Drop down menu styles
   ========================================================================== */

.nav-content-area { z-index: 5; background-color: #27323a; opacity:0; transition: height 0.66s ease-out; -webkit-transition: height 0.66s ease-out; height: 0; overflow: hidden; position: relative; transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); }
.nav-content-area.loading { height: 120px; }

.nav-content { padding: 50px 0 80px 0; background-color: #27323a; clear:left; color: #BDBFC0; }
.nav-content .disclaimer { 
	margin-top: 30px; 
	@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
		padding-left:1em;
	}
}
.special-offer { color: #ef9109; text-decoration: none; }
.nav-content .disclaimer a:hover { text-decoration: underline; }

.nav-content .model-list { float: left; list-style-type: none; transition: margin 0.33s linear; margin-bottom: 30px; }
.nav-content .model-list li{ float: left; border-bottom: 1px solid #2B373E; height: 119px;overflow: hidden; min-width:170px}

.nav-content .model-list .alpha { clear:left; }
.nav-content .model-item .model-name { color: #bdbfc0; }
.nav-content .model-item .model-name strong  { color: #fff; }

.nav-content .link-list { float:left; font-size: 15px; color: #bdbfc0; }
.nav-content .link-list a { color: #bdbfc0; text-decoration: none; }
.nav-content .link-list { list-style: none; }
.nav-content .link-list ul { list-style: none; }
.nav-content .link-list li { margin: 0 0 10px 0; font-family: toyotatext_bd; font-size: 17px;}
.nav-content .link-list li .title { margin-bottom: 8px; display: block; }
.nav-content .link-list li .padding { padding: 10px; }
.nav-content .link-list li li { margin: 0 0 10px; padding:0; font-family: toyotatext_rg; font-size: 15px; background-color: transparent;}
.nav-content .link-list .red-title { color: #d2001e; }
.nav-content .link-list .blue-title { color: #00a0f0; }
.nav-content .link-list .orange-title { color: #ef9109; }
.nav-content .link-list .green-title { color: #009b3c; }

.nav-content .link-list li.menu-link-block { background-color: #27333B;  background-color: rgba(30,42,50,1); border-radius: 2px;  transition: background-color 0.25s ease-out; }
.nav-content .link-list li.menu-link-block:hover { background-color: #1D252B; background-color: rgba(0,0,0,0.25);}
.nav-content .link-list li.menu-link-block a { color: #fff; }
.nav-content .link-list li.menu-link-block li:hover { background-color: transparent;}
.nav-content .link-list li.menu-link-block li a { color: #bdbfc0;}
.nav-content .link-list li.menu-link-block a:hover { color: #fff; }
.nav-content .link-list li.menu-link-block li ul { padding-left: 10px;}

.nav-content .link-list li.cta-nav-block { border-radius: 2px; background-color: #E50000;
										   -webkit-box-shadow: inset 0 0 1px rgba(30,42,50,.4);
										   -moz-box-shadow: inset 0 0 1px rgba(30,42,50,.4);
										   box-shadow: inset 0 0 1px rgba(30,42,50,.4);
										   background-image: -webkit-linear-gradient(bottom, #a60303, #e50000);
										   background-image: -moz-linear-gradient(bottom, #a60303, #e50000);
										   background-image: -o-linear-gradient(bottom, #a60303, #e50000);
										   background-image: linear-gradient(to top, #a60303, #e50000);
}

.nav-content .link-list li.cta-nav-block li { margin: 0 0 10px; padding: 0; }
.nav-content .link-list li.cta-nav-block a { color: #fff; font-family: toyotatext_bd; padding: 0; }
.nav-content .link-list li.cta-nav-block a:hover span { text-decoration: underline; }
.nav-content .link-list li.cta-nav-block a i { font-size: 13px; }


/* ==========================================================================
   Generic model item styles
   ========================================================================== */

.model-list li { transition: background-color 0.25s ease-out; }
.model-list li:hover { background-color: #1D252B; background-color: rgba(0,0,0,0.25);}

.model-list .model-item { position: relative; padding: 10px; border-radius: 2px; float:left; font-family: toyotatext_rg; font-size: 13px; line-height: 17px; text-decoration: none; }
.model-list .model-item .model-name { margin-top: -26px; display: block; opacity: 0.8; transition: opacity 0.25s ease-out;  }
.model-list .model-item:hover .model-name { opacity: 1; }
.model-list .model-item .model-name strong { font-size: 15px; display: block; white-space: nowrap}

.model-list .model-item .model-decoration { position: absolute; left: 10px; top:50px; font-family: toyotatext_rg; font-size: 12px; opacity: 0.9; }
.model-list .model-item .model-decoration.hybrid { background: #00a0f0; color: #fff; padding: 2px 4px; border-radius: 2px; }
.model-list .model-item .model-decoration.offer { top: 35px; }
.model-list .model-item .model-decoration.offer .text { display: inline-block; background: #ef9109;  color: #fff;  padding: 2px 4px; border-radius: 2px; }
.model-list .model-item .model-decoration.offer .icon { display: inline-block; font-size: 23px;  color: #ef9109; vertical-align: bottom; margin-left: 2px; }

.nav-content .link-list {
	.social-buttons { padding:0;
	}
}

.nav-content .link-list li.cta-nav-block {
	.search-slide { 
		z-index: 4; 
		overflow: hidden; 
		border: none; 
		position: relative;
		.search { 
			margin:0; 
			border-radius: 4px; 
			background-color: #525b61; 
			color: #fff; 
			font-size: 15px; 
			padding: 13px 4% 14px 4%; 
			width: 100%; 
			border: 0;  
			font-family: toyotatext_rg; 
		}
		a { background: none; padding: 0; margin: 0; border: none; color: #fff; }
		.icon-search { position: absolute; color: #fff; font-size: 26px; width: 35px; right: 0; top: 0.25em; }
	}
}

@media only screen and (max-width:(($mobile-large - 1)/16)*1em){
	.nav-content { padding-top:15px;
				   .model-list { display: none !important; }
	}

	.nav-content { padding-top:20px;
				   .link-list li {
					   .padding { padding: 0; }
					   .title { display: none; }

					   &.menu-link-block { background: transparent;
										   li { font-family: toyotatext_rg; font-size: 1em; padding: 0em; margin:0; border-top: 1px solid #354046; border-bottom: 1px solid #000; float: none;
												a { color: #fff; padding: 0.8em; display: block; }
										   }
										   &:hover { background: transparent; }
					   }

					   &.cta-nav-block { background:transparent;
										 li { margin-bottom: 0.6em; }
										 a { font-family: toyotatext_rg; color: #fff; background: #d1001e; background-image: linear-gradient(to top, #73000d, #d1001e); display: block; text-decoration: none;  font-size: 15px; padding: 11px 14px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,.15), inset 0 0 1px rgba(30,42,50,.5);
											 &:hover { text-decoration: underline;}
											 &:active { background: #73000d; text-decoration: underline; box-shadow:0 1px 1px #fff, inset 0 0 8px rgba(30,42,50,.6);}

											 i { float: right; margin-top: 2px; }
										 }
					   }
				   }
	}
}

// home models component
.modelsHome .models_grid{
	width: 20%;
	margin: 0;
	height: 125px;
	overflow: hidden;
	border-bottom:none;
	text-align: left;
	float:left;
	.model-item{
		float: none;
		display: block; 
		max-width: 150px;
		margin: 0 auto;
		border-radius: 2px;
		transition: background-color 1s;
		&:hover{
			background: #f0f0f0;
		}
	}
	
	@media only screen and (max-width:((860 - 1)/16)*1em){
		width: 25%;
	}
	@media only screen and (max-width:((720 - 1)/16)*1em){
		width: 33%;
	}
	@media only screen and (max-width:((500 - 1)/16)*1em){
		width: 50%;
	}
	@media only screen and (max-width:((340 - 1)/16)*1em){
		width: 100%;
	}
	@media only screen and (min-width:((1200 - 1)/16)*1em){
		width: 16.667%;
	}
	
}

