/* ==========================================================================
   Primary navigation
   ========================================================================== */

.outer-wrapper { width: 100%; position: relative; padding-top: 70px; } 
.outer-wrapper.no-navigation { padding-top: 0; }
.outer-wrapper .master-wrapper.fixed-header { margin-top: -70px; } 
.outer-wrapper .master-wrapper .header-container.fx-header { margin-top: -70px; }
.outer-wrapper .master-wrapper.fixed-header .header-container.fx-header { margin-top: 0;  }

.primary-nav { height: 70px; overflow: visible; z-index: 6; position: absolute; top: -70px; margin-top: 70px; width: 100%;
			   background-color: #fff;
			   -webkit-box-shadow: 0 2px 2px rgba(2,2,2,.15); 
			   -moz-box-shadow: 0 2px 2px rgba(2,2,2,.15); 
			   box-shadow: 0 2px 2px rgba(2,2,2,.15);
}
.no-boxshadow .primary-nav { border-bottom: 1px solid #e9eaea; }
.primary-nav .primary-nav-outer
{
    z-index: 10;
    position: relative;
    height: 70px; 
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#eff0f1,endColorstr=#ffffff)";
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#eff0f1,endColorstr=#ffffff);
    background-image: -webkit-linear-gradient(bottom, #fff, #eff0f1);
    background-image: linear-gradient(to top, #fff, #eff0f1);
}

.primary-nav .logo-link { 
	float: right; display: block;  right: 15px; z-index: 7; position: absolute;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4); 
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.4); 
    box-shadow: 0 0 5px rgba(0,0,0,.4); 
}
.primary-nav .logo-container { position: absolute; top: 0 ; right: 0;}
.primary-nav .logo-link .small-logo { display: none; background: url(../images/logo_sm.png) no-repeat 0 0; width: 73px; height: 70px; }
.primary-nav .logo-container .large-nav { right: 95px; position: relative; float: right; }

.nav-links-container { display: table; margin: 0 5px; width: 857px; overflow: hidden; }
.nav-links-container .large-nav,
.nav-links-container .breadcrumb { display: table-cell; }

.primary-nav.reveal { position:fixed; transition: top 0.33s ease-out; margin-top: 0; top: 0; }
.secondary-nav.reveal { position:fixed; transition: top 0.33s ease-out; margin-top: 0; top: 0; }
.csstransforms3d .primary-nav.reveal { top: -70px; transition: transform 0.33s ease-out; transform: translate3d(0px, 70px, 0px); -webkit-transition: -webkit-transform 0.33s ease-out;  -webkit-transform: translate3d(0px, 70px, 0px); }
.csstransforms3d .secondary-nav.reveal { 
	top: 0px; transition: transform 0.33s ease-out; transform: translate3d(0px, 70px, 0px); -webkit-transition: -webkit-transform 0.33s ease-out;  -webkit-transform: translate3d(0px, 70px, 0px); 
}

.primary-nav.noFixed { position:absolute; top: -70px; margin-top: 70px; transition: none; -webkit-transition: none;}
.primary-nav.noFixed .primary-nav-outer { position: fixed; top: 0; left: 0; right: 0; z-index: 7;-webkit-transform: translateZ(0);  }
.primary-nav.noFixed .nav-content-area { padding-top: 70px; position: static;}
.csstransforms3d .primary-nav.noFixed { top: -70px;  transition: none; -webkit-transition: none; transform: none ;-webkit-transform: none;}

.primary-nav.forceFixed { position:fixed; transition: none; margin-top: 0; top: 0; }
.csstransforms3d .primary-nav.forceFixed { top: -70px; transition: none; transform: translate3d(0px, 70px, 0px); -webkit-transition: none;  -webkit-transform: translate3d(0px, 70px, 0px); }

.primary-nav.revealed .logo-link { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.primary-nav.revealed .logo-link img { display: none; }
.primary-nav.revealed .logo-link .small-logo { display: block; }

.secondary-nav.revealed{z-index:6;}

.primary-nav-outer .container_12 { position: relative; }
.primary-nav-outer ul { list-style-type: none; height: 70px; }
.primary-nav-outer .dropdownnav { float: left; font-size:15px}
i {}

.primary-nav-outer ul.right-align { float: right; }
.primary-nav-outer .large-nav li { float: left; height: 70px;background-color: rgba(255,255,255,0); transition: width 0.66s ease; border-right: 1px solid #fff;  }
.primary-nav-outer .large-nav.dropdownnav li .link { font-family: toyotatext_bd; }
.primary-nav-outer .large-nav li:first-child { border-left: 1px solid #EFF0F1; }
.primary-nav-outer .large-nav li:hover,
.primary-nav-outer .large-nav li.active a{ background-color: #27323a; color: #fff !important;  }
.primary-nav-outer .large-nav li:first-child a { border-left: 1px solid #fff; }
.primary-nav-outer .large-nav li a { float: left; border-right: 1px solid #EFF0F1; transition: color 0.66s ease;  padding: 24px 19px 24px; text-decoration: none; }
.primary-nav-outer .large-nav li:hover a,
.primary-nav-outer .large-nav li.active a { color: #fff; }
.primary-nav-outer .large-nav li.active a:hover { color: #fff; }
.primary-nav-outer .large-nav li a:hover .link { }
.primary-nav-outer .large-nav li.active a:hover .link { color: #fff; }

.primary-nav-outer .large-nav .search-container { width: 0; overflow: visible; float: left; margin-left: -1px;}
.primary-nav-outer .large-nav li.search-slide { transition: width 0.66s ease; z-index: 4; background-color: #27323a; overflow: hidden; width: 0px; border: none; position: absolute; }
.primary-nav-outer .large-nav li.search-slide .search { margin: 10px 10px 0 10px; border-radius: 4px; background-color: #525b61; color: #fff; font-size: 15px; padding: 13px 50px 17px 15px; width: 350px; border: 0;  font-family: toyotatext_rg; }
.primary-nav-outer .large-nav li.search-slide .icon-search { position: absolute; left: 320px; top: 19px; color: #fff; font-size: 26px; width: 35px; }
.primary-nav-outer .large-nav.nav-open li.search-slide { width: 370px; }

.menu-open .primary-nav-outer .breadcrumb { opacity: 0; }
.primary-nav-outer .breadcrumb {  
	float: left; 
	opacity: 1; 
	padding-left: 15px; 
	font-size: 13px; 
	height: auto; 
	vertical-align: middle;
}
.primary-nav-outer .breadcrumb li  {  
	float: left; 
	color: #6c7073; 
	padding-right: 5px; 
	padding-top: 2.1em; 
}
.primary-nav-outer .breadcrumb li a { float: left;  text-decoration: none; }
.primary-nav-outer .breadcrumb li i { float: left; padding-left: 5px; }
.primary-nav-outer .breadcrumb li i.slash { display: inline; }
.primary-nav-outer .breadcrumb li.active span { float: left; font-family: toyotatext_bd; color: #1e2a32;}
.primary-nav-outer .breadcrumb li.active i { display: none; }
.primary-nav-outer .breadcrumb li.active i.slash { display: none; }
.primary-nav-outer .breadcrumb li.active i.sprite-menu-dark-arrow { transition: all 0.66s ease; position: absolute; bottom: 0; padding: 0; margin-left: -10px; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #1e2a32; border-bottom: 10px solid rgba(30,42,50,0.98); }

.secondary-nav, .dropdown-sub-menu { background-color: #1e2a32; top: 70px; z-index: 3; background-color: rgba(30,42,50,0.9); position: absolute; width: 100%; }
.menu-open .secondary-nav { top: 0; }
.secondary-nav .sec-nav-list { float: left; position: relative; margin: 0; padding:0; list-style: none; }
.secondary-nav .sec-nav-list li { float: left; position: relative; transition: background-color 0.66s ease; z-index: 2; }
.secondary-nav .sec-nav-list li.mask { 
	position: absolute; left: 0; top: 0; z-index: 1; opacity: 0; background-color: #4E585E; 

}
.secondary-nav .sec-nav-list li a { float: left; color:  #fff; padding: 19px 20px 20px 20px;  text-decoration: none; font-size: 15px; color: #fdfdfd; }
.secondary-nav .sec-nav-list li:hover,
.secondary-nav .sec-nav-list li.active { background-color: #4E585E; }
.secondary-nav .sec-nav-list li.more { position: relative; }
.secondary-nav .sec-nav-list li.more ul { display: none; position: absolute; right: 0; top: 60px; background-color: #1e2a32; background-color: rgba(30,42,50,0.98); }
.secondary-nav .sec-nav-list li.more i { padding-left: 5px; }
.secondary-nav .sec-nav-list li.more:hover ul { display: inline-block; }
.secondary-nav .sec-nav-list li.more ul li { display: inline-block; width: 100%; white-space: nowrap; }

@media only screen and (min-width:0em){
	.csstransforms3d .secondary-nav.reveal{
		top:-15px;
	}
    i { display: initial; }

    .outer-wrapper { padding-top: 56px;
					 .master-wrapper {
						 &.fixed-header { margin-top: -56px; }
						 .header-container.fx-header { margin-top: -56px; }
					 }
    }

    .primary-nav.noFixed { top: -56px; margin-top: 56px; }
    .primary-nav.noFixed .nav-content-area { padding-top: 56px;  }
    .csstransforms3d .primary-nav.noFixed { top: -56px; }

    .csstransforms3d .primary-nav.forceFixed { top: -56px; margin-top: 0px; ransform: translate3d(0px, 56px, 0px); -webkit-transform: translate3d(0px, 56px, 0px); }

    .primary-nav { height: 56px; top: -56px; margin-top: 56px;
				   .primary-nav-outer { height: 56px;
										ul { height: 56px; }
										.large-nav li { height: 56px;
														a { padding: 19px 20px 12px 15px; }
										}

										.breadcrumb li { padding-top: 1.6em;
														 &.active i.sprite-menu-dark-arrow { display: block; }
										}
				   }
				   .logo-link { right: 20px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
								img { display: none; }
								.small-logo { display: block; background: url(../images/logo_xs.png) no-repeat 0 0; width: 60px; height: 56px; }
				   }
    }

    .secondary-nav { top:56px; 
					 .sec-nav-list li {
						 a { padding: 12px 20px 13px 20px; }
						 &.more ul { top:46px; }
					 }
    }


}

@media only screen and (min-width:($mobile-medium/16)*1em){
    .primary-nav-outer .large-nav li.search-slide {  }
}

@media only screen and (min-width:($mobile-large/16)*1em){


    .primary-nav .primary-nav-outer {

        .large-nav li {
            a { padding: 18px 20px 16px 20px; }

            &.search-slide {
                .search { margin-top:9px; padding: 10px 50px 12px 15px; }
                .icon-search { left: 320px; top: 15px; }
            }
        }

        .logo-link { right: 40px; }
    }

    .secondary-nav { display: block;}
}

@media only screen and (min-width:($desktop-medium/16)*1em){
	.csstransforms3d .secondary-nav.reveal{
		top:0px;
	}
    .outer-wrapper { padding-top: 70px;
					 .master-wrapper {
						 &.fixed-header { margin-top: -70px; }
						 .header-container.fx-header { margin-top: -70px; }
					 }
    }

    .primary-nav.noFixed { top: -70px; margin-top: 70px; }
    .primary-nav.noFixed .nav-content-area { padding-top: 70px;  }
    .csstransforms3d .primary-nav.noFixed { top: -70px; }

    .csstransforms3d .primary-nav.forceFixed { top: -70px; transform: translate3d(0px, 70px, 0px); -webkit-transform: translate3d(0px, 70px, 0px); }

    .primary-nav { height: 70px; top: -70px; margin-top: 70px;
				   .primary-nav-outer { height: 70px;
										ul { height: 70px; }
										.large-nav li { height: 70px;
														a { padding: 23px 19px 24px; }

														&.search-slide {
															.search { margin-top:10px; padding: 10px 50px 12px 15px; padding: 13px 50px 17px 15px; }
															.icon-search { left: 320px; top: 19px; }
														}
										}

										.breadcrumb li { padding-top: 2.1em; }
				   }
				   .logo-link { right: 40px; z-index: 7; position: absolute;
								-webkit-box-shadow: 0 0 5px rgba(0,0,0,.4); 
								-moz-box-shadow: 0 0 5px rgba(0,0,0,.4); 
								box-shadow: 0 0 5px rgba(0,0,0,.4); 

								.small-logo { display: none; background: url(../images/logo_sm.png) no-repeat 0 0; width: 73px; height: 70px; }
								img { display: block; }
				   }
    }

    .secondary-nav { top:70px;
					 .sec-nav-list li {
						 a { padding: 19px 20px 20px 20px; }
						 &.more ul { top:60px; }
					 }
    }

}

h3.dealername {
	float: right;
	font-family: "toyotatext_rg";
	font-size: 17px;
	line-height: 70px;
	padding:0;
	padding-right: 135px;
	max-width: 30%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	@media only screen and (max-width:($desktop-medium/16)*1em){
		display:none;
	}
}



@media only screen and (max-width:($mobile-large/16)*1em){
	.primary-nav{
		.container_12{
			margin: 0;
			padding: 0;
			width: 100%;
		}
		.grid_12{
			margin: 0;
			padding: 0;
			width: 100%;
			margin-left: -2px;
		}
	}
	.secondary-nav {
		display:none;
	}
}

/* 
	 #############################################################################
	 Secondary nav dropdown
	 #############################################################################
*/

.secondary-nav .dropdown{
	position: relative;
	&:hover{
		.dropdown-sub-menu{
			visibility: visible;
			opacity: 1;
			/* IE 8 */
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			/* IE 5-7 */
			filter: alpha(opacity=100);
			transition: opacity 0.6s;
		}
	}
}
.dropdown-sub-menu{
	visibility: hidden;
	position: absolute;
	top: 100%;
	right: 0;
	width: auto;
	opacity: 0;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	transition: opacity 0.6s;
	> li{
		list-style: none;
		display: block;
		width: 100%;
		white-space: nowrap;
	}
	a{
		display: block;
	}
}