﻿
/* ==========================================================================
  Quick specs
   ========================================================================== */    

.quick-spec { 
	padding: 10px 8px 12px 8px; min-height: 98px; min-width: 205px; margin: 15px 10px 15px 0;
	max-width: 250px;
	float:left; color: #fff; 
	-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; 
	background-color: #1e2a32; 
	background-color: rgba(30, 42, 50, 0.9); 
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4); 
	box-shadow: 0 1px 2px rgba(0,0,0,.4);  
}

.quick-spec.blue {background: #00a0f0; background: rgba(0, 160, 240, 0.9);}
.quick-spec.yellow {background: #efc60a; background: rgba(239, 198, 10, 0.9);}

.quick-spec .header { display: table; width: 100%; }
.quick-spec .spec-heading {  font-family: toyotatext_bd; float:left; display: inline-block; font-size: 18px; line-height: 18px; margin-right: 10px; }
.quick-spec .spec-link,
.quick-spec .offer-link { float: right; font-family: toyotatext_bd; display: inline-block;font-size: 12px; text-decoration: none; color: #fff; text-align: right; }
.quick-spec .spec-link:hover { text-decoration: underline; }
.quick-spec table { width: 100%; vertical-align: top; text-align: left; font-size: 13px; line-height: 13px; margin-top: 6px; color: rgba(255, 255, 255, 0.5); }

.quick-spec table td strong { font-size: 26px; line-height: 34px; font-family: toyotadisplay_bd; color: #fff; display: block; }

.quick-spec table th,
.quick-spec table td { text-align: left; border-left: 1px solid #fff; border-left: 1px solid rgba(255, 255, 255, 0.2); padding: 0 6px; vertical-align: top; font-weight: normal; }
.quick-spec table th:first-child,
.quick-spec table td:first-child { border-left: 0; padding-left: 0; }

/* Yellow variant */
.quick-spec .spec-heading.dark {color: #1e2a32; width: auto; min-height: 26px; }
.quick-spec .elastic-header {white-space: nowrap; min-height: 36px; }
.quick-spec p {color: #1e2a32; font-family: toyotatext_rg, Verdana, sans-serif; font-size: 13px; line-height: 13px; text-align: left; vertical-align: top; }
.quick-spec .large-price {margin: 3px 0; font-size: 26px; line-height: 30px; font-family: toyotadisplay_bd; color: #fff; display: block; }
.quick-spec .offer-link-container { float: right; }
.quick-spec .offer-link-container .offer-link {  background-color: #BC9E18; background-color: rgba(0,0,0,0.2); padding: 7px 5px 5px 5px; border-radius: 2px; line-height: 13px;}
.quick-spec .offer-link-container .offer-link:hover { background-color: #836E0A; background-color: rgba(0,0,0,0.4); }
.quick-spec .info-container {display: block; float: right; max-width: 100px; }
.quick-spec .info-container p { min-height: 52px; border-left: 1px solid #fff; border-left: 1px solid rgba(255,255,255,0.2); padding: 5px 0 5px 5px; }
.quick-spec .price-container {display: block; float: left; padding-right: 10px; }

/* Yellow variant */
.quick-spec-disclaimer { clear:left; float:left; background-color: #333; background-color: rgba(0, 0, 0, 0.5); border-radius: 2px; padding: 5px 10px;  }
.quick-spec-disclaimer p {  color: #fff; font-size: 13px;}
.quick-spec-disclaimer a { font-weight: bold; color: #fff; text-decoration: none; font-size: 12px}
.quick-spec-disclaimer a:hover { text-decoration: underline; }