
.captcha_container{
}

.hiddencaptcha{
  display: none;
  opacity: 0;
  border: none;
  background: transparent;
  height: 1px;
  width: 100%;
  display: block;
}

.form_thanks .intro{
  padding-top: 2em;
}