/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Feb-2015, 10:45:05
    Author     : marlon.jerez
*/

/* ########################################################
	REMOTE SECTIONS : HYBRID ; SERVICE AND ACCESORIES
########################################################  */
.remote-section{
	.list-bullet ul{
		line-height: 1.33333em;
		padding: 10px 0 10px 20px;
		margin: 20px 0;
		border-top: 1px solid #e2e2e3;
		border-bottom: 1px solid #e2e2e3;
		color: #6c7073;
	}
	.section_title  .heading1{
		padding-bottom: 6px;
	}
	p{
		margin-bottom: 0;
	}
	h5{
		font-family: "toyotatext_bd";
		font-size: 17px;
		font-weight: normal;
		line-height: 18px;
		@media screen and(max-width:$desktop-medium * 1px){
			font-size: 16px;
			font-weight: normal;
			line-height: 18px;
		}
	}

	.offer-spotlight{
		li{
			margin-bottom: 7px;
		}
	}
	.table{
		font-family: toyotatext_rg,Verdana,Geneva,Arial,Helvetica,sans-serif;
		font-size: 15px;
		line-height: 1.33333em;
		color: #6c7073;
		width: 100%;
		margin-bottom: 20px;
		td{
			padding: 9px 10px;
			color: #1e2a32;
			vertical-align: top;
			border-right: 1px solid #ebeced;
			border-bottom: 1px solid #ebeced;
		}
		th{
			padding: 8px;
			line-height: 1.42857;
			vertical-align: top;
			border-top: none;
			background: #fff;
		}
		> thead > tr > td, > thead > tr > th{
			padding: 8px;
			line-height: 1.42857;
			vertical-align: top;
			border-top: none;
		}

		tr:nth-child(odd){
			background-color: #f5f5f6;
			border-top: 1px solid #fff;
		}
		> thead > tr{
			background-color: #fff !important;
			border-top: none !important;
		}
	}
	.grid_7{
		padding-bottom: 24px;
		@media only screen and (min-width: $mobile-large * 1px){
			float: left;
			width: 58.33333%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.grid_5{
		padding-bottom: 24px;
		@media only screen and (min-width: $mobile-large * 1px){
			float: left;
			width: 41.66667%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.grid_12{
		padding-bottom: 24px;
	}
	.bg-image-hero.bg-image-hero-large .coverBG{
		min-height: 680px;
		@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
			min-height: 680px; 
		}
		@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
			min-height: 540px; 
		}
		@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
			min-height: 340px; 
		}
		@media only screen and (max-width:(($mobile-medium  - 1)/16)*1em){
			min-height: 240px; 
		}
	}
	.bg-image-hero.bg-image-hero-med .coverBG{
		&.top{
			background-position: top center;
		}
	}
	.header-container{
		@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
			.container_12 , .grid_12{
				padding-left: 0;
				padding-right: 0;
			}
			
		}
	}

}
.imageContainer{
	img{
		display: block;
		width: 100%;
		height: auto;
	}
}

