﻿/* ==========================================================================
  Reviews
   ========================================================================== */     

.review-summary-promo { padding: 7px; font-size: 13px; line-height: 14px; margin: 10px 0; float:left; font-family: toyotatext_bd;
                        
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	background-color: #fff;
	
	background-image: -webkit-linear-gradient(bottom, #e8e9ea, #fff);
	background-image: -moz-linear-gradient(bottom, #e8e9ea, #fff);
	background-image: -o-linear-gradient(bottom, #e8e9ea, #fff);
	background-image: -ms-linear-gradient(bottom, #e8e9ea, #fff);
	background-image: linear-gradient(to top, #e8e9ea, #fff);
}
.review-summary-promo a { font-family: toyotatext_rg; color: #666; display: block; }
.review-summary-promo .rating-scale5 { width: 60px; height: 12px;  background: url('../images/rating_stars.png') repeat-x 0 -14px; margin-bottom: 4px; }
.review-summary-promo .rating-scale5 .rating { display: block; width: 100%; height: 12px; background: url('../images/rating_stars.png') repeat-x 0 0; } 
