/**
 * ====================================
 * Share Tools
 * ====================================
 */
.share-tools {
	width: 48px;
	height: 48px;
	display: block;
	background: url(../images/share-tools-dots.png) no-repeat center 19px;
	background-color: #e8e9ea;
	float: right;
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	-webkit-transition: background-color ease-in-out 0.4s;
	-moz-transition: background-color ease-in-out 0.4s;
	-ms-transition: background-color ease-in-out 0.4s;
	-o-transition: background-color ease-in-out 0.4s;
	transition: background-color ease-in-out 0.4s;
	margin-top: 9px;
}

.share-tools:hover {background-color: #4b555d; }
.share-tools.open, .share-tools.always-open {background-color:#1E2A32; }

.share-tools.open .tool-box,
.share-tools.always-open .tool-box { opacity: 1; display: block }

.share-tools + h1 {padding-right: 54px; }

.share-tools .tool-box {
	display: none;
	background: #313f49;
	background: -webkit-linear-gradient(to top, #313f49, #253036); /* Safari, Android */
	background: linear-gradient(to top, #313f49, #253036);
	opacity: 0;
	list-style: none;
	white-space: nowrap;
	position: absolute;
	border-radius: 3px;
	-webkit-transition: opacity ease-in-out 0.4s;
	-moz-transition: opacity ease-in-out 0.4s;
	-ms-transition: opacity ease-in-out 0.4s;
	-o-transition: opacity ease-in-out 0.4s;
	transition: opacity ease-in-out 0.4s;
}

.share-tools.open-top .tool-box {top: -55px; right: 0; }

.share-tools .tool-box:after {
	position: absolute;
	content: " ";
	height: 0;
	width: 0;
	border: solid transparent;
	pointer-events: none;
	border-width: 9px;
}

.share-tools.open-right .tool-box {top: 0; left: 55px; }
.share-tools.open-left .tool-box {top: 0; right: 55px; }
.share-tools.open-bottom .tool-box {bottom: -55px; right: 0; }

.share-tools.open-right .tool-box:after {
	border-right-color: #354047;
	top: 50%;
	margin-top: -9px;
	right: 100%;
}
.share-tools.open-left .tool-box:after {
	border-left-color: #354047;
	left: 100%;
	top: 50%;
	margin-top: -9px;
}
.share-tools.open-bottom .tool-box:after {
	border-bottom-color: #354047;
	bottom: 100%;
	right: 17px;
}
.share-tools.open-top .tool-box:after {
	border-top-color: #354047;
	top: 100%;
	right: 17px;
}

.share-tools .tool-box .share-item {
	line-height: 46px;
	padding: 0 11px 0 11px;
	display: inline-block;
	margin-left: -3px;
	font-family: toyotatext_bd;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #424c54;
	border-left: 1px solid #273239;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.share-tools .tool-box :first-child {
	border-left: 0;
	margin-left: 0;
	border-radius: 3px 0 0 3px;
}

.share-tools .tool-box :last-child {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

.share-tools .tool-box .share-item:hover {background: #afb3b7; }

.colourbox-content .share-tools { border: 1px solid #626A6E; background-color:#1E2A32; border-radius: 4px; width: 48px; height: 46px; }