
/* ==========================================================================
   Social tools
   ========================================================================== */     

.social-tools-section {   background: #E9EAEC; color: #1e2a32; padding: 80px 0; clear:left; }
.social-tools-section .social-tools-list { list-style-type: none; }
.social-tools-section .social-tools-list li { display: inline; margin: 0 5px;}
.social-tools-section .social-tools-list .share-icon { margin-left: 4px; }
.social-tools-section .social-tools-list a:hover { text-decoration: none; }

@media only screen and (min-width:0em){
	.social-tools-section { padding: 20px 0; }
	.social-tools-section .social-tools-list { line-height: 3.5em; }
}

@media only screen and (min-width:(($mobile-large)/16)*1em){
	.social-tools-section { padding: 40px 0; }
	.social-tools-section .social-tools-list { line-height: 1em; }
}

/* ==========================================================================
   Social tools
   ========================================================================== */ 
.social-tools-section .social-tools-list .uiBtn {  position:relative; cursor: pointer}
.social_box_wrapper{
	display: block;
	position:absolute;
	top: -150px;
	left: -12px;
	display: none;
	&.like{
		top: -100px;
		left:-92px;
		.social-box{
			width: 220px;
			padding-top: 0;
			padding-bottom: 20px;
		}
	}
}
.social-box {
	display: block;
	position: relative;
	background: #ffffff;
	border: 2px solid #e3e3e3;
	border-radius: 2px;
	padding: 20px;
	padding-bottom: 0px;
	width: 80px;
}
.social-box:after, .social-box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.social-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 20px;
	margin-left: -20px;
}
.social-box:before {
	border-color: rgba(227, 227, 227, 0);
	border-top-color: #e3e3e3;
	border-width: 23px;
	margin-left: -23px;
}