
/* ==========================================================================
   Spotlights
   ========================================================================== */     

.spotlight { margin-bottom: 20px; text-decoration: none; display: block; }
.spotlight img { border-radius: 2px; margin-bottom: 8px; }
.spotlight p { text-indent: 0; font-size: 13px; color: #1E2A32;  line-height: 16px;  }
a.spotlight:hover { text-decoration: underline; color: #1E2A32;  }

.spotlight .image-wrapper { position: relative; }
.spotlight .image-wrapper i { 
	position: absolute; top: 50%; left: 50%; margin: -23px 0 0 -25px;	
				  color: #fff; border-radius: 3px;font-size: 24px;
				  color: #fff;background: #3B3B3B; background: rgba(0, 0, 0, 0.66); 
}
.spotlight .image-wrapper .icon-play { padding: 6px 14px 6px 16px;}


@media only screen and (min-width:0em){
	.spotlight { margin-bottom: 40px; 
		img { width:100%; height: auto;display: block; }
	}
}

@media only screen and (min-width:(($mobile-large)/16)*1em){
	.spotlight { margin-bottom: 20px; }
}