﻿/* ==========================================================================
  Top Features
   ========================================================================== */     


.top-feature .bg-par {
	height: 600px;
	@media only screen and (max-width:(($desktop-large - 1)/16)*1em){
		height: 500px; 
	}
	@media only screen and (max-width:(($desktop-medium - 1)/16)*1em){
		height: 400px; 
	}
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		height: 300px;  
	}
	@media only screen and (max-width:(($mobile-medium  - 1)/16)*1em){
		height: 200px;  
	}
	@media only screen and (max-width:(($mobile-small  - 1)/16)*1em){
		height: 160px;  
	}
}

.top-feature .uiBtn { 
	margin-right: 6px;
	@media only screen and (max-width:(($mobile-large  - 1)/16)*1em){
		font-size: 12px;
		line-height: 40px;
	}
}

.top-feature {padding: 15px 0 50px 0; }

.top-feature .body-content {
	width: 100%;
	position: relative;
}

.top-feature .header-block,
.parallax-layer .header-block {
	height: 100px;
	position: absolute;
	top: -160px;
	background: #333;
	background: rgba(0,0,0,0.3);
	width: 100%;
	@media only screen and (max-width:($mobile-large/16)*1em){
		width: 100%;
		height: 150px;
		position: absolute;
		top: -210px;
		background: #333;
		background: rgba(0,0,0,0.3);

	}

}

.parallax-layer .header-block.in-parallax-layer  {
	top: auto;
	bottom: 0;
}

.top-feature .header-block .arrow,
.parallax-layer  .header-block .arrow{
	background: url(../images/arrow.png) no-repeat left 92px bottom;
	@media only screen and (max-width:($mobile-large/16)*1em){
		background: none;
		height: 100%;
	}
}
.top-feature .header-block .arrow{
	padding-top: 10px;
}
.top-feature .header-block .button-right-container,
.parallax-layer .header-block .button-right-container {
	float:right;
	padding: 25px 0 25px 0;
	@media only screen and (max-width:($mobile-large/16)*1em){
		float:none;
		margin-right: 10px;
		padding: 0 0 0 0;
	}
}

.top-feature .header-block .button-right-container a,
.parallax-layer .header-block .button-right-container a {
	margin-right: 10px; 
}

.top-feature .header-block .header2,
.parallax-layer .header-block .header2 {
	color: #fff;
	font-size: 2em;
	padding: 30px 0 30px 0;
	float: left;
	font-family: toyotatext_bd;
	line-height: 0.85em;
	height: 40px;
	overflow: hidden;
	margin-bottom: 0;
	@media only screen and (max-width:($mobile-large/16)*1em){
		float: none;
		font-size: 1.5em;
		padding: 10px 0 0 0;
		margin-bottom: 0;
	}
}

.top-feature .content-block p {
	font-family: toyotatext_rg;
	font-size: 15px;
	line-height: 20px;
	color: #6c7073;

}

.top-features .center-text h2 { font-size: 34px; line-height: 2em; }
.top-features .center-text p { font-size: 19px; line-height: 1.4em; }

.body-content .alt-block > p,
.body-content .default-block > p , 
.new-car-intro .heading3{
	font-size: 24px; line-height: 31px; color: #6C7073;
	@media only screen and (max-width:($mobile-large/16)*1em){
		font-size: 18px; line-height: 26px;
	}
}