/* ==========================================================================
   used cars
   ========================================================================== */

//search menu
.search_menu {
  width: 30%;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: -30%;
  @media only screen and (max-width: (($desktop-medium)/16)*1em) {
    width: 100%;
    margin: 0;
    float: none;
  }

  .search_checkbox {
    width: 100%;

    @media only screen and (max-width: ((540)/16)*1em) {
      width: auto;
      float: none;
    }
  }
  .uiBtn {
    display: block;

  }

  // layouth in two block for tablet
  .search-detailed {

    padding-top: 1em;

    @media only screen and (max-width: ((540)/16)*1em) {
      width: auto;
      margin-left: 0;
      float: none;
    }
    &.searchboxes {
      @media only screen and (max-width: (($desktop-medium)/16)*1em) {
        width: auto;
        margin-left: 0;
        float: none;
      }
      @media only screen and (max-width: ((540)/16)*1em) {
      }
    }
  }

}

// results
.search_result {
  width: 67%;
  margin: 0;
  padding: 0;
  margin-left: 33%;
  float: left;
  @media only screen and (max-width: (($desktop-medium)/16)*1em) {
    width: 100%;
    margin: 0;
    float: none;
  }
}

.reults_variant, .reults_model {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.search_checkbox {
  .checkboxes {
    .checkbox label:before {
      content: none;
      margin: 0;
    }
  }
}

.search-filter {
  position: relative;
  background: #E8E9EA;
  margin-bottom: 1em;
  border-radius: 2px;
  .padding {
    margin: 0 15px;
    padding: 1em 0;
  }
  .search-simple {

  }

  .search-detailed {
    border-top: 1px dashed #B0B1B2;
    border-bottom: 1px dashed #B0B1B2;
    padding: 1em 0 0.6em;
    margin-bottom: 0.6em;
    display: none;

  }

  .checkboxes .checkbox {
    float: left;
    padding-right: 1.4em;
    .the-checkbox {
      margin-right: 5px;
    }
  }

  @media only screen and (max-width: (($desktop-medium)/16)*1em) and (min-width: (($mobile-large + 1)/16)*1em) {
    .row {
      float: left;
      width: 31%;
      margin-right: 3.5%;
      clear: none;

      &.threes-lc {
        margin-right: 0;
      }
    }
  }

  h3 {
    margin-bottom: 0.6em;
  }
  h4 {
    margin-bottom: 0.4em;
  }

  .controls {
    position: relative;
  }

  .show-more-section {
    display: none;
  }
  .expand {
    padding: 0 0 1.4em;
    a {
      text-decoration: none;
      color: #1E2A32;
      font-size: 0.9em;
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  }

  .twos {
    width: 47.5%;
    float: left;
    margin-right: 5%;
    &.twos-lc {
      margin-right: 0;
    }
  }
}

.search-info {
  border-bottom: 1px solid #B0B1B2;
  margin-bottom: 2em;
  vertical-align: top;
  p {
    color: #6c7072;
    float: left;
    width: 33.33%;
  }
  .view-buttons {
    float: left;
    width: 43.33%;
    text-align: center;
    .uiBtn {
      line-height: 32px;
    }

  }
}

.sort-options {
  float: right;
  position: relative;
  .sortDirection {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #B0B1B2;
    padding: 4px 10px 0;
    margin: 5px 0 0 0;
  }
  .select {
    .value {
      padding-top: 4px;
      padding-bottom: 3px;
      padding-right: 50px;
    }
    i {
      top: 10px;
    }

  }
}

.perform-search {
  display: block;
}

.results {
  height: auto;
  .result {
    position: relative;
    border-bottom: 1px solid #e0e1e2;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    display: none;
    opacity: 0;
    .image {
      float: left;
      width: 26%;
      margin-right: 2%;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .content {
      width: 68%;
      float: left;
      .padding {
        margin-right: 150px;
      }
      h5 {
        font-size: 24px;
        font-family: toyotadisplay_bd;
        line-height: 1.2em;
        margin-bottom: 1.6em;
        a {
          text-decoration: none;
          &:hover span {
            text-decoration: underline;
          }
        }
        i {
          display: none;
        }
      }
      .details {
        list-style: none;
        background: none;
      }
      .price {
        color: #808080;
        font-size: 30px;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 1em;
        font-family: toyotadisplay_bd;
      }

      .view-car {
        position: absolute;
        bottom: 1.5em;
        right: 0;
      }
    }
  }
}

.featured-cars-container {
  &.gray {
    background: #f0f2f2;
  }
  &.blue {
    background: #00a0f0;
    h1, h2, h5, .details {
      background: none;
      color: #fff;
      a {
        span {
          color: #fff;
        }
        i {
          display: none;
        }
      }
    }
    .details {
      span {
        font-size: 14px;
      }
    }
  }
}

.featured-used-cars {
  .grid_row {
    text-align: left;
  }
  .image, .content {
    width: 100%;
    float: none;
  }
  .image {
    margin-bottom: 0.6em;
    a {
      display: block;
      width: 100%;
      text-align: left;
    }
    img {
      width: 100%;
    }
  }
  .content {
    .padding {
      margin-right: 0;
    }
    h5 {
      font-size: 22px;
      span {
        color: #d1001e;
        font-weight: bold;
      }
      i {
        display: inline;
        color: #d1001e;
      }
      padding: 5px 0px;
    }

    .price {
      background: #CC161E;
      background: rgba(204, 33, 30, 0.8);
      color: #fff;
      position: absolute;
      top: 10px;
      left: auto;
      right: 15px;
      padding: 8px 10px;
      font-size: 14px;
      border-radius: 3px;
      font-family: toyotatext_rg;
      strong {
        font-weight: normal;
      }
    }

    .view-car {
      display: none;
    }
  }
}

.featured-car {
  .model {
    strong {
      font-size: 14px;
    }
  }
  .details {
    span {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 0em) {
  .results {
    .result {
      border-bottom: none;
      width: 50%;
      float: left;
      margin-bottom: 0;
      margin-right: 0;
      width: 48%;
      &.clear_left {
        clear: left;
        margin-right: 4%;
      }
      .image {
        float: none;
        width: 100%;
        margin-right: 0;
      }
      .content {
        float: left;
        width: 100%;
        margin-right: 0;
        .padding {
          margin-right: 0;
        }
        h5 {
          font-size: 18px;
          margin-bottom: 0;
          margin-top: 10px;
          i {
            display: inline;
          }
        }
        .details, .tax-price {
          display: block;
          font-size: 15px;
        }
        .details {
          color: #888;
          padding-bottom: 0;
        }
        .price {
          position: relative;
          margin: 0;
          background: transparent;
          color: #D1001E;
          left: 0px;
          right: auto;
          top: auto;
          bottom: 1.5em;
          padding: 0;
          font-size: 18px;
          font-family: toyotatext_rg;
          strong {
            font-weight: normal;
          }
          display: none;
          &.mobile_price {
            display: block;
            bottom: auto;
            margin-top: 4px;
            font-weight: bold;
          }
        }
        .reults_model {
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .cardetails {
          position: relative;
          left: auto;
          bottom: auto;
        }
        .view-car {
          display: none
        }
      }
    }
  }
}

@media only screen and (min-width: ($mobile-medium /16)*1em) {
  .results {
    .result {
      border-bottom: 1px solid #e0e1e2;
      width: 100%;
      float: none;
      margin-bottom: 1.5em;
      .image {
        float: left;
        width: 40%;
        margin-right: 4%;
      }
      .content {
        float: left;
        width: 56%;
        .padding {
          padding-bottom: 0;
          margin-right: 0px;
        }
        h5 {
          font-size: 18px;
          margin-top: 0;
          margin-bottom: 0;
          i {
            display: inline;
          }
        }
        .details, .tax-price {
          margin-top: 20px;
          display: block;
          font-size: 15px;
        }
        .price {
          position: absolute;
          font-size: 16px;
          background: #CC161E;
          background: rgba(204, 33, 30, 0.75);
          color: #fff;
          right: auto;
          left: 0;
          top: auto;
          padding: 8px 10px;
          bottom: 40px;
          font-family: toyotatext_rg;

          strong {
            font-weight: normal;
          }
          display: block;
          &.mobile_price {
            display: none;
          }
        }
        .reults_model {
          white-space: normal;
        }
        .view-car {
          display: none
        }
      }
    }
  }
}

@media only screen and (min-width: 620px) {
  .results {
    .result {
      .content {
        .view-car {
          display: block;
          line-height: 40px
        }
      }
    }
  }
}

@media only screen and (min-width: ($mobile-large/16)*1em) {

  .results {
    .result {
      position: relative;
      border-bottom: 1px solid #e0e1e2;
      padding-bottom: 1.5em;
      margin-bottom: 1.5em;
      .image {
        float: left;
        width: 26%;
        margin-right: 4%;
        img {
          display: block;
          width: 100%;
        }
      }
      .content {
        width: 70%;
        float: left;
        .padding {
          margin-right: 150px;
        }
        h5 {
          font-size: 24px;
          font-family: toyotadisplay_bd;
          line-height: 1.2em;
          a {
            text-decoration: none;
            &:hover span {
              text-decoration: underline;
            }
          }
          i {
            display: none;
          }
        }
        .details {
          list-style: none;
        }
        .details, .tax-price {
          font-size: 18px;
        }
        .price {
          background: transparent;
          color: #808080;
          font-size: 30px;
          position: absolute;
          top: 0;
          left: auto;
          bottom: auto;
          padding: 0;
          right: 0;
          line-height: 1em;
          font-family: toyotadisplay_bd;
        }

        .view-car {
          position: absolute;
          bottom: 1.5em;
          right: 0;
          display: block;
          line-height: 46px
        }
      }
    }

    &.grid {
      .result {
        width: 48%;
        float: left;
        margin-right: 4%;

        .image, .content {
          width: 100%;
          float: none;
        }
        .image {
          margin-bottom: 0.6em;
        }
        .content {
          .padding {
            margin-right: 0;
          }
          h5 {
            font-size: 18px;

            i {
              display: inline;
            }
          }
          .price {
            background: #CC161E;
            background: rgba(204, 33, 30, 0.75);
            color: #fff;
            top: 10px;
            left: auto;
            right: 0;
            padding: 8px 10px;
            font-size: 18px;
            border-radius: 3px;
            font-family: toyotatext_rg;
            strong {
              font-weight: normal;
            }
          }

          .view-car {
            display: none;
          }
        }

        &.right {
          margin-right: 0;
        }
      }
    }
  }
}

.used-car-video {
  position: relative;
  width: 100%;
  padding-top: 56.4%;
  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  margin-bottom: 1rem;
}

.contact_button {
  .icon {
    position: relative;
    font-size: 1.4em;
    top: 0.5em;
    &.icon-car2 {
      font-size: 1.15em;
      top: 0.65em
    }
  }
}

.call-us-btn{
  .dealer{
    display: inline;
  }
  .non-dealer{
    display: none;
  }
  @media only screen and (min-width: (($desktop-medium)/16)*1em) {
    display: none;
  }
}





.no-dealer-page{
  .call-us-btn{
    .dealer{
      display: none;
    }
    .non-dealer{
      display: inline;
    }
  }
  .contact-us-btn{
    display: none;
  }
  .car-details-first{
    margin-top: 70px;
  }
  .button-dealer{
    display: none;
  }
  .button-no-dealer{
    display: block;
  }

}



.button-dealer{
  display: block;
}
.button-no-dealer{
  display: none;
}

.contact-us-btn{
  display: none;
  @media only screen and (min-width: (($desktop-medium)/16)*1em) {
    display: block;
  }
}


.features {
  p {
    padding-bottom: 1.5rem;
  }
}


.car-details-first{
  margin-top: 30px;
  @media only screen and (min-width: ((768)/16)*1em) {
    margin-top: 70px;
  }
  @media only screen and (min-width: (($desktop-medium)/16)*1em) {
    margin-top: 90px;
  }
}

.used-car-carousel {
  .header-container {
    background: transparent !important;
    .no-car-img{
      background-size: cover;
      background-position: center;
      margin-bottom: 1rem;
      .heading2{
        text-align: center;
        padding: 2rem 0;
        color: #fff;
        text-shadow: 1px 1px 3px #000, 1px 1px 20px #000;
        @media only screen and (min-width: (($desktop-medium)/16)*1em) {
          padding: 3.8rem 0;
        }
      }
    }

    @media only screen and (min-width: (($desktop-medium)/16)*1em) {
      overflow: visible;
    }
  }
  .thumbnails-container {
    margin-bottom: 20px;
    @media only screen and (min-width: (($desktop-medium)/16)*1em) {
      margin-bottom: 0;
    }
    @media only screen and (min-width: (($desktop-large)/16)*1em) {

    }
  }
}

.used-car-title{
  .price {
    color: #CB161E; /*margin-bottom: 1.26em;*/
  }
  .alignRight {
    text-align: right;
  }
  .heading2{
    display: block;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    //overflow: hidden;
  }
}

.used-car-carousel {
  margin-bottom: 2em;
}

.used-car-details {
  .topRight {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }
  .alignRight {
    text-align: right;
  }

  h3 {
    font-family: toyotadisplay_bd;
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: 1em;
  }

  .contact-dealer-text{
    @media print {
        width: 200%;
      margin-bottom: 0;
    }
  }

  .name {
    margin-bottom: 0.5em;
  }
  .details {
    background: none;
    color: #6C7073;
    margin-bottom: 1em;
    font-size: 18px;
  }
  .status {
    color: #808080;
    font-size: 15px;
  }
  .about {
    margin-bottom: 2em;
    font-size: 18px;
  }
  .data {
    margin-bottom: 2em;
  }

  .blocks {
    margin-bottom: 1.5em;
    .block {
      display: table;
      float: left;
      width: 47.5%;
      margin-right: 5%;
      @media only screen and (max-width: (($mobile-medium  - 1)/16)*1em) {
        display: block;
      }

      .icon {
        color: #D9747D;
        text-align: center;
        width: 50%;
        display: table-cell;
        background: #CB161E;
        vertical-align: middle;
        @media only screen and (max-width: (($desktop-medium - 1)/16)*1em) {

        }
        @media only screen and (max-width: (($mobile-large  - 1)/16)*1em) {
          width: 100%;
          display: block;
        }
        @media only screen and (max-width: (($mobile-medium  - 1)/16)*1em) {
          width: 100%;

        }
        i {
          font-size: 80px;
          float: none;
          width: 100%;
          padding: 0.18em 0;
          display: block;
        }
      }
      .text {
        background: #302530;
        color: #fff;
        width: 50%;
        display: table-cell;

        @media only screen and (max-width: (($desktop-medium - 1)/16)*1em) {

        }
        @media only screen and (max-width: (($mobile-large  - 1)/16)*1em) {
          width: 100%;
          display: block;
        }
        @media only screen and (max-width: (($mobile-medium  - 1)/16)*1em) {
          width: 100%;
        }
        .padding {
          margin: 0 0.6em;
          padding: 0.6em 0;
          h4 {
            font-family: toyotatext_bd;
            color: #fff;
          }
          p {
            font-size: 15px;
          }
        }
      }

      &.block-lc {
        margin-right: 0;
        float: left;
        width: 47.5%;
        padding-left: 15px;
        margin-bottom: 20px;
        @media only screen and (max-width: (($desktop-medium - 1)/16)*1em) {

        }
        @media only screen and (max-width: (($mobile-large  - 1)/16)*1em) {

          padding-left: 0;
        }
        @media only screen and (max-width: (($mobile-medium  - 1)/16)*1em) {
          width: 100%;
          padding-left: 0;
        }
      }

    }
    &.contact_buttons {
      position: absolute;
      top: 450px;
      width: 1120px;
      @media only screen and (max-width: (($desktop-large - 1)/16)*1em) {
        position: relative;
        top: 0;
        width: 45%;
        float: right;
        margin-right: 20px;
      }
      @media only screen and (max-width: (($desktop-medium - 1)/16)*1em) {
        position: relative;
        top: 0;
        width: 45%;
        float: right;
        margin-right: 20px;
      }
      @media only screen and (max-width: (($mobile-large  - 1)/16)*1em) {
        position: relative;
        top: 0;
        width: 100%;
        padding-left: 0;
      }

      .grid_12 {
        width: 445px;
        float: right;
        margin-right: 0;
        padding-right: 8px;
        @media only screen and (max-width: (($desktop-large - 1)/16)*1em) {
          width: 100%;
        }
        @media only screen and (max-width: (($mobile-large  - 1)/16)*1em) {
          width: 100%;
        }
        .contact_button {
          .uiBtn {
            width: 100%;
            .right {
              float: right;
            }
          }
        }
      }
    }
  }

  .mobile {
    display: none;
    @media only screen and (max-width: (($desktop-large - 1)/16)*1em) {
      display: none;
    }
    @media only screen and (max-width: (($desktop-medium - 1)/16)*1em) {
      display: none;
    }
    @media only screen and (max-width: (($mobile-large  - 1)/16)*1em) {
      display: block;
    }
    @media only screen and (max-width: (($mobile-medium  - 1)/16)*1em) {
      display: block;
    }
  }

  .desktop {
    @media only screen and (max-width: (($desktop-large - 1)/16)*1em) {
      display: block;
    }
    @media only screen and (max-width: (($desktop-medium - 1)/16)*1em) {
      display: block;
    }
    @media only screen and (max-width: (($mobile-large  - 1)/16)*1em) {
      display: none;
    }
    @media only screen and (max-width: (($mobile-medium  - 1)/16)*1em) {
      display: none;
    }
  }

  /*	.dealer-cover { margin-bottom: 2em;
                      .image { float: left; width: 20%;
                               img { width: 100%; display: block; }
                      }
                      .list {	float: left; width: 80%;
                              ul { font-size: 15px; list-style: none; margin-left: 0.6em;
                                   li { margin-bottom: 0.3em;
                                        &:before {
                                            margin-right: 0.2em;
                                            color: #1E2A32;
                                        }
                                   }
                              }
                      }
                      .text{
                          font-family: toyotatext_rg, Verdana, sans-serif;
                          padding-left: 0.7em;
                          font-weight: normal;
                      }
      }*/
}

@media only screen and (max-width: (($desktop-medium)/16)*1em) and (min-width: (($mobile-large/16))*1em) {
  .used-car-details {
    .blocks .block {
      float: none;
      width: 100%;
      margin-bottom: 0.5em;

      /*			.icon { float: left; width: 30%;
                          i { font-size: 50px; width: 100%; }
                  }
                  .text { float: left; width: 70%; }*/
    }
  }
}

@media only screen and (max-width: (($mobile-large)/16)*1em) {
  .used-car-carousel, .used-car-carousel.container_12 .grid_12 {
    width: 100%;
    padding: 0;
  }

}

@media only screen and (max-width: (($mobile-large)/16)*1em) {
  .used-car-carousel {
    margin-bottom: 1em;
  }
  .used-car-details {
    .alignRight {
      text-align: left;
    }

    /*		.price { margin-bottom: 0.5em; }*/
    .status {
      margin-bottom: 1em;
    }
  }
}

@media only screen and (max-width: (($mobile-medium)/16)*1em) {
  .used-car-details .blocks .block {
    float: none;
    width: 100%;
    margin-bottom: 0.5em;
  }
}

/* ==========================================================================
   search results
   ========================================================================== */

#resultsAsuredUsedCars {
  height: 200px;
  overflow-y: hidden;
  &.mileage .mileage, &.date .year, &.Year .year, &.Mileage .mileage, &.Price .price {
    color: #00a0f0;
    font-weight: bold;
    &.mobile_price {
      color: #D10018;
    }
  }
  @media only screen and (min-width: ($mobile-medium/16)*1em) {
    &.Price .grid .price {
      color: #fff;
    }
  }
  @media only screen and (min-width: ($mobile-medium/16)*1em) and (max-width: ($mobile-large/16)*1em) {
    &.Price .list .price {
      color: #fff;
    }
  }
  @media only screen and (min-width: ($mobile-large/16)*1em) {
    &.Price .list .price {
      color: #00a0f0;
    }
  }
}

#showmoreCarsGroup {
  .filter-bar {
    border-bottom: none;
  }
}

/* ==========================================================================
   FEATURED USED CARS
   ========================================================================== */

.spotlight-container {
  a:hover {
    text-decoration: none;
  }
  .details {
    background: none;
  }
  .car-image {
    position: relative;
    /*		img{
                display: block;
                width: 100%;
                height: auto;
            }*/
  }
  .details {
    text-transform: lowercase;
  }
  .price {
    position: absolute;
    color: #fff;
    bottom: 10.5%;
    padding: 5px 12px;
    font-size: 16px;
    font-family: toyotatext_rg;
    left: 0;
    background: #CC161E;
    background: rgba(204, 33, 30, 0.8);
  }
  &.spotlight-container-hybrid {

  }
}

.variant {
  text-transform: capitalize;
}

.featured-cars-container {
  min-height: 400px;
}

.spotlight-container.spotlight-container-grey {
  .model {
    font-size: 1.2em;
    color: #d1001e;
    padding: 0.5em 0;
    &:hover {
      color: #d1001e;
    }
    i {
      font-size: 0.8em;
    }
  }
  .price {
    top: auto;
    right: 0;
    left: auto;
    bottom: 10.5%;
  }
}

.dealer-cover.centerd {
  background-color: #E8E9EA;
  max-width: 440px;
  margin: 0 auto;
  padding-left: 1em;
  .image {
    float: left;
    img {
      padding-left: 1em;
      padding-bottom: 1em;
    }
  }
  .list {
    float: left;
    margin-left: 1em;
  }
}

.dealer-cover-in-features {
  .dealer-cover.centerd {
    background-color: transparent;
    max-width: none;
    padding-left: 0;
    .image {
      margin-left: 0;
      margin-right: 1rem;
      margin-bottom: 1px;
      img {
        padding-left: 0;
      }
    }
    .list {
      margin-left: 0;
    }
  }
}

.dealer-cover-wrapper {
  background-color: #E8E9EA;
  padding: 0;

  &.car-details {
    background-color: transparent;
    float: right;
    width: 50%;
    @media only screen and (max-width: (($mobile-large)/16)*1em) {
      float: left;
      width: 100%;
    }
    .dealer-cover.centerd {
      background-color: transparent;
      float: left;
      padding-left: 15px;
      margin: 0;
      @media only screen and (max-width: (($mobile-large)/16)*1em) {
        padding-left: 0px;
      }

      .image img {
        padding-left: 0;
      }
    }
  }
}

.dealer-cover li {
  padding-bottom: 0.4em;
  list-style: none;
  .icon {
    padding-right: 0.5em;
  }
}

.list {
  .cardetails {
    position: absolute;
    left: 44%;
    bottom: 1.4em;
    font-size: 1em;
    @media only screen and (min-width: (($mobile-large)/16)*1em) {
      min-width: 42%;
      left: 30%;
      bottom: 0.5em;
    }
  }
  .view-car {
    @media only screen and (max-width: (($mobile-large)/16)*1em) {
      display: none;
    }
  }
}

.cardetails {
  text-transform: lowercase;
}

.no-models {
  width: 100%;
  height: 200px;
  line-height: 200px;
  background-color: #f0f0f0;
}

.serach_button {
  width: 60%;
  float: left;
  margin: 0;
  padding: 0;
  max-width: 300px;
}

.clear-fields {
  width: 40%;
  float: right;
  margin: 0;
  padding: 0;
  height: 50px;
  cursor: pointer;
  .title1 {
    text-align: right;
    line-height: 80px;
    color: #555;
    transition: color 0.3s;
    &:hover {
      color: #1e2a32;
    }
    &:active {
      color: #555;
    }
  }
  .text {
    vertical-align: baseline;
  }
}

#car_details_back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e2a32;
  background-color: rgba(30, 42, 50, 0.9);
  z-index: 6;
  a {
    display: block;
    color: white;
    font-size: 15px;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    float: left;
  }
  @media only screen and (max-width: ($desktop-medium/16)*1em) {
    a {
      padding: 12px 20px 13px 20px;
    }
  }
}

#fulliframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.no-scroll {
  overflow: hidden !important;
}

.car_deatails_video {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

#carsearch > .header-container {
  @media only screen and (max-width: (($desktop-medium)/16)*1em) {
    display: none;
  }
}


.priceHeader{
  text-align: right;
  @media only screen and (max-width: (($desktop-medium)/16)*1em) {
    text-align: left;
    margin-bottom: 1rem;
  }
}


.assuredusedcarssubdomain{

}


#car-details{

  @media print{
    .no-print{
      display:none;
    }

    .thumbnails-container{
      .carousel-arrow{
        display: none;
        color: transparent;
        background-color: transparent;
      }
    }

    .no-car-img{
      display: none;
    }

    .print-fw{
      width: 100%;
    }

    .thumbnails-wrapper{
      padding: 0;
      position: static;
      .thumbLink{
        position: static;
        display: inline-block;
        float: left;
        margin: 0;
        img{
          margin: 0;
          width: 100%;
        }
      }
    }

    .car-details-first{
      margin-top: 10px;
    }
    .features{
      display: none;
      p{
        padding-bottom: 0;
      }
    }
  }

}


#car_details_back{
  @media print {
    display: none;
  }
}

.secondary-nav{
  @media print {
    display: none;
  }
}


