.usedcFinanceBox {
  background-color: #1C2830;
  color: #fff;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  box-sizing: border-box;
  position: relative;
  font-size: 15px;
  p {
    font-size: 15px;
  }

  strong {
    font-family: "toyotatext_bd";
    font-weight: bolder;
  }

  .heading1 {
    color: #fff;
    padding: 0;
    @media (min-width: $desktop-medium * 1px) {
      font-size: 1.6rem;
      text-align: left;
      position: relative;
      top: 0.25rem;
    }
    @media (min-width: $desktop-large * 1px) {
      margin-bottom: 1rem;
    }
  }

  .container_12 {
    @media (min-width: $desktop-medium * 1px) {
      padding: 0;
    }
  }

  .grid_3 {
    &.fw {
      float: none;
      width: 100%;
      clear: both;
    }
    @media (min-width: $desktop-medium * 1px) {
      float: none;
      width: 100%;
    }
  }

  .section-title {
    @media (min-width: $desktop-medium * 1px) {
      margin: 0;
    }
  }

  .title1 {
    color: #fff;
    font-size: 15px;
  }

  .select, input {
    height: 2.5rem;
    min-height: 2.5rem;
    margin-bottom: 0.5rem;
    @media (min-width: $desktop-large  * 1px) {
      margin-bottom: 1.5rem;
    }
  }
  .uiBtn {
    height: 2.5rem;
    line-height: 2.5rem;
    display: block;
    > i {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -0.5rem;
      font-size: 15px;
    }
  }

  #used_f_car_price {
    color: #999;
    background-color: #eee;
  }
  //desktop

  .input_g {
    position: relative;
    &.has_icon {
      input {
        padding-left: 3rem;
      }
    }
  }

  .input_icon {
    position: absolute;
    bottom: 0.5rem;
    line-height: 2.5rem;
    left: 0;
    background-color: #aaa;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 0 1rem;
    @media (min-width: $desktop-large  * 1px) {
      bottom: 1.5rem;
    }
  }

  .f_info {
    display: none;
  }

  .read-more-container {
    position: relative;
    float: none;
    display: inline;
    .readMore {
      i {
        color: #fff;
      }
    }
  }

  .sf_cta {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    left: 0;
  }

  .line_row {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
    @media (min-width: $desktop-large  * 1px) {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }



  .temrs_wrapper{
    opacity: 0;
    transition: all 0.4s;
    max-height: 0;
    overflow: hidden;
    &.active{
      opacity: 1;
      max-height: 9999rem;
    }
  }
  .terms_table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    text-align: right;
    @media (min-width: $desktop-large  * 1px) {
      margin-top: 2rem;
    }
  }

  .t_m_value, .t_w_value {
    font-family: "toyotatext_bd";
    font-weight: bolder;
    padding-left: 0.7rem;
  }

  .t_h_desc {
    width: 60%;
  }

  .t_h_month, .t_h_week {
    width: 20%;
    font-weight: bold;
  }

  @media (min-width: $desktop-medium * 1px) {
    min-height: 24.75rem;
  }

  @media (min-width: $desktop-large  * 1px) {
    min-height: 32.4rem;
  }
}


.assuredusedcarssubdomain{
  .usedcFinanceBox{


    @media (min-width: $desktop-medium * 1px) {
      min-height: 28.1rem;
      .heading1{
        margin-bottom: 1.5rem;
      }
      .line_row{
        margin-bottom: 1.5rem;
      }
      padding-bottom: 0.85rem;
    }

    @media (min-width: $desktop-large  * 1px) {
      min-height: 35.7rem;
      .heading1{
        margin-bottom: 2rem;
      }
      .line_row{
        margin-bottom: 1.5rem;
      }
      .terms_table{
        margin-top: 4rem;
      }
    }


  }
}