.usedcSearchBox{


  .used_search_wrapper{
    background-color: #1C2830; color: #fff;
    padding-top:1rem;
    padding-bottom: 1rem;
    @media (max-width:  $desktop-medium * 1px){
      padding-bottom: 3rem;
    }
    @media (max-width: 619px){
      padding-bottom: 2.5rem;
    }
  }

  .heading1{
    color: #fff;
    @media (max-width:  $desktop-medium * 1px){
      position: relative;
      top: -1.5rem;
    }
    @media (max-width:$mobile-large * 1px){
      top:0;
      position: static;
    }
  }


  .container_12{
    @media (min-width: $mobile-large * 1px) and (max-width:  $desktop-medium * 1px){
      width: 750px;
    }
  }

  .title1{
    color: #fff;
  }

  .select , input{
    min-height: 2.7rem;
    margin-bottom: 0.5rem;
  }
  .used_search_btn{
    height: 2.75rem;
    line-height: 2.75rem;
    display: block;
    > i{
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -0.5rem;
    }
  }

  .searchbox_action{
    .title1{
      @media (max-width: 619px){
        display: none;
      }
    }
  }


  //desktop version
  @media (min-width: $desktop-medium * 1px){

    position: absolute;
    top:70px;
    height: 680px;
    z-index: 5;

    width: 100%;
    margin: auto;

    .used_search_wrapper{
      background-color: rgba(#1C2830, 0.8);
      border-radius: 5px;
    }

    .center_wrapper{
      width: 970px;
      padding: 0 30px;
      margin: auto;
      box-sizing: border-box;
      position: relative;
      top:50%;
      transform: translateY(-50%);
    }

    .used_search_wrapper{
      width: 30%;
    }

    .container_12{
      width: 100%;
    }
    .grid_3{
      float:none;
      width: 100%;
    }
    .heading1{
      padding: 0;
      font-size: 1.7rem;
    }
    .section-title{
      margin-top: 0;
    }

    .select{
      margin-bottom: 0.5rem;
    }

    .searchbox_action{
      .title1{
        display: none;
      }
    }
  }


  @media (min-width: $desktop-large * 1px){
    .center_wrapper{
      width: 1170px;
    }
    .used_search_wrapper{
      width: 30%;
    }
    .heading1{
      padding: 0;
      font-size: 2rem;
    }
  }

}


//fix the title
.homepage_carousel .hero-content-text-wrapper{
  @media (min-width: $desktop-medium * 1px){
    width: 65%;
    margin-left: 35%;
    margin-top: 4rem;
    .heading1{
      line-height: 1.3em;
    }
  }
}



