{{#each CarDetails}}

<div class="used-car-carousel container_12">
    <div class="grid_12">
        <?php
        $images = '{{ImageUrls}}';
        if ($images != "null") {
            ?>
            <header class="header-container carousel">
                <div class="bg-image-hero assetWidthContain">
                    <div class="coverBG carousel-bg active" style="background-image: url(http://development.toyota.ie/inc/images/used_cars_header.jpg);" data-carousel-assets="<?php echo str_replace(',', '|', $images); ?>" data-carousel-thumbnails="<?php echo str_replace('.jpg', '_thumbnail.jpg', str_replace('/originals', '', str_replace(',', '|', $images))); ?>"></div>
                </div>
            </header>
        <?php } else { ?>
            <header class="header-container">
                <div class="bg-image-hero bg-image-hero-small ">
                    <div class="coverBG" style="background-image: url(http://development.toyota.ie/inc/images/used_cars_header.jpg);"></div>
                    <div class="hero-inner container_12 container_12_absolute center-text" style="padding-top: 3em;">
                        <h3 class="heading2">No Image Available</h1>
                    </div>
                </div>
            </header>
        <?php } ?>
    </div>
</div>
<div class="container_12">
    <div class="used-car-details">
        <div class="grid_6">
            <div class="name">
                <h1 class="heading1"><?php echo html_entity_decode ('{{Make}}');?>&nbsp;<span id="assuredmodel"><?php echo html_entity_decode ('{{Model}}');?></span></h1>
                <h2 class="heading2 padding"><?php echo html_entity_decode ('{{Variant}}');?></h2>
            </div>
        </div>
        <div class="grid_6">
            <div class="alignRight">
                <div class="price heading1">€<?php echo number_format(floatval('{{Price}}'), 0, '.', ','); ?></div>
                <?php if (strtolower('{{Make}}') == 'toyota') { ?>
                    <div class="status padding flex-quote-text">Or from as low as from just <span class='finance_price' rel='{{Model}}'>&nbsp;</span><br/>per month* with Flex Finance.</div>
                <?php } ?>
                <div class="status">Last updated on <?php echo date('D M j Y', strtotime('{{LastModifiedDate}}')); ?> </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="grid_6">

		<?php
                    $mileagekm='{{Mileage}}';
                    $mileagemiles=0.621371*$mileagekm;
		?>

            <!--            <div class="about">
                            <p>&nbsp;</p>
                        </div>-->
            <table class="data content-table">
		<tr>
                    <td>Engine</td>
                    <td>{{#if Engine}}<strong class="ussuredCarValue">{{Engine}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>{{#if Year}}<strong class="ussuredCarValue">{{Year}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Variant</td>
                    <td>{{#if Variant}}<strong class="ussuredCarValue">{{Variant}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Body Type</td>
                    <td>{{#if BodyType}}<strong class="ussuredCarValue">{{BodyType}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Colour</td>
                    <td>{{#if Colour}}<strong class="ussuredCarValue">{{Colour}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Doors</td>
                    <td>{{#if Doors}}<strong class="ussuredCarValue">{{Doors}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Fuel Type</td>
                    <td>{{#if FuelType}}<strong class="ussuredCarValue">{{FuelType}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Mileage</td>
                    <td>{{#if Mileage}}<strong class="ussuredCarValue"><?php echo number_format($mileagemiles, 0,"","") ?> M ({{Mileage}} Km)</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Owners</td>
                    <td>{{#if Owners}}<strong class="ussuredCarValue">{{Owners}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Registration Number</td>
                    <td>{{#if [Registration number]}}<strong class="ussuredCarValue">{{[Registration number]}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Transmission</td>
                    <td>{{#if Transmission}}<strong class="ussuredCarValue">{{Transmission}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{#if Category}}<strong class="ussuredCarValue">{{Category}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
        <tr>
                    <td>NCT Due Date</td>
                    <td>{{#if [NCT Due Date]}}<strong class="ussuredCarValue">{{[NCT Due Date]}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{#if Price}}<strong class="ussuredCarValue">€<?php echo number_format(floatval('{{Price}}'), 0, '.', ','); ?></strong>{{else}}Not Available{{/if}}</td>
                </tr>
            </table>
        </div>
        <div class="grid_6">

            <?php
            $cname = "{{[Contact Name]}}";
	    $dname = html_entity_decode ($cname);	
            $cnumber = "{{ContactNumber}}";
            $cemail = "{{ContactEmail}}";

            //echo $cname;
            //echo $cnumber;
            //echo $cemail;

            if (!($cname != '' && $cnumber != '')) {

                $cname = "";
                $cnumber = "{{../GenericSettings.[0].dealer_contact_number}}";
                $cemail = "{{../GenericSettings.[0].dealer_contact_email}}";
            }
            ?>
            <h3 class="heading3">Contact <?php echo $dname; ?> on 
                <br/><a href='tel:<?php echo $cnumber; ?>'><?php echo $cnumber; ?></a></h3>
            <div class="blocks">
                <div class="block SecContentContainer assuredContact" data-contenttype="ajax" data-name="Home Page" data-id="contactus">
                    <a href='/ajax/forms?carID={{carID}}' id='pane-contact' class='secContentTrigger'>
                        <div class="icon"><i class="icon icon-envelope-alt"></i></div>
                        <div class="text">
                            <div class="padding">
                                <h4 class="title">Send us a message</h4>
                                <p>Click here to send us a message</p>
                            </div>
                        </div>
                    </a>
                    <div class="clear"></div>
                </div>
                <?php if (strtolower('{{Make}}') == 'toyota') { ?>
                    <div class="block block-lc flex_finance_block assuredFlex">
                        <a href='http://finance.toyota.ie' target='_blank'>
                            <div class="icon"><i class="icon icon-car2"></i></div>
                            <div class="text">
                                <div class="padding">
                                    <h4 class="title">Flex Finance</h4>
                                    <p>Drive a brand new {{Model}} from just <span class='finance_price' rel='{{Model}}'>&nbsp;</span> per month* with Flex Finance. Get a quote online.</p>
                                </div>
                            </div>
                        </a>
                        <div class="clear"></div>
                    </div>
                <?php } ?>
                <div class="clear"></div>
            </div>
            <div class="features">
                <?php
                $features = '{{Features}}';
                $features = explode('#', $features);
                if (count($features) > 0) {
                    echo "<h3>Features</h3>";
                    echo "<div class='padding'>";
                    foreach ($features as $feature) {
                        echo '<p><span class="bull">&nbsp;&bull;</span>' . html_entity_decode($feature) . '</p>';
                    }
                    echo "</div>";
                }
                ?>
            </div>
            {{#if [Dealer cover]}}
            <div class="dealer-cover">
                <div class="image"><img src="http://development.toyota.ie/inc/images/icon_dealercover.png" alt=""></div>
                <div class="list">
                    <ul>
                        <li class="icon icon-ok">12 Month Unlimited Mileage Warranty</li>
                        <li class="icon icon-ok">24 Month/60,000km Warranty*</li>
                        <li class="icon icon-ok">Free 24 Hour Roadside Assistance</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            {{/if}}
        </div>
        <div class="clear"></div>
    </div>
</div>
{{/each}}
{{> socialtoolsprint}}
