<div id="services_microsite" class="">
	<div class="header_img">
		<img src="/assets/images/header.jpg" alt="toyota services " class="banner"/>
		<img src="/assets/images/logo.png" class="print"/>
	</div>
	{{#each content}}
	{{#each main}}
	{{#each header}}
	<div class="content-block services_header">
		<div class="container_12 clearfix padding">
			<div class="grid_12 center-text section-title">
				<h2 class="heading1 padding" >{{{header_title}}}</h2>
			</div>
		</div>
		<div class="container_12  clearfix">
			<div class="grid_2 hidden_before_l">&nbsp;</div>
			<div class="grid_8 intro-text center-text">
				<p>{{{header_body}}}</p>
			</div>
		</div> 
	</div>
	{{/each}}
	{{/each}}
	{{> services_form}}
	<div id="services_result" class="services_result disabled"></div>
	<div class="services_others">
		<div class="page-section content-block"  data-id="#{{sectionInpageId}}"  id="{{sectionInpageId}}">
			{{#with services.metaData.sections.1}}
			<?php
			$type = "{{{type}}}";
			if ($type === "promotions") {
				?>

				{{> promotions}}

			<?php } ?>
			{{/with}}
		</div>
	</div>
	<div class="page-section content-block dealers-list-section">
		<div class="container_12 clearfix">
			<div class="grid_12 center-text section-title">
				<h2 class="heading1 padding" >Toyota Dealers</h2>
			</div>
		</div>
		<div class="container_12 clearfix">
			<div class="grid_12 center-text">
				<div class="dealers_table table">
					<div class="thead">
						<div class="tr">
							<div class="dealer_name th">Name</div>
							<div class="dealer_address th">Address</div>
							<div class="dealer_phone th">Phone</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="tbody">
						<?php
						$json_dealers = file_get_contents("http://toyotasurvey.force.com/auc/AUC_Dealers_List");
						$dealer_list = json_decode($json_dealers);
						$ordered = Array();
						foreach ($dealer_list as $value) {
							$ordered[$value->Name] = $value;
						}
						ksort($ordered);
						foreach ($ordered as $key => $val) {
							?>
							<div class="tr">
								<div class="dealer_name td"><?php echo $val->Name; ?></div>
								<div class="dealer_address td"><?php
									$contact_us_email = $val->Address;
									echo trim(str_replace(",", ", ", $contact_us_email), ' ,;');
									?></div>
								<div class="dealer_phone td"><?php echo $val->Phone; ?></div>
								<div class="clearfix"></div>
							</div>
							<?php
						}
						?>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-section content-block choose-us"  data-id="#{{sectionInpageId}}"  id="{{sectionInpageId}}">
		<div class="container_12 clearfix">
			<div class="center-text section-title">
				<h2 class="heading1">Why Choose Us?</h2>
			</div>
			<div class="clearfix ">&nbsp;</div>
			{{#each main}}
			{{#each why_choose_us}}
			<div class="grid_4 center-text">
				<h3 class="heading3 padding"><a href="{{{link}}}">{{title}}</a></h3>
				<p>
					{{text}}
				</p>
				<span class="arrow_circle">
					<a class="icon icon-ok" href="{{{link}}}"></a>
				</span>
				<span class="print_link">
					<!--						<a class="icon icon-ok" href="{{{link}}}"></a>-->
				</span>
			</div>
			{{/each}}
			{{/each}}
		</div>
		<div class="container_12 clearfix print_only print_tc">
			<div class="grid_12" style="">
				<p class="question support" style="margin-top: 2em;border-top: 1px solid #f8f8f8;padding-top:2em;font-size: 10px"><strong>Terms &amp; Conditions</strong></p>
				<p class="light_text " style="font-size: 10px">Prices are correct as of November 1st 2015. Offers are only available at participating Authorised Toyota Dealers / Repairers. All prices shown are Recommended Retail Price, participating Authorised Toyota Dealers / Repairers can charge a lower price. Prices quoted are valid for 7 days from date of query. For more information please contact your local Authorised Toyota Dealer / Repairer. Toyota Ireland reserves the right in their absolute discretion to add to or waive any rule without prior notice to customers and, in the event of circumstances beyond their control, to cancel a service booking at any stage.
				</p>
			</div>

		</div>
	</div>
	{{> videos}}
	<div class="services_others">
		{{> cta_services}}
	</div>
	{{/each}}
</div>