{{#this}}
{{> submenu}}
{{#each main}}
{{#if image_header}}
{{> hero}}
{{else}}
{{#if generic_content_image_header}}
{{> hero}}
{{else}}
{{> header_small}}
{{/if}}
{{/if}}

<div class="container_12  body-content text-content clearfix">
	<div class="grid_12">
		<div class=" intro-text" >
			{{{single_page_intro}}}
			{{{generic_content_page_intro}}}
			{{{generic_content_intro_text}}}
		</div>
	</div>
</div>

{{#each paragraphs}}
{{> paragraphs}}
{{/each}}
{{#each generic_content_paragraph}}
{{> paragraphs}}
{{/each}}		
{{/each}}
{{> subarticles}}
{{/this}}


