<?php 
$modelTag="{{metaData.taggingModel}}";
$models=json_decode(@file_get_contents("http://development.toyota.ie/api/new-cars"),true);
//print_r($models);
$mod="";
$items=$models["modelrange"]["items"];
foreach($items as $item){
	if(isset($item["model"]) && isset($item["title"]) && $item["model"]==$modelTag){
		$mod=strtolower($item["title"]);
		break; 
	} 
}
?>
<div class="offer-remote-section">
	<div class="container_12">
		<div class="grid_12 center-text section-title">
			<h2 class="heading1">Special offer</h2>
		</div>
		<div class="grid_12 filter-bar no-js-hide">
			<div class="fb-inner">
				<ul class="fb-group fb-list">
					<li><a href="/pages/new-car-details/<?php echo ($mod!='')?str_replace(' ', '-', $mod).'/index.json':"";?>" class="fb-item uiBtn greyBtn" >Find more about <span><?php echo ($mod!='')?ucfirst($mod):"the Toyota Range";?><span></a></li>
					<li><a href="/pages/offers" class="fb-item uiBtn greyBtn" >View all promotions</a></li>
				</ul>
			</div>
		</div>
		<div class="padding">&nbsp;</div>
		<div class="grid_12 padding">
			<img class="fullwidth" src="{{metaData.promotion.largeImage}}" alt="<?php echo $mod;?> image" />
		</div>
	</div>
	<div class="container_12 ">
		<div class="grid_12 ">
			<h1 class="heading1 imageHeding"><?php echo html_entity_decode("{{metaData.promotion.title}}"); ?></h1>
			<span class="heading2"><?php echo html_entity_decode("{{metaData.promotion.subtitle}}"); ?></span>
		</div>
	</div>


	<div class=" container_12 content-block clearfix">
		<div class="grid_12 intro-text text-center">
			<?php echo html_entity_decode("{{metaData.promotion.intro}}"); ?>
		</div>
		<div class="offer-remote">
			<div class="grid_12 intro-text text-center">
				<span class="heading3 strong"><?php echo html_entity_decode("{{metaData.promotion.priceTag}}");?></span>
			</div>
			<div class="grid_12 intro-text text-center">
				<?php
				$dateStart = '{{metaData.promotion.from}}';
				$dateEnd = '{{metaData.promotion.until}}';
				?>
				<br/>
				<p class="terms">
					Valid from <?php echo date("F j, Y", strtotime($dateStart)); ?> to <?php echo date("F j, Y", strtotime($dateEnd)); ?>
				</p>
				{{#if metaData.promotion.disclaimer}}
				<p class="full-terms">
					<?php echo strip_tags(html_entity_decode("{{metaData.promotion.disclaimer}}")); ?>
				</p>
				{{/if}}
			</div>
		</div>
	</div>	

	{{#each metaData.promotion.sections}}
		{{#if type}}
			{{{dynpart type}}}
		{{else}}{{#if section}}
			{{#each section}}
				{{#if sectionParagraphs}}
					<div class="container_12  body-content">
						<div class="grid_12 padding">
							<span class="heading3 strong"><?php echo html_entity_decode("{{title}}"); ?></span>
						</div>
						{{#each sectionParagraphs}}
						{{#this}}
						<div class="grid_12 padding">
							<?php echo html_entity_decode("{{paragraph}}"); ?>
						</div>
						{{/this}}
						{{/each}}
					</div>
				{{/if}}
				{{#if items.[0].binary.url}}
					<div class="container_12  body-content">
						<div class="grid_12 padding-large">
							<img class="fullwidth" src="http://d1hu588lul0tna.cloudfront.net/toyotaone{{items.[0].binary.url}}" alt ="highlights design">
						</div>
					</div>
				{{/if}}
			{{/each}}
		{{/if}}{{/if}}
	{{/each}}




	{{#if metaData.relatedPromotions.[0]}}
	{{#with metaData.relatedPromotions}}
	<?php global $grid_6; $grid_6 = true ?>
	<div class="padding">&nbsp;</div>
	<div class="container_12 ">
		<div class="grid_12 ">
			<h2 class="heading2">Related offers</h2>
		</div>
	</div>
	<div class="container_12 content-block">
		{{> offers}}
	</div>
	{{/with}}
	{{/if}}


</div>

{{> socialtools }}




