/* =============================================================================
 * containers/grid
 * ========================================================================== */
@import "compass/css3";
.fluid {
	width: 100%;
	&.scroll {
		z-index: 9;
		position: relative;
	}
}
.col-xs-center {
	text-align: center;
}
.col-xs-12, .col-sm-12 {
	padding-bottom: 24px;
	iframe, img {
		max-width: 100%;
		margin: 0 auto;
	}
}
.row{
	&.nopadding {
		&.vertical{
			[class*="col-"] {
				padding-bottom: 0px;
				padding-top: 0px;
			}
		}
		&.horizontal{
			[class*="col-"] {
				padding-bottom: 0px;
				padding-top: 0px;
			}
		}
	}
}

#pagecontent {
	margin-top: $margin-pagecontent-xs;
	&.nomargin{
		margin-top:0px !important;
	}
}

#nav-secondary-level + #pagecontent .section-title {
	margin-top: 45px;
}

.maincontent {
	width: 100%;
	section {
		padding-top: 20px;
		clear: both;
	}
	h1 {
		//margin: 0 10px;
	}
	ul {
		font-family: $font-toyota-text-regular;
		font-size: $font-size-base;
	}
	table {
		font-family: $font-toyota-text-regular;
		font-size: $font-size-base;
		line-height: _em(20px);
		color: $colour-default-grey-2;
	}
}

// tablet specific
@media (min-width: $screen-sm) {
	.car-chapter #pagecontent {
		margin-top: 116px;
	}
	#pagecontent {
		margin-top: 56px;
	}
}

// desktop specific
@media (min-width: $screen-md) {
	.col-xs-center {
		text-align: left;
	}
	.col-xs-12 {
		&.col-sm-3, &.col-sm-6, &.col-md-6 {
			img {
				width: 100%;
			}
			iframe {
				width: 100%;
			}
		}
	}
	.row {
		padding-bottom: $padding-bottom-row;
	}
	#pagecontent {
		margin-top: $height-navbar-top-md;
	}

	#nav-secondary-level + #pagecontent .section-title {
		margin-top: 80px;
	}

	.car-chapter, .article {
		#pagecontent {
			margin-top: $height-navbar-top-md-2l;
		}
		#nav-secondary-level {
			display: block !important;
		}
	}
	.maincontent {
		section {
			padding-top: 40px;
		}
	}
}

//fix for lack of border for .btn class on ie8 and ie9
.lt-ie9{
	.btn{
		border: 1px solid $colour-paragraph-border;
	}
}
.eq-ie9{
	overflow-x: hidden;
	#pagecontent{
		width: 100%;
	}
	.btn{
		border: 1px solid $colour-paragraph-border;
	}
	.mobile-compare{
		display: none;
	}
	#hybrid-spotlights{
		.row{
			.spotlight{
				p{
					strong{
						display: block;
						margin-right: 0;
					}
				}
			}
		}
	}
}

@media (min-width: $screen-lg) {
	#pagecontent {
		//@include box-shadow(inset 0 1px 250px rgba(108,112,115,.3));
		@include box-shadow(250px 0 190px -250px rgba(108,112,115,.3) inset, -250px 0 190px -250px rgba(108,112,115,.3) inset);
	}
}