$logo-sprite-dimensions: true;
$logo-layout: vertical;
@import "logo/*.png";
@include all-logo-sprites;

$sprite-sprite-dimensions: true;
$sprite-layout: smart;
@import "sprite/*.png";
@include all-sprite-sprites;

$star-sprite-dimensions: true;
$star-layout: vertical;
@import "star/*.png";
@include all-star-sprites;

$bigStar-sprite-dimensions: true;
$bigStar-layout: vertical;
@import "bigStar/*.png";
@include all-bigStar-sprites;

$social-sprite-dimensions: true;
$social-layout: vertical;
@import "social/*.png";
@include all-social-sprites;