<div class="form_container">
	<form action="/forms/formsubmit?action=contactus" method="POST" id="contactusform" class="contactform">
		<input type=hidden name="oid"				id="oid"					value="00Db0000000HWqf">
		<?php if (isset($_GET["dealer"])) { ?>
			<input type=hidden name="00Nb0000002AKok"	id="dealer"	 value="<?= filter_input(INPUT_GET, 'dealer', FILTER_SANITIZE_SPECIAL_CHARS) ?>">
		<?php } ?>
		<input type="hidden" name="XID" value="{XID_HASH}" />
		<div class="container_12">
			<div class="grid_12 header">
				<h2>Contact Us</h2>
				<span class="intro">We always aim to offer you on our website comprehensive and up to date information. If you still have unanswered questions, wish to offer suggestions or criticism, feel free to contact us.</span>
			</div>
		</div>

		<div class="container_12 nop">
			<div class="grid_6 nop">
				<div class="container_12">
					<div class="grid_6">
						<h4 class="title1">Salutation &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
						<div class="select">
							<div class="value"></div>
							<i class="icon icon-chevron-down"></i>
							<select name="00Nb0000002Xysn" id="salutation" data-validation="select">
								<option value="no_selection">...</option>
								<option value="Dr">Dr</option>
								<option value="Mr">Mr</option>
								<option value="Ms">Ms</option>
							</select>
						</div>
					</div>
				</div>
				<div class="container_12">
					<div class="grid_6">
						<h4 class="title1">First Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
						<input  id="first_name" maxlength="40" name="00Nb0000002Xysj"  type="text" placeholder="Name" data-validation="required"/>
					</div>
					<div class="grid_6">
						<h4 class="title1">Last Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
						<input  id="last_name" maxlength="80" name="name"  type="text" placeholder="Surname" data-validation="required"/>
					</div>
				</div>
				<div class="container_12 ">
					<div class="grid_6">
						<h4 class="title1">Phone &nbsp;&nbsp; <i class="icon icon-phone"></i></h4>
						<input  id="phone" maxlength="14" name="phone"  type="text" placeholder="Phone Number" data-validation="number"/>
					</div>
					<div class="grid_6">
						<h4 class="title1">Mobile &nbsp;&nbsp; <i class="icon icon-phone"></i></h4>
						<input  id="mobile" maxlength="14" name="00Nb0000002Xysl"  type="text" placeholder="Mobile Number" data-validation="number"/>
					</div>
				</div>
				<div class="container_12 extraspace">
					<div class="grid_12">
						<h4 class="title1">Email &nbsp;&nbsp; <i class="icon icon-envelope-alt"></i></h4>
						<input  id="email" maxlength="80" name="email"  type="text" placeholder="your@email.com" data-validation="email"/>
					</div>
				</div>
			</div>
			<div class="grid_6 nop">
				<div class="container_12">
					<div class="grid_6">
						<h4 class="title1">City &nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
						<input  id="city" maxlength="40" name="00Nb0000002Xyso" type="text" placeholder="" data-validation="required"/>
					</div>
					<div class="grid_6">
						<h4 class="title1">County &nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
						<div class="select">
							<div class="value">Please choose:</div>
							<i class="icon icon-chevron-down"></i>
							{embed="components/state" required="true"}
						</div>
					</div>
				</div>
				<div class="container_12 extraspace">
					<div class="grid_12">
						<h4 class="title1">Address&nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
						<input  id="address_line_1"  name="00Nb0000002Xysp" type="text" data-validation="required"/>
					</div>
					{!--<div class="grid_12">
						<input  id="address_line_2"  name="address_line_2" type="text" />
					</div>--}
				</div>

			</div>
		</div>

		<div class="container_12 extraspace">
			<div class="grid_12">
				<h4 class="title1">Message </h4>
				<?php 
				$content="";
				if (isset($_GET["carID"])) {
					$carID=$_GET["carID"];
					$carData=json_decode(@file_get_contents('{insecure_site_url}/api/assured-used-car-details/'.$carID));
					$carData=$carData->CarDetails[0];
					$car=$carData->Year." ".$carData->Make." ".$carData->Model." ".$carData->Engine." ".$carData->Doors." DOOR ".$carData->BodyType;
					$content="Car Being Enquired About: ".$car;
				?>
				<input name="Car Request" type="hidden" id="Car Request" value="<?php echo $car; ?>">
				<input name="00Nb0000009XH5t" type="hidden" id="CarID" value='<?php echo $carID; ?>'>
				<input type="hidden" value="012b0000000aZax" name="recordType">
				<?php
				}?>
				<textarea id="query"  name="description"  placeholder="leave your message here."><?php echo $content;?></textarea>
			</div>
		</div>

		{!--{embed="components/dataprotection"}--}
		{embed="components/submit"}
	</form>
	<div class="container_12 form_thanks">
		<div class="grid_12 header">
			<?php 
			if (isset($_GET["carID"])) {?>
				<h2>Thank you for your interest in Toyota. The Toyota Dealer you emailed has now received your request and shall reply as soon as possible.</h2>
				<span class="intro"></span>
			<?php } else {?>
				<h2>Thank you for your interest in Toyota. A customer service representative will respond to your query as soon as possible.</h2>
				<span class="intro">Please don’t hesitate to contact us during working hours on 01 4190200. Thank you.</span>
				<?php }?>		
		</div>
	</div>
</div>

