<?php
header('Access-Control-Allow-Origin: *');
?>
{header_auc}
		<?php
		$currentTab = (isset($_GET["tab"])) ? $_GET["tab"] : "pane-contact";
		$form = (isset($_GET["form"])) ? $_GET["form"] : false;

		global $dealer, $model;
		if(isset($_GET["model"])) $model = $_GET["model"];
		if(isset($_GET["dealer"])) $dealer = $_GET["dealer"];

		if (!$form) { ?>
			<nav class="toyota-tabs-select container form_nav">
				<div class="container_12 clearfix">
					<div class="grid_12">
						<span class="form_nav_item tabtrigger"  data-tab="pane-contact-tab">Contact us</span>
						<span class="form_nav_item tabtrigger"  data-tab="pane-brochure-tab">Request a brochure</span>
						<span class="form_nav_item tabtrigger"  data-tab="pane-test-drive-tab">Arrange a test drive</span>
						<span class="form_nav_item tabtrigger"  data-tab="pane-newsletter-tab">Newsletter Subscription</span>
					</div>
				</div>
			</nav>
			<div class="" id="form_tabs">
				<div class="tabContent" id="pane-test-drive-tab">
					{embed="forms/bookatestdrive"}
				</div>
				<div class="tabContent" id="pane-contact-tab">
					{embed="forms/contactus"}
				</div>
				<div class="tabContent" id="pane-brochure-tab">
					{embed="forms/brochure"}
				</div>
				<div class="tabContent" id="pane-newsletter-tab">
					{embed="forms/newsletter"}
				</div>
			</div>
			<?php
		} else {
			?>
				<div class="padding-top-large">
					{embed="forms/<?php echo $form;?>"}
				</div>
			<?php
		}
		?>
		<script src="http://development.toyota.ie/inc/js/libs.js"></script>
        <script src="http://development.toyota.ie/inc/js/main.js"></script>
		<!--[if lt IE 9]> <script src="http://development.toyota.ie/inc/js/ie8.js"></script> <![endif]-->
		<?php if (!$form) { ?>
			<script type="text/javascript">
				if ($(".tabtrigger").length > 0) {
					var $currentTab = $("#<?= $currentTab ?>-tab");
					var $currentControl = $(".tabtrigger[data-tab='<?= $currentTab ?>-tab']");
					$currentControl.addClass("active");
					$currentTab.show();

					$('.tabtrigger').click(function () {
						$currentControl.removeClass("active");
						$(this).addClass("active");
						var id = $(this).data("tab");
						var $nextTab = $("#" + id);
						$currentTab.hide();
						$nextTab.show();
						$currentTab = $nextTab;
						$currentControl = $(this);
					});
				}
			</script>
		<?php } ?> 
	</body>
</html>