



<div class="result<?php echo $class; ?>" data-date="'+Year+'" data-price="'+Price+'" data-mileage="'+Mileage+'">
	<div class="image"><a href="/pages/assured-used-car-details/'+carID+'"><img src="<?php echo $thumbnail; ?>" alt="'+carID+'"></a></div>
	<div class="content">
		<div class="padding">
			<h5><a href="/pages/assured-used-car-details/'+carID+'"><span>'+Make+' '+Model+'<br/>'+Variant+'</span></a></h5>
			<div class="details cardetails">
				'+#if Year+'<span><span class="year ussuredCarValue" >'+Year+'</span></span>'+/if+'
				'+#if Mileage+'<span><span class="bull">&nbsp;&bull;</span> <span class="mileage ussuredCarValue" ><?php echo number_format((double) "'+Mileage+'", 0, ".", ","); ?>km</span></span>'+/if+'
				<br/>
				'+#if FuelType+'<span><span class="ussuredCarValue">'+FuelType+'</span></span>'+/if+'
				'+#if Colour+'<span><span class="bull">&nbsp;&bull;</span> <span class="ussuredCarValue">'+Colour+'</span></span>'+/if+'
				'+#if Transmission+'<span><span class="bull">&nbsp;&bull;</span> <span class="ussuredCarValue">'+Transmission+'</span></span>'+/if+'
			</div>
			<div class="clear"></div>
		</div>

		<div class="price" >'+price+'</div>

		<a href="/pages/assured-used-car-details/'+carID+'" class="uiBtn redBtn hasIcon hasIconRight smBtn view-car">
			<span>View car</span>
			<i class="icon icon-chevron-right"></i>
		</a>
	</div>
	<div class="clear"></div>
</div>
