{header_allthings}

	<div class="section section-red">
		<div class="container_12">
			<div class="grid_8 centered center-text padding">
				<h1 class="caps">All things awards</h1>
				<p>To the giants, jugglers, soothers and smoothers. To the saints, the shapers and the memory makers. These awards are for the people all over Ireland who are more than they&nbsp;seem.</p>
				<br>
				<div class="logo logo_badge"><img src="assets/images/logo_badge.png" alt="Smiley rosette"></div>

				<h3 class="hashtag">#AllThingsToAllPeople</h3>
				<div class="icons">
					<i class="icon icon-twitter"></i>
					<i class="icon icon-facebook"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container_12">
			<div class="padding">
				<div class="grid_8 centered center-text">
					<h2>One sentence to make someone's day</h2>
					<p class="intro">The people we care about the most are always the ones we forget to tell. So these little awards have been created to let them how important they are to us. Just enter the name of your nominee, why they deserve their award and some of the best will get a prize&nbsp;(or&nbsp;two).</p>
				</div>
				<br><br>
				<div class="grid_8 centered">
					<div id="comp-frame">
						{embed="components/nomination_form"}
					</div>
				</div>
			</div>
		</div>
	</div>
	{embed="components/header_video" image_url="photo_work.jpg" youtube_id="EToCdo3bX1M"}
	<div class="section">
		<div class="container_12 padding">
			<div class="grid_10 centered center-text section-top">
				<div class="logo rosette">
					<div class="main"><img src="assets/images/rosette_empty.png" alt="Rosette"></div>
					<div class="text"><img src="assets/images/rosette_text_believer.png" alt="A Believer"></div>
				</div>
				<h2 class="nomination-quote">"I’m nominating my Dad, Marty, as he’s much more than just a&nbsp;Dad."</h2>
				<h4>- Cian Corbett</h4>
			</div>
			<div class="grid_6 right">
				<img class="image" src="assets/images/photo_cian.jpg" alt="Cian">
			</div>
			<div class="grid_6">
				<h5>Cian Corbett’s All Things Awards Nominee</h5>
				<p class="small">I’m nominating my Dad, Marty, as he’s much more than just a Dad. He’s believed in me and my music all my life! When I was just 6 he gave me my first Beatles cassette and they’ve been a huge influence all through my life. And my Dad didn’t stop there.</p>
				<p class="small">He not only drove me to my piano lessons, he bought me my first guitar and put up with 15 years of bad trumpet playing! Thanks for being #AllThingstoAllPeople&nbsp;Marty!</p>
				<a href="#comp-frame" rel="scrollToComp" class="uiBtn redBtn hasIcon">
					<span class="text">Enter the All Things Awards</span><i class="icon icon-chevron-right"></i>
				</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{embed="components/socialtools"}
	{embed="components/header_video" image_url="photo_carry.jpg" youtube_id="EToCdo3bX1M"}
	<div class="section">
		<div class="container_12 padding">
			<div class="grid_10 centered center-text section-top">
				<div class="logo rosette">
					<div class="main"><img src="assets/images/rosette_empty.png" alt="Rosette"></div>
					<div class="text"><img src="assets/images/rosette_text_supporter.png" alt="A Supporter"></div>
				</div>
				<h2 class="nomination-quote">"I’m nominating Mammy Howlin as my supporter as she is always there to help me do&nbsp;everything"</h2>
				<h4>- Leonie Howlin</h4>
			</div>
			<div class="grid_6">
				<img class="image" src="assets/images/photo_leonie.jpg" alt="Leonie">
			</div>
			<div class="grid_6">
				<h5>Leonie Howlin’s All Things Awards Nominee</h5>
				<p class="small">I’m nominating Mammy Howlin as my supporter as she is always there to help me do everything, I’d forget my head if it wasn’t screwed on and she is always there to keep me on track! She is best mammy in the whole world and she deserves a nice relaxing weekend away at a spa&nbsp;somewhere!</p>
				<a href="#comp-frame" rel="scrollToComp" class="uiBtn redBtn hasIcon">
					<span class="text">Enter the All Things Awards</span><i class="icon icon-chevron-right"></i>
				</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{embed="components/socialtools"}
	{embed="components/header_video" image_url="photo_girl.jpg" youtube_id="EToCdo3bX1M"}
	<div class="section">
		<div class="container_12 padding">
			<div class="grid_10 centered center-text section-top">
				<div class="logo rosette">
					<div class="main"><img src="assets/images/rosette_empty.png" alt="Rosette"></div>
					<div class="text"><img src="assets/images/rosette_text_memorymaker.png" alt="Giant"></div>
				</div>
				<h2 class="nomination-quote">"James is my little memory maker, from the day he was&nbsp;born."</h2>
				<h4>- Jim McDevitt</h4>
			</div>
			<div class="grid_6 right">
				<img class="image" src="assets/images/photo_jim.jpg" alt="Jim">
			</div>
			<div class="grid_6">
				<h5>Jim McDevitt’s All Things Awards Nominee</h5>
				<p class="small">James is my little memory maker, from the day he was born. My father James was sick at the time and so named James after him. From the day he’s arrived he’s cheered the whole family up and became the centre of our world. He’s made me laugh, frustrated the hell out of me, kept me up at night worrying and because he won’t just go to sleep. But he has given me just wonderful memories for being a dad but also his protector, his entertainer, his teacher and his rugby&nbsp;buddy!</p>
				<p class="small">He loves his superheros and torturing his little sister Lily, but mostly it’s all about Batman in this house, he’s at that wonderful stage where he entertains himself for hours fighting the bad guys. He loves Batman because he doesn’t have any super powers so he thinks even Daddy could be Batman with the right&nbsp;outfit.</p>
				<a href="#comp-frame" rel="scrollToComp" class="uiBtn redBtn hasIcon">
					<span class="text">Enter the All Things Awards</span><i class="icon icon-chevron-right"></i>
				</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{embed="components/socialtools"}
{footer_allthings}


