<?php
global $dealer_email_list;
$dealer_email_list = (isset($_GET["dealer"])) ? filter_input(INPUT_GET, 'dealer', FILTER_SANITIZE_SPECIAL_CHARS) : false;
$json_dealers = file_get_contents("http://toyotasurvey.force.com/apo/APO_Dealers_List");
$dealer_list = json_decode($json_dealers);
$ordered = Array();
foreach ($dealer_list as $value) {
	$ordered[$value->dealerId] = $value->Name;
}
asort($ordered);
?>
<select id="dealer" name="00Nb0000002AKok" title="Dealer Lookup" data-validation="select">
	<option value="no_selection">...</option>
	<?php	
	foreach ($ordered as $key => $val) {
		echo "<option value='$key'>$val</option>";
	}
	?>
</select>