<?php
global $dealer_email_list;
$dealer_email_id = (isset($_GET["dealer"])) ? filter_input(INPUT_GET, 'dealer', FILTER_SANITIZE_SPECIAL_CHARS) : false;
$json_dealers = file_get_contents("http://toyotasurvey.force.com/apo/APO_Dealers_List");
$dealer_list = json_decode($json_dealers);
$ordered = Array();
foreach ($dealer_list as $value) {

	$ordered[$value->Name] = array(
			"email" => $value->Service_department_email,
			'id' =>  $value->dealerId
	);

}
ksort($ordered);

$dealer_id = (isset($_GET["dealer"])) ? filter_input(INPUT_GET, 'dealer', FILTER_SANITIZE_SPECIAL_CHARS) : false;
?>
<input type="hidden" name="00Nb0000002AKok" value="<?php echo $dealer_id; ?>" id="00Nb0000002AKok">
<select id="dealer_custom" name="dealer_email" title="Dealer Lookup" data-validation="select" disabled>

	<?php
	foreach ($ordered as $key => $val) {
		$email = $val["email"];
		$id = $val["id"];
		if($dealer_id){
			$selected = ($id == $dealer_id);
			if($selected){
				echo "<option value='$email' data-dealer-id='$id' selected>$key</option>";
			}
		}
	}
	?>
	<!--	<option value="jerez.m82@gmail.com">Createch</option>-->

</select>



