<?php
global $model;
$selected_model = (isset($_GET["model"])) ? filter_input(INPUT_GET, 'model', FILTER_SANITIZE_SPECIAL_CHARS) : false;
$json_cars = file_get_contents("{insecure_site_url}/api/new-cars");
$cars_list = json_decode($json_cars)->modelrange->items;
$brochured ="{embed:brochure}";
?>
<select name="00Nb0000002AKoc" id="model" <?php if($brochured=='yes') echo 'class="data-other brochure-pdf error"';?> data-validation="select">
	<option value="no_selection">...</option>
	<?php
	foreach ($cars_list as $car) {
		$model = $car->title;
		$selected='';
		$brochure='';
		if($brochured=='yes'){
			$brochure='data-other='.str_replace(' ','-',$model).'.pdf';
		}
		if(strtolower($selected_model)==strtolower($model)) $selected='selected';
		if($model=="New 2015 Avensis"){
			$model="New Avensis";
		}
		if("latest offers" !== strtolower($model)){
			echo "<option value='$model' $brochure $selected>$model</option>";
		}
	}
	?>
</select>

