.overlayerWrapper {
//	@include hardware-acceleration();
	width: 100%;
	height: 100%;
	margin-left: 100%;
	background-color: $colour-default-grey-1;
	overflow: hidden;
	position: fixed;
	//position: absolute;
	top: 0;
	z-index: $pageoverlayer-zindex;
	-ms-touch-action: none;

	&.white {
		background-color: $colour-default-white;
		.overlayerContent {
			background-color: $colour-default-white;
		}
	}
	/*mobile portrait mode*/
	&.portrait {
		.overlayerContent {
			margin-top: $pageoverlayer-toolbarsize-mobile;
			.page-overlayer-mobile-back{
				margin: 24px 11px 0;
			}
		}
		.toolbar {
			height: $pageoverlayer-toolbarsize-mobile;
			.close-icon {
				width: $pageoverlayer-toolbarsize-mobile;
				top: 0;
				right: 0;
				border-left: 1px solid $colour-default-white;
			}
			.btn-back {
				top: 0;
				right: 0;
				.btn-graphic {
					position: absolute;
					top: 10px;
					left: 10px;
					width: $pageoverlayer-toolbarsize-mobile - 20;
					height: $pageoverlayer-toolbarsize-mobile - 20;
					line-height: $pageoverlayer-toolbarsize-mobile - 20;
					padding-top: 1px;
				}
			}
			.close-link {
				width: 100%;
			}
			.back-text {
				right: 78px;
				top: 0px;
				padding-top: 20px;
			}
		}
	}
	/*mobile landscape & desktop mode*/
	&.landscape, &.desktop {
		.overlayerContent {
			margin-left: $pageoverlayer-toolbarsize-mobile;
		}
		.toolbar {
			width: $pageoverlayer-toolbarsize-mobile;
			.close-icon {
				width: $pageoverlayer-toolbarsize-mobile;
				bottom: 0;
				left: 0;
				border-top: 1px solid $colour-default-white;
			}
			.btn-back {
				bottom: 0;
				left: 0;
				.btn-graphic {
					position: absolute;
					top: 12px;
					left: 12px;
					width: $pageoverlayer-toolbarsize - 26;
					height: $pageoverlayer-toolbarsize - 26;
					line-height: $pageoverlayer-toolbarsize - 26;
				}
			}
			.close-link {
				height: 100%;
			}
			.back-text {
				@include rotate(270deg);
				bottom: 45px;
				left: 19px;
				padding-left: 20px;
				transform-origin: 0 0 0;
				-webkit-transform-origin: 0 0 0;
				-ms-transform-origin: 0% 0%;
				-o-transform-origin: 0 0 0;
			}
		}
	}
	/*overlayer is opened as inpage overlayer*/
	&.inpage {
		z-index: $pageoverlayer-inpage-zindex;
		.overlayerContent {
			margin-top: $margin-pagecontent-xs;
			margin-left: 0;
			overflow-y: visible;
			background-color: $colour-default-white;
		}
	}
	.overlayerContent {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		&.no-scroll {
			overflow: hidden;
		}
		.youtubeWrapper {
			width: 100%;
			height: 100%;
			position: absolute;
			iframe {
				width: 100%;
				height: 100%;
			}
		}
		.white {
			width: 100%;
			min-height: 100%;
			//height: 100%;
			background-color: $colour-default-white;
		}
	}
	iframe {
		display: block;
		//min-height: 100%;
		background-color: $colour-default-white;
		-webkit-overflow-scrolling: touch;
	  	position: absolute;
	  	left: 0;
	  	top: 0;
	  	bottom: 0;
	  	right: 0;
	}
	.toolbar {
		float: left;
		z-index: $pageoverlayer-toolbar-zindex;
		top: 0 px\9;
		bottom: 0 px\9;
		left: 0 px\9;
		text-align: center;
		a {
			&:hover {
				cursor: pointer;
				span {
					color: $colour-btn-red-2;
				}
				text-decoration: none;
				.btn-back {
					.btn-graphic {
						background-image: none;
						background-color: #ffffff
					}
				}
			}
		}
		span {
			color: $colour-default-white;
		}
		.close-icon {
			display: block;
			@include font-size(20);
			padding: 14px 0;
			position: absolute;
			text-align: center;
		}
		.btn-back {
			position: absolute;
			display: block;
			width: $pageoverlayer-toolbarsize-mobile;
			height: $pageoverlayer-toolbarsize-mobile;

			.btn-graphic {
				position: relative;
				display: table-cell;
				vertical-align: middle;
				padding-top: 2px;
				text-align: center;
				@include font-size(20);
				background-color: #e9eaec;
				background-image: linear-gradient(180deg, #fff 0%, #e9eaec 100%);
				@include border-radius(3px);
			}
		}
		.back-text {
			display: block;
			font-family: toyotatext_rg;
			@include font-size(15);
			position: absolute;
			text-align: left;
			white-space: nowrap;
		}
		.close-link {
			display: block;
			position: fixed;
			//position: absolute;
			.logo-logo-lvl2 {
				background-position: 0 -1075px;
				height: 58px;
				width: 72px;
			}
		}
	}
	.video-js {
		background-color: $colour-default-grey-1;
	}
	.posterWrapper {
		.sprite-videoplayer-start-button {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -30px -43px;
			z-index: 1;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

@media (max-height: 300px) {
	.overlayerWrapper {
		.toolbar {
			.back-text {
				font-size: 0.5em;
			}
		}
	}
}

@media (min-width: $screen-sm) {
	.overlayerWrapper {
		.container {
			width: $container-sm - $pageoverlayer-toolbarsize;
		}
		&.desktop {
			.overlayerContent {
				margin-left: $pageoverlayer-toolbarsize;
			}
			.toolbar {
				width: $pageoverlayer-toolbarsize;
				.back-text {
					left: 21px;
					@include font-size(18);
				}
				.close-icon {
					width: $pageoverlayer-toolbarsize;
					@include font-size(30);
				}
				.btn-back {
					width: $pageoverlayer-toolbarsize;
					height: $pageoverlayer-toolbarsize;
					.btn-graphic {
						@include font-size(30);
					}
				}
				.logo-logo-lvl2 {
					//background-position: 0 -297px;
					height: 70px;
					width: $pageoverlayer-toolbarsize;
				}
			}
		}
	}
}

@media (min-width: $screen-md) {
	.overlayerWrapper .container {
		width: $container-md - $pageoverlayer-toolbarsize;
	}
}

@media (min-width: $screen-lg) {
	.overlayerWrapper .container {
		width: $container-lg - $pageoverlayer-toolbarsize;
	}
}

//IE9 fixes
.lt-ie9 {
	.overlayerWrapper {
		.toolbar {
			.back-text {
				filter: progid:DXImageTransform.Microsoft.Matrix(M11=-0.00000000, M12=1.00000000, M21=-1.00000000, M22=-0.00000000, sizingMethod='auto expand');
				-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=1.00000000, M21=-1.00000000, M22=0.00000000,sizingMethod='auto expand')";
				bottom: 545px; /* IE8 calculates de thingy wrong */
				width: 500px;
			}
		}
	}
}