{{#each CarDetails}}
<div class="used-car-carousel container_12">
    <div class="grid_12">
		<?php
		$images = '{{ImageUrls}}';
		if ($images != "null") {
			?>
			<header class="header-container carousel">
				<div class="bg-image-hero assetWidthContain">
                    <div class="coverBG carousel-bg active" style="background-image: url(http://usedcarstest.lexus.ie/assets/images/used_cars_header.jpg);" data-carousel-assets="<?php echo str_replace('http:','https:',str_replace(',', '|', $images)); ?>" data-carousel-thumbnails="<?php echo str_replace('http:','https:',str_replace('.jpg', '_thumbnail.jpg', str_replace('/originals', '', str_replace(',', '|', $images)))); ?>"></div>
				</div>
			</header>
		<?php } else { ?>
			<header class="header-container">
				<div class="bg-image-hero bg-image-hero-small none">
					<div class="coverBG" style="background-image: url(http://usedcarstest.lexus.ie/assets/images/used_cars_header.jpg);"></div>
					<div class="hero-inner container_12 container_12_absolute center-text" style="padding-top: 3em;">
						<h3 class="heading2">No Image Available</h3>
					</div>
				</div>
			</header>
		<?php } ?>
    </div>
</div>
<div class="container_12">
    <div class="used-car-details">
        <div class="grid_6">
            <div class="name">
                <h1 class="heading1"><?php echo html_entity_decode('{{Make}}'); ?>&nbsp;<span id="assuredmodel"><?php echo html_entity_decode('{{Model}}'); ?></span></h1>
                <h2 class="heading2 padding"><?php echo html_entity_decode('{{Variant}}'); ?></h2>
            </div>
        </div>
        <div class="grid_6">
            <div class="alignRight">
                <div class="price heading1">€<?php echo number_format(floatval('{{Price}}'), 0, '.', ','); ?></div>
				<?php if (strtolower('{{Make}}') == 'toyota') { ?>
					<div class="status padding flex-quote-text">Or from as low as from just <span class='finance_price' data-rel='{{Model}}'>&nbsp;</span><br/>per month* with Flex Finance.</div>
				<?php } ?>
                <div class="status">Last updated on <?php echo date('D M j Y', strtotime('{{LastModifiedDate}}')); ?> </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="grid_6">
			<?php
			$mileagekm = '{{Mileage}}';
			$mileagemiles = 0.621371 * $mileagekm;
			?>
            <!--            <div class="about">
                            <p>&nbsp;</p>
                        </div>-->
            <table class="data content-table">
				<tr>
                    <td>Engine</td>
                    <td>{{#if Engine}}<strong class="ussuredCarValue">{{Engine}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>{{#if Year}}<strong class="ussuredCarValue">{{Year}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Variant</td>
                    <td>{{#if Variant}}<strong class="ussuredCarValue">{{Variant}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Body Type</td>
                    <td>{{#if BodyType}}<strong class="ussuredCarValue">{{BodyType}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Colour</td>
                    <td>{{#if Colour}}<strong class="ussuredCarValue">{{Colour}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Doors</td>
                    <td>{{#if Doors}}<strong class="ussuredCarValue">{{Doors}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Fuel Type</td>
                    <td>{{#if FuelType}}<strong class="ussuredCarValue">{{FuelType}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Mileage</td>
                    <td>{{#if Mileage}}<strong class="ussuredCarValue"><?php echo number_format($mileagemiles, 0, "", "") ?> M ({{Mileage}} Km)</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Owners</td>
                    <td>{{#if Owners}}<strong class="ussuredCarValue">{{Owners}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Registration Number</td>
                    <td>{{#if [Registration number]}}<strong class="ussuredCarValue">{{[Registration number]}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Transmission</td>
                    <td>{{#if Transmission}}<strong class="ussuredCarValue">{{Transmission}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{#if Category}}<strong class="ussuredCarValue">{{Category}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
				<tr>
                    <td>NCT Due Date</td>
                    <td>{{#if [NCT Due Date]}}<strong class="ussuredCarValue">{{[NCT Due Date]}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{#if Price}}<strong class="ussuredCarValue">€<?php echo number_format(floatval('{{Price}}'), 0, '.', ','); ?></strong>{{else}}Not Available{{/if}}</td>
                </tr>
            </table>
			<?php	
				$featuresText = '{{Features}}';
				$features = explode('#', $featuresText);
				if (count($features) > 0 && $featuresText) {
					?>
<!--					<iframe class="car_deatails_video" width="560" height="315" src="//www.youtube.com/embed/CnpBgOo-ew0"  allowfullscreen></iframe>-->
					<?php
				}
			?>
			
        </div>
        <div class="grid_6 info_blocks">

            <div class="features">
                <?php
                if (count($features) > 0 &&  $featuresText) {
                    echo "<h3>Additional Features</h3>";
                    echo "<div class='padding'>";
                    foreach ($features as $feature) {
                        echo '<p>' . html_entity_decode($feature) . '</p>';
                    }
                    echo "</div>";
                }else {
                    ?>
                    <!--					<iframe class="car_deatails_video" width="560" height="315" src="//www.youtube.com/embed/CnpBgOo-ew0" allowfullscreen></iframe>-->
                    <?php
                }
                ?>
            </div>

            <!-- CONTACT FORM -->

			<?php
			$cname = "{{[Contact Name]}}";
			$dname = html_entity_decode($cname);
			$cnumber = "{{ContactNumber}}";
			$cemail = "{{ContactEmail}}";

			//echo $cname;
			//echo $cnumber;
			//echo $cemail;

			if (!($cname != '' && $cnumber != '')) {

				$cname = "";
				$cnumber = "{{../GenericSettings.[0].dealer_contact_number}}";
				$cemail = "{{../GenericSettings.[0].dealer_contact_email}}";
			}
			?>
            <div class="blocks">
                <h3 class="heading3">Contact <?php echo $dname; ?></h3>
                <div class="contact_button">
                    <a href="/forms?form=contactus&carID={{carID}}&dealer={{{DealerId}}}" class="uiBtn greyBtn hasIcon hasIconRight popupwindow">
                        <span class="text">ENQUIRE ABOUT THIS VEHICLE</span>
                            <span class="iconBG right">
                                <i class="icon icon-chevron-right"></i>
                            </span>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <?php if (strtolower('{{Make}}') == 'lexus' || true) { ?>
                <div class="blocks flex_finance_block assuredFlex ">
                    <h3 class="heading3">LEXUS CONNECT</h3>
                    <div class="text">
                        <div class="padding">
                            <p>Drive a brand new {{Model}} from just <span class='finance_price' data-rel='{{Model}}'>&nbsp;</span> per month* with Flex Finance. .</p>
                        </div>
                    </div>
                    <div class="contact_button">
                        <a href="http://finance.lexus.ie" target="_blank" class="uiBtn greyBtn hasIcon hasIconRight popupwindow">
                            <span class="text">GET A QUOTE ONLINE</span>
                            <span class="iconBG right">
                                <i class="icon icon-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            <?php } ?>
        </div>
        <div class="clear"></div>
    </div>
</div>
{{/each}}