<footer>
	<div class="footer-container isoForceHardwardCalc">	
		<div class="footer">
			<div class="container_12 force">
				<div class="row">
					<div class="grid_6">
						<ul>
							{exp:channel:entries channel="disclaimer|privacy|contact_us" dynamic="no"}
							<li class="link"><a href="/pages/{url_title}">{title}</a></li>
							{/exp:channel:entries}
							<li style="link"><a href="">&nbsp;</a></li>
						</ul>
						<div  class="clear"></div>
					</div>
					<div class="grid_6">
						<ul class="align-right">
							<li class="link"><a class="hasIcon return_menu" href=""><span>Back to top</span><i class="icon icon-chevron-up"></i></a></li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="row">
					<div class="grid_12">
						<p class="copyright">Copyright &copy; Toyota Ireland</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="row">

					<div class="grid_3 social-buttons">
						{exp:json_feed:render_html src="{insecure_site_url}/api/generic_settings" template="components/social_links" section="social_links"}
					</div>
					<div class="grid_9 hidden_before_l">
						<ul class="buttons">
							<li class="button">
								<a class="uiBtn greyBtn hasIcon hasIconRight" href="http://finance.toyota.ie" target='_blank'>
									<span>Toyota&nbsp;Car&nbsp;Finance</span>&nbsp;<i class="icon icon-car2"></i>
								</a>
							</li>
							<!--							<li class="button">
															<a class="uiBtn greyBtn hasIcon hasIconRight" href="" target='_blank'>
																<span>Price&nbsp;List</span>&nbsp;<i class="icon icon-file-alt"></i>
															</a>
														</li>-->
							<li class="button">
								<a class="uiBtn greyBtn hasIcon hasIconRight" href="http://www.toyotatlc.ie/login" target='_blank'>
									<span>Toyota&nbsp;Loyalty&nbsp;Club</span>&nbsp;<i class="icon icon-star"></i>
								</a>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
</div>
<?php if ($_SERVER["HTTP_HOST"] === "developmenttest.toyota.ie") { ?>
	<!-- ################### DEVELOPMENT SERVER ################### -->
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3.exp&amp;sensor=true&amp;key=&amp;language=en"></script>
	<script src="http://developmenttest.toyota.ie/inc/js/libs.min.js"></script>
	<script src="http://developmenttest.toyota.ie/inc/js/main.min.js"></script>
	<script type="text/javascript" src="http://developmenttest.toyota.ie/themes/third_party/gmap/javascript/infobox.js"></script>
	<script type="text/javascript" src="http://developmenttest.toyota.ie/themes/third_party/gmap/javascript/markerclusterer.js"></script>
	<!--[if lt IE 9]> <script src="http://developmenttest.toyota.ie/inc/js/ie8.js"></script> <![endif]-->
<?php } elseif($_SERVER["REMOTE_ADDR"] === "127.0.0.1" || $_SERVER["REMOTE_ADDR"] === "::1" || isset($_GET["DEBUG"])){ ?>
	<!-- ################### LOCALHOST ################### -->
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3.exp&amp;sensor=true&amp;key=&amp;language=en"></script>
	<script src="{cms_url_tserv}inc/js/libs.js"></script>
	<script src="{cms_url_tserv}inc/js/main.js"></script>
	<script type="text/javascript" src="{cms_url_tserv}themes/third_party/gmap/javascript/infobox.js"></script>
	<script type="text/javascript" src="{cms_url_tserv}themes/third_party/gmap/javascript/markerclusterer.js"></script>
	<!--[if lt IE 9]> <script src="{cms_url_tserv}inc/js/ie8.js"></script> <![endif]-->
<?php } else { ?>	
	<!-- ################### LIVE SERVER ################### -->
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3.exp&amp;sensor=true&amp;key=&amp;language=en"></script>
	<script src="{cms_url_tserv}inc/js/libs.min.js"></script>
	<script src="{cms_url_tserv}inc/js/main.min.js"></script>
	<script type="text/javascript" src="{cms_url_tserv}themes/third_party/gmap/javascript/infobox.js"></script>
	<script type="text/javascript" src="{cms_url_tserv}themes/third_party/gmap/javascript/markerclusterer.js"></script>
	<!--[if lt IE 9]> <script src="{cms_url_tserv}inc/js/ie8.js"></script> <![endif]-->
<?php } ?> 	
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "beeac92e-6cdb-46cc-9d56-876fd7dab5d1", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id))
			return;
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>