<!--
    Name: More About Container
    ID: c_t1_003
    URL: http://toyota-stage.amaze.com/html/components/tier1/moreaboutcontainer.html
	
    Container for spotlight

    Information: add classes 'spotlight-container-awd' or 'spotlight-container-hybrid' for light grey and blue backgrounds
-->
<div class="spotlight-container content-block ">
    <section>
        <div class="container_12 clearfix read-more-rows" data-initial-rows="1">
            <div class="grid_12 center-text title-area">
                <h1 class="heading1">Latest News</h1>
                <a class="read-more-trigger no-js-hide" href="#PromoList86">View all</a>
            </div>

            <div class=" grid_row read-more-rows-container spotlight-wrapper" id="PromoList86">
                <div class="slide-up-element grid_row isoForceHardwardCalc">

					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-toyota-touch-2-how-to-spotlight_tcm-10-219645.jpg' alt='' />									<p><strong>Toyota Touch 2® - How-to videos</strong>&nbsp;&nbsp;&nbsp;Whether you own a Toyota equipped with Toyota Touch®2 or would like to see what our multimedia system has to offer, we want you to get the very best out of our in-car technology.</p>
						</a>
					</div>
					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/hybrid-experiment.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/hybrid-experiment.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-hybrid-experiment-spotlight_tcm-10-140169.jpg' alt='' />									<p><strong>The Hybrid Experiment</strong>&nbsp;&nbsp;&nbsp;Putting Toyota Hybrids to the test</p>
						</a>
					</div>
					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/mewe-design-award.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/mewe-design-award.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-mewe-design-award-spotlight_tcm-10-140154.jpg' alt='' />									<p><strong>Toyota ME.WE nominated for 2014 Designs of the Year Awards</strong>&nbsp;&nbsp;&nbsp;We are delighted to announce that our visionary TOYOTA ME.WE concept car has been nominated for the “Designs of the Year 2014” at London’s Design Museum.</p>
						</a>
					</div>
					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-toyota-touch-2-how-to-spotlight_tcm-10-219645.jpg' alt='' />									<p><strong>Toyota Touch 2® - How-to videos</strong>&nbsp;&nbsp;&nbsp;Whether you own a Toyota equipped with Toyota Touch®2 or would like to see what our multimedia system has to offer, we want you to get the very best out of our in-car technology.</p>
						</a>
					</div>
					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-toyota-touch-2-how-to-spotlight_tcm-10-219645.jpg' alt='' />									<p><strong>Toyota Touch 2® - How-to videos</strong>&nbsp;&nbsp;&nbsp;Whether you own a Toyota equipped with Toyota Touch®2 or would like to see what our multimedia system has to offer, we want you to get the very best out of our in-car technology.</p>
						</a>
					</div>
					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/hybrid-experiment.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/hybrid-experiment.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-hybrid-experiment-spotlight_tcm-10-140169.jpg' alt='' />									<p><strong>The Hybrid Experiment</strong>&nbsp;&nbsp;&nbsp;Putting Toyota Hybrids to the test</p>
						</a>
					</div>
					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/mewe-design-award.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/mewe-design-award.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-mewe-design-award-spotlight_tcm-10-140154.jpg' alt='' />									<p><strong>Toyota ME.WE nominated for 2014 Designs of the Year Awards</strong>&nbsp;&nbsp;&nbsp;We are delighted to announce that our visionary TOYOTA ME.WE concept car has been nominated for the “Designs of the Year 2014” at London’s Design Museum.</p>
						</a>
					</div>
					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-toyota-touch-2-how-to-spotlight_tcm-10-219645.jpg' alt='' />									<p><strong>Toyota Touch 2® - How-to videos</strong>&nbsp;&nbsp;&nbsp;Whether you own a Toyota equipped with Toyota Touch®2 or would like to see what our multimedia system has to offer, we want you to get the very best out of our in-car technology.</p>
						</a>
					</div>
					<div class="clear"></div>        
                </div>
                <div class="slide-end"></div>
            </div>

        </div>
    </section>
</div>

<div class="spotlight-container content-block spotlight-container-hybrid ">
    <section>
        <div class="container_12 clearfix read-more-rows" data-initial-rows="1">
            <div class="grid_12 center-text title-area">
                <h1 class="heading1">Latest News</h1>
                <a class="read-more-trigger no-js-hide" href="#PromoList86">View all</a>
            </div>

            <div class="slide-up-container grid_row read-more-rows-container spotlight-wrapper" id="PromoList86">
                <div class="slide-up-element grid_row isoForceHardwardCalc">

					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-toyota-touch-2-how-to-spotlight_tcm-10-219645.jpg' alt='' />									<p><strong>Toyota Touch 2® - How-to videos</strong>&nbsp;&nbsp;&nbsp;Whether you own a Toyota equipped with Toyota Touch®2 or would like to see what our multimedia system has to offer, we want you to get the very best out of our in-car technology.</p>
						</a>
					</div>
					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/hybrid-experiment.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/hybrid-experiment.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-hybrid-experiment-spotlight_tcm-10-140169.jpg' alt='' />									<p><strong>The Hybrid Experiment</strong>&nbsp;&nbsp;&nbsp;Putting Toyota Hybrids to the test</p>
						</a>
					</div>
					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/mewe-design-award.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/mewe-design-award.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-mewe-design-award-spotlight_tcm-10-140154.jpg' alt='' />									<p><strong>Toyota ME.WE nominated for 2014 Designs of the Year Awards</strong>&nbsp;&nbsp;&nbsp;We are delighted to announce that our visionary TOYOTA ME.WE concept car has been nominated for the “Designs of the Year 2014” at London’s Design Museum.</p>
						</a>
					</div>
					<div class="more_about_item">
						<a href="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json" class="spotlight " rel="/world-of-toyota/articles-news-events/2014/toyota-touch-2-how-to-videos.json">
							<img src='https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/glen/toyota-news-2014-toyota-touch-2-how-to-spotlight_tcm-10-219645.jpg' alt='' />									<p><strong>Toyota Touch 2® - How-to videos</strong>&nbsp;&nbsp;&nbsp;Whether you own a Toyota equipped with Toyota Touch®2 or would like to see what our multimedia system has to offer, we want you to get the very best out of our in-car technology.</p>
						</a>
					</div>
					<div class="clear"></div>        
                </div>
                <div class="slide-end"></div>
            </div>

        </div>
    </section>
</div>
