<!--
    Name: Offer Spotlight
    ID: c_t2_010
    URL: http://toyota-stage.amaze.com/html/components/tier2/offerspotlight.html
	
    A promotional item, with an image and text relating to a promotion.
-->
<div class="container_12">
	<div class="grid_6">
		<div class="offer-spotlight">
			<p class="header1">Avensis <i class="icon icon-tag"></i></p>
			<img src="http://toyota-stage.amaze.com/inc/images/components/offerSpotlight/avensis.png">
			<a href="#" class="cta-link">Subscription Avensis <i class="icon icon-chevron-right"></i></a>
			<p class="offer-text"><strong>From &euro;249</strong> Usually &euro;249 per month</p>
			<p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit</p>
			<p class="terms">Valid from 01/09/13 until 31/10/13</p>
			<p class="full-terms">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
	<div class="grid_6">
		<div class="offer-spotlight">
			<p class="header1">Avensis <i class="icon icon-tag"></i></p>
			<img src="http://toyota-stage.amaze.com/inc/images/components/offerSpotlight/avensis.png">
			<a href="#" class="cta-link">Subscription Avensis <i class="icon icon-chevron-right"></i></a>
			<p class="offer-text"><strong>From &euro;249</strong> Usually &euro;249 per month</p>
			<p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit</p>
			<p class="terms">Valid from 01/09/13 until 31/10/13</p>
			<p class="full-terms">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>