<!--
    Name: Spotlight
    ID: c_t2_001
    URL: http://toyota-stage.amaze.com/html/components/tier2/spotlight.html
	
    Linked with video play icon
-->
<div class="container_12">
	<div class="grid_3">
		<h1 class="container_12" >linked video</h1>
		<a href="http://www.google.com" class="spotlight">
			<div class="image-wrapper">
				<img src="http://toyota-stage.amaze.com/inc/images/ContentImage_sm1.jpg" alt="" />
				<i class="icon icon-play" data-icon="&#xf04b;"></i>
			</div>
			<p><strong>Introducing Hybrid</strong></p>
			<p>In this video we take you through the basic concepts of Toyota’s Hybrid Synergy Drive.</p>
		</a>
	</div>
	<div class="grid_3">
		<h1 class="container_12" >linked</h1>
		<a href="http://www.google.com" class="spotlight">
			<img src="http://toyota-stage.amaze.com/inc/images/ContentImage_sm1.jpg" alt="Image description text" />
			<p><strong>Linked Spotlight</strong>. Nisi elit consequat ipsum sit amet nibh vulputate cursus a sit amet mauris. </p>
		</a>
	</div>
	<div class="grid_3">
		<h1 class="container_12" >No-Link</h1>
		<div class="spotlight">
			<img src="http://toyota-stage.amaze.com/inc/images/ContentImage_sm1.jpg" alt="Image description text" />
			<p><strong>Non-Linked Spotlight </strong>Nisi elit consequat ipsum sit amet nibh vulputate cursus a sit amet mauris. </p>
		</div>
	</div>
</div>