<div class="form_container">
    <form action="/forms/formsubmit?action=requestabrochure" method="POST" id="requestbrochure" class="contactform">

        <input type=hidden name="oid" id="oid" value="00Db0000000HWqf">
        <input type=hidden name="00Nb0000002AKoo" id="00Nb0000002AKoo" value="1">
        <input type=hidden name="retURL" id="retURL" value="http://.... TODO">
        <input type=hidden name="recordType" id="recordType" value="012b0000000JPwH">
        <input type=hidden name="lead_source" id="lead_source" value="Toyota.ie">
        <input type=hidden name="Campaign_ID" id="Campaign_ID" value="701b0000000Q6zM">
        <input type=hidden name="member_status" id="member_status" value="sent">
        <input type=hidden name="rating" id="rating" value="Warm">
        <input type="hidden" name="XID" value="{XID_HASH}"/>


        <?php
        $inputs = array('test_emails', 'emails', 'test_email', 'emailer');
        $rand_keys = array_rand($inputs, 2);
        echo "<input type='email' name='" . $inputs[$rand_keys[0]] . "' />";
        echo "<input type='email' name='" . $inputs[$rand_keys[1]] . "' />";
        ?>

        <div class="container_12">
            <div class="grid_12 header">
                <h2>Order or download model brochures</h2>
                <span
                    class="intro">Choose a model that you would like a brochure from, then fill out the form below...</span>
            </div>
        </div>
        <div class="container_12">
            <?php if (isset($_GET["dealer"])) { ?>
                <input type=hidden name="00Nb0000002AKok" id="dealer"
                       value="<?= filter_input(INPUT_GET, 'dealer', FILTER_SANITIZE_SPECIAL_CHARS) ?>">
            <?php } else { ?>
                <div class="grid_6 dealer_select">
                    <h4 class="title1">Select Your Local Dealer &nbsp;&nbsp;</h4>
                    <div class="select dealers no-padding">
                        <div class="value"></div>
                        <i class="icon icon-chevron-down"></i>
                        {embed="components/dealers_from_feed"}
                    </div>
                    <strong class="locate_dealer_mgs"><a style="text-decoration: underline;"
                                                         href="https://www.toyota.ie/#/ajax/%2Fforms%2Fforms.json%3Ftab%3Dpane-dealer"
                                                         target="_blank">Click here</a> to find your nearest Toyota
                        Dealer</strong>
                </div>
            <?php } ?>
            <div class="grid_6 model_select">
                <?php
                $selected_model = (isset($_GET["model"])) ? filter_input(INPUT_GET, 'model', FILTER_SANITIZE_SPECIAL_CHARS) : false;
                $hide_select = (strtolower($selected_model) == "c-hr") ? "hidden" : "";

                ?>
                <h4 class="title1">Model &nbsp;&nbsp; <i class="icon icon-car2"></i></h4>
                <div class="select">
                    <div
                        class="value"><?php echo (isset($_GET["model"])) ? strtolower(filter_input(INPUT_GET, 'model', FILTER_SANITIZE_SPECIAL_CHARS)) : ""; ?></div>
                    <i class="icon icon-chevron-down"></i>
                    {embed="default_site:components/models_from_feed" brochure="yes"}
                </div>

            </div>
        </div>

        <div class="container_12" id="send_via">
            <div class="grid_6" id="not_preorder">
                <h4 class="title1">Receive brochure via &nbsp;&nbsp; <span id="selecttype_icon"><i
                            class="icon icon-file-pdf"></i></span></h4>
                <div class="select">
                    <div class="value"></div>
                    <i class="icon icon-chevron-down"></i>
                    <select name="sendType" id="selecttype" data-validation="select">
                        <option value="pdfDownload">Download as pdf</option>
<!--                        <option value="Ebrochure">Email brochure</option>-->
                        <option value="Post">Post mail</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="container_12" id="post_message" style="display: none">
            <div class="grid_12 visible" id="">
                <h3 class="title1" style="padding-top: 0.5em;padding-bottom: 0.5em">Please enter your address to receive
                    news about the C-HR via post when it becomes available.</h3>
            </div>
        </div>


        <div id="postbrochureAdress">
            <div class="container_12">
                <div class="grid_12">
                    <h4 class="title1">Street&nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
                    <input id="street" name="street" type="text"/>
                </div>
            </div>
            <div class="container_12">
                <div class="grid_6">
                    <h4 class="title1">City &nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
                    <input id="city" maxlength="40" name="city" type="text" placeholder=""/>
                </div>
                <div class="grid_6">
                    <h4 class="title1">County &nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
                    <div class="select">
                        <div class="value">Please choose:</div>
                        <i class="icon icon-chevron-down"></i>
                        {embed="components/state"}
                    </div>
                </div>
            </div>
        </div>

        <br/>

        {embed="components/contactdetails"}
        {embed="components/dataprotection"}
        {embed="components/submit"}


    </form>
    <div class="container_12 form_thanks">
        <div class="grid_12 header">
            <h2>Thank you for your interest in Toyota.</h2>
            <span class="intro">If you order your brochure via post-mail, we will send it as soon as possible.</span>

        </div>
    </div>
</div>
