<div class="form_container">
    <form action="/forms/formsubmit?action=contactus" method="POST" id="contactusform" class="contactform">
        <input type=hidden name="oid" id="oid" value="00Db0000000HWqf">
        <input type="hidden" name="XID" value="{XID_HASH}"/>
        <input type="hidden" value="assuredusedcars.toyota.ie" name="site_url" id="site_url">

        <?php
        $inputs = array('test_emails', 'emails', 'test_email', 'emailer');
        $rand_keys = array_rand($inputs, 2);
        echo "<input type='email' name='" . $inputs[$rand_keys[0]] . "' />";
        echo "<input type='email' name='" . $inputs[$rand_keys[1]] . "' />";
        ?>

        <input type=hidden name="lead_source" id="lead_source" value="toyota.ie">
        <input id="subject" type="hidden" value="Web Customer Service" name="subject">



        <?php
        $dealerId = (isset($_GET["dealer"])) ? filter_input(INPUT_GET, 'dealer', FILTER_SANITIZE_SPECIAL_CHARS) : false;
        $selectedDealer = false;
        if($dealerId){

            $json_dealers = file_get_contents("{insecure_site_url}/api/dealer-list");
            $dealer_list = json_decode($json_dealers);
            foreach ($dealer_list as $dealer){
                if($dealer->dealerId == $dealerId){
                    $selectedDealer = $dealer;
                }
            }
            ?>
            <div class="container_12">
                <div class="grid_12 header">
                    <h2>Contact Us</h2>

                    <p>
                    <span class="intro">
						We welcome hearing from our existing and prospective customers. Please note our FAQ section may assist with a query you may have.
						<a href="https://www.toyota.ie/world-of-toyota/toyota-faqs.json" target="_blank"
                           style="text-decoration: underline;"> Click here to view our FAQ</a>
					</span>
                    </p>
                    <p style="padding-top:1.5em">
                    <span class="intro">
						You can contact <strong><?= $selectedDealer->Name ?></strong> using the following details:
					</span>
                    </p>
                </div>
                <div class="grid_6 header">
                    <div class="details">
                        <div class="grid_12">
                            <strong>Web:</strong> &nbsp;&nbsp;<a href="http://<?= $selectedDealer->Website ?>" target="_blank"><?= $selectedDealer->Website ?></a><br>
                            <strong>Phone:</strong> &nbsp;&nbsp;<a href="tel:<?= str_replace(" ","",$selectedDealer->Phone) ?>" target="_blank"><?= $selectedDealer->Phone ?></a><br>
                            <strong>Email:</strong> &nbsp;&nbsp;<a href="mailto:<?= $selectedDealer->Email ?>"><?= $selectedDealer->Email ?></a><br>
                            <strong>Address:</strong>  &nbsp;&nbsp; <?= $selectedDealer->Address ?><br>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="grid_12 header">
                    <p>
                    <span class="intro">
						Or submit your query using the below contact form.
					</span>
                    </p>
                </div>
            </div>
            <?php
        }else{
            ?>
            <div class="container_12">
                <div class="grid_12 header">
                    <h2>Contact Us</h2>

                    <p>
                    <span class="intro">
						We welcome hearing from our existing and prospective customers. Please note our FAQ section may assist with a query you may have.
						<a href="https://www.toyota.ie/world-of-toyota/toyota-faqs.json" target="_blank"
                           style="text-decoration: underline;"> Click here to view our FAQ</a>
					</span>
                    </p>
                    <p style="padding-top:1.5em">
                    <span class="intro">
						If you need to contact us you can do so in the following ways:
					</span>
                    </p>
                </div>
                <div class="grid_3 header">
                    <p>
                        <strong>By Post:</strong><br>
                        Customer Relations,<br>
                        Toyota Ireland,<br>
                        Killeen Road,<br>
                        Dublin 12
                    </p>
                </div>
                <div class="grid_3 header">
                    <p>
                        <strong>By Telephone:</strong><br>Customer Relations<br>
                        <a href="tel:01 4190200">(01) 419 0200</a>
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="grid_12 header">
                    <p>
                    <span class="intro">
						Or submit your query using the below contact form.
					</span>
                    </p>
                </div>
            </div>
            <?php
        }
        ?>




        <div class="container_12" style="<?php if($selectedDealer){echo "opacity:0;height:0;overflow:hidden";}?>">
            <div class="grid_6">
                <h3 class="title1">Select your local Toyota Dealer / Authorised Repairer &nbsp;&nbsp;</h3>

                <div class="select dealers no-padding">
                    <div class="value"></div>
                    <i class="icon icon-chevron-down"></i>
                    {embed="components/dealer_service_email_list"}
                </div>
                <strong class="locate_dealer_mgs"><a style="text-decoration: underline;" href="https://www.toyota.ie/dealers/find-an-authorised-repairer.json" target="_blank">Click here</a> to find your nearest Toyota Dealer / Authorised Repairer</strong>
            </div>
        </div>
        <br/><br/>


        <div class="container_12">
            <div class="grid_12 header">
                <h2>Tell us about yourself</h2>
            </div>
        </div>

        <div class="container_12 nop">
            <div class="grid_6 nop">
                <div class="container_12">
                    <div class="grid_6">
                        <h4 class="title1">Salutation &nbsp;&nbsp; <i class="icon icon-user"></i></h4>

                        <div class="select">
                            <div class="value"></div>
                            <i class="icon icon-chevron-down"></i>
                            <select name="salutation" id="salutation" data-validation="select">
                                <option value="no_selection">...</option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                                <option value="Dr">Dr</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container_12">
                    <div class="grid_6">
                        <h4 class="title1">First Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
                        <input id="first_name" maxlength="40" name="first_name" type="text" placeholder="Name"
                               data-validation="required"/>
                    </div>
                    <div class="grid_6">
                        <h4 class="title1">Last Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
                        <input id="last_name" maxlength="80" name="last_name" type="text" placeholder="Surname"
                               data-validation="required"/>
                    </div>
                </div>
                <div class="container_12 ">
                    <div class="grid_6">
                        <h4 class="title1">Phone &nbsp;&nbsp; <i class="icon icon-phone"></i></h4>
                        <input id="phone" maxlength="14" name="phone" type="text" placeholder="Phone Number"
                               data-validation="number"/>
                    </div>
                    <div class="grid_6">
                        <h4 class="title1">Mobile &nbsp;&nbsp; <i class="icon icon-phone"></i></h4>
                        <input id="mobile" maxlength="14" name="mobile" type="text" placeholder="Mobile Number"
                               data-validation="number"/>
                    </div>
                </div>
                <div class="container_12 extraspace">
                    <div class="grid_12">
                        <h4 class="title1">Email &nbsp;&nbsp; <i class="icon icon-envelope-alt"></i></h4>
                        <input id="email" maxlength="80" name="email" type="text" placeholder="your@email.com"
                               data-validation="email"/>
                    </div>
                </div>
            </div>
            <div class="grid_6 nop">
                <div class="container_12">
                    <div class="grid_12">
                        <h4 class="title1">Address&nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
                        <input id="address_line_1" name="street" type="text" data-validation="required"/>
                    </div>
                    <div class="grid_6">
                        <h4 class="title1">City &nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>
                        <input id="city" maxlength="40" name="city" type="text" placeholder=""
                               data-validation="required"/>
                    </div>
                    <div class="grid_6">
                        <h4 class="title1">County &nbsp;&nbsp; <i class="icon icon-map-marker"></i></h4>

                        <div class="select">
                            <div class="value">Please choose:</div>
                            <i class="icon icon-chevron-down"></i>
                            {embed="components/state" required="true"}
                        </div>
                    </div>
                </div>
                <div class="container_12 extraspace">

                    <div class="grid_12">
                        <h4 class="title1">Registration number</h4>
                        <input id="registration" name="00Nb0000002Xysm" type="text" data-validation="required"/>
                    </div>
                    {!--
                    <div class="grid_12">
                        <input id="address_line_2" name="address_line_2" type="text"/>
                    </div>
                    --}
                </div>

            </div>
        </div>

        <div class="container_12 extraspace">
            <div class="grid_12">
                <h4 class="title1">Message </h4>
                <?php
                $content = "";
                if (isset($_GET["carID"])) {
                    $carID = $_GET["carID"];
                    $carData = json_decode(@file_get_contents('{insecure_site_url}/api/assured-used-car-details/' . $carID));
                    $carData = $carData->CarDetails[0];
                    $car = $carData->Year . " " . $carData->Make . " " . $carData->Model . " " . $carData->Engine . " " . $carData->Doors . " DOOR " . $carData->BodyType;
                    $car.= "\nRegistration Number: ".$carData->{"Registration number"};
                    $content="Car Being Enquired About: ".$car;
                    $content.= "\nCar Price: €". number_format(floatval($carData->Price), 0, '.', ',');
                    if(isset($_GET['deposit'])){
                        $content.= "\nDeposit/Trade in €: ". number_format(floatval(filter_input(INPUT_GET,'deposit',FILTER_SANITIZE_STRING)), 0, '.', ',');
                    }
                    ?>
                    <input name="Car Request" type="hidden" id="Car Request" value="<?php echo $car; ?>">
                    <input name="00Nb0000009XH5t" type="hidden" id="CarID" value='<?php echo $carID; ?>'>
                    <input type="hidden" value="012b0000000aZax" name="recordType">
                    <?php
                } ?>
                <textarea id="query" name="description" placeholder="leave your message here (max 320 characters)."
                          maxlength="320"><?php echo $content; ?></textarea>
            </div>
        </div>

        {!--{embed="components/dataprotection"}--}
        {embed="components/submit"}
    </form>
    <div class="container_12 form_thanks">
        <div class="grid_12 header">
            <?php
            if (isset($_GET["carID"])) { ?>
                <h2>Thank you for your interest in Toyota. The Toyota Dealer you emailed has now received your request
                    and shall reply as soon as possible.</h2>
                <span class="intro"></span>
            <?php } else { ?>
                <h2>Thank you for your interest in Toyota. A customer service representative will respond to your query
                    as soon as possible.</h2>
                <span class="intro">If your query is urgent, please don’t hesitate to contact us during working hours on 01 4190222 . Thank you.</span>
            <?php } ?>
        </div>
    </div>
</div>

