<?php


require_once (APPPATH."third_party/recaptcha/CurlWrapper.php");

class Email {

	private $companyMail;
	private $companySubject;
	private $companyMessage;
	private $customerMail;
	private $customerSubject;
	private $customerMessage;

	public function setEmails($companyMail, $customerMail) {
		$this->companyMail = $companyMail;
		$this->customerMail = $customerMail;
	}

	public function setSubjects($companySubject, $customerSubject) {
		$this->companySubject = $companySubject;
		$this->customerSubject = $customerSubject;
	}

	public function setMessages($companyMessage, $customerMessage) {
		$this->companyMessage = $companyMessage;
		$this->customerMessage = $customerMessage;
	}

	public function sendMails() {
		$companyMail = Email::sendMail($this->customerMail, $this->companyMail, $this->companySubject, $this->companyMessage);
		$customerMail = Email::sendMail($this->companyMail, $this->customerMail, $this->customerSubject, $this->customerMessage);
		return ($companyMail && $customerMail);
	}

	public static function sendMail($from, $to, $subject, $message) {
		$headers = 'MIME-Version: 1.0' . "\r\n";
		$headers .= "Content-Type: text/html; charset=ISO-8859-1" . "\r\n";
		$headers .= "From: " . $from . " <" . $from . ">" . "\r\n";
		$headers .= "To: " . $to . " <" . $to . ">" . "\r\n";

		var_dump($to);
		var_dump($subject);
		var_dump($message);
		var_dump($headers);

		if (mail($to, $subject, $message, $headers)) {
			return true;
		} else {
			return false;
		}
	}

	public function getAttachment($path) {

		if (file_exists($path)) {

			$file = $path;
			$file_size = filesize($file);
			$handle = fopen($file, "r");
			$content = fread($handle, $file_size);
			fclose($handle);
			$content = chunk_split(base64_encode($content));

			return $content;
		} else {
			return false;
		}
	}

	public static function getDealerEmail() {

	}

	public function loadHTML($file) {
		$finalHTML = '';
		$html = file_get_contents($file);
		$sections = explode($this->get('delimiter'), $html);
		for ($q = 0; $q < sizeof($sections); $q++) {
			if (($q % 2) == 1) {
				$sections[$q] = $this->get($sections[$q]);
			}
			$finalHTML.=$sections[$q];
		}
		$this->set(array('message' => $finalHTML));
	}

	public function storeIntoDB($form, $data) {
		$mysqli = new mysqli("localhost", "forms_user", "u2t56uEe0a6", "forms_data_capture");

		if (mysqli_connect_errno()) {
			echo "Connect failed: ".mysqli_connect_error()."\n";
			return false;
		}

		if (!$this->tableExists($mysqli, $form)) {
			echo "Table doesn't exists ";
			$mysqli->close();
			return false;
		}

		if ($this->checkTableColumns($mysqli, $form, $data)) {

			$insert_data = "INSERT INTO " . $form . " (";
			$i = 0;
			foreach ($data as $key => $value) {
				$insert_data.=$key;
				$i++;
				if ($i < count($data))
					$insert_data.=",";
			}
			$insert_data.=") VALUES (";
			$i = 0;
			foreach ($data as $key => $value) {
				$value=filter_input(INPUT_POST, $key, FILTER_SANITIZE_STRING);
				$insert_data.="'$value'";
				$i++;
				if ($i < count($data))
					$insert_data.=",";
			}
			$insert_data.=")";

			if (!$mysqli->query($insert_data)) {
				echo $insert_data . "\n";
				echo "some error occurred:\n" . $mysqli->error;
				$mysqli->close();
				return false;
			}
			$mysqli->close();
			return true;
		}
	}

	public function array_to_html($data) {

		$report = "";
		if (count($data) > 0) {

			//print_r(array_keys($data));

			$report .= "<table style='width:100%;border-collapse: collapse;'>";

			$i = 0;
			foreach ($data as $key => $val) {

				$color = ($i%2)?"#f8f8f8":"#ffffff";
				$report .= "<tr style='background-color:$color;padding:0px'>";

				$k = htmlspecialchars($key);
				$v =  htmlspecialchars($val);

				$report .= "<td style='padding:10px;width:20%;border:1px solid #f0f0f0;'>$k</td>".
				"<td style='padding:10px;width:80%;border:1px solid #f0f0f0;'>$v</td>";

				$report .= "</tr>";
				$i ++;
			}


			$report .= "</table>";

			//echo $report;
		} else {
			$report = "No data";
		}
		return $report;
	}

	public function tableExists($mysqli, $table) {
		$res = $mysqli->query("SHOW TABLES LIKE '$table'");
		return $res->num_rows > 0;
	}

	public function checkTableColumns($mysqli, $table, $data) {

		$result = $mysqli->query("SHOW COLUMNS FROM $table");

		$dbcolumns = array();

		while ($column = $result->fetch_assoc()) {

			$dbcolumns[] = $column['Field'];
		}

		$extracols = array_diff(array_keys($data), $dbcolumns);


		if (count($extracols) > 0) {

			$alter = '';
			foreach ($extracols as $extracol) {
				$type = 'VARCHAR(255)';
				if (gettype($data[$extracol]) == 'integer' || gettype($data[$extracol]) == 'double')
					$type = 'INTEGER';
				if ($extracol == 'query')
					$type = 'TEXT';
				//echo "ALTER TABLE contacts ADD $extracol $type;";
				$alter .= "ALTER TABLE $table ADD $extracol $type;\n";
			}

			echo $alter;
			return false;
		}else {

			return true;
		}
	}

}

class ToyotaContact {

	private $mailer;

	public function __construct() {
		$this->mailer = new Email();
	}

	private function sendToSalesForce($lead = false) {

		$postdata = http_build_query($_POST);

		$opts = array('http' =>
			array(
				'method' => 'POST',
				'header' => 'Content-type: application/x-www-form-urlencoded',
				'content' => $postdata
			)
		);

		$context = stream_context_create($opts);

		if ($lead) {
			$result = file_get_contents('https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8', false, $context);
		} else {
			$result = file_get_contents('https://www.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8', false, $context);
		}


		if ($http_response_header[0] == "HTTP/1.1 200 OK")
			return true;
		else {
			var_dump($http_response_header);
			return false;
		}
	}

	public function bookaTestDrive() {
        unset($_POST['pdf']);
		if ($this->mailer->storeIntoDB('book_test_drive', $_POST)) {

			if (!$this->sendToSalesForce(true)) {
				echo 'Error: Some error occurred in  the submission to Salesforce';
				return false;
			}

			echo 'sent';
		} else
			echo "some error occurred storing the request into the database";
	}

	public function bookaService() {



		if ($this->mailer->storeIntoDB('book_service', $_POST)) {

			$subject = "Request a Service";

			unset($_POST['orgid']);
			unset($_POST['oid']);
			unset($_POST['recordType']);
			unset($_POST['subject']);
                        //unset($_POST['site_url']);

			$_POST['model'] = $_POST['00Nb0000002AKoc'];
			unset($_POST['00Nb0000002AKoc']);

                        //$_POST['email'] = $_POST['00Nb0000002AKok'];
			//unset($_POST['00Nb0000002AKok']);

			$_POST['receive_postal_communications'] = $_POST['00Nb0000003FNoq'];
			unset($_POST['00Nb0000003FNoq']);

			$_POST['receive_newsletters'] = $_POST['00Nb0000003FNop'];
			unset($_POST['00Nb0000003FNop']);

			$_POST['receive_sms_updates'] = $_POST['00Nb0000003FNor'];
			unset($_POST['00Nb0000003FNor']);

			$companyMessage = "<html><body><h2>Service Request</h2>" . $this->mailer->array_to_html($_POST) . "</body></html>";

			//$customerMessage = "<html><body><h2>Service Request</h2><p>Thank you for booking the service at " . $_POST['site_url'] . ".</p> <p>You'll be contacted by one of our representative as soon as possible</p></body></html>";
			$customerMessage = "<html><body><h2>Service Request</h2><p>Thank you for booking the service at an Authorised Toyota Dealer/Repairer.</p> <p>You'll be contacted by one of our representative as soon as possible</p></body></html>";
			//$dealer_email = strip_tags("{forms_emails:request_a_service}");
			$dealer_email=$_POST['00Nb0000002AKok'];
			//echo $dealer_email;
			$this->mailer->setEmails($dealer_email, filter_input(INPUT_POST, 'email', FILTER_SANITIZE_EMAIL));
			$this->mailer->setSubjects($subject, $subject);
			$this->mailer->setMessages($companyMessage, $customerMessage);
			if ($this->mailer->sendMails())
				echo 'sent';
			else
				echo "some error occurred sending emails";
		} else
			echo "some error occurred storing the request into the database";
	}

	public function requestABrochure() {

		if ($_POST['sendType'] == 'Post') {
			$_POST['00Nb0000002AKoo'] = 0;
		}

		if (!$this->sendToSalesForce(true)) {
			echo 'Error: Some error occurred in  the submission to Salesforce';
			return false;
		}



		$file = null;
		$model = $_POST['00Nb0000002AKoc'];
		//Checks if pdf file is available
		if ( $_POST["pdf"] && $_POST['sendType'] != 'Post') {
			$pdf = strtolower($_POST["pdf"]);
            $fname = strtolower(filter_input(INPUT_POST, 'pdf', FILTER_SANITIZE_SPECIAL_CHARS));
            $whitelist = array(
                '127.0.0.1',
                '::1'
            );
            if(in_array($_SERVER['REMOTE_ADDR'], $whitelist)){
                // localhost
                $file = APPPATH."../../inc/brochures/" . $fname;
            }else{
                //remote
                $file = "/var/www/cms.toyota.ie/inc/brochures/" . $fname;
            }

            if (!file_exists($file)) {
                echo "error: brochure " . $fname . " not available";
                return;
            }
		}

        unset($_POST['pdf']);


		if ($this->mailer->storeIntoDB('request_brochure', $_POST)) {

			$model = $_POST['00Nb0000002AKoc'];
			$subject = "Toyota $model Brochure";
			if($model == "New Hilux"){
				$subject =  "New Toyota Hilux Brochure";
			}

			unset($_POST['orgid']);
			unset($_POST['00Nb0000002AKok']);
			unset($_POST['recordType']);
			unset($_POST['subject']);
			unset($_POST['oid']);
			unset($_POST['00Nb0000002AKoo']);
			unset($_POST['lead_source']);
			unset($_POST['Campaign_ID']);
			unset($_POST['member_status']);
			unset($_POST['rating']);



			if ($_POST['sendType'] == 'Ebrochure') {
				//$companyMessage = "<html><body><h2>Brochure Request</h2>".$this->mailer->array_to_html($_POST)."</body></html>";
				// a random hash will be necessary to send mixed content

				$separator = md5(time());

				// carriage return type (we use a PHP end of line constant)
				$eol = PHP_EOL;

				$from = 'Toyota Ireland <noreply@toyota.ie>';

				$headers = "From: " . $from . $eol;
				$headers .= "MIME-Version: 1.0" . $eol;

				if( strtolower($model) != "proace" ){

					$customerMessage = "<html><body><h2>$subject.</h2><p>You have requested a brochure via " . $_POST['site_url'] . ". Please find it attached.</p></body></html>";
					$attachment = $this->mailer->getAttachment($file);


					$headers .= "Content-Type: multipart/mixed; boundary=\"" . $separator . "\"" . $eol . $eol;
					$headers .= "Content-Transfer-Encoding: 7bit" . $eol;
					$headers .= "This is a MIME encoded message." . $eol . $eol;

					// message
					$headers .= "--" . $separator . $eol;
					$headers .= "Content-Type: text/html; charset=\"iso-8859-1\"" . $eol;
					$headers .= "Content-Transfer-Encoding: 8bit" . $eol . $eol;
					$headers .= $customerMessage . $eol . $eol;

					// attachment
					$headers .= "--" . $separator . $eol;
					$headers .= "Content-Type: application/octet-stream; name=\"" . str_replace(' ', '-', $model) . '.pdf' . "\"" . $eol;
					$headers .= "Content-Transfer-Encoding: base64" . $eol;
					$headers .= "Content-Disposition: attachment" . $eol . $eol;
					$headers .= $attachment . $eol . $eol;
					$headers .= "--" . $separator . "--";


				}else{

					$customerMessage = "<html><body><h2>Toyota $model Brochure.</h2><p>Thank you for your interest in Toyota. We have received your brochure request, which we will send to you as soon as it becomes available.</p></body></html>";

					$headers .= "Content-Type: text/html; charset=\"iso-8859-1\"" . $eol;
					$headers .= $customerMessage . $eol . $eol;

				}

				$user_email = filter_input(INPUT_POST, 'email', FILTER_SANITIZE_EMAIL);

				if (mail($user_email, $subject, "", $headers)){
					echo 'sent';
				}
				else{
					error_log("some error occurred sending email to $dealer_email", 0);
					echo "some error occurred sending email to $dealer_email";
				}

			} else{
				echo 'sent';
			}

		} else{
			error_log("some error occurred storing the request into the database", 0);
			echo "some error occurred storing the request into the database";
		}
	}

	public function contactUs() {
		//general enquiry
		if (!isset($_POST['00Nb0000009XH5t'])) {

			$_POST['orgid'] = $_POST['oid'];
			$_POST['name'] = $_POST['last_name'];
			$_POST['00Nb0000002Xysn'] = $_POST['salutation'];
			$_POST['00Nb0000002Xysj'] = $_POST['first_name'];
			$_POST['00Nb0000002Xysl'] = $_POST['mobile'];
			$_POST['00Nb0000002Xyso'] = $_POST['city'];
			$_POST['00Nb0000002Xysh'] = $_POST['state'];
			$_POST['00Nb0000002Xysp'] = $_POST['street'];

			if (!$this->sendToSalesForce()) {
				echo 'Error: Some error occurred in  the submission to Salesforce';
				return false;
			}
		//vehicle enquiry
		} else {

			if (!$this->sendToSalesForce(true)) {
				echo 'Error: Some error occurred in  the submission to Salesforce';
				return false;
			}
		}



		// gets the dealer email and unset it before store into db
		$dealer_email = filter_input(INPUT_POST, 'dealer_email', FILTER_SANITIZE_EMAIL);
		unset($_POST['dealer_email']);

		//store info on the database
		if ($this->mailer->storeIntoDB('contact_us', $_POST)) {
			echo 'sent';
		} else
			echo "some error occurred storing the request into the database";

		//sent email to the dealer
		$from = filter_input(INPUT_POST, 'email', FILTER_SANITIZE_EMAIL);
		if($dealer_email && $dealer_email!='none'){

			unset($_POST['orgid']);
			unset($_POST['00Nb0000002AKok']);
			unset($_POST['recordType']);
			unset($_POST['subject']);
			unset($_POST['type']);
			unset($_POST['00Nb0000007Gos8']);
			unset($_POST['00Nb0000002Yahg']);
			unset($_POST['00Nb0000009XH5t']);
			unset($_POST['lead_source']);
			unset($_POST['oid']);

			$_POST['car_registration_number'] = $_POST['00Nb0000002Xysm'];
			unset($_POST['00Nb0000002Xysm']);
			unset($_POST['name']);
			unset($_POST['00Nb0000002Xysn']);
			unset($_POST['00Nb0000002Xysj']);
			unset($_POST['00Nb0000002Xysl']);
			unset($_POST['00Nb0000002Xyso']);
			unset($_POST['00Nb0000002Xysh']);
			unset($_POST['00Nb0000002Xysp']);


			$subject = isset($_POST['Car_Request']) ? $_POST['Car_Request'] . " from " . $_POST['site_url'] : 'Contact request from ' . $_POST['site_url'];
			$message = "<html><body><h2>" . $subject . "</h2>" . $this->mailer->array_to_html($_POST) . "</body></html>";
			if (!$this->mailer->sendMail($from, $dealer_email, $subject, $message))
				echo "some error occurred sending email to $dealer_email";
		}
	}

	public function subscribeToNewsletter() {

		if ($this->mailer->storeIntoDB('newsletter', $_POST)) {
			$_POST['Post Opt Out'] = $_POST['00Nb0000003FNoq'];
			$_POST['Enewsletter Opt In'] = $_POST['00Nb0000003FNop'];
			$_POST['SMS Opt In'] = $_POST['00Nb0000003FNor'];
			unset($_POST['00Nb0000003FNoq']);
			unset($_POST['00Nb0000003FNop']);
			unset($_POST['00Nb0000003FNor']);
			$subject = "Toyota: Newsletter subscription";

			$companyMessage = "<html><body><h2>Newsletter Subscription</h2>" . $this->mailer->array_to_html($_POST) . "</body></html>";
			$customerMessage = "<html><body><h2>Newsletter Subscription</h2><p>You are now subscribed to the Toyota Ireland newsletter.</p></body></html>";

			$dealer_email = $_POST['dealermail'];
			/* test dealer email */
			$dealer_email = 'Toyota Ireland <swoulfe@toyota.ie>';

			$user_email = filter_input(INPUT_POST, 'email', FILTER_SANITIZE_EMAIL);
			$this->mailer->setEmails($dealer_email, $user_email);

			$this->mailer->setSubjects($subject, $subject);
			$this->mailer->setMessages($companyMessage, $customerMessage);
			if ($this->mailer->sendMails())
				echo 'sent';
			else
				echo "some error occurred sending email to $dealer_email and to $user_email";
		} else
			echo "some error occurred storing the request into the database";
	}

}

$action = filter_input(INPUT_GET, 'action', FILTER_SANITIZE_SPECIAL_CHARS);
$contact = new ToyotaContact();

$inputs=array('test_emails','emails','test_email','emailer');

$spamcheck=false;

foreach ($inputs as $test) {
	if(isset($_POST[$test]) && $_POST[$test]!=""){
		$spamcheck=true;
		break;
	}else{
		unset($_POST[$test]);
	}
}


function isValidCaptcha(){
	$url = "https://www.google.com/recaptcha/api/siteverify";
	$params = array(
			'secret' => "6LdFzxcTAAAAAK53_n84itPQM-x_9AoKQh9K1jCH",
			'response' => filter_input(INPUT_POST,"g-recaptcha-response",FILTER_SANITIZE_SPECIAL_CHARS),
			'remoteip' => $_SERVER["REMOTE_ADDR"]
	);
	try {
		$curl = new CurlWrapper();
		$curl->addOption(CURLOPT_SSL_VERIFYPEER, false);
		$response = $curl->post($url, $params);
		$json = json_decode($response,true);
		if($json && $json["success"]){
			return true;
		}else{
			return false;
		}

	} catch (CurlWrapperException $e) {
		error_log($e->getMessage(), 0);
		echo $e->getMessage();
		return false;
	}
}

if($spamcheck==false){
	if(isValidCaptcha()){
		unset($_POST["hiddencaptcha"]);
		unset($_POST["g-recaptcha-response"]);
		switch ($action) {
			case "bookatestdrive":
				$contact->bookaTestDrive();
				break;
			case "contactus":
				$contact->contactUs();
				break;
			case "requestabrochure":
				$contact->requestaBrochure();
				break;
			case "bookaservice":
				$contact->bookaService();
				break;
			case "newsletter":
				$contact->subscribeToNewsletter();
				break;
			default:
				break;
		}
	}else{
		echo "\n invalid captcha \n";
	}
}else{
	echo "The spam filter has blocked you";
}
?>
