<?php
class Email {

	private $companyMail;
	private $companySubject;
	private $companyMessage;
	private $customerMail;
	private $customerSubject;
	private $customerMessage;

	public function setEmails($companyMail, $customerMail) {
		$this->companyMail = $companyMail;
		$this->customerMail = $customerMail;
	}

	public function setSubjects($companySubject, $customerSubject) {
		$this->companySubject = $companySubject;
		$this->customerSubject = $customerSubject;
	}

	public function setMessages($companyMessage, $customerMessage) {
		$this->companyMessage = $companyMessage;
		$this->customerMessage = $customerMessage;
	}

	public function sendMails() {
		$companyMail = Email::sendMail($this->customerMail, $this->companyMail, $this->companySubject, $this->companyMessage);
		$customerMail = Email::sendMail($this->companyMail, $this->customerMail, $this->customerSubject, $this->customerMessage);
		return ($companyMail && $customerMail);
	}

	public static function sendMail($from, $to, $subject, $message) {
		$headers  = 'MIME-Version: 1.0'."\r\n";
		$headers .= "Content-Type: text/html; charset=ISO-8859-1"."\r\n";
		$headers .= "From: " . $from . " <" . $from . ">"."\r\n";
		$headers .= "To: " . $to . " <" . $to . ">"."\r\n";
		if (mail($to, $subject, $message, $headers)) {
			return true;
		} else {
			return false;
		}
	}

	public function getAttachment($path){

        if (file_exists($path)) {
		  	
		  	$file = $path;
		    $file_size = filesize($file);
		    $handle = fopen($file, "r");
		    $content = fread($handle, $file_size);
		    fclose($handle);
		    $content = chunk_split(base64_encode($content));

            return $content;

        } else {
            return false;
        }
    }

	public static function getDealerEmail(){
		
	}

	public function loadHTML($file) {
		$finalHTML = '';
		$html = file_get_contents($file);
		$sections = explode($this->get('delimiter'), $html);
		for ($q = 0; $q < sizeof($sections); $q++) {
			if (($q % 2) == 1) {
				$sections[$q] = $this->get($sections[$q]);
			}
			$finalHTML.=$sections[$q];
		}
		$this->set(array('message' => $finalHTML));
	}

	public function storeIntoDB($form,$data){
		$mysqli = new mysqli("localhost", "forms_user", "u2t56uEe0a6", "forms_data_capture");

		if (mysqli_connect_errno()) {
    		echo "Connect failed: %s\n", mysqli_connect_error();
    		return false;
		}

		if(!$this->tableExists($mysqli,$form)){
			echo "Table doesn't exists ";
			$mysqli->close();
    		return false;
		}

		if($this->checkTableColumns($mysqli,$form,$data)){

			$insert_data="INSERT INTO ".$form." (";
			$i=0; 
			foreach ($data as $key => $value) {
				$insert_data.=$key;
				$i++;
				if($i<count($data))$insert_data.=",";
			}
			$insert_data.=") VALUES (";
			$i=0;
			foreach ($data as $key => $value) {
				$insert_data.="'$value'";
				$i++;
				if($i<count($data))$insert_data.=",";
			}
			$insert_data.=")";

			if(!$mysqli->query($insert_data)){
				echo $insert_data."\n";
				echo "some error occurred:\n".$mysqli->error;
				$mysqli->close();
				return false;
			}
			$mysqli->close();
			return true;

		}

	}

	public function array_to_html($data){
	
	   $report = "";
	    if (count($data) > 0) {

	    	//print_r(array_keys($data));

	    	$report .= "<table>";

	        foreach ($data as $key => $val) {

	            $report .= "<tr>";

	            $report .= "<td>$key</td><td>$val</td>";

	            $report .= "</tr>";
	        }
			

			$report .= "</table>";

			//echo $report;

	    } else {
	        $report = "No data";
	    }
    	return $report;
	}

	public function tableExists($mysqli,$table) {
  		$res = $mysqli->query("SHOW TABLES LIKE '$table'");
  		return $res->num_rows > 0;
	}

	public function checkTableColumns($mysqli,$table,$data) {

  		$result = $mysqli->query("SHOW COLUMNS FROM $table");
  		
  		$dbcolumns=array();

  		while($column =$result->fetch_assoc()){
  			
  			$dbcolumns[]=$column['Field'];			
  		}

		$extracols=array_diff(array_keys($data), $dbcolumns);


		if(count($extracols)>0){

			$alter ='';
			foreach ($extracols as $extracol) {
				$type='VARCHAR(255)';
				if(gettype($data[$extracol])=='integer' || gettype($data[$extracol])=='double') $type='INTEGER';
				if($extracol=='query') $type='TEXT';
				//echo "ALTER TABLE contacts ADD $extracol $type;";
				$alter .= "ALTER TABLE $table ADD $extracol $type;\n";
			}

			echo $alter;
			return false;
		
		}else{

			return true;
		}

		
	}
}

class ToyotaContact {

	private $mailer;

	public function __construct() {
		$this->mailer = new Email();
	}
	
	
	private function sendToSalesForce($lead=false){

		$postdata = http_build_query($_POST);

		$opts = array('http' =>
		    array(
		        'method'  => 'POST',
		        'header'  => 'Content-type: application/x-www-form-urlencoded',
		        'content' => $postdata
		    )
		);

		$context  = stream_context_create($opts);
		
		if($lead){
		   $result = file_get_contents('https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8', false, $context);
		}else{
		   $result = file_get_contents('https://www.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8', false, $context);
		}
		

		if( $http_response_header[0] == "HTTP/1.1 200 OK" )return true;
		else {
			var_dump($http_response_header);
			return false;
		}

	}

	public function bookaTestDrive() {

		if($this->mailer->storeIntoDB('book_test_drive',$_POST)){

			if(!$this->sendToSalesForce(true)){
				echo 'Error: Some error occurred in  the submission to Salesforce';
				return false;
			}

			echo  'sent';
			
		}else echo "some error occurred storing the request into the database";
			
		
	}

	public function requestABrochure() {

		if($_POST['sendType']=='Post') $_POST['00Nb0000002AKoo']=0;
		
		if(!$this->sendToSalesForce(true)){
			echo 'Error: Some error occurred in  the submission to Salesforce';
			return false;
		}
		

		if($this->mailer->storeIntoDB('request_brochure',$_POST)){

			/*$model=$_POST['model'];
			$subject = "Request a Brochure for '$model'";
			$companyMessage = "request a brochure message for the company";
			$customerMessage = "request a brochure message for the customer";
			
			$dealer_email=$_POST['dealermail'];

			$dealer_email='soprovip@gmail.com';

			$this->mailer->setEmails($dealer_email,filter_input(INPUT_POST, 'email', FILTER_SANITIZE_EMAIL));
			$this->mailer->setSubjects($subject, $subject);
			$this->mailer->setMessages($companyMessage, $customerMessage);
			if($this->mailer->sendMails()) echo  'sent';
			else echo "some error occurred sending emails";*/

			echo 'sent';

		} else echo "some error occurred storing the request into the database";


		
	}

	public function contactUs() {

		//general enquiry
		if(!isset($_POST['00Nb0000009XH5t'])){

			$_POST['orgid']=$_POST['oid'];
			$_POST['00Nb0000002Xysn']=$_POST['salutation'];
			$_POST['00Nb0000002Xysj']=$_POST['first_name'];
			$_POST['00Nb0000002Xysl']=$_POST['mobile'];
			$_POST['00Nb0000002Xyso']=$_POST['city'];
			$_POST['00Nb0000002Xysh']=$_POST['state'];
			$_POST['00Nb0000002Xysp']=$_POST['street'];

			if(!$this->sendToSalesForce()){
					echo 'Error: Some error occurred in  the submission to Salesforce';
				return false;
			}
		//vehicle enquiry
		}else{

			if(!$this->sendToSalesForce(true)){
				echo 'Error: Some error occurred in  the submission to Salesforce';
				return false;
			}
		}

		if($this->mailer->storeIntoDB('contact_us',$_POST)){
		
			/*
			$subject = "Contact Us request";
			$companyMessage = "company email template";
			$customerMessage = "client email template";
			
			$dealer_email=$_POST['dealermail'];
	
			$dealer_email='salvo.vaccarino@radical.ie';

			$this->mailer->setEmails($dealer_email,filter_input(INPUT_POST, 'email', FILTER_SANITIZE_EMAIL));
			$this->mailer->setSubjects($subject, $subject);
			$this->mailer->setMessages($companyMessage, $customerMessage);
			if($this->mailer->sendMails()) echo  'sent';
			else echo "some error occurred sending emails";
			*/
			echo 'sent';

		}else echo "some error occurred storing the request into the database";
	}

	public function subscribeToNewsletter() {

		if($this->mailer->storeIntoDB('newsletter',$_POST)){
			$_POST['Post Opt Out']=$_POST['00Nb0000003FNoq'];
			$_POST['Enewsletter Opt In']=$_POST['00Nb0000003FNop'];
			$_POST['SMS Opt In']=$_POST['00Nb0000003FNor'];
			unset($_POST['00Nb0000003FNoq']);
			unset($_POST['00Nb0000003FNop']);
			unset($_POST['00Nb0000003FNor']);
			$subject = "Toyota: Newsletter subscription";
			
			$companyMessage = "<html><body><h2>Newsletter Subscription</h2>".$this->mailer->array_to_html($_POST)."</body></html>";
			$customerMessage = "<html><body><h2>Newsletter Subscription</h2><p>You are now subscribed to the Toyota Ireland newsletter.</p></body></html>";
			
			$dealer_email=$_POST['dealermail'];
			/*test dealer email*/
			$dealer_email='psoprovici@toyota.ie';

			$user_email=filter_input(INPUT_POST, 'email', FILTER_SANITIZE_EMAIL);
			$this->mailer->setEmails($dealer_email,$user_email);
			
			$this->mailer->setSubjects($subject, $subject);
			$this->mailer->setMessages($companyMessage, $customerMessage);
			if($this->mailer->sendMails()) echo  'sent';
			else echo "some error occurred sending email to $dealer_email and to $user_email";

		}else echo "some error occurred storing the request into the database";
	}	

}





$action = filter_input(INPUT_GET, 'action', FILTER_SANITIZE_SPECIAL_CHARS);
$contact = new ToyotaContact();


switch ($action) {
	case "bookatestdrive":
		$contact->bookaTestDrive();
		break;
	case "contactus":
		$contact->contactUs();
		break;
	case "requestabrochure":
		$contact->requestaBrochure();
		break;
	case "newsletter":
		$contact->subscribeToNewsletter();
		break;
	default:
		break;
}
?>
