<?php
header('Access-Control-Allow-Origin: *');
?>
{header_auc}
<?php
$currentTab = (isset($_GET["tab"])) ? $_GET["tab"] : "pane-contact";
$form = (isset($_GET["form"])) ? $_GET["form"] : false;

global $dealer, $car_model;
if (isset($_GET["model"]))
    $car_model = $_GET["model"];
if (isset($_GET["dealer"]))
    $dealer = $_GET["dealer"];

require_once(APPPATH . "third_party/recaptcha/ReCaptchaToken.php");
global $recaptchaToken;
$config = array('site_key' => '6LdFzxcTAAAAAKSDS13NbH3EZi7_3cM8eMTTeXaZ', 'site_secret' => '6LdFzxcTAAAAAK53_n84itPQM-x_9AoKQh9K1jCH');
$recaptchaToken = new \ReCaptchaSecureToken\ReCaptchaToken($config);

if (!$form) {
    ?>
    <nav class="toyota-tabs-select container form_nav">
        <div class="container_12 clearfix">
            <div class="grid_12">
                <span class="form_nav_item tabtrigger" data-tab="pane-contact-tab">Contact us</span>
                <span class="form_nav_item tabtrigger" data-tab="pane-brochure-tab">Request a brochure</span>
                <span class="form_nav_item tabtrigger" data-tab="pane-test-drive-tab">Arrange a test drive</span>
                <span class="form_nav_item tabtrigger" data-tab="pane-bookaservice-tab">Request a service</span>
                <span class="form_nav_item tabtrigger" data-tab="pane-newsletter-tab">Newsletter Subscription</span>
            </div>
        </div>
    </nav>
    <div class="" id="form_tabs">
        <div class="tabContent" id="pane-test-drive-tab">
            {embed="forms/bookatestdrive"}
        </div>
        <div class="tabContent" id="pane-contact-tab">
            {embed="forms/contactus"}
        </div>
        <div class="tabContent" id="pane-brochure-tab">
            {embed="forms/brochure"}
        </div>
        <div class="tabContent" id="pane-bookaservice-tab">
            {embed="forms/bookaservice"}
        </div>
        <div class="tabContent" id="pane-newsletter-tab">
            {embed="forms/newsletter"}
        </div>
        <div class="tabContent" id="pane-auris2015-tab">
            {embed="forms/brochure"}
        </div>
    </div>
    <?php
} else {
    ?>
    <div class="padding-top-large">
        {embed="forms/<?php echo $form; ?>"}
    </div>
    <?php
}
?>
<script>
    var inputs = ['test_emails', 'emails', 'test_email', 'emailer'];

    for (k = 0; k < inputs.length; k++) {
        var test_input = document.getElementsByName(inputs[k]);

        var i;
        for (i = 0; i < test_input.length; i++) {
            test_input[i].setAttribute("style", "display:none;");
        }
    }

    var $_GET = [];

    window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (a, name, value) {
        $_GET[name] = value;
    });

</script>
<script src="//development.toyota.ie/inc/js/libs.js"></script>
<script src="//development.toyota.ie/inc/js/main.js"></script>
<script>
    window.DEFAUL_FORM = {
        settings: {
            receive_via: "all",
            required_phone: true,
            disable_select_send_via: false,
            disable_select_model: false
        },
        content: {
            title: "Order or download model brochures",
            subTitle: "Choose a model that you would like a brochure from, then fill out the form below...",
            thank_you: "If you order your brochure via post-mail, we will send it as soon as possible."
        }
    };
    //car model should be lowercase here
    window.CUSTOM_FORMS = {
        "priusplugin": {
            settings: {
                receive_via: "all",
                required_phone: true,
                disable_select_send_via: true,
                disable_select_model: false
            },
            content: {
                title: "Register your interest for the All New Prius Plug-in Hybrid",
                subTitle: "Be the first to find out more about the All New Prius Plug-in Hybrid.",
                thank_you: "Thank you for your interest in Toyota. You'll be the first to find out news and updates about the all-new Prius Plug-in Hybrid. Cars arrive in Ireland in June 2017."
            }
        },
        "yaris_2017": {
            settings: {
                receive_via: "download-only",
                required_phone: true,
                disable_select_send_via: false,
                disable_select_model: false
            },
            content: {
                title: "Register your interest and download information for the New Yaris 2017",
                subTitle: "You’ll receive an e-brochure and we’ll send additional information as soon as it becomes available.",
                thank_you: "Thank you for downloading information about the New Yaris 2017. As soon as additional information becomes available we will send it to you."
            }
        }
    };
</script>
<script type='text/javascript'>
    $(function () {

        $(".form_container input[data-validation]").each(function (index) {
            var $input = $(this);
            var $parent = $input.parent();
            var $title = $parent.find(".title1");
            var icon = $title.find("i").detach();
            $title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
            $title.append(icon);
            //$title.prepend("<span class='requiredField'>* </span>");
        });
        $(".form_container .select").each(function (index) {
            var $select = $(this);
            if ($select.find("select[data-validation]").length) {
                var $parent = $select.parent();
                var $title = $parent.find(".title1");
                var icon = $title.find(">*").detach();
                $title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
                $title.append(icon);
            }
        });

        var select = $('#bookserviceform select[id=model]').parent().html();
        var input = '<div id="model_input"><input  id="model"  name="' + $('select[id=model]').attr('name') + '" type="text" placeholder=""/></div>';

        $('select[name=make]').change(function () {

            if ($(this).find(':selected').val() !== 'Toyota') {
                $('#bookserviceform select[id=model]').parent().replaceWith(input);
            } else {
                $('#model_input').replaceWith("<div class='select'>" + select + "</div>");
                FormElements.bindSelects($('#bookserviceform .select'));
            }
        });


        var currentmodel = null;
        var downloadtype = $("#selecttype");
        var download = downloadtype.find("option[value='pdfDownload']");
        var preorder = $("#preorder");
        var email = downloadtype.find("option[value='Ebrochure']");
        var post = downloadtype.find("option[value='Post']");
        var thanks = $('#pane-brochure-tab .form_thanks .intro');
        var send_via = $("#send_via");
        var post_message = $("#post_message");
        var phone_input = $('#phone');
        var model_select = $("#model");
        if (thanks.length === 0)
            thanks = $('.form_thanks .intro');

        //exception for the new rav4 and new prius download brochure
        $(document).on("change", "select#model", function () {
            // check model
            var sel = $(this);
            var model = sel.find("option:selected").val().toLowerCase();
            if (model === currentmodel)
                return;
            else
                currentmodel = model;


            //hides a section without use display:none, otherwise fields are not sent by the form;
            function hideSection($elem) {
                $elem.attr("style", "opacity:0;visibility:hidden;width:0;height:0;overflow:hidden;");
            }


            /**
             *  Enable/disable the options withing the send_via select
             */
            function receiveVia(code) {
                switch (code) {
                    case "all":
                        //enable the 3 options
                        download.prop("disabled", false).show();
                        email.prop("disabled", false).show();
                        post.prop("disabled", false).show();
                        //select download by default
                        download.prop("selected", true);
                        break;
                    case "no-post":
                        //enable the 2 options & disable post
                        download.prop("disabled", false).show();
                        email.prop("disabled", false).show();
                        post.prop("disabled", true).hide();
                        //select download by default
                        download.prop("selected", true);
                        break;
                    case "post-only":
                    case "no-download":
                        //enable the 2 options & disable post
                        download.prop("disabled", true).hide();
                        email.prop("disabled", true).hide();
                        post.prop("disabled", false).show();
                        //select download by default
                        post.prop("selected", true);
                        break;
                    case "download-only":
                        //enable the 2 options & disable post
                        download.prop("enabled", true).show();
                        email.prop("disabled", true).hide();
                        post.prop("disabled", true).hide();
                        //select download by default
                        download.prop("selected", true);
                        break;
                    case "no-email":
                        //enable the 2 options & disable post
                        download.prop("disabled", false).show();
                        email.prop("disabled", true).hide();
                        post.prop("disabled", false).show();
                        //select download by default
                        download.prop("selected", true);
                        break;
                    case "none":
                        //disable all
                        download.prop("disabled", true).hide();
                        email.prop("disabled", true).hide();
                        post.prop("disabled", true).hide();
                        send_via.hide();
                        break;
                }
            }


            /**
             * Set/unset the phone input field as required or optional
             */
            function requiredPhone(required) {
                if (required) {
                    phone_input.attr('data-validation', 'number');
                    phone_input.parent().find('.title1').find('.requiredField').show();
                } else {
                    phone_input.attr('data-validation', 'none');
                    phone_input.parent().find('.title1').find('.requiredField').hide();

                }
            }


            /**
             * Disable/Enables the model select field
             * @param disabled
             */
            function disabledModel(disabled) {
                if (disabled) {
                    model_select.attr('data-validation', 'none');
                    hideSection(model_select.parents(".grid_6").first());
                } else {
                    //enable the select and show the icon,it might be removed by other options
                    model_select.prop("disabled", false);
                    model_select.attr('data-validation', 'select');
                    model_select.parents(".grid_6").first().attr("style", "");
                    model_select.parent().find('.title1').find('.requiredField').show();
                }
            }


            /**
             * Disables/Enables the sendVia field
             * @param disableOption id sets indicate woich one is the default select option
             */
            function disableSendVia(disableOption) {
                if(disableOption){
                    downloadtype.attr('data-validation', 'none');
                    hideSection($("#send_via"));
                    if(typeof disableOption == 'string'){
                        switch (disableOption) {
                            case "download":
                                download.prop("selected", true);
                                break;
                            case "email":
                                email.prop("selected", true);
                                break;
                            case "post":
                                post.prop("selected", true);
                                break;
                        }
                    }else if(disableOption === true){
                        console.log("inside");
                        var none_opt = $('<option value="none">none</option>');
                        $("#selecttype").append(none_opt);
                        none_opt.prop("selected", true);
                    }

                }else{
                    //enable the select and show the icon,it might be removed by other options
                    downloadtype.prop("disabled", false);
                    downloadtype.attr('data-validation', 'select');
                    $("#send_via").attr("style","");
                    $("#selecttype option[value='none']").remove();
                    downloadtype.parent().find('.title1').find('.requiredField').show();
                }
            }


            //select custom form or default form
            if (model != 'no_selection') {
                $formSettings = (window.CUSTOM_FORMS[model]) ? window.CUSTOM_FORMS[model] : window.DEFAUL_FORM;

                //sets the form setting depending on the custom form setting or default form settigs
                receiveVia($formSettings.settings.receive_via);
                requiredPhone($formSettings.settings.required_phone);
                disableSendVia($formSettings.settings.disable_select_send_via);
                disabledModel($formSettings.settings.disable_select_model);

                //trigger change to update ui
                downloadtype.trigger('change');

                //customize the text of the form
                customText();
            }
        });

        $("select#model").trigger('change');
        function customText() {
            if ($("#requestbrochure").length == 0)
                return;
            var $option = $("#pane-brochure-tab select#model option:selected");
            var $message = $("#pane-brochure-tab .header h2").first();
            var $intro = $("#pane-brochure-tab .header .intro").first();

            if ($option.length == 0) {
                $option = $("select#model option:selected")
                $message = $(".header h2").first();
                $intro = $(".header .intro").first();
            }
            var model = $option.val().toLowerCase();


            //select custom form or default form
            $formSettings = (window.CUSTOM_FORMS[model]) ? window.CUSTOM_FORMS[model] : window.DEFAUL_FORM;
            //set title, subtitle and thank you message depending on custom form values
            $message.text($formSettings.content.title);
            $intro.text($formSettings.content.subTitle);
            thanks.text($formSettings.content.thank_you);
        }

        customText();
    });


    //set dealer id for contact us
    $("#dealer_custom").change(function () {
        var deID = $(this).find("option:checked").data("dealer-id");
        $("#00Nb0000002AKok").val(deID);
    });


    //Recaptcha


    function recaptcha() {
        //recapthcaready is declared in the snippets/header_auc  becouse the function need to be in the header
        if (!recapthcaready) {
            setTimeout(recaptcha, 100);
            return;
        }
        var captchas = [];
        var $tabs = $(".tabContent");
        if ($tabs.length == 0) {
            $tabs = $(".form_container");
        }
        $tabs.each(function () {
            var $tab = $(this);
            var $captcha = $tab.find(".g-recaptcha");
            if ($captcha.length == 0)
                return;
            var tabId = $tab.attr("id");
            captchas[tabId] = {
                tab: $tab,
                captcha: $captcha,
                verifyCallback: function () {
                    alert("tab : " + tabId);
                }
            };
//		console.log("tab : "+tabId);
//		console.log($captcha[0]);
            grecaptcha.render($captcha[0], {
                'sitekey': $captcha.data("sitekey"),
                'theme': 'light',
                stoken: $captcha.data("stoken"),
                'callback': function () {
                    $tab.find(".hiddencaptcha").prop('checked', true);
                    $tab.find(".form-error").hide();
                }
            });
        });
    }

    recaptcha();


</script>
<!--[if lt IE 9]>
<script src="//development.toyota.ie/inc/js/ie8.js"></script> <![endif]-->
<?php if (!$form) { ?>
    <script type="text/javascript">
        if ($(".tabtrigger").length > 0) {
            var $currentTab = $("#<?= $currentTab ?>-tab");
            var $currentControl = $(".tabtrigger[data-tab='<?= $currentTab ?>-tab']");
            $currentControl.addClass("active");
            $currentTab.show();

            $('.tabtrigger').click(function () {
                $currentControl.removeClass("active");
                $(this).addClass("active");
                var id = $(this).data("tab");
                var $nextTab = $("#" + id);
                $currentTab.hide();
                $nextTab.show();
                $currentTab = $nextTab;
                $currentControl = $(this);
            });
        }
    </script>
<?php } ?>
</body>
</html>
