<div class="parallax  clearfix" data-layer-parallax>
	<div class="assetWidthContain bg-par">
		<div class="background-layer" style="background-image: url(assets/images/image_test.jpg)" data-height="900" data-width="1600">
		</div>
		<div class="move-into-parallax container_12 container_12_absolute">
			<div class="bg-par">
				<div class="bg-par-inner SecContentContainer" data-contenttype="ajax" data-name="Youtube Video" data-id="parallax-video">
                    <a id="videoLink" class="secContentTrigger" href="/ajax/videoloader?videoid=jndzCckjQo8" target="_blank">
                        <h1 class="heading1 shadow aygoXbrush tilted">Go fun yourself</h1>
                        <h2 class="heading2 shadow">We took to the streets of Ireland recently to get people to go fun themselves with a big orange button and the brand new Toyota AYGO. See what happened here and get some inspiration for your own video&nbsp;too...</h2>
                        <span class="ui-sprite play-icon-large"></span>
                    </a>
                </div>

			</div>
		</div>
	</div>
</div>