{exp:channel:entries channel="generic_settings"}
<div class="container_12 content-block">
	<div class="section_title">
		<h2 class="heading1">Our Location</h2>
	</div>
	<div class="grid_2">&nbsp;</div>
	<div class="grid_8">
	
	{exp:gmap:init id="dealer_location" script_tag="false" class="gmap" style="width:100%;height:400px" scrollwheel="false"}
	{/exp:gmap:init}

	<h2>{{dealer_latitude}}</h2>
	<h2>{{dealer_longitude}}</h2>
	<h2>{{dealer_contact_number}}</h2>
	<h2>{{dealer_contact_email}}</h2>

	{dealer_location id="dealer_location"}
	{exp:gmap:marker id="dealer_location" latitude="{dealer_latitude}" longitude="{dealer_longitude}" geocode="false" clustering="true"}
		<h3>{title}</h3>
		<h4>{dealer_address}</h5>
		<h4>contact number:{dealer_contact_number}</h4>
		<h4>contact email:{dealer_contact_email}</h4>
	{/exp:gmap:marker}	
	{exp:gmap:zoom id="dealer_location" zoom="13"}{/exp:gmap:zoom}
		</div>
	<div class="grid_2">&nbsp;</div>
</div>
{/exp:channel:entries}
