<header class="header-container" >
	<div class="container_12 clearfix">
		<div class="grid_12">
			<div class="bg-image-hero bg-image-hero-med med-small">
				<div class="coverBG" style="background-image: url(http://development.toyota.ie/inc/images/news-events-header.jpg);"></div>
				<div class="hero-inner container_12 container_12_absolute center-text">
					<h1 class="heading1">NEWS & EVENTS</h1>
					<span class="heading2">{site_name}</span>
				</div>
			</div>
		</div>
	</div>
</header>
<div id="filter" class="container_12 clearfix content-block">
<!--	<div class="grid_12">
		<div class="section_title" id="filterable_section">
			<h2 class="heading1">
			
			<span>News</span></h2>
		</div>
	</div>-->
	<div class="grid_12 padding">
		<div class=" filter-bar no-js-hide">
			<div class="fb-inner">
				<ul class="fb-group fb-list">
					<li><a href="#filter" class="filter-control uiBtn greyBtn active" id="all-data" data-section-filter=".fc-group" data-default="">All</a></li>
					<li><a href="#filter" class="filter-control uiBtn greyBtn" data-section-filter=".toyota-group">Toyota News</a></li>
					<li><a href="#filter" class="filter-control uiBtn greyBtn" data-section-filter=".local-group">Dealer News</a></li>
				</ul>
			</div>
		</div>
	</div>	
	<div class="fc-group-container-wrapper">
	<div class="fc-group-container padding clearfix viewmore">
		{{> news}}
	</div>
	</div>
	<div class="grid_12 padding showMoreGroup">
		<div class=" filter-bar no-js-hide">
			<div class="fb-inner">
				<ul class="fb-group fb-list">
					<li ><a href="#filter" class=" uiBtn greyBtn showMore"  data-section-filter=".fc-group"><span class="text">Show More </span>&nbsp; <i class="icon icon-chevron-down"></i></a></li>
					<li ><a href="#filter" class=" uiBtn greyBtn showMore " data-section-filter=".toyota-group"><span class="text">Show More Toyota news</span>&nbsp; <i class="icon icon-chevron-down"></i></a></li>
					<li ><a href="#filter" class=" uiBtn greyBtn showMore " data-section-filter=".local-group"><span class="text">Show More Dealer News</span>&nbsp; <i class="icon icon-chevron-down"></i></a></li>
					<li class="return_top"><a href="#filter" class=" uiBtn greyBtn" ><span class="text">Back to top</span>&nbsp; <i class="icon icon-chevron-up"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{{> socialtools}}



