<header class="header-container padding">
	<div class="container_12  clearfix" id="filterable_section">
		<div class="grid_12">
			<div class="bg-image-hero bg-image-hero-med med-small">
				<div class="coverBG" style="background-image: url(http://development.toyota.ie/inc/images/offers.jpg);"></div>
				<div class="hero-inner container_12 container_12_absolute center-text">
					<h1 class="heading1">OFFERS</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<div id="filter" class="container_12 clearfix content-block">
	<div class="grid_12">
		<div class="filter-bar no-js-hide">
			<div class="fb-inner">
				<ul class="fb-group fb-list">
					<li><a href="#filter" class="filter-control uiBtn greyBtn" data-section-filter=".fc-group" id="all-data"  data-default="">All</a></li>
					<li><a href="#filter" class="filter-control uiBtn greyBtn" data-section-filter=".toyota-group">Toyota Offers</a></li>
					<li><a href="#filter" class="filter-control uiBtn greyBtn" data-section-filter=".local-group">Dealer Offers</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="fc-group-container-wrapper">
		<div class="fc-group-container clearfix viewmore" id="offersList">
			{{> offers}}
		</div>
	</div>
	<div class="grid_12 padding showMoreGroup">
		<div class=" filter-bar no-js-hide">
			<div class="fb-inner">
				<ul class="fb-group fb-list">
					<li ><a href="#filter" class=" uiBtn greyBtn showMore"  data-section-filter=".fc-group"><span class="text">Show More </span>&nbsp; <i class="icon icon-chevron-down"></i></a></li>
					<li ><a href="#filter" class=" uiBtn greyBtn showMore " data-section-filter=".toyota-group"><span class="text">Show More Toyota Offers</span>&nbsp; <i class="icon icon-chevron-down"></i></a></li>
					<li ><a href="#filter" class=" uiBtn greyBtn showMore " data-section-filter=".local-group"><span class="text">Show More Dealer Offers</span>&nbsp; <i class="icon icon-chevron-down"></i></a></li>
					<li class="return_top"><a href="#filter" class=" uiBtn greyBtn" ><span class="text">Back to top</span>&nbsp; <i class="icon icon-chevron-up"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="greyBg">
	<div class="container_12 buttonsBar">
		<div class="grid_3">
			<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="contactus2">
				<a href="/ajax/forms" id="btbar_pane-contact" class="secContentTrigger uiBtn  redBtn  hasIcon" >
					&nbsp;&nbsp;Contact Us <i class="icon icon-chevron-right"></i>
				</a>
			</span>
		</div>
		<div class="grid_3">
			<a href="/pages/new-cars" class="uiBtn  redBtn  hasIcon">&nbsp;&nbsp;New Cars<i class="icon icon-chevron-right"></i></a>
		</div>
		<div class="grid_3">
			<a href="/pages/assured-used-cars" class="uiBtn  redBtn  hasIcon">&nbsp;&nbsp;Assured Used Cars<i class="icon icon-chevron-right"></i></a>
		</div>
		<div class="grid_3">
			<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="bookservice2">
				<a href="/ajax/forms" id="btbar_pane-service" class="secContentTrigger uiBtn  redBtn  hasIcon">
					&nbsp;&nbsp;Request service<i class="icon icon-chevron-right"></i>
				</a>
			</span>
		</div>
	</div>
</div>


