{{#with metaData.header}}
<header class="header-container remote-news">
	<div class="container_12">
		<div class="grid_12 ">
			<div class="bg-image-hero bg-image-hero-med">
				<!--div class="coverBG" style="background-image: url('{{desktopImageUrl}}');"></div-->
				<img src='{{multimedia.[0].desktopImageUrl}}' style='width:100%;' alt="{{{title}}}"/>
			</div>
		</div>
	</div>
	<div class="container_12 ">
		<div class="grid_12">
			<div class="section_title">
				<h1 class="heading1">{{{title}}}</h1>
				<span class="heading2">{{{subtitle}}}</span>
			</div>
		</div>
	</div>
	{{#if intro}}
	<div class="container_12 ">
		<div class="grid_12">
			<div class="section_title">
				<span class="heading3">{{{intro}}}</span>
			</div>
		</div>
	</div>
	{{/if}}
</header>
{{/with}}
{{#if metaData.sections}}
<div class="content-block">
	{{#each metaData.sections}}
		{{#if type}}
				{{{dynpart type}}}
			{{else}}
			<div class="grid_12 remote-news-section">
				{{#if title}}<strong class="news-sibtitle">{{{title}}}</strong>{{/if}}
				{{#each sectionParagraphs.paragraphs}}{{{paragraph}}}{{/each}}
			</div>
		{{/if}}
	{{/each}}
</div>
{{/if}}
{{#if metaData.article}}
	{{#with metaData.article}}
	<div class="content-block body-content">
		{{#each sections}}
			{{#if type}}
					{{{dynpart type}}}
				{{else}}
				<div class="grid_12 remote-news-section">
					<article class="container">
						{{#if title}}<strong class="news-sibtitle">{{{title}}}</strong>{{/if}}
						{{#each sectionParagraphs.paragraphs}}{{{paragraph}}}{{/each}}
					</article>
				</div>
			{{/if}}
		{{/each}}
	</div>
	{{/with}}
{{/if}}
{{> socialtools }}