<?php
$modelTag = "{{metaData.taggingModel}}";
$models = json_decode(@file_get_contents("http://development.toyota.ie/api/new-cars"), true);
//print_r($models);
$mod = "";
$items = $models["modelrange"]["items"];
foreach ($items as $item) {
    if (isset($item["model"]) && isset($item["title"]) && $item["model"] == $modelTag) {
        $mod = strtolower($item["title"]);
        break;
    }
}
?>
<div class="offer-remote-section">
    <div class="container_12">
        <div class="grid_12 center-text section-title">
            <h2 class="heading1">Special offer</h2>
        </div>
        <div class="grid_12 filter-bar no-js-hide">
            <div class="fb-inner">
                <ul class="fb-group fb-list">
                    {{#if metaData.taggingModel}}
                    <li>
                        <a href="/pages/new-car-details/<?php echo ($mod != '') ? str_replace(' ', '-', $mod) . '/index.json' : ""; ?>"
                           class="fb-item uiBtn greyBtn">Find more about
                            <span><?php echo ($mod != '') ? ucfirst($mod) : "the Toyota Range"; ?><span></a></li>
                    {{/if}}
                    <li><a href="/pages/offers" class="fb-item uiBtn greyBtn">View all promotions</a></li>
                </ul>
            </div>
        </div>
        <div class="padding">&nbsp;</div>
        <div class="grid_12 padding promotion_image">
            <img class="fullwidth" src="{{{metaData.promotion.largeImage}}}" alt="<?php echo $mod; ?> image"/>
            {{#if metaData.taggingModel}}
			<span class="SecContentContainer brochure" data-contenttype="ajax" data-name="New Car" data-id="brochure">
							<a class="secContentTrigger uiBtn  redBtn  hasIcon smBtn" href="/ajax/forms"
                               id="promo_pane-brochure">
                                <span>Request a brochure</span> <i class="icon icon-chevron-right" data-icon=""></i>
                            </a>
						</span>
            {{/if}}
        </div>
    </div>
    <div class="container_12 ">
        <div class="grid_12 ">
            <h1 class="heading1 imageHeding">{{{metaData.promotion.title}}}</h1>
            <span class="heading2 pomotion_subtitle">{{{metaData.promotion.subtitle}}}</span>
        </div>
    </div>


    <div class=" container_12 content-block clearfix">
        <div class="grid_12 intro-text text-center">
            {{{metaData.promotion.intro}}}
        </div>
        <div class="offer-remote">
            <div class="grid_12 intro-text text-center">
                <span
                    class="heading3 strong"><?php echo html_entity_decode("{{metaData.promotion.priceTag}}"); ?></span>
            </div>
            <div class="grid_12 intro-text text-center">
                {{#if metaData.promotion.options.hideValidityDate}}
                {{#if metaData.promotion.disclaimer}}
                <p class="terms">
                    View Disclaimer &nbsp;
                </p>
                {{/if}}
                {{else}}
                <?php
                $dateStart = '{{{metaData.promotion.from}}}';
                $dateEnd = '{{{metaData.promotion.until}}}';
                ?>
                <br/>

                <p class="terms">
                    Valid from <?php echo date("F j, Y", strtotime($dateStart)); ?>
                    to <?php echo date("F j, Y", strtotime($dateEnd)); ?>
                </p>
                {{/if}}

                {{#if metaData.promotion.disclaimer}}
                <p class="full-terms">
                    {{{metaData.promotion.disclaimer}}}
                </p>
                {{/if}}
            </div>
        </div>
    </div>

    {{#each metaData.promotion.sections}}
    {{#if type}}
    {{{dynpart type}}}
    {{else}}{{#if section}}
    {{#each section}}
        {{#if sectionParagraphs}}
        <br/>
        <div class="container_12  body-content sectionParagraphs">
            {{#if title}}
                <div class="grid_12 padding clearfix">
                    <span class="heading3 strong">{{{title}}}</span>
                </div>
            {{/if}}
            {{#each sectionParagraphs.paragraphs}}
                {{#if paragraph}}
                <div class="grid_12">
                    {{{paragraph}}}
                </div>
                {{/if}}
            {{/each}}
        </div>
        {{/if}}
        {{#if items.[0].binary.url}}
            <div class="container_12  body-content">
                <div class="grid_12 padding-large clearfix">
                    <img class="fullwidth" src="http://d1hu588lul0tna.cloudfront.net/toyotaone{{items.[0].binary.url}}"
                         alt="highlights design">
                </div>
            </div>
        {{/if}}
    {{/each}}
    {{/if}}{{/if}}
    {{/each}}


    {{#if metaData.relatedPromotions.[0]}}
    {{#with metaData.relatedPromotions}}
    <?php global $grid_6;
    $grid_6 = true ?>
    <div class="padding">&nbsp;</div>
    <div class="container_12 ">
        <div class="grid_12 ">
            <h2 class="heading2">Related offers</h2>
        </div>
    </div>
    <div class="container_12 content-block">
        {{> offers}}
    </div>
    {{/with}}
    {{/if}}


</div>

{{> socialtools }}




