{{#this}}
<?php $segs = ee()->uri->segment_array(); ?>
<div class="remote-section">
	{{#if header}}	
	<?php
	$mediaType = "{{header.mediaType}}";
	$isSubsection = "{{header.componentName}}"; // SubSection has the field componentName while articles doesn't 
	//	var_dump($mediaType);
	// var_dump($isSubsection);
	if ($isSubsection):
		?>
		<header class="header-container">
			<div class="bg-image-hero bg-image-hero-med subsection">
				<div class="coverBG" style="background-image: url('{{header.multimedia.[0].desktopImageUrl}}');"></div>
				<div class="hero-inner  {{{header.textColour}}}-text container_12 container_12_absolute center-text">
					<h1 class="heading1">{{{header.title}}}</h1>
					<span class="heading2">{{{header.subtitle}}}&nbsp;</span>
				</div>
			</div>
		</header>	
		<?php
	else:
		if ($mediaType === "medium-text-below"):
			?>
			<header class="header-container">
				<div class="container_12">
					<div class="grid_12 ">
						<div class="bg-image-hero bg-image-hero-med">
							<div class="coverBG top" style="background-image: url('{{{header.multimedia.[0].desktopImageUrl}}}');"></div>
						</div>
					</div>
				</div>
			</header>
			<div class="container_12 ">
				<div class="grid_12">
					<div class="section_title {{header.textAlign}}">
						<h1 class="heading1">{{{header.title}}}</h1>
						<span class="heading2">{{{header.subtitle}}}</span>
					</div>
				</div>
			</div>
			<?php
		elseif ($mediaType === "full"):
			?>
			<header class="header-container">
				<div class="bg-image-hero bg-image-hero-large padding">
					<div class="coverBG" style="background-image: url('{{header.multimedia.[0].desktopImageUrl}}');"></div>
					<div class="hero-inner  {{{header.textColour}}}-text container_12 container_12_absolute center-text">
						<h1 class="heading1">{{header.title}}</h1>
						<span class="heading2">{{{header.subtitle}}}&nbsp;</span>
					</div>
				</div>
			</header>	
			<?php
		elseif ($mediaType === "small"):
			?>
			<header class="header-container">
				<div class="container_12">
					<div class="grid_12 ">
						<div class="bg-image-hero bg-image-hero-small">
							<!--div class="coverBG" style="background-image: url('{{desktopImageUrl}}');"></div-->
							<img src='{{header.multimedia.[0].desktopImageUrl}}' style='width:100%;' alt="intro image"/>
						</div>
					</div>
				</div>
			</header>
			<div class="container_12 ">
				<div class="grid_12">
					<div class="section_title {{header.textAlign}}">
						<h1 class="heading1">{{{header.title}}}</h1>
						<span class="heading2">{{{header.subtitle}}}</span>
					</div>
				</div>
			</div>
			<?php
		else:
			?>
			<header class="header-container">
				<div class="container_12">
					<div class="grid_12">
						<div class="bg-image-hero bg-image-hero-med padding-large">
							<div class="coverBG" style="background-image: url('{{header.multimedia.[0].desktopImageUrl}}');"></div>
							<div class="hero-inner  {{{header.textColour}}}-text container_12 container_12_absolute center-text">
								<h1 class="heading1">{{header.title}}</h1>
								<span class="heading2">{{{header.subtitle}}}&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
			</header>
		<?php
		endif;
	endif;
	?>
	{{#if header.intro}}
	<div class="container_12 ">
		<div class="grid_12">
			<div class="section_title {{header.textAlign}} intro">
				<span class="heading3">{{{header.intro}}}</span>
			</div>
		</div>
	</div>
	{{/if}}
	{{/if}}
	<!--	end of header-->
	{{#if article}}
	<div class=" body-content clearfix">
		{{#this}}
		{{#each sections}}
		{{#if type}}
		{{{dynpart type}}}
		{{else}}
		<div class="clear"></div>
		<div class="container_12 clearfix">
			{{#if title}}
			<div class="grid_12">
				<h5>{{{title}}}</h5>
			</div>
			{{/if}}
			<?php
			$grid_l;
			$grid_r;
			?>
			{{#if sectionParagraphs}}
			{{#if items}}
			<?php
			$grid_l = "grid_7";
			$grid_r = "grid_5";
			?>
			{{#if items.[0].ctas}}<?php
			$grid_l = "grid_12";
			$grid_r = ""; // in this case we are not rendering the cta so left must be grid_12 
			?>{{/if}}
			{{else}}
			<?php
			$grid_l = "grid_12";
			$grid_r = "";
			?>
			{{/if}}
			{{else}}
			{{#if items}}
			<?php
			$grid_l = "";
			$grid_r = "grid_12";
			?>
			{{else}}
			<?php
			$grid_l = "grid_12";
			$grid_r = "grid_12"; //this case imposible. in that case outpt is empty 
			?>
			{{/if}}
			{{/if}}
			<div class="<?php echo $grid_l ?> {{paragraphGridClass}}">
				{{#each sectionParagraphs.paragraphs}}
				{{{paragraph}}}
				{{/each}}
				<!--end of paragraphs-->
			</div>
			{{#each items}}
			{{#if externalLink}}
			<div class="<?php echo $grid_r ?>">
				<?php
				$parsedUrl = parse_url("{{{externalLink}}}");
				$src = "{{{externalLink}}}";
				if ($parsedUrl['host'] && $parsedUrl['host'] === "www.youtube.com") {
					$qparams = array();
					parse_str($parsedUrl['query'], $qparams);
					$video = $qparams["v"];
					$src = "//" . $parsedUrl['host'] . "/embed/" . $video . "?rel=0&amp;enablejsapi=0&amp;hd=1;autoplay=0;controls=1;modestbranding=1&amp;wmode=opaque&amp;html5=1";
				}
				//$extLink = str_replace("watch?v=", "embed/", str_replace("https:", "", "{{externalLink}}"));
				?>
				<iframe width="960" height="671" src="<?php echo $src; ?>" style="border:none" allowfullscreen></iframe>
			</div>
			{{else}}
			{{#if binary.url}}
			<div class="<?php echo $grid_r ?>">
				<div class='imageContainer'>
					<img src="{external_url_images}{{binary.url}}" alt="{{title}}"/>
					<h5><strong>{{title}}</strong></h5>
					<small>{{{description}}}</small>
				</div>
			</div>
			{{/if}}
			{{/if}}	
			<!--end of else if external link-->
			{{#if ctas}}
			<?php if ($segs[2] === "hybrid") { ?>
			</div>
			<div class="greyBg hybridCTA">
				<div class="container_12 buttonsBar page-section {{align}}-align" data-id="#pageOverview" id="pageOverview">

					<div class="grid_3">
						<span class="SecContentContainer" data-contenttype="ajax" data-name="Hybrid" data-id="booktestdrive2">
							<a class="secContentTrigger uiBtn  redBtn  hasIcon" href="/ajax/forms" data-target="btbar_pane-test-drive">
								<span>Try Hybrid Today</span> <i class="icon icon-chevron-right" data-icon=""></i>
							</a>
						</span>	
					</div>
					<div class="grid_3">
						<span class=""  >
							<a class=" uiBtn  redBtn  hasIcon" href="/pages/hybrid/hybrid-innovation/hybrid-range/index.json" >
								<span>Explore The Range</span> <i class="icon icon-chevron-right" data-icon=""></i>
							</a>
						</span>
					</div>
				</div>
				{{#if title}}
				<div class="container_12 ctaText">
					<h3 class="heading3 grid_12">{{title}}</h3>
				</div>
				{{/if}}
			</div>
			<div class="container_12 clearfix padding">
			<?php } ?>
			{{/if}}
			<!--end of cta-->
			{{/each}}
			<!--end of ITEMS-->
		</div>
		{{/if}}
		{{/each}}
		<!--end of sections-->
		{{/this}}

	</div>
	{{/if}}
	<!--	end of article-->
	{{#each sections}}
	{{{dynpart this.type}}}
	{{/each}}
	{{#if minisite}}
	<article id="mainContent" class="navtoright" style="min-height:700px;"><!-- cta-tiles.nj : begin -->

		<div id="ctaCC" class="cta-cc" data-bt-eventclass="ctaevent" data-bt-category="component" data-bt-componentname="cta_quicklinks" data-bt-action="click_cta" data-bt-workflowstep="0">

		</div>
		<div id="minisiteContent">
			<script src="http://hybrid.toyota-europe.com/hybrid_embed_toyotaone.js?lang=en_US"></script>
		</div>
	</article>
	{{/if}}
</div>
{{/this}}
{{#with metaData.footer}}
{{> footer}}
{{/with}}