{{#this}}
	{{#if header}}
		<header class="header-container header-{{header.textColour}}">
			<div class="bg-image-hero bg-image-hero-large">
				<div class="coverBG" style="background-image: url('{{header.multimedia.[0].desktopImageUrl}}');"></div>
				<div class="hero-inner container_12 container_12_absolute {{header.textAlign}}-text">
					<div class="reset">
						<div class="container_12">
							<div class="grid_12">
								<h1 class="heading1">{{header.title}}</h1>
								<span class="heading2">{{header.subtitle}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="container_12_absolute_bottom">
					<div class="container_12">
						<div class="grid_12">
							<?php
							$quickspecs = '{{header.showQuickspecs}}';
							if ($quickspecs) {
								?>
								{{#each ../cardbData.quickspecs.subModels}}
									{{@key}}
									<aside class="quick-spec  {{#if isHybrid}}blue{{/if}}">
										<div class="header">
											{{#if minPrice.listWithDiscountText}}
												<h3 class="spec-heading" style="color:white;">{{minPrice.listWithDiscountText}}</h3>
											{{/if}}
											<span class="SecContentContainer" data-id="prices" data-contenttype="ajax" data-name="Prices" data-viewall>
												<a href="/ajax/prices?priceurl={external_url}/api/page<?php echo str_replace('index.json', 'prices.json', '{{../../pid.path}}'); ?>" class="spec-link secContentTrigger" data-target="view_prices">View prices</a>
											</span>
										</div>
										<table>
											<caption class="hidden">Car price list</caption>
											<thead>
												<tr>
													{{#each features}}
														<th style="width:33%">{{short}}</th>
													{{/each}}
												</tr>
											</thead>
											<tbody>
												<tr>
													{{#each features}}
														<td><strong>{{value}}</strong>{{unit}}</td>
													{{/each}}
												</tr>
											</tbody>

										</table>          
									</aside>
								{{/each}}
								{{#if header.disclaimer}}
									<!-- Disclaimer text -->
									<aside class="quick-spec-disclaimer hidden_before_s" data-open-text="View discalimer" data-close-text="Close">
										<div class="disclaimer-text">
											<p>{{{header.disclaimer}}}</p>
										</div>
									</aside>
								{{/if}}
							<?php } ?>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="greyBg">
			<?php 	
			$url = "{{{seo.canonical}}}";
			$pos = strpos($url, 'index-new-avensis'); 
			if($pos===FALSE){
				?>
				<div class="container_12 buttonsBar page-section "  data-id="#pageOverview"  id="pageOverview">
					<div class="grid_3">
						<span class="SecContentContainer" data-contenttype="ajax" data-name="New Car" data-id="contactus2">
							<a href="/ajax/forms" id="btbar_pane-contact" class="secContentTrigger uiBtn  redBtn  hasIcon">
								&nbsp;&nbsp;Contact Us <i class="icon icon-chevron-right"></i>
							</a>
						</span>
					</div>
					<?php
						$model = "{{{header.title}}}";
						if($model !== "Auris Van"){
							$modelpage = str_replace(" ","-",$model);
							$modelConfig = str_replace(" ","+",$model);
					?>
					<div class="grid_3">
						<span class="SecContentContainer" data-id="configure_model">
							<a class="uiBtn  redBtn  hasIcon" href="{{{seo.canonical}}}{{{pageLinks.[2].url}}}" id="btbar_configure" target="_blank">
								<span>Configure this model</span> <i class="icon icon-chevron-right" data-icon=""></i>
							</a>
						</span>
					</div>
					<?php }	?>
					<div class="grid_3">
						<span class="SecContentContainer" data-contenttype="ajax" data-name="New Car" data-id="booktestdrive2">
							<a class="secContentTrigger uiBtn  redBtn  hasIcon" href="/ajax/forms" id="btbar_pane-test-drive">
								<span>Book a test drive</span> <i class="icon icon-chevron-right" data-icon=""></i>
							</a>
						</span>	
					</div>
					<div class="grid_3">
						<span class="SecContentContainer" data-contenttype="ajax" data-name="New Car" data-id="brochure">
							<a class="secContentTrigger uiBtn  redBtn  hasIcon" href="/ajax/forms" id="btbar_pane-brochure">
								<span>Request a brochure</span> <i class="icon icon-chevron-right" data-icon=""></i>
							</a>
						</span>	
					</div>
				</div>
			<?php }else{?>
				<div class="container_12 buttonsBar page-section "  data-id="#pageOverview"  id="pageOverview">
					<div class="grid_3">
						<span class="SecContentContainer" data-contenttype="ajax" data-name="New Car" data-id="contactus2">
							<a href="/ajax/forms" id="btbar_pane-contact" class="secContentTrigger uiBtn  redBtn  hasIcon">
								&nbsp;&nbsp;Contact Us <i class="icon icon-chevron-right"></i>
							</a>
						</span>
					</div>
					<div class="grid_3">
						<span class="SecContentContainer" data-contenttype="iframe" data-name="New Car" data-id="brochure">
							<a class="secContentTrigger uiBtn  redBtn  hasIcon" href="/ajax/forms" id="btbar_pane-brochure">
								<span>Pre-Order Avensis Brochure</span> <i class="icon icon-chevron-right" data-icon=""></i>
							</a>
						</span>	
					</div>
				</div>
			<?}?>
		</div>
		{{#if header.intro}}
			<div class="container_12 content-block" >
				<div class="grid_12 center-text new-car-intro default-block">
					<h3 class="heading3">
						{{{header.intro}}}
					</h3>
				</div>
			</div>
		{{/if}}
	{{/if}}
	{{#if article}}
		{{#each article.sections}}
			<div class="container_12  body-content">
				<div class="grid_12">
					<h3 class='padding'><?php echo html_entity_decode("{{title}}"); ?></h3>
				</div>
				<?php
				$layout = trim('{{sectionParagraphs.layout}}');
				if ($layout == '3col')
					$layout = 'col-p-3 padding';
				?>
				{{#each sectionParagraphs}}
					{{#this}}
						<div class="grid_12 <?php echo $layout; ?>">
							<?php echo html_entity_decode("{{paragraph}}"); ?>
						</div>
					{{/this}}
				{{/each}}
				{{#each items}}	
					<div class="grid_12">
						{{#if binary.url}}
						<img src="http://d1hu588lul0tna.cloudfront.net/toyotaone{{binary.url}}" alt='auris van'/>
						{{/if}}
					</div>
				{{/each}}
			</div>
		{{/each}}
	{{/if}}
	
	
	{{#each sections}}
		{{#if this.type}}
			{{{dynpart this.type}}}
		{{/if}}
	{{/each}}
{{/this}}


<!-- ########### METADATA FOOTER ################## -->
{{#with metaData.footer}}
	{{> footer}}
{{/with}}
