{{#each this}}
{{#if url_title}}
<header class="header-container">
	<div class="container_12">
		<div class="grid_12 ">
			<div class="bg-image-hero bg-image-hero-med">
				<?php 
				$image = "{{news_image}}";
				if($image==="")
					$image ="http://development.toyota.ie/inc/images/news-events-header.jpg";
				?>
				<div class="coverBG" style="background-image: url('<?php echo $image?>');"></div>
			</div>
		</div>
	</div>
</header>

<div class="container_12 content-block text-content clearfix">
	<div class="grid_12">
		<div class="section_title">
			<h2 class="heading1"><?php echo html_entity_decode("{{title}}");?></h2>
			<span class="heading2"><?php echo html_entity_decode("{{news_subtitle}}");?></span>
		</div>
	</div>
	<div class="grid_12 intro-text center-text heading4">
		<?php echo html_entity_decode("{{news_summary}}");?>
	</div>
</div>	
{{#each news_content}}
{{> paragraphs}}
{{/each}}
{{/if}}
{{/each}}
{{> socialtools}}
