<?php  	$segs = ee()->uri->segment_array(); ?>
<div class="secondary-nav">
	<div class="container_12 clearfix">
		<div class="grid_12">
			<ol class="sec-nav-list">
				{{#this}}
					{{#each secondary}}
						{{@key}}
		                {{#if title}}
							<?php
							$href = "{{{inPageId}}}";
							$urlParts = parse_url($href);

							//if host not pressent is an internal page otherwise it is external
							if (!isset($urlParts["host"])) {
								switch ($segs[2]) {
									case "hybrid":
										$href = "/hybrid$href";
										break;
									case "service-and-accessories":
										$href = "/pages$href";
										break;
									default:
										//$href = $href;

								}
							}
							?>
							<li><a class="scrollTo" href="<?php echo $href; ?>" data-bt-value="<?php echo $href; ?>">{{title}}</a>
							</li>
		            	{{/if}}
				    {{/each}}
			    {{/this}}
			</ol>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>