{{#with generic_settings.[0]}}
<?php
$test = '{{{dealer_location}}}';
$marker = json_decode($test);
$geo = '';
if (count($marker)) {
	if (count($marker->markers)) {
		if (count($marker->markers->results)) {
			$geo = $marker->markers->results[0]->geometry->location;
		}
	}
}
// generates an unique id for the map, in case two or more maps displayed in same page
$rand = rand(0, 3200);
?>
{{/with}}



<?php
// ##################### Map with no get route button #######################
if (isset($_GET["infoMap"])) {
	?>	
	{{#with generic_settings.[0]}}
	<div class="section_title">
		<h2 class="heading1">Our Location</h2>
	</div>
	<div class="grid_6">
		{exp:gmap:init id="dmap_<?php echo $rand; ?>"  script_tag="false" class="gmap" zoom="9" style="width:100%;height:400px" scrollwheel="false"}
		{/exp:gmap:init}
		{exp:gmap:marker id="dmap_<?php echo $rand; ?>" zoom="14" latitude="<?php if ($geo) echo $geo->lat; ?>" longitude="<?php if ($geo) echo $geo->lng; ?>" geocode="false" clustering="false"}
		<h3>{{title}}</h3>
		<h4><?php echo html_entity_decode("{{dealer_address}}"); ?></h4>
		<h4>contact number: {{dealer_contact_number}}</h4>
		<h4>contact email: {{dealer_contact_email}}</h4>
		{/exp:gmap:marker}
	</div>
	<div class="grid_6">
		<div class="direction_details">
			<div class="padding">
				<p><strong>Address:</strong></p>
				{{{dealer_address}}}
			</div>
			{{/with}}
			{{#each staff}}
				{{#if contact_hours.length}}
				<div class="padding">
					<p><strong>{{{title}}} Opening Hours:</strong></p>
					<div class="contact_hours">
						{{#each contact_hours}}
						<span class="row_hour">
							{{day_of_the_week}}: &nbsp;&nbsp;{{from_time}} - {{to_time}}<br/>
						</span>
						{{/each}}
					</div>

				</div>
				{{/if}}
			{{/each}}

			{{#with generic_settings.[0]}}
			<?php
			ob_start();
			?>{{{directions}}}<?php
			$directions = ob_get_clean( );
			if ($directions) {
				?>
				<div class="padding">
					<p><strong>Directions:</strong></p>
				<?php echo str_replace("\n\n","<br/>",$directions); ?>
				</div>
				<?php
			}
			?>
		</div>
		<div class="clear"></div>
		<a href="" class="uiBtn  darkBtn getRoute" id="getRoute" data-mapid="dmap_<?php echo $rand; ?>">Get Route</a>
	</div>
	<br/>
	{{/with}}



<?php } else { ?>	
	{{#with generic_settings.[0]}}
	<div class="section_title">
		<h2 class="heading1">Our Location</h2>
	</div>
	<div  class="map-container">
		{exp:gmap:init id="dmap_<?php echo $rand; ?>"  script_tag="false" class="gmap" zoom="9" style="width:100%;height:400px" scrollwheel="false"}
		{/exp:gmap:init}
		{exp:gmap:marker id="dmap_<?php echo $rand; ?>" zoom="14" latitude="<?php if ($geo) echo $geo->lat; ?>" longitude="<?php if ($geo) echo $geo->lng; ?>" geocode="false" clustering="false"}
		<h3>{{title}}</h3>
		<h4><?php echo html_entity_decode("{{dealer_address}}"); ?></h4>
		<h4>contact number: {{dealer_contact_number}}</h4>
		<h4>contact email: {{dealer_contact_email}}</h4>
		{/exp:gmap:marker}
		<br/>	
	</div>
	<?php if (isset($_GET["route"])) {
		?>
		<div class="grid_3 nop" style="padding:0">
			<a href="" class="uiBtn  fwBtn darkBtn getRoute" id="getRoute" data-mapid="dmap_<?php echo $rand; ?>">Get Route</a>
		</div>
		<?php }
	?>
	<div class="clear"></div>
	{{/with}}
<?php } ?>

