<?php
global $car_model;
$selected_model = (isset($_GET["model"])) ? filter_input(INPUT_GET, 'model', FILTER_SANITIZE_SPECIAL_CHARS) : false;
$json_cars = file_get_contents("{insecure_site_url}/api/new-cars");
$cars_list = json_decode($json_cars)->modelrange->items;
$brochured ="{embed:brochure}";

if (!function_exists('my_sort_function')) {
	function my_sort_function($a, $b){
		return strcmp($a->title, $b->title);
	}
}

usort($cars_list, 'my_sort_function');



?>
<select name="00Nb0000002AKoc" id="model" <?php if($brochured=='yes') echo 'class="data-other brochure-pdf error"';?> data-validation="select">
	<option value="no_selection">...</option>
	<?php
	foreach ($cars_list as $car) {
		$car_model = $car->title;
		$selected='';
		$brochure='';
		if($brochured=='yes'){
			$brochure='data-other='.str_replace(' ','-',$car_model).'.pdf';
		}
		if(strtolower($selected_model)==strtolower($car_model)) $selected='selected';
		if($car_model=="New 2015 Avensis"){
			$car_model="New Avensis";
		}

		//show CH_R model alphabetically before corolla Touring Sports
		if("corolla" === strtolower($car_model) && $brochured=='yes'){
			$c_hr_selected = (strtolower($selected_model)=="c-hr")?"selected":"";
			echo "<option value='C-HR'  $c_hr_selected>C-HR</option>";
		}


		if("latest offers" !== strtolower($car_model) && "c-hr" !== strtolower($car_model)){
			echo "<option value='$car_model' $brochure $selected>$car_model</option>";
		}
	}
	?>
</select>

