{{#each subsections}}
<div class="staff content-block">
	<div class="container_12">
		<div class="grid_12 section_title">
			<h2 class="heading1">{{{title}}}</h2>
			<div class="heading2">{{{team_intro}}}</div>
		</div>
	</div>

<!--	<div class="container_12 body-content clearfix padding">
		<div class="grid_12 intro-text text-center">
			{{#if contact_hours}}
			<div class="contact_hours">
				{{#each contact_hours}}
				<span class="row_hour">
					<strong> {{day_of_the_week}}:</strong>{{from_time}} - {{to_time}}<br/>
				</span>
				{{/each}}
			</div>
			{{/if}}
		</div>
	</div>-->
	<div class="container_12 clearfix staff">
		{{#if contact_hours}}
<!--		<div class="grid_3 contact_hours text-content">
			<table>
				<caption>Opening Hours</caption>
				<tbody>
					{{#each contact_hours}}
					<tr>
						<td><strong>{{day_of_the_week}}</strong></td>
						<td>{{from_time}} - {{to_time}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>-->
		{{/if}}
		{{#each profiles}}
		<div class="grid_3 imgContainer item">
			{{#if image_profile}}
			<img class='img100' src="<?php echo str_replace('/profiles/', '/profiles/_square/', '{{image_profile}}'); ?>" alt="{{full_name}}"/>
			{{/if}}
			{{#if full_name}}<h3 class='heading3 staffName'><?php echo strip_tags("{{{full_name}}}"); ?></h3>{{/if}}
			{{#if contact_number}}
			<p>
				<span class="desc">Contact Number:</span>
				<span class="value"><a href='tel:<?php echo strip_tags("{{{contact_number}}}");?>'><?php echo strip_tags("{{{contact_number}}}");?></a></span>
			</p>
			{{/if}}
			{{#if mobile_number}}
			<p>
				<span class="desc">Mobile Number:</span>
				<span class="value"><a href='tel:<?php echo strip_tags("{{{mobile_number}}}");?>'><?php echo strip_tags("{{{mobile_number}}}");?></a></span>
			</p>
			{{/if}}
			{{#if email_address}}
			<p>
				<span class="desc">Email Address:</span>
				<span class="value"><a href='mailto:<?php echo strip_tags("{{{email_address}}}");?>'><?php echo strip_tags("{{{email_address}}}");?></a></span>
			</p>
			{{/if}}
			{{#if job_title}}
			<p>
				<span class="desc">Job Title:</span>
				<span class="value"><?php echo strip_tags("{{{job_title}}}");?></span>
			</p>
			{{/if}}
			{{#if short_bio}}
			<div class="expansion-content"><?php echo html_entity_decode("{{{short_bio}}}"); ?></div>
			{{/if}}
			<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		</div>	
		{{/each}}
	</div>
</div>
{{/each}}