<!--  ################## used car search box : say hello #################### -->

<div class="usedcSearchBox" id="usedcSearchBox" data-dealer-id={dealer_id}>
    <div class="center_wrapper">
        <div class="used_search_wrapper">
            <div class="container_12 clearfix">
                <div class="grid_12 center-text section-title">
                    <h2 class="heading1">Search Used Cars</h2>
                </div>
            </div>
            <div class="container_12">
                <div class="grid_3">
<!--                    <h4 class="title1">Car Make</h4>-->
                    <div class="select">
                        <div class="value"></div>
                        <i class="icon icon-chevron-down"></i>
                        <select name="used_s_make">
                            <option value="TOYOTA">TOYOTA</option>
                        </select>
                    </div>
                </div>
                <div class="grid_3">
<!--                    <h4 class="title1">Car Model</h4>-->
                    <div class="select">
                        <div class="value"></div>
                        <i class="icon icon-chevron-down"></i>
                        <select name="used_s_model">
                            <option value="Any Model">Any Model</option>
                        </select>
                    </div>
                </div>
                <div class="grid_3">
<!--                    <h4 class="title1">Car Year</h4>-->
                    <?php $year = date("Y");?>
                    <input type="number" max="<?= $year ?>" min="1995" name="used_s_name" placeholder="Year">
                </div>
                <div class="grid_3 searchbox_action">
<!--                    <h4 class="title1">&nbsp;</h4>-->
                    <a href="/pages/assured-used-cars" class="uiBtn redBtn hasIcon hasIconRight used_search_btn">
                        <span>Search</span>
                        <i class="icon icon-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>