{header_whatdrivesyou}

	{embed="components/header_video" image_url="/assets/images/johnnystephen_1.jpg" title="Johnny &amp; Stephen" youtube_id="D35zcIsprfM"}

	<div class="container_12 content-block center-text">	
		<div class="grid_10 centered top-gap extra-mobile-gap">
			<p>Stephen has been one of the GAA's great players in a Dublin jersey over many years. While Johnny is recognised around the world for his Rugby prowess for Ireland and the&nbsp;Lions.</p>
			<p>So what would happen if we put both of them out on the field together? Is rugby and Gaelic football driven by the same types of passion, or are they treated&nbsp;differently?</p>
			<p>We joined them and found out. Now tell us: what drives&nbsp;you?</p>
			<h3 class="hashtag">#whatdrivesyou</h3>
		</div>
	</div>
	<div class="quote grey">
		<div id="stephen-pressurekicks" class="container_12 content-block center-text">
			<div class="grid_12 top-gap-large">
				<h3>That’s the risk that we have to take; you can be the hero one minute and the enemy the&nbsp;next.</h3>
				<h4>- Stephen Cluxton</h4>
			</div>
			<div class="clear"></div>
			<div class="grid_8 centered">
				<div class="youtube" rel="rt7KxT98njM" id="rt7KxT98njM"></div>
			</div>
		</div>
	</div>

	{embed="components/socialtools" internal_link="stephen-pressurekicks"}

	<div class="quote blue">
		<div id="stephen-recover" class="container_12 content-block center-text">
			<div class="grid_12 top-gap-large">
				<h3>How long does it take for them to recover normally? About two weeks? A week? 48 hours?! For even the front row and all?!&nbsp;Jesus.</h3>
				<h4>- Stephen Cluxton</h4>
			</div>
			<div class="clear"></div>
			<div class="grid_8 centered">
				<div class="youtube" rel="kxqDyAnunAg" id="kxqDyAnunAg"></div>
			</div>
		</div>
	</div>

	{embed="components/socialtools" internal_link="stephen-recover"}
	{embed="components/parallax" image_url="/assets/images/johnnystephen_2.jpg"}
	
	<div id="johnny-teachesstephen" class="container_12 content-block center-text quote white">
		<div class="grid_12 top-gap-large">
			<h3>That's perfect, isn't it? Black dot – straight down the middle. Can't ask for much more than&nbsp;that.</h3>
			<h4>- Johnny Sexton</h4>
		</div>
		<div class="clear"></div>
		<div class="grid_8 centered">
			<div class="youtube" rel="TrrBmGTmQyY" id="TrrBmGTmQyY"></div>
		</div>
	</div>

	{embed="components/socialtools" internal_link="johnny-teachesstephen"}

	<div class="quote grey">
		<div id="stephen-teachesjohnny" class="container_12 content-block center-text">
			<div class="grid_12 top-gap-large">
				<h3>You're trying to catch it a bit lower down and bring it around... And over the&nbsp;bar.</h3>
				<h4>- Stephen Cluxton</h4>
			</div>
			<div class="clear"></div>
			<div class="grid_8 centered">
				<div class="youtube" rel="IgDkMLYFHjM" id="IgDkMLYFHjM"></div>
			</div>
		</div>
	</div>

	{embed="components/socialtools" internal_link="stephen-teachesjohnny"}
	{embed="components/parallax" image_url="/assets/images/johnnystephen_3.jpg"}

	<div class="quote blue">
		<div id="stephen-ambition" class="container_12 content-block center-text">
			<div class="grid_12 top-gap-large">
				<h3>Joe Schmidt has a phrase "you are what you do every day" and I've tried to take that rather than be worried about&nbsp;results.</h3>
				<h4>- Johnny Sexton</h4>
			</div>
			<div class="clear"></div>
			<div class="grid_8 centered">
				<div class="youtube" rel="MLWOVnv9lRE" id="MLWOVnv9lRE"></div>
			</div>
		</div>
	</div>

	{embed="components/socialtools" internal_link="stephen-ambition"}
	{embed="components/parallax" image_url="/assets/images/johnnystephen_4.jpg"}
	
	
{footer_whatdrivesyou}


