<?php
error_reporting(0);
global $dmodels;
$jsonstring = '{exp:json_feed:print_feed src="{insecure_site_url}/api/new-cars" section="modelrange"}';
$dmodels = json_decode($jsonstring)->modelrange->items;

require_once (APPPATH."third_party/recaptcha/ReCaptchaToken.php");
global $recaptchaToken;
$config = array('site_key' => '6LdFzxcTAAAAAKSDS13NbH3EZi7_3cM8eMTTeXaZ', 'site_secret' => '6LdFzxcTAAAAAK53_n84itPQM-x_9AoKQh9K1jCH');
$recaptchaToken = new \ReCaptchaSecureToken\ReCaptchaToken($config);
?>
<nav class="toyota-tabs-select container form_nav">
    <div class="container_12 clearfix">
        <div class="grid_12">
            <span class="form_nav_item tabtrigger"  data-tab="pane-contact-tab">Contact us</span>
            <span class="form_nav_item tabtrigger"  data-tab="pane-directions-tab">Get directions</span>
            <span class="form_nav_item tabtrigger"  data-tab="pane-brochure-tab">Request a brochure</span>
            <span class="form_nav_item tabtrigger"  data-tab="pane-test-drive-tab">Arrange a test drive</span>
            <span class="form_nav_item tabtrigger"  data-tab="pane-service-tab">Book a service</span>
        </div>
    </div>
</nav>

<div class="">
    <div class="" id="form_tabs">
        <div class="tabContent" id="pane-test-drive-tab">
            {embed="ajax/bookatestdrive"}
        </div>

        <div class="tabContent" id="pane-contact-tab">
            {embed="ajax/contactus"}
        </div>

        <div class="tabContent" id="pane-service-tab">
            {embed="ajax/bookaservice"}
        </div>


        <div class="tabContent" id="pane-brochure-tab">
            {embed="ajax/requestabrochure"}
        </div>


        <div class="tabContent contactform  getdirections" id="pane-directions-tab">
            <div class="container_12">
                <div class="grid_12 header">
                    <h2>Our Location</h2>
                </div>
            </div>
            <div class="container_12 extraspace">
                <div class="grid_8 map">
                    <div class="  ajax-content clearfix padding" id="getDirectionsMap"  data-rel="/ajax/map?route">
                        <?php $_GET["route"] = true ?>
                        {embed="ajax/map"}
                    </div>
                    <div class="clear"></div>
                </div>
                {exp:channel:entries channel="generic_settings"}
                <div class="grid_4">
                    <div class="direction_details">
                        <div class="padding-large">
                            <h4><strong>Address:</strong></h4>
                            <?php
                            $location = "{dealer_address}";

                            if ($location) {
                                $split = explode(",", $location);
                                ?>
                                <ul>
                                    <?php
                                    for ($i = 0; $i < count($split); $i++) {
                                        echo "<li>$split[$i]</li>";
                                    }
                                    ?>
                                </ul>
                                <?php
                            }
                            ?>
                        </div>
                        <?php
                        ob_start();
                        ?>{directions}<?php
                        $directions = ob_get_clean( );

                        if ($directions) {
                            ?>
                            <div class="">
                                <h4><strong>Directions:</strong></h4>
                                <?php echo $directions; ?>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                </div>
                {/exp:channel:entries}
            </div>
        </div>
    </div>
</div>


<script>
    var inputs = ['test_emails', 'emails', 'test_email', 'emailer'];

    for (k = 0; k < inputs.length; k++) {
        var test_input = document.getElementsByName(inputs[k]);

        var i;
        for (i = 0; i < test_input.length; i++) {
            test_input[i].setAttribute("style", "display:none;");
        }
    }


    var $_GET = [];

    window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (a, name, value) {
        $_GET[name] = value;
    });

</script>
<script>
    window.DEFAUL_FORM = {
        settings: {
            receive_via: "all",
            required_phone: true,
            disable_select_send_via : false,
            disable_select_model : false
        },
        content: {
            title: "Order or download model brochures",
            subTitle: "Choose a model that you would like a brochure from, then fill out the form below...",
            thank_you: "If you order your brochure via post-mail, we will send it as soon as possible."
        }
    };
    window.CUSTOM_FORMS = {
        "priusplugin": {
            settings: {
                receive_via: "all",
                required_phone: true,
                disable_select_send_via: true,
                disable_select_model: false
            },
            content: {
                title: "Register your interest for the All New Prius Plug-in Hybrid",
                subTitle: "Be the first to find out more about the All New Prius Plug-in Hybrid.",
                thank_you: "Thank you for your interest in Toyota. You'll be the first to find out news and updates about the all-new Prius Plug-in Hybrid. Cars arrive in Ireland in June 2017."
            }
        },
        "yaris_2017": {
            settings: {
                receive_via: "download-only",
                required_phone: true,
                disable_select_send_via: false,
                disable_select_model: false
            },
            content: {
                title: "Register your interest and download information for the New Yaris 2017",
                subTitle: "You’ll receive an e-brochure and we’ll send additional information as soon as it becomes available.",
                thank_you: "Thank you for downloading information about the New Yaris 2017. As soon as additional information becomes available we will send it to you."
            }
        }
    };
</script>
<script type="text/javascript">
    $(function () {

        initForms();

        var x = window.location.hash.split("/");
        x = x[x.length - 1].split("_");
        var $currentTab = $("#" + x[x.length - 1] + "-tab");
        var $currentControl = $(".tabtrigger[data-tab='" + x[x.length - 1] + "-tab']");
        $currentControl.addClass("active");
        $currentTab.show();
        resizeMap("#getDirectionsMap");//hack to redraw google maps
        //send google analytics pageview for contact forms
        if (ga) {
            ga('send', 'pageview',"/forms/"+$currentControl.text().replace(/ /g,"-"));
        }

        $(".form_container input[data-validation]").each(function (index) {
            var $input = $(this);
            var $parent = $input.parent();
            var $title = $parent.find(".title1");
            var icon = $title.find("i").detach();
            $title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
            $title.append(icon);
            //$title.prepend("<span class='requiredField'>* </span>");
        });

        $(".form_container .select").each(function (index) {
            var $select = $(this);
            if ($select.find("select[data-validation]").length) {
                var $parent = $select.parent();
                var $title = $parent.find(".title1");
                var icon = $title.find(">*").detach();
                $title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
                $title.append(icon);
            }
        });

        $('.tabtrigger').click(function () {
            $currentControl.removeClass("active");
            $(this).addClass("active");
            var id = $(this).data("tab").replace("-tab", "");
            var secWindow = $("#" + id).parents(".SecContentContainer").data("id");
            var $nextTab = $("#" + id + "-tab");
            window.location.hash = "/" + secWindow + "/" + id;
            $currentTab.hide();
            $nextTab.show();
            $currentTab = $nextTab;
            $currentControl = $(this);
        });


        $("input.datepicker").datepicker({
            minDate: +3,
            maxDate: "+1M +20D",
            beforeShowDay: $.datepicker.noWeekends
        });



        var loc = document.URL;
        var search = location.search;
        var carmodel = null;
        if(search.indexOf("?model=") >= 0){
            // populate custom model name reading from the serach
            //if model is present we extract and transform whitespaces to get the model.
            // ie: "model-new_rav4" => "new rav4".
            carmodel = search.replace("?model=","").replace(new RegExp("_", 'g'), " ").toLowerCase();
        }else if (loc.indexOf("new-car-details") != -1) {
            // populate custom model name reading from the hash
            var segment_1 = location.hash.split("/")[1];
            var model = false;
            if(segment_1.indexOf("model-") === 0){
                //if model is present we extract and transform whitespaces to get the model.
                // ie: "model-new_rav4" => "new rav4".
                model = segment_1.substr(6).replace(new RegExp("_", 'g'), " ").toLowerCase();
            }
            carmodel = (model)?model: $(".header-container h1").text().toLowerCase();
        }
        if(carmodel){
            console.log("model: "+carmodel);
            $.each($('select[id=model] option'), function () {
                var mod=$(this).val().toLowerCase();
                var title=$(this).text().toLowerCase();
                //console.log(mod);console.log(title);console.log("-------");
                if (mod == carmodel || title == carmodel) {
                    $(this).prop('selected', 'true');
                    $('select[id=model]').parent().find('.value').text($(this).text());
                }
            });

        }


        //exception for the new rav4 and new prius download brochure
        var currentmodel = null;
        var downloadtype = $("#selecttype");
        var download = downloadtype.find("option[value='pdfDownload']");
        var preorder = $("#preorder");
        var email = downloadtype.find("option[value='Ebrochure']");
        var post = downloadtype.find("option[value='Post']");
        var thanks = $('#pane-brochure-tab .form_thanks .intro');
        var send_via = $("#send_via");
        var post_message = $("#post_message");
        var phone_input = $('#phone');
        var model_select = $("#model");
        if (thanks.length === 0)
            thanks = $('.form_thanks .intro');

        $(document).on("change", "select#model", function () {
            // check model
            var sel = $(this);
            var model = sel.find("option:selected").val().toLowerCase();
            if (model === currentmodel)
                return;
            else
                currentmodel = model;


            //hides a section without use display:none, otherwise fields are not sent by the form;
            function hideSection($elem){
                $elem.attr("style","opacity:0;visibility:hidden;width:0;height:0;overflow:hidden;");
            }


            /**
             *  Enable/disable the options withing the send_via select
             */
            function receiveVia(code) {
                switch (code) {
                    case "all":
                        //enable the 3 options
                        download.prop("disabled", false).show();
                        email.prop("disabled", false).show();
                        post.prop("disabled", false).show();
                        //select download by default
                        download.prop("selected", true);
                        break;
                    case "no-post":
                        //enable the 2 options & disable post
                        download.prop("disabled", false).show();
                        email.prop("disabled", false).show();
                        post.prop("disabled", true).hide();
                        //select download by default
                        download.prop("selected", true);
                        break;
                    case "post-only":
                    case "no-download":
                        //enable the 2 options & disable post
                        download.prop("disabled", true).hide();
                        email.prop("disabled", true).hide();
                        post.prop("disabled", false).show();
                        //select download by default
                        post.prop("selected", true);
                        break;
                    case "download-only":
                        //enable the 2 options & disable post
                        download.prop("enabled", true).show();
                        email.prop("disabled", true).hide();
                        post.prop("disabled", true).hide();
                        //select download by default
                        download.prop("selected", true);
                        break;
                    case "no-email":
                        //enable the 2 options & disable post
                        download.prop("disabled", false).show();
                        email.prop("disabled", true).hide();
                        post.prop("disabled", false).show();
                        //select download by default
                        download.prop("selected", true);
                        break;
                }
            }


            /**
             * Set/unset the phone input field as required or optional
             */
            function requiredPhone(required) {
                if (required) {
                    phone_input.attr('data-validation', 'number');
                    phone_input.parent().find('.title1').find('.requiredField').show();
                } else {
                    phone_input.attr('data-validation', 'none');
                    phone_input.parent().find('.title1').find('.requiredField').hide();

                }
            }


            /**
             * Disable/Enables the model select field
             * @param disabled
             */
            function disabledModel(disabled) {
                if (disabled) {
                    model_select.attr('data-validation', 'none');
                    hideSection(model_select.parents(".grid_6").first());
                } else {
                    //enable the select and show the icon,it might be removed by other options
                    model_select.prop("disabled", false);
                    model_select.attr('data-validation', 'select');
                    model_select.parents(".grid_6").first().attr("style","");
                    model_select.parent().find('.title1').find('.requiredField').show();
                }
            }


            /**
             * Disables/Enables the sendVia field
             * @param disableOption id sets indicate woich one is the default select option
             */
            function disableSendVia(disableOption) {
                if(disableOption){
                    downloadtype.attr('data-validation', 'none');
                    hideSection($("#send_via"));
                    if(typeof disableOption == 'string'){
                        switch (disableOption) {
                            case "download":
                                download.prop("selected", true);
                                break;
                            case "email":
                                email.prop("selected", true);
                                break;
                            case "post":
                                post.prop("selected", true);
                                break;
                        }
                    }else if(disableOption === true){
                        console.log("inside");
                        var none_opt = $('<option value="none">none</option>');
                        $("#selecttype").append(none_opt);
                        none_opt.prop("selected", true);
                    }

                }else{
                    //enable the select and show the icon,it might be removed by other options
                    downloadtype.prop("disabled", false);
                    downloadtype.attr('data-validation', 'select');
                    $("#send_via").attr("style","");
                    $("#selecttype option[value='none']").remove();
                    downloadtype.parent().find('.title1').find('.requiredField').show();
                }
            }



            //select custom form or default form
            if(model!='no_selection'){
                console.log(model);
                $formSettings =  (window.CUSTOM_FORMS[model])?window.CUSTOM_FORMS[model]:window.DEFAUL_FORM;

                //sets the form setting depending on the custom form setting or default form settigs
                receiveVia($formSettings.settings.receive_via);
                requiredPhone($formSettings.settings.required_phone);
                disableSendVia($formSettings.settings.disable_select_send_via);
                disabledModel($formSettings.settings.disable_select_model);

                //trigger change to update ui
                downloadtype.trigger('change');

                //customize the text of the form
                customText();
            }
        });

        $("select#model").trigger('change');
        function customText() {
            if ($("#requestbrochure").length == 0)
                return;
            var $option = $("#pane-brochure-tab select#model option:selected");
            var $message = $("#pane-brochure-tab .header h2").first();
            var $intro = $("#pane-brochure-tab .header .intro").first();

            if ($option.length == 0) {
                $option = $("select#model option:selected")
                $message = $(".header h2").first();
                $intro = $(".header .intro").first();
            }
            var model = $option.val().toLowerCase();

            //console.log(model);
            //select custom form or default form
            if(model!='no_selection'){
                $formSettings =  (window.CUSTOM_FORMS[model])?window.CUSTOM_FORMS[model]:window.DEFAUL_FORM;
                //set title, subtitle and thank you message depending on custom form values
                $message.text($formSettings.content.title);
                $intro.text($formSettings.content.subTitle);
                thanks.text($formSettings.content.thank_you);
            }
        }

        customText();


        //Recaptcha
        var captchas = [];
        $(".tabContent").each(function () {
            var $tab = $(this);
            var $captcha = $tab.find(".g-recaptcha");
            if($captcha.length == 0)
                return;
            var tabId = $tab.attr("id");
            captchas[tabId] = {
                tab : $tab,
                captcha : $captcha,
                verifyCallback : function(){
                    alert("tab : "+tabId);
                }
            };
//		console.log("tab : "+tabId);
//		console.log($captcha[0]);
            grecaptcha.render($captcha[0], {
                'sitekey' : $captcha.data("sitekey"),
                'theme' : 'light',
                stoken:$captcha.data("stoken"),
                'callback': function () {
                    $tab.find(".hiddencaptcha").prop('checked', true);
                    $tab.find(".form-error").hide();
                }
            });
        });
    });
</script>




