<div id="pagecontent" style="display: block;">
	<section class="container prices-component">
		<header class="section-title ">
			<h2 class="heading1">Pricelist</h2>
		</header>
		<div class="tab-content">
		{exp:json_feed:render_html template="components/priceheaders"}
			{exp:json_feed:print_feed src="{get:priceurl}" section="metaData"}
		{/exp:json_feed:render_html}
		{exp:json_feed:render_html template="components/pricetable"}
			{exp:json_feed:print_feed src="{get:priceurl}" section="cardbData"}
		{/exp:json_feed:render_html}
		</div>
	</section>
</div>