<!--
Component details

Name: Checkbox Filters
ID: c_t2_011
Version number: 1.0
Child components: none

URL: http://toyota-stage.amaze.com/html/components/tier2/checkboxFilters.html

Description

A content block with checkboxes and options for manipulating the checkboxes, such as a select all button, a reset button, and a view subset button.
-->

<div class="checkbox-filter-container">
    <div class="container_12">
        <div class="grid_8">
            <p class="heading-text">Main Title <i class="icon icon-tag"></i></p>
            <p class="subheading-text">Sub title</p>
            <div class="check-boxes">
                <div class="checkbox-row">
                    <div class="checkbox">
                        <input id="cb_checkbox_1" type="checkbox" name="checkbox_1" value="checkbox_1">
                        <label for="cb_checkbox_1">Checkbox 1</label>
                    </div>
                    <div class="checkbox">
                        <input id="cb_checkbox_2" type="checkbox" name="checkbox_2" value="checkbox_2">
                        <label for="cb_checkbox_2">Checkbox 2</label>
                    </div>
                    <div class="checkbox">
                        <input id="cb_checkbox_3" type="checkbox" name="checkbox_3" value="checkbox_3">
                        <label for="cb_checkbox_3">Checkbox 3</label>
                    </div>
                    <div class="checkbox">
                        <input id="cb_checkbox_4" type="checkbox" name="checkbox_4" value="checkbox_4">
                        <label for="cb_checkbox_4">Checkbox 4</label>
                    </div>
                </div>
                <div class="checkbox-row">
                    <div class="checkbox">
                        <input id="cb_checkbox_5" type="checkbox" name="checkbox_5" value="checkbox_5">
                        <label for="cb_checkbox_5">Checkbox 5</label>
                    </div>
                    <div class="checkbox">
                        <input id="cb_checkbox_6" type="checkbox" name="checkbox_6" value="checkbox_6">
                        <label for="cb_checkbox_6">Checkbox 6</label>
                    </div>
                    <div class="checkbox">
                        <input id="cb_checkbox_7" type="checkbox" name="checkbox_7" value="checkbox_7">
                        <label for="cb_checkbox_7">Checkbox 7</label>
                    </div>
                    <div class="checkbox">
                        <input id="cb_checkbox_8" type="checkbox" name="checkbox_8" value="checkbox_8">
                        <label for="cb_checkbox_8">Checkbox 8</label>
                    </div>
                </div>
                <div class="checkbox-row right-border">
                    <div class="checkbox">
                        <input id="cb_checkbox_9" type="checkbox" name="checkbox_9" value="checkbox_9">
                        <label for="cb_checkbox_9">Checkbox 9</label>
                    </div>
                    <div class="checkbox">
                        <input id="cb_checkbox_10" type="checkbox" name="checkbox_10" value="checkbox_10">
                        <label for="cb_checkbox_10">Checkbox 10</label>
                    </div>
                    <div class="checkbox">
                        <input id="cb_checkbox_11" type="checkbox" name="checkbox_11" value="checkbox_11">
                        <label for="cb_checkbox_11">Checkbox 11</label>
                    </div>
                </div>
            </div>
            <a href="#" class="select-all">Select all</a>
            <div class="button-container">
                <a href="#viewhybrid" class="uiBtn blueBtn">View only Hybrid models</a>
                <a href="#reset" class="uiBtn darkBtn">Reset <i class="icon icon-repeat" data-icon=""></i></a>
            </div>
        </div>
        <div class="grid_4">
            <p class="subheading-text orphan">Sub title</p>

            <div class="checkbox-row">
                <div class="checkbox">
                    <input id="cb_filter_1" type="checkbox" name="filter_1" checked="true" value="filter_1">
                    <label for="cb_filter_1">Filter 1</label>
                </div>
                <div class="checkbox">
                    <input id="cb_filter_2" type="checkbox" name="filter_2" value="filter_2" checked="true">
                    <label for="cb_filter_2">Filter 2</label>
                </div>
                <div class="checkbox">
                    <input id="cb_filter_3" type="checkbox" name="filter_3" value="filter_3" checked="true">
                    <label for="cb_filter_3">Filter 3</label>
                </div>
            </div>
        </div>
    </div>
</div>
