<div class="content-block">
	<div class="container_12 clearfix" id="{{sectionInpageId}}">
		<div class="grid_12 center-text section-title">
			<h2 class="heading1">{{title}}</h2>
		</div>
	</div>
	<div class="clearfix SecContentContainer" data-id="{{sectionInpageId}}" data-name="{{title}}" data-contenttype="move">
		<div class="container_12 padding-large">
			<div class="grid_12">
				<div class="grid_12 filter-bar no-js-hide">
					<div class="fb-inner">
						<ul class="fb-group fb-list">
							<li><a href="#otherfeatures_Exterior" class="uiBtn greyBtn">Compare selected engines</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container_12 ">
			
			<article class="grid_3">
				<div class="cb-ajax-json cb-link-container">
					<img src="http://t1-preview-pagespeed-ccis.herokuapp.com/zz/vehicle/ya/3de9d3d7-475a-411b-8234-b721ec2ee3fc/width/263/height/130/exterior-32.png" /> 
				</div>
				<h1 class="title2">Reversing camera</h1>
				<div class="expansion-content">
					<h2 class="title">Parking aid (SIPA)</h2>
					<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
				</div>
				<div class="clear"></div>
				<div class="checkboxBtn clearfix">
					<div class="checkbox">
						<a class="uiBtn greyBtn fwBtn smBtn" href="#">
							<input id="cb_checkbox_9" type="checkbox" name="checkbox_9" value="checkbox_9">
							<label for="cb_checkbox_9">Compare <i class="icon icon-chevron-right"></i></label>
						</a>
                    </div>
					<a class="uiBtn greyBtn fwBtn smBtn" href="#">Configure <i class="icon icon-chevron-right"></i></a>
				</div>
				<div class="text-content compare-table">
					<table border="1" cellpadding="1" cellspacing="1" style="width: 100%;" summary="this is a table of elements" class="content-table small">
						<tbody>
							<tr>
								<td>Table cell 1</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
							<tr>
								<td>Table cell 2</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
							<tr>
								<td>Table cell 2</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
						</tbody>
					</table>
				</div>
			</article>
			
			<article class="grid_3">
				<div class="cb-ajax-json cb-link-container">
					<img src="http://t1-preview-pagespeed-ccis.herokuapp.com/zz/vehicle/ya/3de9d3d7-475a-411b-8234-b721ec2ee3fc/width/263/height/130/exterior-32.png" /> 
				</div>
				<h1 class="title2">Reversing camera</h1>
				<div class="expansion-content">
					<h2 class="title">Parking aid (SIPA)</h2>
					<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
				</div>
				<div class="clear"></div>
				<div class="checkboxBtn clearfix">
					<div class="checkbox">
						<a class="uiBtn greyBtn fwBtn smBtn" href="#">
							<input id="cb_checkbox_9" type="checkbox" name="checkbox_9" value="checkbox_9">
							<label for="cb_checkbox_9">Compare <i class="icon icon-chevron-right"></i></label>
						</a>
                    </div>
					<a class="uiBtn greyBtn fwBtn smBtn" href="#">Configure <i class="icon icon-chevron-right"></i></a>
				</div>
				<div class="text-content compare-table">
					<table border="1" cellpadding="1" cellspacing="1" style="width: 100%;" summary="this is a table of elements" class="content-table small">
						<tbody>
							<tr>
								<td>Table cell 1</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
							<tr>
								<td>Table cell 2</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
							<tr>
								<td>Table cell 2</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
						</tbody>
					</table>
				</div>
			</article>
			
			<article class="grid_3">
				<div class="cb-ajax-json cb-link-container">
					<img src="http://t1-preview-pagespeed-ccis.herokuapp.com/zz/vehicle/ya/3de9d3d7-475a-411b-8234-b721ec2ee3fc/width/263/height/130/exterior-32.png" /> 
				</div>
				<h1 class="title2">Reversing camera</h1>
				<div class="expansion-content">
					<h2 class="title">Parking aid (SIPA)</h2>
					<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
				</div>
				<div class="clear"></div>
				<div class="checkboxBtn clearfix">
					<div class="checkbox">
						<a class="uiBtn greyBtn fwBtn smBtn" href="#">
							<input id="cb_checkbox_9" type="checkbox" name="checkbox_9" value="checkbox_9">
							<label for="cb_checkbox_9">Compare <i class="icon icon-chevron-right"></i></label>
						</a>
                    </div>
					<a class="uiBtn greyBtn fwBtn smBtn" href="#">Configure <i class="icon icon-chevron-right"></i></a>
				</div>
				<div class="text-content compare-table">
					<table border="1" cellpadding="1" cellspacing="1" style="width: 100%;" summary="this is a table of elements" class="content-table small">
						<tbody>
							<tr>
								<td>Table cell 1</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
							<tr>
								<td>Table cell 2</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
							<tr>
								<td>Table cell 2</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
						</tbody>
					</table>
				</div>
			</article>
		
			
			<article class="grid_3">
				<div class="cb-ajax-json cb-link-container">
					<img src="http://t1-preview-pagespeed-ccis.herokuapp.com/zz/vehicle/ya/3de9d3d7-475a-411b-8234-b721ec2ee3fc/width/263/height/130/exterior-32.png" /> 
				</div>
				<h1 class="title2">Reversing camera</h1>
				<div class="expansion-content">
					<h2 class="title">Parking aid (SIPA)</h2>
					<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
				</div>
				<div class="clear"></div>
				<div class="checkboxBtn clearfix">
					<div class="checkbox">
						<a class="uiBtn greyBtn fwBtn smBtn" href="#">
							<input id="cb_checkbox_9" type="checkbox" name="checkbox_9" value="checkbox_9">
							<label for="cb_checkbox_9">Compare <i class="icon icon-chevron-right"></i></label>
						</a>
                    </div>
					<a class="uiBtn greyBtn fwBtn smBtn" href="#">Configure <i class="icon icon-chevron-right"></i></a>
				</div>
				<div class="text-content compare-table">
					<table border="1" cellpadding="1" cellspacing="1" style="width: 100%;" summary="this is a table of elements" class="content-table small">
						<tbody>
							<tr>
								<td>Table cell 1</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
							<tr>
								<td>Table cell 2</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
							<tr>
								<td>Table cell 2</td>
								<td>Salvo made a table that resizes as you are typing</td>
							</tr>
						</tbody>
					</table>
				</div>
			</article>



		</div>
	</div>
</div>