


<div class=" content-block filterable-content clearfix SecContentContainer" data-id="OtherFeatures" data-name="Features" data-contenttype="move">
	<div class="container_12">
		<div class="grid_12">
			<div class="grid_12 filter-bar no-js-hide">
				<div class="fb-inner">
					<a href="#" class="uiBtn blueBtn fbg-item hidden_before_l" data-item-filter=".hybrid-item" data-onclass="greyBtn" data-offclass="blueBtn" data-ontext="View standard model features">View hybrid model features</a>
					<ul class="fb-group fb-list">
						<li><a href="#otherfeatures_Exterior" class="fb-item uiBtn greyBtn" data-section-filter=".exterior-group" data-default>Exterior</a></li>
						<li><a href="#otherfeatures_Interior" class="fb-item uiBtn greyBtn" data-section-filter=".interior-group">Interior</a></li>
						<li><a href="#otherfeatures_Engines" class="fb-item uiBtn greyBtn" data-section-filter=".engines-group">Engines</a></li>
						<li><a href="#otherfeatures_Safety" class="fb-item uiBtn greyBtn" data-section-filter=".safety-group">Safety</a></li>
						<li><a href="#" class="secContentTrigger fb-item uiBtn greyBtn" data-section-filter=".fc-group" id="view-all" data-viewall>View all</a></li>
					</ul>
				</div>
			</div>
			<div class="fc-group-container">
				<div class="fc-group exterior-group">
					<h2 class="heading3 fc-group-name">Exterior</h2>
					<div class="fc-group-content">
						<article class="item ">
							<div class="wrap">
								<div class="cb-ajax-json cb-link-container" data-link="http://toyota-stage.amaze.com/data/feature-data.js">
									<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/reversing-camera.png" width="230" height="230" alt /> 
									<i class="icon icon-play" data-icon="&#xf04b;"></i>
								</div>
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Reversing camera</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/parking-sensor.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Parking sensors front and rear of vehicle, 10 sensors, electronically, with automatic parking function</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/rain-sensor.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Rain sensor</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item  hybrid-item">
							<div class="wrap">
								<div class="cb-ajax-json cb-link-container" data-link="http://toyota-stage.amaze.com/data/feature-data.js">
									<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/rain-sensor.png" width="230" height="230" alt /> 
									<i class="icon icon-play" data-icon="&#xf04b;"></i>
								</div>
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2 hybrid-text-colour">Rain sensor</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item  hybrid-item">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/rain-sensor.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2 hybrid-text-colour">Smart Key System: keyless opening / closing the doors and start the engine by Start- /Stop-Knopf</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="fc-group interior-group">
					<h2 class="heading3 fc-group-name">Interior</h2>
					<div class="fc-group-content">
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/automatic-climate-control.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Automatic climate control, electrically operated, temperature controlled separately for driver and passenger</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>Automatic climate control, electrically operated, temperature controlled separately for driver and passenger</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/leather-steering-wheel.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Leather steering wheel, height and reach- adjustable, with controls for audio system and Bluetooth hands-free</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>Leather steering wheel, height and reach- adjustable, with controls for audio system and Bluetooth hands-free</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/smart-key-systems.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Smart Key System: keyless opening / closing the doors and start the engine by Start- /Stop-Knopf</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<div class="cb-ajax-json cb-link-container" data-link="http://toyota-stage.amaze.com/data/feature-data.js">
									<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/touch-and-go.png" width="230" height="230" alt /> 
									<i class="icon icon-play" data-icon="&#xf04b;"></i>
								</div>
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Touch &amp; Go navigation system</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<div class="clearfix"></div>
						<article class="item  hybrid-item">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/touch-and-go.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2 hybrid-text-colour">Smart Key System: keyless opening / closing the doors and start the engine by Start- /Stop-Knopf</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item  hybrid-item">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/touch-and-go.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2 hybrid-text-colour">Smart Key System: keyless opening / closing the doors and start the engine by Start- /Stop-Knopf</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/multimedia-audio-system.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Multimedia Audio System "Toyota Touch" with reversing camera</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/speed.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Speed</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<div class="cb-ajax-json cb-link-container" data-link="http://toyota-stage.amaze.com/data/feature-data.js">
									<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/cruise-control.png" width="230" height="230" alt /> 
									<i class="icon icon-play" data-icon="&#xf04b;"></i>
								</div>
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Cruise control, electronic</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="fc-group engines-group">
					<h2 class="heading3 fc-group-name">Engines</h2>
					<div class="fc-group-content">
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/hybrid-engine.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Hybrid (electric and combustion engine)</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/1-33-engine.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">1.33-liter Dual VVT-i (Petrol)</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/1-4-engine.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">1.4-lD-4D (Diesel)</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/1-6-engine.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">1.6-liter Valvematic (Petrol)</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/2-0-engine.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">2.0 LD-4D (Diesel)</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item  hybrid-item">
							<div class="wrap">
								<div class="cb-ajax-json cb-link-container" data-link="http://toyota-stage.amaze.com/data/feature-data.js">
									<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/cruise-control.png" width="230" height="230" alt /> 
									<i class="icon icon-play" data-icon="&#xf04b;"></i>
								</div>
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2 hybrid-text-colour">Speed</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item  hybrid-item">
							<div class="wrap">
								<div class="cb-ajax-json cb-link-container" data-link="http://toyota-stage.amaze.com/data/feature-data.js">
									<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/cruise-control.png" width="230" height="230" alt /> 
									<i class="icon icon-play" data-icon="&#xf04b;"></i>
								</div>
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2 hybrid-text-colour">Cruise control, electronic</h1>
								<div class="expansion-content">
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="fc-group safety-group">
					<h2 class="heading3 fc-group-name">Safety</h2>
					<div class="fc-group-content">
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/mult-s-gear-drive.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Mult S Gear Drive</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/hill-start-assist.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">Hill Start Assist</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item  hybrid-item">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/sofix.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2 hybrid-text-colour">SOFIX child seat attachment, rear (on the outer seats)</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item  hybrid-item">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/sofix.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2 hybrid-text-colour">Smart Key System: keyless opening / closing the doors and start the engine by Start- /Stop-Knopf</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
						<article class="item ">
							<div class="wrap">
								<img src="http://toyota-stage.amaze.com/inc/images/components/otherfeatures/sofix.png" width="230" height="230" alt /> 
								<div class="share-tools open-top">
									<div class="tool-box">
										<a href="#save" class="share-item">Save</a>
										<a href="#share" class="share-item">Share</a>
									</div>
								</div>
								<h1 class="title2">SOFIX child seat attachment, rear (on the outer seats)</h1>
								<div class="expansion-content">
									<h2 class="title">Parking aid (SIPA)</h2>
									<p>The parking aid (SIPA) (Simple Intelligent Parking Assist) is the START Auris Auris Executive Edition and the standard equipment. This automatic steering assistance system performs the movements while parking backwards in the longitudinal direction independently. The parking space should it be only 90 cm longer than the Auris. The high-resolution TFT display in the instrument display forms the communication interface to the driver.</p>
								</div>
							</div>
						</article>
					</div>
				</div>
				

			</div>
		</div>
	</div>
</div>


