<!--
Component details

Name: Background Layer Scroll
ID: c_t2_008
Version number: 1.0
Child components: none

URl: http://toyota-stage.amaze.com/html/components/tier2/backgroundlayerscroll.html

Description

Creates a full-width parallax image banner with a height that is fluid.
-->

<div class="top-feature content-toggle" data-content-toggle data-layer-parallax>

	<div class="content-block">
		<aside class="assetWidthContain bg-par">
			<div class="background-layer" style="background-image: url(http://toyota-stage.amaze.com//inc/images/components/topfeatures/tf01.jpg)" data-height="900" data-width="1600" data-alt-img="http://toyota-stage.amaze.com//inc/images/components/topfeatures/tf01.png"></div>
		</aside>
	</div>

	<div class="body-content">
		<div class="header-block move-into-parallax">
			<div class="container_12 arrow">
				<div class="grid_12">
					<p class="header2" data-alt="A more dynamic design (Hybrid)">A more dynamic design</p>
					<div class="button-right-container">

						<a href="http://toyota-stage.amaze.com//development/youtubeGalleryItem.aspx?id=851mjjIzrYs" id="l_tf2"  class="uiBtn hasIcon darkBtn playMovieButton enableAllAnimations secContentTrigger" data-slide-in><i data-icon="&#61515;" class="icon icon-play"></i>Play movie</a>

					</div>
				</div>
			</div>
		</div>
		<div class="container_12  clearfix">
			<div class="grid_12">
				<div class="default-block">
					<p>‘Ready for anything’ – that’s the face of the new look Toyota Auris. It’s all aprt of a more dynamic design language. Whilst all Auris models share the same confident design, the Auris Hybrid features a range of unique styling features.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="parallax  clearfix footer-paralax" data-layer-parallax>
	<div class="assetWidthContain bg-par">
		<div class="background-layer" style="background-image: url(http://toyota-stage.amaze.com//inc/images/components/topfeatures/tf01.jpg)" data-height="900" data-width="1600" data-factor="1.3" data-id="fotter-paralax">

		</div>
	</div>
</div>

