<!--
Component details

Name: Content toggle
ID: js_c_005
Version number: 1.0
Child components: none

URL: http://toyota-stage.amaze.com/html/components/tier2/contenttoggle.html

Description

Allows the textual content of elements to be changed to alt-text when a toggle button is triggered.
-->

<div class="top-feature content-toggle" data-content-toggle>

	<div class="content-block">
		<aside class="assetWidthContain bg-par">
			<div class="background-layer" style="background-image: url(http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf01.jpg)" data-height="900" data-width="1600" data-alt-img="http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf01.png"></div>
		</aside>
	</div>

	<div class="body-content">
		<div class="header-block">
			<div class="container_12 arrow">
				<div class="grid_12">
					<p class="header2" data-alt="Alternate text">Default text</p>
					<div class="button-right-container">
						<a href="#btn" class="uiBtn  blueBtn toggleBtn enableAllAnimations" data-alt-text="Toggle">Toggle</a>
						<a href="#btn" class="uiBtn  blueBtn toggleBtn enableAllAnimations" data-alt-text="Toggle">Toggle</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container_12 content-block clearfix">
			<div class="grid_12">
				<div class="default-block">
					<p>Default text content.</p>
				</div>
				<div class="alt-block">
					<p>Alternate text content.</p>
				</div>
			</div>
		</div>
	</div>
</div>

