<!--
    Name: Parallax
    ID: c_t1_002
    URL: http://toyota-stage.amaze.com/html/components/tier1/parallax.html
-->
<div class="parallax content-block  clearfix" data-layer-parallax>
    <div class="assetWidthContain bg-par">
        <div class="background-layer" style="background-image: url(http://toyota-stage.amaze.com/inc/images/TundraEndeavour-03.jpg)" data-height="900" data-width="1600">

        </div>
        <div class="move-into-parallax container_12 container_12_absolute">
            <div class="bg-par">
                <div class="bg-par-inner SecContentContainer" data-contenttype="ajax" data-name="Youtube Video 851mjjIzrYs" data-id="851mjjIzrYs">
                    <a id="videoLink" class="secContentTrigger" href="http://toyota-stage.amaze.com/development/youtubeGalleryItem.aspx?id=851mjjIzrYs">
                        <h1 class="heading1">The Mission</h1>
                        <p class="heading2">There is no bigger job. No bigger responsibility. Watch as Tundra gets ready to tow a national icon through the surface street of LA.</p>
                        <span class="ui-sprite play-icon-large"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



