<!--
Component details

Name: Top Features
ID: c_t1_008
Version number: 1.0
Location(s): Car chapter, others TBC
Child components: 
(c_t2_007) Content Toggle
(c_t2_008) Background Layer Scroll
(js_c_003) Secondary Content

URL: http://toyota-stage.amaze.com/html/components/tier1/topfeatures.html
Description

A group of (c_t2_008) Background Layer Scroll elements, with (c_t2_007) Content Toggles
-->

<div class="SecContentContainer" data-contenttype="ajax" data-id="TopFeatures/s1" data-name="Top Auris Features">
	<section>
		<div class="container_12 clearfix">
			<div class="grid_12 center-text section-title">
				<h1 class="heading1">AURIS TOP FEATURES</h1>
			</div>
		</div>

		<div class="top-feature content-toggle" data-content-toggle data-layer-parallax>

			<div class="content-block">
				<aside class="assetWidthContain bg-par">
					<div class="background-layer" style="background-image: url(http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf01.jpg)" data-height="900" data-width="1600" data-alt-img="http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf01.png"></div>
				</aside>
			</div>

			<div class="body-content">
				<div class="header-block move-into-parallax">
					<div class="container_12 arrow">
						<div class="grid_12">
							<p class="header2" data-alt="A more dynamic design (Hybrid)">A more dynamic design</p>
							<div class="button-right-container">
								<a href="#btn" class="uiBtn blueBtn toggleBtn enableAllAnimations" data-alt-text="Non-hybrid state">View hybrid</a>

								<a href="/development/youtubeGalleryItem.aspx?id=851mjjIzrYs" id="l_tf2"  class="uiBtn hasIcon darkBtn playMovieButton enableAllAnimations secContentTrigger" data-slide-in><i data-icon="" class="icon icon-play"></i>Play movie</a>

							</div>
						</div>
					</div>
				</div>
				<div class="container_12 clearfix">
					<div class="grid_12">
						<div class="default-block">
							<p>‘Ready for anything’ – that’s the face of the new look Toyota Auris. It’s all aprt of a more dynamic design language. Whilst all Auris models share the same confident design, the Auris Hybrid features a range of unique styling features.</p>
						</div>
						<div class="alt-block">
							<p>‘Ready for anything’ – that’s the face of the new look Toyota Auris. It’s all aprt of a more dynamic design language. Whilst all Auris models share the same confident design, the Auris Hybrid features a range of unique styling features. -- Hybrid</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="top-feature content-toggle" data-content-toggle data-layer-parallax>

			<div class="content-block">
				<aside class="assetWidthContain bg-par">
					<div class="background-layer" style="background-image: url(http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf02.jpg)" data-height="900" data-width="1600" data-alt-img="http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf01.png"></div>
				</aside>
			</div>


			<div class="body-content">
				<div class="header-block move-into-parallax">
					<div class="container_12 arrow">
						<div class="grid_12">
							<p class="header2" data-alt="Room for fresh thinking (Hybrid)">Room for fresh thinking</p>
							<div class="button-right-container">
								<a href="#btn" class="uiBtn blueBtn toggleBtn enableAllAnimations" data-alt-text="Non-hybrid state">View hybrid</a>

								<a href="/development/youtubeGalleryItem.aspx?id=851mjjIzrYs" id="l_tf2"  class="uiBtn hasIcon darkBtn playMovieButton enableAllAnimations secContentTrigger" data-slide-in><i data-icon="" class="icon icon-play"></i>Play movie</a>

							</div>
						</div>
					</div>
				</div>
				<div class="container_12 clearfix">
					<div class="grid_12">
						<div class="default-block">
							<p>The new Toyota Auris is a driver’s car which doubles up as a practical luggage carrier with plenty of smart storage solutions. Featuring the added flexibility of a dual-level deckboard and 60:40 split-folding rear seats, all verions – including the Auris Hybrid – offer an increased luggage capacity of 360 litres.</p>
						</div>
						<div class="alt-block">
							<p>The new Toyota Auris is a driver’s car which doubles up as a practical luggage carrier with plenty of smart storage solutions. Featuring the added flexibility of a dual-level deckboard and 60:40 split-folding rear seats, all verions – including the Auris Hybrid – offer an increased luggage capacity of 360 litres. --Hybrid</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="top-feature content-toggle" data-content-toggle data-layer-parallax>

			<div class="content-block">
				<aside class="assetWidthContain bg-par">
					<div class="background-layer" style="background-image: url(http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf03.jpg)" data-height="900" data-width="1600" data-alt-img="http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf01.png"></div>
				</aside>
			</div>


			<div class="body-content">
				<div class="header-block move-into-parallax">
					<div class="container_12 arrow">
						<div class="grid_12">
							<p class="header2" data-alt="All eyes on innovation (Hybrid)">All eyes on innovation</p>
							<div class="button-right-container">
								<a href="#btn" class="uiBtn blueBtn toggleBtn enableAllAnimations" data-alt-text="Non-hybrid state">View hybrid</a>

								<a href="/development/youtubeGalleryItem.aspx?id=851mjjIzrYs" id="l_tf2"  class="uiBtn hasIcon darkBtn playMovieButton enableAllAnimations secContentTrigger" data-slide-in><i data-icon="" class="icon icon-play"></i>Play movie</a>

							</div>
						</div>
					</div>
				</div>
				<div class="container_12 clearfix">
					<div class="grid_12">
						<div class="default-block">
							<p>Whether it’s cutting-edge in-car technology such as the Toyota Touch &amp; Go, Follow-me-home headlights or the latest Hybrid Synergy Drive® system – there’s plenty of room for new ideas.</p>
						</div>
						<div class="alt-block">
							<p>Whether it’s cutting-edge in-car technology such as the Toyota Touch &amp; Go, Follow-me-home headlights or the latest Hybrid Synergy Drive® system – there’s plenty of room for new ideas. --Hybrid</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="top-feature content-toggle" data-content-toggle data-layer-parallax>

			<div class="content-block">
				<aside class="assetWidthContain bg-par">
					<div class="background-layer" style="background-image: url(http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf04.jpg)" data-height="900" data-width="1600" data-alt-img="http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf01.png"></div>
				</aside>
			</div>


			<div class="body-content">
				<div class="header-block move-into-parallax">
					<div class="container_12 arrow">
						<div class="grid_12">
							<p class="header2" data-alt="Expect premium quality (Hybrid)">Expect premium quality</p>
							<div class="button-right-container">
								<a href="#btn" class="uiBtn blueBtn toggleBtn enableAllAnimations" data-alt-text="Non-hybrid state">View hybrid</a>

								<a href="/development/youtubeGalleryItem.aspx?id=851mjjIzrYs" id="l_tf2"  class="uiBtn hasIcon darkBtn playMovieButton enableAllAnimations secContentTrigger" data-slide-in><i data-icon="" class="icon icon-play"></i>Play movie</a>

							</div>
						</div>
					</div>
				</div>
				<div class="container_12 clearfix">
					<div class="grid_12">
						<div class="default-block">
							<p>High-quality finishes and refined materials create the wlecome atmosphere onboard the new Auris: nappa leather on the steering wheel, meticulous metal-like silver detailing, as well as stylish carbon trim and chrome inserts. The Auris Hybrid shares the same high quality interior as Auris with added hybrid-specific instruments, upholstery and detailing.</p>
						</div>
						<div class="alt-block">
							<p>High-quality finishes and refined materials create the wlecome atmosphere onboard the new Auris: nappa leather on the steering wheel, meticulous metal-like silver detailing, as well as stylish carbon trim and chrome inserts. The Auris Hybrid shares the same high quality interior as Auris with added hybrid-specific instruments, upholstery and detailing. --Hybrid</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="top-feature content-toggle" data-content-toggle data-layer-parallax>

			<div class="content-block">
				<aside class="assetWidthContain bg-par">
					<div class="background-layer" style="background-image: url(http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf05.jpg)" data-height="900" data-width="1600" data-alt-img="http://toyota-stage.amaze.com/inc/images/components/topfeatures/tf01.png"></div>
				</aside>
			</div>


			<div class="body-content">
				<div class="header-block move-into-parallax">
					<div class="container_12 arrow">
						<div class="grid_12">
							<p class="header2" data-alt="Dynamic driving experience (Hybrid)">Dynamic driving experience</p>
							<div class="button-right-container">
								<a href="#btn" class="uiBtn blueBtn toggleBtn enableAllAnimations" data-alt-text="Non-hybrid state">View hybrid</a>

								<a href="/development/youtubeGalleryItem.aspx?id=851mjjIzrYs" id="l_tf2"  class="uiBtn hasIcon darkBtn playMovieButton enableAllAnimations secContentTrigger" data-slide-in><i data-icon="" class="icon icon-play"></i>Play movie</a>

							</div>
						</div>
					</div>
				</div>
				<div class="container_12 clearfix">
					<div class="grid_12">
						<div class="default-block">
							<p>The new Auris benefits from enhancements to its bodyshell rigidity, suspansion, steering, driving position and weight management to provide an all-together more comfortable and engaging drive. The new Auris Hybrid’s HSD powertrain also features improvements to futher enhance the unique hybrid driving experience.</p>
						</div>
						<div class="alt-block">
							<p>The new Auris benefits from enhancements to its bodyshell rigidity, suspansion, steering, driving position and weight management to provide an all-together more comfortable and engaging drive. The new Auris Hybrid’s HSD powertrain also features improvements to futher enhance the unique hybrid driving experience. --Hybrid</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>
