/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php> 
*/
.uploadify {
  position: relative;
  margin-bottom: 1em;
}

.uploadify-button {
  background-color: #333;
  background-position: center top;
  background-repeat: no-repeat;
  color: #FFF;
  font: bold 12px Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
}

.uploadify:hover .uploadify-button {
  background-color: #3b98da;
}

.uploadify-button.disabled {
  background-color: #D0D0D0;
  color: #808080;
}

.uploadify-queue {
  margin-bottom: 1em;
}

.uploadify-queue-item {
  background-color: #F5F5F5;
  border-radius: 3px;
  font: 11px Verdana, Geneva, sans-serif;
  margin-top: 5px;
  max-width: 350px;
  padding: 10px;
}

.uploadify-error {
  background-color: #FDE5DD !important;
}

.uploadify-queue-item .cancel a {
  background: url("../img/uploadify-cancel.png") 0 0 no-repeat;
  float: right;
  height: 16px;
  text-indent: -9999px;
  width: 16px;
}

.uploadify-queue-item.completed {
  background-color: #E5E5E5;
}

.uploadify-progress {
  background-color: #E5E5E5;
  margin-top: 10px;
  width: 100%;
}

.uploadify-progress-bar {
  background-color: #0099FF;
  height: 3px;
  width: 1px;
}

/*
UploadiFive
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
*/
.uploadifive-queue-item {
  background-color: #F5F5F5;
  border-bottom: 1px dotted #D5D5D5;
  border-radius: 5px;
  font: 12px Arial, Helvetica, Sans-serif;
  margin-top: 3px;
  padding: 15px;
}

.uploadifive-queue-item .close {
  background: url("uploadifive-cancel.png") 0 0 no-repeat;
  display: block;
  float: right;
  height: 16px;
  text-indent: -9999px;
  width: 16px;
}

.uploadifive-queue-item .progress {
  border: 1px solid #D0D0D0;
  height: 3px;
  margin-top: 5px;
  width: 100%;
}

.uploadifive-queue-item .progress-bar {
  background-color: #0072BC;
  height: 3px;
  width: 0;
}

.fixedfix {
  position: absolute !important;
}

.master-wrapper {
  position: relative;
  top: -22px;
}

.caps {
  text-transform: uppercase;
}

.centered {
  margin: 0 auto !important;
  float: none !important;
}

.image {
  width: 100%;
  display: block;
  margin-bottom: 1.5em;
}

.right {
  float: right !important;
}

/*
	grey_light:	#E7E7E7
	grey: 		#DEDFE0
	grey_med: 	#AAAAAA
	grey_dark:  #141517
	red: 		#CC0033

*/
.heading1, h1 {
  font-size: 4.13em;
  line-height: 1.09em;
  margin-bottom: 0.6em;
}

.heading2, h2 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-family: toyotadisplay_bd;
}
.heading2.heading-footer, h2.heading-footer {
  margin: 0;
  padding-top: 1em;
}

.heading4, h4 {
  font-size: 1.88em;
}

.rotate {
  -ms-transform: skew(-10deg, 0deg) rotate(-7deg);
  /* IE 9 */
  -webkit-transform: skew(-10deg, 0deg) rotate(-7deg);
  /* Chrome, Safari, Opera */
  transform: skew(-10deg, 0deg) rotate(-7deg);
  margin-bottom: 1em;
}

h5 {
  font-size: 1.06em;
  font-family: toyotatext_bd;
  margin-bottom: 0.6em;
}

p {
  font-size: 1.5em;
  line-height: 1.25em;
  margin-bottom: 1em;
}

p.small {
  font-size: 0.94em;
  color: #6C7073;
}

.hashtag {
  font-size: 2.13em;
  line-height: 1.18em;
  margin-bottom: 0.6em;
  font-family: toyotatext_bd;
}

.icons {
  font-size: 2.5em;
}

i.icon-twitter {
  margin-right: 0.2em;
}

.rosette {
  position: relative;
  width: 23%;
  margin: 0 auto 3em;
}

.rosette .text {
  position: absolute;
  top: 14%;
  width: 64%;
  margin: 0 19%;
}

.section {
  background: #fff;
}

.section-top {
  padding-bottom: 5em;
}

.section.section-red {
  background: #CC0033;
  color: #fff;
}

.section.section-green {
  background: #cc0033 url(../images/bg_red_pics.jpg) repeat center top;
  color: #fff;
}

.section.section-red h1, .section.section-green h1,
.section.section-red h2, .section.section-green h2,
.section.section-red h3, .section.section-green h3,
.section.section-red h4, .section.section-green h4,
.section.section-red p, .section.section-green p {
  color: #fff;
}

.section .padding {
  padding: 6em 0;
}

.section .padding-top {
  padding: 6em 0 0;
}

.section .padding-bottom {
  padding: 0 0 6em;
}

.nomination-quote {
  position: relative;
}

.navigation-links {
  list-style: none;
}

.navigation-link {
  margin-bottom: 1em;
}

.navigation-link img {
  width: 100%;
}

.navigation-link a:hover .padding {
  background-color: rgba(255, 255, 255, 0.15);
}

.navigation-link a .padding {
  -webkit-transition: all 0.66s ease;
          transition: all 0.66s ease;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.1);
}

.navigation-link .padding .image {
  margin-bottom: 1em;
}

.navigation-link .padding .link {
  color: #fff;
  font-size: 25px;
  display: block;
}

.logo img {
  width: 100%;
  display: block;
}

.logo_badge {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 3em;
}

.logo_badge.small {
  width: 22%;
}

.primary-nav {
  z-index: 100;
}

.page-transition-slider {
  z-index: 200 !important;
}

.bg-par .bg-par-inner .heading1 {
  margin-bottom: 0.5em;
}

.primary-nav-outer .large-nav .search-container {
  display: none;
}

.menu-open .primary-nav-outer .breadcrumb {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.social-tools-list {
  position: absolute;
  right: 0;
  top: -0.5em;
  margin-top: 0;
}

.play-icon-large {
  display: block;
}

#search-container {
  position: relative;
}

#search-container #search {
  font-size: 1.2em;
  padding: 0.5em 0.8em;
  margin-bottom: 0;
}
#search-container #search.clearFieldBlurred {
  color: #888;
}

#search-container i {
  font-size: 1.69em;
  position: absolute;
  top: 0.35em;
  right: 0.35em;
}

#search-info {
  padding: 1em 0;
  text-align: center;
  color: #888;
  font-size: 0.8em;
  position: absolute;
  right: 3.5em;
  top: 0.02em;
  display: none;
}

#winners {
  margin-bottom: 3em;
}

.story {
  margin-bottom: 3em;
  background: #f6f6f6;
}
.story .story-image .image {
  margin-bottom: 0;
}
.story .story-about, .story .story-image {
  position: relative;
  float: left;
  width: 50%;
}
.story .rosette {
  left: 0;
  margin: 2em auto 3em;
  width: 30%;
}
.story .quote {
  font-size: 1.5em;
  line-height: 1.2em;
  font-family: toyotadisplay_bd;
  margin: 0 3em 1em;
  letter-spacing: 0;
}
.story .who {
  font-family: toyotatext_rg;
  font-size: 1.19em;
  line-height: 1.26em;
}
.story.right {
  float: none !important;
}
.story.right .story-about {
  float: right;
}

#image-popup {
  position: absolute;
  z-index: 10;
  background: #CC0033;
  color: #FFF;
  text-align: center;
  width: 300px;
  max-width: 300px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
#image-popup .padding {
  margin: 2em;
  padding: 0;
  position: relative;
}
#image-popup .close {
  color: white;
  position: absolute;
  top: -1em;
  right: -1em;
}
#image-popup .close .text {
  position: relative;
  top: -0.1em;
  left: -0.1em;
  font-size: 0.9em;
}
#image-popup .close .text:hover {
  text-decoration: underline;
}
#image-popup .rosette {
  width: 70%;
  margin: 0.5em auto 1.5em;
}
#image-popup .rosette .text {
  top: 16%;
  width: 62%;
}
#image-popup .nominee {
  font-size: 1.38em;
  font-family: toyotadisplay_bd;
}
#image-popup .nomiater {
  font-size: 1.25em;
  font-family: toyotadisplay_rg;
}

#images {
  background: #f0f0f1;
  margin-bottom: 3em;
  position: relative;
}

#image-list p {
  margin: 0;
  padding: 1.5em 0;
}

.image-block {
  width: 20%;
  float: left;
  background: #f0f0f1;
  cursor: pointer;
}
.image-block .loader {
  text-align: center;
  vertical-align: center;
  width: 100%;
}
.image-block .loader img {
  -webkit-transition: none;
          transition: none;
  width: auto;
  position: relative;
  width: 16px;
  height: 16px;
}
.image-block img {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}
.image-block:hover .loader img {
  width: 16px;
  height: 16px;
  margin: 0;
}
.image-block:hover img {
  width: 95%;
  height: 95%;
  margin: 2.5%;
}

.show-more {
  border-top: 1px solid #B7B8B9;
  text-align: center;
}

.show-more a {
  position: relative;
  top: -25px;
}

@media only screen and (min-width: 0em) {
  .social-tools-section h3 {
    font-size: 1.1em;
  }

  .social-tools-list {
    position: relative;
    margin-top: 1.6em;
  }

  .play-icon-large {
    display: inline-block !important;
    margin-top: 14%;
  }

  .heading1, h1 {
    font-size: 2.13em;
  }

  .heading2, h2 {
    font-size: 24px;
    line-height: 26px;
  }

  .heading4, h4 {
    font-size: 19px;
    line-height: 20px;
  }

  .rotate {
    -ms-transform: none;
    /* IE 9 */
    -webkit-transform: none;
    /* Chrome, Safari, Opera */
    transform: none;
    margin-bottom: 0.5em;
  }

  .section.section-green {
    background-size: 150% auto;
  }

  .hashtag {
    font-size: 1.5em;
  }

  .rosette {
    width: 40%;
    margin: 0 auto 1.5em;
  }

  p {
    font-size: 1em;
  }

  .section-top {
    padding-bottom: 2em;
  }

  .section .padding {
    padding: 2.5em 0;
  }

  .section .padding-top {
    padding: 2.5em 0 0;
  }

  .logo_badge {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .logo_badge.small {
    width: 40%;
  }

  .story {
    margin-bottom: 1em;
  }
  .story .story-about, .story .story-image {
    float: none;
    width: auto;
  }
  .story .story-about {
    padding: 1em 0;
  }
  .story .story-about .rosette {
    left: 0;
    margin: 0 auto 1em;
    width: 30%;
  }
  .story .story-about .quote {
    font-size: 1em;
    margin: 0 1em 1em;
  }
  .story .story-about .who {
    font-size: 1em;
  }
  .story .story-image .image {
    margin-bottom: 0;
  }
  .story.right .story-about {
    float: none;
  }

  .image-block {
    width: 33.33%;
  }
}
@media only screen and (min-width: 30em) {
  .logo_badge {
    width: 40%;
  }

  .rosette {
    width: 20%;
  }

  .story .story-about .rosette {
    left: 0;
    margin: 1em auto 2em;
    width: 25%;
  }
  .story .story-about .quote {
    margin: 0 1em 1em;
  }

  .image-block {
    width: 25%;
  }
}
@media only screen and (min-width: 48em) {
  .social-tools-list {
    position: absolute;
    right: 0;
    top: -0.5em;
    margin-top: 0;
  }

  .heading1, h1 {
    font-size: 4.13em;
  }

  .heading2, h2 {
    font-size: 2.5em;
    line-height: 1.2em;
    margin-bottom: 1em;
  }

  .heading4, h4 {
    font-size: 1.88em;
  }

  .rotate {
    -ms-transform: skew(-10deg, 0deg) rotate(-7deg);
    /* IE 9 */
    -webkit-transform: skew(-10deg, 0deg) rotate(-7deg);
    /* Chrome, Safari, Opera */
    transform: skew(-10deg, 0deg) rotate(-7deg);
    margin-bottom: 1em;
  }

  .section.section-green {
    background-size: auto auto;
  }

  .section .padding-top {
    padding: 6em 0 0;
  }

  .section .padding-bottom {
    padding: 0 0 6em;
  }

  .hashtag {
    font-size: 2.13em;
  }

  .rosette {
    width: 23%;
    margin: 0 auto 3em;
  }

  p {
    font-size: 1.5em;
    line-height: 1.25em;
    margin-bottom: 1em;
  }

  .section-top {
    padding-bottom: 5em;
  }

  .section .padding {
    padding: 6em 0;
  }

  .logo_badge {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 3em;
  }

  .logo_badge.small {
    width: 22%;
  }

  .story .story-about .quote {
    font-size: 1.2em;
    margin: 0 1em 1em;
  }
  .story .story-about .rosette {
    left: 0;
    margin: 1em auto 2em;
    width: 25%;
  }
  .story .story-about .quote, .story .story-about .who {
    font-size: 1.1em;
  }
  .story .story-about, .story .story-image {
    float: left;
    width: 50%;
  }
  .story.right .story-about {
    float: right;
  }

  .image-block {
    width: 20%;
  }
}
@media only screen and (min-width: 62em) {
  .social-tools-section h3 {
    font-size: 23px;
  }

  .story .story-about .rosette {
    left: 0;
    margin: 2em auto 3em;
    width: 30%;
  }
  .story .story-about .quote {
    margin: 0 3em 1em;
  }
}
#home {
  max-width: 640px;
  margin: 0 auto;
}

.shadow {
  box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.2);
}

.success {
  display: none;
}

.step {
  margin-bottom: 2em;
}
.step h2 {
  margin-bottom: 0.5em;
}
.step h4 {
  margin-bottom: 1em;
}
.step .intro {
  margin-bottom: 1em;
}

#creator #image_box {
  position: relative;
  background: #ccc;
  margin: 0 auto 1em;
  width: 640px;
  height: 640px;
  overflow: hidden;
}

#toggleOverlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 50;
}

#toggleOverlay.bigger {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  right: 45px;
  bottom: 15px;
}

.next-info {
  font-size: 0.9em;
  color: #6c7073;
  margin-left: 1em;
}

#photo-preview-box, #photo-preview-box2 {
  width: 150px;
  background: #E5E5E5;
  border: 1px solid #B0B1B2;
  display: none;
  overflow: hidden;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#photo-preview-box img, #photo-preview-box2 img {
  width: 100%;
}

#creator #filter {
  position: absolute;
  z-index: 15;
  pointer-events: none;
  width: 640px;
  height: 640px;
  top: 0px;
  left: 0px;
}

#creator #filter_outline {
  display: none;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  width: 640px;
  height: 640px;
  top: 0px;
  left: 0px;
}

#creator #containment {
  position: relative;
  z-index: 5;
}

#creator #containment img {
  cursor: move;
  position: relative;
}

#creator #controls p {
  line-height: 25px;
}

#creator #slider_container {
  position: relative;
}

#creator #slider_container .minus {
  position: absolute;
  top: -12px;
  left: 10px;
  height: 25px;
  width: 25px;
  background: transparent url(../images/slider_minus.png) no-repeat top left;
}

#creator #slider_container .plus {
  position: absolute;
  top: -12px;
  right: 10px;
  height: 25px;
  width: 25px;
  background: transparent url(../images/slider_plus.png) no-repeat top left;
}

#creator #simple-slider {
  height: 1px;
  border: none;
  background: black;
  margin: 17px 45px 0;
  position: relative;
}

#creator #simple-slider .handle {
  cursor: pointer;
  width: 12px;
  border: 1px solid black;
  background: white;
  border-radius: 0;
  margin-top: -14px;
  height: 27px;
  position: absolute;
}

#creator .mover {
  float: left;
  height: 25px;
  width: 25px;
  background: transparent url(../images/mover.png) no-repeat top left;
}

#creator #repositioner {
  margin-bottom: 1em;
}

#creator #repositioner p {
  margin-left: 0.5em;
  float: left;
}

#step1, #step2, #step3, #step4, #step5, #step6, #image_box, #stepUpload {
  display: none;
}

#step4 {
  padding-top: 1em;
}

#step6 textarea {
  margin-bottom: 0em;
}

#resizer {
  margin: 0 0 1em;
}

#message {
  position: relative;
}

#message .tagmate-container textarea {
  color: #fff;
}

#message .tagmate-container .menu {
  padding: 0 10px 3px;
  position: absolute;
  top: 95px;
  background: #e4e4e4;
  padding-top: 3px;
  border-top: 1px solid #939393;
  width: 460px;
  z-index: 10;
}

#message .tagmate-container .menu .option {
  cursor: pointer;
  background: #333;
  color: white;
  display: inline;
  padding: 0 3px;
  margin-right: 3px;
  line-height: 1.55em;
}

#message .tagmate-container .menu .option:hover {
  background: #3b98da;
}

#message .tagmate-hiliter {
  z-index: 1;
  margin: 0;
  padding: 13px 11px;
  cursor: text;
  pointer-events: none;
}
#message .tagmate-hiliter .tag {
  color: #cc0000;
}

#char-count {
  font-size: 0.88em;
  color: #999;
}

#char-count.warning {
  color: #ff9000;
}

#char-count.empty {
  color: #ff0000;
  display: block;
}

.step {
  text-align: left;
  width: auto;
  display: block;
  margin: 0 auto;
}
.step h3 {
  margin-bottom: 0.6em;
}
.step .row {
  margin-bottom: 1em;
}
.step .row label {
  margin-bottom: 0.5em;
  display: block;
}
.step .row label i {
  margin-left: 0.5em;
}
.step .row .input.checkbox i {
  float: left;
  cursor: pointer;
  position: relative;
  top: 0.25em;
  margin-right: 0.2em;
}
.step .row .input.invalid input, .step .row .input.invalid textarea {
  border: 1px solid #cc0000;
  background: #ff9999;
}
.step .row .input.invalid .error {
  display: block;
}
.step .row input {
  margin-bottom: 0;
}
.step .row textarea {
  padding: 10px;
  margin-bottom: 0;
}
.step .row input.clearFieldBlurred, .step .row textarea.clearFieldBlurred {
  color: #999999;
}
.step .error {
  color: red;
  font-style: italic;
  display: none;
  margin-top: 0.5em;
}
.step.invalid .error {
  display: block;
}
.step .uiBtn .loader {
  display: none;
}
.step .uiBtn.loading .loader {
  display: inline;
}
.step .uiBtn.loading .text {
  display: none;
}

@media only screen and (max-width: 400px) {
  .next-info {
    display: block;
    margin-left: 0;
    margin-top: 1em;
  }
}
.uiBtn {
  cursor: pointer;
}

.uiBtn.greyBtn {
  background: #e8e9ea;
  background-image: -webkit-linear-gradient(bottom, #e8e9ea, white);
  background-image: linear-gradient(to top, #e8e9ea, white);
}
