<div class="form_container">
	<form action="/forms/formsubmit?action=bookaservice" method="POST" id="bookserviceform" class="contactform">
		<input type="hidden" name="oid"				id="oid"					value="00Db0000000HWqf">
		
		<input type="hidden" value="012b0000000aZax" name="recordType">
		<input type="hidden" value="Web Customer Service" name="subject" id="subject">
		
		<input type="hidden" name="XID" value="{XID_HASH}" />

		<?php
			$inputs=array('test_emails','emails','test_email','emailer');
			$rand_keys = array_rand($inputs, 2);
			echo "<input type='email' name='".$inputs[$rand_keys[0]]."' />";
			echo "<input type='email' name='".$inputs[$rand_keys[1]]."' />";
		?>
		
		<div class="container_12">
			<div class="grid_12 header">
					<h2>Request a Service</h2>
					<span class="intro"></span>
			</div>
		</div>

		<div class="container_12">
			<div class="grid_6">
				<h4 class="title1">Make </h4>
				<div class="select">
					<div class="value"></div>
					<i class="icon icon-chevron-down"></i>
					{embed="default_site:components/make"}
				</div>
			</div>
			<div class="grid_6">
				<h4 class="title1">Model  &nbsp;&nbsp; <i class="icon icon-car2"></i></h4>
				<div class="select">
					<div class="value"></div>
					<i class="icon icon-chevron-down"></i>
					{embed="default_site:components/models_from_feed"}
				</div>
			</div>
		</div>
		<div class="container_12 ">
			<div class="grid_6">
				<h4 class="title1">Year  </h4>
				<input  id="year"  name="year"  type="text" placeholder="" data-validation="number"/>
			</div>
			<div class="grid_6">
				<h4 class="title1">Mileage </h4>
				<input  id="mileage"  name="mileage"  type="text" placeholder="KM" data-validation="number"/>
			</div>
			<div class="grid_6">
				<h4 class="title1">Car Registration </h4>
				<input  id="car_reg"  name="car_reg"  type="text" placeholder="" data-validation="length" data-validation-allowing="-" data-validation-length="6-13" data-validation-error-msg="The car registration entered is not valid"/>
			</div>
		</div>
		<div class="container_12 ">
			<div class="grid_6">
				<h4 class="title1">Preferred Date 1 </h4>
				<input  id="preferred_date1"  name="preferred_date1" class="datepicker" type="text" placeholder="Month/Day/Year" data-validation="date"  data-validation-format="mm/dd/yyyy"/>
			</div>
			<div class="grid_6">
				<h4 class="title1">Preferred Date 2 </h4>
				<input  id="preferred_date2"  name="preferred_date2"  class="datepicker" type="text" placeholder="Month/Day/Year" data-validation="date" data-validation-format="mm/dd/yyyy"/>
			</div>
		</div>
		<div class="container_12 ">
			<div class="grid_6">
				<h4 class="title1">Subject </h4>
				<input  id="subject"  name="subject" type="text" placeholder=""/>
			</div>
			<div class="grid_6">
					<h4 class="title1">Select Your Local Dealer/Authorised Repairer &nbsp;&nbsp;</h4>
					<div class="select dealers">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						{embed="components/dealer_service_email_list"}

					</div>
				</div>
		</div>

		<div class="container_12 extraspace">
			<div class="grid_12">
				<h4 class="title1">Comment </h4>
				<textarea id="comments"  name="comments"  placeholder="leave any comment here."></textarea>
			</div>
		</div>

		{embed="default_site:components/contactdetails"}
		{embed="default_site:components/dataprotection"}
		{embed="default_site:components/submit"}
		
	</form>
	<div class="container_12 form_thanks">
		<div class="grid_12 header">
			<h2 style="padding-bottom: 0.5em">Thank you for requesting a service at an Authorised Toyota Dealer/Repairer.</h2>
			<span class="intro">A member of our team will be in touch with you to confirm your service as soon as possible.</span>
		</div>
	</div>
</div>
<script type='text/javascript'>
	/*$(function(){

		var select=$('#bookserviceform select[id=model]').parent().html();
		var input='<div id="model_input"><input  id="model"  name="'+$('select[id=model]').attr('name')+'" type="text" placeholder=""/></div>';

		$('select[name=make]').change(function(){
			
			if($(this).find(':selected').val()!='Toyota'){
				$('#bookserviceform select[id=model]').parent().replaceWith(input)
			}else{
				$('#model_input').replaceWith("<div class='select'>"+select+"</div>")
				FormElements.bindSelects($('#bookserviceform .select'));
			}
		})
	})*/
</script>

