<?php
header('Access-Control-Allow-Origin: *');
?>
{header_auc}
<?php
$currentTab = (isset($_GET["tab"])) ? $_GET["tab"] : "pane-contact";
$form = (isset($_GET["form"])) ? $_GET["form"] : false;

global $dealer, $car_model;
if (isset($_GET["model"]))
    $car_model = $_GET["model"];
if (isset($_GET["dealer"]))
    $dealer = $_GET["dealer"];

require_once(APPPATH . "third_party/recaptcha/ReCaptchaToken.php");
global $recaptchaToken;
$config = array('site_key' => '6LdFzxcTAAAAAKSDS13NbH3EZi7_3cM8eMTTeXaZ', 'site_secret' => '6LdFzxcTAAAAAK53_n84itPQM-x_9AoKQh9K1jCH');
$recaptchaToken = new \ReCaptchaSecureToken\ReCaptchaToken($config);

if (!$form) {
    ?>
    <nav class="toyota-tabs-select container form_nav">
        <div class="container_12 clearfix">
            <div class="grid_12">
                <span class="form_nav_item tabtrigger" data-tab="pane-contact-tab">Contact us</span>
                <span class="form_nav_item tabtrigger" data-tab="pane-brochure-tab">Request a brochure</span>
                <span class="form_nav_item tabtrigger" data-tab="pane-test-drive-tab">Arrange a test drive</span>
                <span class="form_nav_item tabtrigger" data-tab="pane-bookaservice-tab">Request a service</span>
                <span class="form_nav_item tabtrigger" data-tab="pane-newsletter-tab">Newsletter Subscription</span>
            </div>
        </div>
    </nav>
    <div class="" id="form_tabs">
        <div class="tabContent" id="pane-test-drive-tab">
            {embed="forms/bookatestdrive"}
        </div>
        <div class="tabContent" id="pane-contact-tab">
            {embed="forms/contactus"}
        </div>
        <div class="tabContent" id="pane-brochure-tab">
            {embed="forms/brochure"}
        </div>
        <div class="tabContent" id="pane-bookaservice-tab">
            {embed="forms/bookaservice"}
        </div>
        <div class="tabContent" id="pane-newsletter-tab">
            {embed="forms/newsletter"}
        </div>
        <div class="tabContent" id="pane-auris2015-tab">
            {embed="forms/brochure"}
        </div>
    </div>
    <?php
} else {
    ?>
    <div class="padding-top-large">
        {embed="forms/<?php echo $form; ?>"}
    </div>
    <?php
}
?>
<script>
    var inputs = ['test_emails', 'emails', 'test_email', 'emailer'];

    for (k = 0; k < inputs.length; k++) {
        var test_input = document.getElementsByName(inputs[k]);

        var i;
        for (i = 0; i < test_input.length; i++) {
            test_input[i].setAttribute("style", "display:none;");
        }
    }

    var $_GET=[];
    
    window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(a,name,value){$_GET[name]=value;});

</script>
<script src="//development.toyota.ie/inc/js/libs.js"></script>
<script src="//development.toyota.ie/inc/js/main.js"></script>
<script type='text/javascript'>
    $(function () {

        $(".form_container input[data-validation]").each(function (index) {
            var $input = $(this);
            var $parent = $input.parent();
            var $title = $parent.find(".title1");
            var icon = $title.find("i").detach();
            $title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
            $title.append(icon);
            //$title.prepend("<span class='requiredField'>* </span>");
        });
        $(".form_container .select").each(function (index) {
            var $select = $(this);
            if ($select.find("select[data-validation]").length) {
                var $parent = $select.parent();
                var $title = $parent.find(".title1");
                var icon = $title.find(">*").detach();
                $title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
                $title.append(icon);
            }
        });

        var select = $('#bookserviceform select[id=model]').parent().html();
        var input = '<div id="model_input"><input  id="model"  name="' + $('select[id=model]').attr('name') + '" type="text" placeholder=""/></div>';

        $('select[name=make]').change(function () {

            if ($(this).find(':selected').val() !== 'Toyota') {
                $('#bookserviceform select[id=model]').parent().replaceWith(input);
            } else {
                $('#model_input').replaceWith("<div class='select'>" + select + "</div>");
                FormElements.bindSelects($('#bookserviceform .select'));
            }
        });


        var currentmodel = null;
        var downloadtype = $("#selecttype");
        var download = downloadtype.find("option[value='pdfDownload']");
        var preorder = $("#preorder");
        var email = downloadtype.find("option[value='Ebrochure']");
        var post = downloadtype.find("option[value='Post']");
        var thanks = $('#pane-brochure-tab .form_thanks .intro');
        var send_via = $("#send_via");
        var post_message = $("#post_message");
        if (thanks.length === 0)
            thanks = $('.form_thanks .intro');

        //exception for the new rav4 and new prius download brochure
        $(document).on("change", "select#model", function () {
            // check model
            var sel = $(this);
            var model = sel.find("option:selected").val().toLowerCase();
            if (model === currentmodel)
                return;
            else
                currentmodel = model;


            //model === "rav4 2016" || model === "new rav4" || model === "new prius" || model === "prius 2016"
//            if (model === "verso") {
//                post_message.hide();
//                send_via.show();
//                //only enable Post option for verso
//                post.prop("selected", true);
//                download.prop("disabled", true).hide();
//                email.prop("disabled", true).hide();
//                downloadtype.prop("disabled", true);
//                downloadtype.parent().find(".icon").hide();
//                $("#requestbrochure").append("<input type='hidden' name='sendType' value='Post' id='fakeSendType'/>");
//                downloadtype.trigger('change');
//
//            }
            if (model === "new hilux") {
                post_message.hide();
                send_via.show();

                post.prop("disabled", true).hide();

                //default behavior
                $("#requestbrochure #fakeSendType").remove();
                downloadtype.prop("disabled", false);
                downloadtype.parent().find(".icon").show();
                download.prop("selected", true);
                download.prop("disabled", false).show();
                email.prop("disabled", false).show();
                downloadtype.trigger('change');
                $('#phone').attr('data-validation','number')
                $('#phone').parent().find('.title1').find('.requiredField').show();


            } else if (model === "c-hr") {
                
                post_message.hide();
                send_via.show();

                post.prop("disabled", true).hide();

                //default behavior
                $("#requestbrochure #fakeSendType").remove();
                downloadtype.prop("disabled", false);
                downloadtype.parent().find(".icon").show();
                download.prop("selected", true);
                download.prop("disabled", false).show();
                email.prop("disabled", false).show();
                downloadtype.trigger('change');
                $('#phone').attr('data-validation','none')
                $('#phone').parent().find('.title1').find('.requiredField').hide();

            } else {
                post_message.hide();
                send_via.show();
                //default behavior
                $("#requestbrochure #fakeSendType").remove();
                downloadtype.prop("disabled", false);
                downloadtype.parent().find(".icon").show();
                post.prop("disabled", false).show();
                download.prop("selected", true);
                download.prop("disabled", false).show();
                email.prop("disabled", false).show();
                downloadtype.trigger('change');
                //$('.dealer_select').show();
                //$('.model_select').show();
                $('#phone').attr('data-validation','number')
                $('#phone').parent().find('.title1').find('.requiredField').show();
            }
            customTitle();
        });

        $("select#model").trigger('change');
        function customTitle() {
            if ($("#requestbrochure").length == 0)
                return;
            var $option = $("#pane-brochure-tab select#model option:selected");
            var $message = $("#pane-brochure-tab .header h2").first();
            var $intro = $("#pane-brochure-tab .header .intro").first();

            if ($option.length == 0) {
                $option = $("select#model option:selected")
                $message = $(".header h2").first();
                $intro = $(".header .intro").first();
            }
            var model = $option.val().toLowerCase();

            if (model == "new hilux") {
                $message.text("Download a Toyota Hilux brochure.");
                $intro.text("Be the first to find out more about the new Toyota Hilux.");
                thanks.text('Thank you for downloading a brochure for the Toyota Hilux. If you have selected to receive via email it will arrive shortly.');
            } else if (model == "c-hr") {
                $message.text("Download the latest information on Toyota C-HR.");
                $intro.text("More details to follow closer to launch.");
                thanks.text('Thank you for downloading the latest information for the Toyota C-HR. If you have selected to receive via email it will arrive shortly. More details to follow closer to launch.');
            } else {
                $message.text("Order or download model brochures");
                $intro.text("Choose a model that you would like a brochure from, then fill out the form below...");
                thanks.text('If you order your brochure via post-mail, we will send it as soon as possible.');
            }
        }

        customTitle();
    });


    //set dealer id for contact us
    $("#dealer_custom").change(function () {
        var deID = $(this).find("option:checked").data("dealer-id");
        $("#00Nb0000002AKok").val(deID);
    });


    //Recaptcha


    function recaptcha() {
        //recapthcaready is declared in the snippets/header_auc  becouse the function need to be in the header
        if (!recapthcaready) {
            setTimeout(recaptcha, 100);
            return;
        }
        var captchas = [];
        var $tabs = $(".tabContent");
        if ($tabs.length == 0) {
            $tabs = $(".form_container");
        }
        $tabs.each(function () {
            var $tab = $(this);
            var $captcha = $tab.find(".g-recaptcha");
            if ($captcha.length == 0)
                return;
            var tabId = $tab.attr("id");
            captchas[tabId] = {
                tab: $tab,
                captcha: $captcha,
                verifyCallback: function () {
                    alert("tab : " + tabId);
                }
            };
//		console.log("tab : "+tabId);
//		console.log($captcha[0]);
            grecaptcha.render($captcha[0], {
                'sitekey': $captcha.data("sitekey"),
                'theme': 'light',
                stoken: $captcha.data("stoken"),
                'callback': function () {
                    $tab.find(".hiddencaptcha").prop('checked', true);
                    $tab.find(".form-error").hide();
                }
            });
        });
    }

    recaptcha();


</script>
<!--[if lt IE 9]>
<script src="//development.toyota.ie/inc/js/ie8.js"></script> <![endif]-->
<?php if (!$form) { ?>
    <script type="text/javascript">
        if ($(".tabtrigger").length > 0) {
            var $currentTab = $("#<?= $currentTab ?>-tab");
            var $currentControl = $(".tabtrigger[data-tab='<?= $currentTab ?>-tab']");
            $currentControl.addClass("active");
            $currentTab.show();

            $('.tabtrigger').click(function () {
                $currentControl.removeClass("active");
                $(this).addClass("active");
                var id = $(this).data("tab");
                var $nextTab = $("#" + id);
                $currentTab.hide();
                $nextTab.show();
                $currentTab = $nextTab;
                $currentControl = $(this);
            });
        }
    </script>
<?php } ?>
</body>
</html>
