{header_allthings}

	<div class="section section-red">
		<div class="container_12">
			<div class="grid_8 centered center-text padding">
				<h1 class="caps">All things awards</h1>
				<p>To the giants, jugglers, soothers and smoothers. To the saints, the shapers and the memory makers. These awards are for the people all over Ireland who are more than they&nbsp;seem.</p>
				<br>
				<div class="logo logo_badge"><img src="assets/images/logo_badge.png" alt="Smiley rosette"></div>

				<h3 class="hashtag">#AllThingsToAllPeople</h3>
				<div class="icons">
					<i class="icon icon-twitter"></i>
					<i class="icon icon-facebook"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container_12">
			<div class="padding">
				<div class="grid_8 centered center-text">
					<h2>Make someone's day with just one&nbsp;sentence</h2>
					<p class="intro">The people we care about the most are always the ones we forget to tell. So these little awards have been created to let them know how important they are to us. Just enter the name of your nominee, why they deserve their award and some of the best will get a prize&nbsp;(or&nbsp;two). <br>We'll use some of the best stories to celebrate the people who are all things to us so make sure yours is nice (and&nbsp;spellchecked!).</p>
				</div>
				<br><br>
				<div class="grid_8 centered">
					<div id="comp-frame">
						{embed="components/nomination_form"}
					</div>
				</div>
			</div>
		</div>
	</div>
	{embed="components/header_video" image_url="photo_work.jpg" youtube_id="EToCdo3bX1M"}
	<div class="section">
		<div class="container_12 padding">
			<div class="grid_10 centered center-text section-top">
				<div class="logo rosette">
					<div class="main"><img src="assets/images/rosette_empty.png" alt="Rosette"></div>
					<div class="text"><img src="assets/images/rosette_text_lifeguard.png" alt="A Lifeguard"/></div>
				</div>
				<h2 class="nomination-quote">"She is always there for me and my&nbsp;family."</h2>
				<h4>- Elaine Eager</h4>
			</div>
			<div class="grid_6 right">
				<img class="image" src="assets/images/entries/photo_elaine.jpg" alt="Elaine">
			</div>
			<div class="grid_6">
				<h5>Elaine Eager’s All Things Awards Nominee</h5>
				<p class="small">Well where to start... My mum is a wonderful, amazing person. She is always there for me and my family, no matter what problem of her own she has. She has had a tough couple of years; she lost her mum and dad but she has never let me or my sister&nbsp;down.</p>
				<a href="#comp-frame" rel="scrollToComp" class="uiBtn redBtn hasIcon">
					<span class="text">Enter the All Things Awards</span><i class="icon icon-chevron-right"></i>
				</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{embed="components/socialtools"}
	{embed="components/header_video" image_url="photo_carry.jpg" youtube_id="EToCdo3bX1M"}
	<div class="section">
		<div class="container_12 padding">
			<div class="grid_10 centered center-text section-top">
				<div class="logo rosette">
					<div class="main"><img src="assets/images/rosette_empty.png" alt="Rosette"></div>
					<div class="text"><img src="assets/images/rosette_text_giant.png" alt="A Giant"></div>
				</div>
				<h2 class="nomination-quote">"Through our five and a half years together he's been my&nbsp;rock"</h2>
				<h4>- Paula Dunne</h4>
			</div>
			<div class="grid_6">
				<img class="image" src="assets/images/entries/photo_paula.jpg" alt="Paula">
			</div>
			<div class="grid_6">
				<h5>Paula Dunne’s All Things Awards Nominee</h5>
				<p class="small">Emmett is more than the words partner and father can describe. Through our five and a half years together he's been my rock. Seven months ago he watched his son born through emergency c-section and within 36 hours, always by my&nbsp;side.</p>
				<a href="#comp-frame" rel="scrollToComp" class="uiBtn redBtn hasIcon">
					<span class="text">Enter the All Things Awards</span><i class="icon icon-chevron-right"></i>
				</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{embed="components/socialtools"}
	{embed="components/header_video" image_url="photo_girl.jpg" youtube_id="EToCdo3bX1M"}
	<div class="section">
		<div class="container_12 padding">
			<div class="grid_10 centered center-text section-top">
				<div class="logo rosette">
					<div class="main"><img src="assets/images/rosette_empty.png" alt="Rosette"></div>
					<div class="text"><img src="assets/images/rosette_text_memorymaker.png" alt="Giant"></div>
				</div>
				<h2 class="nomination-quote">"He is the best daddy in the world to our four kids, and my best&nbsp;friend."</h2>
				<h4>- Claudia Potratz</h4>
			</div>
			<div class="grid_6 right">
				<img class="image" src="assets/images/entries/photo_claudia.jpg" alt="Claudia">
			</div>
			<div class="grid_6">
				<h5>Claudia Potratz’s All Things Awards Nominee</h5>
				<p class="small">I am nominating Seán because he is the best daddy in the world to our four kids, and my best&nbsp;friend.</p>
				<a href="#comp-frame" rel="scrollToComp" class="uiBtn redBtn hasIcon">
					<span class="text">Enter the All Things Awards</span><i class="icon icon-chevron-right"></i>
				</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{embed="components/socialtools"}
{footer_allthings}


