{header_allthings}

	<div class="section section-green">
		<div class="container_12">
			<div class="grid_8 centered center-text padding">
				<div class="logo logo_badge"><img src="assets/images/logo_badge.png" alt="Smiley rosette"></div>
				<h1 class="caps rotate">All things<br>awards&nbsp;2014</h1>
				<p>To the giants, jugglers, soothers and smoothers. To the saints, the shapers and the memory makers. These awards are for the people all over Ireland who are more than they&nbsp;seem.</p>
				<br>
				<h2>It's not too late to nominate!</h2>
				<a href="Javascript: void(0);" id="nominate_now" class="uiBtn darkBtn"><span class="text">Nominate now</span><i class="icon icon-chevron-down"></i></a>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container_12 padding-top">
			<div class="grid_8 centered center-text">
				<h1>Latest Winners</h1>
				<p class="intro">There's a story behind everyone who's special to us. Each of our winners will be given a treat that's special to them.</p>
				<p>Here's some of the winning nominees so far...</p>
				<br><br>
			</div>
			<div id="winners" class="grid_12"></div>
			<div class="clear"></div>
		</div>
		<div class="container_12">
			<div class="padding-bottom">
				<div class="grid_12">
					<div class="show-more show-more-winners">
						<a href="#" class="more more-winners uiBtn greyBtn"><span class="text">Show<span id="winners-page-amount"></span> more</span><i class="icon icon-chevron-down"></i></a>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{embed="components/header_video" image_url="photo_carry.jpg" youtube_id="EToCdo3bX1M"}
	<div class="section">
		<div class="container_12">
			<div class="padding-top">
				<div class="grid_8 centered center-text">
					<h1>Latest Nominations</h1>
					<p class="intro">From the Saints to the Supporters, here are our latest nominations for the All Things To All People Awards.</p>
					<br>
				</div>
				<div class="grid_5 centered">
					{embed="components/search"}
				</div>
				<br>
			</div>
		</div>
		<div id="images">
			<div id="image-popup">
				<div class="padding">
					<div class="content">
						<a href="Javascript:void(0);" class="close"><span class="text">Close</span> <i class="icon icon-remove"></i></a>
						<div class="logo rosette">
							<div class="main"><img src="assets/images/rosettes_w/rosette_empty.png" alt="Rosette"></div>
							<div class="text"><img src="assets/images/rosettes_w/rosette_text_supporter.png" alt="A Supporter"></div>
						</div>
						<div class="nominee">Joe Corbett</div>
						<div class="nominater">Nominated by <span class="name">Cian</span></div>
					</div>
				</div>
			</div>
			<div id="image-list"></div>
			<div class="clear"></div>
		</div>
		<div class="container_12">
			<div class="grid_12">
				<div class="show-more show-more-images">
					<a href="#" class="more more-images uiBtn greyBtn"><span class="text">Show<span id="search-page-amount"></span> more</span><i class="icon icon-chevron-down"></i></a>
				</div>
			</div>
			<div class="clear"></div>				
			<!-- <div class="grid_8 centered center-text">
				<h2 class="heading-footer">Who said you can’t be all things to all&nbsp;people?</h2>
			</div> -->
		</div>
	</div>
	{embed="components/socialtools"}
	{embed="components/header_video" image_url="photo_girl.jpg" youtube_id="EToCdo3bX1M"}
	<div class="section">
		<div class="container_12">
			<div class="padding">
				<div class="grid_8 centered center-text">
					<h2>Make someone's day with just one&nbsp;sentence</h2>
					<p>The people we care about the most are always the ones we forget to tell. So these little awards have been created to let them know how important they are to us. Just enter the name of your nominee, why they deserve their award and some of the best will get a prize&nbsp;(or&nbsp;two).</p>
					<p>Once you've nominated that special person in your life, you can share that nomination with your network of family and friends with your customised All Things award&nbsp;badge.</p>
				</div>
				<br><br>
				<div class="grid_8 centered">
					<div id="comp-frame">
						{embed="components/nomination_form"}
					</div>
				</div>
			</div>
		</div>
	</div>

{footer_allthings}


