<!--
Component details

Name: Header - Carousel
ID: c_hf_003
Version number: 1.0
Location(s): Article template, Car chapter, others TBC
Child components:

URL: http://toyota-stage.amaze.com/html/components/covers/Header_Carousel.html

Description

Apply a carousel of images to a large header component
-->


<header class="header-container carousel">
	<div class="bg-image-hero assetWidthContain">
		<div class="coverBG carousel-bg active" style="background-image: url(http://toyota-stage.amaze.com/inc/images/feature_1.jpg);" data-carousel-assets="http://toyota-stage.amaze.com/inc/images/feature_1.jpg|http://toyota-stage.amaze.com/inc/images/feature_2.jpg|http://toyota-stage.amaze.com/inc/images/feature_3.jpg"></div>
		<div class="hero-inner container_12 container_12_absolute block" data-carousel-link="https://www.google.com/">
			<div class="grid_12">
				<h1 class="heading1">CAROUSEL 1</h1>
				<span class="heading2">Example</span>
			</div>
		</div>
		<div class="hero-inner container_12 container_12_absolute block " data-carousel-link="https://www.google.es/">
			<div class="grid_12">
				<h1 class="heading1">CAROUSEL 2</h1>
				<span class="heading2">Example </span>
			</div>
		</div>
		<div class="hero-inner container_12 container_12_absolute block " data-carousel-link="https://www.google.ie/">
			<div class="grid_12">
				<h1 class="heading1">CAROUSEL 3</h1>
				<span class="heading2">Example</span>
			</div>
		</div>
		<a href="https://www.google.es/" class="carousel-link"></a>
	</div>
</header>
