<!--
    Name: Header - large w/ play button
    ID: c_hf_001a
    URL: http://toyota-stage.amaze.com/html/components/covers/header_large.html
-->
<!-- centered -->
<div class="header-container">
    <div class="bg-image-hero assetWidthContain">
        <div class="coverBG" style="background-image: url(http://toyota-stage.amaze.com/inc/images/feature_1.jpg);"></div>
        <div class="container_12 container_12_absolute">
            <div class="grid_12 center-text">
                <div class="hero-inner SecContentContainer" data-contenttype="ajax" data-name="Description" data-id="DeepLinkName">
                    <h1 class="heading1">large header</h1>
                    <span class="heading2">Lorem ipsum dolor sit amet</span>
                    <a href="/development/youtubeGalleryItem.aspx?id=851mjjIzrYs" id="videoLink" class="playBtn secContentTrigger">
			            <span class="ui-sprite play-icon-large"></span>
			        </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- left -->
<div class="header-container">
    <div class="bg-image-hero assetWidthContain">
        <div class="coverBG" style="background-image: url(http://toyota-stage.amaze.com/inc/images/feature_1.jpg);"></div>
        <div class="container_12 container_12_absolute">
            <div class="grid_12">
                <div class="hero-inner SecContentContainer" data-contenttype="ajax" data-name="Description" data-id="DeepLinkName">
                    <h1 class="heading1">large header</h1>
                    <span class="heading2">Lorem ipsum dolor sit amet</span>
                    <a href="/development/youtubeGalleryItem.aspx?id=851mjjIzrYs" id="videoLink" class="playBtn secContentTrigger">
			            <span class="ui-sprite play-icon-large"></span>
			        </a>
                </div>
            </div>
        </div>
    </div>
</div>