<!--
    Name: Header - Medium centered
    ID: c_hf_001b
    URL: http://toyota-stage.amaze.com/html/components/covers/header_medium.html
-->
<header class="header-container">
	<div class="bg-image-hero bg-image-hero-med">
		<div class="coverBG" style="background-image: url(http://toyota-stage.amaze.com/inc/images/feature_1.jpg);"></div>
		<div class="hero-inner container_12 container_12_absolute center-text">
			<h1 class="heading1">Medium header</h1>
			<span class="heading2">Lorem ipsum dolor sit amet</span>
		</div>
	</div>
</header>

<h3>dealer hero</h3>
<header class="header-container">
	<div class="bg-image-hero bg-image-hero-med dealer_hero ">
		<img class="BG" src="http://development.toyota.ie/images/uploads/headers/test-image-size.jpg">
		<div class="hero-inner container_12 container_12_absolute center-text dark-text" >
			<h1 class="heading1">Medium header</h1>
			<span class="heading2 ">Lorem ipsum dolor sit amet</span>
		</div>
	</div>
</header>

