<!--
    Name: Header - Small
    ID: c_hf_001b
    URL: http://toyota-stage.amaze.com/html/components/covers/header_medium.html
-->
<header class="header-container">
	<div class="container_12 ">
		<div class="grid_12 ">
			<div class="bg-image-hero bg-image-hero-small">
				<div class="hero-lower container_12 center-text">
					<h1 class="heading1">Components Showcase</h1>
					<span class="heading2">Lorem ipsum dolor sit amet</span>
				</div>
			</div>
		</div>
	</div>
</header>