<!--
    Name: Header - Small centered
    ID: c_hf_001b
    URL: http://toyota-stage.amaze.com/html/components/covers/header_medium.html
-->
<header class="header-container">
	<div class="bg-image-hero bg-image-hero-small">
		<div class="coverBG" style="background-image: url(http://toyota-stage.amaze.com/inc/images/feature_1.jpg);"></div>
		<div class="hero-lower container_12 center-text">
			<h1 class="heading1">Small header</h1>
			<span class="heading2">Lorem ipsum dolor sit amet</span>
		</div>
	</div>
</header>