<?php
$setDealer="";    
if(isset($_GET['dealerID']) && $_GET['dealerID']){
    $setDealer="data-id='".$_GET['dealerID']."'";
}
?>
<div class="container_12 content-block" id="searchComponent" <?php echo $setDealer;?>>
    <div class="grid_12">
        <div class=" search_menu " id="car_filter" data-id="*">
            <div class="search-filter clearfix">
                <div class="padding clearfix">
                    <h3 class="heading3 strong">Filter your results</h3>

                    <div class="search-simple">
                        <div class="row">
                            <h4 class="title1">Make</h4>

                            <div class="select">
                                <div class="value"></div>
                                <i class="icon icon-chevron-down"></i>
                                <select name="Make">
                                    <option value="LEXUS">LEXUS</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="title1">Model</h4>

                            <div class="select">
                                <div class="value"></div>
                                <i class="icon icon-chevron-down"></i>
                                <select name="Model">
                                    <option value="Any Model">Any model</option>
                                </select>
                            </div>
                        </div>
                        <div class="row threes-lc">
                            <h4 class="title1">Year</h4>

                            <div class="twos">
                                <div class="select">
                                    <div class="value"></div>
                                    <i class="icon icon-chevron-down"></i>
                                    <select name="Year-from">
                                        <option value="From">From</option>
                                    </select>
                                </div>
                            </div>
                            <div class="twos twos-lc">
                                <div class="select">
                                    <div class="value"></div>
                                    <i class="icon icon-chevron-down"></i>
                                    <select name="Year-to">
                                        <option value="To">To</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ">
                            <h4 class="title1">Price range (in &euro;)</h4>

                            <div class="twos">
                                <div class="select">
                                    <div class="value"></div>
                                    <i class="icon icon-chevron-down"></i>
                                    <select name="Price-min">
                                        <option value="Min">Min</option>
                                    </select>
                                </div>
                            </div>
                            <div class="twos twos-lc">
                                <div class="select">
                                    <div class="value"></div>
                                    <i class="icon icon-chevron-down"></i>
                                    <select name="Price-max">
                                        <option value="Max">Max</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--div class="row threes-lc">
                            <h4 class="title1">County</h4>

                            <div class="select">
                                <div class="value"></div>
                                <i class="icon icon-chevron-down"></i>
                                <select name="Country">
                                    <option value="Any County">Any County</option>
                                    <option value="Carlow">Carlow</option>
                                    <option value="Cavan">Cavan</option>
                                    <option value="Clare">Clare</option>
                                    <option value="Cork">Cork</option>
                                    <option value="Donegal">Donegal</option>
                                    <option value="Dublin">Dublin</option>
                                    <option value="Galway">Galway</option>
                                    <option value="Kerry">Kerry</option>
                                    <option value="Kildare">Kildare</option>
                                    <option value="Kilkenny">Kilkenny</option>
                                    <option value="Laois">Laois</option>
                                    <option value="Leitrim">Leitrim</option>
                                    <option value="Limerick">Limerick</option>
                                    <option value="Longford">Longford</option>
                                    <option value="Louth">Louth</option>
                                    <option value="Mayo">Mayo</option>
                                    <option value="Meath">Meath</option>
                                    <option value="Monaghan">Monaghan</option>
                                    <option value="Offaly">Offaly</option>
                                    <option value="Roscommon">Roscommon</option>
                                    <option value="Sligo">Sligo</option>
                                    <option value="Tipperary">Tipperary</option>
                                    <option value="Waterford">Waterford</option>
                                    <option value="Westmeath">Westmeath</option>
                                    <option value="Wexford">Wexford</option>
                                    <option value="Wicklow">Wicklow</option>

                                </select>
                            </div>
                        </div-->
                        <div class="row threes-lc">
                            <h4 class="title1">Lexus Dealer</h4>

                            <div class="select">
                                <div class="value"></div>
                                <i class="icon icon-chevron-down"></i>
                                <?php
                                $json_dealers = file_get_contents("{insecure_site_url}/api/dealer-list");
                                $dealer_list = json_decode($json_dealers);
                                $ordered = Array();
                                foreach ($dealer_list as $value) {
                                    $ordered[$value->dealerId] = $value->Name;
                                }
                                asort($ordered);
                                ?>
                                <select name="Dealer">
                                    <option value="">All Dealers</option>
                                    <?php   
                                    foreach ($ordered as $key => $val) {
                                        echo "<option value='$key'>$val</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="search-detailed">
                        <div class="row ">
                            <h4 class="title1">Mileage</h4>

                            <div class="twos">
                                <div class="select">
                                    <div class="value"></div>
                                    <i class="icon icon-chevron-down"></i>
                                    <select name="Mileage-min">
                                        <option value="Min">Min</option>
                                    </select>
                                </div>
                            </div>
                            <div class="twos twos-lc">
                                <div class="select">
                                    <div class="value"></div>
                                    <i class="icon icon-chevron-down"></i>
                                    <select name="Mileage-max">
                                        <option value="Max">Max</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <h4 class="title1">Body type</h4>

                            <div class="select">
                                <div class="value"></div>
                                <i class="icon icon-chevron-down"></i>
                                <select name="BodyType">
                                    <option value="All body types">All body types</option>
                                </select>
                            </div>
                        </div>
                        <div class="row threes-lc">
                            <h4 class="title1">Number of doors</h4>

                            <div class="select">
                                <div class="value"></div>
                                <i class="icon icon-chevron-down"></i>
                                <select name="Doors">
                                    <option value="All doors">All doors</option>
                                </select>
                            </div>
                        </div>

                        <div class="clear"></div>
                        <div class="row">
                            <div class="search_checkbox transmission">
                                <h4 class="title1">Transmission</h4>

                                <div class="checkboxes">
                                    <div class="checkbox unique">
                                        <div class="the-checkbox"><i class="icon icon-ok"></i></div>
                                        <input type="checkbox" name="Transmission" id="Automatic" value="Automatic">
                                        <label for="Automatic">Automatic</label>
                                    </div>
                                    <div class="checkbox unique">
                                        <div class="the-checkbox"><i class="icon icon-ok"></i></div>
                                        <input type="checkbox" name="Transmission" id="Manual" value="Manual">
                                        <label for="Manual">Manual</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="search_checkbox fueltype">
                                <h4 class="title1">Fuel type</h4>

                                <div class="checkboxes clearfix">
                                    <div class="checkbox">
                                        <div class="the-checkbox"><i class="icon icon-ok"></i></div>
                                        <input type="checkbox" name="FuelType" id="Petrol" value="Petrol">
                                        <label for="Petrol">Petrol</label>
                                    </div>
                                    <div class="checkbox">
                                        <div class="the-checkbox"><i class="icon icon-ok"></i></div>
                                        <input type="checkbox" name="FuelType" id="Diesel" value="Diesel">
                                        <label for="Diesel">Diesel</label>
                                    </div>
                                    <div class="checkbox">
                                        <div class="the-checkbox"><i class="icon icon-ok"></i></div>
                                        <input type="checkbox" name="FuelType" id="Hybrid" value="Hybrid">
                                        <label for="Hybrid">Hybrid</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--						<div class="row threes-lc">
                                                    <div class="search_checkbox nct">
                                                        <h4 class="title1">NCT</h4>
                                                        <div class="checkboxes clearfix">
                                                            <div class="checkbox unique">
                                                                <div class="the-checkbox"><i class="icon icon-ok"></i></div>
                                                                <input type="checkbox" name="nct" id="nctyes" value="yes">
                                                                <label for="yes">Yes</label>
                                                            </div>
                                                            <div class="checkbox unique">
                                                                <div class="the-checkbox"><i class="icon icon-ok"></i></div>
                                                                <input type="checkbox" name="nct" id="nctno" value="no">
                                                                <label for="no">No</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>-->
                        <div class="row threes-lc">
                            <div class="search_checkbox">
                                <h4 class="title1">Colour</h4>

                                <div class="checkboxes colours clearfix">
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                    <div class="expand">
                        <a class="show-search-detailed" href="" id="more_filters">
                            <i class="icon icon-chevron-down"></i> &nbsp;
                            <span class="text">More options</span>
                        </a>
                    </div>
                    <div class="serach_button">
                        <a href="" class="uiBtn greyBtn hasIcon hasIconRight perform-search">
                            <span class="text">Search Cars</span>
                            <span class="iconBG right">
                                <i class="icon icon-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="clear"></div>
                    <div class="clear-fields">
                        <h4 class="title1">
                            <i class="icon icon-remove"></i> &nbsp;
                            Clear All
                        </h4>
                    </div>

                </div>
            </div>
        </div>
        <div class='full_before_m search_result'>
            <div class="search-info">
                <p>Showing &nbsp;<strong id="numvisible"></strong>&nbsp; of &nbsp;<strong id="numtotal"></strong>&nbsp;
                    results</p>

                <div class="view-buttons hidden_before_m">
                    <a href="" class="show-grid uiBtn greyBtn smBtn rightside hasIcon active">
                        <i class="icon icon-th-large"></i>Gallery view
                    </a><a href="" class="show-list uiBtn greyBtn smBtn leftside hasIcon">
                        <i class="icon icon-list-ul"></i>List view
                    </a>
                </div>
                <div class="sort-options">
                    <div class="select">
                        <div class="value">Sort by</div>
                        <!--						<i class="icon icon-chevron-down"></i>-->
                        <select name="model" id="carSort">
                            <option value="" selected>Sort by</option>
                            <option value="Price">Price</option>
                            <option value="Year">Year</option>
                            <option value="Mileage">Km</option>
                        </select>
                    </div>
                    <a href="#" id="sortDirection" class="sortDirection" data-ascending="0">
                        <i class="icon icon-chevron-up"></i>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <div id="loadcars">
                <div id="loading" style="width:100%;text-align:center;"><br><br>Loading Cars...<br><br>
                    <img src="/assets/images/ajax-loader-grey.gif" alt="loading">
                </div>
                <div class="" id="resultsAsuredUsedCars">
                    <div class="results clearfix list">
                    </div>
                </div>
                <div class="grid_12 padding showMoreGroup" id="showmoreCarsGroup">
                    <div class=" filter-bar no-js-hide">
                        <div class="fb-inner">
                            <ul class="fb-group fb-list">
                                <li><a href="#filter" class=" uiBtn  showMore" id="showMoreCars"><span
                                            class="text">Show More </span>&nbsp; <span id="pendingCars"></span></a>
                                </li>
<!--                                <li class="return_top"><a href="#filter" class=" uiBtn "><span class="text">Back to top</span>&nbsp;-->
<!--                                        <i class="icon icon-chevron-up"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

