<div class="master-wrapper">
    <footer>
        <div class="footer-container">
            <div class="footer">
                <div class="footer_top">
                    <div class="container_12">
                        <div class="grid_12">
                            <div class="footer_logo_lex">
                                <a href="/" title="Home" class="cf-footer__lexus-logo float--right">
                                    <img alt="Lexus" src="/assets/images/Lexus-logo.png">
                                </a>
                            </div>
                            <div class="grid__item one-whole social">
                                <span class="follow">Follow us on</span>
                                <ul class="social-buttons float--left dibfix">
                                    <li class="social-buttons__item">
                                        <a href="https://www.facebook.com/LexusIreland"
                                           class="social-button social-button--facebook " target="_blank">
                                            <span class="social-button__label socicon socicon-facebook"><span>Facebook</span></span>
                                        </a>
                                    </li>
                                    <li class="social-buttons__item">
                                        <a href="https://twitter.com/Lexusireland"
                                           class="social-button social-button--twitter " target="_blank">
                                            <span class="social-button__label socicon socicon-twitter"><span>Twitter</span></span>
                                        </a>
                                    </li>
                                    <li class="social-buttons__item">
                                        <a href="https://www.youtube.com/user/LexusIreland"
                                           class="social-button social-button--youtube " target="_blank">
                                            <span class="social-button__label socicon socicon-youtube"><span>YouTube</span></span>
                                        </a>
                                    </li>
                                    <li class="social-buttons__item">
                                        <a href="http://pinterest.com/lexusireland/pins"
                                           class="social-button social-button--pinterest " target="_blank">
                                            <span class="social-button__label socicon socicon-pinterest"><span>Pinterest</span></span>
                                        </a>
                                    </li>
                                    <li class="social-buttons__item">
                                        <a href="https://www.instagram.com/lexus_ireland/"
                                           class="social-button social-button--instagram " target="_blank">
                                            <span class="social-button__label socicon socicon-instagram"><span>Instagram</span></span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- /.social-buttons -->
                            </div>

                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="footer_bottom">
                    <div class="container_12">
                        <div class="grid_12">
                            <div class="grid__item one-whole">
                                <span
                                    class="copyright">© <?php echo date("Y"); ?> Lexus Ireland, Killeen Road, Dublin 12, Phone: 01 4190375</span>
                                <ul class="footer-site-links">
                                    <li>
                                        <a href="http://www.lexus.ie/legal.html" class="cboxElement" itemprop="url" target="_blank">Legal</a>
                                    </li>
                                    <li>
                                        <a href="http://www.lexus.ie//site-cookies" class="cboxElement" itemprop="url" target="_blank">Cookies Policy</a>
                                    </li>
                                    <li>
                                        <a href="http://www.lexus-int.com/" class="cboxElement" target="_blank"
                                           itemprop="url">Lexus International</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</div>


<script src="/assets/js/libs.js"></script>
<script src="/assets/js/main.js"></script>
<!--[if lt IE 9]>
<script src="/assets/js/ie8.js"></script> <![endif]-->
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>