.heading1, h1 { text-transform: uppercase; margin-bottom: 0.5em; }

h3 { font-size: 40px; font-family: 'toyotadisplay_bd'; line-height: 1.2em; margin-bottom: 1.2em; }
h3.hashtag { margin-top: 1.5em; margin-bottom: 0; }
h4 { font-size: 30px; margin-bottom: 0.25em; }

p { font-size: 24px; margin-bottom: 1.2em; line-height: 1.33em; }

.centered { margin: 0 auto; float: none !important; }
.top-gap { padding:3em 0;  }
.top-gap-large { padding:10em 0 3em;  }

.bg-par .bg-par-inner { padding: 80px 0 0 0; }

.quote { background: transparent url(../images/icon_quote.png) no-repeat center 4.5em; }

.quote.grey { background-color: #1E2A32; }
.quote.blue { background-color: #00A0F0; }
.quote.white { background-image: url(../images/icon_quote_dark.png); }

.quote.grey h3,.quote.grey h4,
.quote.blue h3,.quote.blue h4 { color: #fff; }

.youtube { position: relative; cursor: pointer; }
.youtube:hover .play-icon-large { background-position: 0 0; }
.youtube img { width: 100%; }
.youtube .play-icon-large { position: absolute; top: 50%; left: 50%; margin-left: -43px; margin-top: -29px; }

.navigation-link { margin-bottom: 1em; }
.navigation-link img { width: 100%; }
.navigation-link a:hover .padding {  background-color: rgba(255,255,255,0.15); }
.navigation-link a .padding { transition: all 0.66s ease; padding: 1em; background-color: rgba(255,255,255,0.1); }
.navigation-link .padding .image { margin-bottom: 1em; }
.navigation-link .padding .link { color: #fff; font-size: 25px; display: block; }

.primary-nav-outer .large-nav .search-container { display: none; }
.menu-open .primary-nav-outer .breadcrumb { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1; }


@media only screen and (min-width: 0em){
	h3 { font-size: 28px; }
	h4 { font-size: 23px; }

	.outer-wrapper { padding-top: 34px;	}
	.top-gap { padding:1em 0;  }
	.top-gap-large { padding:7em 0 1.5em;  }

	.quote { background: transparent url(../images/icon_quote.png) no-repeat center 2.5em; }

	.navigation-link .padding .image { display: none; }
	.navigation-link { margin-bottom: 2px; }
}

@media only screen and (min-width: 48em){
	.navigation-link .padding .image { display: block; }
	.navigation-link { margin-bottom: 1em; }
}

@media only screen and (min-width: 62em){
	h3 { font-size: 40px; }
	h4 { font-size: 30px; }

	.outer-wrapper { padding-top: 41px;	}
	.top-gap { padding:3em 0;  }
	.top-gap-large { padding:10em 0 3em;  }

	.quote { background: transparent url(../images/icon_quote.png) no-repeat center 4.5em; }

	
}



@media only screen and (max-width: 47.9375em) {
	.bg-par .bg-par-inner .heading2 { margin-bottom: 2em; }
	.bg-par .bg-par-inner .icon, .bg-par .bg-par-inner i, .bg-par .bg-par-inner .play-icon-large { margin: 0 auto; display: block; }

	
	.heading2, h2, p { font-size: 18px; }

	
	
}

