<div class="fc-group-container-wrapper">
	<div class="fc-group-container padding clearfix viewmore">
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/this-is-another-news-article">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/image1.jpg" alt="This is another News article">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn event">

								Dealer
								&nbsp;event
							</span>
							<span class="text">This is another News article</span>
						</h3>
						<p class="summary">
							This is another news article				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/this-is-a-nice-lovely-news-article">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/Gareth_Keenan.jpg" alt="This is a nice lovely news article">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">This is a nice lovely news article</span>
						</h3>
						<p class="summary">
							This is where your summary text will go, a short intro about the story so people can see what they&#039;re about to read. ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/hughs-news">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/96ynmc.jpg" alt="Hugh&#8217;s News">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">Hugh&#8217;s News</span>
						</h3>
						<p class="summary">
							Hugh Kirwan was born in Ranelagh, Dublin. 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/marlons-news">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/Gareth_Keenan.jpg" alt="Marlon&#8217;s News">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">Marlon&#8217;s News</span>
						</h3>
						<p class="summary">
							Marlon Jerez is from Valencia in Spain. 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/art-my-news-article">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/image1-sara.jpg" alt="my news article">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">my news article</span>
						</h3>
						<p class="summary">
							Test				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/art-test-image-size">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/test-image-size.jpg" alt="Test Image size">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">Test Image size</span>
						</h3>
						<p class="summary">
							test-image size				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/art-lorem-ipsum-dolor-asimet">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/toyota_Corolla.jpg" alt="lorem ipsum dolor asimet">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn event">

								Dealer
								&nbsp;event
							</span>
							<span class="text">lorem ipsum dolor asimet</span>
						</h3>
						<p class="summary">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry, Lorem Ipsum is simply dummy text of the printing ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Honours-Cummins-Car-Centre-Ennis-with-European-Customer-Satisfaction-Award.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Cummins%20Car%20Centre%20Ennis%20%20555%20x%20249_tcm-3044-232145.jpg" alt="Toyota Honours Cummins Car Centre Ennis with European Customer Satisfaction Award">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Honours Cummins Car Centre Ennis with European Customer Satisfaction Award</span>
						</h3>
						<p class="summary">
							An Irish retailer was awarded with the top honour at Toyota’s ‘Ichiban’ European Customer Satisfaction Award during ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-is-Irelands-Most-Popular-Car-Brand.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Toyota%20is%20Ireland%E2%80%99s%20Most%20Popular%20Car_tcm-3044-232166.jpg" alt="Toyota is Ireland’s Most Popular Car Brand">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota is Ireland’s Most Popular Car Brand</span>
						</h3>
						<p class="summary">
							New Independent Study Reveals Toyota has highest number of vehicles in Irish Car Parc.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Reveals-the-exterior-design-of-its-fuel-cell-saloon.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/fuel-cell-555%20x%20249_tcm-3044-232150.jpg" alt=" Toyota Reveals the exterior design of its fuel cell saloon">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text"> Toyota Reveals the exterior design of its fuel cell saloon</span>
						</h3>
						<p class="summary">
							Toyota Motor Corporation revealed the exterior design and Japan pricing of its hydrogen Fuel Cell Saloon.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-launches-new-Auris-Sol-grade-for-just-22100.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Toyota%20is%20Ireland%E2%80%99s%20Most%20Popular%20Car_tcm-3044-232147.jpg" alt="Toyota launches new Auris Sol grade for just €22,100 ">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota launches new Auris Sol grade for just €22,100 </span>
						</h3>
						<p class="summary">
							Toyota Ireland today announced the exciting new Sol grade for Auris and Auris Touring Sports.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/GoFunYourself-Toyota-launches-all-new-colourful-customisable-and-connected-AYGO.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/%23GoFunYourself_tcm-3044-232163.jpg" alt="#GoFunYourself: Toyota launches all-new colourful, customisable and connected AYGO">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">#GoFunYourself: Toyota launches all-new colourful, customisable and connected AYGO</span>
						</h3>
						<p class="summary">
							Toyota Ireland is excited to announce the launch of the much anticipated second generation AYGO 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Avensis-comes-out-on-top-in-JD-Power-2014-Germany-Vehicle-Ownership-Satisfaction-Study-in-the-midsize-segment.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Avensis-%20555%20x%20249_tcm-3044-230969.jpg" alt="Toyota Avensis tops J.D. Power 2014 Germany Vehicle Ownership Satisfaction Study ">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Avensis tops J.D. Power 2014 Germany Vehicle Ownership Satisfaction Study </span>
						</h3>
						<p class="summary">
							Toyota Avensis achieves the highest score in the midsize segment and also achieves the highest overall score among all models ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Announces-Partnership-with-Rugby-Star-Jonathan-Sexton.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Jonathan-Sexton-555x249_tcm-3044-230892.jpg" alt="Toyota Announces Partnership with Rugby Star Jonathan Sexton">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Announces Partnership with Rugby Star Jonathan Sexton</span>
						</h3>
						<p class="summary">
							We are delighted to announce that Jonathan Sexton is among our portfolio of brand ambassadors. 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Announces-Three-Year-Partnership-with-Dublin-GAA.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Dublin-GAA-555%20x%20249_tcm-3044-230967.jpg" alt="Toyota Announces Three Year Partnership with Dublin GAA">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Announces Three Year Partnership with Dublin GAA</span>
						</h3>
						<p class="summary">
							Toyota Ireland is delighted to announce it has joined forces with Dublin GAA and signed a three-year deal.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-is-No1-Car-Brand-for-Irish-Mums.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Car%20Brand%20for%20Irish%20Mums%20(555%20x%20249)_tcm-3044-230961.jpg" alt="Toyota is No. 1 Car Brand for Irish Mums">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota is No. 1 Car Brand for Irish Mums</span>
						</h3>
						<p class="summary">
							Toyota has emerged as being the number one car brand that most Irish mums would choose.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Worldwide-Sales-of-Toyota-Hybrids-Top-6-Million-Units.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Sales%20of%20Toyota%20Hybrids%20555%20x%20249_tcm-3044-232155.jpg" alt="Worldwide Sales of Toyota Hybrids Top 6 Million Units">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Worldwide Sales of Toyota Hybrids Top 6 Million Units</span>
						</h3>
						<p class="summary">
							Toyota Motor Corporation announces that cumulative global sales of its hybrid vehicles topped the 6 million unit mark as ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-TUV-reliability-report.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/tuv-555x249_tcm-3044-230897.jpg" alt="15 Toyota cars take top 10 positions in latest German TÜV reliability report">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">15 Toyota cars take top 10 positions in latest German TÜV reliability report</span>
						</h3>
						<p class="summary">
							Toyota is the most successful brand in the 2014 TÜV Report for the fourth consecutive year.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/taoiseach-visits-toyota-plant.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/taoiseach-visits-toyota-plant%20(555%20x%20249)_tcm-3044-230960.jpg" alt="Taoiseach visits Toyota plant in Japan to learn from Toyota Production System and Lean Production processe">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Taoiseach visits Toyota plant in Japan to learn from Toyota Production System and Lean Production processe</span>
						</h3>
						<p class="summary">
							The Taoiseach traveled with a delegation of business leaders to Toyota’s Motomachi plant in Japan to meet Senior Executives ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/toyota-fixed-price-service-promise.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/fixed-price-service-promise%20555%20x%20249_tcm-3044-232153.jpg" alt="Quality Service. Real Value.">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Quality Service. Real Value.</span>
						</h3>
						<p class="summary">
							Fixed-Price Service Promise Offering From Only €125				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/toyota-best-resale-value.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/no1-resale-in-ireland_tcm-3044-232169.jpg" alt="New Independent Study Reveals Toyota Cars Retain Their Value Longer Than Any Other Brands in 2013">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">New Independent Study Reveals Toyota Cars Retain Their Value Longer Than Any Other Brands in 2013</span>
						</h3>
						<p class="summary">
							Toyota cars are number one in Ireland for retaining their value for longer than other car brands in 2013.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-announces-support-of-Disabled-Drivers-Association-of-Ireland.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Disabled-drivers-association-%20(555%20x%20249)_tcm-3044-230963.jpg" alt="Toyota announces support of Disabled Drivers Association of Ireland">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota announces support of Disabled Drivers Association of Ireland</span>
						</h3>
						<p class="summary">
							Toyota has supplied the Disabled Drivers Association with a new Toyota Yaris Multi Drive courtesy vehicle.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Avensis-Luna-and-Sol-Enjoy-Specification-Upgrades-and-Price-reductions-of-up-to-2415.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Avensis-%20555%20x%20249_tcm-3044-230969.jpg" alt="Toyota Avensis Luna & Sol Enjoy Specification Upgrades & Price reductions of up to €2,415">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Avensis Luna & Sol Enjoy Specification Upgrades & Price reductions of up to €2,415</span>
						</h3>
						<p class="summary">
							The hugely popular Avensis Luna grade has been upgraded and is available now for the new lower price of €28,995.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/this-is-another-news-article">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/image1.jpg" alt="This is another News article">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn event">

								Dealer
								&nbsp;event
							</span>
							<span class="text">This is another News article</span>
						</h3>
						<p class="summary">
							This is another news article				</p>
					</a>
				</article>
			</div>
		</div>

		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/hughs-news">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/96ynmc.jpg" alt="Hugh&#8217;s News">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">Hugh&#8217;s News</span>
						</h3>
						<p class="summary">
							Hugh Kirwan was born in Ranelagh, Dublin. 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/marlons-news">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/Gareth_Keenan.jpg" alt="Marlon&#8217;s News">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">Marlon&#8217;s News</span>
						</h3>
						<p class="summary">
							Marlon Jerez is from Valencia in Spain. 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/art-my-news-article">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/image1-sara.jpg" alt="my news article">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">my news article</span>
						</h3>
						<p class="summary">
							Test				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/art-test-image-size">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/test-image-size.jpg" alt="Test Image size">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">Test Image size</span>
						</h3>
						<p class="summary">
							test-image size				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Honours-Cummins-Car-Centre-Ennis-with-European-Customer-Satisfaction-Award.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Cummins%20Car%20Centre%20Ennis%20%20555%20x%20249_tcm-3044-232145.jpg" alt="Toyota Honours Cummins Car Centre Ennis with European Customer Satisfaction Award">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Honours Cummins Car Centre Ennis with European Customer Satisfaction Award</span>
						</h3>
						<p class="summary">
							An Irish retailer was awarded with the top honour at Toyota’s ‘Ichiban’ European Customer Satisfaction Award during ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-is-Irelands-Most-Popular-Car-Brand.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Toyota%20is%20Ireland%E2%80%99s%20Most%20Popular%20Car_tcm-3044-232166.jpg" alt="Toyota is Ireland’s Most Popular Car Brand">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota is Ireland’s Most Popular Car Brand</span>
						</h3>
						<p class="summary">
							New Independent Study Reveals Toyota has highest number of vehicles in Irish Car Parc.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Reveals-the-exterior-design-of-its-fuel-cell-saloon.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/fuel-cell-555%20x%20249_tcm-3044-232150.jpg" alt=" Toyota Reveals the exterior design of its fuel cell saloon">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text"> Toyota Reveals the exterior design of its fuel cell saloon</span>
						</h3>
						<p class="summary">
							Toyota Motor Corporation revealed the exterior design and Japan pricing of its hydrogen Fuel Cell Saloon.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-launches-new-Auris-Sol-grade-for-just-22100.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Toyota%20is%20Ireland%E2%80%99s%20Most%20Popular%20Car_tcm-3044-232147.jpg" alt="Toyota launches new Auris Sol grade for just €22,100 ">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota launches new Auris Sol grade for just €22,100 </span>
						</h3>
						<p class="summary">
							Toyota Ireland today announced the exciting new Sol grade for Auris and Auris Touring Sports.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/GoFunYourself-Toyota-launches-all-new-colourful-customisable-and-connected-AYGO.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/%23GoFunYourself_tcm-3044-232163.jpg" alt="#GoFunYourself: Toyota launches all-new colourful, customisable and connected AYGO">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">#GoFunYourself: Toyota launches all-new colourful, customisable and connected AYGO</span>
						</h3>
						<p class="summary">
							Toyota Ireland is excited to announce the launch of the much anticipated second generation AYGO 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Avensis-comes-out-on-top-in-JD-Power-2014-Germany-Vehicle-Ownership-Satisfaction-Study-in-the-midsize-segment.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Avensis-%20555%20x%20249_tcm-3044-230969.jpg" alt="Toyota Avensis tops J.D. Power 2014 Germany Vehicle Ownership Satisfaction Study ">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Avensis tops J.D. Power 2014 Germany Vehicle Ownership Satisfaction Study </span>
						</h3>
						<p class="summary">
							Toyota Avensis achieves the highest score in the midsize segment and also achieves the highest overall score among all models ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Announces-Partnership-with-Rugby-Star-Jonathan-Sexton.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Jonathan-Sexton-555x249_tcm-3044-230892.jpg" alt="Toyota Announces Partnership with Rugby Star Jonathan Sexton">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Announces Partnership with Rugby Star Jonathan Sexton</span>
						</h3>
						<p class="summary">
							We are delighted to announce that Jonathan Sexton is among our portfolio of brand ambassadors. 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Announces-Three-Year-Partnership-with-Dublin-GAA.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Dublin-GAA-555%20x%20249_tcm-3044-230967.jpg" alt="Toyota Announces Three Year Partnership with Dublin GAA">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Announces Three Year Partnership with Dublin GAA</span>
						</h3>
						<p class="summary">
							Toyota Ireland is delighted to announce it has joined forces with Dublin GAA and signed a three-year deal.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-is-No1-Car-Brand-for-Irish-Mums.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Car%20Brand%20for%20Irish%20Mums%20(555%20x%20249)_tcm-3044-230961.jpg" alt="Toyota is No. 1 Car Brand for Irish Mums">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota is No. 1 Car Brand for Irish Mums</span>
						</h3>
						<p class="summary">
							Toyota has emerged as being the number one car brand that most Irish mums would choose.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Worldwide-Sales-of-Toyota-Hybrids-Top-6-Million-Units.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Sales%20of%20Toyota%20Hybrids%20555%20x%20249_tcm-3044-232155.jpg" alt="Worldwide Sales of Toyota Hybrids Top 6 Million Units">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Worldwide Sales of Toyota Hybrids Top 6 Million Units</span>
						</h3>
						<p class="summary">
							Toyota Motor Corporation announces that cumulative global sales of its hybrid vehicles topped the 6 million unit mark as ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-TUV-reliability-report.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/tuv-555x249_tcm-3044-230897.jpg" alt="15 Toyota cars take top 10 positions in latest German TÜV reliability report">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">15 Toyota cars take top 10 positions in latest German TÜV reliability report</span>
						</h3>
						<p class="summary">
							Toyota is the most successful brand in the 2014 TÜV Report for the fourth consecutive year.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/taoiseach-visits-toyota-plant.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/taoiseach-visits-toyota-plant%20(555%20x%20249)_tcm-3044-230960.jpg" alt="Taoiseach visits Toyota plant in Japan to learn from Toyota Production System and Lean Production processe">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Taoiseach visits Toyota plant in Japan to learn from Toyota Production System and Lean Production processe</span>
						</h3>
						<p class="summary">
							The Taoiseach traveled with a delegation of business leaders to Toyota’s Motomachi plant in Japan to meet Senior Executives ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/toyota-fixed-price-service-promise.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/fixed-price-service-promise%20555%20x%20249_tcm-3044-232153.jpg" alt="Quality Service. Real Value.">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Quality Service. Real Value.</span>
						</h3>
						<p class="summary">
							Fixed-Price Service Promise Offering From Only €125				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/toyota-best-resale-value.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/no1-resale-in-ireland_tcm-3044-232169.jpg" alt="New Independent Study Reveals Toyota Cars Retain Their Value Longer Than Any Other Brands in 2013">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">New Independent Study Reveals Toyota Cars Retain Their Value Longer Than Any Other Brands in 2013</span>
						</h3>
						<p class="summary">
							Toyota cars are number one in Ireland for retaining their value for longer than other car brands in 2013.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-announces-support-of-Disabled-Drivers-Association-of-Ireland.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Disabled-drivers-association-%20(555%20x%20249)_tcm-3044-230963.jpg" alt="Toyota announces support of Disabled Drivers Association of Ireland">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota announces support of Disabled Drivers Association of Ireland</span>
						</h3>
						<p class="summary">
							Toyota has supplied the Disabled Drivers Association with a new Toyota Yaris Multi Drive courtesy vehicle.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Avensis-Luna-and-Sol-Enjoy-Specification-Upgrades-and-Price-reductions-of-up-to-2415.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Avensis-%20555%20x%20249_tcm-3044-230969.jpg" alt="Toyota Avensis Luna & Sol Enjoy Specification Upgrades & Price reductions of up to €2,415">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Avensis Luna & Sol Enjoy Specification Upgrades & Price reductions of up to €2,415</span>
						</h3>
						<p class="summary">
							The hugely popular Avensis Luna grade has been upgraded and is available now for the new lower price of €28,995.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/this-is-another-news-article">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/image1.jpg" alt="This is another News article">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn event">

								Dealer
								&nbsp;event
							</span>
							<span class="text">This is another News article</span>
						</h3>
						<p class="summary">
							This is another news article				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/this-is-a-nice-lovely-news-article">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/Gareth_Keenan.jpg" alt="This is a nice lovely news article">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">This is a nice lovely news article</span>
						</h3>
						<p class="summary">
							This is where your summary text will go, a short intro about the story so people can see what they&#039;re about to read. ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/hughs-news">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/96ynmc.jpg" alt="Hugh&#8217;s News">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">Hugh&#8217;s News</span>
						</h3>
						<p class="summary">
							Hugh Kirwan was born in Ranelagh, Dublin. 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/marlons-news">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/Gareth_Keenan.jpg" alt="Marlon&#8217;s News">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">Marlon&#8217;s News</span>
						</h3>
						<p class="summary">
							Marlon Jerez is from Valencia in Spain. 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/art-my-news-article">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/image1-sara.jpg" alt="my news article">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">my news article</span>
						</h3>
						<p class="summary">
							Test				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/art-test-image-size">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/test-image-size.jpg" alt="Test Image size">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">

								Dealer
								&nbsp;news
							</span>
							<span class="text">Test Image size</span>
						</h3>
						<p class="summary">
							test-image size				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group local-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/local-article/art-lorem-ipsum-dolor-asimet">
						<span class="imgContainer">
							<img class="img100" src="http://development.toyota.ie/images/uploads/headers/_preview/toyota_Corolla.jpg" alt="lorem ipsum dolor asimet">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn event">

								Dealer
								&nbsp;event
							</span>
							<span class="text">lorem ipsum dolor asimet</span>
						</h3>
						<p class="summary">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry, Lorem Ipsum is simply dummy text of the printing ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Honours-Cummins-Car-Centre-Ennis-with-European-Customer-Satisfaction-Award.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Cummins%20Car%20Centre%20Ennis%20%20555%20x%20249_tcm-3044-232145.jpg" alt="Toyota Honours Cummins Car Centre Ennis with European Customer Satisfaction Award">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Honours Cummins Car Centre Ennis with European Customer Satisfaction Award</span>
						</h3>
						<p class="summary">
							An Irish retailer was awarded with the top honour at Toyota’s ‘Ichiban’ European Customer Satisfaction Award during ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-is-Irelands-Most-Popular-Car-Brand.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Toyota%20is%20Ireland%E2%80%99s%20Most%20Popular%20Car_tcm-3044-232166.jpg" alt="Toyota is Ireland’s Most Popular Car Brand">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota is Ireland’s Most Popular Car Brand</span>
						</h3>
						<p class="summary">
							New Independent Study Reveals Toyota has highest number of vehicles in Irish Car Parc.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Reveals-the-exterior-design-of-its-fuel-cell-saloon.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/fuel-cell-555%20x%20249_tcm-3044-232150.jpg" alt=" Toyota Reveals the exterior design of its fuel cell saloon">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text"> Toyota Reveals the exterior design of its fuel cell saloon</span>
						</h3>
						<p class="summary">
							Toyota Motor Corporation revealed the exterior design and Japan pricing of its hydrogen Fuel Cell Saloon.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-launches-new-Auris-Sol-grade-for-just-22100.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Toyota%20is%20Ireland%E2%80%99s%20Most%20Popular%20Car_tcm-3044-232147.jpg" alt="Toyota launches new Auris Sol grade for just €22,100 ">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota launches new Auris Sol grade for just €22,100 </span>
						</h3>
						<p class="summary">
							Toyota Ireland today announced the exciting new Sol grade for Auris and Auris Touring Sports.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/GoFunYourself-Toyota-launches-all-new-colourful-customisable-and-connected-AYGO.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/%23GoFunYourself_tcm-3044-232163.jpg" alt="#GoFunYourself: Toyota launches all-new colourful, customisable and connected AYGO">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">#GoFunYourself: Toyota launches all-new colourful, customisable and connected AYGO</span>
						</h3>
						<p class="summary">
							Toyota Ireland is excited to announce the launch of the much anticipated second generation AYGO 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Avensis-comes-out-on-top-in-JD-Power-2014-Germany-Vehicle-Ownership-Satisfaction-Study-in-the-midsize-segment.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Avensis-%20555%20x%20249_tcm-3044-230969.jpg" alt="Toyota Avensis tops J.D. Power 2014 Germany Vehicle Ownership Satisfaction Study ">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Avensis tops J.D. Power 2014 Germany Vehicle Ownership Satisfaction Study </span>
						</h3>
						<p class="summary">
							Toyota Avensis achieves the highest score in the midsize segment and also achieves the highest overall score among all models ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Announces-Partnership-with-Rugby-Star-Jonathan-Sexton.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Jonathan-Sexton-555x249_tcm-3044-230892.jpg" alt="Toyota Announces Partnership with Rugby Star Jonathan Sexton">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Announces Partnership with Rugby Star Jonathan Sexton</span>
						</h3>
						<p class="summary">
							We are delighted to announce that Jonathan Sexton is among our portfolio of brand ambassadors. 				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Announces-Three-Year-Partnership-with-Dublin-GAA.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Dublin-GAA-555%20x%20249_tcm-3044-230967.jpg" alt="Toyota Announces Three Year Partnership with Dublin GAA">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Announces Three Year Partnership with Dublin GAA</span>
						</h3>
						<p class="summary">
							Toyota Ireland is delighted to announce it has joined forces with Dublin GAA and signed a three-year deal.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-is-No1-Car-Brand-for-Irish-Mums.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Car%20Brand%20for%20Irish%20Mums%20(555%20x%20249)_tcm-3044-230961.jpg" alt="Toyota is No. 1 Car Brand for Irish Mums">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota is No. 1 Car Brand for Irish Mums</span>
						</h3>
						<p class="summary">
							Toyota has emerged as being the number one car brand that most Irish mums would choose.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Worldwide-Sales-of-Toyota-Hybrids-Top-6-Million-Units.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Sales%20of%20Toyota%20Hybrids%20555%20x%20249_tcm-3044-232155.jpg" alt="Worldwide Sales of Toyota Hybrids Top 6 Million Units">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Worldwide Sales of Toyota Hybrids Top 6 Million Units</span>
						</h3>
						<p class="summary">
							Toyota Motor Corporation announces that cumulative global sales of its hybrid vehicles topped the 6 million unit mark as ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-TUV-reliability-report.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/tuv-555x249_tcm-3044-230897.jpg" alt="15 Toyota cars take top 10 positions in latest German TÜV reliability report">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">15 Toyota cars take top 10 positions in latest German TÜV reliability report</span>
						</h3>
						<p class="summary">
							Toyota is the most successful brand in the 2014 TÜV Report for the fourth consecutive year.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/taoiseach-visits-toyota-plant.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/taoiseach-visits-toyota-plant%20(555%20x%20249)_tcm-3044-230960.jpg" alt="Taoiseach visits Toyota plant in Japan to learn from Toyota Production System and Lean Production processe">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Taoiseach visits Toyota plant in Japan to learn from Toyota Production System and Lean Production processe</span>
						</h3>
						<p class="summary">
							The Taoiseach traveled with a delegation of business leaders to Toyota’s Motomachi plant in Japan to meet Senior Executives ...				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/toyota-fixed-price-service-promise.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/fixed-price-service-promise%20555%20x%20249_tcm-3044-232153.jpg" alt="Quality Service. Real Value.">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Quality Service. Real Value.</span>
						</h3>
						<p class="summary">
							Fixed-Price Service Promise Offering From Only €125				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/toyota-best-resale-value.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/no1-resale-in-ireland_tcm-3044-232169.jpg" alt="New Independent Study Reveals Toyota Cars Retain Their Value Longer Than Any Other Brands in 2013">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">New Independent Study Reveals Toyota Cars Retain Their Value Longer Than Any Other Brands in 2013</span>
						</h3>
						<p class="summary">
							Toyota cars are number one in Ireland for retaining their value for longer than other car brands in 2013.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-announces-support-of-Disabled-Drivers-Association-of-Ireland.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Disabled-drivers-association-%20(555%20x%20249)_tcm-3044-230963.jpg" alt="Toyota announces support of Disabled Drivers Association of Ireland">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota announces support of Disabled Drivers Association of Ireland</span>
						</h3>
						<p class="summary">
							Toyota has supplied the Disabled Drivers Association with a new Toyota Yaris Multi Drive courtesy vehicle.				</p>
					</a>
				</article>
			</div>
		</div>
		<div class="grid_3 fc-group toyota-group">
			<div class="fc-content clearfix">
				<article class="item offer-spotlight news">
					<a href="/pages/news/toyota-article/world-of-toyota/articles-news-events/2014/Toyota-Avensis-Luna-and-Sol-Enjoy-Specification-Upgrades-and-Price-reductions-of-up-to-2415.json">
						<span class="imgContainer">
							<img class="img100" src="https://s3-eu-west-1.amazonaws.com/tme-toyotaone-prev/toyotaone/ieen/Avensis-%20555%20x%20249_tcm-3044-230969.jpg" alt="Toyota Avensis Luna & Sol Enjoy Specification Upgrades & Price reductions of up to €2,415">
						</span>
						<h3 class="header1">
							<span class="uiBtn redBtn smBtn news">
								Toyota

								&nbsp;news
							</span>
							<span class="text">Toyota Avensis Luna & Sol Enjoy Specification Upgrades & Price reductions of up to €2,415</span>
						</h3>
						<p class="summary">
							The hugely popular Avensis Luna grade has been upgraded and is available now for the new lower price of €28,995.				</p>
					</a>
				</article>
			</div>
		</div>
	</div>
</div>
