<!-- ----------- article-v2 component ----------- -->
<div class="container_12  body-content article_v2">
    <div class="maincontent">
        <article class="container">
            {{#each items}}
                <div class="padding clearfix">
                    {{#if title}}
                    <div>
                        <h2 class="heading1 strong">{{{title}}}</h2>
                    </div>
                    <div class="clearfix"></div>
                    {{/if}}
                    {{#if leftColumn}}
                    <div class="{{{class}}}">
                        {{#each leftColumn}}
                            <section class="remote-news-section">
                                {{#if title}}
                                    <h2 class="heading3 padding centered">{{{title}}}</h2>
                                {{/if}}
                                {{#if content}}
                                    {{#if list}}
                                        {{{content}}}
                                    {{else}}
                                        <p>{{{content}}}{{{description}}}</p>
                                    {{/if}}
                                {{/if}}
                                {{#if description}}
                                    {{#if list}}
                                        {{{description}}}
                                    {{else}}
                                        <p>{{{description}}}</p>
                                    {{/if}}
                                {{/if}}
                                {{#if binary}}
                                    <img src="https://t1-cms-2.images.toyota-europe.com/toyotaone{{binary.url}}" alt="">
                                {{/if}}
                                {{#each items}}
                                    {{#if title}}
                                        <h2 class="heading3 padding centered">{{{title}}}</h2>
                                    {{/if}}
                                    {{#if content}}
                                        {{#if list}}
                                            {{{content}}}
                                        {{else}}
                                            <p>{{{content}}}</p>
                                        {{/if}}
                                    {{/if}}
                                    {{#if description}}
                                        {{#if list}}
                                            {{{description}}}
                                        {{else}}
                                            <p>{{{description}}}</p>
                                        {{/if}}
                                    {{/if}}
                                    {{#if binary}}
                                        <img src="https://t1-cms-2.images.toyota-europe.com/toyotaone{{binary.url}}" alt="">
                                    {{/if}}
                                {{/each}}
                            </section>
                           
                        {{/each}}
                    </div>
                    {{/if}}
                    {{#if rightColumn}}
                    <div class="{{{class}}}">
                        {{#each rightColumn}}
                            <section class="grid_12 remote-news-section">
                                {{#if title}}
                                    <h2 class="heading3 padding centered">{{{title}}}</h2>
                                {{/if}}
                                {{#if content}}
                                    {{#if list}}
                                        {{{content}}}
                                    {{else}}
                                        <p>{{{content}}}{{{description}}}</p>
                                    {{/if}}
                                {{/if}}
                                {{#if description}}
                                    {{#if list}}
                                        {{{description}}}
                                    {{else}}
                                        <p>{{{description}}}</p>
                                    {{/if}}
                                {{/if}}
                                {{#if binary}}
                                    <img src="https://t1-cms-2.images.toyota-europe.com/toyotaone{{binary.url}}" alt="">
                                {{/if}}
                                {{#each items}}
                                    {{#if title}}
                                        <h2 class="heading3 padding centered">{{{title}}}</h2>
                                    {{/if}}
                                    {{#if content}}
                                        {{#if list}}
                                            {{{content}}}
                                        {{else}}
                                            <p>{{{content}}}</p>
                                        {{/if}}
                                    {{/if}}
                                    {{#if description}}
                                        {{#if list}}
                                            {{{description}}}
                                        {{else}}
                                            <p>{{{description}}}</p>
                                        {{/if}}
                                    {{/if}}
                                    {{#if binary}}
                                        <img src="https://t1-cms-2.images.toyota-europe.com/toyotaone{{binary.url}}" alt="">
                                    {{/if}}
                                {{/each}}
                            </section>
                        {{/each}}
                    </div>
                    {{/if}}
                    <div class="clearfix"></div>
                </div>
            {{/each}}
        </article>
    </div>
</div>
<!-- ----------- /END article-v2 component ----------- -->