{{#each items}}
<div class="greyBg toyota_cta">
	{{#if multimedia.binary.url}}
	<div class="cta_bg" style="">
   		<div class="cta_bg_in">
			<img src="https://t1-cms-4.images.toyota-europe.com/toyotaone{{multimedia.binary.url}}" alt="cta background image"/>
        </div>
	</div>
	{{/if}}
	<div class="buttonsBar container_12">
			{{#each ctas}}
			<?php
                $compName = strtolower("{{{componentName}}}");
                $target = "{{{target}}}";

                $action = 'external-link';


                $isCarPage = (strrpos($target , "/models/") == 0);
                $isBrochure = (strrpos($target , "assuredusedcars.toyota.ie/forms?form=brochure") > 0);

                $action = ($isCarPage)?"car-page":$action;
                $action = ($isBrochure)?"download-brochure":$action;

                switch ($action){
                    default:
                    case 'external-link':
                    ?>
                    <a href="{{target}}" class="uiBtn  redBtn  hasIcon smBtn" target="{{targetType}}">{{title}}<i class="icon icon-chevron-right"></i></a>
                    <?php
                        break;
                    case 'download-brochure':
                        ?>
                        <span class="SecContentContainer" data-contenttype="ajax" data-name="New Car" data-id="brochure">
							<a class="secContentTrigger uiBtn  redBtn  hasIcon smBtn" href="/ajax/forms" id="btbar_pane-brochure">
								<span>{{title}}</span> <i class="icon icon-chevron-right" data-icon=""></i>
							</a>
						</span>
                        <?php
                        break;
                    case 'car-page':
                        //c-hr exception
                        $aux = explode("/",$target);
                        $model_code =  strtolower($aux[2]);
                        $url = "/pages/new-car-details/$model_code/index.json";
                        ?>
                        <a href="<?php echo $url; ?>" class="uiBtn  redBtn  hasIcon smBtn">{{title}}<i class="icon icon-chevron-right"></i></a>
                        <?php
                        break;
                }
			?>
			{{/each}}
		</div>
</div>
{{/each}}