<?php

global $dealer;
$dealer = (isset($_GET["dealer"])) ? filter_input(INPUT_GET, 'dealer', FILTER_SANITIZE_SPECIAL_CHARS) : false;
$json_dealers = file_get_contents("{insecure_site_url}/api/dealer-list");
$dealer_list = json_decode($json_dealers);
?>
<select id="dealer" name="00Nb0000002AKok" title="Dealer Lookup" data-validation="select">
	<option value="no_selection">...</option>
	<?php
	foreach ($dealer_list as $dealer) {
	    if($dealer->dealerId === 9999 || $dealer->dealerId === "9999")
	        continue;

		$name = $dealer->Name;
		$code = $dealer->dealerId;
		echo "<option value='$code'>$name</option>";
	}
	?>
</select>
