{{#if this}}
<?php
$rand = rand(10, 100);
$blue = "";
if (isset($_GET["blue"]))
	$blue = " spotlight-container-hybrid ";

$grey = "";
if (isset($_GET["grey"]))
	$grey = " spotlight-container-grey ";
?>
<div class='featured-cars-container'>
	<div class=" spotlight-container  <?php
	echo $blue;
	echo $grey;
	if (!$grey) {
		echo " content-block ";
	}
	?>" id="featurd-used-cars" data-id="#fetured-used-cars">
		<div class="container_12 clearfix read-more-rows" data-initial-rows="1">
			<div class="grid_12 center-text title-area">
				<h2 class="heading1">Featured Assured Used Cars</h2>
				<a class="read-more-trigger no-js-hide" href="#PromoList<?php echo $rand; ?>">View all</a>
			</div>
			<div class="grid_row read-more-rows-container spotlight-wrapper" id="PromoList<?php echo $rand; ?>">
				<div class="slide-up-element grid_row isoForceHardwardCalc">			
					{{#each this}}
					<?php
					$thumbnail = '';
					$thumbnails = explode(';', '{{thumbnail}}');
					if (count($thumbnails))
						$thumbnail = $thumbnails[0];
                        if(strrpos($thumbnail, '_thumbnail')==true) $thumbnail = str_replace('_thumbnail', '_default', $thumbnail);
					//echo $thumbnail;
					if (strpos($thumbnail, '.jpg') == false)
						$thumbnail = 'http://development.toyota.ie/inc/images/noimage.jpg';
					?>
					<div class="more_about_item featured-car" >
						<a href="/pages/assured-used-car-details/{{carID}}" class="spotlight" >
							<div class="car-image">
								<?php
								echo "<img src='" . $thumbnail . "' alt='car thunmnail' width='272' height='168' />";
								?>
								<div class="price" >&euro;<?php echo number_format(floatval('{{Price}}'), 0, '.', ','); ?></div>
							</div>

							<p class="model">
								<strong>{{{Make}}} {{{Model}}}</strong>
								<br/>
								<strong class="variant">{{{Variant}}}</strong>
								<?php if ($grey) { ?><i class="icon icon-chevron-right"></i><?php } ?>
							<div class="details">
								{{#if Year}}
								<span class="year" >{{Year}}</span><span class="bull">&nbsp;|</span>
								{{/if}}
								{{#if Mileage}}
								<span class="mileage" ><?php echo number_format((double) '{{Mileage}}', 0, '.', ','); ?>km</span><span class="bull">&nbsp;|</span> 
								{{/if}}
								{{#if FuelType}}
								<span>{{FuelType}}</span><span class="bull">&nbsp;|</span>
								{{/if}}
								{{#if Colour}}
								<span>{{Colour}}</span><span class="bull">&nbsp;|</span>
								{{/if}}
								{{#if Transmission}}
								<span>{{Transmission}}</span>
								{{/if}}
							</div>
							</p>

						</a>
					</div>
					{{/each}}

					<div class="clear"></div>        
				</div>
				<div class="slide-end"></div>
			</div>
		</div>
	</div>
</div>
{{/if}}