{{> socialtools}}

{{#if multimedia.desktopImageUrl}}
<div class="parallax  clearfix footer-paralax" data-layer-parallax>
	<div class="assetWidthContain bg-par">
		<div class="background-layer" style="background-image: url({{multimedia.desktopImageUrl}})" data-height="900" data-width="1600" data-factor="1.2" data-id="fotter-paralax">
		</div>
		<div class="move-into-parallax container_12 container_12_absolute">
			{{#if targetUrl}}
			<?php ob_start();?>{{{targetUrl}}}<?php $url = ob_get_clean( );
					//$end_url = str_replace("/world-of-toyota/", "/pages/news/toyota-article/world-of-toyota/", $url);
					$end_url = str_replace("/world-of-toyota/", "https://www.toyota.ie/world-of-toyota/", $url);
			?>
			<a href="<?php echo $end_url; ?>" target="{{targetType}}">
				{{/if}}
				<div class="bg-image-hero">
					<div class="hero-inner">						
						<h3 class="heading1 {{textColour}}">{{title}} &nbsp;</h3>
						<span class="heading2 {{textColour}}">{{subtitle}}</span>
					</div>
				</div>
				{{#if targetUrl}}
			</a>
			{{/if}}
		</div>
	</div>
</div>
{{/if}}



