<div class="content-block page-section">
	<div class="grid_12 center-text title-area">
	        <h2 class="heading1">{{title}}</h2>
	</div>
	<iframe width="100%" height="{{{iFrameHeight}}}" src="{{{iframeUrl}}}"  scrolling="{{{allowScrolling}}}" ></iframe>
</div>
