<?php
global $car_model;
$selected_model = (isset($_GET["model"])) ? filter_input(INPUT_GET, 'model', FILTER_SANITIZE_SPECIAL_CHARS) : false;
$json_cars = file_get_contents("{insecure_site_url}/api/new-cars");
$cars_list = json_decode($json_cars)->modelrange->items;
$brochured = "{embed:brochure}";

$processed_car_list =array();


$is_y2017 = false;
/**
 * PREPROCESS CAR MODELS
 * Adds any possible exception to the models, like changing name, title etc
 **/
foreach ($cars_list as $car) {
    $car_model = (property_exists($car,"model"))?$car->model:"no_model";
    $car_title = (isset($car->title))?$car->title:"unnamed";
    $visible = (property_exists($car,"visible"))?$car->visible:"visible";



    $edited_car = array(
        "visible"=>false,
        "model"=>$car_model,
        "title"=>$car_title,
        "brochure"=>'',
        "selected"=>'',
        'title_as_id'=> true
    );

    //sets if car must be showed or not in  the select
    if ($visible === "false" || $car_model === "no_model") {
        $edited_car["visible"] = false;
    }else{
        $edited_car["visible"] = true;
    }

    //sets the pdf brochure name (Must match filenames in the server)
    if ($brochured == "yes") {
        $edited_car["brochure"] = strtolower(str_replace(' ', '-', $car_title) . '.pdf');
    }

    //sets if the car is  selected by default
    $selected = strtolower($selected_model);
    if ( $selected == strtolower($car_title) || $selected == strtolower($car_model)){
        $edited_car["selected"] = 'selected';
    }


    //custom settings based on car model
    switch ($car_model){
        case "c-hr":
            $edited_car["title"] = "Toyota C-HR";
            $edited_car["brochure"] = "c-hr.pdf";
            break;
        case "pi-mpv": //prius plus
            $edited_car["brochure"] = "prius-plus.pdf";
            break;
        case "proaceverso":
            $edited_car["brochure"] = "proace.pdf";
            $edited_car["title_as_id"] = false;
            break;
        case "priusplugin": //prius plus
            $edited_car["brochure"] = "";
            $edited_car["title_as_id"] = false;
            break;
        case "yaris2017":
            $is_y2017 = true;
            $edited_car["brochure"] = 'Yaris-2017.pdf';
            $edited_car["title_as_id"] = false;
        case "ZZZ":
            $edited_car["title"] = "Toyota ZZZ";
            $edited_car["brochure"] = "ZZZ.pdf";
            break;
    }

    $processed_car_list[]=$edited_car;
}


//ADD YARIS 2017  AND PRIUS Plugin 2017 request brochure option
if ($brochured == "yes" && !$is_y2017) {
    //YARIS 2017
    $yaris_2017_car = array(
        "visible" => true,
        "model" => "Yaris_2017",
        "title" => "Yaris 2017",
        "brochure" => 'Yaris-2017.pdf',
        "selected" => '',
        'title_as_id'=> false
    );
    //sets if the car is  selected by default
    if ( $selected == strtolower("Yaris_2017") || $selected == strtolower("Yaris 2017")){
        $yaris_2017_car["selected"] = 'selected';
    }
    $processed_car_list[] = $yaris_2017_car;

}


if (!function_exists('my_sort_function')) {
    function my_sort_function($a, $b)
    {
        return strcmp($a["title"], $b["title"]);
    }
}
usort($processed_car_list, 'my_sort_function');
?>

<select name="00Nb0000002AKoc"
        id="model" <?php if ($brochured == 'yes') echo 'class="data-other brochure-pdf error"'; ?>
        data-validation="select">
    <option value="no_selection">...</option>
    <?php
    foreach ($processed_car_list as $car) {
        if ($car["visible"]) {
            $model = ($car["title_as_id"])?$car["title"]:$car["model"];//important this must be the title as it is a legacy behaviour, model field was added recently
            $title = $car["title"];
            $brochure = ($car["brochure"] != '')?"data-other='".$car["brochure"]."'":"";
            $selected = $car["selected"];
            echo "<option value='$model'  $brochure $selected>$title</option>";
        }
    }
    ?>
</select>

