    <?php $rand=rand(10,100); ?>
    <?php
        $background='{{background}}';
        $section='news';
        if($background=='hybrid'){
            $section='hybrid';
        }

    ?>
    <div class="page-section spotlight-container content-block {{#if background}}spotlight-container-{{background}}{{/if}}" {{#if sectionInpageId}}id="{{sectionInpageId}}"{{/if}} data-id="#{{sectionInpageId}}">
        <section id="moreabout-mod">
            <div class="container_12 clearfix read-more-rows" data-initial-rows="1">
                <div class="grid_12 center-text title-area">
					{{#if title}}<h2 class="heading1">{{title}}</h2>{{/if}}
                    <a class="read-more-trigger no-js-hide" href="#PromoList<?php echo $rand; ?>">View all</a>
                </div>
                <div class="grid_row read-more-rows-container spotlight-wrapper" id="PromoList<?php echo $rand; ?>">
                    <div class="slide-up-element grid_row isoForceHardwardCalc">			
                            {{#each items}}
                                <?php 

                                    $url='/pages/'.$section.'/{{#if url}}toyota-article{{url}}{{/if}}{{#if url_title}}local-article/{{url_title}}{{/if}}';
                                    
                                    $datatype='{{targetType}}{{dataType}}';
                                    $datatype=trim($datatype);
                                    $target='';
                                    $parent='';
                                    $data='';
                                    $trigger='';
                                    if($datatype=='_blank')  {
                                        $url='{{url}}';
                                        $target='target="_blank"';
                                    }
                                    if($datatype=='video' || $datatype=='overlayer-external'){
                                        $parent='SecContentContainer';
                                        $data='data-contenttype="ajax" data-name="{{title}}" data-id="Video{{@index}}"';
                                        $trigger='secContentTrigger';
                                        $url='/ajax/videoloader?videourl={{url}}{{movie.defaultVideo}}';
                                    }
									
                                ?>
        						<div class="more_about_item <?php echo $parent;?>" <?php echo $data;?> >
        							<a href="<?php echo $url; ?>" class="spotlight {{class}}  <?php echo $trigger;?>" id="link_{{@index}}" data-rel="<?php echo $url;?>" <?php echo $target;?> >
        								<?php
        									$image="{{thumbnail}}{{news_image}}{{image}}";
											if($image === "")
												$image = "http://development.toyota.ie/inc/images/no-image.png";
											else if(strpos($image, 'http')===false 
													&& strpos($image, 'cloudfront.net')===false 
													&& strpos($image, 'images.toyota-europe.com/')===false) 
													$image="{external_url_images}".$image;
        									echo "<img src='".$image."' alt='thumbnail' />";
        								?>
        								<p>{{#if title}}<strong><?php echo html_entity_decode("{{title}}"); ?></strong>&nbsp;&nbsp;&nbsp;{{/if}}<?php echo html_entity_decode("{{description}}");?></p>
        							</a>
        						</div>
        					{{/each}}
                        <div class="clear"></div>        
                    </div>
                    <div class="slide-end"></div>
                </div>
            </div>
        </section>
    </div>