            {{#this}}
                {{#each pricelist.tables.[0].withoutPromotions}}
                <tr>  
                    <td>
                        {{body}}
                    </td>
                    <td>{{engine}} {{transmission}}</td>
                    <td>
                        <div class="more-info">
        					<h2 class="title">{{grade}}</h2>
        					<p>{{{gradeFeatureText}}}</p>
                        </div>
                    </td>
                    <td class="promoField priceField">{{price.listWithDiscount}}</td>
                    <td class="configuratorLinks" data-id="Configurator" data-contenttype="ajax" data-name="Configurator" data-viewall="">
                        <a href="/ajax/configure/{{../pricelist.name}}" class="spec-link secContentTrigger" id="view_prices">
                        	<span class="hidden-xs hidden-sm">Configure<i class="icon icon-chevron-right"></i></span>
                        </a>
                    </td>
                </tr>
                {{/each}}
            {{/this}}
            </table>
        </div>
    </div>
</div>
<script>
$(function(){
    $('.more-info').ReadMore({});
    $('.configuratorLinks').each(function () {
            var x = $(this).data("id").split("/");
            $(this).SecondaryContent({
            "sectionIDs": $(this).data("id").split("/"),
            "mode": $(this).data("contenttype"),
            "cGroupName": $(this).data("name"),
            "translations": localisedTranslations
        });
    });
})
</script>