<div class="container_12 content-table table-responsive text-content" id="carchapter-prices" data-bt-eventclass="componentevent" data-bt-category="component" data-bt-componentname="pricelist">
<div class="table-responsive">
	<div class='grid_12'>
		<table class="table sortable-table table-configure" style='width:100%'>
		<caption>{{title}}</caption><!-- begin: carchapter-prices-table-header.nj -->
		<thead>
			<tr data-bt-action="sort_list">
				{{#this}}
					{{#if pricelist}}
						<th data-bt-value="bodytype" data-bt-track="">
							{{pricelist.labels.bodytype}}
							<!--i class="icon icon-chevron-right"></i>
							<i class="icon icon-chevron-up"></i>
							<i class="icon icon-chevron-down"></i-->
						</th>
						<th data-bt-value="{{@key}}" data-bt-track="">
							{{pricelist.labels.enginetransmission}}
							<!--i class="icon icon-chevron-right"></i>
							<i class="icon icon-chevron-up"></i>
							<i class="icon icon-chevron-down"></i-->
						</th>
						<th data-bt-value="{{@key}}" data-bt-track="">
							{{pricelist.labels.grade}}
							<!--i class="icon icon-chevron-right"></i>
							<i class="icon icon-chevron-up"></i>
							<i class="icon icon-chevron-down"></i-->
						</th>
						<th data-bt-value="{{@key}}" data-bt-track="">
							{{pricelist.labels.priceInclVat}}
							<!--i class="icon icon-chevron-right"></i>
							<i class="icon icon-chevron-up"></i>
							<i class="icon icon-chevron-down"></i-->
						</th>
						<th data-bt-value="configure" data-bt-track="">
							<!--i class="icon icon-chevron-right"></i>
							<i class="icon icon-chevron-up"></i>
							<i class="icon icon-chevron-down"></i-->
						</th>
					{{/if}}
				{{/this}}
			</tr>
		</thead>