{{#each this}}
<?php
$channel = '{{channel}}';
$full_url = '{{url}}';
if ($channel == '') {
	$full_url = '/pages/offers/toyota-article{{url}}';
}
$image='{{image}}';
$image=str_replace("/headers/","/headers/_preview/",$image);
?>
<div class="grid_6 item fc-group">
	<div class="fc-content clearfix">
		<article class=" offer-spotlight news {{channel}}">
			<a href="<?php echo $full_url; ?>">
				<span class="imgContainer">
					<img class="img100" src="<?php echo $image;?>{{smallImage}}" alt="<?php echo html_entity_decode("{{title}}"); ?>">
				</span>
				<div class="clearfix"></div>
				{{#if title}}
				<h3 class="header1">			
					<?php
					$type = strtolower(strip_tags("{{type}}"));
					if ($type === "event") {
						echo '<span class="uiBtn redBtn smBtn event"> &nbsp;&nbsp;Event&nbsp;&nbsp; </span>';
					} else {
						echo '<span class="uiBtn redBtn smBtn news"> &nbsp;&nbsp;Offer&nbsp;&nbsp; </span>';
					}
					?>
					<span class="text"><?php echo html_entity_decode("{{title}}"); ?></span> 
					<?php
					if ($type === "special offer") {
						echo ' &nbsp;&nbsp;<i class="icon icon-tag"></i>';
					}
					?>  
				</h3>
			</a>
			{{/if}}
			{{#if subtitle}}
			<div class="summary">
				{{{subtitle}}}
			</div>
			{{else}}
			<p class="summary">
				<?php
				$text = strip_tags(html_entity_decode("{{summary}}{{description}}{{news_summary}}{{startPrice}}"));
				if (strlen($text) > 120) {
					$pos = strpos($text, " ", 120);
					echo substr($text, 0, $pos) . " ...";
				} else {
					echo $text;
				}
				?>
			</p>
			{{/if}}
			<p class="terms">
				{{#if validityDate}}
				<?php echo html_entity_decode("{{{validityDate}}}"); ?>
				{{else}}
				<?php 
					$start = "{{promotion_date_start}}";
					$end ="{{promotion_date_end}}";
					
					if($start && $end){
				?>
				Valid from <span class="time">{{promotion_date_start}}</span> until <span class="time">{{promotion_date_end}}</span> 
				<?php } ?>
				{{/if}}
			</p>
			{{#if disclaimer}}
			<p class="full-terms">
				<?php echo	strip_tags(html_entity_decode("{{disclaimer}}")); ?>
			</p>
			{{/if}}

		</article>
	</div>
</div>
{{/each}}