<div class="secondary-nav">
	<div class="container_12 clearfix">
		<div class="grid_12">
			<ol class="sec-nav-list">
			{{#each subpages}}
					<li><a class="scrollTo" href="/pages/<?php echo ee()->uri->segment(2);?>/{{url_title}}" data-bt-value="/pages/<?php echo ee()->uri->segment(2);?>/{{url_title}}">{{title}}</a></li>
			{{/each}}
			</ol>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>