<!-- ############################# COMPONENT : top-features #######################-->
<div class="content-block">
	<div class="page-section" data-id="#{{sectionInpageId}}"  id="{{sectionInpageId}}">
		<section>
			<div class="container_12 clearfix">
				<div class="grid_12 center-text section-title">
					<h2 class="heading1">{{title}}</h2>
				</div>
			</div>
			{{#each items}}
				{{#if topfeature}}		
					<div class="top-feature content-toggle" data-content-toggle data-layer-parallax>
						<div class="content-block">
							<aside class="assetWidthContain bg-par">
								<div class="background-layer" style="background-image: url({{topfeature.[0].image}})" data-height="900" data-width="1600" {{#if topfeature.[1].image}}data-alt-img="{{topfeature.[1].image}}"{{/if}}></div>

							</aside>
						</div>

						<div class="body-content">
							<div class="header-block move-into-parallax">
								<div class="container_12 arrow">
									<div class="grid_12">
										<p class="header2" data-alt="{{{topfeature.[0].title}}}">{{{topfeature.[0].title}}}</p>
										<div class="button-right-container">
											{{#if topfeature.[1].image}}
											<a href="#btn" class="uiBtn blueBtn toggleBtn enableAllAnimations" data-alt-text="Non-hybrid state">View {{{topfeature.[1].title}}}</a>
											{{/if}}
											{{#if topfeature.[0].movies}}
											<span class="SecContentContainer" data-id="feature_{{../@index}}" data-contenttype="ajax" data-name="{{{topfeature.[0].title}}}" >
												<a href="/ajax/videoloader?videourl={{topfeature.[0].movies.defaultVideo}}"  id="feature_{{../@index}}"  
												   class="secContentTrigger uiBtn hasIcon darkBtn playMovieButton enableAllAnimations" >
													<i data-icon="" class="icon icon-play"></i>Play movie</a>
											</span>
											{{/if}}
										</div>
									</div>
								</div>
							</div>
							<div class="container_12 clearfix">
								<div class="grid_12">
									<div class="default-block">
										<p>
											{{{topfeature.[0].description}}}
										</p>
									</div>
									{{#if topfeature.[1].description}}
									<div class="alt-block">
										<p>
											{{{topfeature.[1].description}}}
										</p>
									</div>
									{{/if}}
								</div>
							</div>
						</div>

					</div>
				{{/if}}
				{{#if ctas}}
					<div class="greyBg toyota_cta">
						<div class="buttonsBar container_12">
							{{#each ctas}}
								<?php $url= "{{{url}}}" ;
								
									if(strpos($url,'assuredusedcars.toyota.ie/forms?form=brochure') !== false){
										$parsed = parse_url($url);
										parse_str($parsed["query"]);// this profuecs a varible called $model
										$url = "https://www.toyota.ie/#/iframe/".urlencode($url);
										$id=  str_replace(" ","_",$car_model)
										?>
										<span class="SecContentContainer" data-contenttype="ajax" data-name="New Car" data-id="model-<?php echo $id?>">
											<a class="secContentTrigger uiBtn  redBtn  hasIcon smBtn" href="/ajax/forms" id="btbar_pane-brochure" data-form-model="<?php echo $car_model; ?>">
												<span>{{title}}</span> <i class="icon icon-chevron-right" data-icon=""></i>
											</a>
										</span>	
										<?php
									}else if(strpos($url,'assuredusedcars.toyota.ie/') !== false)	{
										$url = "https://www.toyota.ie/#/iframe/".urlencode($url);
										?>
											<a href="<?php echo $url ?>" class="uiBtn  redBtn  hasIcon smBtn" target="{{targetType}}">{{title}}<i class="icon icon-chevron-right"></i></a>
										<?php
									}else{
										$url = "https://toyota.ie$url";
										?>
											<a href="<?php echo $url ?>" class="uiBtn  redBtn  hasIcon smBtn" target="{{targetType}}">{{title}}<i class="icon icon-chevron-right"></i></a>
										<?php
									}
								?>
							{{/each}}
						</div>
						<div class="ctaText container_12">
							<h3 class="heading3">{{{title}}}</h3>
						</div>
					</div>
				{{/if}}
			{{/each}}
		</section>
	</div>
</div>
<!-- ############################# END COMPONENT : top-features #######################-->