{{#each items}}
<li class="fours threes_l">
    <a href="/pages<?php echo str_replace("new-cars","new-car-details","{{url}}"); ?>" class="model-item">
        <img src="https://s3-eu-west-1.amazonaws.com/tme-carassets-prod/{{#if images}}{{images.V10_Menu}}{{/if}}" width="150" height="95" alt="{{title}}" />
        <span class="model-name">
            <strong>{{title}}</strong>{{minPrice.listWithDiscountText}}
        </span>
        {{#if hasHybrids}}<div class="model-decoration hybrid">Hybrid available</div>{{/if}}
    </a>
</li>
{{/each}}