<?php
global $dmodels;
$jsonstring = '{exp:json_feed:print_feed src="{insecure_site_url}/api/new-cars" section="modelrange"}';
$dmodels = json_decode($jsonstring)->modelrange->items;

require_once (APPPATH."third_party/recaptcha/ReCaptchaToken.php");
global $recaptchaToken;
$config = array('site_key' => '6LdFzxcTAAAAAKSDS13NbH3EZi7_3cM8eMTTeXaZ', 'site_secret' => '6LdFzxcTAAAAAK53_n84itPQM-x_9AoKQh9K1jCH');
$recaptchaToken = new \ReCaptchaSecureToken\ReCaptchaToken($config);



?>
<nav class="toyota-tabs-select container form_nav">
	<div class="container_12 clearfix">
		<div class="grid_12">
			<span class="form_nav_item tabtrigger"  data-tab="pane-contact-tab">Contact us</span>
			<span class="form_nav_item tabtrigger"  data-tab="pane-directions-tab">Get directions</span>
			<span class="form_nav_item tabtrigger"  data-tab="pane-brochure-tab">Request a brochure</span>
			<span class="form_nav_item tabtrigger"  data-tab="pane-test-drive-tab">Arrange a test drive</span>
			<span class="form_nav_item tabtrigger"  data-tab="pane-service-tab">Book a service</span>
		</div>
	</div>
</nav>

<div class="">
	<div class="" id="form_tabs">
		<div class="tabContent" id="pane-test-drive-tab">
			{embed="ajax/bookatestdrive"}
		</div>

		<div class="tabContent" id="pane-contact-tab">
			{embed="ajax/contactus"}
		</div>

		<div class="tabContent" id="pane-service-tab">
			{embed="ajax/bookaservice"}
		</div>


		<div class="tabContent" id="pane-brochure-tab">
			{embed="ajax/requestabrochure"}
		</div>


		<div class="tabContent contactform  getdirections" id="pane-directions-tab">
			<div class="container_12">
				<div class="grid_12 header">
					<h2>Our Location</h2>
				</div>
			</div>
			<div class="container_12 extraspace">
				<div class="grid_8 map">
					<div class="  ajax-content clearfix padding" id="getDirectionsMap"  data-rel="/ajax/map?route">
						<?php $_GET["route"] = true ?>
						{embed="ajax/map"}
					</div>
					<div class="clear"></div>
				</div>
				{exp:channel:entries channel="generic_settings"}
				<div class="grid_4">
					<div class="direction_details">
						<div class="padding-large">
							<h4><strong>Address:</strong></h4>
							<?php
							$location = "{dealer_address}";

							if ($location) {
								$split = explode(",", $location);
								?>
								<ul>
									<?php
									for ($i = 0; $i < count($split); $i++) {
										echo "<li>$split[$i]</li>";
									}
									?>
								</ul>
								<?php
							}
							?>
						</div>
						<?php
						ob_start();
						?>{directions}<?php
						$directions = ob_get_clean( );

						if ($directions) {
							?>
							<div class="">
								<h4><strong>Directions:</strong></h4>
								<?php echo $directions; ?>
							</div>
							<?php
						}
						?>
					</div>
				</div>
				{/exp:channel:entries}
			</div>
		</div>
	</div>
</div>


<script>
	var inputs = ['test_emails', 'emails', 'test_email', 'emailer'];

	for (k = 0; k < inputs.length; k++) {
		var test_input = document.getElementsByName(inputs[k]);

		var i;
		for (i = 0; i < test_input.length; i++) {
			test_input[i].setAttribute("style", "display:none;");
		}
	}

</script>
<script type="text/javascript">

	initForms();

	var x = window.location.hash.split("/");
	x = x[x.length - 1].split("_");
	var $currentTab = $("#" + x[x.length - 1] + "-tab");
	var $currentControl = $(".tabtrigger[data-tab='" + x[x.length - 1] + "-tab']");
	$currentControl.addClass("active");
	$currentTab.show();
	//send google analytics pageview for contact forms
	if (ga) {
		ga('send', 'pageview',"/forms/"+$currentControl.text().replace(/ /g,"-"));
	}

	$(".form_container input[data-validation]").each(function (index) {
		var $input = $(this);
		var $parent = $input.parent();
		var $title = $parent.find(".title1");
		var icon = $title.find("i").detach();
		$title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
		$title.append(icon);
		//$title.prepend("<span class='requiredField'>* </span>");
	});
	$(".form_container .select").each(function (index) {
		var $select = $(this);
		if ($select.find("select[data-validation]").length) {
			var $parent = $select.parent();
			var $title = $parent.find(".title1");
			var icon = $title.find(">*").detach();
			$title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
			$title.append(icon);
		}
	});

	$('.tabtrigger').click(function () {
		$currentControl.removeClass("active");
		$(this).addClass("active");
		var id = $(this).data("tab").replace("-tab", "");
		var secWindow = $("#" + id).parents(".SecContentContainer").data("id");
		var $nextTab = $("#" + id + "-tab");
		window.location.hash = "/" + secWindow + "/" + id;
		$currentTab.hide();
		$nextTab.show();
		$currentTab = $nextTab;
		$currentControl = $(this);
    });


	$("input.datepicker").datepicker({
		minDate: +3,
		maxDate: "+1M +20D",
		beforeShowDay: $.datepicker.noWeekends
	});



	loc = document.URL;
	if (loc.indexOf("new-car-details") != -1) {

		// propulate custom model name reading from url
		var segment_1 = location.hash.split("/")[1];
		var model = false;
		if(segment_1.indexOf("model-") === 0){
			//if model is present we extract and transform whitespaces to get the model.
			// ie: "model-new_rav4" => "new rav4".
			model = segment_1.substr(6).replace(new RegExp("_", 'g'), " ");
			console.log(model);
		}

		carmodel = (model)?model: $(".header-container h1").text().toLowerCase();
		//console.log(carmodel);

		$.each($('select[id=model] option'), function () {
			mod=$(this).val().toLowerCase();
			mod=(mod!='new avensis')?mod:'avensis';
			if (mod == carmodel) {
				$(this).prop('selected', 'true');
				$('select[id=model]').parent().find('.value').text($(this).text());
			}
		});

	}else if(location.search.indexOf("model=C-HR") != -1){
		$('#pane-brochure-tab option[value="C-HR"]').prop("selected",true);
	}


	//exception for the new rav4 and new prius download brochure
	var currentmodel = null;
	var downloadtype = $("#selecttype");
	var download = downloadtype.find("option[value='pdfDownload']");
	var preorder =  $("#preorder");
	var email = downloadtype.find("option[value='Ebrochure']");
	var post  = downloadtype.find("option[value='Post']");
	var thanks  = $('#pane-brochure-tab .form_thanks .intro');
	var send_via = $("#send_via");
	var post_message = $("#post_message");
	$(document).on("change","select#model",function(){
		//check model
		var sel = $(this);
		var model = sel.find("option:selected").val().toLowerCase();
		if(model === currentmodel)
			return;
		else
			currentmodel = model;


		//model === "rav4 2016" || model === "new rav4" || model === "new prius" || model === "prius 2016"
		if(model === "verso" ){
			post_message.hide();
			send_via.show();
			//only enable Post option for verso
			post.prop("selected",true);
			download.prop("disabled",true).hide();
			email.prop("disabled",true).hide();
			downloadtype.prop("disabled",true);
			downloadtype.parent().find(".icon").hide();
			downloadtype.trigger('change');
			$("#requestbrochure").append("<input type='hidden' name='sendType' value='Post' id='fakeSendType'/>");
		}else if(model == "c-hr"){
			send_via.hide();
			//sen as email and is cancelled on the server
			$("#requestbrochure #fakeSendType").remove();
			downloadtype.prop("disabled",false);
			post.prop("selected",true);
			downloadtype.trigger('change');
			post_message.show();
		}else{
			post_message.hide();
			send_via.show();
			//default behavior
			$("#requestbrochure #fakeSendType").remove();
			downloadtype.prop("disabled",false);
			downloadtype.parent().find(".icon").show();
			download.prop("selected",true);
			download.prop("disabled",false).show();
			email.prop("disabled",false).show();
			downloadtype.trigger('change');
		}
		customTitle();
	});

	function customTitle(){
		var model = $("#pane-brochure-tab select#model option:selected").val().toLowerCase();
		var $intro = $("#pane-brochure-tab .header .intro").first();
		var $message = $("#pane-brochure-tab .header h2").first();
		if(model == "verso"){
			$message.text("Pre-order a Toyota Verso brochure");
			$intro.text("Choose a model that you would like a brochure from, then fill out the form below...");
			thanks.text('Thank you for pre-ordering a brochure for the Toyota Verso. As soon as it becomes available we will send it to you.');
		}else if(model == "c-hr"){
			$message.text("Register your interest in the new Toyota C-HR");
			$intro.text("Be the first to find out news and updates about Toyota's new C-SUV");
			thanks.text('Thank you for registering your interest in the new Toyota C-HR. We\'ll keep you updated on news and information about Toyota\'s new C-SUV.');
		}else{
			$message.text("Order or download model brochures");
			$intro.text("Choose a model that you would like a brochure from, then fill out the form below...");
			thanks.text('If you order your brochure via post-mail, we will send it as soon as possible.');
		}
	}
	customTitle();
	$("select#model").trigger('change');
	resizeMap("#getDirectionsMap");



	//Recaptcha
	var captchas = [];
	$(".tabContent").each(function () {
		var $tab = $(this);
		var $captcha = $tab.find(".g-recaptcha");
		if($captcha.length == 0)
			return;
		var tabId = $tab.attr("id");
		captchas[tabId] = {
			tab : $tab,
			captcha : $captcha,
			verifyCallback : function(){
				alert("tab : "+tabId);
			}
		};
//		console.log("tab : "+tabId);
//		console.log($captcha[0]);
		grecaptcha.render($captcha[0], {
			'sitekey' : $captcha.data("sitekey"),
			'theme' : 'light',
			stoken:$captcha.data("stoken"),
			'callback': function () {
				$tab.find(".hiddencaptcha").prop('checked', true);
				$tab.find(".form-error").hide();
			}
		});
	});



</script>




