{if get:videourl}
	<?php if(strrpos('{get:videourl}','.mp4') || strrpos('{get:videourl}','.flv')) { ?>
	<link href="//vjs.zencdn.net/4.9/video-js.css" rel="stylesheet">
	<script src="//vjs.zencdn.net/4.9/video.js"></script>
	<video id="video" class="video-js vjs-default-skin" controls preload="none" width="100%" height="100%" poster=""
	data-setup='{ "controls": true, "autoplay": true, "preload": "auto" }'>
	<?php if(strrpos('{get:videourl}','.mp4')) echo '<source src="{get:videourl}" type="video/mp4" />';?>
	<?php if(strrpos('{get:videourl}','.flv')) echo '<source src="{get:videourl}" type="video/flv" />';?>
	<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
	</video>
	<?php } else { ?>
		<iframe width="100%" height="100%" src="{get:videourl}"/>
	<?php }?>
{/if}
{if get:html5}
	<iframe id='html5content' width="100%" height="100%" src="{external_feed_base}/html/page/models/yaris/index.json?id={get:html5}"/><iframe>
	<script type='text/javascript'>
			/*loc=document.URL;
		
			if(loc.indexOf("new-car-details")!=-1){

				start=loc.indexOf("new-car-details");
				sub1=loc.substring(start+16, loc.length);
				end=sub1.indexOf("/");
				carmodel=sub1.substring(0,end);
				console.log($('#html5content'));
				$('#html5content').attr('src',src.replace('yaris',carmodel));

			}*/
	</script>	
{/if}
