<!--
    Name: Article Content blocks
    ID: c_t1_001
    URL: http://toyota-stage.amaze.com/html/components/tier1/ArticleContentBlocks.html
    
    1.2.1 - 2 column text, 2 column video / image
-->
<div class="container_12 content-block body-content clearfix">
    <div class="grid_12">
        <h1/tier1/ArticleContentBlocks.html>The challenge</h1>
    </div>

    <div class="grid_6">
                            
        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
        <p>Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>

    </div>
    <div class="grid_6 no-js-hide">
        <iframe class="video" src="//www.youtube.com/embed/9huNSUY6s_4?wmode=opaque" allowfullscreen=""></iframe>
    </div>
</div>