<!--
    Name: Article Content blocks
    ID: c_t1_001
    URL: http://toyota-stage.amaze.com/html/components/tier1/ArticleContentBlocks.html
    
    1.2.2 - 2 column text,2 column related content
-->
<div class="container_12 content-block body-content clearfix">
    <div class="grid_6">
        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
        <p>Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
        <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>  
    </div>

    <div class="grid_6">
                            
        <div class="related-content-block">
            <aside>
                <h3><i data-icon="&#xf02e;" class="title-left-icon icon icon-bookmark"></i>Related stories</h3>
                <ul class="link-list">
                    <li><a href="#link1"><strong>Toyota is the world's greenest brand again</strong> for the third time in a row on one of the "Best Global Green Brands"</a></li>
                    <li><a href="#link2"><strong>Toyota is the winner of Auto Bild Quality Report 2012</strong> For since the inception of the study in 2001, the brand is the fifth time at the top of the quality rankings.</a></li>
                    <li><a href="#link3"><strong>Toyota most successful brand in the TUV report 2013</strong> 20 times in the Top 10 in 5 classes</a></li>
                </ul>
                <ul class="tag-list clearfix">
                    <li><a href="#tag1" class="uiBtn greyBtn smBtn">4 wheel drive</a></li>
                    <li><a href="#tag2" class="uiBtn greyBtn smBtn">Competition</a></li>
                    <li><a href="#tag3" class="uiBtn greyBtn smBtn">Challenge</a></li>
                    <li><a href="#tag4" class="uiBtn greyBtn smBtn">Adventure</a></li>
                    <li><a href="#tag5" class="uiBtn greyBtn smBtn more-tags">...</a></li>
                </ul>
            </aside>
        </div>

        <div class="related-content-block">
            <aside>
                <h3/tier1/ArticleContentBlocks.html><i data-icon="&#xf019;" class="title-left-icon icon icon-download-alt"></i>Downloads</h3>
                <ul class="link-list">
                    <li><i data-icon="&#xf030;" class="title-left-icon icon icon-camera"></i><a href="#link1">Photos of Tundra</a></li>
                    <li><i data-icon="&#xe000;" class="title-left-icon icon icon-file-pdf"></i><a href="#link1">Eyewitness report</a></li>
                    <li><i data-icon="&#xf02d;" class="title-left-icon icon icon-book"></i><a href="#link1">Tundra ebrochure</a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>