<!--
    Name: Article Content blocks
    ID: c_t1_001
    URL: http://toyota-stage.amaze.com/html/components/tier1/ArticleContentBlocks.html
    
    1.3.3 - 3 column bullet list
-->
<div class="container_12 content-block body-content clearfix">
    <div class="grid_9">
        <ul>
            <li>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</li>
            <li>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</li>
            <li>nec sagittis sem nibh id elit.</li>
            <li>Duis sed odio sit amet nibh vulputate cursus</li>
            <li>odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquen consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquen</li>
        </ul>
    </div>
</div>