<!--
    Name: Article Content blocks
    ID: c_t1_001
    URL: http://toyota-stage.amaze.com/html/components/tier1/ArticleContentBlocks.html
    
    1.5.1 - 3 column text, 1 column spotlight
-->
<div class="container_12 content-block body-content clearfix">
    <div class="grid_12">
        <h2>Lorem Ipsum. Proin gravida nibh vel</h2>
    </div>
    <div class="grid_9 columns-3"> 
        <p>Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
        <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
    </div>
                     
    <a href="http://www.google.com" class="grid_3 spotlight">
        <img src="/inc/images/ContentImage_sm1.jpg" alt="" width="230" height="91" />
        <p><strong>Aenean sollicitudin lorem quis bibendum auctor</strong>. Nisi elit consequat ipsum sit amet nibh vulputate cursus a sit amet mauris. </p>
    </a>
                    
</div>