<!--
    Name: Article Content blocks
    ID: c_t1_001
    URL: http://toyota-stage.amaze.com/html/components/tier1/ArticleContentBlocks.html
    
    1.1.2 - Full width quote text
-->
<div class="container_12 content-block body-content clearfix text-center">
    <div class="grid_12 intro-text">
        <p>The Endeavour is paraded through the streets of Los Angeles and towed over the 405 freeway by a stock <a href="#">Toyota Tundra</a>.</p>
    </div>
</div>