<!--
    Name: Article Content blocks
    ID: c_t1_001
    URL: http://toyota-stage.amaze.com/html/components/tier1/ArticleContentBlocks.html
    
    1.1.1 - Full width intro text
-->
<div class="container_12 content-block body-content clearfix">
    <div class="grid_12 intro-text text-center">
        <p>On October 12, 2012, the Space Shuttle Endeavour was towed across LA's 405 freeway by an unmodified Toyota Tundra. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
    </div>
</div>