{{#each items}}
<?php 
	$url = "{{url}}";
	$car_model = strtoupper("{{title}}");
	$isExternal = (strpos($car_model,'NEW PRIUS') !== false || strpos($car_model,'C-HR') !== false );
	$link = "";
	if($isExternal){
		$link = "//www.toyota.ie".$url;
	}else{
		$link = str_replace("models","new-car-details",$url); 
		$link = str_replace("/current-offers/index.json","/offers",$link);
		$link = "/pages".$link;
	}
    $visible = "{{visible}}";
    
    if($visible!="false"){
?>

<li class="fours threes_l">
    <a href="<?php echo $link;?>" <?php if($isExternal) echo 'target="_blank"' ?> class="model-item">
        <img src="{{#if images}}{external_url_carassets}{{images.V10_Menu}}{{else}}{{#if extraContent}}http://d1hu588lul0tna.cloudfront.net/toyotaone{{extraContent}}{{/if}}{{/if}}" width="150" height="95" alt="{{title}}" />
        <span class="model-name">
            <strong>{{title}}</strong>{{minPrice.listWithDiscountText}}{{subtitle}}
        </span>
        {{#if hasHybrids}}
			<div class="model-decoration hybrid">Hybrid available</div>
		{{else}}
		{{#if isHybridOnly}}
			<div class="model-decoration hybrid">Hybrid</div>
		{{/if}}
		{{/if}}
    </a>
</li>
<?php  } ?>
{{/each}}