<div class="master-wrapper">
	<footer>
		<div class="footer-container isoForceHardwardCalc">	
			<div class="footer">
				<div class="container_12">
					<div class="grid_6">
						<ul>
							<li class="link"><a href="http://www.toyota.ie/index.json#/iframe/http%3A%2F%2Fassuredusedcars.toyota.ie%2Fforms%3Fform%3Dcontactus" target="_blank">Contact Us</a></li>
							<li class="link"><a href="http://www.toyota.ie/legal.json" target="_blank">Legal Notice</a></li>
							<li class="link"><a href="http://www.toyota.ie/#/ajax/http%3A%2F%2Fwww.toyota.ie%2Fsys%2Fe-privacy%2Fsettings" target="_blank">e-privacy settings</a></li>
							<li class="link"><a href="http://www.toyota.ie/models/index.json#/ajax/http%3A%2F%2Fwww.toyota.ie%2Fglossary" target="_blank">Glossary</a></li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="grid_6 social-buttons">
						<div class="socialWrapper">
							<a class="social-button social-button-facebook" href="https://www.facebook.com/ToyotaIreland" target="_blank">
	<!--        <i class="icon icon-facebook"></i>-->
							</a>
							<a class="social-button social-button-twitter" href="https://twitter.com/toyotaireland" target="_blank" >
						<!--        <i class="icon icon-twitter"></i>-->
							</a>
							<a class="social-button social-button-youtube" href="https://www.youtube.com/toyotaireland" target="_blank" >
						<!--        <i class="icon icon-youtube"></i>-->
							</a>
							<a class="social-button social-button-linkedin" href="http://www.linkedin.com/company/toyota-ireland" target="_blank">
					<!--		<i class="icon ">in</i>-->
							</a>
						</div>
					</div>
					<div class="clear"></div>
					<div class="row">
						<div class="grid_12">
							<p class="copyright">Copyright © Toyota Ireland</p>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>


<script src="http://development.toyota.ie/inc/js/libs.js"></script>
<script src="http://development.toyota.ie/inc/js/main.js"></script>
<!--[if lt IE 9]> <script src="http://dev.toyota.ie/inc/js/ie8.js"></script> <![endif]-->
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "beeac92e-6cdb-46cc-9d56-876fd7dab5d1", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id))
			return;
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript" src="http://www.toyota-europe.com/sys/inc/lib/responsiveiframe.js"></script>
<script type="text/javascript">
	// $(document).ready(function () {
	// 	$(window.parent).scrollTop(0);
	// });
	//var respCont = new ResponsiveContainer('searchComponent');
</script>
</body>
</html>