<?php
$form = (isset($_GET["form"])) ? $_GET["form"] : false;
switch ($form) {
	case "contactus":
		?><script type="text/javascript">
			window.t1DataLayer = {
				page: {
					contentgroup: "E_Datacapture",
					sectionlv1: "service_and_accessories",
					sectionlv2: "assured_used_car",
					category: "tools",
					name: "contact_us",
					workflowname: "contact_us",
					workflowstep: "1",
					workflowconversion: "0"
				},
				userinfo: {
					status: "(not set)",
					platform: "(not set)"
				},
				event: {
					eventclass: "workflowevent",
					category: "tools",
					componentName: "contact_us",
					action: "form-workflow",
					value: "form-submit",
					workflowname: "contact_us",
					workflowstep: "2",
					workflowconversion: "1"
				}
			};
		</script><?php
		break;
	case "brochure":
		?><script type="text/javascript">
			window.t1DataLayer = {
				page: {
					contentgroup: "E_Datacapture",
					sectionlv1: "buy_a_toyota",
					sectionlv2: "assured_used_car",
					category: "tools",
					name: "brochure_request",
					workflowname: "brochure_request",
					workflowstep: "1",
					workflowconversion: "0"
				},
				userinfo: {
					status: "(not set)",
					platform: "(not set)"
				},
				event: {
					eventclass: "workflowevent",
					category: "tools",
					componentName: "brochure_request",
					action: "form-workflow",
					value: "form-submit",
					workflowname: "brochure_request",
					workflowstep: "2",
					workflowconversion: "1",
					modelname: "$modelName"
				}
			};
		</script><?php
		break;
	case "bookatestdrive":
		?><script type="text/javascript">
			window.t1DataLayer = {
				page: {
					contentgroup: "E_Datacapture",
					sectionlv1: "buy_a_toyota",
					sectionlv2: "assured_used_car",
					category: "tools",
					name: "test_drive",
					workflowname: "test_drive",
					workflowstep: "1",
					workflowconversion: "0"
				},
				userinfo: {
					status: "(not set)",
					platform: "(not set)"
				},
				event: {
					eventclass: "workflowevent",
					category: "tools",
					componentName: "test_drive",
					action: "form-workflow",
					value: "form-submit",
					workflowname: "test_drive",
					workflowstep: "2",
					workflowconversion: "1",
					modelname: "$modelName"
				}
			};
		</script><?php
		break;
	case "bookaservice":
		?><script type="text/javascript">
			window.t1DataLayer = {
				page: {
					contentgroup: "E_Datacapture",
					sectionlv1: "service_and_accessories",
					sectionlv2: "assured_used_car",
					category: "tools",
					name: "book_a_service",
					workflowname: "book_a_service",
					workflowstep: "1",
					workflowconversion: "0"
				},
				userinfo: {
					status: "(not set)",
					platform: "(not set)"
				},
				event: {
					eventclass: "workflowevent",
					category: "tools",
					componentName: "book_a_service",
					action: "form-workflow",
					value: "form-submit",
					workflowname: "book_a_service",
					workflowstep: "2",
					workflowconversion: "1"
				}
			};
		</script><?php
		break;
}
?>