<?php
global $dealer_email_list;
$dealer_email_id = (isset($_GET["dealer"])) ? filter_input(INPUT_GET, 'dealer', FILTER_SANITIZE_SPECIAL_CHARS) : false;
$json_dealers = file_get_contents("{insecure_site_url}/api/dealer-list-AR");
$dealer_list = json_decode($json_dealers);
$ordered = Array();
foreach ($dealer_list as $value) {

	$ordered[$value->Name] = array(
			"email" => $value->Service_department_email,
			'id' =>  $value->dealerId
	);

}
ksort($ordered);

$dealer_id = (isset($_GET["dealer"])) ? filter_input(INPUT_GET, 'dealer', FILTER_SANITIZE_SPECIAL_CHARS) : false;
?>
<input type="hidden" name="00Nb0000002AKok" value="0000" id="00Nb0000002AKok">
<select id="dealer_custom" name="dealer_email" title="Dealer Lookup" data-validation="select">

	<?php
	if(!$dealer_id){
		echo '<option value="no_selection">...</option>';
	}
	foreach ($ordered as $key => $val) {
		$email = $val["email"];
		$id = $val["id"];

		if($id === 9999 || $id === "9999")
		    continue;

		if($dealer_id){
			$selected = ($id == $dealer_id);
			if($selected){
				echo "<option value='$email' data-dealer-id='$id' selected>$key</option>";
			}
		}else{
			echo "<option value='$email' data-dealer-id='$id' $selected>$key</option>";
		}

	}
	if(!$dealer_id){
		echo '<option value="none">None</option>';
	}
	?>
<!--	<option value="jerez.m82@gmail.com">Createch</option>-->

</select>

