<?php

global $dealer_email_list;
$dealer_email_list = (isset($_GET["dealer"])) ? filter_input(INPUT_GET, 'dealer', FILTER_SANITIZE_SPECIAL_CHARS) : false;
$json_dealers = file_get_contents("{insecure_site_url}/api/dealer-list");



usort($json_dealers,function($a, $b) {
  return $a['dealerId'] - $b['dealerId'];
});
return $json_dealers;
$dealer_list = json_decode($json_dealers);


?>




{!--

<select id="dealer" name="00Nb0000002AKok" title="Dealer Lookup" data-validation="select">
	<option value="no_selection">...</option>
	<?php
	foreach ($dealer_list as $dealer_email_list) {
		//TODO this fields are not real 'not real name title and code, chack in json feed to fin out them.
		$name = $dealer_email_list->Name;
		$email= $dealer_email_list->Service_department_email;
		echo "<option value='$email'>$name</option>";
	}
	?>
</select>--}


