{{#each CarDetails}}
<div class="container_12 used-car-title car-details-first">
    <div class="grid_8">
        <div class="name">
            <h1 class="heading1"><?php echo html_entity_decode('{{Make}}'); ?>&nbsp; <span
                        id="assuredmodel"><?php echo html_entity_decode('{{Model}}'); ?></span></h1>
            <h2 class="heading2 padding"><?php
                $t = html_entity_decode('{{{Variant}}}');
                if (strlen($t) > 70) {
                    $aux = substr($t, 0, 70);
                    $t = substr($aux, 0, strrpos($aux, " ")) . "...";
                }
                echo $t;
                ?></h2>
        </div>
    </div>
    <div class="grid_4">
        <div class="priceHeader">
            <div class="price heading1">€<?php echo number_format(floatval('{{Price}}'), 0, '.', ','); ?></div>
            <?php if (strtolower('{{Make}}') == 'toyota') { ?>
                <!--                <div class="status padding flex-quote-text">Or from as low as from just <span class='finance_price'-->
                <!--                                                                                              data-rel='{{Model}}'>&nbsp;</span><br/>per-->
                <!--                    month* with Flex Finance.-->
                <!--                </div>-->
            <?php } ?>
            <div class="status">Last updated
                on <?php echo date('D M j Y', strtotime('{{LastModifiedDate}}')); ?> </div>
        </div>
    </div>
</div>
<div class="used-car-carousel container_12">
    <div class="grid_8 print-fw">
        <?php
        $images = '{{ImageUrls}}';
        if ($images != "null") {


            $auc_no_border = str_replace('http://', '//', str_replace('.jpg', '_auc_details_nw.jpg', str_replace('/originals', '', str_replace(',', '|', $images))));
            $auc_border = str_replace('http://', '//', str_replace('.jpg', '_skupnet.jpg', str_replace('/originals', '', str_replace(',', '|', $images))));

            ?>
            <header class="header-container carousel">
                <div class="bg-image-hero assetWidthContain">
                    <div class="coverBG carousel-bg active"
                         style=""
                         data-carousel-assets="<?php echo $auc_border; ?>"
                         data-carousel-thumbnails="<?php echo str_replace('http://', '//', str_replace('.jpg', '_default.jpg', str_replace('/originals', '', str_replace(',', '|', $images)))); ?>"></div>
                </div>
            </header>
        <?php } else { ?>
            <header class="header-container">
                <div class="no-car-img"
                     style="background-image: url(//development.toyota.ie/inc/images/used_cars_header.jpg);">
                    <h3 class="heading2">No Image Available</h3>
                </div>
            </header>
        <?php } ?>
    </div>
    <div class="grid_4 no-print">


        <?php

        $ENV = ($_SERVER['HTTP_HOST'] == "developmenttest.toyota.ie"
            || $_SERVER['HTTP_HOST'] == "assuredusedcarstest.toyota.ie")
            ? "test" : "production";

        ?>

        <!--  ################# CTA SECTION ################-->
        
        <div class="contact_buttons">
            <?php
            /* ########## TETS DRIVE - DEALER'S WEBSITE:
            test server and live server: opens the form in ajax overlay
            */
            ?>
            <div class="button-dealer contact_button SecContentContainer" data-contenttype="ajax" data-name="New Car"
                 data-id="booktestdrive2">
                <a href="/ajax/forms?model={{Model}}" id="pane-test-drive"
                   class="secContentTrigger uiBtn  fwBtn greyBtn  hasIcon hasIconRight">
                    <span class="text">BOOK A TEST DRIVE</span>
                    <span class="iconBG right">
                                <i class="icon icon-car2"></i>
                            </span>
                </a>
            </div>


            <?php
            /* ########## TETS DRIVE - ASURED USED CARS PAGE - MOBILE:
            test server: opens the form in it's own page
            live server: opens the form in it's own page
            */
            $final_url = "//assuredusedcars.toyota.ie/forms?form=bookatestdrive&model={{Model}}&dealer={{{DealerId}}}";
            if ($ENV == "test") {
                $final_url = "//assuredusedcarstest.toyota.ie/forms?form=bookatestdrive&model={{Model}}&dealer={{{DealerId}}}";
            }
            ?>
            <div class="mobile">
                <div class="button-no-dealer contact_button">
                    <a href="<?= $final_url ?>"
                       class="uiBtn  fwBtn greyBtn  hasIcon hasIconRight" target="_parent">
                        <span class="text">BOOK A TEST DRIVE</span>
                        <span class="iconBG right">
                                <i class="icon icon-car2"></i>
                            </span></a>
                </div>
            </div>

            <?php
            /* ##########  TETS DRIVE - ASURED USED CARS PAGE - DESKTOP:
            test server: opens the form in it's own page
            live server: opens the form in toyota ajax overlay
            */

            $car = filter_input(INPUT_GET,"car", FILTER_SANITIZE_STRING);

            if(isset($_GET["car"])){
                $final_url = "//www.toyota.ie/used-cars/index.json?car=$car#/iframe/" . urlencode("https://assuredusedcars.toyota.ie/forms?form=bookatestdrive&model={{Model}}&dealer={{{DealerId}}}");
            }else{
                $final_url = "//www.toyota.ie/used-cars/index.json#/iframe/" . urlencode("https://assuredusedcars.toyota.ie/forms?form=bookatestdrive&model={{Model}}&dealer={{{DealerId}}}");
            }
            if ($ENV == "test") {
                $final_url = "//assuredusedcarstest.toyota.ie/forms?form=bookatestdrive&model={{Model}}&dealer={{{DealerId}}}";
            }
            ?>
            <div class="desktop">
                <div class="button-no-dealer contact_button">
                    <a href="<?= $final_url ?>"
                       class="uiBtn  fwBtn greyBtn  hasIcon hasIconRight" target="_parent">
                        <span class="text">BOOK A TEST DRIVE</span>
                        <span class="iconBG right">
                                <i class="icon icon-car2"></i>
                            </span></a>
                </div>
            </div>


            <?php
            /* ########## ENQUIRE - DEALER'S WEBSITE:
            test server and live server: opens the form in ajax overlay
            */
            ?>
            <div class="button-dealer contact_button SecContentContainer" data-contenttype="ajax" data-name="Home Page"
                 data-id="contactus">
                <a href="/ajax/forms?carID={{carID}}&dealer={{{DealerId}}}" id="btbar_pane-contact"
                   class=" refactor_deposit secContentTrigger uiBtn  fwBtn greyBtn  hasIcon hasIconRight">
                    <span class="text">ENQUIRE ABOUT THIS CAR</span>
                    <span class="iconBG right">
                                <i class="icon icon-question-sign"></i>
                            </span>
                </a>
            </div>


            <?php
            /* ########## ENQUIRE - ASURED USED CARS PAGE - MOBILE:
            test server: opens the form in it's own page
            live server: opens the form in it's own page
            */


            $final_url = "//assuredusedcars.toyota.ie/forms?form=contactus&carID={{carID}}&dealer={{{DealerId}}}";
            if ($ENV == "test") {
                $final_url = "//assuredusedcarstest.toyota.ie/forms?form=contactus&carID={{carID}}&dealer={{{DealerId}}}";
            }
            ?>
            <div class="mobile">
                <div class="button-no-dealer contact_button">
                    <a href="<?= $final_url ?>"
                       class="uiBtn  fwBtn greyBtn  hasIcon hasIconRight  refactor_deposit_toyota" target="_parent">
                        <span class="text">ENQUIRE ABOUT THIS CAR</span>
                        <span class="iconBG right">
                                <i class="icon icon-question-sign"></i>
                            </span></a>
                </div>
            </div>


            <?php
            /* ##########  ENQUIRE - ASURED USED CARS PAGE - DESKTOP:
            test server: opens the form in it's own page
            live server: opens the form in toyota ajax overlay
            */

            if(isset($_GET["car"])){
                $final_url = "//www.toyota.ie/used-cars/index.json?car=$car#/iframe/" . urlencode("https://assuredusedcars.toyota.ie/forms?form=contactus&carID={{carID}}&dealer={{{DealerId}}}");            }else{
                $final_url = "//www.toyota.ie/used-cars/index.json#/iframe/" . urlencode("https://assuredusedcars.toyota.ie/forms?form=contactus&carID={{carID}}&dealer={{{DealerId}}}");            }

            if ($ENV == "test") {
                $final_url = "//assuredusedcarstest.toyota.ie/forms?form=contactus&carID={{carID}}&dealer={{{DealerId}}}";
            }
            ?>
            <div class="desktop">
                <div class="button-no-dealer contact_button">
                    <a href="<?= $final_url ?>"
                       class="uiBtn  fwBtn greyBtn  hasIcon hasIconRight" target="_parent">
                        <span class="text">ENQUIRE ABOUT THIS CAR</span>
                        <span class="iconBG right">
                                <i class="icon icon-question-sign"></i>
                            </span></a>
                </div>
            </div>


            <?php

            /* ##########  CALL US - MOBILE ONLY - DEALER ANS UAC PAGE:
            test server: opens the form in it's own page
            live server: opens the form in toyota ajax overlay
            */
            $cname = "{{[Contact Name]}}";
            $dname = html_entity_decode($cname);
            $cnumber = "{{ContactNumber}}";
            $cemail = "{{ContactEmail}}";

            //echo $cname;
            //echo $cnumber;
            //echo $cemail;

            if (!($cname != '' && $cnumber != '')) {

                $cname = "";
                $cnumber = "{{../GenericSettings.[0].dealer_contact_number}}";
                $cemail = "{{../GenericSettings.[0].dealer_contact_email}}";
            }
            ?>
            <div class="call-us-btn contact_button">
                <a href="tel:<?php echo preg_replace('/\s+/', '', $cnumber); ?>" id=""
                   class="uiBtn  redBtn  hasIcon  hasIconRight fwBtn">
                    <span class="text"> <span class="dealer">CALL US</span><span
                                class="non-dealer">CALL <?= $dname ?></span></span>
                    <span class="iconBG right">
                                <i class="icon icon-phone"></i>
                            </span>
                </a>
            </div>
            <!--            <div class="contact-us-btn button-dealer contact_button SecContentContainer" data-contenttype="ajax"-->
            <!--                 data-name="Home Page" data-id="contactus2">-->
            <!--                <a href="/ajax/forms?carID={{carID}}" id="btbar_pane-contact"-->
            <!--                   class="secContentTrigger uiBtn  fwBtn redBtn  hasIcon hasIconRight refactor_deposit">Contact Us <i-->
            <!--                            class="icon icon-chevron-right"></i></a>-->
            <!--            </div>-->


        </div>


        <div class="car_finance">
            {{> usedsfinancebox }}
        </div>
    </div>
</div>

<div class="container_12">
    <div class="used-car-details">


        <div class="clear"></div>
        <div class="grid_6">
            <?php
            $mileagekm = '{{Mileage}}';
            $mileagemiles = 0.621371 * $mileagekm;
            ?>
            <!--            <div class="about">
                            <p>&nbsp;</p>
                        </div>-->
            <table class="data content-table">
                <tr>
                    <td>Engine</td>
                    <td>{{#if Engine}}<strong class="ussuredCarValue">{{Engine}}</strong>{{else}}Not Available{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>{{#if Year}}<strong class="ussuredCarValue">{{Year}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Variant</td>
                    <td>{{#if Variant}}<strong class="ussuredCarValue">{{Variant}}</strong>{{else}}Not Available{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Body Type</td>
                    <td>{{#if BodyType}}<strong class="ussuredCarValue">{{BodyType}}</strong>{{else}}Not
                        Available{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Colour</td>
                    <td>{{#if Colour}}<strong class="ussuredCarValue">{{Colour}}</strong>{{else}}Not Available{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Doors</td>
                    <td>{{#if Doors}}<strong class="ussuredCarValue">{{Doors}}</strong>{{else}}Not Available{{/if}}</td>
                </tr>
                <tr>
                    <td>Fuel Type</td>
                    <td>{{#if FuelType}}<strong class="ussuredCarValue">{{FuelType}}</strong>{{else}}Not
                        Available{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Mileage</td>
                    <td>{{#if Mileage}}<strong
                                class="ussuredCarValue"><?php echo number_format($mileagemiles, 0, "", "") ?> M
                            ({{Mileage}} Km)</strong>{{else}}Not Available{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Owners</td>
                    <td>{{#if Owners}}<strong class="ussuredCarValue">{{Owners}}</strong>{{else}}Not Available{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Registration Number</td>
                    <td>{{#if [Registration number]}}<strong class="ussuredCarValue">{{[Registration number]}}</strong>{{else}}Not
                        Available{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Transmission</td>
                    <td>{{#if Transmission}}<strong class="ussuredCarValue">{{Transmission}}</strong>{{else}}Not
                        Available{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{#if Category}}<strong class="ussuredCarValue">{{Category}}</strong>{{else}}Not
                        Available{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>NCT Due Date</td>
                    <td>{{#if [NCT Due Date]}}<strong class="ussuredCarValue">{{[NCT Due Date]}}</strong>{{else}}Not
                        Available{{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{#if Price}}<strong
                                class="ussuredCarValue">€<?php echo number_format(floatval('{{Price}}'), 0, '.', ','); ?></strong>{{else}}Not
                        Available{{/if}}
                    </td>
                </tr>
            </table>


            <?php
            $featuresText = html_entity_decode('{{{Features}}}', ENT_QUOTES, 'UTF-8');
            $features = explode('#', $featuresText);
            if (count($features) > 0 && $featuresText) {
                ?>
                <!--					<iframe class="car_deatails_video" width="560" height="315" src="//www.youtube.com/embed/CnpBgOo-ew0"  allowfullscreen></iframe>-->
                <?php
            }
            ?>

            <h3 class="heading3 contact-dealer-text">Contact <?php echo $dname; ?> on
                <br/><a href='tel:<?php echo $cnumber; ?>'><?php echo $cnumber; ?></a></h3>

            <!--  ################# CAR VIDEO SECTION ################-->
            <?php
            $video = '{{Video}}';
            if (strlen($video) > 5) {

                $urlid = 'none';
                if (strpos($video, "youtube.") != false && strpos($video, "/watch?") != false) {
                    $paramsStr = parse_url($video, PHP_URL_QUERY);
                    parse_str($paramsStr, $params);
                    $urlid = $params['v'];
                } else if (strpos($video, "youtu.be") != false) {
                    $path = parse_url($video, PHP_URL_PATH);
                    $urlid = substr($path, 1);
                }

                ?>

                <div class="used-car-video">
                    <iframe width="100%" height="100%"
                            src="https://www.youtube.com/embed/<?php echo $urlid; ?>/?rel=0&showinfo=0&modestbranding=1"
                            frameborder="0" allowfullscreen></iframe>
                </div>
            <?php } ?>

        </div>
        <div class="grid_6">


            <div class="features">
                <?php
                if (count($features) > 0 && $featuresText) {
                    echo "<h3>Features</h3>";
                    echo "<div class='padding'>";
                    foreach ($features as $feature) {
                        if (!empty($feature))
                            echo '<p><span class="bull">&nbsp;&bull;</span>' . html_entity_decode($feature) . '</p>';
                    }
                    echo "</div>";
                } else {
                    ?>
                    <!--					<iframe class="car_deatails_video" width="560" height="315" src="//www.youtube.com/embed/CnpBgOo-ew0" allowfullscreen></iframe>-->
                    <?php
                }
                ?>
            </div>
            {{#if [Dealer cover]}}
            <div class="dealer-cover-in-features car-details">
                <div class="dealer-cover centerd">
                    <div class="image"><img src="//development.toyota.ie/inc/images/icon_dealercover.png"
                                            alt="dealer coverage"></div>
                    <div class="list">
                        <ul>
                            <li><i class="icon icon-ok"></i><span
                                        class="text">12 Month Unlimited Mileage Warranty</span></li>
                            <li><i class="icon icon-ok"></i><span class="text">24 Month/60,000km Warranty*</span></li>
                            <li><i class="icon icon-ok"></i><span class="text">Free 24 Hour Roadside Assistance</span>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            {{/if}}
        </div>


        <div class="clear"></div>
        <div class="grid_6">
            <!--            <h3 class="heading3 desktop">Contact --><?php //echo $dname; ?><!-- on-->
            <!--                <br/><a href=''>--><?php //echo $cnumber; ?><!--</a></h3>-->
            &nbsp;
        </div>
        <div class="grid_6" style="display: none">
            <div class="blocks">
                <?php if (strtolower('{{Make}}') == 'toyota') { ?>
                    <div class="block block-lc flex_finance_block assuredFlex">
                        <a href='http://finance.toyota.ie' target='_blank'>
                            <div class="icon"><i class="icon icon-car2"></i></div>
                            <div class="text">
                                <div class="padding">
                                    <h4 class="title">Flex Finance</h4>
                                    <p>Drive a brand new {{Model}} from just <span class='finance_price'
                                                                                   data-rel='{{Model}}'>&nbsp;</span>
                                        per
                                        month* with Flex Finance. Get a quote online.</p>
                                </div>
                            </div>
                        </a>
                        <div class="clear"></div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{> socialtoolsprint}}