<div class="" id="resultsAsuredUsedCars">
	<div class="results clearfix list" >
		{{#each docs}}
		<?php
		$class = '';
		if({{@index}}%2==1){
		$class = ' right';
		}
		$thumbnail = '';
		$thumbnails = explode(',', '{{thumbnail}}');
		if(count($thumbnails))$thumbnail = $thumbnails[0];
		if(strrpos($thumbnail, '_thumbnail')==false) $thumbnail = str_replace('.jpg', '_thumbnail.jpg', $thumbnail);

		if($thumbnail=='null') $thumbnail = 'https://development.toyota.ie/inc/images/noimage.jpg';
		$make='{{Make}}';
		$model='{{Model}}';

		if($make!="null" && $model!="null"){
		?>
		<div class="result<?php echo $class; ?>" data-date="{{Year}}" data-price="{{Price}}" data-mileage="{{Mileage}}">
			<div class="image"><a href="/pages/assured-used-car-details/{{carID}}"><img src="<?php echo $thumbnail; ?>" alt="{{carID}}"></a></div>
			<div class="content">
				<div class="padding">
					<h5><a href="/pages/assured-used-car-details/{{carID}}"><span>{{Make}} {{Model}}<br/><?php echo str_replace("null", "", "{{Variant}}");?></span></a></h5>
					<div class="details cardetails">
						{{#if Year}}<span><span class="year ussuredCarValue" >{{Year}}</span></span>{{/if}}
						{{#if Mileage}}<span><span class="bull">&nbsp;&bull;</span> <span class="mileage ussuredCarValue" ><?php echo number_format((double) '{{Mileage}}', 0, '.', ','); ?>km</span></span>{{/if}}
						<br/>
						{{#if FuelType}}<span><span class="ussuredCarValue">{{FuelType}}</span></span>{{/if}}
						{{#if Colour}}<span><span class="bull">&nbsp;&bull;</span> <span class="ussuredCarValue">{{Colour}}</span></span>{{/if}}
						{{#if Transmission}}<span><span class="bull">&nbsp;&bull;</span> <span class="ussuredCarValue">{{Transmission}}</span></span>{{/if}}
						{{#if Location}}<br/><span><span class="ussuredCarValue" style="text-transform:capitalize;"><?php $loc='{{Location}}';
						echo ($loc=='null')?'NA':$loc;
						?></span></span>{{/if}}
					</div>
					<div class="clear"></div>
					<!--					<div class="tax-price">&euro;420.34 Tax per year</div>-->
				</div>
				
				<div class="price" ><?php echo ("{{Price}}"!="0")?"&euro;".number_format(floatval('{{Price}}'), 0, '.', ','):"POA"; ?></div>
				
				<a href="/pages/assured-used-car-details/{{carID}}" class="uiBtn redBtn hasIcon hasIconRight smBtn view-car">
					<span>View car</span>
					<i class="icon icon-chevron-right"></i>
				</a>
			</div>
			<div class="clear"></div>
		</div>
		<?php } ?>
		{{/each}}
		<div class="clear"></div>
	</div>
</div>
<div class="grid_12 padding showMoreGroup" id="showmoreCarsGroup">
	<div class=" filter-bar no-js-hide">
		<div class="fb-inner">
			<ul class="fb-group fb-list">
				<li ><a href="#filter" class=" uiBtn greyBtn showMore" id="showMoreCars"><span class="text">Show More </span>&nbsp; <i class="icon icon-chevron-down"></i></a></li>
				<li class="return_top"><a href="#filter" class=" uiBtn greyBtn" ><span class="text">Back to top</span>&nbsp; <i class="icon icon-chevron-up"></i></a></li>
			</ul>
		</div>
	</div>
</div>


