{{#each content}}
<div class="homepage_carousel">
    {{#each main}}
    {{> carousel}}
    {{/each}}
</div>



{{> usedsearchbox }}


<div class="greyBg">
    <div class="buttonsBar container_12">
        <div class="grid_3" id="call_us_homepage">
            {exp:channel:entries channel="generic_settings" disable="member_data|pagination|trackbacks" status="Open"}
            <a href="tel:<?php echo str_replace(" ", "", "{dealer_contact_number}") ?>" class="uiBtn  darkBtn  hasIcon">Call
                Us<i class="icon icon-phone"></i></a>
            {/exp:channel:entries}
        </div>
        <div class="grid_3">
			<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="contactus2">
				<a href="/ajax/forms" id="btbar_pane-contact" class="secContentTrigger uiBtn  redBtn  hasIcon">Contact Us <i
                            class="icon icon-chevron-right"></i></a>
			</span>
        </div>
        <div class="grid_3">
            <a href="/pages/new-cars" class="uiBtn  redBtn  hasIcon">New Cars<i class="icon icon-chevron-right"></i></a>
        </div>
        <div class="grid_3">
            <a href="/pages/assured-used-cars" class="uiBtn  redBtn  hasIcon">&nbsp;&nbsp;Assured Used Cars<i
                        class="icon icon-chevron-right"></i></a>
        </div>
        <div class="grid_3">
			<span class="SecContentContainer" data-contenttype="ajax" data-name="Home Page" data-id="bookservice2">
				<a href="/ajax/forms" id="btbar_pane-service" class="secContentTrigger uiBtn  redBtn  hasIcon">Request Service<i
                            class="icon icon-chevron-right"></i></a>
			</span>
        </div>
    </div>
</div>




<!--  ################## FEATURED CARS ####################-->
<div class="blue" id="featured_section" data-rel='/ajax/featured-used-cars/{dealer_id}/?blue'>
    <?php $_GET["blue"] = true ?>
    {embed="ajax/featured-used-cars"}
</div>


<!--  ################## HOME IFRAME, this will be displayed with js ####################-->

<?php

$c_iframe = <<<EOT
{exp:json_feed:globlaVariable name='customers_iframe'}
EOT;

if($c_iframe){
    ?>
    <div class="content-block" style="background:white" id="customers_iframe">
        <div class="container_12 clearfix padding">
            <div class="grid_12 center-text section-title">
                <h2 class="heading1">{customers_iframe_title}</h2>
            </div>
        </div>
        <div class="container_12  clearfix">
            <div class="grid_12">
                <div class="customers-iframe" id="customers_iframe_content">{customers_iframe}</div>
            </div>
        </div>
    </div>
    <?php
}
?>

<!--  ################## LATESTO OFFERS & EVENTS ####################-->
<div class="container_12 content-block homepage_offers">
    <div class="section_title">
        <h2 class="heading1">Latest Offers &amp; Events</h2>
    </div>
    {embed="ajax/featured_articles" }
    <div class="clearfix ">&nbsp;</div>
    <div class="grid_12">
        <div class="grid_12 filter-bar no-js-hide">
            <div class="fb-inner">
                <ul class="fb-group fb-list">
                    <li><a href="/pages/offers" class="fb-item uiBtn greyBtn">See All Offers <i
                                    class="icon icon-chevron-right"></i></a></li>
                    <!--						<li><a href="/pages/news"  class="fb-item uiBtn greyBtn" >Watch All News &amp; Events</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>

<!--  ################## MODEL RANGE ####################-->
{{#with model_range.modelrange}}
<div class="content-block">
    <div class="container_12 clearfix padding">
        <div class="grid_12 center-text section-title">
            <h2 class="heading1 padding">New Models</h2>
            <h2 class="heading2">Discover the range of Toyota</h2>
        </div>
    </div>
    <div class="container_12  clearfix">
        <div class="model-list grid_12">
            <div class="modelsHome">
                {{#each items}}
                {{> modelrange}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{/with}}




<!--  ################## NEWS ####################-->
{{#each news}}
{{#this}}
{{> moreabout }}
{{/this}}
{{/each}}
<?php if (!isset($_GET['no_map'])) { ?>
    <div class="container_12 content-block ">
        <div class="grid_12">
            <?php $_GET["no_route"] = true ?>
            {embed="ajax/map"}
        </div>
    </div>
<?php } ?>
{{/each}}



