{{#this}}
{{> submenu}}
{{#each main}}
{{#if image_header}}
{{> hero}}
{{else}}
{{#if generic_content_image_header}}
{{> hero}}
{{else}}
{{> header_small}}
{{/if}}
{{/if}}

<div class="container_12  body-content text-content clearfix">
	<div class="grid_12">
		<div class=" intro-text" >
			<?php echo html_entity_decode('{{single_page_intro}}{{generic_content_page_intro}}'); ?>
		</div>
	</div>
</div>

{{#each paragraphs}}
{{> paragraphs}}
{{/each}}
{{#each generic_content_paragraph}}
{{> paragraphs}}
{{/each}}		
{{/each}}
<?php ob_start(); ?>{{> staff}}<?php $staff = ob_get_flush();?>
<?php
$_GET["infoMap"] = true;
$include_map = "{{#each main}}{{include_map}}{{/each}}";
if ($include_map || $staff) {
	?>
	<div class="container_12  content-block  clearfix" id="getTeamDirectionsMap">
		{embed=ajax/map}
	</div>
	<div class="clear"></div>
	<?php
}
?>
{{> subarticles}}


{{#each main}}			
{{> call_to_actions}}
{{/each}}
{{/this}}


