{{#with metaData.header}}
<header class="parallax header-container padding-large">
	<div class="bg-image-hero bg-image-hero-large">
		<div class="coverBG" style="background-image: url('{{multimedia.[0].desktopImageUrl}}');"></div>
		<div class="hero-inner container_12 container_12_absolute center-text">
			<h1 class="heading1">{{title}}</h1>
			<span class="heading2">{{subtitle}}</span>
		</div>
	</div>
</header>
<!--<div class="parallax padding-large  clearfix" data-layer-parallax>
    <div class="assetWidthContain bg-par">
        <div class="background-layer" style="background-image: url({{multimedia.[0].desktopImageUrl}})" data-height="900" data-width="1600">
        </div>
        <div class="move-into-parallax container_12 container_12_absolute">
            <div class="bg-par">
                <div class="bg-par-inner mainfocus" >
                        <h1 class="heading1">{{title}}</h1>
                        <p class="heading2">{{subtitle}}</p>
                </div>
            </div>
        </div>
    </div>
</div>-->
{{/with}}
{{#each metaData.sections}}
	{{{dynpart this.type}}}
{{/each}}
{{#with metaData.footer}}
	{{> footer}}
{{/with}}