<div class="offer-remote-section">
	{{#each this}}
	{{#if url_title}}
	<div class="container_12">
		<div class="grid_12 center-text section-title">
			<h2 class="heading1">Special offer</h2>
		</div>
		<div class="grid_12 filter-bar no-js-hide">
			<div class="fb-inner">
				<ul class="fb-group fb-list">
					<li><a href="/pages/offers" class="fb-item uiBtn greyBtn" >View all promotions</a></li>
				</ul>
			</div>
		</div>
		<div class="padding">&nbsp;</div>
		<div class="grid_12 padding">
			<img class="fullwidth" src="{{promotion_image}}" alt="promotion image" />
		</div>
	</div>
	<div class="container_12 ">
		<div class="grid_12 ">
			<h1 class="heading1 imageHeding">{{title}}</h1>            
			<span class="heading2"><?php echo html_entity_decode("{{promotion_subtitle}}");?></span>
		</div>
	</div>


	<div class=" container_12 content-block clearfix">
		<div class="grid_12 intro-text text-center">
			<?php echo html_entity_decode("{{promotion_summary}}"); ?>
		</div>
		<div class="offer-remote">
			<div class="grid_12 intro-text text-center">
				<?php echo html_entity_decode("{{metaData.promotion.priceTag}}");?>
			</div>
			<div class="grid_12 intro-text text-center">
				<?php
				$dateStart = substr('{{promotion_date_start}}', 0, -3);
				$dateEnd = substr('{{promotion_date_end}}', 0, -3);
				//echo '<div style="display:none">'.$dateStart.'-'.$dateStart.'</div>';
				?>
				<br/>
				<p class="terms">
					Valid from <?php echo date("F j, Y", $dateStart); ?> to <?php echo date("F j, Y", $dateEnd); ?>
				</p>
				{{#if disclaimer}}
				<p class="full-terms">
					<?php echo strip_tags(html_entity_decode("{{disclaimer}}")); ?>
				</p>
				{{/if}}
			</div>
		</div>
	</div>		
	{{#each promotion_content}}
	{{> paragraphs}}
	{{/each}}
	{{/if}}
	{{/each}}
</div>
{{> socialtools }}
