<?php
$modelTag = "{{metaData.taggingModel}}";
$models = json_decode(@file_get_contents("http://development.toyota.ie/api/new-cars"), true);
//print_r($models);
$mod = "";
$items = $models["modelrange"]["items"];
foreach ($items as $item) {
    if (isset($item["model"]) && isset($item["title"]) && $item["model"] == $modelTag) {
        $mod = strtolower($item["title"]);
        break;
    }
}

$car_link = ($mod != '') ?'/pages/new-car-details/'. str_replace(' ', '-', $mod) . '/index.json' : "";
$car_link_text = ($mod != '') ? ucfirst($mod) : "the Toyota Range";
if(strtolower($mod) == "all new toyota c-hr"){
    $car_link = "https://www.toyota.ie/models/c-hr/index.json";
    $car_link_text = "Toyota C-HR";
}

?>
<div class="offer-remote-section">
    <div class="container_12">
        <div class="grid_12  promotion_image">
            <img class="fullwidth" src="{{{metaData.promotion.largeImage}}}" alt="<?php echo $mod; ?> image"/>
        </div>
        <div class="grid_12">
            <div class="row clearfix remote-offer-intro">
                {{#if metaData.promotion.priceTag}}
                <div class="grid_3" >
                    <div class="price">
                        <strong>
                            {{{metaData.promotion.priceTag}}}
                        </strong>
                    </div>
                </div>
                {{/if}}
                <div class="{{#if metaData.taggingModel}}grid_6{{else}}grid_6{{/if}}">
                    <div class="subtitle">
                        {{{metaData.promotion.subtitle}}}
                    </div>
                    <h2 class="promotion_intro">
                        {{{metaData.promotion.intro}}}
                    </h2>
                </div>
                {{#if metaData.taggingModel}}
                <div class="grid_3">
                    <div class="protion-ctas">

                        <a class="uiBtn  redBtn smBtn fwBtn" href="<?php echo $car_link; ?>" >
                           <i class="icon icon-car2"></i> <span>Explore <?php echo $car_link_text; ?></span>
                        </a>
                        <span class="SecContentContainer brochure" data-contenttype="ajax" data-name="New Car" data-id="brochure">
							<a class="secContentTrigger uiBtn  redBtn  hasIcon smBtn fwBtn" href="/ajax/forms"
                               id="promo_pane-brochure">
                               <i class="icon icon-car2"></i> <span>Request a brochure</span>
                            </a>
						</span>
                        <a class="uiBtn  redBtn  hasIcon smBtn fwBtn" href="http://finance.toyota.ie/" target="_blank" >
                            <i class="icon-finance">€</i> <span>Finance your Toyota</span>
                        </a>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="container_12 remote-offer-intro-title">
        <div class="grid_12 marginpad">
            <h1 class="heading1">{{{metaData.promotion.title}}}</h1>
            <span class="heading2 pomotion_subtitle"></span>
        </div>
    </div>


    <div class=" container_12 content-block clearfix">
        <div class="offer-remote">
            <div class="grid_12 intro-text text-center">
                {{#if metaData.promotion.options.hideValidityDate}}
                {{#if metaData.promotion.disclaimer}}
                <p class="terms">
                    View Disclaimer &nbsp;
                </p>
                {{/if}}
                {{else}}
                <?php
                $dateStart = '{{{metaData.promotion.from}}}';
                $dateEnd = '{{{metaData.promotion.until}}}';
                ?>
                <br/>

                <p class="terms">
                    Valid from <?php echo date("F j, Y", strtotime($dateStart)); ?>
                    to <?php echo date("F j, Y", strtotime($dateEnd)); ?>
                </p>
                {{/if}}

                {{#if metaData.promotion.disclaimer}}
                <p class="full-terms">
                    {{{metaData.promotion.disclaimer}}}
                </p>
                {{/if}}
            </div>
        </div>
    </div>

    {{#each metaData.promotion.sections}}
    {{#if type}}
    {{{dynpart type}}}
    {{else}}{{#if section}}
    {{#each section}}
    {{#if sectionParagraphs}}
    <br/>
    <div class="container_12  body-content sectionParagraphs">
        {{#if title}}
        <div class="grid_12 padding clearfix">
            <span class="heading3 strong">{{{title}}}</span>
        </div>
        {{/if}}
        {{#each sectionParagraphs.paragraphs}}
        {{#if paragraph}}
        <div class="grid_12">
            {{{paragraph}}}
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}
    {{#if items.[0].binary.url}}
    <div class="container_12  body-content">
        <div class="grid_12 padding-large clearfix">
            <img class="fullwidth" src="http://d1hu588lul0tna.cloudfront.net/toyotaone{{items.[0].binary.url}}"
                 alt="highlights design">
        </div>
    </div>
    {{/if}}
    {{/each}}
    {{/if}}{{/if}}
    {{/each}}


    {{#if metaData.relatedPromotions.[0]}}
    {{#with metaData.relatedPromotions}}
    <?php global $grid_6;
    $grid_6 = true ?>
    <div class="padding">&nbsp;</div>
    <div class="container_12 ">
        <div class="grid_12 ">
            <h2 class="heading2">Related offers</h2>
        </div>
    </div>
    <div class="container_12 content-block">
        {{> offers}}
    </div>
    {{/with}}
    {{/if}}


</div>

{{> socialtools }}




