{{#this}}
	{{#if metaData.header}}
		<header class="header-container">
			<div class="bg-image-hero bg-image-hero-med">
				<div class="coverBG" style="background-image: url('{{header.multimedia.[0].desktopImageUrl}}');"></div>
				<div class="hero-inner container_12 container_12_absolute center-text">
					<h1 class="heading1">{{metaData.header.title}}</h1>
					<span class="heading2">{{metaData.header.subtitle}}&nbsp;</span>
				</div>
			</div>
		</header>
	{{/if}}
	{{#each metaData.sections}}
		{{{dynpart this.type}}}
	{{/each}}
{{/this}}
{{#with metaData.footer}}
	{{> footer}}
{{/with}}