{header_allthings}

	<div class="section section-red">
		<div class="container_12">
			<div class="grid_8 centered center-text padding">
				<h1 class="caps">All things awards</h1>
				<div class="logo logo_badge"><img src="assets/images/logo_badge.png" alt="Smiley rosette"></div>
				<p>To the giants, jugglers, soothers and smoothers. To the saints, the shapers and the memory makers. These awards are for the people all over Ireland who are more than they&nbsp;seem.</p>
				<p>Join us on Facebook and Twitter to celebrate the special ones, and for a lucky few, there’ll be some very special prizes to go with their&nbsp;award…</p>
				<br>
				<h3 class="hashtag">#AllThingsToAllPeople</h3>
				<div class="icons">
					<i class="icon icon-twitter"></i>
					<i class="icon icon-facebook"></i>
				</div>
			</div>
		</div>
	</div>
	<div id="comp-frame" class="section">
		<div class="container_12">
			<div class="grid_12 padding">
				<iframe scrolling="no" src="http://rdappshost.com/toyota/allthings" width="100%" frameborder="0"></iframe>
			</div>
		</div>
	</div>
	{embed="components/parallax" image_url="photo_work.jpg"}
	<div class="section">
		<div class="container_12 padding">
			<div class="grid_10 centered center-text section-top">
				<div class="logo rosette">
					<div class="main"><img src="assets/images/rosette_empty.png" alt="Rosette"></div>
					<div class="text"><img src="assets/images/rosette_text_giant.png" alt="Giant"></div>
				</div>
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt aliqua.</h2>
				<h4>- James McDevitt</h4>
			</div>
			<div class="grid_6 right">
				<img class="image" src="assets/images/photo_cian.jpg" alt="Cian">
			</div>
			<div class="grid_6">
				<h5>James McDevitt’s All Things Awards Nominee</h5>
				<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<p class="small">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a href="#" class="uiBtn redBtn hasIcon">
					<span class="text">Enter the All Things Awards</span><i class="icon icon-chevron-right"></i>
				</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{embed="components/socialtools"}
	{embed="components/parallax" image_url="photo_carry.jpg"}
	<div class="section">
		<div class="container_12 padding">
			<div class="grid_10 centered center-text section-top">
				<div class="logo rosette">
					<div class="main"><img src="assets/images/rosette_empty.png" alt="Rosette"></div>
					<div class="text"><img src="assets/images/rosette_text_supporter.png" alt="Giant"></div>
				</div>
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt aliqua.</h2>
				<h4>- Leonie Howlin</h4>
			</div>
			<div class="grid_6">
				<img class="image" src="assets/images/photo_leonie.jpg" alt="Leonie">
			</div>
			<div class="grid_6">
				<h5>Leonie Howlin’s All Things Awards Nominee</h5>
				<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<p class="small">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a href="#" class="uiBtn redBtn hasIcon">
					<span class="text">Enter the All Things Awards</span><i class="icon icon-chevron-right"></i>
				</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{embed="components/socialtools"}
	{embed="components/parallax" image_url="photo_feet.jpg"}
	<div class="section">
		<div class="container_12 padding">
			<div class="grid_10 centered center-text section-top">
				<div class="logo rosette">
					<div class="main"><img src="assets/images/rosette_empty.png" alt="Rosette"></div>
					<div class="text"><img src="assets/images/rosette_text_memorymaker.png" alt="Giant"></div>
				</div>
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt aliqua.</h2>
				<h4>- Jim McDevitt</h4>
			</div>
			<div class="grid_6 right">
				<img class="image" src="assets/images/photo_jim.jpg" alt="Jim">
			</div>
			<div class="grid_6">
				<h5>Jim McDevitt’s All Things Awards Nominee</h5>
				<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<p class="small">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a href="#" class="uiBtn redBtn hasIcon">
					<span class="text">Enter the All Things Awards</span><i class="icon icon-chevron-right"></i>
				</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{embed="components/socialtools"}
	<div class="section section-red">
		<div class="container_12">
			<div class="grid_10 centered center-text padding">
				<h1>Who is all things to you?</h1>
				<p>Join us on Facebook and Twitter to celebrate the special ones, and for a lucky few, there’ll be some very special prizes to go with their award…</p>
				<p>Share your photo with the <strong>#AllThingsAwards</strong> hashtag for your chance to&nbsp;win.</p>
				<br>
				<h3 class="hashtag">#AllThingsToAllPeople</h3>
				<br>
				<div class="icons">
					<i class="icon icon-twitter"></i>
					<i class="icon icon-facebook"></i>
				</div>
				<br>
				<br>
				<br>
				<div class="logo logo_badge small"><img src="assets/images/logo_badge.png" alt="Smiley rosette"></div>
			</div>
		</div>
	</div>
	{embed="components/socialtools"}
{footer_allthings}


