<?php
global $dmodels;
$jsonstring = '{exp:json_feed:print_feed src="{insecure_site_url}/api/new-cars" section="modelrange"}';
$dmodels = json_decode($jsonstring)->modelrange->items;

error_reporting(E_ERROR & ~E_NOTICE);

require_once (APPPATH."third_party/recaptcha/ReCaptchaToken.php");
global $recaptchaToken;
$config = array('site_key' => '6LdFzxcTAAAAAKSDS13NbH3EZi7_3cM8eMTTeXaZ', 'site_secret' => '6LdFzxcTAAAAAK53_n84itPQM-x_9AoKQh9K1jCH');
$recaptchaToken = new \ReCaptchaSecureToken\ReCaptchaToken($config);
?>
<nav class="toyota-tabs-select container form_nav">
	<div class="container_12 clearfix">
		<div class="grid_12">
			<?php if (isset($_GET["form"]) && $_GET["form"] === "service") {
				?>
				<span class="form_nav_item tabtrigger"  data-tab="pane-service-tab">Book a service</span>
				<script type="text/javascript">var formPageView = "form-submit/book-service";</script>
				<?php
			} else {
				?>
				<span class="form_nav_item tabtrigger"  data-tab="pane-contact-tab">Contact Us</span>
				<script type="text/javascript">var formPageView = "form-submit/contact-us";</script>	
			<?php }
			?>
		</div>
	</div> 
</nav>

<div>
	<div class="" id="form_tabs">
		<?php if (isset($_GET["form"]) && $_GET["form"] === "service") {
			?>
			<div class="tabContent" id="pane-service-tab">
				{embed="services_toyota:ajax/bookaservice"}
			</div>
			<?php
		} else {
			?>
			<div class="tabContent" id="pane-contact-tab">
				{embed="services_toyota:ajax/contactus"}
			</div>
		<?php }
		?>
	</div>
</div>	


<script>
	var inputs = ['test_emails', 'emails', 'test_email', 'emailer'];

	for (k = 0; k < inputs.length; k++) {
		var test_input = document.getElementsByName(inputs[k]);

		var i;
		for (i = 0; i < test_input.length; i++) {
			test_input[i].setAttribute("style", "display:none;");
		}
	}

</script>
<script type="text/javascript">

	initForms();

	var x = window.location.href.split("/");
	x = x[x.length - 1].split("_");
	var $currentTab = $("#" + x[x.length - 1] + "-tab");
	var $currentControl = $(".tabtrigger[data-tab='" + x[x.length - 1] + "-tab']");
	$currentControl.addClass("active");
	$currentTab.show();
	//send google analytics pageview for contact forms
	if (typeof ga !== "undefined") {
		console.log(ga);
		//ga('send', 'pageview',"/forms/"+$currentControl.text().replace(/ /g,"-"));
	}

	$(".form_container input[data-validation]").each(function (index) {
		var $input = $(this);
		var $parent = $input.parent();
		var $title = $parent.find(".title1");
		var icon = $title.find("i").detach();
		$title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
		$title.append(icon);
		//$title.prepend("<span class='requiredField'>* </span>");
	});
	$(".form_container .select").each(function (index) {
		var $select = $(this);
		if ($select.find("select[data-validation]").length) {
			var $parent = $select.parent();
			var $title = $parent.find(".title1");
			var icon = $title.find(">*").detach();
			$title.html($title.text().trim() + "<span class='requiredField'>* </span>  &nbsp;&nbsp;");
			$title.append(icon);
		}
	});

	$('.tabtrigger').click(function () {
		$currentControl.removeClass("active");
		$(this).addClass("active");
		var id = $(this).data("tab").replace("-tab", "");
		var secWindow = $("#" + id).parents(".SecContentContainer").data("id");
		var $nextTab = $("#" + id + "-tab");
		window.location.hash = "/" + secWindow + "/" + id;
		$currentTab.hide();
		$nextTab.show();
		$currentTab = $nextTab;
		$currentControl = $(this);
	});


	$("input.datepicker").datepicker({
		minDate: +3,
		maxDate: "+1M +20D",
		beforeShowDay: $.datepicker.noWeekends
	});



	loc = document.URL;
	if (loc.indexOf("new-car-details") != -1) {

		start = loc.indexOf("new-car-details");
		sub1 = loc.substring(start + 16, loc.length);
		end = sub1.indexOf("/");
		carmodel = sub1.substring(0, end);

		$.each($('select[id=model] option'), function () {
			mod = $(this).val().toLowerCase();
			mod = (mod != 'new avensis') ? mod : 'avensis';
			if (mod == carmodel) {

				$(this).prop('selected', 'true');
				$('select[id=model]').parent().find('.value').text($(this).text());
			}
		});

		$('select[id=model]').change(function () {
			mod = $(this).find(':selected').val().toLowerCase();
			if (mod != 'new avensis') {
				$('#selecttype option[value!=Post]').removeAttr('disabled');
			} else {
				$('#selecttype option[value=Post]').prop('selected', 'true');
				$('#selecttype').trigger('change');
				$('#selecttype option[value!=Post]').prop('disabled', 'true');
			}
		});
	}



	//Recaptcha
	var captchas = [];
	$(".tabContent").each(function () {
		var $tab = $(this);
		var $captcha = $tab.find(".g-recaptcha");
		if($captcha.length == 0)
			return;
		var tabId = $tab.attr("id");
		captchas[tabId] = {
			tab : $tab,
			captcha : $captcha,
			verifyCallback : function(){
				alert("tab : "+tabId);
			}
		};
//		console.log("tab : "+tabId);
//		console.log($captcha[0]);
		grecaptcha.render($captcha[0], {
			'sitekey' : $captcha.data("sitekey"),
			'theme' : 'light',
			stoken:$captcha.data("stoken"),
			'callback': function () {
				$tab.find(".hiddencaptcha").prop('checked', true);
				$tab.find(".form-error").hide();
			}
		});
	});



	if (typeof ga !== 'undefined') {
		ga('send', 'pageview', formPageView);
	} else if (typeof _gaq !== 'undefined') {
		_gaq.push(['_trackPageview', formPageView]);
	}

<?php
if (isset($_GET["form"]) && $_GET["form"] === "service") {
	?>
		var booksericeView = new BookServicesFormView();
	<?php
}
?>
</script>




