
<?php

$action = filter_input(INPUT_GET, 'action', FILTER_SANITIZE_SPECIAL_CHARS);

switch ($action) {
	
	case "booktestdriveform":
		echo '<div class="content-block">'.
				'<div class="container_12 clearfix padding">'.
				'<div class="grid_12 center-text section-title">'.
					'<h3 class="heading1 padding">Thank you for booking your Test Drive at {site_name}</h3>'.
					'<h3 class="heading2 padding">You\'ll be contacted as soon as possible to confirm your booking</h3>'.
				'</div>'.
			'</div>';
		break;

	case "contactusform":
		echo '<div class="content-block">'.
				'<div class="container_12 clearfix padding">'.
				'<div class="grid_12 center-text section-title">'.
					'<h3 class="heading1 padding">Thank you for contacting {site_name}</h3>'.
					'<h3 class="heading2 padding">You\'ll be contacted back as soon as possible</h3>'.
				'</div>'.
			'</div>';
		break;

	case "bookserviceform":
		echo '<div class="content-block">'.
				'<div class="container_12 clearfix padding">'.
				'<div class="grid_12 center-text section-title">'.
					'<h3 class="heading1 padding">Thank you for booking your service at {site_name}</h3>'.
					'<h3 class="heading2 padding">You\'ll be contacted as soon as possible to confirm your booking</h3>'.
				'</div>'.
			'</div>';
		break;

	case "requestbrochure":
		echo '<div class="content-block">'.
				'<div class="container_12 clearfix padding">'.
				'<div class="grid_12 center-text section-title">'.
					'<h3 class="heading1 padding">Thank you for requesting a brochure at {site_name}</h3>'.
					'<h3 class="heading2 padding">Your brochure will be sent to you as soon as possible</h3>'.
				'</div>'.
			'</div>';
		break;

	default:
		break;
}

?>


