.fixedfix { position: absolute !important; }

.master-wrapper { position: relative; top: -22px; }

.caps { text-transform: uppercase; }
.centered { margin: 0 auto !important; float: none !important; }
.image { width: 100%; display: block; margin-bottom: 1.5em;}
.right { float: right !important; }

/*
	grey_light:	#E7E7E7
	grey: 		#DEDFE0
	grey_med: 	#AAAAAA
	grey_dark:  #141517
	red: 		#CC0033

*/

.heading1, h1 { font-size: 4.13em; line-height: 1.09em; margin-bottom: 0.6em; }
.heading2, h2 { font-size: 2.5em; line-height: 1.2em; margin-bottom: 1em; font-family: toyotadisplay_bd;
		&.heading-footer { margin: 0; padding-top: 1em; }
	}
.heading4, h4 { font-size: 1.88em; }

.rotate {
	-ms-transform: skew(-10deg,0deg) rotate(-7deg); /* IE 9 */
    -webkit-transform: skew(-10deg,0deg) rotate(-7deg); /* Chrome, Safari, Opera */
    transform: skew(-10deg,0deg) rotate(-7deg);
    margin-bottom: 1em;
 }

h5 { font-size: 1.06em; font-family: toyotatext_bd; margin-bottom: 0.6em; }

p { font-size: 1.5em; line-height: 1.25em; margin-bottom: 1em; }
p.small { font-size: 0.94em; color: #6C7073; }

.hashtag { font-size: 2.13em; line-height: 1.18em; margin-bottom: 0.6em; font-family: toyotatext_bd; }

.icons { font-size: 2.5em;}
i.icon-twitter { margin-right: 0.2em; }

.rosette { position: relative; width: 23%; margin: 0 auto 3em; }
	.rosette .text { position: absolute; top:14%; width: 64%; margin: 0 19%; }

.section { background:#fff; }
	.section-top { padding-bottom: 5em; }

	.section.section-red { background:#CC0033; color: #fff; }
	.section.section-green { background:#cc0033 url(../images/bg_red_pics.jpg) repeat center top; color: #fff; }
		.section.section-red h1,.section.section-green h1,
		.section.section-red h2,.section.section-green h2,
		.section.section-red h3,.section.section-green h3,
		.section.section-red h4,.section.section-green h4,
		.section.section-red p ,.section.section-green p { color:#fff; }

	.section .padding { padding: 6em 0; }
	.section .padding-top { padding: 6em 0 0; }
	.section .padding-bottom { padding: 0 0 6em; }

.nomination-quote { position: relative; }


.navigation-links { list-style: none; }
.navigation-link { margin-bottom: 1em; }
.navigation-link img { width: 100%; }
.navigation-link a:hover .padding {  background-color: rgba(255,255,255,0.15); }
.navigation-link a .padding { transition: all 0.66s ease; padding: 1em; background-color: rgba(255,255,255,0.1); }
.navigation-link .padding .image { margin-bottom: 1em; }
.navigation-link .padding .link { color: #fff; font-size: 25px; display: block; }

.logo img { width: 100%; display: block; }
.logo_badge { width: 40%; margin: 0 auto; margin-bottom: 3em; }
.logo_badge.small { width: 22%; }

.primary-nav { z-index: 100; }
.page-transition-slider { z-index: 200 !important; }
.bg-par .bg-par-inner .heading1 { margin-bottom: 0.5em; }


.primary-nav-outer .large-nav .search-container { display: none; }
.menu-open .primary-nav-outer .breadcrumb { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; }

.social-tools-list { position: absolute; right: 0; top: -0.5em; margin-top:0; }

.play-icon-large { display: block; }

#search-container { position: relative; }
	#search-container #search { font-size: 1.2em; padding: 0.5em 0.8em; margin-bottom: 0;
		&.clearFieldBlurred { color: #888; }
	}
	#search-container i { font-size: 1.69em; position: absolute; top: 0.35em; right: 0.35em; }

#search-info { padding: 1em 0; text-align: center; color: #888; font-size: 0.8em; position: absolute; right: 3.5em; top: 0.02em; display: none; }

#winners { margin-bottom: 3em; }

.story { margin-bottom: 3em; background: #f6f6f6;
	.story-image .image { margin-bottom: 0; }
	.story-about,.story-image { position: relative; float: left; width:50%; }
	.rosette { left: 0; margin: 2em auto 3em; width: 30%; }
	.quote { font-size: 1.5em; line-height: 1.2em; font-family: toyotadisplay_bd; margin: 0 3em 1em; letter-spacing:0; }
	.who { font-family: toyotatext_rg; font-size: 1.19em; line-height: 1.26em; }

	&.right { float: none !important;
		.story-about { float: right; }
	}
}



#image-popup { position: absolute; z-index: 10; background: #CC0033; color: #FFF; text-align: center; width: 300px; max-width: 300px;
		-webkit-border-radius: 3px;	-moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px;	border-radius: 3px;
		-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5); box-shadow: 1px 1px 20px rgba(0,0,0,0.6);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;

	.padding { margin: 2em; padding: 0; position: relative; }
	.close { color: white; position: absolute; top: -1em; right: -1em;
			.text { position: relative; top: -0.1em; left: -0.1em; font-size: 0.9em;
				&:hover { text-decoration: underline; }
			}
		}
	.rosette { width: 70%; margin: 0.5em auto 1.5em; 
			.text { top: 16%; width: 62%; }
		}
	.nominee { font-size: 1.38em; font-family: toyotadisplay_bd; }
	.nomiater { font-size: 1.25em; font-family: toyotadisplay_rg; }
}

#images{ background: #f0f0f1; margin-bottom: 3em; position: relative; }
#image-list p { margin:0; padding: 1.5em 0; }
.image-block { width:20%; float: left; background: #f0f0f1; cursor:pointer;
	.loader { text-align: center; vertical-align:center; width:100%;
		img { transition: none; width: auto; position: relative; width: 16px; height: 16px; }
	}
	img { transition: all 0.3s ease; width: 100%; height: 100%; }

	&:hover {
		.loader img { width: 16px; height: 16px; margin:0; }
		img { width: 95%; height: 95%; margin: 2.5%; }
	}
}

.show-more { border-top: 1px solid #B7B8B9; text-align: center; }
	.show-more a { position: relative; top: -25px; }

@media only screen and (min-width: 0em){
	.social-tools-section h3 { font-size: 1.1em; }
	.social-tools-list { position: relative; margin-top: 1.6em; }

	.play-icon-large { display: inline-block !important; margin-top: 14%; }
	.heading1, h1 { font-size: 2.13em; }
	.heading2, h2 { font-size: 24px; line-height: 26px; }
	.heading4, h4 { font-size: 19px; line-height: 20px; }

	.rotate {
		-ms-transform: none; /* IE 9 */
	    -webkit-transform: none; /* Chrome, Safari, Opera */
	    transform: none;
	    margin-bottom: 0.5em;
	 }

	.section.section-green { background-size: 150% auto; }

	.hashtag { font-size: 1.5em; }

	.rosette { width: 40%; margin: 0 auto 1.5em; }

	p { font-size: 1em; }

	.section-top { padding-bottom: 2em; }
	.section .padding { padding: 2.5em 0; }
	.section .padding-top { padding: 2.5em 0 0; }

	.logo_badge { width: 70%; margin: 0 auto; margin-bottom: 2em; }
	.logo_badge.small { width: 40%; }

	.story { margin-bottom: 1em;
		.story-about,.story-image { float: none; width:auto; }
		.story-about { padding: 1em 0;
			.rosette { left: 0; margin: 0 auto 1em; width: 30%; }
			.quote {  font-size: 1em; margin: 0 1em 1em; }
			.who { font-size: 1em; }
		}
		.story-image .image { margin-bottom: 0; }
		&.right { 
			.story-about { float: none; }
		}
	}

	.image-block { width:33.33%; }
}

@media only screen and (min-width: 30em){
	.logo_badge { width: 40%; }
	.rosette { width: 20%; }

	.story {
		
		.story-about {
			.rosette { left: 0; margin: 1em auto 2em; width: 25%; }
			.quote {  margin: 0 1em 1em; }
			
		}

	}

	.image-block { width:25%; }
}

@media only screen and (min-width: 48em){

	.social-tools-list { position: absolute; right: 0; top: -0.5em; margin-top:0;}

	.heading1, h1 { font-size: 4.13em; }
	.heading2, h2 { font-size: 2.5em; line-height: 1.2em; margin-bottom: 1em; }
	.heading4, h4 { font-size: 1.88em; }

	.rotate {
		-ms-transform: skew(-10deg,0deg) rotate(-7deg); /* IE 9 */
	    -webkit-transform: skew(-10deg,0deg) rotate(-7deg); /* Chrome, Safari, Opera */
	    transform: skew(-10deg,0deg) rotate(-7deg);
	    margin-bottom: 1em;
	 }

	.section.section-green { background-size: auto auto; }
	.section .padding-top { padding: 6em 0 0; }
	.section .padding-bottom { padding: 0 0 6em; }

	.hashtag { font-size: 2.13em; }

	.rosette { width: 23%; margin: 0 auto 3em; }

	p { font-size: 1.5em; line-height: 1.25em; margin-bottom: 1em; }

	.section-top { padding-bottom: 5em; }
	.section .padding { padding: 6em 0; }

	.logo_badge { width: 40%; margin: 0 auto; margin-bottom: 3em; }
	.logo_badge.small { width: 22%; }

	.story {
		
		.story-about {
			.quote { font-size: 1.2em; margin: 0 1em 1em; }
			.rosette { left: 0; margin: 1em auto 2em; width: 25%; }

			.quote,.who {  font-size: 1.1em; }
		}
		
		.story-about,.story-image { float: left; width:50%; }
		&.right {
			.story-about { float: right; }
		}
		
	}

	.image-block { width:20%; }
}

@media only screen and (min-width: 62em){
	.social-tools-section h3 { font-size: 23px; }

	.story {
		.story-about {
			.rosette { left: 0; margin: 2em auto 3em; width: 30%; }
			.quote { margin: 0 3em 1em; }
		}
	}
}

@media only screen and (min-width: 70em){
	
}




