#home { max-width:640px; margin: 0 auto; }

.shadow {
	-webkit-box-shadow: 1px 1px 30px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 30px 1px rgba(0,0,0,0.2);
}

.success { display: none; }

.step { margin-bottom: 2em;
	h2 { margin-bottom: 0.5em; }
	h4 { margin-bottom: 1em; }
	.intro { margin-bottom: 1em; }
}

#creator #image_box{position:relative;background:#ccc;margin: 0 auto 1em;width:640px;height:640px;overflow:hidden;}
#toggleOverlay { position: absolute; bottom: 10px; right: 10px; z-index: 50; }
	#toggleOverlay.bigger{ -webkit-transform: scale(1.5); -ms-transform: scale(1.5);
	-o-transform: scale(1.5); transform: scale(1.5); right: 45px; bottom: 15px; }

.next-info { font-size: 0.9em; color:#6c7073; margin-left: 1em; }

#photo-preview-box,#photo-preview-box2 { width:150px; background: #E5E5E5; border: 1px solid #B0B1B2; display: none; overflow:hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
#photo-preview-box img,#photo-preview-box2 img { width:100%; } 

#creator #filter{position:absolute;z-index:15;pointer-events:none;width:640px;height:640px;top:0px;left:0px}
#creator #filter_outline{display:none;position:absolute;z-index:10;pointer-events:none;width:640px;height:640px;top:0px;left:0px}
#creator #containment{position:relative;z-index:5}
#creator #containment img{cursor:move;position:relative}

#creator #controls {  }
#creator #controls p{line-height:25px}

#creator #slider_container{position:relative}
#creator #slider_container .minus{position:absolute;top:-12px;left:10px;height:25px;width:25px;background:transparent url(../images/slider_minus.png) no-repeat top left}
#creator #slider_container .plus{position:absolute;top:-12px;right:10px;height:25px;width:25px;background:transparent url(../images/slider_plus.png) no-repeat top left}

#creator #simple-slider{height:1px;border:none;background:black;margin:17px 45px 0;position:relative}
#creator #simple-slider .handle{cursor:pointer;width:12px;border:1px solid black;background:white;border-radius:0;margin-top:-14px;height:27px;position:absolute}

#creator .mover{float:left;height:25px;width:25px;background:transparent url(../images/mover.png) no-repeat top left}
#creator #repositioner{margin-bottom:1em}#creator #repositioner p{margin-left:0.5em;float:left}

#step1,#step2,#step3,#step4,#step5,#step6,#image_box,#stepUpload { display: none; }

#step4 { padding-top: 1em; }

#step6 textarea { margin-bottom: 0em; }

#repositioner { }
#resizer { margin: 0 0 1em; }


#message{ position:relative}
#message .tagmate-container{ }
#message .tagmate-container textarea { color: #fff; }
#message .tagmate-container .menu{padding:0 10px 3px; position:absolute;top:95px;background:#e4e4e4;padding-top:3px;border-top:1px solid #939393;width:460px;z-index:10}
#message .tagmate-container .menu .option{cursor:pointer;background:#333;color:white;display:inline;padding:0 3px;margin-right:3px;line-height:1.55em}
#message .tagmate-container .menu .option:hover{background:#3b98da}
#message .tagmate-hiliter { z-index:1; margin: 0; padding: 13px 11px; cursor:text; pointer-events: none;
	.tag { color: #cc0000; }
}

#char-count { font-size: 0.88em; color:#999; }
#char-count.warning { color: #ff9000; }
#char-count.empty { color: #ff0000; display: block; }


.step { text-align: left; width: auto; display: block; margin: 0 auto;
	h3 { margin-bottom: 0.6em; }
	h4 { }
	.row { margin-bottom: 1em;
		label { margin-bottom: 0.5em; display: block;
			i { margin-left: 0.5em; }
		}
		.input.checkbox i { float: left; cursor: pointer; position: relative; top: 0.25em; margin-right: 0.2em; }
		.input.invalid {
				input,textarea { border: 1px solid #cc0000; background: #ff9999; }
			}
		.input.invalid .error { display: block; }
		input { margin-bottom:0; }
		textarea { padding: 10px; margin-bottom: 0; }

		input,textarea {
			&.clearFieldBlurred { color:#999999; }
		}

	}

	.error { color:red; font-style: italic; display: none; margin-top: 0.5em; }
	&.invalid .error { display: block; }

	
	.uiBtn .loader { display: none; }

	.uiBtn.loading {
		.loader { display: inline; }
		.text { display: none; }
	}
}

@media only screen and (max-width:400px){
	.next-info { display: block; margin-left: 0; margin-top: 1em; }
}