
<form action="/ajax/formsubmit?action=bookaservice" method="POST" id="bookserviceform" class="contactform">
	<input type="hidden" name="oid"				id="oid"					value="00Db0000000HWqf">
	<input type="hidden" name="00Nb0000002AKok"	id="dealer"					value="{dealer_id}">
	<input type="hidden" value="012b0000000aZax" name="recordType">
	<input type="hidden" value="Web Customer Service" name="subject" id="subject">
	<input type="hidden" name="XID" value="{XID_HASH}" />

	<div class="container_12">
		<div class="grid_12 header">
				<h2>Request a service at {site_name}</h2>
				<span class="intro"></span>
		</div>
	</div>
	
	<div class="container_12 nop">
		<div class="grid_6 nop">
			<div class="container_12">
				<div class="grid_6">
					<h4 class="title1">Salutation &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
					<div class="select">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						<select name="salutation" id="salutation" data-validation="select">
							<option value="no_selection">...</option>
							<option value="Dr">Dr</option>
							<option value="Mr">Mr</option>
							<option value="Ms">Ms</option>
						</select>
					</div>
				</div>
			</div>
			<div class="container_12">
				<div class="grid_6">
					<h4 class="title1">First Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
					<input  id="first_name" maxlength="40" name="first_name"  type="text" placeholder="Name" data-validation="required"/>
				</div>
				<div class="grid_6">
					<h4 class="title1">Last Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
					<input  id="last_name" maxlength="80" name="last_name"  type="text" placeholder="Surname" data-validation="required"/>
				</div>
			</div>
			<div class="container_12 extraspace">
				<div class="grid_6">
					<h4 class="title1">Email &nbsp;&nbsp; <i class="icon icon-envelope-alt"></i></h4>
					<input  id="email" maxlength="80" name="email"  type="text" placeholder="your@email.com" data-validation="email"/>
				</div>
				<div class="grid_6">
					<h4 class="title1">Phone &nbsp;&nbsp; <i class="icon icon-phone"></i></h4>
					<input  id="phone" maxlength="14" name="phone"  type="text" placeholder="08 ..." data-validation="number"/>
				</div>
			</div>
		</div>
		<div class="grid_6 nop">


			<div class="container_12">
				<div class="grid_6">
					<h4 class="title1">Make </h4>
					<div class="select">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						<select name="make" id="make" data-validation="select">
							<option value="Toyota" selected="">Toyota</option>
							<option value="AC">AC</option>
							<option value="Aixam">Aixam</option>
							<option value="Alfa Romeo">Alfa Romeo</option>
							<option value="Asia">Asia</option>
							<option value="Aston Martin">Aston Martin</option>
							<option value="Audi">Audi</option>
							<option value="Austin">Austin</option>
							<option value="Bentley">Bentley</option>
							<option value="BMW">BMW</option>
							<option value="Bristol">Bristol</option>
							<option value="Cadillac">Cadillac</option>
							<option value="Caterham">Caterham</option>
							<option value="Chevrolet">Chevrolet</option>
							<option value="Chrysler">Chrysler</option>
							<option value="Citroen">Citroen</option>
							<option value="Dacia">Dacia</option>
							<option value="Daewoo">Daewoo</option>
							<option value="Daihatsu">Daihatsu</option>
							<option value="Daimler">Daimler</option>
							<option value="De Tomaso">De Tomaso</option>
							<option value="Dodge">Dodge</option>
							<option value="Ferrari">Ferrari</option>
							<option value="Fiat">Fiat</option>
							<option value="Ford">Ford</option>
							<option value="FSO">FSO</option>
							<option value="HMC">HMC</option>
							<option value="Honda">Honda</option>
							<option value="Hyundai">Hyundai</option>
							<option value="Isuzu">Isuzu</option>
							<option value="Jaguar">Jaguar</option>
							<option value="Jeep">Jeep</option>
							<option value="Kia">Kia</option>
							<option value="Lada">Lada</option>
							<option value="Lamborghini">Lamborghini</option>
							<option value="Lancia">Lancia</option>
							<option value="Land Rover">Land Rover</option>
							<option value="Lexus">Lexus</option>
							<option value="Ligier">Ligier</option>
							<option value="Lonsdale">Lonsdale</option>
							<option value="Lotus">Lotus</option>
							<option value="M.G.">M.G.</option>
							<option value="MacNeillie">MacNeillie</option>
							<option value="Marcos">Marcos</option>
							<option value="Marlin">Marlin</option>
							<option value="Maserati">Maserati</option>
							<option value="Mazda">Mazda</option>
							<option value="Mercedes-Benz">Mercedes-Benz</option>
							<option value="Microcar">Microcar</option>
							<option value="Mini">Mini</option>
							<option value="Mitsubishi">Mitsubishi</option>
							<option value="Morgan">Morgan</option>
							<option value="Morris">Morris</option>
							<option value="Nissan">Nissan</option>
							<option value="Opel">Opel</option>
							<option value="Other">Other</option>
							<option value="Perodua">Perodua</option>
							<option value="Peugeot">Peugeot</option>
							<option value="Porsche">Porsche</option>
							<option value="Proton">Proton</option>
							<option value="Reliant">Reliant</option>
							<option value="Renault">Renault</option>
							<option value="Rolls-Royce">Rolls-Royce</option>
							<option value="Rover">Rover</option>
							<option value="Saab">Saab</option>
							<option value="Sao">Sao</option>
							<option value="Seat">Seat</option>
							<option value="Sebring">Sebring</option>
							<option value="Simca">Simca</option>
							<option value="Skoda">Skoda</option>
							<option value="Smart Car">Smart Car</option>
							<option value="Spectre">Spectre</option>
							<option value="Ssangyong">Ssangyong</option>
							<option value="Startins">Startins</option>
							<option value="Subaru">Subaru</option>
							<option value="Suzuki">Suzuki</option>
							<option value="Talbot">Talbot</option>
							<option value="Tata">Tata</option>
							<option value="Toyota">Toyota</option>
							<option value="Triumph">Triumph</option>
							<option value="TVR">TVR</option>
							<option value="Vauxhall">Vauxhall</option>
							<option value="Venturi">Venturi</option>
							<option value="Volkswagen">Volkswagen</option>
							<option value="Volvo">Volvo</option>
							<option value="Westfield">Westfield</option>
							<option value="Yugo">Yugo</option>
						</select>
					</div>
				</div>
				<div class="grid_6">
					<h4 class="title1">Model  &nbsp;&nbsp; <i class="icon icon-car2"></i></h4>
					<div class="select">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						<select name="model" id="model" data-validation="select">
							<option value="">Select Model</option>
							<option value="Amazon"> Amazon</option>
							<option value="Auris"> Auris</option>
							<option value="Auris Hybrid"> Auris Hybrid</option>
							<option value="Auris Touring Sports"> Auris Touring Sports</option>
							<option value="Auris Van"> Auris Van</option>
							<option value="Avensis"> Avensis</option>
							<option value="Avensis Verso"> Avensis Verso</option>
							<option value="Aygo"> Aygo</option>
							<option value="Camry"> Camry</option>
							<option value="Carina"> Carina</option>
							<option value="Carina E"> Carina E</option>
							<option value="Celica"> Celica</option>
							<option value="Corolla"> Corolla</option>
							<option value="Corolla Van"> Corolla Van</option>
							<option value="Corolla Verso"> Corolla Verso</option>
							<option value="Dyna"> Dyna</option>
							<option value="Glanza"> Glanza</option>
							<option value="GT86"> GT86</option>
							<option value="Hiace"> Hiace</option>
							<option value="Hilux"> Hilux</option>
							<option value="iQ"> iQ</option>
							<option value="Landcruiser 100"> Landcruiser 100</option>
							<option value="Landcruiser Comm"> Landcruiser Comm</option>
							<option value="Landcruiser Pass"> Landcruiser Pass</option>
							<option value="Landcruiser VX/V8 "> Landcruiser VX/V8 </option>
							<option value="MR2"> MR2</option>
							<option value="Paseo"> Paseo</option>
							<option value="Picnic"> Picnic</option>
							<option value="Previa"> Previa</option>
							<option value="Prius"> Prius</option>
							<option value="Prius-Plus"> Prius-Plus</option>
							<option value="Proace"> Proace</option>
							<option value="RAV4"> RAV4</option>
							<option value="Starlet"> Starlet</option>
							<option value="Supra"> Supra</option>
							<option value="Urban Cruiser"> Urban Cruiser</option>
							<option value="Verso"> Verso</option>
							<option value="Verso-S"> Verso-S</option>
							<option value="Yaris"> Yaris</option>
							<option value="Yaris T Sport"> Yaris T Sport</option>
							<option value="Yaris Verso"> Yaris Verso</option>
						</select>
					</div>
				</div>
			</div>
			<div class="container_12 ">
				<div class="grid_6">
					<h4 class="title1">Year  </h4>
					<div class="select">
						<div class="value"></div>
						<i class="icon icon-chevron-down"></i>
						<select name="year" id="year" data-validation="select">
							<option value="no_selection">...</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2000">2000</option>
						</select>
					</div>
				</div>
				<div class="grid_6">
					<h4 class="title1">Mileage </h4>
					<input  id="mileage"  name="mileage"  type="text" placeholder="KM" data-validation="number"/>
				</div>
			</div>
			<div class="container_12 extraspace">
				<div class="grid_6">
					<h4 class="title1">Preferred Date 1 </h4>
					<input  id="preferred_date1"  name="preferred_date1" class="datepicker" type="text" placeholder="Month/Day/Year" data-validation="date"  data-validation-format="mm/dd/yyyy"/>
				</div>
				<div class="grid_6">
					<h4 class="title1">Preferred Date 2 </h4>
					<input  id="preferred_date2"  name="preferred_date2"  class="datepicker" type="text" placeholder="Month/Day/Year" data-validation="date" data-validation-format="mm/dd/yyyy"/>
				</div>
			</div>

		</div>
	</div>

	<!--div class="container_12">
		<div class="grid_6">
			<h4 class="title1">Subject </h4>
			<input  id="subject"  name="subject"  type="text" placeholder="Subject" data-validation="required"/>
		</div>
	</div-->
	<div class="container_12 ">
		<div class="grid_12">
			<h4 class="title1">Comment </h4>
			<textarea id="comments"  name="comments"  placeholder="leave any comment here."></textarea>
		</div>
	</div>

	<div class="container_12  extraspace">
		<div class="grid_6">
			<h4 class="title1 subheading-text">Get Notifications</h4>
			<div class="check-boxes clearfix notifications">

				<div class="checkbox-row ">
					<h4 class=" subheading-text">By Letter</h4>
					<div class=" radio clearfix">
						<input id="letter_y" type="radio" name="00Nb0000003FNoq" value="Yes">
						<label for="letter_y">Yes</label>
					</div>
					<div class=" radio clearfix">
						<input id="letter_n" type="radio" name="00Nb0000003FNoq" value="No">
						<label for="letter_n">No</label>
					</div>
				</div>
				<div class="checkbox-row ">
					<h4 class=" subheading-text">By Email</h4>
					<div class=" radio clearfix">
						<input id="emailoptin_y" type="radio" name="00Nb0000003FNop" value="Yes">
						<label for="emailoptin_y">Yes</label>
					</div>
					<div class=" radio clearfix">
						<input id="emailoptin_n" type="radio" name="00Nb0000003FNop" value="No">
						<label for="emailoptin_n">No</label>
					</div>
				</div>
				<div class="checkbox-row ">
					<h4 class=" subheading-text">By SMS</h4>
					<div class=" radio clearfix">
						<input id="smsoptin_y" type="radio" name="00Nb0000003FNor" value="Yes">
						<label for="smsoptin_y">Yes</label>
					</div>
					<div class=" radio clearfix">
						<input id="smsoptin_n" type="radio" name="00Nb0000003FNor" value="No">
						<label for="smsoptin_n">No</label>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container_12 extraspace">
		<div class="grid_6">
			<input type="submit" class="uiBtn redBtn" value="Submit">
		</div>
	</div>
</form>
<script type="text/javascript">
	FormElements.bindSelects($('#bookserviceform .select'));
    FormElements.bindCheckboxes($('#bookserviceform .checkbox'));
	$.validate({
		form: '#bookserviceform',
		modules: 'location, date, security',
		onError: function() {
			alert('Validation failed');
		},
		onSuccess: function() {
			//alert('The form is valid!');
			submitForm('#bookserviceform');
			return false; // Will stop the submission of the form
		}
	});
</script>