<?php 
global $dmodels;
$jsonstring = '{exp:json_feed:print_feed src="{external_feed_base}/page/new-cars/index.json" section="modelrange"}';
$dmodels=json_decode($jsonstring)->modelrange->items;
?>
<nav class="toyota-tabs-select container form_nav">
	<div class="container_12 clearfix">
		<div class="grid_12">
			<span class="form_nav_item tabtrigger"  data-tab="pane-contact-tab">Contact us</span>
			<span class="form_nav_item tabtrigger"  data-tab="pane-directions-tab">Get directions</span>
			<span class="form_nav_item tabtrigger"  data-tab="pane-brochure-tab">Request a brochure</span>
			<span class="form_nav_item tabtrigger"  data-tab="pane-test-drive-tab">Arrange a test drive</span>
			<span class="form_nav_item tabtrigger"  data-tab="pane-service-tab">Book a service</span>
		</div>
	</div>
</nav>

<div class="">
	<div class="" id="form_tabs">
		<div class="tabContent" id="pane-test-drive-tab">
			{embed="ajax/bookatestdrive"}
		</div>

		<div class="tabContent" id="pane-contact-tab">
			{embed="ajax/contactus"}
		</div>

		<div class="tabContent" id="pane-service-tab">
			{embed="ajax/bookaservice"}
		</div>


		<div class="tabContent" id="pane-brochure-tab">
			{embed="ajax/requestabrochure"}
		</div>

		<div class="tabContent contactform" id="pane-directions-tab">
			<div class="container_12 extraspace">
				{exp:channel:entries channel="generic_settings"}
				<div class="grid_12 details">
					<div class="detaislWrapper">
						<h5>{title}</h5>
						<ul>
							<li>Tel:<a class="btn btn-dark btn-call visible-xs" href="tel:{dealer_contact_number}">{dealer_contact_number}</a></li>
							<li>E-Mail: <a class="btn btn-dark btn-call visible-xs" href="mailto:{dealer_contact_email}">{dealer_contact_email}</a></li>
							<li>Post:</li>
							<li>{dealer_address}</li>
						</ul>
					</div>
				</div>
				{/exp:channel:entries}
			</div>
			<div class="container_12 content-block clearfix">
				<div class="container_12  ajax-content clearfix" id="getDirectionsMap"  rel="/ajax/map">
					Loading location...
				</div>
				<div class="clear"></div>
				<script type='text/javascript'>
					$(function() {
						loadMap("#getDirectionsMap");
					});
				</script>
			</div>
		</div>
	</div>
	<script type="text/javascript">


		var x = window.location.href.split("/");
		x = x[x.length - 1].split("_");
		var $currentTab = $("#" + x[x.length - 1] + "-tab");
		var $currentControl = $(".tabtrigger[data-tab='" + x[x.length - 1] + "-tab']");
		$currentControl.addClass("active");
		$currentTab.show();



		$('.tabtrigger').click(function() {
			$currentControl.removeClass("active");
			$(this).addClass("active");
			var id = $(this).data("tab");
			var $nextTab = $("#" + id);
			$currentTab.hide();
			$nextTab.show();
			$currentTab = $nextTab;
			$currentControl = $(this);
		});


		$("input.datepicker").datepicker({
			minDate: +3,
			maxDate: "+1M +20D",
			beforeShowDay: $.datepicker.noWeekends
		});



		loc=document.URL;
		if(loc.indexOf("new-car-details")!=-1){
			start=loc.indexOf("new-car-details")
			sub1=loc.substring(start+16, loc.length)
			end=sub1.indexOf("/")
			carmodel=sub1.substring(0,end);
			$('select[id=model] option[value='+carmodel+']').attr('selected','true');
			$('select[id=model]').parent().find('.value').text($('select[id=model] option[value='+carmodel+']:eq(0)').text());
		}

	</script>




