
<form action="/ajax/formsubmit?action=requestabrochure" method="POST" id="requestbrochure" class="contactform">

	<input type=hidden name="oid"				id="oid"					value="00Db0000000HWqf">
	<input type=hidden name="00Nb0000002AKoo"	id="00Nb0000002AKoo"		value="1">
	<input type=hidden name="recordType"		id="recordType"				value="012b0000000JPwH">
	<input type=hidden name="00Nb0000002AKok"	id="dealer"					value="{dealer_id}">
	<input type=hidden name="lead_source"		id="lead_source"			value="{Toyota.ie}">
	<input type=hidden name="Campaign_ID"		id="Campaign_ID"			value="701b0000000Q6zM">
	<input type=hidden name="member_status"		id="member_status"			value="sent">
	<input type=hidden name="rating"			id="rating"					value="Warm">
	<input type="hidden" name="XID" value="{XID_HASH}" />


	<div class="container_12">
		<div class="grid_12 header">
			<h2>Order or download model brochures</h2>
			<span class="intro">Choose a model that you would like a brochure from, then fill out the form below...</span>
		</div>
	</div>
	<div class="container_12 extraspace">
		<div class="grid_6">
			<h4 class="title1">Model  &nbsp;&nbsp; <i class="icon icon-car2"></i></h4>
			<div class="select">
				<div class="value"></div>
				<i class="icon icon-chevron-down"></i>
				<select name="00Nb0000002AKoc" id="model" data-validation="select">
					<option value="no_selection">...</option>					
					<?php global $dmodels;	
					 foreach ($dmodels as $model) {
					 		$model_name='';
					 		$optmodel=explode('/',$model->url);
					 		if(count($optmodel)) $model_name=$optmodel[2];
					 		if(in_array('auris-van', $optmodel))$model_name=$optmodel[1];
							echo "<option value='$model_name'>$model->title</option>";
						}
					?>
				</select>
			</div>
		</div>
	</div>


	<div class="container_12">
		<div class="grid_12 header">
			<h2>Tell us about you!</h2>
			<!--<span class="intro">Please fill out all fields marked with *</span>-->
		</div>
	</div>

	<div class="container_12">
		<div class="grid_6">
			<h4 class="title1">Salutation &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
			<div class="select">
				<div class="value"></div>
				<i class="icon icon-chevron-down"></i>
				<select name="salutation" id="salutation" data-validation="select">
					<option value="no_selection">...</option>
					<option value="Dr">Dr</option>
					<option value="Mr">Mr</option>
					<option value="Ms">Ms</option>
				</select>
			</div>
		</div>
	</div>

	<div class="container_12">
		<div class="grid_6">
			<h4 class="title1">First Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
			<input  id="first_name" maxlength="40" name="first_name"  type="text" placeholder="Name" data-validation="required"/>
		</div>
		<div class="grid_6">
			<h4 class="title1">Last Name &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
			<input  id="last_name" maxlength="80" name="last_name"  type="text" placeholder="Surname" data-validation="required"/>
		</div>
	</div>
	<div class="container_12 extraspace">
		<div class="grid_6">
			<h4 class="title1">Email &nbsp;&nbsp; <i class="icon icon-envelope-alt"></i></h4>
			<input  id="email" maxlength="80" name="email"  type="text" placeholder="your@email.com" data-validation="email"/>
		</div>
		<div class="grid_6">
			<h4 class="title1">Phone &nbsp;&nbsp; <i class="icon icon-phone"></i></h4>
			<input  id="phone" maxlength="14" name="phone"  type="text" placeholder="08 ..." data-validation="number"/>
		</div>
	</div>
	<div class="container_12">
		<div class="grid_6">
			<h4 class="title1">Receive brochure via &nbsp;&nbsp; <i class="icon icon-user"></i></h4>
			<div class="select">
				<div class="value"></div>
				<select name="00Nb0000002AKoo" id="00Nb0000002AKoo" data-validation="select">
					<option value="1">Ebrochure</option>
					<option value="0">Post</option>
				</select>
			</div>
		</div>
	</div>
	<div class="container_12  extraspace">
		<div class="grid_6 ">
			<h4 class="title1 subheading-text">Get Notifications</h4>
			<div class="check-boxes clearfix notifications">

				<div class="checkbox-row ">
					<h4 class=" subheading-text">By Letter</h4>
					<div class=" radio clearfix">
						<input id="letter_y" type="radio" name="00Nb0000003FNoq" value="Yes">
						<label for="letter_y">Yes</label>
					</div>
					<div class=" radio clearfix">
						<input id="letter_n" type="radio" name="00Nb0000003FNoq" value="No">
						<label for="letter_n">No</label>
					</div>
				</div>
				<div class="checkbox-row ">
					<h4 class=" subheading-text">By Email</h4>
					<div class=" radio clearfix">
						<input id="emailoptin_y" type="radio" name="00Nb0000003FNop" value="Yes">
						<label for="emailoptin_y">Yes</label>
					</div>
					<div class=" radio clearfix">
						<input id="emailoptin_n" type="radio" name="00Nb0000003FNop" value="No">
						<label for="emailoptin_n">No</label>
					</div>
				</div>
				<div class="checkbox-row ">
					<h4 class=" subheading-text">By SMS</h4>
					<div class=" radio clearfix">
						<input id="smsoptin_y" type="radio" name="00Nb0000003FNor" value="Yes">
						<label for="smsoptin_y">Yes</label>
					</div>
					<div class=" radio clearfix">
						<input id="smsoptin_n" type="radio" name="00Nb0000003FNor" value="No">
						<label for="smsoptin_n">No</label>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container_12 extraspace">
		<div class="grid_6">
			<input type="submit" class="uiBtn redBtn" value="Submit">
		</div>
	</div>

</form>
<script type="text/javascript">
	FormElements.bindSelects($('#requestbrochure .select'));
	FormElements.bindCheckboxes($('#requestbrochure .checkbox'));
	$.validate({
		form: '#requestbrochure',
		modules: 'location, date, security',
		onError: function() {
			alert('Validation failed');
		},
		onSuccess: function() {
			//alert('The form is valid!');
			submitForm('#requestbrochure');
			return false; // Will stop the submission of the form
		}
	});
</script>
